{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "About Sefaria" %}{% endblock %}

{% block description %}{% trans "Sefaria is a non-profit organization dedicated to building the future of Jewish learning in an open and participatory way." %}{% endblock %}

{% block css %}
    #top #languageToggle {
        display: inline;
    }
    #top #languageToggle #bilingual {
        display: none;
    }
    #aboutPage a {
        text-decoration: underline;
    }
{% endblock %}

{% block content %}
<div id="aboutPage" class="biReady container static">
    <div class="inner">
        <h1>
            <span class="int-en">About Sefaria</span>
            <span class="int-he">אודות ספריא</span>
        </h1>
        <div class="about section">

            <p class="first">
                <span class="int-en">We are the People of the Book.
                    For thousands of years, our culture, our traditions, and our values have been transmitted through our texts.
                    From an oral tradition to handwritten scrolls to a vast corpus of printed books, each new medium democratized knowledge,
                    and brought more people into the great Jewish conversation.
                    We are the generation charged with shepherding our texts from print to digital in a way that can expand their reach
                    and impact in new and unprecedented ways.
                </span>
                <span class="int-he">אנו עם הספר.
                                    במשך אלפי שנים, התרבות, המסורת והערכים שלנו מתקיימים באמצעות הטקסטים שלנו.
                                    ממסורת בעל פה דרך מגילות הכתובות בכתב יד ועד אוסף עצום של ספרים מודפסים,
                                    כל מדיום חדש הנגיש ידע וכלל יותר אנשים בשיח היהודי.
                                    אנו הדור שהופקד עליו להעביר את הטקסטים שלנו מהדפוס אל הדיגיטלי, כך שאותם טקסטים ייחשפו וישפיעו בדרכים חדשות ופורצות דרך.
                </span>
            </p>

            <p>
                <span class="int-en">Sefaria is a non-profit organization dedicated to building the future of Jewish learning in an open and participatory way.
                    We are assembling a free living library of Jewish texts and their interconnections,
                    in Hebrew and in translation.
                    With these digital texts, we can create new, interactive interfaces for Web, tablet and mobile,
                    allowing more people to engage with the textual treasures of our tradition.
                </span>
                <span class="int-he">
                    ספריא הוא מלכ"ר השואף לעיצוב עתיד הלימוד היהודי כך שיהא פתוח ושיתופי.
                    אנו בונים ספריה חיה הפתוחה לציבור הרחב של טקסטים יהודיים, בעברית ובתרגומים שונים.
                    באמצעות אותם טקסטים דיגיטליים,
                    נוכל ליצור ממשקים חדשים ואינטראקטיביים למחשב, לטאבלט ולמכשיר סלולרי, ולהנגיש את האוצרות הטקסטואליים של היהדות לאוכלוסייה רחבה יותר.
                </span>
            </p>

        </div>

        <div class="section">
            <h1>
                <span class="int-en">Sefaria's Vision</span>
                <span class="int-he">חזון</span>
            </h1>
            <h2>
                <span class="int-en">Access</span>
                <span class="int-he">נגישות</span>
            </h2>
            <p>
                <span class="int-en">For the Jewish people, our texts are our collective inheritance.
                    They belong to everyone and we want them to be available to everyone,
                    in the public domain or with free public licenses.
                    Whether it’s copying a page of text for your classroom or
                    <a href="https://github.com/Sefaria/Sefaria-Export">downloading our entire database</a> for research and new projects,
                    you’ll enjoy unfettered access to the canon.
                </span>
                <span class="int-he">
                    עבור העם היהודי,הטקסטים הם הירושה הקולקטיבית שלנו. הם שייכים לכולנו, ואנו רוצים שיהיו נגישים לכולם, להעמידם לרשות הציבור (public domain) או עם רשיונות ציבוריים ללא תשלום. בין אם מדובר בעמוד טקסט לשיעור או <a href="https://github.com/Sefaria/Sefaria-Export">בהורדה של מסד הנתונים</a> כולו עבור מחקר ופרויקטים חדשים, למשתמש תהיה גישה מלאה לאוסף כתבי הקודש.
                </span>
            </p>
            <h2>
                <span class="int-en">Infrastructure</span>
                <span class="int-he">תשתית</span>
            </h2>
            <p>
                <span class="int-en">All of our code is released under an open source license, and we offer services including a live <a href="/developers">API</a> to any project that can make use of them. We invite everyone to reuse our code and data to <a href="https://github.com/Sefaria/Sefaria-Project/wiki/Projects-Powered-by-Sefaria">build apps</a>, conduct <a href="https://scholar.google.com/scholar?q=Sefaria+and+Jewish&btnG=&hl=en&as_sdt=0%2C5">research</a> or make <a href="https://www.sefaria.org/visualizations">visualizations</a>. We believe the basic infrastructure for Jewish tech is something we should share. </span>
                <span class="int-he">כל הקוד שלנו מפורסם תחת רשיונות open source, ואנו מציעים שירותים כולל live <a href="/developers">API</a> לכל פרויקט שעשוי לעשות שימוש בהם. אנו מזמינים את כל המשתמשים להשתמש בקוד ובנתונים שלנו כדי <a href="https://github.com/Sefaria/Sefaria-Project/wiki/Projects-Powered-by-Sefaria">לבנות אפליקציות</a>, לנהל <a href="https://scholar.google.com/scholar?q=Sefaria+and+Jewish&btnG=&hl=en&as_sdt=0%2C5">מחקרים</a> או ליצור <a href="https://www.sefaria.org/visualizations">אינפוגרפיקה</a> (visualizations). אנו מאמינים שעלינו לחלוק עם הציבור את התשתית הבסיסית לטכנולוגיה יהודית.
                </span>
            </p>
            <h2>
                <span class="int-en">Education</span>
                <span class="int-he">חינוך</span>
            </h2>
            <p>
                <span class="int-en">Sefaria is not merely an archive for preserving Jewish texts; it is a platform meant to give these texts new life. Accordingly, all of our product development efforts are designed to make Sefaria into a better learning and teaching tool. Sefaria is committed to working in partnership with educators to explore and develop the frontiers of Jewish educational technology.</span>
                <span class="int-he">ספריא אינו רק ארכיון לשימור טקסטים יהודיים; אנו מספקים פלטפורמה המיועדת להפיח באותם טקסטים חיים חדשים. על כן, אנו משקיעים בפיתוחים שיהפכו את ספריא לכלי למידה והוראה טוב יותר. ספריא מחויבים לעבודה בשותפות עם מחנכים כדי לבחון, לפתח ולהרחיב את גבולותיה של טכנולוגיה יהודית חינוכית.</span>
            </p>
            <h2>
                <span class="int-en">Conversation</span>
                <span class="int-he">שיח</span>
            </h2>
            <p>
                <span class="int-en">Judaism's core texts grew out of millennia-long conversations and arguments across generations. More than a collection of books on a shelf, the Jewish canon is a giant corpus of interconnected texts that speak to each other. Sefaria is making it easier than ever to explore the conversations of the past, while also creating a space for ancient conversations to continue in new ways, with new participants, new questions, and new layers of dialogue. Stay tuned.</span>
                <span class="int-he">טקסטי הליבה של היהדות צמחו מתוך שיח של אלפי שנים לאורך הדורות. הקנון היהודי הוא יותר מאוסף ספרים על המדף; הוא קובץ עצום של טקסטים מחוברים המדברים זה עם זה. ספריא עוזרים לבחון את שיחות העבר, תוך כדי יצירת מקום לשיחות עתיקות להמשיך לכיוונים חדשים, עם משתתפים חדשים, עם שאלות חדשות ועם רבדים חדשים של דיאלוג. הישארו עמנו.</span>
            </p>
        </div>

        <div class="section">
            <h1>
                <span class="int-en">History</span>
                <span class="int-he">היסטוריה</span>
            </h1>

            <h2 class="year first sans">2011</h2>
            <div class="historyItem">
                <span class="int-en">Best-selling author Joshua Foer and Google alum Brett Lockspeiser develop the initial concept for Sefaria.</span>
                <span class="int-he">סופר רב-המכר ג'ושוע פואר ומנהל מוצר לשעבר בגוגל ברט לוקשפייזר הוגים את פרוייקט ספריא.</span>
            </div>

            <h2 class="year sans">2012</h2>
            <div class="historyItem">
                <span class="int-en">Foer and Lockspeiser quietly release a beta version of the site.</span>
                <span class="int-he">פואר ולוקשפייזר משיקים גרסת בטא של האתר בשקט.</span>
            </div>
            
            <h2 class="year sans">2013</h2>
            <div class="historyItem">
                <span class="int-en">
                    Tech investor <a href="https://en.wikipedia.org/wiki/Mo_Koyfman" target="_blank">Mo Koyfman</a> joins the co-founders to form Sefaria’s Board of Directors. Together they secure crucial early funding from the Natan Fund, <a href="/henry-and-julia-koschitzky-apps">Jonathan and Tamar Koschitzky</a>, and the Jim Joseph Foundation.
                </span>
                <span class="int-he"> המשקיע בטכנולוגיה <a href="https://en.wikipedia.org/wiki/Mo_Koyfman" target="_blank">מו קויפמן</a> מצטרף למייסדים כדי להקים את מועצת המנהלים של ספריא. ביחד, זוכים למימון ראשוני וקריטי מקרן נתן, <a href="/henry-and-julia-koschitzky-apps">ג'ונתן ותמר קושיצקי</a>
                    , וקרן ג'ים ג'וזף.</span>
            </div>
            <div class="historyItem">
                <span class="int-en">Sefaria incorporates as a non-profit and hires its first employee – who remains at the company to this day!</span>
                <span class="int-he">ספריא הופכת למלכ"ר ומגייסת את העובד הראשון שלה -- אשר ממשיך לעבוד אצלנו עד היום!</span>
            </div>
            <div class="historyItem">
                <span class="int-en">The Sefaria library grows to 8.5 million words.</span>
                <span class="int-he">עד כה, ספריית ספריא מכילה 8.5 מיליון מילים.</span>
            </div>

            <h2 class="year sans">2014</h2>
            <div class="historyItem">
                <span class="int-en">Sefaria’s engineers stretch the limits of what digital Torah can do by pioneering the first <a href="/explore?lang=en">data visualization tool</a> showcasing connections between Tanakh and Talmud.</span>
                <span class="int-he">
                    מהנדסי ספריא מותחים את הגבולות הקיימים של התורה אונליין, ומשיקים את  <a href="/explore?lang=en">האינפוגרף</a> הראשון מסוגו בעולם, כדי להמחיש את הקשרים שבין התנ"ך לבין התלמוד.
                </span>
            </div>
            <div class="historyItem">
                <span class="int-en">Users create 6,000 source sheets using Sefaria’s Source Sheet Builder.</span>
                <span class="int-he">עד כה, המשתמשים של אתר ספריא יוצרים יותר מ-6,000 דפי מקורות ייחודים.</span>
            </div>
            <div class="historyItem">
                <span class="int-en">Sefaria launches its Day School Partnership Initiative with a cohort of four schools.</span>
                <span class="int-he">ספריא משיקה את מיזם השותפות עם בתי ספר, עם ארבעה בתי ספר במחזור הראשון.</span>
            </div>
            
            <h2 class="year sans">2015</h2>
            <div class="historyItem">
                <span class="int-en">Sefaria makes its <a href="https://blog.sefaria.org/2015/02/11/sefaria-and-urim-publications-strike-unprecedented/">first deal</a> with a major Jewish publisher to digitize and release translations into the public domain.</span>
                <span class="int-he">ספריא חותמת על <a href="https://blog.sefaria.org/2015/02/11/sefaria-and-urim-publications-strike-unprecedented/">הסכם ראשון</a> עם מו''ל יהודי מרכזי, כדי לספרת ולהוציא לאור תרגומים לרשות הציבור.</span>
            </div>
            <div class="historyItem">
                <span class="int-en">Using Sefaria’s database and API, independent developers around the world create 12 third-party <a href="https://github.com/Sefaria/Sefaria-Project/wiki/Projects-Powered-by-Sefaria">apps</a>.</span>
                <span class="int-he">12 <a href="https://github.com/Sefaria/Sefaria-Project/wiki/Projects-Powered-by-Sefaria">אפליקציות</a> חיצוניות מפותחות על בסיס מסד הנתונים וה-API של ספריא.</span>
            </div>
            <div class="historyItem">
                <span class="int-en">The Sefaria library grows to include 50 million words.</span>
                <span class="int-he">עד כה, ספריית ספריא כוללת 50 מיליון מילים.</span>
            </div>

            <h2 class="year sans">2016</h2>
            <div class="historyItem">
                <span class="int-en"><a href="/team">Sefaria’s professional team</a> now spans the globe, including more than a dozen people across eight cities in North America and Israel.</span>
                <span class="int-he">
                <a href="/team">הצוות המקצועי של ספריא</a> מקיף את הגלובוס עם העסקתם של יותר מעשרה אנשים בשמונה ערים בצפון אמריקה ובישראל.
                </span>
            </div>
            <div class="historyItem">
                <span class="int-en">Sefaria releases a complete, bilingual version of <a href="/texts/Tanach/Commentary/Rashi">Rashi’s Torah commentary</a>.</span>
                <span class="int-he">
                    ספריא משיקה גרסא דו-לשונית ושלמה של <a href="/texts/Tanach/Commentary/Rashi">פירוש רש"י</a> על התורה.
                </span>
            </div>
            <div class="historyItem">
                <span class="int-en">Sefaria puts the Torah in users’ pockets with its first mobile apps for <a href="https://play.google.com/store/apps/details?id=org.sefaria.sefaria" target="_blank">Android</a> and <a href="https://itunes.apple.com/us/app/sefaria/id1163273965?ls=1&mt=8" target="_blank">iOS</a>.</span>
                <span class="int-he">ספריא מכניסה את התורה לתוך הכיסים של כולם, עם השקתה של האפליקציה <a href="https://play.google.com/store/apps/details?id=org.sefaria.sefaria" target="_blank">לאנדרואיד</a> <a href="https://itunes.apple.com/us/app/sefaria/id1163273965?ls=1&mt=8" target="_blank">ול-iOS.</a></span>
            </div>
            <div class="historyItem">
                <span class="int-en">Sefaria reaches 50,000 unique visitors in a 30-day period.</span>
                <span class="int-he">לראשונה, גולשים לאתר ספריא 50,000 מבקרים ייחודיים תוך תקופה של 30 יום.</span>
            </div>

            <h2 class="year sans">2017</h2>
            <div class="historyItem">
                <span class="int-en">
                    Sefaria makes history by releasing <a href="/william-davidson-talmud">The William Davidson Talmud</a>, including Rabbi Adin Steinsaltz Even-Israel's English and Modern Hebrew translations.</span>
                <span class="int-he">ספריא מנגישה את <a href="/william-davidson-talmud">התלמוד במהדורת ויליאם דוידסון</a>, העתידה לכלול את פירושו של הרב עדין שטינזלץ אבן-ישראל בעברית ובאנגלית, תחת הרשיון הפתוח , אשר כולל את פירושו של הרב עדין שטיינזלץ אבן-ישראל בעברית ובאנגלית.</span>
            </div>
            <div class="historyItem">
                <span class="int-en">Sefaria launches sefaria.org.il, a website for Israelis and native Hebrew speakers.</span>
                <span class="int-he">ספריא משיקה sefaria.org.il, אתר אינטרנט שמיועד לישראלים ודוברי עברית.</span>
            </div>
            <div class="historyItem">
                <span class="int-en">Sefaria doubles one of its key milestones within a single year, reaching 100,000 unique visitors in a 30-day period.</span>
                <span class="int-he">ספריא מכפילה את אחת מאבני דרכה בתוך שנה, ומקבלת 100,000 מבקרים יחודיים בחודש.</span>
            </div>
            
            <h2 class="year sans">2018</h2>
            <div class="historyItem">
                <span class="int-en">More than 1 million users hailing from almost every country in the world visit Sefaria’s library in a single year.</span>
                <span class="int-he">בתוך שנה אחת, מעל מיליון משתמשים מכמעט כל המדינות בעולם מבקרים את הספרייה של ספריא.</span>
            </div>
            <div class="historyItem">
                <span class="int-en">Sefaria launches two pilot programs in Israel with the Ministry of Education.</span>
                <span class="int-he">ספריא משיקה שתי תכניות ניסוי בישראל בשיתוף פעולה עם משרד החינוך.</span>
            </div>
            <div class="historyItem">
                <span class="int-en">Sefaria’s library grows to 183 million words: 143 million in Hebrew and 40 million in English translation.</span>
                <span class="int-he">עד כה, הספרייה של ספריא מכילה 183 מיליון מילים, מתוכן 143 בעברית ו 40 בתרגום לאנגלית.</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}
