{% extends "base.html" %}
{% load i18n %}

{% block title %}Rabbi Adin Even-Israel Steinsaltz{% endblock %}

{% block css %}
	#steinsaltz p {
		margin-bottom: 20px;
	}
	.interface-hebrew #steinsaltz img {
		float: right;
		margin: 0 0 20px 20px;
	}

	.interface-english #steinsaltz img {
		float: left;
		margin: 0 20px 20px 0;
	}
{% endblock %}

{% block content %}

<div id="steinsaltz" class="container static biReady">
    <div class="inner"> 


<h1>
	<span class="int-en">Rabbi Adin Even-Israel Steinsaltz</span>
	<span class="int-he">הרב עדין אבן־ישראל שטיינזלץ</span>
</h1>

<div class="int-en">

<img src="http://www.hashefa.co.il/sysvault/docsfiles1026/cd5a1a983c-db29-49cd-914d-a20af3fc03f9.jpg" />

<p>Towering scholar, teacher, philosopher, mystic, scientist, social critic and prolific author, Rabbi Adin Even-Israel Steinsaltz  is internationally regarded as one of the leading rabbis of the 20th/21st centuries. Rabbi Steinsaltz has taken the study of the Talmud out from behind closed doors and given it to all of us through his monumental work of translation and commentary on the <a target="_blank" href="http://www.hashefa.com/document/68428,0,1.aspx">Talmud</a>. 
 
<p>Continuing his work as a teacher and spiritual mentor, Rabbi Steinsaltz established a network of schools and educational institutions in Israel. In 1988 he was invited to open a Judaic Studies Center in Moscow, the first such institution in sixty years, and to supervise the inventory and replication of the Soviet Union's vast libraries and archives of Judaica. In the same year, Rabbi Steinsaltz was awarded the Israel Prize, Israel's highest honor, in recognition of his lifelong achievements in Jewish education. 
 
<p>The Rabbi has authored some sixty <a targer="_blank" href="http://www.hashefa.com/home/doc.aspx?mCatID=68372">books</a>, including his new widely acclaimed book on the Lubavichter Rebbe "My Rebbe" and he has written hundreds of <a target="_blank" href="http://www.hashefa.com/home/doc.aspx?mCatID=68397">articles</a> on varied subjects ranging from theology and Jewish practice, through a celebrated work of mystical thought (<a target="_blank" href="http://www.korenpub.com/EN/products/Steinsaltz/4/9781592643011">The Thirteen Petalled Rose</a>), to zoology and social commentary. Rabbi Steinsaltz presides over several educational institutions.
 
<p>He is a renowned speaker who is sought after by numerous institutes around the world, to impart and share his knowledge and teachings.
 
<p>Born in Jerusalem in 1937 to secular parents, Rabbi Steinsaltz studied physics and chemistry at the Hebrew University. At the age of 24, he became the youngest school principal in Israel. Rabbi Steinsaltz extraordinary resume includes his having been a resident scholar at Yale University, the Institute for Advanced Studies at Princeton and the Woodrow Wilson Center for International Studies in Washington, D.C. His honorary degrees include doctorates from Ben Gurion University of the Negev, Bar Ilan University, Brandeis University, Yeshiva University and Florida International University. 
 
<p>Rabbi Steinsaltz has been hailed by Time magazine as a "once-in-a-millennium scholar". He has devoted his life to making the Talmud accessible to all and promoting Jewish knowledge. 
To learn more about the Rabbi and his work visit <a target="_blank" href="http://steinsaltz.org/About_Aleph.php">Aleph Society</a>.</p>

<p>Shefa was founded in 1975 as the umbrella organization of all the Rabbi's operations and to promote the endeavor of "Let my people know".

<p>Thanks to a generous gift from the William Davidson Foundation, Rabbi Steinsaltz's translstion of the Talmud is <a href="/texts/Talmud">available for free on Sefaria</a>.</p>
</div>



<div class="int-he">

<img src="http://www.hashefa.co.il/sysvault/docsfiles1026/cd5a1a983c-db29-49cd-914d-a20af3fc03f9.jpg" />

<p>הרב נולד בשנת תרצ"ז (1937) בירושלים.</p>

<p>מרבית שנות ילדותו והתבגרותו עברו עליו בשכונת קטמון הישנה, בן יחיד בבית ספוג אידיאלים אך רחוק משמירת מצוות. בשכונה זו התוודע גם לחלק מן הדמויות שטבעו בו את חותמן: הרב אברהם חן והרב דב אליעזרוב ז"ל.</p>
                              
<p>בשנות לימודיו בתיכון, כמו גם בעת לימודי הכימיה והפיזיקה באוניברסיטה העברית בירושלים, הקדיש את מרבית זמנו ללימודי יהדות, בנגלה ובנסתר. בשנים אלה הכיר את הרב שמריהו ששונקין והרב שלמה זוין ז"ל, ובילה במחיצתם שעות רבות. בהשפעתם, למד למשך תקופה קצרה בישיבת חב"ד בלוד.</p>
                   
<p>בשנים הבאות עסק הרב במגוון תחומים. החל בכתיבה בכתבי עת שונים, במסירת הרצאות ושיעורים וכלה בפעילות חינוכית עם בני נוער. בגיל 24, היה למנהל התיכון הצעיר ביותר בארץ. בשנת 1965 נישא הרב לרעייתו שרה. כיום הוא אב לשלושה וסב לחמשה עשר. באותה שנה, הקים הרב בירושלים את "המכון הישראלי לפרסומים תלמודיים" והחל להתמסר למה שנודע כמפעל חייו: <a target="_blank" href="http://www.hashefa.co.il/home/doc.aspx?mCatID=62910">תרגום וביאור התלמוד הבבלי</a>.</p>
                                
<p>אוצר הידע והרוח של העם היהודי:<br>
התרגום המדויק, הביאור בעברית מודרנית וקולחת, יחד עם תרשימים ותמונות, הסברים ומבואות, מידע ביוגרפי על חכמי התלמוד, עיונים ומפתחות מפורטים – כל אלה, הפכו את התלמוד לפתוח ונגיש עבור הקהל הרחב, קהל תאב ידע שלא יכול היה עד אז לגשת ולפתוח את דלתות התלמוד.</p>
                                           
<p>ספרי התלמוד, הנודעים כ"תלמוד שטיינזלץ", תורגמו לשפות אירופאיות רבות והם תופסים מקום מרכזי הן בארון הספרים היהודי המודרני והן בעולם הידע האקדמי. עד כה פורסמו כ-40 כרכים של פירוש התלמוד. משימת הפירוש, שארכה כ-45 שנה, צפויה להסתיים בסוף שנת 2010.</p>
                                        
<p>יחד עם העיסוק האינטנסיבי בביאור התלמוד, כתב הרב כששים <a target="_blank" href="http://www.hashefa.co.il/home/doc.aspx?mCatID=29911">ספרים נוספים</a>. ספריו חובקים תחומים רבים ומגוונים בעולם הידע היהודי. ביאורים בתורת הנסתר והחסידות (ביניהם : מבוא לתורת הסוד – <a target="_blank" href="http://www.hashefa.co.il/home/artdetails.aspx?mCatID=29911&artID=6028">"שלושה עשר עלי השושנה"</a> ופרשנות לספר היסוד של חב"ד –<a target="_blank" href="http://www.hashefa.co.il/home/artdetails.aspx?mCatID=29911&artID=5587">"ביאור התניא"</a>), ספרי מבוא והדרכה לתלמוד ("המבוא לתלמוד" ו<a target="_blank" href="http://www.hashefa.co.il/home/artdetails.aspx?mCatID=29911&artID=7973">המדריך לתלמוד"</a>), פרשנות והגות, עיון ופילוסופיה.</p>
                                               
<p>ספריו של הרב תורגמו לשפות רבות: אנגלית, צרפתית, רוסית וספרדית כמו גם איטלקית, גרמנית, פורטוגזית ואפילו סינית. בשנת 1991 שינה הרב את שם משפחתו ל"אבן ישראל" בהכוונתו של הרבי מליובאוויטש זצ"ל. במרוצת השנים הקים הרב מוסדות רבים, ביניהם:</p>
                              
<p>מוסדות "מקור חיים" בירושלים: מוסדות חינוך לגילאי חטיבת הביניים והתיכון, המלמדים תורה ולימודים כלליים ברוח השקפת העולם החינוכית של הרב.</p>
                                  
<p>רשת מוסדות חינוך עבור הקהילה היהודית ברוסיה, ביניהם הישיבה הראשונה שהוכרה על ידי השלטונות (עוד בשנת 1989 טרם נפילת ברית המועצות), אוניברסיטה יהודית ובית ספר למורות וגננות.</p>
                                         
<p>ישיבה גבוהה בישוב תקוע (נוסדה ב-1999) שתלמידיה ובוגריה עסוקים בפעילות ציבורית ובמעורבות קהילתית בארץ ובתפוצות.</p>
                               
<p>"מרכז שטיינזלץ לידע יהודי" שהוקם ב-2006 בירושלים, המאגד תחת קורת גג אחת את מרכז החינוך בו מועברות הרצאות וסדנאות על ידי הרב ותלמידיו, את"המכון הישראלי לפרסומים  תלמודיים" ואת פעילות ההנהלה של מוסדות הרב.</p>
                          
<p>הרב ופעילותו מהווים השראה ליהודים ושאינם יהודים ברחבי העולם, אלו הקימו בשנת 2002 את עמותת "אלף"הפועלת בארה"ב, בריטניה, אוסטרליה וישראל, ועוסקת בתמיכה במוסדות הרב ובהפצת תורתו.</p>
                     
<p>גם הממסד בארץ ובעולם גילה הערכה והוקרה רבה לרב ולפועלו. הרב זכה בפרסים ותארי כבוד רבים, ביניהם:</p>
                             
<p>פרס ישראל על מפעל חיים (1988), פרס הנשיא וראש הממשלה לזכר זלמן שז"ר (2002), תארי ד"ר כבוד מהאוניברסיטאות "בר אילן" ו"בן גוריון"בארץ, ומאוניברסיטאות "ישיבה יוניברסיטי", ברנדייס ופלורידה בארה"ב.</p>
                             
<p>הרב ממשיך למסור שיעורים רבים והרצאות ברחבי העולם. מאמריו וספריו ממשיכים לצאת ולהתפרסם כל העת בשפות נוספות. בשנים האחרונות מפרסם הרב דברי הגות קצרים בבלוג משלו, עונה לשאלות מרחבי העולם באמצעות האינטרנט,ואינו מפסיק לתור אחר דרכים והזדמנויות חדשות להפיץ את חכמת היהדות לקהלים רחב.</p>
</div>

	</div>

</div>

{% endblock %}