<!DOCTYPE html>
<html>
<head>
    <title>Sefaria Annual Report 2021</title>
    <meta charset="utf-8"/>
    <style type="text/css">
        body, html
        {
            margin: 0; padding: 0; height: 100%; overflow: hidden;
        }

        #content
        {
            position:absolute; left: 0; right: 0; bottom: 0; top: 0px;
        }
    </style>
</head>
<body>
    <iframe style="border: 1px solid #777;" src="https://indd.adobe.com/embed/98a016a2-c4d1-4f06-97fa-ed8876de88cf?startpage=1&allowFullscreen=true" width="100%" height="100%" frameborder="0" allowfullscreen=""></iframe>
</body>
</html>