{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Sefaria App" %}{% endblock %}

{% block description %}{% trans "Download the free Sefaria App for iOS and Android." %}{% endblock %}

{% block css %}

{% endblock %}

{% block content %}
<div id="mobilePage" class="static">
    <div id="mobilePageHeader">
        <div class="sectionInner sectionRegular flexContainer flexReverse">
            <div id="mobilePageHeaderImage" class="sectionInner">
                <img id="mobilePageHeaderPhoneImage" src="{% static "img/mobile-landing-page/headerphone.png" %}" alt="Sefaria app on Phone">
                <img id="mobilePageHeaderTabletImage" src="{% static "img/mobile-landing-page/tablet.png" %}" alt="Sefaria app on Tablet" />
            </div>
            <div id="mobilePageHeaderText" class="">
                <h1>
                    <span class="int-en">The Sefaria App</span>
                    <span class="int-he">The Sefaria App</span>
                </h1>
                <h2>
                    <span class="int-en">The Jewish library-- </span>
                    <span class="int-he">The Jewish library-- </span>
                </h2>
                <h2>
                    <span class="int-en">Free, anywhere, anytime. </span>
                    <span class="int-he">Free, anywhere, anytime. </span>
                </h2>
                <div id="mobilePageHeaderButtons">
                    <a class="button flexContainer">
                        <img class="button-icon ios" src="{% static "img/mobile-landing-page/apple.png" %}">
                        <span class="int-en">Download for iOS</span>
                        <span class="int-he">Download for iOS</span>
                    </a>
                    <a class="button flexContainer">
                        <img class="button-icon android" src="{% static "img/mobile-landing-page/googleplay.png" %}">
                        <span class="int-en">Download for Android</span>
                        <span class="int-he">Download for Android</span>
                    </a>
                </div>
            </div>
            
        </div>
    </div>

    <div id="mobileDescription">
        <div class="sectionInner">
            <p>
                <span class="int-en">
                    Explore Sefaria's entire free library of Jewish texts in Hebrew and English translation — Torah, Talmud, Mishnah, Kabbalah, Siddur and more.
                    Discover 3,000 years of texts with all of their links, interconnections, and commentaries.
                    Download the entire library to learn offline, anywhere, anytime.
                </span>
                <span class="int-he">
                    Explore Sefaria's entire free library of Jewish texts in Hebrew and English translation — Torah, Talmud, Mishnah, Kabbalah, Siddur and more.
                    Discover 3,000 years of texts with all of their links, interconnections, and commentaries.
                    Download the entire library to learn offline, anywhere, anytime.
                </span>
            </p>
        </div>
    </div>

    <div class="colorLine"></div>

    <div id="mobileTestimonials">
        <div class="sectionInner flexContainer">
            <div id="mobileSiddur">
                <img class="mobileTestimonialImage" src="{% static "img/mobile-landing-page/siddur.png" %}">
                <h3 class="mobileTestimonialHeader">
                    <span class="int-en">Always have a siddur In your pocket</span>
                    <span class="int-he">Always have a siddur In your pocket</span>
                </h3>
                <div>
                    <p class="mobileTestimonial">
                        “I can look up anything in an easy format.
                        You never know when you might need to find a prayer or a passage,
                        and it's all sitting there on my phone.”
                    </p>
                    <span class="mobileTestimonialAtrtibution">-Jessica L, User</span>
                </div>
            </div>
            <div id="mobileEducate">
                <img class="mobileTestimonialImage" src="{% static "img/mobile-landing-page/educate.png" %}">
                <h3 class="mobileTestimonialHeader">
                    <span class="int-en">Look up education resources on-the-go</span>
                    <span class="int-he">Look up education resources on-the-go</span>
                </h3>
                <div>
                    <p class="mobileTestimonial">
                        “I use Sefaria all the time - prepping for class,
                        learning on the go, in the middle of a conversation and want to find a source.
                        It has been an amazing tool in my life.”
                    </p>
                    <span class="mobileTestimonialAtrtibution">-Jaclyn S, Educator</span>
                </div>
            </div>
            <div id="mobileCommute">
                <img class="mobileTestimonialImage" src="{% static "img/mobile-landing-page/commute.png" %}">
                <h3 class="mobileTestimonialHeader">
                    <span class="int-en">Learn on your commute</span>
                    <span class="int-he">Learn on your commute</span>
                </h3>
                <div>
                    <p class="mobileTestimonial">
                        “I am constantly on the app during my NYC subway commute,
                        whether I'm reviewing texts for class, reading the day's 929 chapter,
                        or studying parshat hashavua.”
                    </p>
                    <span class="mobileTestimonialAtrtibution">-Vanessa H, Rabbinical Student</span>
                </div>
            </div>

        </div>
    </div>
    <div id="mobileExamples">
        <div class="sectionInner">
            <div id="mobileExampleCalendar" class="example flexContainer">
                <div class="mobileExampleText">
                    <h3 class="mobileExampleHeader">
                        <span class="int-en">Calendar</span>
                        <span class="int-he">Calendar</span>
                    </h3>
                    <p>
                        Check the daily calendar to find current readings for the weekly Torah portion, Daf Yomi, 929, and more.
                    </p>
                </div>
                <div class="mobileExampleImage">
                    <img class="button-icon" src="{% static "img/mobile-landing-page/calmock.png" %}">
                </div>
            </div>
            <div id="mobileExampleCommentaries" class="example flexContainer">
                                <div class="mobileExampleText">
                    <h3 class="mobileExampleHeader">
                        <span class="int-en">Commentaries</span>
                        <span class="int-he">Commentaries</span>
                    </h3>
                    <p>
                        Learn with a variety of commentaries and explore the interconnections between texts.
                        Torah commentaries include Rashi, Ibn Ezra, Ramban, Sforno, Abarbanel, and more.
                        Talmud Bavli commentaries include Rashi, Tosafot, Rashba, Rosh, and more.
                    </p>
                </div>
                <div class="mobileExampleImage">
                    <img class="button-icon" src="{% static "img/mobile-landing-page/commmock.png" %}">
                </div>
            </div>
            <div id="mobileExampleSearch" class="example flexContainer">
                                <div class="mobileExampleText">
                    <h3 class="mobileExampleHeader">
                        <span class="int-en">Search</span>
                        <span class="int-he">Search</span>
                    </h3>
                    <p>
                        Use the search tool to find topics, words, and phrases in both Hebrew and English.
                        Filter your search by book, category, or relevance.
                        Search results include primary sources and user-created source sheets.
                    </p>
                </div>
                <div class="mobileExampleImage">
                    <img class="button-icon" src="{% static "img/mobile-landing-page/searchmock.png" %}">
                </div>
            </div>
            <div id="mobileExampleSheets" class="example flexContainer">
                                <div class="mobileExampleText">
                    <h3 class="mobileExampleHeader">
                        <span class="int-en">Source Sheets</span>
                        <span class="int-he">Source Sheets</span>
                    </h3>
                    <p>
                        Explore thousands of user-created source sheets by topic or search directly for your favorite contributor.
                    </p>
                </div>
                <div class="mobileExampleImage">
                    <img class="button-icon" src="{% static "img/mobile-landing-page/sheetsmock.png" %}">
                </div>
            </div>
        </div>
    </div>
    <div id="mobileUpdate">
        <div class="sectionInner flexContainer">
            <div class="mobileUpdateText">
                <span class="mobileUpdateVersion">
                    <span>New in Version 5.4.0</span>
                </span>
                <h3 class="mobileUpdateTitle">
                    <span>Introducing: account Login on the app</span>
                </h3>
                <p class="mobileUpdateDescription">
                    <span>
                        You can now log into your Sefaria account on the mobile app to sync your reading history and saved texts on your mobile device.
                    </span>
                </p>
            </div>
            <div id="mobileUpdateImage">
                <img class="button-icon" src="{% static "img/mobile-landing-page/history.png" %}">
            </div>

        </div>
    </div>
    <div id="mobileDownloadLinks">
        <div class="sectionInner">
            <h3 class="mobileDownloadHeader">
                <span>Download the app and start exploring today</span>
            </h3>
            <div class="mobileDownloadButtons flexContainer">
                <a class="button flexContainer">
                    <img class="button-icon" src="{% static "img/mobile-landing-page/apple.png" %}">
                    <span class="int-en">Download for iOS</span>
                    <span class="int-he">Download for iOS</span>
                </a>
                <a class="button flexContainer">
                    <img class="button-icon" src="{% static "img/mobile-landing-page/googleplay.png" %}">
                    <span class="int-en">Download for Android</span>
                    <span class="int-he">Download for Android</span>
                </a>
            </div>
        </div>
    </div>
    <div id="mobileNewsletterSocial">
        <div class="sectionInner">
            <h3 class="mobileNewsletterHeader">
                <span>
                    Sign up to receive the latest updates
                </span>
            </h3>
            <div class="newsletterSignUpBox">
                <span class="int-en">
                    <input class="newsletterInput" placeholder="Sign up for our Newsletter" value="">
                </span>
                <!---<span class="int-he">
                    <input class="newsletterInput" placeholder="הצטרפו לרשימת התפוצה" value="">
                </span>--->
                <img src="/static/img/circled-arrow-right.svg">
            </div>
            <div class="mobileSocialLinks flexContainer">
                <a>Facebook</a>
                <span class="dot">•</span>
                <a>Twitter</a>
                <span class="dot">•</span>
                <a>Instagram</a>
            </div>
            <div id="mobilePageNonProfit">
                <p>
                    Sefaria is a 501(c)3 non-profit organization that creates open source software and publishes digital texts with open licenses.
                </p>
            </div>
        </div>
    </div>


</div>

{% endblock %}
