{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Beit Midrash on Sefaria" %}{% endblock %}

{% block description %}{% trans "Who is learning on Sefaria" %}{% endblock %}

{% block css %}

html, body, #staticContentWrapper, #content {
  height: 100%;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

{% endblock %}

{% block bodyclasses %}nochrome{% endblock %}
{% block content %}


<div>
<h1>People Learning</h1>
</div>
<div id="people-learning">

</div>

<script src="//{{ rtc_server }}/socket.io/socket.io.js"></script>
<script src="/beit-midrash.js"></script>

{% endblock %}