{% extends "base.html"%}
{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
 <meta charset="utf-8"/>
    <meta name="description" property="og:description" content="{{description}}"/>
<script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<style>
  #categorizer {
  max-width: 100%;
  width: 258px;
  order: 0;
  flex: 0 0 auto;
  align-self: auto;
  border: 0;

} 



a {
  color: #666666;
}

#container {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: flex-start;
    }

#iframeContainer {
    order: 0;
    flex: 1 1 auto;
    align-self: stretch;

        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

iframe.sheet {
  width:100%
}
</style>
</head>
<body>

{% comment %}
{% block css %}

html, body, .wrapper, #content {
  height: 100%;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

#s2 {
    display: none;
}
 {% endcomment %}

{% comment %} html, body, .wrapper, #content {
  height: 100%;
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
}

body.hasBannerMessage {
  padding-top: 0;
}

#s2 {
  display: none;
}

video {
  max-width: 100%;
  width: 258px;
  order: 0;
  flex: 0 0 auto;
  align-self: auto;
  border: 0;

} {% endcomment %}



    {% comment %} #chevrutaName {
      margin: -30px 5px 20px;
      padding: 5px;
      border-radius: 10px;
      z-index: 1;
      background: rgba(0,0,0,.3);
      color: white;
      align-self: flex-start;
      font-size: 13px;
      display: none;
    }

    #muteButtonHolder {
      height:0;
      width: 258px;
      text-align: right;
    }

    .muteButton {
      position: absolute;
      width: 30px;
      height: 30px;
      border-radius: 15px;
      z-index: 1;
      background-color: #EDEDEC;
      opacity: 0.5;
      left: -5px;
      top: -3px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    }

    #micIcon {
      display: inline-block;
      position: relative;
      background-image: url("/static/img/unmute.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 1;
      width: 20px;
      height: 20px;
      top: -40px;
      right: 20px;

    }

    .muted #micIcon {
      background-image: url("/static/img/mute.svg");
    }
    .muted .muteButton {
      background-color: #CB6158;
    } {% endcomment %}



{% comment %} button {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border-radius: 6px;
  width: 208px;
  height: 39px;
  order: 0;
  flex: 0 0 auto;
  align-self: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;

  color: #666666;

  margin: 9px 0px;

}

#reportUser {
  color: #c82333;
}

a {
  text-decoration: underline;

}

#chavrutaURL {
  width: 186px;

background: #FBFBFA;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
border-radius: 6px;
border: none;

padding: 15px 11px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
color: #666;


}

.chavrutaFooter {
  position: absolute;
  bottom: 15px;
} {% endcomment %}

{% comment %} {% endblock %} {% endcomment %}

{% block bodyclasses %}nochrome{% endblock %}
{% block content %}
    <div id="content"></div>
{% endblock %}

{% block js  %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script type="text/javascript" src="{% static 'js/lib/jquery.easing.1.3.js' %}"></script>
<script src="{% static 'js/lib/jquery.tooltipster.min.js' %}"></script>
<script src="{% static 'js/lib/jquery.tag-it.min.js' %}"></script>
<script src="{% static 'js/s1/util.js' %}"></script>
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'ckeditor/adapters/jquery.js' %}"></script>
{% comment %} <script src="{% static 'js/sheets.js' %}"></script> {% endcomment %}
<div id="output"></div>
<!-- Load Babel -->

<!-- Your custom script here -->
<script src="{% static 'js/categorize_sheets.jsx'%}" type="text/babel" data-presets="es2015,react">
  
</script>
{% comment %} <script type="text/jsx" src="{% static 'js/categorize_sheets.jsx'%}"></script> {% endcomment %}
{% comment %} <script type="text/babel" data-plugins="transform-es2015-modules-umd"> {% endcomment %}
{% comment %} import React from 'react'; {% endcomment %}
{% comment %} 
class App extends Component {
  render() {
    return (
      <div className='app'>
        <p>Scotch School rocks!</p>
      </div>
    );
  }
}

ReactDOM.render(<App />, document.getElementById('categorizer')); {% endcomment %}
</script>
{% comment %} <script type="text/jsx" data-plugins="syntax-jsx,transform-react-jsx,transform-react-display-name">

import "core-js/stable";
import "regenerator-runtime/runtime";
import $  from 'jquery';
import React  from 'react';
import ReactDOM  from 'react-dom';
import Sefaria  from './sefaria/sefaria';
import extend  from 'extend';
import PropTypes  from 'prop-types';
import DjangoCSRF  from './lib/django-csrf';
import DiffMatchPatch  from 'diff-match-patch';
import Component from 'react-class'; 
abc= document.getElementById('categorizer');
class SheetCategorizer extends Component {
    constructor(props) {
    console.log('hi')

        super(props);
    }
     componentWillMount() {
    return true;
  }

    render() {
    return(
        <div>React Works!</div>
    );
    }
}

ReactDOM.render(<SheetCategorizer/>,
    abc);
</script> {% endcomment %}

{% comment %} <script type="text/javascript">
  document.getElementById('categorizer').innerHTML = "HELLO";
</script> {% endcomment %}

  {% comment %} <script>
  const sheetUrl = "https://www.sefaria.org/sheets/" + "{{sheet_id}}";
</script> {% endcomment %}
{% comment %} <script src="/chavruta.js?roulette={{roulette}}"></script> {% endcomment %}
{% comment %} <script>addAdditionalHTML()</script>  {% endcomment %}
{% endblock %}

</body>
</html>