{% extends "base.html" %}

{% block title %}Coming Soon{% endblock %}

{% block content %}
<div id="iosPage" class="static">
    <div class="inner">
        <h1>
            <span class="int-en">Coming Soon</span>
            <span class="int-he">בקרוב</span>
        </h1>

        <div class="section">
            <p>We're still working on lots of great features for Sefaria. The button you just clicked is one of them! We left the button in to help us track how many people are really interested in this feature.</p>

            <p>Sign up on our <a href="/connect">mailing list</a>, or follow us on <a href="https://www.facebook.com/sefaria.org" target="_blank">Facebook</a> or <a href="https://www.instagram.com/sefariaproject/" target="_blank">Instagram</a> to stay in the loop about all our new features as they come out.</p>
        </div>      
    </div>
</div>

{% endblock %}
