{% extends "base.html" %}

{% block titleEnglish %}Texts Contributed to Sefaria{% endblock %}
{% block titleHebrew %}Texts Contributed to Sefaria{% endblock %}

{% block descriptionEnglish %}{% endblock %}

{% block descriptionHebrew %}{% endblock %}

{% block content %}

<div id="contributedToSefaria" class="container static">
    <div class="inner">
        <h1>Texts Contributed Directly to Sefaria</h1>
        <div class="section">
            <p>
                Texts on Sefaria that list this page as their source were contributed directly to Sefaria
                and have not yet been published elsewhere in print or on the web.
                Generally the licenses of these texts are clarified by written agreement with the authors.
            </p>
        </div>
    </div>
</div>

{% endblock %}