{% extends "base.html" %}

{% block title %}Contributed to Sefaria{% endblock %}

{% block content %}

<div id="" class="container doc">

<span class="row">
<span class="span8 offset2">

<h2>Texts Contributed Directly to Sefaria</h2>

<p>Texts on Sefaria that list this page as their source were contributed directly to Sefaria and have not yet been published elsewhere in print or on the web. Generally the licenses of these texts are clarified by written agreement with the authors.</p>


</span>
</span>
</div>

{% endblock %}