{% extends "base.html" %}

{% block title %}Contributing to Sefaria - New Interfaces for Jewish Texts{% endblock %}

{% block content %}

<div id="contribute" class="container doc">

<h1>Contributing to Sefaria</h1>

<div id="topRow" class="row">
	<div class="span9">
		<p>If you can spare 10 minutes, you can bring one piece of Jewish learning into the Public Domain. Some contributions require scholarly knowledge; some are more like (holy) data-entry that anyone with an interest in Jewish texts can do.</p>   
		<br>
		<div class="">
			<div class="alert alert-info" id="pdalert">
				<h4 class="alert-heading">About the Public Domain</h4>
				<p>Everything that you contribute to Sefaria (texts and data like connections) is published with a Public License (either CC0 or CC BY-SA) so that anyone in the future will be free to copy and build upon it. This page says "Contributing to Sefaria", but actually you are contibuting to the Public Domain. Even if Sefaria can't finish its ambitious project, the next person or group to try will be able to pick up right where we left off.</p>
			</div>
		</div>

		<h3>Ways You Can Contribute</h3>
		<div class="toc">
			<div class="way">
			<a href="#connections">1. Add Connections</a>
			</div>

			<div class="way">
			<a href="#texts">2. Add Texts</a>
			</div>
		
			<div class="way">
			<a href="#correct">3. Correct Errors</a>
			</div>

			<div class="way">
			<a href="#translate">4. Add Translations</a>
			</div>

			<div class="way">
			<a href="#describe">5. Describe Texts</a>
			</div>

		</div>

	</div>

	<div class="span3">
		<div id="getInTouch" class="well">
			<h3>Get in Touch</h3>
			<p class="sub">We want to hear your questions, ideas, feedback and concerns.</p>
			<p>Post to our <a href="https://groups.google.com/forum/?fromgroups#!forum/sefaria" target="_blank">Forum</a></p>
			<p>Email <a href="mailto:hello@sefaria.org">hello@sefaria.org</a></p>
			<p>Connect on <a href="http://www.facebook.com/sefaria.org">Facebook</a><p>
			<p>Ask <a href="http://www.twitter.com/sefariaproject">@SefariaProject</a><p>
		</div>

		<div class="well">
			<h3>Texts to Copy</h3>
			<ul class="">
				<li><a href="http://he.wikisource.org/wiki/%D7%9E%D7%9B%D7%99%D7%9C%D7%AA%D7%90">Michilta</a></li>
				<li><a href="http://he.wikisource.org/wiki/%D7%AA%D7%A0%D7%99%D7%90">Tanya</a></li>
				<li><a href="http://he.wikisource.org/wiki/%D7%9C%D7%99%D7%A7%D7%95%D7%98%D7%99_%D7%9E%D7%95%D7%94%D7%A8%22%D7%9F">Likutei Moharan</a></li>
				<li><a href="http://www.sacred-texts.com/jud/doth/index.htm">Duties of the Heart</a></li>
			</ul>
		</div>
		<div class="clearFix"></div>
	</div>

</div>

<div class="row" id="connections">
	<div class="span12">
		<h2>1. Add Connections <div class="btn btn-primary helpVideoButton" data-vid="connections">Watch a Video</div></h2> 
	</div>
	<div class="span12">
		<p>Our tradition is full of connections between texts. We want to make a complete list of these connections in a form that a computer can understand. Any time Sefaria knows about connected texts, it shows a portion of the connected text on the right hand side of the screen.</p>
	</div>
	<div class="span5">
			<p>You may be able to look up connections in resources like the Torah Temimah, or you may find a citation in a place like Wikisource and simply need to enter it.</p>
		<p>There are many types of connections we're looking for:</p>
		<dl class="dl-horizontal">
			<dt>Commentary</dt>
			<dd>One text explicitly comments on another.</dd>
			<dt>Quotation</dt>
			<dd>The words of one text appear quoted in another.</dd>
			<dt>Reference</dt>
			<dd>One text refers to another.</dd>
			<dt>Summary</dt>
			<dd>One text summarizes the other.</dd>
			<dt>Explication</dt>
			<dd>One text explicates the meaning of another.</dd>
			<dt>Related Passage</dt>
			<dd>Two texts are related or parallel in a way worth comparing.</dd>
		</ul>
	</div>
	<div class="span7">
		<div class="howto well">
			<h3>How to add connections:</h3>
			<ul>
				<li>Open a text you want to add a connection to.</li>
				<li>Click the segment of text to connect then click <code>Add Source</code> in the (+) menu that appears next to the highlighted text.</li>
				<li>Enter a specific citation for the text to connect to. Sefaria will guide you as you type to make sure it gets the information is needs in a form it can understand.</li>
				<li>If Sefaria doesn't have the text you want to connect, you'll need to add it first (see <a href="#howtoAddTexts">below</a>). You won't have to enter the whole thing, only the part you want to connect.</li>
			</ul>
		</div>
	</div>
</div>

<div class="row" id="texts">
	<div class="span12">
		<h2>2. Add Texts <div class="btn btn-primary helpVideoButton" data-vid="add">Watch a Video</div></h2>
	</div>
</div>
<div class="row">
	<div class="span12">
		<p>Our goal is to include in Sefaria <i>all</i> of the primary texts of the Jewish tradition. This means Tanakh, Midrash, Mishnah, Gemara, Meforshim, Halacha, Kabalah, Chasidut, Machsheva, Musar and more.</p>
		<p>Some texts can be just be copy-and-pasted from other websites. Other texts will need to be transcribed from a book. Sefaria is built to support <strong>fragments</strong>, so you don't have do everything at once or start at the beginning. Each small piece by itself is a step closer.</p>
		<p>It's imporant that Sefaria understand the correct <strong>structure</strong> of a text; that is, how it's divided up into appropriate subsections. For Tanakh this means splitting it into "verses", for Mishnah it's splitting it into "mishnahs". Each text may have its own names for what these sections are called.</p>
	</div>
	<div class="span12">
		<div class="well howto" id="howtoAddTexts">
		<h3>How to add texts:</h3>
		<ul>
			<li>Click <code>Add new text +</code> in the texts menu at the top left.</li>

			<li>Type the name of the text you want to add. If Sefaria knows about the text already, it may replace what you write with a name variant that Sefaria considers to be the default.</li>

			<li>If Sefaria doesn't know anyting about the text yet, you'll have to describe the text first (see <a href="#howtoDescribe">below</a>).</li>

			<li>Follow the prompts that Sefaria gives to specify which part (chapter, page, section) of that text you want to add, then click <code>OK</code>.</li>

			<li>Assuming you are copying a text from a book or website, select <code>Copied Text</code>.</li>

			<li>Add a <code>Version Title</code>. This may be the website where the text came from (like "Wikisource Talmud") or the name of a historical translation (like "JPS 1917 Tanakh").</li>

			<li>Add a <code>Source</code> for this version in the box that says "Copied from". For websites, this should be a web link to the text. For transcribed texts, this should be a citaton for the book you used to transcribe the text.</li>

			<li>Type or paste your text in the large box. Pay attention to the blue <span class="badge badge-info">Section Labels</span> that appear outside the text box. These labels show you how Sefaria will break up and number the segments of your text. You can hit <code>enter</code> or <code>backspace</code> to break up or put together your text until the labels are all correct.</li>

			<li>Click <code>Save</code> in the upper right hand corner when you're finished, then pat yourself on the back for making culture more freely available.</li>
		</ul>
		</div>
	</div>
</div>
<div class="row">
	<div class="span12">
		<h3 class="big">How exactly do I find the text I want to add?</h3>
	</div>
	<div class="span6">
		<h3>Copy from Wikisource</h3>
		<p>Wikisource is the best collection on the web of primary texts available with a public licence. Most of the texts in Sefaria today come from Wikisource. You are free to copy and paste any texts from Wikisource into Sefaria so long as you indicate "Wikisource" as the version title and leave a link to the page you copied from. Look at <a href="http://he.wikisource.org">Hebrew Wikisource</a> for original texts and the <a href="http://en.wikisource.org/wiki/Portal:Judaism">Judaism Portal</a> on English Wikisource for texts in translation.</p>
	</div>
	<div class="span6">
		<h3>Copy from Public Sources</h3>
		<p>There are plenty of other sources on the Net that publish their work with a public license or are already in the public domain (such as the <a href="http://www.sacred-texts.com/">Internet Sacred Text Archive</a>). If you find a text you'd like to copy, look for a Creative Commons license such as <a href="http://creativecommons.org/publicdomain/zero/1.0/">CC0</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC-BY</a>, or <a href="http://creativecommons.org/licenses/by-sa/3.0/">CC-BY-SA</a>, or check this <a href="http://copyright.cornell.edu/resources/publicdomain.cfm">summary of Copyright Terms</a> to see if this text may already be in the public domain.</p>
	</div>
</div>

<div class="row">
	<div class="span6">
		<h3>Transcribe from a Book</h3>
		<p>Until we have a perfect OCR system in place, picking up a book and transcribing what you see may still be the fastest way to bring some texts online. It may seem daunting, but every word you transcribe is a word that no one will ever have to transcribe again. If the text or translation in a book you have was written after 1923, please check this <a href="http://copyright.cornell.edu/resources/publicdomain.cfm">summary of Copyright Terms</a> before transcribing anything more than a quotation.</p>
	</div>
	<div class="span6">
		<h3><i>A Note about Translations</i></h3>
		<p>Please note: even though the vast majority of classical Jewish texts are already in the public domain, a translation of a public domain work is legally a new work, and subject to copyright. Translations created after 1923 are most likely under copyright (though see this <a href="http://copyright.cornell.edu/resources/publicdomain.cfm">summary of Copyright Terms</a> for various exceptions) and copyrighted works cannot be included in Sefaria without a license.</p>
	</div>
</div>


<div class="row" id="correct">
	<div class="span12">
		<h2>3. Correct Errors <div class="btn btn-primary helpVideoButton" data-vid="edit">Watch a Video</div></h2>
	</div>
</div>

<div class="row">
	<div class="span12">
		<p>If you see an error in Sefaria, please don't stand idly by! The more people who feel a responsibility to improve Sefaria's quality, the better it will get. Click <code>Edit Text</code> in the <code>About Text</code> menu to fix any problems you see and know how to correct. If you see strangley missing or badly segmented or aligned text, please check the text against its source link. Sometimes texts that are imported automatically to Sefaria get caught up unusual formatting and need to be hand corrected. You can adjust the way a text is broken up by pressing <code>enter</code> or <code>delete</code> in the text editing box.</p>

		<p>If you see a connnection that is not connected to the correct text, click it to expand it then click the <code>edit connection</code> link at the bottom. You can update the citation so that it points to the correct place.</p>

		<p>If you see a citation in a text that is not being recognized by Sefaria, it helps to change the citation so that Sefaria can pick up the link. For example, Sefaria doesn't use Roman Numerals, so citations like <code>Genesis xxiv. i.</code> should be corrected to <code>Genesis 24:1</code>.</p>

		<p>If you recognize a problem but don't know how to fix it, please report it to the <a href="/forum">Sefaria Forum</a>.</p>
	</div>
</div>


<div class="row" id="translate">
	<div class="span12">
		<h2>4. Translate Texts <div class="btn btn-primary helpVideoButton" data-vid="translate">Watch a Video</div></h2>
	</div>
</div>

<div class="row">
	<div class="span6">
		<p>If you're comfortable translating Hebrew, creating new translations of classic texts and offering them to the world is an incredibly impactful way to share talents. There's a huge opportunity here, because so much of the basics have yet to be started. Search online and you'll find dozens of translations of Rashi on Tanakh; but what about Rambam, Ibn Ezra or Sforno?</p>

		<p>Following the success of sites like Wikipedia and Wikisorce, Sefaria is adopting a collobarative approach. Anyone may start a new translation, and anyone else may step in to suggest improvements. As we grow we'll design systems for contributors to more thoroughly vett and approve new translations.</p>

		<p>For texts that we have in their original, Sefaria offers a simple side by side tool for making new translations.</p>
	</div>
	<div class="span6">
		<div class="howto well">
			<h3>How to add new translations:</h3>
			<ul>
				<li>Open the Hebrew or Aramaic of a text you want translate.</li>
				<li>Open the <code>About Text</code> panel then select <code>Add Translation +</code>.</li>
				<li>Enter your translation in the large box.</li>
				<li>Keep your translation aligned with the original by using the <code>enter</code> and <code>delete</code> keys to seperate segements of text.</li>
				<li>If you're copying an existing translation, be sure to include the <code>Version Title</code> and <code>Source</code> as described <a href="#howtoAddTexts">above</a>.</li>
			</ul>		
		</div>
	</div>
</div>



<div class="row" id="describe">
	<div class="span12">
		<h2>5. Describe Texts <div class="btn btn-primary helpVideoButton" data-vid="newtext">Watch a Video</div></h2>
	</div>
</div>
<div class="row">
	<div class="span5">
		<p>Before Sefaria can store new texts and translatons, it needs to know some basic information about the text. Aside from the text's title, the most important thing Sefaria needs to know is what the structure of the text is. This means knowing, for example, that the book of Bereshit is divided into chapters, and those chapters are divided into verses. A more complex work like the Mishneh Torah is composed of books, which are composed of topics, which are composed of chapters, which are composed of laws.</p>
		<p>Having clear a list of texts and knowing a lot about them will make it easier for Sefaria to move forward, measure its progress and account for what's left to do.</p>
		<p>You can see a complete list of the texts that Sefaria currently knows about one the <a href="/texts">Texts Page</a>.</p>
	</div>

	<div class="span7">
		<div class="howto well" id="howtoDescribe">
			<h3>How to describe new texts:</h3>
			<ul>
				<li>Browse through the <a href="/texs">Table of Contents</a> see a complete list of texts that Sefaria currently knows about. If you don't find a particular text here, click <code>Add new text +</code> to add it.</li>
				<li>Enter the name of new text then click <code>Add Text</code>.</li>
				<li>Enter the required fields: <code>Text Title</code>, <code>Category</code> and <code>Text Structure</code>.</li>
				<li>Describe the <code>Text Structure</code> by entering the names of the different divisions of the text. E.g, for Genesis you would enter "Chapter" > "Verse". For consistency, please use English words (Hebrew translations will be coming soon).</li>
				<li>You can additional levels of structure by clicking <code>add level of structure</code>. You can remove a level by clicking the X inside each box.</li>
				<li>Click <code>Save</code> when you're finished.</li>
			</ul>
		</div>
	</div>
</div>

{% include "elements/edit_video.html" %}
<div id="overlay"></div>

</div> <!-- End #contribute -->


{% endblock %}

{% block js %}
	<script>
	$(function() {

		$(".helpVideoButton").click(function(){
			console.log("e")
			var vid = $(this).attr("data-vid");
			sjs.help.open();
			sjs.help.openVideo(vid);
		});

	});
	</script>
{% endblock %}
