{% extends "base.html" %}

{% block title %}Developers | Sefaria.org: Open Source Jewish Texts and Tech{% endblock %}

{% block content %}

<div id="developers" class="container doc">

<h1>Developing with Sefaria</h1>
<div class="row">
	<div class="span12 docBrief">
		<p class="">Sefaria is working on the ambitious goal of creating a comprehensive, structured, publicly licensed database of Jewish texts and their interconnections. Along the way we're creating basic, open source infrastructure for Jewish tech, like an API and interactive interfaces.</p> 
	</div>
</div>
<div class="row">
	<div class="span6">
		<p>If you can write a simple script, <b>we can use your help</b>. We're working on a an ambitious project whose success could positively impact the ways we collectively relate to and develop our textual tradition. This is an exciting time for developers to impact Jewish learning.</p>
		<p>We're looking for help with <a href="https://github.com/blockspeiser/Sefaria-Project/issues?page=1&sort=updated&state=open">core development</a> of Sefaria, but we also want to be a resource to any project related to Jewish texts. You can <b>build an app</b> with our API or <a href="https://github.com/blockspeiser/Sefaria-Data">download our dataset</a> for research or reuse.</p>
	</div>
	<div class="span6">
		<div class="well howto">
		<h3>How to Get Involved</h3>
		<ul>
			<li>Introduce yourself on our <a href="https://groups.google.com/forum/?fromgroups#!forum/sefaria-dev">developer mailing list</a>.</li>
			<li>Look at our code and install instructions on <a href="https://github.com/blockspeiser/Sefaria-Project">GitHub</a>.</li>
			<li>Browse <a href="https://github.com/blockspeiser/Sefaria-Project/issues">GitHub Issues</a> for ideas of projects to work on.</li>
		</ul>
		</div>
	</div>
</div>

<div class="row" id="api">
	<div class="span12">
		<h2>Sefaria Torah Texts API</h2>

		<p>The Torah Texts API allows live access to Sefaria's structured database of Jewish texts and their interconnections. It is designed to make getting up and running with a new web or mobile app as simple as possible. If you want to run your own database, please don't use this API to grab our data; instead you can download a complete dump of our data on <a href="https://github.com/blockspeiser/Sefaria-Data">GitHub</a>.</p>
		<p><h3>What texts are included?</h3>
			You can see a complete list of known texts and counts of their availabilty on the <a href="/texts">Sefaria Table of Contents</a>.</p>
	</div>
	<div class="span12">
		<div class="alert alert-error">
			<h3>We're just getting started.</h3>
			<p>Sefaria is still in its early life. This API is very rough, likely to be changing quickly, and shouldn't be considered stable. We're opening our API early because we want developers to be able to expand on our work in an open way from day one. If you build anything with it, we'd love for you to let us know. If you don't, be aware this version of the API may change without warning.</p>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12"><h2>GET Methods</h2></div>
	<div class="span12">
		<p>All API responses are in JSON. If there is an error that doesn't prevent a response, an error message is returned in the field <code>error</code>. All API methods support JSONP.</p>

	</div>
	<div class="span12"><h3 class="apiRoute">GET /api/texts/:ref</h3></div>
	<div class="span12">
		<p>Retrieves the text and other metadata for the text reference string <code>ref</code> (read more on <a href="#refs">text references</a> below). A successful response looks like:</p>
	
		<pre><code id="jsonSample">
GET http://www.sefaria.org/api/texts/Kohelet.5

200 OK

{
	'book': 'Ecclesiastes',
	'categories': ['Tanach', 'Writings'],
	'commentary': [{'_id': '4f1e04321c81c4cf8a4149c8',
	             'anchorRef': 'Ecclesiastes 5:9',
	             'anchorText': '',
	             'anchorVerse': 9,
	             'category': 'Halacha',
	             'commentaryNum': 0,
	             'commentator': 'Mishneh Torah',
	             'he': '',
	             'ref': 'Mishneh Torah 1:2:1:2',
	             'sourceRef': 'Mishneh Torah 1:2:1:2',
	             'text': 'A person may be very greedy, not satisfied by all the wealth in the world, as it says, "A lover of silver never has his fill of silver" (Ecclesiastes 5:9)...',
	             'type': 'quotation'}],
	'he': ["אַל תְּבַהֵל עַל פִּיךָ וְלִבְּךָ אַל יְמַהֵר לְהוֹצִיא דָבָר לִפְנֵי הָאֱלֹהִים כִּי הָאֱלֹהִים בַּשָּׁמַיִם וְאַתָּה עַל הָאָרֶץ עַל כֵּן יִהְיוּ דְבָרֶיךָ 	מְעַטִּים.",
		   "כִּי בָּא הַחֲלוֹם בְּרֹב עִנְיָן וְקוֹל כְּסִיל בְּרֹב דְּבָרִים.",
		   "כַּאֲשֶׁר תִּדֹּר נֶדֶר לֵאלֹהִים אַל תְּאַחֵר לְשַׁלְּמוֹ כִּי אֵין חֵפֶץ בַּכְּסִילִים אֵת אֲשֶׁר תִּדֹּר שַׁלֵּם.",
		   ...],
	'heVersionSource': 'http://he.wikisource.org/wiki/%D7%9E%D7%A7%D7%A8%D7%90',
	'heVersionTitle': 'Wikisource Tanach',
	'length': 12,
	'maps': [],
	'next': 'Ecclesiastes 6',
	'order': [33, 7],
	'prev': 'Ecclesiastes 4',
	'ref': 'Ecclesiastes 5',
	'sectionNames': ['Chapter', 'Verse'],
	'sections': [5],
	'text': ['Be not rash with thy mouth, and let not thy heart be hasty to utter a word before God; for God is in heaven, and thou upon earth; therefore let thy words be few.',
	         "For a dream cometh through a multitude of business; and a fool's voice through a multitude of words.",
	         'When thou vowest a vow unto God, defer not to pay it; for He hath no pleasure in fools; pay that which thou vowest.',
	         ...],
	'titleVariants': ['Ecclesiastes', 'Kohelet', 'Ecc', 'Ecc.'],
	'toSections': [5],
	'type': 'Tanach',
	'versionSource': 'http://opensiddur.org/2010/08/the-holy-scriptures-a-new-translation-jps-1917/',
	'versionTitle': 'The Hebrew Bible in English according to the JPS 1917 Edition',
	'versions': [{'language': 'en', 'versionTitle': 'The Hebrew Bible in English according to the JPS 1917 Edition'},
	             {'language': 'he', 'versionTitle': 'Wikisource Tanach'}]
}
	</code></pre>

	<dl class="dl-horizontal">
		<dt><code>book</code></dt>
		<dd>The name of the requested text, normalized to the name considered primary. Hence "Kohelet" becomes "Eccelesiates".</dd>

		<dt><code>categories</code></dt>
		<dd>A hierarchal array of categories to which this text belongs, begnning with the highest level.</dd>

		<dt><code>commentary</code></dt>
		<dd>An array of connections to this text including the connected text and information about it. Looking up connections can be slower and create larger response size. If you're only interested in the text you requested use the <code>?commentary=0</code> parameter.</dd>

		<dt><code>he</code></dt>
		<dd>The Hebrew (or Aramaic) text requested, as an array of strings. If only a single segment is requested (e.g. "Kohelet 5.3"), the surrounding text is still returned by default. If you only need the segment you request, you can add the parameter <code>?context=0</code> in which case this field will be a string. If no Hebrew text exists for this ref, the value will be <code>[]</code>. Note, Aramaic is not currently distinguished from Hebrew.</dd>

		<dt><code>heVersions</code></dt>
		<dd>Only present if multiple Hebrew versions of this text are available, this field contains an array of objects containing the <code>versionTitle</code> of each available version.</dd>

		<dt><code>heVersionSource</code></dt>
		<dd>The URL or book citation of the source of the Hebrew text.</dd>
		
		<dt><code>heVersionTitle</code></dt>
		<dd>The name of the version of the Hebrew text.</dd>

		<dt><code>length</code></dt>
		<dd>The length of the text in its highest level section, in this case Kohelet has 12 chapters.</dd>
		
		<dt><code>maps</code></dt>
		<dd>An array of maps between strings and deeper sections of the text (currently called "Shorthands" in the Sefaria interface). Used to give names to segments of text. E.g, "Rambam Laws of Human Dispositions" maps to "Mishneh Torah 1:2".</dd>

		<dt><code>next</code></dt>
		<dd>A ref of the next section of text, if any.</dd>
		
		<dt><code>order</code></dt>
		<dd>An array specifying the order of this text with regards to its categories. In this case, Kohelet is the 33rd book of the Tanach, and the 7th book of Writings.</dd>

		<dt><code>prev</code></dt>
		<dd>A ref of the previous section of this text, if any.</dd>

		<dt><code>ref</code></dt>
		<dd>A normalized version of the requested reference.</dd>
		
		<dt><code>sectionNames</code></dt>
		<dd>An array containing the type names of the sections of this text. The length of <code>sectionNames</code> gives the depth of the structure of this text. For example, Kohelet (<code>["Chapter", "Verse"]</code>) has depth 2, while Mishneh Torah (<code>["Book", "Topic", "Section", "Law"]</code>) has depth 4. Comparing this depth to the depth of <code>sections</code> will show if the request was for the lowest level, or a higher level, of the text.</dd>

		<dt><code>sections</code></dt>
		<dd>An array of ints which corresponds to <code>sectionNames</code> and represents the sections of the text requested. When <code>sectionNames</code> is <code>['Chatper', 'Verse']</code> a request for chapter 4 looks like <code>[4]</code> while a request for chapter 4, verse 7 would look like <code>[4, 7]</code>. Note, for Talmud, Dafs are represented by a string like <code>'42a'</code> or <code>'12b'</code>.</dd>

		<dt><code>text</code></dt>
		<dd>The English text requested, as an array of strings. If only a single segment is requested (e.g. "Kohelet 5.3"), the surrounding text is still returned by default. If you only need the segment you requested, you can add the parameter <code>?context=0</code> in which case this field will be a string. If no English text exists for this ref, the value will be <code>[]</code>.</dd>

		<dt><code>titleVariants</code></dt>
		<dd>Ar array of alternate titles for this text, including titles in other language, spelling variants and abbreviations.</dd>

		<dt><code>toSections</code></dt>
		<dd>An array parallel to <code>sections</code> which specifies the end range of the requested text For "Kohelet 3:1-4", this would be <code>[3, 4]</code> for chapter, 3, verse 4.</dd>

		<dt><code>type</code></dt>
		<dd>A convenience for <code>categories[0]</code>, the highest level category of the text.</dd>

		<dt><code>versionSource</code></dt>
		<dd>The URL or book citation of the source of the English text.</dd>

		<dt><code>versionTitle</code></dt>
		<dd>The title of the version of the text that was returned in <code>text</code>.</dd>

		<dt><code>versions</code></dt>
		<dd>Only present if multiple English versions of this text are available, this field contains an array of objects containing the <code>versionTitle</code> of each available version.</dd>

	</dl>

	</div>
	
	<div class="span12">
		<h4>Parameters</h4>
		<p>You can request a particular version of a text by specifying a version title and langauge, to the parameters <code>lang</code> and <code>version</code>. <code>lang</code> should be a two character language code. Spaces in <code>version</code> may be replaced with "_".</p>
		<p><code>context=0</code> may be used to supress the default behavior of returning surounding texts when only a single segment is requested. <code>commentary=0</code> will prevent searching for and returning connections to other texts along with the requested text.<p>

	</div>





</div>
<div class="row">
	<div class="span12"><h3 class="apiRoute">GET /api/index/</h3></div>
	<div class="span12">
		<p>Returns an object represeting the table of contents of all texts currently known. Texts are grouped by their categories and ordered along with basic metadata for each. Useful for building a table of contents.<p>
	</div>
	<div class="span12"><h3 class="apiRoute">GET /api/index/titles/</h3></div>
	<div class="span12">
		<p>Returns a list of all known text titles, including title variants and abbreviations. Useful for checking citations or user input of text names.</p>
	</div>
	<div class="span12"><h3 class="apiRoute">GET /api/index/:title</h3></div>
	<div class="span12">
		<p>Returns metadata about the requested text, including section names, title variants, categories, and orders.<p>
	</div>
	<div class="span12"><h3 class="apiRoute">GET /api/links/:ref</h3></div>
	<div class="span12">
		<p>Returns a list of connections known for the given segment of text.<p>
	</div>
</div>

<div class="row" id="refs">
	<div class="span12"><h2>Text References</h2></div>
	<div class="span12">
		<p>Sefaria depends on the ability to unambiguously refer to particular segments of text in the repository. The implentation of text references in Sefaria has the following goals:</p>
		<ul>
			<li>References should be human and machine readable.</li>
			<li>References should be enviornment agnostic (i.e., they should not dependent on database ids).</li>
			<li>References should flexibly accomdate human variation, such as alternate spellings.</li>
		</ul>
		<p>The following are all valid refs:</p>
		<code id="refBox">
			<span class="ref">Bereishit</span>
			<span class="ref">Job 3</span>
			<span class="ref">Mishna Berakhot 4.2</span>
			<span class="ref">Sanhedrin 4b</span>
			<span class="ref">Ex. 12:2-8</span>
			<span class="ref">Song_of_Songs.2.4-3.3</span>
			<span class="ref">Berakot.2a.10-13</span>
			<span class="ref">Rashi on Genesis 1:2:1</span>
			<span class="ref">M. Peah 3</span>
			<span class="ref">Rambam Laws of Repentence 2:1</span>
			<span class="ref">Masekhet Shabbat 7b:12-20</span>
			<span class="ref">Pirkei_Avot_2.1</span>
			<div class="clear"></div>
		</code>
		<p>A valid ref consists of a title string followed optionally by a sections string. A title string is any one of the known text titles, title variants, maps or a known commentator name plus <code>&nbsp;on&nbsp;</code> and another title string. A section string lists sections seperated by either <code>.</code>, <code>:</code> or <code>&nbsp;</code>. A range can optionally be specified with <code>-</code>.</p>
		<h4>Notes</h4>
		<ul>
			<li>Talmud references use a special daf syntax, which allows a number plus either 'a' or 'b'.</li>
			<li>Commentary text names inherit the structure (depth and section names) of their base text and add an additional level called 'Comment'. Thus <code>Ramban on Genesis 4:5:2</code> refers to Ramban's 2nd comment on the 5th verse of Genesis Chapter 4.</li>
			<li>Within a sections string, <code>.</code>, <code>:</code> and <code>&nbsp;</code> are all interchangable.</li>
			<li>The range seperator <code>-</code> should appear 0 or 1 times and should never appear in the title string.</li>
			<li>Spaces may be replaced with <code>_</code> for better display in URLs, but not by <code>-</code> for the reason above.</li>
	</div>
</div>

<div class="row" id="post">
	<div class="span12"><h2>POST Methods</h2></div>
	<div class="span12">
		<p>Building custom parsers for available digital texts is the fastest way to help Sefaria grow. POST methods allow conributors to work locally on parsing texts and post their results when ready.</p>
		<p>All POST methods require an API Key attached on the post parameter <code>apikey</code>. To obtain an API Key, please introduce yourself on the <a href="https://groups.google.com/forum/?fromgroups#!forum/sefaria-dev">Sefaria developers mailing list.</a>
		<p>Before posting large datasets to www.sefaria.org, you may want to run a test on a different enviornment. dev.sefaria.org is availble for such testing and other enironments can be brought up as needed.</p>
	</div>
</div>

<div class="row">
	<div class="span12"><h3 class="apiRoute">POST /api/texts/:ref</h3></div>
	<div class="span12">
		<p>Posts the text named by <code>ref</code>. <code>ref</code> must name a text already known to Sefaria. When posting a new text, add a new index record first, either manually on the site or programatically as described below. POST data must include the parameter <code>json</code> which includes:<p>
		<dl class="dl-horizontal">
			<dt><code>versionTitle</code></dt>
			<dd>The name of this text version (e.g., "Wikisource Tanach").</dd>
			<dt><code>versionSource</code></dt>
			<dd>A URL identifying the original source of the posted text.</dd>
			<dt><code>language</code></dt>
			<dd>The two character language code of the posted text.</dd>
			<dt><code>text</code></dt>
			<dd>The text itself, as either a string (if ref names a lowest level segment, e.g., "Iyyov 3:2") or an array of strings (if ref names a higher level segment, e.g., "Shemot Rabbah 4").</dd>
	</div>

	<div class="span12"><h3 class="apiRoute">POST /api/index/:title</h3></div>
	<div class="span12">
		<p>Creates a new index record for the text named <code>title</code>. POST data must include the parameter <code>json</code> which includes:<p>
		<dl class="dl-horizontal">
			<dt><code>title</code></dt>
			<dd>The primary title of this text (for now, this should be in Roman characters).</dd>
			<dt><code>titleVariants</code></dt>
			<dd>An array of strings of title variants (alternate spellings, abbreviations) for this text. This must include the primary title, and each title variant must be unique among all text title variants and maps known to Sefaria.</dd>
			<dt><code>sectionNames</code></dt>
			<dd>An array listing the names of the different levels of structure within this text. For a text like Bereishit, this would be <code>['Chapter', 'Verse']</code>. For a larger text like Mishneh Torah this would be <code>['Book', 'Topic', 'Chapter', 'Halacha']</code>.</dd>
			<dt><code>categories</code></dt>
			<dd>A hierachal array of category names that apply to this text.</dd>

	</div>

</div>

{% endblock %}
