{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Dicta Thanks" %}{% endblock %}

{% block description %}{% trans "Sefaria thanks Dicta for all of their help." %}{% endblock %}

{% block content %}
<main id="dictaThanksPage" class="biReady container static">
    <div class="inner">
        <h1>
            <span class="int-en">Sefaria and Dicta</span>
            <span class="int-he">ספריא ודיקטה</span>
        </h1>
        <div class="about section">

            <p class="first">
                <span class="int-en">Sefaria includes algorithms and services provided by Dicta.</span>
                <span class="int-he">ספריא עושה שימוש באלגוריתמים ובשירותים המסופקים על ידי ארגון דיקטה.</span>
            </p>
            <p>
                <span class="int-en">Dicta applies cutting edge machine learning and natural
                    language processing tools to the analysis of Hebrew texts.
                    Their objective is to remove the drudgery from the study of classical and modern Hebrew texts,
                    in order to allow researchers to focus on the deeper questions.
                </span>
                <span class="int-he">דיקטה מיישמת את המילה האחרונה בלימוד מכונה ועיבוד שפה טבעית לצורך המחקר של טקסטים יהודיים.
                    מטרתם היא להסיר את הטרחה הרבה שמלווה את מחקר הטקסטים היהודיים,
                    עתיקים ומודרניים כאחד, כדי לאפשר לחוקרים להתמקד בשאלות מחקר מעמיקות יותר.
                </span>
            </p>
            <p>
                <span class="int-en">Dicta is a nonprofit organization that provides its products at no charge for the benefit of the public.</span>
                <span class="int-he">דיקטה היא עמותה ללא מטרת רווח המספקת את מוצריה ללא תשלום לטובת הכלל.</span>
            </p>
            <p>
                <span class="int-en">On Sefaria:</span>
                <span class="int-he">בספריא:</span>
                    <ul>
			<li>
                            <span class="int-en"> Tanakh results for Hebrew searches come courtesy of Dicta.</span>
                            <span class="int-he">תוצאות החיפוש בתנ"ך בעברית הן באדיבות דיקטה.</span>
                        </li>
                        <li>
                            <span class="int-en">Links to parallel texts, and matching of headwords to base texts rely on Dicta algorithms. </span>
                            <span class="int-he"> יצירת קישורים בין טקסטים מקבילים, והתאמת הטקסטים לערכים מילוניים נסמכות על אלגוריתמים מאת דיקטה.</span>
                        </li>
                        <li>
                            <span class="int-en">Much else besides benefits from our ongoing conversations with the Dicta team.</span>
                            <span class="int-he">מלבד זאת, דברים רבים בספריא הועשרו מתוך שיתוף פעולה מתמשך עם הצוות של דיקטה.</span>
                        </li>

                    </ul>

            </p>
            <p>
                <span class="int-en">See many other tools for analysis of Hebrew texts on the <a href="http://dicta.org.il/">Dicta Website</a>.</span>
                <span class="int-he">לכלי מחקר טקסטים יהודיים רבים אחרים, ראו <a href="http://dicta.org.il/">באתר דיקטה</a>. </span>
            </p>
        </div>
    </div>
</main>
{% endblock %}
