{% extends "base.html" %}

{% block title %}Texts Digitized by Sefaria{% endblock %}

{% block content %}

<div id="" class="container doc">

<span class="row">
<span class="span8 offset2">

<h2> Texts Digitized by Sefaria</h2>
    <p>Texts on Sefaria which list this page as their Source were scanned and/or digitized directly by Sefaria or by one of Sefaria's contractors from public domain books or book images. Source files for digitization may be available on request.</p>

    <p>Since the original book is in the public domain, this digital text is also in the public domain.<p> 

</span>
</span>
</div>

{% endblock %}