{% extends "base.html" %}
{% load sefaria_tags %}

{% block title %}Texts Digitized by Sefaria{% endblock %}

{% block content %}

<div id="digitizedBySefaria" class="container doc">

<span class="row">
<span class="span8 offset2">

<h2> Texts Digitized by Sefaria</h2>
    <p>These texts were scanned and/or digitized directly by Sefaria or by one of Sefaria's contractors from public domain books or book images. Source files for digitization may be available on request.</p>

    <p>Since the original book is in the <a href="http://en.wikipedia.org/wiki/Public_domain">public domain</a>, this digital text is also in the <a href="http://en.wikipedia.org/wiki/Public_domain">public domain</a>.<p> 

<ul id="texts">
    {% for text in texts %}
        <li>
            <div>{{ text.title|ref_link }}</div>
            <div class='sub'>{{ text.versionTitle }} ({{ text.language|lang_code }})</div>
        </li>
    {% endfor %}
</ul>


</span>
</span>
</div>

{% endblock %}