{% extends "base.html" %}
{% load i18n sefaria_tags %}

{% block title %}Texts Digitized by Pecha{% endblock %}

{% block description %}{% endblock %}

{% block content %}

<div id="digitizedBySefaria" class="container doc static">
    <div class="inner">

        <h1>
            <span class="int-en">Texts Digitized by Pecha</span>
            <span class="int-he">དཔེ་ཆ་དྲ་བས་ཨང་བསྒྱུར་བྱས་པ།</span>
        </h1>

        <p>
            <span class="int-en">Description coming soon ...</span>
            <span class="int-he">Description coming soon ...</span>
        </p>

    </div>
</div>

{% endblock %}
