{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Distance Learning | Sefaria" %}{% endblock %}

{% block description %}{% trans "Resources for teaching and learning virtually." %}{% endblock %}

{% block css %}
{% endblock %}


{% block js %}
<script>
    {% autoescape off %}
    DJANGO_VARS.containerId = 'distanceLearningPageInner';
    DJANGO_VARS.reactComponentName = 'DistanceLearningPage';
    DJANGO_VARS.static_url = {{ STATIC_PREFIX }};
    {% endautoescape %}
</script>
{% endblock %}

{% block content %}
<div id="distanceLearningPage" class="staticPageFrame">
  <div id="distanceLearningPageInner" class="staticPageInner">
    <h1 id="appLoading">Loading...</h1>
  </div>
</div>
{% endblock %}
