{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Donate to Sefaria" %}{% endblock %}

{% block description %}{% trans "Support Sefaria by making a tax-deductible donation online or by check or wire transfer." %}{% endblock %}

{% block content %}

<div id="donatePage" class="container static biReady">
    <div class="inner">
    <h1>
        <span class="int-en">Donate to Sefaria</span>
        <span class="int-he">תרמו לספריא</span>
    </h1>
        <div class="section">
            <p>
                <span class="int-en">
                    With your help, Sefaria will be the digital home of the Jewish canon and the platform for the future of Jewish learning.
                    Sefaria is a 501(c)(3) charitable organization; donations are tax-deductible as allowed by law. Thank you for supporting Sefaria.
                </span>
                <span class="int-he">
                    בעזרתכם, ספריא תהפוך לבית הדיגיטלי של הקאנון היהודי, ולפלטפורמת העתיד של לימוד יהודי. התרומה לספריא פטורה ממס כפי שמעוגן בחוק. תודה על תמיכתכם בספריא.
                </span>
            </p>
            <div class="single-button center">
                <a class="button big blue control-elem" href="http://sefaria.nationbuilder.com" target="_blank">
                    <span class="int-en">Donate Now</span>
                    <span class="int-he">לתרומה</span>
                </a>
            </div>
        </div>
        <div id="donateOptions" class="section">
            <div class="donateOption">
                <h2>
                    <span class="int-en">Donate by Check</span>
                    <span class="int-he">תרומה בהמחאה</span>
                </h2>
                <p>
                    <span class="int-en">Checks may be made payable to "Sefaria" and mailed to:</span>
                    <span class="int-he">יש למלא את הצ&#39;ק לפקודת Sefaria ולשלוח לכתובת:</span>
                </p>
<pre>
Sefaria
195 Montague St, 14th Floor
Brooklyn, New York 11201
</pre>
            </div>

            <div class="donateOption">
                <h2>
                    <span class="int-en">Donate Online</span>
                    <span class="int-he">תרומה מקוונת</span>
                </h2>
                <p>
                    <span class="int-en">
                        You can make a secure donation online through <a href="https://sefaria.nationbuilder.com/">Nationbuilder</a> using your Paypal account or credit card.
                    </span>
                    <span class="int-he">
                        ניתן לתרום תרומה מקוונת באופן בטוח דרך <a href="https://sefaria.nationbuilder.com/">Nationbuilder</a> באמצעות חשבון פייפאל או כרטיס אשראי.
                    </span>
                </p>
                <br/>
                <p>
                    <span class="int-en">
                        If you live outside the U.S., Paypal accepts donations from most countries.
                    </span>
                    <span class="int-he">
                        אם מקום מגוריכם נמצא מחוץ לתחומי ארה"ב, פייפאל מקבלת תרומות ממרבית המדינות.
                    </span>
                </p>
                <br/>
                <p>
                    <span class="int-en">
                        To avoid processing fees on large donations, we kindly ask that you donate by check or wire transfer.
                    </span>
                    <span class="int-he">
                        בכדי להמנע מעמלות על תרומות גדולות, אנו ממליצים לתרום בהמחאה או בהעברה בנקאית.
                    </span>
                </p>
            </div>

            <div class="donateOption">
                <h2>
                    <span class="int-en">Donate by Wire Transfer</span>
                    <span class="int-he">תרומה על יד העברה בנקאית</span>
                </h2>
                <p>
                    <span class="int-en">Please email <a href="mailto:annie@sefaria.org">annie@sefaria.org</a> for wire transfer instructions.</span>
                    <span class="int-he">אנא שלחו אימייל ל-<a href="mailto:annie@sefaria.org">annie@sefaria.org</a> עבור פרטים להעברה בנקאית.</span>
                </p>
            </div>

        </div>
        <div class="section faqs">
            <h2>
                <span class="int-en">Donation FAQs</span>
                <span class="int-he">שאלות נפוצות לגבי תרומות</span>
            </h2>
            <div class="faq">
                <p class="question">
                    <span class="int-en">
                        Can I donate by eCheck?
                    </span>
                    <span class="int-he">
                        האם ניתן לתרום באמצעות eCheck?
                    </span>
                </p>
                <p class="answer">
                    <span class="int-en">
                        Yes, you can donate by eCheck. Please enter the mailing address listed above.
                    </span>
                    <span class="int-he">
                        כן, ניתן לתרום באמצעות eCheck. אנא השתמשו בכתובת לעיל.
                    </span>
                </p>
            </div>
            <div class="faq">
                <p class="question">
                    <span class="int-en">
                        How will I receive my donation receipt?
                    </span>
                    <span class="int-he">
                        כיצד תשלחו לי את הקבלה עבור התרומה?
                    </span>
                </p>
                <p class="answer">
                    <span class="int-en">
                        If you donate online, you will receive an e-receipt. If you donate by check or wire, you will receive a receipt by mail.
                    </span>
                    <span class="int-he">
                        אם תתרמו באופן מקוון, תקבלו קבלה מקוונת. אם תתרמו בצ'ק או בהעברה בנקאית, תקבלו קבלה בדואר.
                    </span>
                </p>
            </div>
            <div class="faq">
                <p class="question">
                    <span class="int-en">
                        Can I make a recurring gift online?
                    </span>
                    <span class="int-he">
                        האם ניתן להסדיר תרומה קבועה?
                    </span>
                </p>
                <p class="answer">
                    <span class="int-en">
                        Yes, you can choose to give a recurring donation on a monthly basis for any length of time.
                        For example, if you want to give $18 a month for one year,
                        you would input the total amount as $218 ($18 x 12 months) and select “12” for the number of installments.
                    </span>
                    <span class="int-he">
                        כן, ניתן לתרום סכום קבוע על בסיס חודשי לכל פרק זמן שתבחרו. למשל, אם ברצונכם לתת 18$ לחודש במשך שנה, תזינו 218$ כסכום כולל (18$ X 12 חודשים) ותבחרו "12" כמספר התשלומים.
                    </span>
                </p>
            </div>
            <div class="faq">
                <p class="question">
                    <span class="int-en">
                        Can I make a tribute gift in honor or memory of someone?
                    </span>
                    <span class="int-he">
                        האם ניתן לתת תרומה לכבוד אדם אחר או לזכרם?
                    </span>
                </p>
                <p class="answer">
                    <span class="int-en">
                        Yes, please contact <a href="mailto:annie@sefaria.org">annie@sefaria.org</a>.
                    </span>
                    <span class="int-he">
                        כן. אנא פנו ל- <a href="mailto:annie@sefaria.org">annie@sefaria.org</a>.
                    </span>
                </p>
            </div>
        </div>
        <div class="section">
            <p>
                <span class="int-en">Sefaria takes great pride in its financial stewardship as a fully transparent,
                    501(c)3 charitable organization.
                    You can access Sefaria's latest IRS 990 Form <a href="static/files/SEFARIA, INC.pdf">here</a>.
                </span>
                <span class="int-he">ספריא גאה בהתנהלותה השקופה כלכלית כארגון ללא מטרות רווח. ביכלתכם לצפות בדו"ח מס הכנסה (שלטונות ארה"ב) האחרון <a href="static/files/SEFARIA, INC.pdf">כאן</a>.</span>
            </p>
        </div>
        <div class="section info">
                <h2>
                    <span class="int-en">Contact</span>
                    <span class="int-he">יצירת קשר</span>
                </h2>
                <p>
                    <span class="int-en">
                        If you have questions about making a donation, please contact Amelia Wolf at 347-773-0077
                        or <a href="mailto:amelia@sefaria.org">amelia@sefaria.org</a>.
                    </span>
                    <span class="int-he">
                        אם יש לכם שאלות לגבי תרומות, אנא צרו קשר עם אמיליה וולף במספר טלפון 650-600-8148 או באימייל <a href="mailto:amelia@sefaria.org">amelia@sefaria.org</a>.
                    </span>
                </p>
        </div>


    </div>
</div>
{% endblock %}
