{% extends "base.html" %}

{% block title %}Donate to Sefaria.org{% endblock %}

{% block content %}

<div id="donate" class="container doc">

<span class="row">
<span class="span8 offset2">

<h1>Donate to Sefaria</h1>
With your help, Sefaria will be the digital home of the Jewish canon and the platform for the future of Jewish commentary and publishing. Sefaria is a 501(c)(3) charitable organization; donations are tax-deductible as allowed by law (tax ID number: 46-440-6454).
<div id="aboutDonate">
	<div id="donateOptions">

		<div class="donateOption">
		<h3>Donate by Check</h3>
		Checks may be made payable to "Sefaria" and mailed to:<br><br>
<pre>Sefaria
c/o Daniel Septimus
174 Hudson Street, Sixth Floor
New York, NY 10013</pre>
	</div>

	<div class="donateOption">
		<h3>Donate Online</h3>
			Complete your donation online with NationBuilder and PayPal or credit card. To avoid processing fees on large donations, please donate by check or wire transfer.
			<br>
			<a class="btn btn-large btn-primary" href="http://sefaria.nationbuilder.com" target="_blank">
				Donate Now
			</a>
			<br>
			<i></i>
	</div>

	<div class="donateOption">
		<h3>Donate by Wire Transfer</h3>
		Please email <a href="mailto:annie@sefaria.org">annie@sefaria.org</a> for wire transfer instructions.
	</div>

</div>

<div id="info">
	<center><br>
	<b>Questions about donating?</b><br> Feel free to call Annie at 650-600-8148 or email <a href="mailto:annie@sefaria.org">annie@sefaria.org</a>.
</center>
	<!--
	<h3>Your tax deductible donation will support:</h3>
	<ul>
		<li>Software development for new features and services.</li>
		<li>Stipends for scholars creating work with free licenses.</li>
		<li>Learning programs encouraging learners to give back.</li>
	</ul>
	-->
</div>

	<div class="clear"></div>

</div>


</span></span>
</div>

{% endblock %}