{% extends "base.html" %}
{% load i18n static %}
{% load sefaria_tags %}

{% block meta_title %}{% meta_title %}{% trans "Teach with Sefaria" %}{% endmeta_title %}{% endblock %}

{% block meta_description %}{% meta_desc %}{% trans "Teach with Sefaria" %}{% endmeta_desc %}{% endblock %}

{% block css %}
{% endblock %}


{% block js %}
<script>
    {% autoescape off %}
    DJANGO_VARS.containerId = 'EducatorsInner';
    DJANGO_VARS.reactComponentName = 'EducatorsPage';
    {% endautoescape %}
</script>
{% endblock %}

{% block content %}
<div id="EducatorsOuter" class="staticPageFrame">
  <div id="EducatorsInner" class="staticPageInner">
    <h1 id="appLoading">Loading...</h1>
  </div>
</div>
{% endblock %}