{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% "Teach with Sefaria" %}{% endblock %}

{% block description %}{% "Teach with Sefaria" %}{% endblock %}

{% block css %}
{% endblock %}


{% block js %}
<script>
    {% autoescape off %}
    DJANGO_VARS.containerId = 'EducatorsInner';
    DJANGO_VARS.reactComponentName = 'EducatorsPage';
    {% endautoescape %}
</script>
{% endblock %}

{% block content %}
<div id="EducatorsOuter" class="staticPageFrame">
  <div id="EducatorsInner" class="staticPageInner">
    <h1 id="appLoading">Loading...</h1>
  </div>
</div>
{% endblock %}