{% extends "base.html" %}

{% block title %}Technology for Jewish Educators | Sefaria.org{% endblock %}

{% block content %}

<div id="educators" class="container doc">

<h1>Teaching with Sefaria</h1>
<div class="row">
	<div class="span12 docBrief">
		<p>Sefaria is working on the ambitious goal of creating a free, comprehensive, publicly licensed database of Jewish texts and their interconnections. Along the way we're also creating interactive tools to empower educators and make Jewish learning more engaging.</p> 
	</div>
</div>

<div class="row">
	<div class="span12">
	<p><b>Digital learning is coming</b>, and we all know it. Sefaria is making sure that the texts and tools of digital learning for the Jewish tradition are publicly licensed and open source. Below are a few tools and ideas for how Sefaria can help your classroom. But beyond what Sefaria can offer you, consider the following question:</p>
	<p><b>What if the learning in your classroom contributed something to the world of learning outside?</b> Put another way, what if your students felt that they weren't just taking in knowledge, but were also sharing it back to others who would value it? You can learn more about how Sefaria shares collective knowledge with the world on our <a href="/contribute">Guide to Contributing</a>.</p>
	
	</div>
</div>


<div class="row">
	<span class="span12"><h2><a href="/sheets">Sefaria Source Sheet Builder</a></h2></span>
	<div class="span6">
		<p>Our first app built on top of the Sefaria database, we made the Source Sheet Builder after hearing countless horror stories of the hoops educators jump through to make their source sheets.</p>
		<ul>
		<li>Create interactive, bilingual source sheets without the copy and paste.</li>
		<li>Print, save PDFs, or share a link on email, Facebook or Twitter.</li>
		<li>Give students one click access to a source's context and additional related texts.</li>
		<li>Keep your sheets private or publish them to share with the Sefaria community.</li>
		</ul>
	</div>
	<div class="span6" style="text-align:center;">
		<a href="/sheets"><img id="sheetsImg" src="/static/img/sheets.png"></a>
	</div>
</div>

<div class="row" id="studentProjects">
	<span class="span12"><h2>Projects for Students</h2></span>
	<span class="span12">
		<p>Sefaria allows students to work independently or in chavruta while keeping the results of their work in a place that is shared with a larger group. Sefaria's simple interface makes it easier for students to start exploring Jewish text indenpendently, while at the same time giving them a chance to contribute to something larger.</p>
	</span>
	<span class="span4">
		<h3>Assign Connections</h3>
		<p>Imagine asking 20 bright students to find a source with something to bear on the topic you're discussing. Now imagine those 20 perspective were tied together in one visible, interactive place. Sefaria allows you to visualize and record the conversations of your classroom. Learn more about <a href="/contribute#connections">adding connections on Sefaria</a>.</p>
	</span>
	<span class="span4">
		<h3>Assign Translations</h3>
		<p>Sefaria is perfect for breaking big projects into smaller pieces, giving your class a chance to perform a siyum on completing a project together. Sefaria lets everyone work on their on assignment, lets you see who is completing what, and allows students to review and offer corrections on each other's work. Learn more about <a href="/contribute#translate">translating on Sefaria</a>.</p>
	</span>
	<span class="span4">	
		<h3>Assign Source Sheets</h3>
		<p>A comprehensive source sheeet, complete with a student's interpretations on each source and their connections, is a great assignment for bringing together and synthesizing many points of view. Along the way students can add texts or translations that aren't yet available. Learn more about the <a href="/sheets">Sefaria Source Sheet Builder</a>.</p>
	</span>
</div>

<div class="row">
	<span class="span12"><h2>Optimized for iPad</h2></span>
	<span class="span12">
		<p>Sefaria's interfaces are optimized for iPad and other tablets to promote face to face learning. If your classroom includes iPads, try using Sefaria as a free resource for exploring texts and their interconnections.</p>
	</span>
</div>

</div>

{% endblock %}