{% extends "base.html" %}

{% block title %}Sefaria Translation Guidelines for Shulchan Arukh, Even HaEzer{% endblock %}

{% block content %}

<div id="" class="container doc legal">
	<div id="legalTabs">
		<a href="/translation-guidelines">Translation Guidelines</a>
		<a href="/transliteration-guidelines">Transliteration Guidelines</a>
		<a href="/even-haezer-guidelines" class="current">Even HaEzer Translation Guidelines</a>
	</div>
	<iframe src="https://docs.google.com/document/d/1ZsW0FQhC5dQHad70V2EyRMOG2iCW8RD5JZL_SDt26GU/pub?embedded=true"></iframe>
</div>
{% endblock %}