{% extends "base.html" %}

{% block title %}Sefaria.org: Frequently Asked Questions{% endblock %}

{% block content %}

<div id="faq" class="container doc">

<h1>Sefaria: Frequently Asked Questions</h1>

<h3>What’s with the name?</h3>

<p>Something old, something new&mdash;just like what we’re developing. Sefaria comes from the Hebrew root <i>Sefer</i> (a scroll or book), playing off of the Hebrew word <i>Sifria</i> (library), while at the same time evoking something new. We hope Sefaria will allow more people around the world to explore the world of Jewish texts. </p>


<h3>Can I trust that texts and translations on Sefaria are accurate?</h3>

<p>Sefaria is completely transparent about where our texts come from and who was involved in bringing them online. For any text you can see which people were involved in copying, editing or translating, and for every person you can see their complete history of activity on Sefaria. To get this project off the ground, we do not currently require that new texts or translations be formally reviewed before becoming visible on the site. Soon, however, that won’t be the case. We are working now on designing and building a review process to help ensure that all of our texts are vetted and of the highest quality.</p>


<h3>What if two people can’t agree on how to translate a text?</h3>

<p>Let them disagree! Sefaria is built to support multiple translations of each text and to make it easy for anyone to move between, or compare, different ways of translating. The translation we show you by default may be determined by its popularity, how favorably it’s been reviewed or (eventually) according to what fits with the personal preferences you’ve indicated to Sefaria.</p>


<h3>How does Sefaria make money?</h3>

<p>Sefaria is a non-commercial project, supported by donations from individuals and foundations. We’re not trying to make money, we’re trying to increase access to the Jewish textual tradition. </p>


<h3>Are you trying to put book publishers out of business?</h3>

<p>No. Because of our people’s quirky weekend and holiday reading habits, there will always be a place for printed books in the Jewish tradition. Our goal is to increase the total number of people who are interested in Jewish texts. That’s something we think publishers will be happy to see happen.</p> 


<h3>It seems like Sefaria is missing a lot of texts. When will it be complete?</h3>

<p>Sefaria is an ambitious project and will take many years to complete. Our scope is huge, but it isn’t infinite. What we’re thinking of as the core Jewish canon comprises around 1,000 texts. How long it will take us to get through these texts depends on two factors: (1) how many volunteers rise to the challenge and decide to contribute, and (2) how many people or institutions with existing texts and translations decide that Sefaria is a project they want to participate in. It’s currently too early to know for sure how these two factors will play out over the coming years. </p>


<h3>Will modern commentaries be included in Sefaria?</h3>

<p>Yes, although they may be presented differently than traditional, canonical commentaries. We want to offer access to as many points of view as possible, but we don’t want to impose points of view on anyone. Our first focus is in making the core texts of our tradition available. When we get to including modern and contemporary texts we may only display them once a reader has expressly asked to see them. Additionally, modern and contemporary texts that are under copyright will not be included without permission of the author or copyright holder.</p>


<h3>Can just anyone come in and edit a text in Sefaria?</h3>

<p>Unlike Wikipedia, Sefaria requires contributors to create an account and sign in before editing a text. Once an edit is made, it’s visible to the entire community on our <a href="/activity">Recent Activity</a> page and recorded publically on the user’s profile. Members of our community watch changes in real time, and may undo any edits that aren’t productive. If any user were to continually make inappropriate or abusive edits, we will ban their account and undo their edits per our <a href="/terms">Terms of Use</a>. We will soon be implementing a formal review process to make sure that all contributions to Sefaria have been actively vetted by a team of reviewers.</p>


<h3>Will Sefaria host translations in languages besides English?</h3>

<p>Yes. The Sefaria platform was designed with multiple languages in mind. We’d love to see texts available in Russian, Spanish, French or any other language our community requests. We’ll be opening up the ability to add translations in languages other than English soon.</p>


<h3>What features are you developing next?</h3>

<p>Take a look at our <a href="https://workflowy.com/shared/8b39e141-4a8a-e27f-f4d9-4504dbb81f0f/">Roadmap</a> for some of the bigger projects we have in mind, or browse through our <a href="/forum">forum</a> to see discussions of changes we’re thinking about. Of course if you know the next big thing we should be working on and you don't see it mentioned in places, <a href="/forum">let us know</a>.</p>


<p><b>Still have questions?</b> Post them to our <a href="/forum">forum</a> for discussion or send us an <a href="mailto:hello@sefaria.org">email</a>.


</div>

{% endblock %}