{% extends "base.html" %}

{% block title %}Help | Sefaria{% endblock %}

{% block content %}
<div id="helpPage" class="static">
    <div class="inner">
        <h1>
            <span class="int-en">Help</span>
            <span class="int-he"></span>
        </h1>

        <div class="section">
            <h2>
               <span class="int-en">Reading Texts</span>
               <span class="int-he"></span>
            </h2>
            <div class="description">
                <span class="int-en"></span>
                <span class="int-he"></span>
            </div>
           <iframe width="100%" height="370px" src="https://www.youtube.com/embed/eOHubXZ-j54?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
<!--
        <div class="section">
            <h2>
               <span class="en">Finding Texts</span>
               <span class="he"></span>
            </h2>
            <div class="description">
                <span class="en"></span>
                <span class="he"></span>
            </div>
           <iframe width="100%" height="370px" src="https://www.youtube.com/embed/0UIKCFESxyY?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="section">
            <h2>
               <span class="en">Reading Commentaries</span>
               <span class="he"></span>
            </h2>
            <div class="description">
                <span class="en"></span>
                <span class="he"></span>
            </div>
           <iframe width="100%" height="370px" src="https://www.youtube.com/embed/0UIKCFESxyY?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
!-->
        <div class="section">
            <h2>
               <span class="int-en">Introducing Source Sheets</span>
               <span class="int-he"></span>
            </h2>
            <div class="description">
                <span class="int-en"></span>
                <span class="int-he"></span>
            </div>
           <iframe width="100%" height="370px" src="https://www.youtube.com/embed/RGSbxcWRfs4?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="section">
            <h2>
               <span class="int-en">Finding Source Sheets</span>
               <span class="int-he"></span>
            </h2>
            <div class="description">
                <span class="int-en"></span>
                <span class="int-he"></span>
            </div>
           <iframe width="100%" height="370px" src="https://www.youtube.com/embed/IkJTqMkbSEE?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="section">
            <h2>
               <span class="int-en">Adding Sources to Your Sheet</span>
               <span class="int-he"></span>
            </h2>
            <div class="description">
                <span class="int-en"></span>
                <span class="int-he"></span>
            </div>
           <iframe width="100%" height="370px" src="https://www.youtube.com/embed/mWOsy_Gvjos?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
<!--
        <div class="section">
            <h2>
               <span class="en">Finding Sources for Your Sheet</span>
               <span class="he"></span>
            </h2>
            <div class="description">
                <span class="en"></span>
                <span class="he"></span>
            </div>
           <iframe width="100%" height="370px" src="https://www.youtube.com/embed/0UIKCFESxyY?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
-->
        <div class="section">
            <h2>
               <span class="int-en">Adding Texts not in Sefaria</span>
               <span class="int-he"></span>
            </h2>
            <div class="description">
                <span class="int-en"></span>
                <span class="int-he"></span>
            </div>
           <iframe width="100%" height="370px" src="https://www.youtube.com/embed/fKNrBTNyQYA?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>

<!--

        <div class="section">
            <h2>
               <span class="en">Adding Images & Videos to Your Sheet</span>
               <span class="he"></span>
            </h2>
            <div class="description">
                <span class="en"></span>
                <span class="he"></span>
            </div>
           <iframe width="100%" height="370px" src="https://www.youtube.com/embed/0UIKCFESxyY?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="section">
            <h2>
               <span class="en">Printing Source Sheets</span>
               <span class="he"></span>
            </h2>
            <div class="description">
                <span class="en"></span>
                <span class="he"></span>
            </div>
           <iframe width="100%" height="370px" src="https://www.youtube.com/embed/0UIKCFESxyY?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="section">
            <h2>
               <span class="en">Finding Sources for Your Sheet</span>
               <span class="he"></span>
            </h2>
            <div class="description">
                <span class="en"></span>
                <span class="he"></span>
            </div>
           <iframe width="100%" height="370px" src="https://www.youtube.com/embed/0UIKCFESxyY?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="section">
            <h2>
               <span class="en">Adding Texts not in Sefaria</span>
               <span class="he"></span>
            </h2>
            <div class="description">
                <span class="en"></span>
                <span class="he"></span>
            </div>
           <iframe width="100%" height="370px" src="https://www.youtube.com/embed/0UIKCFESxyY?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        -->
    </div>
</div>

{% endblock %}



<!--
Finding Interconnections
Copying Source Sheets
Assignments 
Taking Notes
Sharing a Text
Comparing Texts
Search
Making a Profile
Finding Your Friends on Sefaria
->
