{% extends "base.html" %}
{% load i18n %}

{% block title %}Sefaria App Dedication{% endblock %}

{% block css %}
    #koschitzky p {
        margin-bottom: 20px;
    }
{% endblock %}



{% block content %}
<div id="koschitzky" class="biReady container static">
    <div class="categoryColorLineRainbow"></div>
    <div class="inner">
        <h1>
            <span class="int-en">Sefaria App for iOS and Android</span>
            <span class="int-he">האפליקציה של ספריא עבור אנדרואיד ו-iOS</span>
            <p class="tagline">
                <span class="int-en">
                    Dedicated in honor of Henry and Julia Koschitzky by their children
                </span>
                <span class="int-he">
                    מוקדש לכבודם של הנרי וג'וליה קושיצקי ע''י ילדיהם
                </span>
            </p>

        </h1>
        <div class="section">

            <p class="first">
                <span class="int-en">
                    Inspired by the values of tzedaka and communal obligation, Henry and Julia have devoted their lives to strengthening Jewish education and ensuring basic social welfare in Canada, the US, and Israel.  It is a privilege to release these apps in their honor.
                </span>
                <span class="int-he">
                    בהשראת הערכים של צדקה וחובה קהילתי, הנרי וג'וליה הקדישו את חייהם לחזק חינוך יהודי ולאפשר רווחה חברתית לקהילות בקנדה, ארה''ב, וישראל. ספריא מתכבדת להשיק את האפליקציות שלנו לכבודם.
                </span>
            </p>

            <p>
                <span class="int-en">
                    The apps makes the richness of Sefaria’s free, digital library and all of its resources available anywhere in the world with just the tap of a finger. The apps mirror Sefaria’s web platform in both beauty and simplicity, and contain all of the same textual resources  – Tanakh and Talmud with commentaries, Midrash, Kabbalah, Halakha, Musar, philosophy, and more.
                </span>
                <span class="int-he">
                    האפליקציות מנגישות את העושר של הספרייה הדיגיטלית וחינמית שלנו לכל העולם, עם ההקשה של אצבע אחת בלבד. האפליקציות משקפות את אתר האינטרנט שלנו במלואו, גם מבחינת היופי וגם הפשטות שלו, ומכילות את אותם משאבים טקסטואליים -- תנ''ך ותלמוד עם פירושים, מדרש, קבלה, הלכה, מוסר, מחשבת ישראל, ועוד.
                </span>
            </p>

            <p>
                <span class="int-en">
                    We are enormously grateful not only to Henry and Julia for their leadership and example, but to the entire Koschitzky family for their continued friendship. The family served as founding supporters of Sefaria, and Sefaria is honored to partner with them in releasing these apps.
                </span>
                <span class="int-he">
                    אנו אסירי תודה להנרי ולג'וליה לא רק עבור המנהיגות ודוגמא אישית שלהם, אלא גם לכל בני משפחת קושיצקי עבור הרעות המתמשכת ביננו. משפחת קושיצקי הייתה אחת התורמים הראשוניים שלנו, ומתכבדים לעבוד איתם שוב כדי להשיק את האפליקציות.
                </span>
            </p>

            <p class="quotation">
                <a class="refLink" href="/Psalms.128.2">
                <span class="int-en">
                    You shall enjoy the fruit of your labors; you shall be happy and you shall prosper.
                <br>
                Psalms 128:2</span>
                </a>
            </p>

            <p class="quotation">
                <a class="refLink" href="/Psalms.128.2">
                <span class="he">
                 יגיע כפיך כי תאכל אשריך וטוב לך
                <br>
                    (תהילים קכ"ח)
                </span>
                </a>
            </p>

        </div>

    </div>
</div>
{% endblock %}
