{% extends "base.html" %}

{% load cache %}
{% load humanize %}
{% load sefaria_tags %}

{% block title %}Sefaria: a Living Library of Jewish Texts Online{% endblock %}

{% block head %}
    <meta property="og:title" content="Sefaria.org : a Living Library of Jewish Texts Online"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.sefaria.org"/>
    <meta property="og:image" content="http://www.sefaria.org/static/img/fb-og-image.png"/>
{% endblock %}

{% block css %}
    html, body {
        height: auto;
        overflow-x: hidden;
        padding: 0 !important;
    }
    html, body, p {
        font-family: Montserrat, Helvetica, Ariel, san-serif;
    }
    #languageToggle {
        display: inline;
    }
    #languageToggle #bilingual {
        display: none;
    }
    .wf-loading {
        visibility: hidden;
    }
    .wf-active {
        visibility: visible;
    }
{% endblock %}

{% block content %}

<div id="home" class='biReady'>

    <div id="homeTitle">
        <div id="underlay"></div>
        <div id="homeTitleBox">
            <h1>
                <span class='en'>Sefaria is a living library of Jewish texts.</span>
                <span class='he'>ספאריה היא ספריה חיה של טקסטים יהודיים</span>
            </h1>
            <div id="subBox">
                <div id="sub">
                    <span class="en">
                        In a beautiful interface, fully interconnected, with parallel translations, for free.
                    </span>
                    <span class="he">
                        קישורים מלאים בין הטקסטים, ממשק יפה ונוח, תרגומים מקבילים ובחינם.
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id="homeColumns">
        <div class="homeColumn blue">
            <h2>
                <span class='en'>Learn</span>
                <span class='he'>למידה</span>
                <div class="triangle"></div>
            </h2>
            <div class="columnLinks">
                <div id="exploreTexts" class="columnLink">
                    <i class="fa fa-compass"></i>
                    <span class='en'>Explore Our Texts</span>
                    <span class='he'>דפדפו בספריית הטקסטים</span>
                </div>
                <a class="columnLink" href="/Genesis.1">
                    <i class="fa fa-book"></i>
                    <span class='en'>Genesis Chapter 1</span>
                    <span class='he'>בראשית א'</span>
                </a>
                <div id="textsTutorial" class="columnLink">
                    <i class="fa fa-film"></i>
                    <span class='en'>How To: Texts</span>
                    <span class='he'>סרטון הדרכה - למידה</span>
                </div>
            </div>             
        </div><!--
        --><div class="homeColumn purple">
            <h2>
                <span class='en'>Teach</span>
                <span class='he'>הוראה</span>
                <div class="triangle"></div>                
            </h2>
            <div class="columnLinks">
                <a class="columnLink" href="/sheets">
                    <i class="fa fa-file-text-o"></i>
                    <span class='en'>Make a Source Sheet</span>
                    <span class='he'>צרו דף מקורות</span>
                </a>
                <a class="columnLink" href="/sheets/public">
                    <i class="fa fa-comments-o"></i>
                    <span class='en'>Public Source Sheets</span>
                    <span class='he'>דפי מקורות לשימוש כללי</span>
                </a>
                <div id="sheetsVideo" class="columnLink">
                    <i class="fa fa-question-circle"></i>
                    <span class='en'>How it Works</span>
                    <span class='he'>סרטון הדרכה - דפי מקורות</span>
                </div>
            </div>               
        </div><!--
        --><div class="homeColumn grey">
            <h2>
                <span class='en'>Calendar</span>
                <span class='he'>לוח יומי</span>
                <div class="triangle"></div>
            </h2>
            <div id="calendar">
                <div class="calendarSection">
                    <b>
                        <span class='en'>Parashat HaShavua</span>
                        <span class='he'>פרשת השבוע</span>
                    </b>
                    <a href="/{{ parasha.ref|url_safe }}">{{ parasha.parasha }}: {{ parasha.ref }}</a>
                    {% if parasha.haftara|length > 1 %}
                        <span class="floatLeft">Haftara:</span>
                        {% for haftara in parasha.haftara %}
                            <a class="floatLeft"  href="/{{ haftara|url_safe }}">{{ haftara }}</a>
                        {% endfor %}
                        <div class="clear"></div>
                    {% else %}
                        <a href="/{{ parasha.haftara.0|url_safe }}">
                            <span class="en">Haftara:</span><span class="he">הפטרה</span> {{ parasha.haftara.0 }}
                        </a>
                    {% endif %}
                    {{ parasha.shabbat_name|default:"" }}
                </div>
                <div class="line"></div>
                <div class="calendarSection">
                    <b>
                        <span class='en'>Daf Yomi</span>
                        <span class='he'>דף יומי</span>
                    </b>
                    <a href="/{{ daf_today.url }}">Today: {{ daf_today.name }}</a>
                    <a href="/{{ daf_tomorrow.url }}">Tomorrow: {{ daf_tomorrow.name }}</a>
                </div>
            </div>             
        </div>
    </div>

    <div id="homeCards">
        <a class="homeCard" href="/explore">
            <h2>
                <span class='en'>Link Explorer</span>
                <span class='he'>מפת ציטוטים  </span>
            </h2>
            <img src="/static/img/explorer-in-laptop.png" />
            <div class="description">
                <span class="en">Visually explore connections between Talmud and Tanach.</span>
                <span class="he">תרשים המראה את ציטוטי המקרא בתלמוד הבבלי</span>
            </div>
        </a>

         <a class="homeCard" href="http://blog.sefaria.org">
            <h2>
                <span class='en'>Blog</span>
                <span class='he'>בלוג</span>
            </h2>
            <img src="/static/img/blog-image.png" />
            <div class="description">
                <span class="en">User Spotlight: Make-Your-Own Haggadah Contest Winner</span>
                <span class="he">משתמש מצטיין: זוכה בתחרות "צור הגדה"</span>
            </div>

        </a>
    </div>

    <div id="homeMetrics">
        <h1> 
		<span class="en">Sefaria is building the future of Jewish learning in an open and participatory way.</span>
		<span class="he">ספאריה שואפת לבנות את עתיד לימוד המקורות היהודיים בצורה פתוחה ומשותפת</span>
		</h1>
        
        <p class="statsCircle grey1">
            <span class="wordCount">{{ metrics.contributors|intcomma }}</span>
            <span class='en'>Contributors</span>
            <span class='he'>משתמשים שתרמו טקסטים</span>
        </p>

        <p class="statsCircle grey2">
            <span class="wordCount">{{ metrics.sheets|intcomma }}</span>
            <span class='en'>Source Sheets</span>
            <span class='he'>דפי מקורות</span>
        </p>

        <p class="statsCircle grey3">
            <span class="wordCount">{{ metrics.links|intcomma }}</span>
            <span class='en'>Textual Connections</span>
            <span class='he'>הפניות וקישורים</span>
        </p>

        <p class="statsCircle blue">
            <span class="wordCount">{{ metrics.transWords|intcomma }}</span>
            <span class='en'>Words of Translation</span>
            <span class='he'>מלים שתורגמו ע"י קהילת ספאריה</span>

        </p>

        <p class="statsCircle purple">
            <span class="wordCount">{{ metrics.heWords|add:metrics.transWords|intcomma }}</span>
            <span class='en'>Total Words</span>
            <span class='he'>מילים במאגר</span>
        </p>

        <a href="/metrics" id="moreMetrics">
            <span class='en'>See More Metrics</span>
            <span class='he'>מדדים נוספים</span>
        </a>

        <p id="metricsMessage">
            <span class="en">Our scope is Torah in the broadest sense, from Tanach to Talmud to Zohar to modern texts and all the volumes of commentary inbetween.</span>
            <span class="he">ספאריה שואפת לכלול את התורה במובנה הרחב- מהתלמוד ועד הזוהר, מהתנ"ך ועד טקסטים בני ימינו</span>
        </p>

        <div class="btn">
            <span class="en">Get Involved</span>
            <span class="he">הצטרף לעשייה</span>
        </div>
    </div>

    <div id="homeDonate">
        <h2>
            <span class='en'>We need your help</span>
            <span class='he'>אנו זקוקים לעזרתכם</span>
        </h2>

        <p>
            <span class="en">Sefaria is an open source, not-for-profit project.<br>Support us by making a tax deductibale donation.</span>
            <span class="he">ספאריה היא פרויקט ללא מטרת רווח, שפותחה בקוד פתוח <br>כל תרומה תתקבל בברכה, תרומות לספאריה מוכרות לצרכי מס </span>
        </p>

        <div class="btn">
            <span class="en">Make a Donation</span>
            <span class="he">תרום</span>
        </div>
    </div>

    <div id="homeConnect">
        <div id="homeConnectBox">
            <h1>Stay Connected</h1>
            <div id="mailingListBox">
                <h3>
                    <span class="en">Subscribe to our mailing list</span>
                    <span class="he">הצטרפו לרשימת התפוצה</span>
                </h3>
                <input id="mailingListEmail" placeholder="Email">
                <span id="subscribe" class="btn">
                    <span class="en">Subscribe</span>
                    <span class="he">הרשמו</span>
                </span>
                <div id="subscribeMsg">&nbsp;</div>
            </div>

            <a href="http://github.com/blockspeiser/Sefaria-Project" class="followButton">
                <i class="fa fa-github"></i>
                <span class="en">Fork us on GitHub</span>
                <span class="he">זלגו חופשי</span>
            </a>

            <a href="http://www.twitter.com/SefariaProject" class="followButton">
                <i class="fa fa-twitter"></i>
                <span class="en">Follow us on Twitter</span>
                <span class="he">עקבו אחרינו בטוויטר</span>
            </a>

            <a href="http://www.facebook.com/sefaria.org" class="followButton">
                <i class="fa fa-facebook"></i>
                <span class="en">Like us on Facebook</span>
                <span class="he">אהבו אותנו בפייסבוק</span>
            </a>
        </div>
    </div>

    <a id="donateButton" href="/donate">
        <span class='en'>Donate</span>
        <span class='he'>תרומות</span>
    </a>

</div>

{% endblock %}

{% block js %}
    <script>
        $(function() {
            $("#exploreTexts").click(function(e) {
                console.log("explore")
                $("#navPanel").addClass("navPanelOpen");
                sjs.track.event("Home", "Explore Texts", "");
                e.stopPropagation();
            });
            $("#textsTutorial").click(function() {
                sjs.help.open();
                sjs.help.openVideo("tutorial");
                sjs.track.event("Home", "Texts Video", "");
            });
            $("#sheetsTutorial").click(function() {
                sjs.help.open();
                sjs.help.openVideo("sheets");
                sjs.track.event("Home", "Sheets Video", "");
            });

            // Email List
            $("#subscribe").click(function() {
                var email = $("#mailingListEmail").val();
                if (isValidEmailAddress(email)) {
                    sjs.track.event("Home", "Subscribe from Homepage", "");
                    $("#subscribeMsg").html("<i>Subscribing...</i>");
                    $.post("/api/subscribe/" + email, function(data) {
                        if ("error" in data) {
                            $("#subscribeMsg").text(data.error);
                        } else {
                            $("#subscribeMsg").text("Subscribed! Welcome to our list.");
                        }
                    }).error(function(data) {
                        $("#subscribeMsg").text("Sorry, there was an error.");
                    })
                } else {
                    $("#subscribeMsg").text("Sorry, that's not a valid email address.");
                }
            });
            $("#mailingListEmail").keyup(function(e){
                if (e.keyCode === 13) {
                    $("#subscribe").trigger("click");   
                }
            });

        });


    </script>
{% endblock %}