{% extends "base.html" %}
{% load i18n cache humanize sefaria_tags static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block title %}{% trans "Sefaria: a Living Library of Jewish Texts Online" %}{% endblock %}

{% block description %}{% trans "The largest free library of Jewish texts available to read online in Hebrew and English including Torah, Tanakh, Talmud, Mishnah, Midrash, commentaries and more." %}{% endblock %}

{% block head %}
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://{{ request.META.HTTP_HOST }}"/>
    <link rel="canonical" href="https://{{ request.META.HTTP_HOST }}" />
    {% autoescape off %}
    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{% trans "Sefaria" %}",
      "url": "https://{{ request.META.HTTP_HOST }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "https://{{ request.META.HTTP_HOST }}/search?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
    </script>

    <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Organization",
      "name": "{% trans "Sefaria" %}",
      "url": "https://{{ request.META.HTTP_HOST }}",
      "logo": "https://{{ request.META.HTTP_HOST }}{{ STATIC_PREFIX }}img/Sefaria_icon_360_square.jpg",
      "sameAs": [
        "https://www.facebook.com/sefaria.org/",
        "https://www.youtube.com/user/SefariaProject",
        "https://github.com/Sefaria"
      ]
    }
    </script>
    {% endautoescape %}
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}

    <div id="homePage" class="static biReady">
        <div id="homeCover">
            <video id="homeVideo" poster="{% static 'img/home-video.jpg' %}" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
                <source src="{% static 'img/home-video.webm' %}" type="video/webm">
                <source src="{% static 'img/home-video.mp4' %}" type="video/mp4">
                Video of sofer writing letters of the Torah
            </video>
            <h1 class="featureTitle">
                <span class="int-en">A Living Library of Jewish Texts</span>
                <span class="int-he">ספרייה חיה של טקסטים יהודיים</span>
            </h1>
            <div class="sub">
                <span class="int-en">Explore 3,000 years of Jewish texts in Hebrew and English translation. <a href="/about">Learn More &rsaquo;</a></span>
                <span class="int-he">3,000 שנה של טקסטים יהודיים בעברית ובתרגום לאנגלית פרוסים לפניכם. <a href="/about">לקריאה נוספת&rsaquo;</a></span>
            </div>
            <a href="/Genesis.1">
                <div class="button white control-elem">
                    <span class="int-en">Start at the Beginning</span>
                    <span class="int-he">צאו לדרך</span>
                </div>
            </a>
        </div>

        <div id="homeLearn" class="section textLeft">
            <div class="sectionInner">
                <div class="textBox">
                    <h2>
                        <span class="int-en">Start Learning</span>
                        <span class="int-he">למידה</span>
                    </h2>
                    <div class="description systemText">
                        <span class="int-en">Learning on Sefaria is simple, beautiful and powerful. Find commentaries, connections and translations across our free, ever-growing library of texts.</span>
                        <span class="int-he">למידה בספריא היא תהליך פשוט, יפיפה ורב־עוצמה. מצאו פרשנויות, קשרים אינטרטקסטואליים ותרגומים ברחבי ספריית הטקסטים החינמית והמתרחבת שלנו.</span>
                    </div>
                    <a href="/texts">
                        <div class="button white control-elem">
                            <span class="int-en">Explore the Library &rsaquo;</span>
                            <span class="int-he">גלו את הספרייה &rsaquo; </span>
                        </div>
                    </a>
                </div>
                <div class="imageBox">
                    <a class="refLink blockLink" href="/{{ parasha.url }}" style="border-color: rgb(0, 78, 95);">
                        <span class="int-en">Parashah</span>
                        <span class="int-he">פרשה</span>
                    </a>
                    <a class="refLink blockLink" href="/{{ daf_today.url }}" style="border-color: rgb(204, 180, 121);">
                        <span class="int-en">Daf Yomi</span>
                        <span class="int-he">דף יומי</span>
                    </a>
                    <a class="refLink blockLink" href="/texts/Liturgy/Haggadah" style="border-color: rgb(171, 78, 102);">
                        <span class="int-en">Haggadah</span>
                        <span class="int-he">הגדה של פסח</span>
                    </a>
                    <a class="refLink blockLink" href="/Pirkei_Avot.1" style="border-color: rgb(90, 153, 183);">
                        <span class="int-en">Pirkei Avot</span>
                        <span class="int-he">פרקי אבות</span>
                    </a>
                    <a class="refLink blockLink" href="/Bereishit_Rabbah.1" style="border-color: rgb(93, 149, 111);">
                        <span class="int-en">Midrash Rabbah</span>
                        <span class="int-he">מדרש רבה</span>
                    </a>
                    <a class="refLink blockLink" href="/Shulchan_Arukh,_Orach_Chayyim.1" style="border-color: rgb(128, 47, 62);">
                        <span class="int-en">Shulchan Arukh</span>
                        <span class="int-he">שולחן ערוך</span>
                    </a>

                </div>
            </div>
        </div>


        <div id="homeMobile" class="section textRight">
            <div class="sectionInner">
                <div class="textBox">
                    <h2>
                        <span class="int-en">Sefaria Mobile</span>
                        <span class="int-he">ספריא בנייד</span>
                    </h2>
                    <div class="description systemText">
                        <span class="int-en">
                            Enjoy Sefaria's entire library and all of its links and interconnections on-the-go.
                            Sefaria’s apps for Android and iOS available to download for free.
                        </span>
                        <span class="int-he">
                            הספרייה המלאה של ספריא, הכוללת את כל קישורים חיצוניים ופנימיים, זמינה גם בטלפון הנייד.
                            היישומונים (אפליקציות) של ספריא לאנדרואיד ולאייפון זמינים עכשיו להורדה ללא תשלום.
                        </span>

                    </div>
                    <a href="https://play.google.com/store/apps/details?id=org.sefaria.sefaria" target="_blank">
                        <div class="button white control-elem">
                            <i class="fa fa-android"></i>
                            <span class="int-en">Get Android App &rsaquo;</span>
                            <span class="int-he"> הורדה לאנדרואיד &rsaquo;</span>
                        </div>
                    </a>
                    <a href="https://itunes.apple.com/us/app/sefaria/id1163273965?ls=1&mt=8" id="iOSButton" target="_blank">
                        <div class="button white control-elem">
                            <i class="fa fa-apple"></i>
                            <span class="int-en">Get iOS App &rsaquo;</span>
                            <span class="int-he"> הורדה לאייפון &rsaquo;</span>
                        </div>
                    </a>
                </div>
                <div class="imageBox">
                    <img src="{% static 'img/home-mobile.png' %}" alt="Image of Sefaria on mobile phones" />
                </div>
            </div>
        </div>


        <div id="homeSheets" class="section textLeft">
            <div class="sectionInner">
                <div class="textBox">
                    <h2>
                        <span class="int-en">Make a Source Sheet</span>
                        <span class="int-he">דפי מקורות</span>
                    </h2>
                    <div class="description systemText">
                        <span class="int-en">Mix and match sources from our library, as well as outside sources, along with your comments, images and videos.</span>
                        <span class="int-he">תוכלו לשלב מקורות מהספרייה שלנו עם מקורות חיצוניים ולהוסיף הערות, תמונות וסרטונים.</span>
                    </div>
                    <a href="/sheets/new">
                        <div class="button control-elem">
                            <span class="int-en">Start a Sheet &rsaquo;</span>
                            <span class="int-he">צרו דף מקורות &rsaquo;</span>
                        </div>
                    </a>
                    <a href="/sheets">
                        <div class="button white control-elem">
                            <span class="int-en">Explore Sheets &rsaquo;</span>
                            <span class="int-he">סיירו בדפי המקורות &rsaquo;</span>
                        </div>
                    </a>
                </div>
                <div class="imageBox bordered">
                    <a href="/sheets">
                        <img src="{% static 'img/home-sheets.png' %}" alt="Image of printed Sefaria source sheets" />
                    </a>
                </div>
            </div>
        </div>


        <div id="homeExplore" class="section textRight">
            <div class="sectionInner">
                <div class="textBox">
                     <h2>
                        <span class="int-en">Link Explorer</span>
                        <span class="int-he">קשרים אינטרטקסטואליים</span>
                    </h2>
                    <div class="description systemText">
                        <span class="int-en">Explore more than 30,000 connections between the Talmud and Tanakh in our interactive data visualization. </span>
                        <span class="int-he">יותר מ־30,000 קשרים בין התלמוד לתנ"ך מוצגים באינפוגרפיקה דינמית</span>
                    </div>
                    <a href="/explore">
                        <div class="button white control-elem">
                            <span class="int-en">Explore Connections &rsaquo;</span>
                            <span class="int-he">גרף הקשרים &rsaquo;</span>
                        </div>
                    </a>
                </div>
                <div class="imageBox bordered">
                    <a href="/explore">
                        <img src="{% static 'img/home-explore.png' %}" alt="Image of networked text" />
                    </a>
                </div>
            </div>
        </div>


        <div id="homeEducators" class="section textLeft">
            <div class="sectionInner">
                <div class="textBox">
                     <h2>
                        <span class="int-en">Educators</span>
                        <span class="int-he">מחנכים ומחנכות</span>
                    </h2>
                    <div class="description systemText">
                        <span class="int-en">Discover Sefaria’s potential in the classroom, connect with other educators and learn to integrate Sefaria into your teaching.</span>
                        <span class="int-he">קראו עוד על יתרונות השימוש בספריא בכיתת הלימוד, צרו קשר עם אנשי חינוך אחרים בתחום ולמדו כיצד לשלב את ספריא בהוראה.</span>
                    </div>
                    <a href="/educators">
                        <div class="button white control-elem">
                            <span class="int-en">Learn More &rsaquo;</span>
                            <span class="int-he">קראו עוד &rsaquo;</span>
                        </div>
                    </a>
                </div>
                <div class="imageBox bordered">
                    <a href="/educators">
                        <img src="{% static 'img/ed-groups.png' %}" alt="Image of an educator with students" />
                    </a>
                </div>
            </div>
        </div>

        <!--
        <div id="homeBlog" class="section center"/>
            <div class="sectionInner">
                <div class="blogTag">
                    <span class="int-en">Blog</span>
                    <span class="int-he">בלוג</span>
                </div>
                <h2>
                    <span class="int-en">The Sefaria Blog</span>
                    <span class="int-he"></span>
                </h2>
                <div class="blogText">
                    <span class="int-en">Stay up to date with Sefaria’s latest features and get a behind-the-scenes look at product development and library expansion plans.</span>
                    <span class="int-he"></span>
                </div>
                <a href="http://blog.sefaria.org">
                    <span class="int-en">Read More &rsaquo;</span>
                    <span class="int-he"></span>
                </a>
            </div>
        </div>
        -->

        <div id="homeProgress" class="section center">
            <div class="sectionInner">
                <h3 class="sans">
                    <span class="int-en">Our Progress</span>
                    <span class="int-he">ספריא במספרים</span>
                </h3>
                <p class="stat">
                    <img class="statIcon" src="{% static 'img/progress-contributors.png' %}" alt="">
                    <span class="wordCount">{{ metrics.contributors|intcomma }}</span>
                    <span class="stat-name">
                        <span class="int-en">Contributors</span>
                        <span class="int-he">משתמשים שתרמו טקסטים</span>
                    </span>
                </p>

                <p class="stat">
                    <img class="statIcon" src="{% static 'img/progress-sheets.png' %}" alt="">
                    <span class="wordCount">{{ metrics.sheets|intcomma }}</span>
                    <span class="stat-name">
                        <span class="int-en">Source Sheets</span>
                        <span class="int-he">דפי מקורות</span>
                    </span>
                </p>

                <p class="stat">
                    <img class="statIcon" src="{% static 'img/progress-connections.png' %}" alt="">
                    <span class="wordCount">{{ metrics.links|intcomma }}</span>
                    <span class="stat-name">
                        <span class="int-en">Connections</span>
                        <span class="int-he">הפניות וקישורים</span>
                    </span>
                </p>

                <p class="stat">
                    <img class="statIcon" src="{% static 'img/progress-translation.png' %}" alt="">
                    <span class="wordCount">{{ metrics.transWords|intcomma }}</span>
                    <span class="stat-name">
                        <span class="int-en">Words of Translation</span>
                        <span class="int-he">מילים מתורגמות</span>
                    </span>
                </p>

                <p class="stat">
                    <img class="statIcon" src="{% static 'img/progress-words.png' %}" alt="">
                    <span class="wordCount">{{ metrics.heWords|add:metrics.transWords|intcomma }}</span>
                    <span class="stat-name">
                        <span class="int-en">Total Words</span>
                        <span class="int-he">מילים במאגר</span>
                    </span>
                </p>

                <a href="/metrics" id="moreMetrics">
                    <div class="button white control-elem">
                        <span class="int-en">More Metrics &rsaquo;</span>
                        <span class="int-he">מדדים נוספים &rsaquo;</span>
                    </div>
                </a>
            </div>
        </div>

        <div id="homeHelp" class="section center">
            <div class="sectionInner">
                <h2>
                    <span class="int-en">We Need Your Help</span>
                    <span class="int-he">אנו זקוקים לעזרתכם</span>
                </h2>
                <div class="description systemText">
                    <span class="int-en">Sefaria is an open source, nonprofit project. Support us by making a tax-deductible donation.</span>
                    <span class="int-he">פרויקט ספריא פתוח לקהל הרחב (open source) ללא מטרות רווח. תמכו בנו באמצעות תרומה פטורה ממס.</span>
                </div>
                <a href="/donate">
                    <div class="button control-elem">
                        <span class="int-en">Make a Donation</span>
                        <span class="int-he">תרמו לנו</span>
                    </div>
                </a>
            </div>
        </div>

        <div id="homeConnect" class="section center">
            <div class="sectionInner">
                <h2>
                    <span class="int-en">Stay Connected</span>
                    <span class="int-he">הישארו מחוברים</span>
                </h2>
                <div id="mailingListBox">
                    <div id="mailingListTitle" class="systemText">
                        <span class="int-en">Subscribe to our mailing list</span>
                        <span class="int-he">הצטרפו לרשימת הדיוור שלנו</span>
                    </div>
                    <input id="mailingListEmail" title="Subscribe to our mailing list by entering your email here" placeholder="{% trans 'Email Address' %}">
                    <span id="subscribe" class="button control-elem">
                        <span class="int-en">Subscribe</span>
                        <span class="int-he">הירשמו</span>
                    </span>
                    <div id="subscribeMsg">&nbsp;</div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block js  %}
    <script>
    $(function() {
        // Email List
        $("#subscribe").click(function() {
            var email = $("#mailingListEmail").val();
            if (Sefaria.util.isValidEmailAddress(email)) {
                Sefaria.track.event("Home", "Subscribe from Homepage", "");
                $("#subscribeMsg").html('{% trans "<i>Subscribing...</i>" %}').show();
                var list = Sefaria.interfaceLang == "hebrew" ? "Announcements_General_Hebrew" : "Announcements_General"
                $.post("/api/subscribe/" + email + "?lists=" + list,  function(data) {
                    if ("error" in data) {
                        $("#subscribeMsg").text(data.error).show();
                    } else {
                        $("#subscribeMsg").text('{% trans "Subscribed! Welcome to our list." %}').show();
                    }
                }).error(function(data) {
                    $("#subscribeMsg").text('{% trans "Sorry, there was an error." %}').show();
                })
            } else {
                $("#subscribeMsg").text('{% trans "Please enter a valid email address." %}').show();
            }
        });
        $("#mailingListEmail").keyup(function(e){
            if (e.keyCode === 13) {
                $("#subscribe").trigger("click");
            }
        });
    });
    </script>
{% endblock %}
