{% extends "base.html" %}

{% block title %}Sefaria iOS{% endblock %}

{% block content %}
<div id="iosPage" class="static">
    <div class="inner">
        <h1>
            <span class="int-en">Sefaria for iOS</span>
            <span class="int-he"></span>
        </h1>

        <div class="section">
            <center>
            <div class="button white control-elem">
                <i class="fa fa-apple"></i>
                <span class="int-en">Get iOS App &rsaquo;</span>
                <span class="int-he">הורדה לאייפון &rsaquo;</span>
            </div>
            <br><br><br>
            </center>
        </div>

        <div class="section">

            <p>
                <span class="int-en">For app questions and feedback send an email to our <a href="mailto:ios@sefaria.org">iOS team</a>.</span>
                <span class="int-he"></span>
            </p>

            <p>
                <span class="int-en">For general questions about Sefaria and our library questions and feedback send an email to <a href="mailto:hello@sefaria.org">hello@sefaria.org</a>.</span>
            </p>

            <p>
                <span class="int-en">To report any textual issues, please email <a href="mailto:corrections@sefaria.org">corrections@sefaria.org</a>.</span>
                <span class="int-he"></span>
            </p>

            <p>
                <span class="int-en">If you want to get early access to the new features and help us make it great, please <a href="https://docs.google.com/forms/d/11lGSY0GCnkZHYI6_OUd51yT68whHE3bLVt1T9ITlpGE/viewform" target="_blank">sign up to be a beta tester</a>.</span>
                <span class="int-he"></span>
            </p> 
            
            <p>
                <span class="int-en">Sefaria’s iOS app was generously sponsored in honor of Henry Koschitzky’s 80th birthday by his children.</span>
                <span class="int-he">אפליקציית הiOS של ספאריה היא בחסות ילדיו של הנרי קושיצקי לכבוד יום הולדתו ה80</span>
            </p>

        </div>      
    </div>
</div>

{% endblock %}
