{% extends "base.html" %}

{% block title %}Sefaria iOS{% endblock %}

{% block content %}
<div id="iosPage" class="static">
    <div class="inner">
        <h1>
            <span class="en">Sefaria for iOS</span>
            <span class="he"></span>
        </h1>

        <div class="section">
            <p>The Sefaria iOS app is currently in development! We'll let you know as soon as it is ready if you sign up on our <a href="/connect">mailing list</a>, or follow us on <a href="http://www.facebook.com/sefaria.org" target="_blank">Facebook</a> or <a href="http://www.twitter.com/SefariaProject" target="_blank">Twitter</a>.</p>

            <p>If you want to get early access to the app and help us make it great, please <a href="https://docs.google.com/forms/d/11lGSY0GCnkZHYI6_OUd51yT68whHE3bLVt1T9ITlpGE/viewform" target="_blank">sign up to be a beta tester</a>.</p> 

        </div>      
    </div>
</div>

{% endblock %}
