{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Sefaria iOS" %}{% endblock %}

{% block description %}{% endblock %}

{% block content %}
<div id="iosPage" class="static biReady">
    <div class="inner">
        <h1>
            <span class="int-en">Sefaria for iOS</span>
            <span class="int-he">ספריא לאייפון</span>
        </h1>

        <div class="section">
            <div class="single-button center">
                <a href="https://itunes.apple.com/us/app/sefaria/id1163273965?ls=1&mt=8" target="_blank">
                    <div class="button white control-elem">
                        <i class="fa fa-apple"></i>
                        <span class="int-en">Get iOS App &rsaquo;</span>
                        <span class="int-he"> הורדה לאייפון &rsaquo;</span>
                    </div>
                </a>
            </div>
        </div>

        <div class="section">

            <p>
                <span class="int-en">For app questions and feedback send an email to our <a href="mailto:ios@sefaria.org">iOS team</a>.</span>
                <span class="int-he">לשאלות ומשוב לגבי האפליקציה, אנא צרו קשר עם <a href="mailto:ios@sefaria.org">צוות ה-iOS שלנו</a>.</span>
            </p>

            <p>
                <span class="int-en">For general questions about Sefaria and our library, send an email to
                    <a href="mailto:hello@sefaria.org">hello@sefaria.org</a>.
                </span>
                <span class="int-he">לשאלות כלליות בנוגע לספריא ולגבי אוסף הטקסטים בכלליות
                    אנא צרו קשר במייל עם
                    <a href="mailto:hello@sefaria.org">hello@sefaria.org</a>.
                </span>

            </p>

            <p>
                <span class="int-en">To report any textual issues, please email
                    <a href="mailto:corrections@sefaria.org">corrections@sefaria.org</a>.
                </span>
                <span class="int-he">
                    בכדי לדווח על בעיות נוסח באחד הטקסטים, אנא שלחו מייל ל-
                    <a href="mailto:corrections@sefaria.org">corrections@sefaria.org</a>.
                </span>
            </p>

            <p>
                <span class="int-en">If you want to get early access to the new features and
                    help us make it great, please
                    <a href="https://docs.google.com/forms/d/11lGSY0GCnkZHYI6_OUd51yT68whHE3bLVt1T9ITlpGE/viewform" target="_blank">sign up to be a beta tester</a>.</span>
                <span class="int-he">
                    אם אתם מעוניינים בגישה מוקדמת לאפשרויות הכי חדשות, ולעזור לנו לשפר את האפליקציה, אנא
                    <a href="https://docs.google.com/forms/d/11lGSY0GCnkZHYI6_OUd51yT68whHE3bLVt1T9ITlpGE/viewform" target="_blank">הרשמו כמשתמשי נסיון לגרסת הבטא</a>.</span>
                </span>
            </p> 
            
            <p>
                <span class="int-en">Sefaria’s iOS app was generously sponsored in honor of Henry Koschitzky’s 80th birthday by his children.</span>
                <span class="int-he">אפליקציית האייפון של ספריא היא בחסות ילדיו של הנרי קושיצקי לכבוד הגיעו לגבורות.</span>
            </p>

        </div>      
    </div>
</div>

{% endblock %}
