{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Jobs at Sefaria" %}{% endblock %}

{% block description %}{% trans "Job openings at Sefaria, a non-profit technology organization dedicated to building the Jewish future." %}{% endblock %}

{% block content %}

<div id="jobsPage" class="container biReady static">
    <div class="inner">
        <h1>
            <span class="int-en">Jobs at Sefaria</span>
            <span class="int-he">משרות פנויות בספריא</span>
        </h1>

        <a name="summer-intern"></a>
        <div class="section int-en" style="direction: ltr;">
            <h2>Sefaria Summer Engineering Internships</h2>
            <p>Sefaria is looking for two individuals with an interest in Torah and technology to join our engineering team. Our 10-week paid summer program will expose interns to the inner workings of a fast-growing nonprofit startup.</p>
            <p>Senior engineering staff will help define one or two projects for each intern to develop and manage from start to finish. Interns can expect full support and coaching from the Sefaria team to help meet project goals and grow as engineers.</p>
            <h3>Requirements:</h3>
            <ul>
                <li>Currently enrolled in a degree program or 2020 graduate</li>
                <li>Background in computer science or engineering</li>
                <li>Interest in Jewish learning</li>
                <li>Solid written and verbal communication skills</li>
                <li>Strong judgment and decision-making skills</li>
                <li>English (professional working proficiency)</li>
            </ul>

            <h3>Technologies at Sefaria:</h3>
            <ul>
                <li>JavaScript, React, React-Native, D3, HTML, CSS</li>
                <li>Python, Django</li>
                <li>MongoDB, Redis, ElasticSearch</li>
                <li>Kubernetes, Docker, Google Cloud</li>
            </ul>

            <p>
                <strong>Location:</strong> Sefaria provides office space for interns in New York and Jerusalem. Interns are also welcome to work remotely. Sefaria cannot cover travel or living expenses.
            </p>
            <p>
                <strong>Compensation:</strong> Starting salary is $15/hr; dependent on location and experience.
            </p>

            <h3>To Apply</h3>
            <p>
                Please send a brief cover letter and your resume in English to <a href="mailto:jobs@sefaria.org">jobs@sefaria.org</a> no later than April 8, 2020.
            </p>
        </div>
        <div class="section int-he" style="">
            <h2>התמחויות קיץ בהנדסה בספריא</h2>
            <p>ספריא מחפשת שני מועמדים שמתעניינים בתורה ובטכנולוגיה ורוצים להצטרף לצוות ההנדסה שלנו. אנו מציעים תוכנית קיץ של עשרה שבועות בתשלום, שבמהלכה ייחשפו המתמחים לתפעול הפנימי של סטארט-אפ מתקדם.</p>
            <p>צוות הנדסה בכיר יסייע בהגדרת פרויקט אחד או שניים עבור כל מתמחה, ואותו יפתח וינהל המתמחה מההתחלה ועד הסוף. המתמחים יקבלו תמיכה והדרכה מלאים מצוות ספריא, כדי לעמוד ביעדי הפרויקט ולצמוח כמהנדסים.</p>
            <h3>דרישות:</h3>
            <ul>
                <li>סטודנטים ללימודי הנדסה או בוגרים של שנת 2020</li>
                <li>רקע בהנדסה או במדעי המחשב</li>
                <li>עניין בלימודי יהדות</li>
                <li>כישורי כתיבה ויכולת ביטוי טובה</li>
                <li>יכולת קבלת החלטות</li>
                <li>שליטה בשפה האנגלית (מיומנות מקצועית)</li>
            </ul>

            <h3>טכנולוגיות בספריא:</h3>
            <ul>
                <li>JavaScript, React, React-Native, D3, HTML, CSS</li>
                <li>Python, Django</li>
                <li>MongoDB, Redis, ElasticSearch</li>
                <li>Kubernetes, Docker, Google Cloud</li>
            </ul>

            <p>
                <strong>מקום עבודה:</strong> לספריא משרדי עבודה בניו יורק ובירושלים. המתמחים מוזמנים גם לעבוד מרחוק. התשלום אינו כולל מלגת מחיה או החזרי נסיעות.
            </p>
            <p>
                <strong>תשלום:</strong> שכר התחלתי של 15$ לשעה. יותאם למתמחה לפי מקום העבודה וניסיון מקצועי.
            </p>

            <h3>להגשת מועמדות</h3>
            <p>
                יש לשלוח קורות חיים ומכתב נלווה באנגלית לדוא"ל
                <a href="mailto:jobs@sefaria.org">jobs@sefaria.org</a>
עד 8 באפריל 2020.
            </p>
        </div>

        <br/><br/>

        <p style="direction: ltr;">
          Sefaria does not accept solicitations of any kind from job placement services or phone calls from prospective candidates.
            Sefaria provides equal employment opportunities to all employees and applicants for employment and prohibits
            discrimination and harassment of any type without regard to race, color, religion, age, sex, national origin,
            disability status, genetics, protected veteran status, sexual orientation, gender identity or expression,
            or any other characteristic protected by federal, state or local laws.
            Nothing in this job description or advertisement postings guarantees employment.
        </p>

    </div>
</div>


{% endblock %}

{% block js %}{% endblock %}

