{% extends "base.html" %}

{% block title %}Jobs at Sefaria{% endblock %}

{% block content %}

<div id="jobs" class="container doc">

<span class="row">
<span class="span8 offset2">
<h1>Jobs at Sefaria</h1>

<h2>UX/UI Designer</h1>

<p>The Sefaria Project is looking for our first full time designer to help create the best possible experience for textual engagement that the world has ever known.</p>

<h3>About You</h3>
<ul>
  <li>You're constantly struggling to make things simpler.</li>
  <li>You can share with us a portfolio of products, experiences and graphics you've created and you can explain what motived the design of each.</li>
  <li>Your best ideas stem from research; you know how to stage usability studies or conduct user interviews and observations to identify real needs ands pain points.</li>
  <li>You think holistically about user needs and the full flow of user experience, but you're comfortable working with the fine details of pixels of palettes that make an application great.</li>
  <li>You think text is beautiful. You could write a haiku about your favorite typeface.</li>
  <li>You can read Hebrew and are comfortable designing layouts with Hebrew text.</li>
  <li>You know how to validate your design decisions with data by crafting A/B tests and scrutinizing analytics.</li>
  <li>You're an excellent communicator (in English) and value critical feedback and diverse opinions.</li>
</ul>
<h3>About the Role</h3>
<ul>  
  <li>You'll be the first person on our team working exclusively on design and you'll help set the priorities for time spent on new products and necessary redesigns.</li>
  <li>You'll be working across a full spectrum of design levels (with a focus at the top):<ul>
    <li>High level product design for web and mobile.</li>
    <li>Reusable interactions and widgets.</li>
    <li>Visual components like graphics, icons, and palettes.</li>
    <li>Informational layouts for communication.</li>
  </ul>
  </li>
</ul>
<h3>Bonus Points</h3>
<ul>
<ul>
<li>You've got a strong interest in and knowledge of Jewish textual learning.</li>
<li>You can talk for hours about the successes and failures of the Vilna Daf as a learning interface. </li>
<li>You're comfortable working in CSS and HTML when appropriate. </li>
<li>You like to hack out interactive designs yourself in Javascript.</li>
</ul>
</ul>
<h3>Location</h3>
<ul>
<li>Remote OK, with a strong preference for San Francisco, New York or Jerusalem.</li>
</ul>
<h3>Compensation</h3>
  <ul>
    <li>Competitive Salary and Benefits.</li>
  </ul>
<h3>Contact</h3>
  <ul>
    <li><a href="mailto:brett@sefaria.org">brett@sefaria.org</a></li>
  </ul>

</span>
</span>
</div> <!-End #jobs -->

<div id="overlay"></div>

{% endblock %}


{% block js %}
{% endblock %}
