{% extends "base.html" %}

{% block title %}Jobs at Sefaria{% endblock %}

{% block content %}

<div id="jobs" class="container doc">

  <body>
  <h1>Jobs at Sefaria</h1>

    <h2>Senior Software Engineer</h2>
    

<p>The Sefaria Project is hiring a full-time software engineer - our first technical hire!</p>
<h3>You are...</h3>
<ul>
  <li>a Backend or Fullstack engineer who loves working on the Web.</li>
  <li>a better engineer than Brett (<a href="https://github.com/blockspeiser/Sefaria-Project">https://github.com/blockspeiser/Sefaria-Project</a>).</li>
  <li>happy to work with our current tech stack (Python, Django, MongoDB, ElasticSearch, Javascript,  jQuery) but also happy to make recommendations for how our stack can be improved.</li>
  <li>experienced with search, test driven development, database design, and web performance.</li>
  <li>passionate about the future that Torah and Technology have together.</li>
  <li>easy to work with, self-motivated and a clear and efficient communicator.</li>
</ul>

<h3>Ideally...</h3>
<ul>
  <li>You have significant knowledge of Torah texts.</li>
  <li>You can own building features from spec'ing to backend to frontend (with the help of our designers).</li>
  <li>You have some experience with iOS or Android development.</li>
  <li>You are fluent in both Hebrew and English.</li>
  <li>You can show us a portfolio of cool things you've built or Open Source code you've written.</li>
  <li>You have a sense of humor and a cultivated curiosity.</li>
  </ul>

<h3>Bonus points if...</h3>
<ul>
  <li>You can recommend architectural improvements to Sefaria by reading our codebase (<a href="https://github.com/blockspeiser/Sefaria-Project">https://github.com/blockspeiser/Sefaria-Project</a>).</li>
  <li>You've contributed to discussions on the Sefaria Forum (<a href="http://www.sefaria.org/forum">http://www.sefaria.org/forum</a>) or the Sefaria Developers List (<a href="https://groups.google.com/forum/#!forum/sefaria-dev">https://groups.google.com/forum/#!forum/sefaria-dev</a>).</li>
  <li>You've contributed textually to Sefaria already (<a href="http://www.sefaria.org/activity">http://www.sefaria.org/activity</a>).</li>
  <li>You've contributed code to Sefaria already (<a href="https://github.com/blockspeiser/Sefaria-Project">https://github.com/blockspeiser/Sefaria-Project</a>).</li>
</ul>

<h3>Perks</h3>
<ul>
  <li>You will be playing a significant role in building the future of Jewish learning.</li>
  <li>We believe in self-directed work. We have a collective roadmap to follow, but we're also looking for someone who can take initiative and help us identify valuable projects to work on. This could mean building apps with our API, developing features that you find most interesting, or volunteering on technical projects with our friends like The Open Siddur Project, G-dcast, Haggadot.com, Kevah, On1Foot, or Shmideo.</li>
  <li>We all work hard, but not necessarily 9-5.</li>
  <li>Competitive salary and benefits.</li>
 </ul>

<h3>Location</h3>
<ul>
	<li>Remote OK with strong preference for San Francisco, Jerusalem / Tel Aviv or New York City.</li>
</ul>

<h3>Contact</h3>
<ul>
	<li><a href="mailto://brett@sefaria.org">brett@sefaria.org</a></li>
</ul>

<h2 id="executive-assistant" class="anchorable">Part-Time Executive Assistant</h2>

<h3>Location: Brooklyn, New York</h3>
<h3>About the Position</h3>
<ul>
  <li>This 5-10 hour/week position reports directly to the Executive Director to provide high-level administrative support through a variety of tasks including but not limited to:</li>
  <li><ul>
    <li>Information gathering</li>
    <li>Drafting correspondence and reports</li>
    <li>Filing office documents</li>
    <li>Uploading and organizing information in databases</li>
    <li>Scheduling meetings and preparing materials for meetings</li>
    <li>Making travel arrangements</li>
    <li>Handling invoicing and expense activities</li>
    </ul>
  <li>Ideal Qualifications</li>
  <li><ul>
    <li>You are extremely detail oriented</li>
    <li>You are a clear communicator, especially over email</li>
    <li>You are a strong writer and editor</li>
    <li>You have your own computer and access to Internet at home</li>
    <li>You are happy to work approximately 5-10 hours per week—a mix of in-person and remote time</li>
    <li>You have a sense of humor and a cultivated curiosity</li>
    <li>You are excited to join a largely web-based, start-up nonprofit organization and understand that this environment calls for nimble, flexible team players</li>
    </ul>
  <li>You have a bachelor’s degree</li>
</ul>
<h3>About the Organization</h3>
<ul>
  <li>The Sefaria Project is a non-profit organization, building an open-source, interactive library of Jewish texts and their interconnections—in Hebrew and in translation.</li>
</ul>
<h3>Salary commensurate with experience</h3>                     
<h3>Target start date: March 1, 2014</h3>
<h3>Contact</h3>
<ul>
  <li><a href="mailto://jobs@sefaria.org">jobs@sefaria.org</a></li>
</ul>


</div> <!-- End #jobs -->

<div id="overlay"></div>

{% endblock %}


{% block js %}
{% endblock %}
