{% extends "base.html" %}

{% block title %}Auto Linking Bookmarklet{% endblock %}

{% block content %}
	<div class="container doc">
	{% autoescape off %}
        <h2>Find the Torah references on any page, and link them to Sefaria!</h2>
        <div>Drag one of these buttons to your browser bar, then click it whenever you want to find the references on a page that you're viewing.</div>
        <br/><hr/><br/>
        <h3>This one will find references, and turn them into links to Sefaria.</h3>
        <a class="btn btn-large purple" href="javascript: (function () {
        var linkerScript = document.createElement('script');
        linkerScript.setAttribute('charset','utf-8');
        linkerScript.setAttribute('src', 'http://sefaria.org/linker.js');
        linkerScript.onload = function() { sefaria.link({mode: 'link'}); };
        document.body.appendChild(linkerScript);  }());">Sefariate!</a>
        <br/><hr/><br/>
        <h3>This one will make references into links and also let you click a ref to popup content</h3>
        <a class="btn btn-large purple" href="javascript: (function () {
        var linkerScript = document.createElement('script');
        linkerScript.setAttribute('charset','utf-8');
        linkerScript.setAttribute('src', 'http://sefaria.org/linker.js');
        linkerScript.onload = function() { sefaria.link({mode: 'popup-click'}); };
        document.body.appendChild(linkerScript);  }());">Sefariate!</a>
        <br/><hr/><br/>
        <h3>And this one will make references into links, and popup content when you hover over a reference.</h3>
        <a class="btn btn-large purple" href="javascript: (function () {
        var linkerScript = document.createElement('script');
        linkerScript.setAttribute('charset','utf-8');
        linkerScript.setAttribute('src', 'http://sefaria.org/linker.js');
        linkerScript.onload = function() { sefaria.link(); };
        document.body.appendChild(linkerScript);  }());">Sefariate!</a>
	{% endautoescape %}
        <h2>Want to link the references on your own website to Sefaria?</h2>
        See our <a href="https://github.com/blockspeiser/Sefaria-Project/wiki/Sefaria-Auto-Linker">Instructions</a> to learn how.
	</div>
{% endblock %}