{% extends "base.html" %}

{% block title %}Auto Linking Bookmarklet{% endblock %}

{% block content %}
    <div id="linkerPage" class="container biReady full-text-static">
        <div class="page-title"><h1>
            <span class='en'>The Linker</span>
            <span class='he'>סורק אזכורים אוטומטי</span>
        </h1></div>
        <div class="row static-text" id="linker">
            <div class="main-text">{% autoescape off %}
                <div>
                    <p>Find the Torah references on any page, and link them to Sefaria!</p>
                    <p>Drag one of these buttons to your browser bar, then click it whenever you want to find the references on a page that you're viewing.</p>
                </div>
                <div class="linkerOption">
                    <p>This one will find references, and turn them into links to Sefaria.</p>
                    <a class="btn btn-large purple" href="javascript: (function () {
                    var linkerScript = document.createElement('script');
                    linkerScript.setAttribute('charset','utf-8');
                    linkerScript.setAttribute('src', 'http://sefaria.org/linker.js');
                    linkerScript.onload = function() { sefaria.link({mode: 'link'}); };
                    document.body.appendChild(linkerScript);  }());">Sefariate!</a>
                </div>
                <div class="linkerOption">
                    <p>This one will make references into links and also let you click a ref to popup content</p>
                    <a class="btn btn-large purple" href="javascript: (function () {
                    var linkerScript = document.createElement('script');
                    linkerScript.setAttribute('charset','utf-8');
                    linkerScript.setAttribute('src', 'http://sefaria.org/linker.js');
                    linkerScript.onload = function() { sefaria.link({mode: 'popup-click'}); };
                    document.body.appendChild(linkerScript);  }());">Sefariate!</a>
                </div>
                <div class="linkerOption">
                    <p>And this one will make references into links, and popup content when you hover over a reference.</p>
                    <a class="btn btn-large purple" href="javascript: (function () {
                    var linkerScript = document.createElement('script');
                    linkerScript.setAttribute('charset','utf-8');
                    linkerScript.setAttribute('src', 'http://sefaria.org/linker.js');
                    linkerScript.onload = function() { sefaria.link(); };
                    document.body.appendChild(linkerScript);  }());">Sefariate!</a>
                </div>

                <div id="info" class="static-content-note">
                    <p>Want to link the references on your own website to Sefaria?</p>
                    See our <a href="https://github.com/Sefaria/Sefaria-Project/wiki/Sefaria-Auto-Linker">Instructions</a> to learn how.
                    {% endautoescape %}
                </div>
            </div>
        </div>
	</div>
{% endblock %}