{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Annual Report" %}{% endblock %}


{% block content %}
<div class="superAbout">
    {% if not request.user_agent.is_mobile %}
        {% include '_sidebar.html' with whichPage='annualreport' title="Annual Report" heTitle='דו"ח שנתי' %}
    {% endif %}
    <main id="annualReport" class="container biReady static">
        <div class="inner">
            {% if request.user_agent.is_mobile %}
                <h1 class="mobileAboutHeader"><span class="int-en">Annual Report</span>
                <span class="int-he">דו"ח שנתי</span></h1>
            {% endif %}
            <div class="annualReport"><a href="/annualreport">Open the Current Annual Report (PDF)</a></div>
        </div>
    </main>
</div>
{% endblock %}
