{% extends "base.html" %}

{% block title %}Sefaria Meetup: May 31st 2012{% endblock %}

{% block css %}
	#meetup {
		width: 750px;
		margin: 110px auto;
	}

	#meetup p {
		font-size: 24px;
		line-height: 30px;
		font-family: Georgia, serif;
		margin-bottom: 34px;
		text-align: justify;
	}
{% endblock %}

{% block content %}
<div id="meetup">
<p>Imagine all the texts of the Jewish tradition in one interactive, interconnected place. For free. To use and reuse. On the web, on the iPad, on your phone. In the original and in translation.</p>

<p>We're preparing to launch Sefaria, an ambitious project to create a new platform for the study of Jewish texts online. Our goal is to build a comprehensive, and open-source, repository of all texts and their interconnections, created, edited, and annotated by an open community.</p>

<p>We need your help. We're organizing a meeting at Mechon Hadar, 190 Amsterdam Avenue, at 7pm this Thursday, May 31st for a demo and discussion about the project. If you are interested in working with us to create a new future for Jewish texts online, please join us. If possible, please <b>bring a laptop</b> so you can jump in with us.</p>
</div>
{% endblock %}

