{% extends "base.html" %}

{% block title %}Sefaria.org Meetup #2: Wednesday, January 16th 2013{% endblock %}

{% block css %}

    .container {
        width: 600px;
        margin: 50px auto;
    }   

    .container, p, li {
        font-family: Georgia, serif;
        font-size: 16px;
        line-height: 1.3;
    }

{% endblock %}

{% block content %}

<div class="container">

<h2>Sefaria.org NYC Meetup #2</h2>
<h3>Wednesday, January 16th 2013 at 8pm</h3>
<br>
<p>
Please join us for our second NYC meetup - open to Sefaria contributors, supporters and anyone with an interest in Torah and technology.
</p>
<p>Come to support our work, but also to meet other great people interested in sharing Jewish learning online.</p>

<b>Agenda:</b>
    <ol>
        <li>Previewing new features we've been working on.</li>
        <li>Sharing difficult design and textual issues we're facing, to get your input.</li>
        <li>Listening to your opinions on what's working with the site, what isn't, and what you wish we'd do next.</li>
        <li>General fantasizing about the future of Jewish learning.</li>
    </ol>


<p>
<b>Location:</b><br />
JTS (3080 Broadyway at 122nd)<br />
Brush Mo'adōn (3rd floor of Brush, up the steps to the left, doors on the left.)<br />
8pm.
</p>

</div>
{% endblock %}