{% extends "base.html" %}
{% load i18n static %}
{% load sefaria_tags %}

{% block meta_title %}{% meta_title %}{% trans "Sefaria Mobile Apps" %}{% endmeta_title %}{% endblock %}

{% block meta_description %}{% meta_desc %}{% trans "Download the free Sefaria Apps for iOS and Android." %}{% endmeta_desc %}{% endblock %}

{% block js %}
<script>
    {% autoescape off %}
    DJANGO_VARS.containerId = 'MobilePageInner';
    DJANGO_VARS.reactComponentName = 'MobileAppPage';
    {% endautoescape %}
</script>
{% endblock %}

{% block content %}
<div id="MobilePageOuter" class="staticPageFrame">
  <div id="MobilePageInner" class="staticPageInner">
    <h1 id="appLoading">Loading...</h1>
  </div>
</div>
{% endblock %}
