{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

<style>
	.container.doc {
		margin-top: 20px;
	}
	#action {
		text-align: center;
		margin: 10px 0 20px;
	}
	#finePrint {
		color: #777;
		margin-top: 24px;
	}
	#imageBox img {
		width: 90%;
		float: right;
		margin-bottom: 25px;
	}
</style>

<div id="" class="container doc">

<span class="row">

	<span class="span12">
		<h2>Create a Profile on Sefaria for a Chance to Win a Nexus 7 Tablet</h2>
	</span>

	<span class="span6">
		<p>Have you seen the new profiles on Sefaria? Take a look, and help strengthen the Sefaria community by filling out your on-site profile today.  Connect with colleagues, students, and employers! Showcase your talents and accomplishments as a Jewish educator! Record where you've been, and where you'd like to go - and you will be automatically entered to win a new <b>Nexus 7 Tablet</b>, a <b>$25 Amazon gift card</b>, or a <b>Sefaria mug</b>!</p>

		<p id="action"><a class="btn btn-large btn-primary" href="/settings/profile">Create Your Profile</a><p>

		<p>From now until <b>September 3rd</b>, when you fill out your profile - including a photo! - on Sefaria, you are entered to win a prize.</p>

		<p>For each <b>public source sheet</b> that you share on your profile, you gain an additional raffle entry!</p>

		<p>Please note that our new profiles are still in the early phases of its development, so if you have suggestions about how to improve our profiles, please let us know!</p>

		<p>Winners will be randomly selected on <b>September 4th</b>.</p>

		<p>Questions? Comments? Suggestions? Email <a href="mailto:sara@sefaria.org">sara@sefaria.org</a></p>

		<div id="finePrint">
		<h4>The Fine Print:</h4>
		In order to qualify, you must fill in at least the <b>About Me</b> section, the <b>Jewish Education</b> section, and <b>add a photo</b>. You gain an additional entry for each public source sheet you have. 
		If you have already created a full profile on Sefaria, you are automatically entered to win. 
		Sefaria reserves the right to disqualify entries we consider to be incomplete or otherwise non-constructive. 
		Prizes consist of one Nexus 7 Tablet, five $25 Amazon gift cards, and ten Sefaria mugs. You will be notified by email if you have won a prize.
		</div>
	</span>

	<span id="imageBox" class="span5">
		<a href="/profile/sara-wolkenfeld"><img src="/static/img/profile-example1.png" /></a>
		<a href="/profile/brett-lockspeiser"><img src="/static/img/profile-example2.png" /></a>
	</span>

</span>

</div>

{% endblock %}