{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Stay Connected" %}{% endblock %}

{% block description %}{% trans "Sign up for one or more of our email lists to get learning resources and stay up-to-date on what is happening at Sefaria." %}{% endblock %}

{% block css %}
{% endblock %}


{% block js %}
<script>
    {% autoescape off %}
    DJANGO_VARS.containerId = 'NewsletterInner';
    DJANGO_VARS.reactComponentName = 'NewsletterPage';
    {% endautoescape %}
</script>
{% endblock %}

{% block content %}
<div id="NewsletterOuter" class="staticPageFrame">
  <div id="NewsletterInner" class="staticPageInner">
    <h1 id="appLoading">Loading...</h1>
  </div>
</div>
{% endblock %}
