{% extends "base.html" %}
{% load i18n static %}
{% load sefaria_tags %}

{% block meta_title %}{% meta_title %}{% trans "Sign up for Sefaria's Newsletter" %}{% endmeta_title %}{% endblock %}

{% block meta_description %}{% meta_desc %}{% trans "Sign up for Sefaria's Newsletter" %}{% endmeta_desc %}{% endblock %}

{% block js %}
<script>
    {% autoescape off %}
    DJANGO_VARS.containerId = 'newsletterPageContent';
    DJANGO_VARS.reactComponentName = 'NewsletterPage';
    {% endautoescape %}
</script>
{% endblock %}

{% block content %}
<div id="newsletterPageOuter" class="staticPageFrame">
  <div id="newsletterPageContent" class="staticPageInner">
    <h1 id="appLoading">Loading...</h1>
  </div>
</div>
{% endblock %}
