{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% "Powered by Sefaria" %}{% endblock %}

{% block description %}{% "Sefaria’s open data and API can be used by anyone.  You can find it all for free in our GitHub repository!" %}{% endblock %}

{% block css %}
.staticPage .staticPageHeader {
    background-image: url(/static/img/powered-by-landing-page/PBS_header.png);
}
{% endblock %}


{% block js %}
<script>
    {% autoescape off %}
    DJANGO_VARS.containerId = 'PoweredByInner';
    DJANGO_VARS.reactComponentName = 'PoweredByPage';
    ['body', '#content'].forEach(q => {
            const cl = document.querySelector(q).classList;
            cl.remove('interface-hebrew');
            cl.add('interface-english');
        });
    {% endautoescape %}
</script>
{% endblock %}

{% block content %}
<div id="PoweredByOuter" class="staticPageFrame">
  <div id="PoweredByInner" class="staticPageInner">
    <h1 id="appLoading">Loading...</h1>
  </div>
</div>
{% endblock %}


