{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Powered by Sefaria" %}{% endblock %}

{% block description %}{% trans "Sefaria’s open data and API can be used by anyone.  You can find it all for free in our GitHub repository!" %}{% endblock %}

{% block css %}
.staticPage .staticPageHeader {
    background-image: url(/static/img/powered-by-landing-page/PBS_header.png);
}

/* Page only has English content currently
*  This will need to be changed in the future should the page become intermixed with Hebrew and English
*/
.staticPage.englishOnly .int-he {
  direction: ltr;
}
{% endblock %}


{% block js %}
<script>
    {% autoescape off %}
    DJANGO_VARS.containerId = 'PoweredByInner';
    DJANGO_VARS.reactComponentName = 'PoweredByPage';
    {% endautoescape %}
</script>
{% endblock %}

{% block content %}
<div id="PoweredByOuter" class="staticPageFrame">
  <div id="PoweredByInner" class="staticPageInner">
    <h1 id="appLoading">Loading...</h1>
  </div>
</div>
{% endblock %}


