{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Privacy Policy" %} | {% trans "Sefaria" %}{% endblock %}

{% block description %}{% endblock %}

{% block content %}
<div class="superAbout">
    {% if not request.user_agent.is_mobile %}
        {% include '_sidebar.html' with whichPage='privacy' %}
    {% endif %}
    <div id="" class="container doc legal static">

        <div class="inner">
                <h1 class="aboutHeader"><span class="int-en">Privacy Policy</span><span class="int-he">מדיניות פרטיות</span></h1>
            <iframe src="https://docs.google.com/document/d/e/2PACX-1vTItZ7aXzScKUIzMgWP8GaiWjjKPDAXGDUVpvLG8vv-xb42MaGGQMjctIQwKKT5pAuSHSFCKyHfdm53/pub?embedded=true"></iframe>    </div>
    </div>
</div>
{% endblock %}