{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Privacy Policy" %} | {% trans "Sefaria" %}{% endblock %}

{% block description %}{% endblock %}

{% block content %}
<div id="" class="container doc legal static">
	<div class="inner">
        <div id="legalTabs">
    		<a href="/terms">Terms of Use</a>
    		<a href="/privacy-policy" class="current">Privacy Policy</a>
    	</div>
        <iframe src="https://docs.google.com/document/d/e/2PACX-1vRnHJsuwGIFLbsHTCBZuw7ldfI-zQ8T9-D9tDe17z9IuvuLjpsHiOMc6Wa6sQ83rTjq8chrek6olQ41/pub?embedded=true"></iframe>    </div>
</div>
{% endblock %}