
{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Products" %}{% endblock %}

{% block description %}{% trans "A catalogue of Sefaria's products and experiments" %}{% endblock %}

{% block js %}
<script>
    {% autoescape off %}
    DJANGO_VARS.containerId = 'productsPageContent';
    DJANGO_VARS.reactComponentName = 'ProductsPage';
    {% endautoescape %}
</script>
{% endblock %}

{% block content %}

    <main id="ProductsPage" class="container static sans-serif">
        <div class="inner">
            <header>
                <h1>
                    <span class="int-en productsTitle">Sefaria's Products</span>
                    <span class="int-he">המוצרים שלנו</span>
                </h1>
            </header>
            <div id="productsPageContent">
                <div>
                    <h1 id="appLoading">Loading...</h1>
                </div>
            </div>
        </div>
    </main>

{% endblock %}
