
{% extends "base.html" %}
{% load i18n static %}
{% load sefaria_tags %}

{% block meta_title %}{% meta_title %}{% trans "Products" %}{% endmeta_title %}{% endblock %}

{% block meta_description %}{% meta_desc %}{% trans "A catalogue of Sefaria's products and experiments" %}{% endmeta_desc %}{% endblock %}

{% block js %}
<script>
    {% autoescape off %}
    DJANGO_VARS.containerId = 'productsPageContent';
    DJANGO_VARS.reactComponentName = 'ProductsPage';
    {% endautoescape %}
</script>
{% endblock %}

{% block content %}
<div class="superAbout">
    {% if not request.user_agent.is_mobile %}
      {% include '_sidebar.html' with whichPage='products' %}
    {% endif %}
    <main id="productsPage">
        <div id="productsPageContent">
        </div>
    </main>
</div>
{% endblock %}
