{% extends "base.html" %}
{% load i18n static %}

{% block title %}Sefaria for Rabbis{% endblock %}

{% block description %}Discover the power of digital texts and tools to fuel your rabbinate. Explore Sefaria’s many resources to enrich learning and teaching in your community.{% endblock %}

{% block css %}
{% endblock %}


{% block js %}
<script>
    {% autoescape off %}
    DJANGO_VARS.containerId = 'RabbisInner';
    DJANGO_VARS.reactComponentName = 'RabbisPage';
    if (Sefaria.interfaceLang == "hebrew") {
        window.location.replace('/educators')
    }
    {% endautoescape %}
</script>
{% endblock %}

{% block content %}
<div id="RabbisOuter" class="staticPageFrame">
  <div id="RabbisInner" class="staticPageInner">
    <h1 id="appLoading">Loading...</h1>
  </div>
</div>
{% endblock %}