{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Ramban Landing Page" %}{% endblock %}

{% block description %}{% trans "Ramban Landing Page" %}{% endblock %}

{% block css %}
{% endblock %}


{% block js %}
<script>
    {% autoescape off %}
    DJANGO_VARS.containerId = 'RambanInner';
    DJANGO_VARS.reactComponentName = 'RambanLandingPage';
    {% endautoescape %}
</script>
{% endblock %}

{% block content %}
<div id="Ramban" class="staticPageFrame">
  <div id="RambanInner" class="staticPageInner">
    <h1 id="appLoading">Loading...</h1>
  </div>
</div>
{% endblock %}
