{% extends "base.html" %}

{% block title %}Related Projects | Sefaria.org{% endblock %}

{% block content %}

<div id="relatedProjects" class="container doc">

<h2>Related Projects</h2>
<div class="span10">
	<ul>
		<li><a href="http://he.wikisource.org">Wikisource: Hebrew</a> / <a href="http://en.wikisource.org/wiki/Portal:Judaism">English</a> - The best collection of publicly licensed Jewish texts on the internet. The bulk of texts which have gotten Sefaria off the ground were resued from Wikisource.</li>
		<li><a href="http://www.opensiddur.org">The Open Siddur Project</a> - Pioneers of Open Source Jewish tech, creating free texts and technology around Jewish liturgy.</li>
		<li><a href="http://www.on1foot.org">On1Foot</a> - A database of Jewish texts related to to social justice, as well as a source sheet builder.</li>
		<li><a href="http://www.hebrewbooks.org">Hebrewbooks.org</a> - Scanned images of over 50,000 classical Jewish books.</li>
		<li><a href="http://www.themercava.com/">Mercava</a> - Big visions for Jewish tech, including a beautiful recreation of the Daf in HTML.</li>
		<li><a href="http://taggedtanakh.org/">TaggedTanakh</a> - Open annotations for Tanakh.</li>
		<li><a href="http://psookim.com/default.aspx">Psookim</a> - Multimedia presentations of Jewish texts.</li>
		<li><a href="http://www.mechon-mamre.org/">Mechon Mamre</a> - A great, free collection of texts online, but under copyright.</li>
		<li><a href="http://www.responsa.co.il">The Responsa Project</a> - The biggest collection of digitized Jewish texts, available for a price.</li>
		<li><a href="http://www.responsa.co.il">JHacker.org</a> - Great blog and hub for Judaism and technology.</li>
	</ul>
</div>

</div>
{% endblock %}