{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Remote Learning | Sefaria" %}{% endblock %}

{% block description %}{% trans "Resources for teaching and learning virtually." %}{% endblock %}

{% block css %}
{% endblock %}


{% block js %}
<script>
    {% autoescape off %}
    DJANGO_VARS["containerId"] = 'remoteLearningPageInner';
    DJANGO_VARS["reactComponentName"] = 'RemoteLearningPage';
    {% endautoescape %}
</script>
{% endblock %}

{% block content %}
<div id="remoteLearningPage" class="staticPageFrame">
  <div id="remoteLearningPageInner" class="staticPageInner">
    <h1 id="appLoading">Loading...</h1>
  </div>
</div>
{% endblock %}
