{% extends "base.html" %}

{% load cache %}
{% load humanize %}
{% load sefaria_tags %}

{% block title %}Sefaria: a Living Library of Jewish Texts Online{% endblock %}

{% block head %}
    <meta property="og:title" content="Sefaria.org : a Living Library of Jewish Texts Online"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.sefaria.org"/>
    <meta property="og:image" content="http://www.sefaria.org/static/img/fb-og-image.png"/>
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
    <div id="homePage">
        <div id="homeCover">
            <h1>
                <span class="en">A Living Library of Jewish Texts</span>
                <span class="he"></span>
            </h1>
            <div class="sub">
                <span class="en">Explore thousands of open source works in Hebrew and English translation. <a href="/about">Learn More &raquo;</a></span>
                <span class="he"></span>
            </div>
            <div class="button white">
                <span class="en">Get Started</span>
                <span class="he"></span>
            </div>
        </div>
    </div>
{% endblock %}

{% block js  %}
    <script>
    var backToS1 = function() { 
      $.cookie("s2", "", {path: "/"});
      window.location = "/";
    }
    $("#backToOldSefaria").click(backToS1);
    </script>
{% endblock %}

{% block footer %}{% endblock %}