{% extends "base.html" %}

{% load cache %}
{% load humanize %}
{% load sefaria_tags %}

{% block title %}Sefaria: a Living Library of Jewish Texts Online{% endblock %}

{% block head %}
    <meta property="og:title" content="Sefaria.org : a Living Library of Jewish Texts Online"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://www.sefaria.org"/>
    <meta property="og:image" content="http://www.sefaria.org/static/img/fb-og-image.png"/>
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
    <div id="homePage" class="static biReady">
        <div id="homeCover">
            <h1>
                <span class="en">A Living Library of Jewish Texts</span>
                <span class="he">ספריה חיה של טקסטים יהודיים</span>
            </h1>
            <div class="sub">
                <span class="en">Explore 3,000 years of Jewish texts in Hebrew and English translation. <a href="/about">Learn More &rsaquo;</a></span>
                <span class="he">חקור 3,000 שנה של טקסטים יהודיים בעברית ובתרגום לאנגלית <a href="/about">קרא עוד&rsaquo;</a></span></span>
            </div>
            <a href="/Genesis.1" class="inAppLink">
                <div class="button white">
                    <span class="en">Get Started</span>
                    <span class="he">צא לדרך</span>
                </div>
            </a>
        </div>

        <div id="homeLearn" class="section textLeft">
            <div class="sectionInner">
                <div class="textBox">
                    <h2>
                        <span class="en">Start Learning</span>
                        <span class="he">למידה</span>
                    </h2>
                    <div class="description">
                        <span class="en">Learning on Sefaria is simple, beautiful and powerful. Find commentaries, connections and translations across our free, ever-growing library of texts.</span>
                        <span class="he">למידה בספאריה הוא תהליך פשוט, יפיפה ורב עוצמה. מצאו פרשנויות, יחסים אינטרטקסטואליים ותרגומים ברחבי ספריית הטקסטים החינמית והמתרחבת שלנו.</span>
                    </div>
                    <a href="/texts">
                        <div class="button white">
                            <span class="en">Explore the Library &rsaquo;</span>
                            <span class="he">גלה את הספרייה &rsaquo; </span>
                        </div>
                    </a>
                </div>
                <div class="imageBox">
                    <a class="refLink blockLink inAppLink" href="/{{ parasha.ref|url_safe }}" style="border-color: rgb(0, 78, 95);">
                        <span class="en">Parashah</span>
                        <span class="he">פרשה</span>
                    </a>
                    <a class="refLink blockLink inAppLink" href="/{{ daf_today.url }}" style="border-color: rgb(204, 180, 121);">
                        <span class="en">Daf Yomi</span>
                        <span class="he">דף יומי</span>
                    </a>

                    <a class="refLink blockLink inAppLink" href="/Pirkei_Avot.1" style="border-color: rgb(90, 153, 183);">
                        <span class="en">Pirkei Avot</span>
                        <span class="he">פרקי אבות</span>
                    </a>
                    <a class="refLink blockLink inAppLink" href="/Bereishit_Rabbah.1" style="border-color: rgb(93, 149, 111);">
                        <span class="en">Midrash Rabbah</span>
                        <span class="he">מדרש רבה</span>
                    </a>
                    <a class="refLink blockLink inAppLink" href="/Shulchan_Arukh,_Orach_Chayyim.1" style="border-color: rgb(128, 47, 62);">
                        <span class="en">Shulchan Arukh</span>
                        <span class="he">שולחן ערוך</span>
                    </a>

                </div>
            </div>
        </div>


        <div id="homeMobile" class="section textRight">
            <div class="sectionInner">
                <div class="textBox">
                    <h2>
                        <span class="en">Sefaria Mobile</span>
                        <span class="he">ספאריה בנייד</span>
                    </h2>
                    <div class="description">
                        <span class="en">Put the Sefaria library on your phone or tablet with commentaries, connections, search and offline access.</span>
                        <span class="he">הורד את אפליקציית ספאריה לטלפון או לטאבלט יחד עם הפירושים, קישורים, חיפוש וגישה מלאה - ללא צורך בחיבור לרשת.</span>
                    </div>
                    <div class="dedication">
                        <span class="en">Sefaria’s iOS app was generously sponsored in honor of Henry Koschitzky’s 80th birthday by his children.</span>
                        <span class="he">אפליקציית הiOS של ספאריה היא בחסות ילדיו של הנרי קושיצקי לכבוד יום הולדתו ה80</span>
                    </div>
                    <a href="https://play.google.com/store/apps/details?id=org.sefaria.sefaria" target="_blank">
                        <div class="button white">
                            <i class="fa fa-android"></i>
                            <span class="en">Get Android App &rsaquo;</span>
                            <span class="he">הורדה לאנדרואיד &rsaquo;</span>
                        </div>
                    </a>
                    <a href="/ios" id="iOSButton">
                        <div class="button white">
                            <i class="fa fa-apple"></i>
                            <span class="en">Get iOS App &rsaquo;</span>
                            <span class="he">הורדה לאייפון &rsaquo;</span>
                        </div>
                    </a>
                </div>
                <div class="imageBox">
                    <a href="/explore">
                        <img src="/static/img/home-mobile.png" />
                    </a>
                </div>
            </div>
        </div>


        <div id="homeSheets" class="section textLeft">
            <div class="sectionInner">
                <div class="textBox">
                    <h2>
                        <span class="en">Make a Source Sheet</span>
                        <span class="he">דפי מקורות</span>
                    </h2>
                    <div class="description">
                        <span class="en">Mix and match sources from our library, as well as outside sources, along with your comments, images and videos.</span>
                        <span class="he">אתם יכולים לשלב מקורות מהספריה שלנו, יחד עם מקורות חיצוניים, ולהוסיף הערות, תמונות וסרטונים.</span>
                    </div>
                    <a href="/sheets/new">
                        <div class="button">
                            <span class="en">Start a Sheet &rsaquo;</span>
                            <span class="he">צור דף מקורות &rsaquo;</span>
                        </div>
                    </a>
                    <a href="/sheets" class="inAppLink">
                        <div class="button white">
                            <span class="en">Explore Sheets &rsaquo;</span>
                            <span class="he">סייר בדפי המקורות &rsaquo;</span>
                        </div>
                    </a>
                </div>
                <div class="imageBox bordered">
                    <a href="/sheets">
                        <img src="/static/img/home-sheets.png" />
                    </a>
                </div>
            </div>
        </div>


        <div id="homeExplore" class="section textRight">
            <div class="sectionInner">
                <div class="textBox">
                     <h2>
                        <span class="en">Link Explorer</span>
                        <span class="he">קשרים אינטרטקסטואליים</span>
                    </h2>
                    <div class="description">
                        <span class="en">Explore more than 30,000 connections between the Talmud and Tanakh in our interactive data visualization. </span>
                        <span class="he">יותר מ-30,000 קשרים בין התלמוד לתנ"ך מוצגים באינפוגרפיקה דינאמית</span>
                    </div>
                    <a href="/explore">
                        <div class="button white">
                            <span class="en">Explore Connections &rsaquo;</span>
                            <span class="he">גרף הקשרים &rsaquo;</span>
                        </div>
                    </a>
                </div>
                <div class="imageBox bordered">
                    <a href="/explore">
                        <img src="/static/img/home-explore.png" />
                    </a>
                </div>
            </div>
        </div>

        <!--
        <div id="homeBlog" class="section center"/>
            <div class="sectionInner">
                <div class="blogTag">
                    <span class="en">Blog</span>
                    <span class="he">בלוג</span>                
                </div>
                <h2>
                    <span class="en">The Sefaria Blog</span>
                    <span class="he"></span>
                </h2>
                <div class="blogText">
                    <span class="en">Stay up to date with Sefaria’s latest features and get a behind-the-scenes look at product development and library expansion plans.</span>
                    <span class="he"></span>
                </div>
                <a href="http://blog.sefaria.org">
                    <span class="en">Read More &rsaquo;</span>
                    <span class="he"></span>
                </a> 
            </div>
        </div>
        -->
        
        <div id="homeProgress" class="section center">
            <div class="sectionInner"> 
                <h2>
                    <span class="en">Our Progress</span>
                    <span class="he"></span>
                </h2>
                <p class="stat">
                    <img class="statIcon" src="/static/img/progress-contributors.png">
                    <span class="wordCount">{{ metrics.contributors|intcomma }}</span>
                    <span class='en'>Contributors</span>
                    <span class='he'>משתמשים שתרמו טקסטים</span>
                </p>

                <p class="stat">
                    <img class="statIcon" src="/static/img/progress-sheets.png">
                    <span class="wordCount">{{ metrics.sheets|intcomma }}</span>
                    <span class='en'>Source Sheets</span>
                    <span class='he'>דפי מקורות</span>
                </p>

                <p class="stat">
                    <img class="statIcon" src="/static/img/progress-connections.png">
                    <span class="wordCount">{{ metrics.links|intcomma }}</span>
                    <span class='en'>Connections</span>
                    <span class='he'>הפניות וקישורים</span>
                </p>

                <p class="stat">
                    <img class="statIcon" src="/static/img/progress-translation.png">
                    <span class="wordCount">{{ metrics.transWords|intcomma }}</span>
                    <span class='en'>Words of Translation</span>
                    <span class='he'>מלים מתורגמות</span>

                </p>

                <p class="stat">
                    <img class="statIcon" src="/static/img/progress-words.png">
                    <span class="wordCount">{{ metrics.heWords|add:metrics.transWords|intcomma }}</span>
                    <span class='en'>Total Words</span>
                    <span class='he'>מילים במאגר</span>
                </p>

                <a href="/metrics" id="moreMetrics">
                    <div class="button white">
                        <span class='en'>More Metrics &rsaquo;</span>
                        <span class='he'>מדדים נוספים &rsaquo;</span>
                    </div>
                </a>
            </div>
        </div>

        <div id="homeHelp" class="section center">
            <div class="sectionInner">
                <h2>
                    <span class="en">We Need Your Help</span>
                    <span class="he">אנו זקוקים לעזרתכם</span>
                </h2>
                <div class="description">
                    <span class="en">Sefaria is an open source, non-profit project. Support us by making a tax-deductible donation.</span>
                    <span class="he">פרויקט ספאריה פתוח לקהל הרחב (open source) ללא מטרות רווח. תמכו בנו באמצעות תרומה פטורה ממס.</span>
                </div>
                <a href="/donate">
                    <div class="button">
                        <span class="en">Make a Donation</span>
                        <span class="he">לתמיכה ע"י תרומה</span>
                    </div>
                </a> 
            </div>
        </div>

        <div id="homeConnect" class="section center">
            <div class="sectionInner">
                <h2>
                    <span class="en">Stay Connected</span>
                    <span class="he">השארו מחוברים</span>
                </h2>
                <div id="mailingListBox">
                    <div id="mailingListTitle">
                        <span class="en">Subscribe to our mailing list</span>
                        <span class="he">הצטרפו לרשימת הדיוור שלנו</span>
                    </div>
                    <input id="mailingListEmail" placeholder="Email Address | כתובת אימייל">
                    <span id="subscribe" class="button">
                        <span class="en">Subscribe</span>
                        <span class="he">הרשמו</span>
                    </span>
                    <div id="subscribeMsg">&nbsp;</div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block js  %}
    <script>
    $(function() {
        // Email List
        $("#subscribe").click(function() {
            var email = $("#mailingListEmail").val();
            if (Sefaria.util.isValidEmailAddress(email)) {
                Sefaria.site.track.event("Home", "Subscribe from Homepage", "");
                $("#subscribeMsg").html("<i>Subscribing...</i>");
                $.post("/api/subscribe/" + email, function(data) {
                    if ("error" in data) {
                        $("#subscribeMsg").text(data.error).show();
                    } else {
                        $("#subscribeMsg").text("Subscribed! Welcome to our list.").show();
                    }
                }).error(function(data) {
                    $("#subscribeMsg").text("Sorry, there was an error.").show();
                })
            } else {
                $("#subscribeMsg").text("Sorry, that's not a valid email address.").show();
            }
        });
        $("#mailingListEmail").keyup(function(e){
            if (e.keyCode === 13) {
                $("#subscribe").trigger("click");   
            }
        });
    });
    </script>
{% endblock %}