{% extends "base.html" %}

{% block titleEnglish %}About Sefaria Editions{% endblock %}
{% block titleHebrew %}About Sefaria Editions{% endblock %}

{% block descriptionEnglish %}{% endblock %}

{% block descriptionHebrew %}{% endblock %}

{% block content %}

<div id="sefariaEdition" class="container static">
    <div class="inner">
        <h1>Sefaria Edition</h1>
        <div class="section">
            <p>
               The Sefaria Edition is a Sefaria commissioned translation created by professional translators.
                Like everything else Sefaria does,
                Sefaria releases its editions under open licenses so others can benefit from our work.
            </p>
        </div>
    </div>
</div>

{% endblock %}