{% extends "base.html" %}
{% load i18n cache humanize sefaria_tags %}

{% block title %}{% trans "Sefaria: a Living Library of Jewish Texts Online" %}{% endblock %}

{% block description %}{% trans "The largest free library of Jewish texts available to read online in Hebrew and English including Torah, Tanakh, Talmud, Mishnah, Midrash, commentaries and more." %}{% endblock %}

{% block head %}
{% endblock %}

{% block css %}
    #homePage #homeCover {
        height: auto;
        padding: 100px 0 0 0;
        background-color: #eee;
    }

    #homePage #homeCover > h1 {
        color: black;
        font-weight: normal;
        font-size: 49px;
        min-height: 70px;
        min-height: 70px;
        height: inherit;
        margin-bottom: 30px;
    }

    #map {
        height: 600px;
        margin: 0 100px 0 100px;
        border: solid 1px #ccc;
    }
    .content {
        color: black;
        margin-bottom: 10px;
    }
    .content a {
        color: #999;
        font-size: 12px;
    }
{% endblock %}

{% block content %}
<script>{% include "js/shavuot_map_2018_form_array.js" %}</script>
<script>
    {% autoescape off %}
    var map;
    function initMap() {
        var bounds = new google.maps.LatLngBounds();
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 2,
            styles: [
  {
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f5f5f5"
      },
      {
        "visibility": "on"
      }
    ]
  },
  {
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#616161"
      },
      {
        "visibility": "on"
      }
    ]
  },
  {
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#f5f5f5"
      },
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "administrative",
    "elementType": "geometry",
    "stylers": [
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#bdbdbd"
      },
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "administrative.neighborhood",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "landscape",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#ffffff"
      },
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "poi",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#eeeeee"
      },
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      },
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e5e5e5"
      },
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      },
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "road",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#ffffff"
      },
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "labels.icon",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#757575"
      },
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dadada"
      },
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#616161"
      },
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      },
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "transit",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e5e5e5"
      },
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "transit.station",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#eeeeee"
      },
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#c9c9c9"
      },
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#e4f0fd"
      },
      {
        "visibility": "on"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#9e9e9e"
      },
      {
        "visibility": "on"
      }
    ]
  }
]
        });
        // form_array is loaded from "shavuot_map_2018_form_array.js"
        var by_loc = {};
        for (var i = 0; i < form_array.length; i++) {
            const temp_entry = form_array[i];
            if (!temp_entry["location"]) { continue; }
            const key = "" + Math.round(temp_entry["location"].lat * 10000) + Math.round(temp_entry["location"].lng*10000);
            if (!by_loc[key]) {
                by_loc[key] = {
                    "teaching": [],
                    "studying": [],
                    "institutions": [],
                    "source_sheets": [],
                    "location": temp_entry["location"],
                    "city": temp_entry["Town or city where you will be on Shavuot:"],
                    "country": temp_entry["Country:"]
                }
            }
            if (temp_entry["I will be using Sefaria to prepare:"].indexOf("to teach on Shavuot") !== -1) {
                by_loc[key].teaching.push(temp_entry);
            }
            if (temp_entry["I will be using Sefaria to prepare:"].indexOf("to study on Shavuot") !== -1) {
                by_loc[key].studying.push(temp_entry);
            }
            if (temp_entry["Name of Institution (optional):"]) {
                by_loc[key].institutions.push(temp_entry["Name of Institution (optional):"]);
            }
            if (temp_entry["Sheet URL (optional):"] && temp_entry["Sheet URL (optional):"].indexOf("sefaria.org") !== -1) {
                by_loc[key].source_sheets.push(temp_entry["Sheet URL (optional):"]);
            }
        }
        for (var key in by_loc) {
            if (by_loc.hasOwnProperty(key)) {
                createMarker(by_loc[key])
            }
        }


        function createMarker(form_item) {
            var marker = new google.maps.Marker({
                map: map,
                position: form_item.location, // {lat: X, lng: X}
            });
            var contentString = '<div class="content">' +
                    '<h4>' + form_item.city + ', ' + form_item.country + '</h4>' +
                    (form_item.studying.length ? form_item.studying.length + ' studying ' : '') +
                    (form_item.teaching.length ? form_item.teaching.length + ' teaching ' : '') +
                    'on Shavuot' +
                    (form_item.institutions.length ? '<h4>Institutions</h4>' + form_item.institutions.join('<br/>') : '') +
                    (form_item.source_sheets.length ? '<h4>Source Sheets</h4><a>' + form_item.source_sheets.join('</a><br/><a>') + '</a>' : '') +
                    '</div>';
            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            marker.addListener('click', function() {
                infowindow.open(map, marker);
            });
            bounds.extend(form_item.location);
            map.fitBounds(bounds);
        }
    }
    function loadScript(url) {
        var script = document.createElement("script");
        script.type = "text/javascript";
        script.src = url;
        document.getElementsByTagName("head")[0].appendChild(script);
    }
    const url = "https://maps.googleapis.com/maps/api/js?key=" + '{{ GOOGLE_MAPS_API_KEY }}' + "&callback=initMap";
    loadScript(url);
{% endautoescape %}
</script>

<div id="homePage" class="static biReady">
    <div id="homeCover">
        <h1>
            <span class="int-en">Shavuot Map</span>
            <span class="int-he">מפה של שבועות</span>
        </h1>
        <div id="map"></div>
    </div>
</div>
{% endblock %}