{% extends "base.html" %}
{% load i18n static %}
{% load sefaria_tags %}

{% block meta_title %}{% meta_title %}{% trans "Sheets on Sefaria" %}{% endmeta_title %}{% endblock %}

{% block meta_description %}{% meta_desc %}{% trans "Mix and match sources from Sefaria’s library of Jewish texts, and add your comments, images and videos." %}{% endmeta_desc %}{% endblock %}

{% block css %}
{% endblock %}


{% block js %}
<script>
    {% autoescape off %}
    DJANGO_VARS.containerId = 'sheetsLandingPageInner';
    DJANGO_VARS.reactComponentName = 'SheetsLandingPage';
    {% endautoescape %}
</script>
{% endblock %}

{% block content %}
<div id="sheetsLandingPage" class="staticPageFrame">
  <div id="sheetsLandingPageInner" class="staticPageInner">
    <h1 id="appLoading">Loading...</h1>
  </div>
</div>
{% endblock %}
