shraga-silverstein

{% extends "base.html" %}

{% block title %}Rabbi Shraga Silverstein{% endblock %}

{% block css %}
    #shraga h3 {
        margin-top: 24px;
    }
{% endblock %}

{% block content %}

<div id="shraga" class="container doc">

<span class="row">
<span class="span8 offset2">
<center>
<img src="http://www.gildensarts.com/image/cache/data/products/Wisocki_Portrait_of_a_jew_full-140x184.jpg" />
</center>
<h1>Rabbi Shraga Silverstein</h1>
<p>Rabbi Shraga Silverstein was a Rabbi, author, and translator. He translated a number of books, including seventeen that were not published by 2014, and wote three books himself. He lived in Jerusalem until his death in 2014.</p>

<p>Rabbi Shraga Silverstein graduated from Brooklyn College summa cum laude, with honours in English. He was also an almnus of Mesivta Rabbi Chaim Berlin. He taught in universities in the United States and Israel and served as Principal of various yeshivas.</p>

<div class="clear"></div>

<h3>Books authored</h3>
<ul>
    <li>A Candle By Day: Three Thousand Topical Musar Modules (mostly one liners) from Rabbi Shraga Silverstein</li>
    <li>The Antidote: Human Sexuality in a Torah Perspective</li>
    <li>Hear My Son</li>
</ul>

<h3>Translations</h3>
<ul>
    <li>Shmirath Halashon (by the Chofetz Chaim)</li>
    <li>The Knowing Heart: Da'Ath Tevunoth (by Moshe Chayim Luzzatto)</li>
    <li>Ways of the Tzaddikim: Orchos Tzaddikim</li>
    <li>The Gates of Repentance: Sha'arei Teshuvah (by Jonah Ben Abraham Gerondi)</li>
    <li>The Path of the Just/Mesillat Yesharim (by Moshe Chayim Luzzatto)</li>
    <li>Derashoth HaRan / The Discourses of the Ran (by Nissim of Gerona)</li>
    <li>The Essential Torah Temimah (by Boruch Halevi Epstein)</li>
    <li>The Rashi Chumash (by Rashi)</li>
    <li>Pathways to Teshuvah (by Moshe Chaim Luzzatto)</li>
    <li>Sefer Hamitzvot (by Maimonides)</li>
</ul>

<h3>Links</h3>
<ul>
    <li>Shraga Silverstein on <a href="https://en.wikipedia.org/wiki/Shraga_Silverstein
">Wikipedia</a></li>
    <li>Shraga Silverstein on <a href="http://www.librarything.com/author/silversteinshraga">LibraryThing</a></li>
</ul>

<div id="overlay"></div>

</div>

{% endblock %}


{% block js %}
{% endblock %}
