{% extends "base.html" %}

{% load cache %}
{% load humanize %}
{% load sefaria_tags %}

{% block title %}Sefaria: a Living Library of Jewish Texts Online{% endblock %}

{% block head %}
	<meta property="og:title" content="Sefaria.org : a Living Library of Jewish Texts Online"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="http://www.sefaria.org"/>
	<meta property="og:image" content="http://www.sefaria.org/static/img/fb-og-image.png"/>
{% endblock %}

{% block css %}
	html, body {
		height: auto;
		overflow-x: hidden;
	}
	#languageToggle {
		display: inline;
	}
	#languageToggle #bilingual {
		display: none;
	}
{% endblock %}

{% block content %}

<div id="splash">

<div class="container">

<div id="toprow" class="row">
	
	<div id="headline" class="span12">

		<h1>
			<span class='en'>Sefaria is a <nobr>living library</nobr> of <nobr>Jewish texts.</nobr></span>
			<span class='he'>ספאריה היא ספריה חיה ודינאמית של טקסטים יהודיים</span>
		</h1>
		<div id="sub">
			<span class="en">
				In a beautiful interface, fully interconnected, with parallel translations, for free.
			</span>
			<span class="he">
				בממשק מדהים ביופיו, עם קישורים מלאים בין הטקסטים, תרגומים מקבילים ובחינם.
			</span>
		</div>
	</div>

	<div id="splashNav" class="span12">
		<a class="gradient" href="/texts">
			<span class='en'>Texts</span>
			<span class='he'>טקסטים</span>
		</a><!--
		--><a class="gradient" href="/sheets">
			<span class='en'>Source Sheets</span>
			<span class='he'>דפי מקורות</span>
		</a><!--
		--><a class="gradient" href="/explore">
			<span class='en'>Link Explorer</span>
			<span class='he'>גרף קשרים</span>
		</a><!--
		--><a class="gradient" href="/activity">
			<span class='en'>Recent Activity</span>
			<span class='he'>פעילות אחרונה</span>
		</a><!--
		--><a class="gradient aboutLink" href="#about">
			<span class='en'>About</span>
			<span class='he'>אודות</span>
		</a><!--
		--><a class="gradient helpLink" href="#">
			<span class='en'>Help</span>
			<span class='he'>עזרה</span>
		</a><!--
		--><a class="gradient" href="/wiki">
			<span class='en'>Wiki</span>
			<span class='he'>ויקי</span>
		</a><!--
		--><a class="gradient" href="/developers">
			<span class='en'>Developers</span>
			<span class='he'>מפתחים</span>
		</a><!--
		--><a class="gradient" href="/donate" style="color:#D14;">
			<span class='en'>Donate</span>
			<span class='he'>תרומות</span>
		</a>
	</div>


	<div class="span6">
			<div id="videoBox">
				<div id="videoImgBox">
					<img id="videoImg" src="/static/img/intro-video.png" />
					<div id="videoButton">▶</div>
				</div>
			</div>
	</div>


	<div id="" class="span3 splashBox">
		<h3>
			<span class='en'>Popular Texts</span>
			<span class='he'>טקסטים מומלצים</span>
		</h3>

		<a href="/Genesis.1">Genesis</a>
		<a href="/Pesach_Haggadah">Pesach Haggadah</a>
		<a href="/Pirkei_Avot.1">Pirkei Avot</a>
		<a href="/Sukkah.2a">Talmud Bavli, Sukkah</a>
		<a href="/Mishnah_Berakhot.1">Mishnah Berakhot</a>
		<a href="/Bereishit_Rabbah.1">Bereishit Rabbah</a>
		<a href="/Messilat_Yesharim.1">Messilat Yesharim</a>

	</div>

	<div class="span3 splashBox">
		<h3>
			<span class='en'>Featured Source Sheets</span>
			<span class='he'>דפי מקורות מומלצים</span>
		</h3>

		{{ 7635|sheet_link}}
		{{ 7613|sheet_link}}
		{{ 7644|sheet_link}}
		{{ 274|sheet_link}}
		{{ 7630|sheet_link}}
		{{ 7454|sheet_link}}
		{{ 7587|sheet_link}}

	</div>

	<div class="span3 splashBox">
		<h3>
			<span class='en'>Parashat HaShavua</span>
			<span class='he'>פרשת השבוע</span>
		</h3>
		<a href="/{{ parasha.ref|url_safe }}">{{ parasha.parasha }}: {{ parasha.ref }}</a>
		{% if parasha.haftara|length > 1 %}
			<span class="floatLeft">Haftara:</span>
			{% for haftara in parasha.haftara %}
				<a class="floatLeft"  href="/{{ haftara|url_safe }}">{{ haftara }}</a>
			{% endfor %}
			<div class="clear"></div>
		{% else %}
			<a href="/{{ parasha.haftara.0|url_safe }}">
				<span class="en">Haftara:</span><span class="he"></span> {{ parasha.haftara.0 }}
			</a>
		{% endif %}
		{{ parasha.shabbat_name|default:"" }}
	</div>
	<div class="span3 splashBox">
		<h3>
			<span class='en'>Daf Yomi</span>
			<span class='he'>דף יומי</span>
		</h3>
		<a href="/{{ daf_today.url }}">Today: {{ daf_today.name }}</a>
		<a href="/{{ daf_tomorrow.url }}">Tomorrow: {{ daf_tomorrow.name }}</a>
	</div>
	
</div>


<!--
<div class="row" id="messageRow">
	<div class="backer"></div>
	<div class="backer right"></div>
	<div class="span12">
		<span class="en">

		</span>
		<span class="he">

		</span>
	</div>
</div>
-->

<div class="row" id="statsRow">
	<div class="backer"></div>
	<div class="backer right"></div>
	<div class="span3">
		<p class="statsBox">
			<span class="wordCount">{{ metrics.contributors|intcomma }}</span>
			<span class='en'>people who have made a public textual contribution</span>
			<span class='he'>משתמשים שתרמו טקסטים</span>

		</p>
	</div>
	<div class="span3">
		<p class="statsBox">
			<span class="wordCount">{{ metrics.sctWords|intcomma }}</span>
			<span class='en'>words of translation created by Sefaria Contributors</span>
			<span class='he'>מלים שתורגמו ע"י קהילת ספאריה</span>

		</p>
	</div>
	<div class="span3">
		<p class="statsBox">
			<span class="wordCount">{{ metrics.links|intcomma }}</span>
			<span class='en'>known connections between different texts</span>
			<span class='he'>הפניות וקישורים בין טקסטים שונים</span>
		</p>
	</div>
	<div class="span3">
		<p class="statsBox">
			<span class="wordCount">{{ metrics.heWords|add:metrics.transWords|intcomma }}</span>
			<span class='en'>total words in the Sefaria Library</span>
			<span class='he'>סה"כ מילים במאגר</span>
		</p>
	</div>
	<a href="/metrics" id="moreMetrics">
		<span class='en'>More Metrics &raquo;</span>
		<span class='he'>עוד מדדים &raquo;</span>

	</a>
</div>


<div class="row" id="activityRow">
	<div class="span10 offset1">
		<h2><a href="/activity">
			<span class='en'>Recent Activity &raquo;</span>
			<span class='he'>פעילות אחרונה &raquo;</span>
		</a></h2>

		<div id="activityFeed">
			{% include "elements/activity_feed.html" %}
			<a href="/activity" class="">
				<span class='en'>View all Activity &raquo;</span>
				<span class='he'>צפה בכל הפעילות</span>
			</a>
		</div>
	</div>
	<!--
	<div class="span4">
		<div id="campaignBox" class="well splashBox">
			<h3>
				<span class="en">Can you Translate Hebrew?</span>
				<span class="he">האם אתם יודעים לתרגם מעברית לאנגלית?</span>
			</h3>
			<div>
				<span class="en">Our current goal is to create a free translation of Shulchan Arukh, Even HaEzer.</span>
				<span class="he">המטרה הנוכחית שלנו היא ליצור תרגום (לאנגלית) של שלחן ערוך-אבן העזר שיהיה ניתן להשתמש בו בחינם.</span>
			</div>

			<a href="/translate/Shulchan_Arukh,_Even_HaEzer" class="btn btn-large btn-primary">
				<span class="en">Help Translate</span>
				<span class="he">עזרו בתרגום</span>
			</a>
		</div>
	</div>
	-->
</div>

<div class="row" id="about">
	<div class="span5">
		<div class="well about">
			<h2>
				<span class='en'>About Sefaria</span>
				<span class='he'>אודות ספאריה</span>
			</h2>
			<br>
			<p>
				<span class='en'>Sefaria is building the future of Jewish learning in an open and participatory way.</span>
				<span class='he'>מטרת הפרויקט : פיתוח מודל לימוד תורה פתוח מבוסס תוכן גולשים.</span>
			</p>
			
			<p>
				<span class='en'>We are building a free living library of Jewish texts and their interconnections, in Hebrew and in translation. Our scope is Torah in the broadest sense, from Tanakh to Talmud to Zohar to modern texts and all the volumes of commentary in between. Sefaria is created, edited, and annotated by an open community.</span>
				<span class='he'>אנו מפתחים ספריה דינמית ופתוחה של טקסטים יהודיים יחד עם ההפניות השונות ביניהם, בשפה העברית וגם בתרגומים. הספריה שואפת לכלול את התורה במובנה הרחב- מהתלמוד ועד הזוהר, מהתנ"ך ועד טקסטים בני ימינו. ספאריה נוצרת, נערכת, ומוערת ע"י קהילת הגולשים.</span>
			</p>

			<p>
				<span class='en'>Having digital texts enables us to create new, interactive interfaces for the Web, tablet and mobile which allow students and scholars around the world to freely learn and explore the interconnections among Torah texts.</span>
				<span class='he'>תהליך הדיגיטציה של הטקסט התורני בטכנולוגית הקוד הפתוח מאפשרת  לחוקרים, סטודנטים ומפתחים ברחבי העולם לפתח ולהתאים ממשקים חדשים (למחשב ולמכשירים ניידים) ללימוד ומחקר של הטקסט התורני תוך התייחסות חדשה לקשרים  המילוליים, הענייניים והאסוציאטיבים בין הטקסטים השונים.</span>
			</p>

			<p>
				<span class='en'>Judaism's core texts grew out of millennia-long conversations and arguments across generations. We envision creating an open space for ancient conversations to continue in new ways, with new participants, new questions, and new layers of dialogue.</span>
				<span class='he'>ספרי היסוד של היהדות צמחו מתוך דו-שיח, דיונים ומחלוקות שנמשכו על פני דורות רבים. אנו שואפים ליצירת מרחב פתוח בו הדיאלוג העתיק הזה יוכל להמשיך בדרכים חדשות, עם משתתפים חדשים שישאלו שאלות חדשות ויתרמו רבדים חדשים לשיח הנצחי.</span>
			</p>
		</div>
	</div>


	<div id="bites" class="span7">
		<h3>
			<span class='en'>In the Public Domain</span>
			<span class='he'>ברשות הרבים </span>
		</h3>
		<p>
			<span class='en'>For the Jewish people, our texts are our collective treasure. They belong to everyone and we want them to be available to everyone, in the public domain or with free public licenses.</span>
			<span class='he'>אסופת ההגות היהודית לאורך הדורות הינה נכס לאומי וציבורי. אנו שואפים שלציבור תהיה גישה אליה על ידי שימוש בקוד פתוח או ברשיונות ציבוריים.</span>
		</p>
		<h3>
			<span class='en'>Interconnected</span>
			<span class='he'>רב-קישורי</span>
		</h3>
		<p>
			<span class='en'>Our tradition is inherently interconnected. Dialogue, source citing, and reinterpretation have always been our way. We need an interactive experience of our texts that reflects this network of connections.</span>
			<span class='he'>המסורת שלנו בנויה מטבעה כך שמקורות מתייחסים תמיד על המקורות שקדמו להם. דו-שיח,  ציטוטים, מראי מקומות ומדרש היו דרכנו מאז ומעולם. אנו זקוקים לחוויה אינטראקטיבית המשקפת רשת קשרים זו.</span>
		</p>
		<h3>
			<span class='en'>Open to Reuse</span>
			<span class='he'>פתוח לשימוש חוזר</span>
		</h3>
		<p>
			<span class='en'>We want to be a resource without the red tape, whether it's copying a page of text for republication or <a href="https://github.com/blockspeiser/Sefaria-Data">downloading our entire database</a> for research and new projects.</span>
			<span class='he'>אנו חפצים בהנגשת הטקסט כולו לציבור ללא בירוקרטיה מבלבלת. יובהר: מותרת העתקה, שיכפול, צילום ואפילו הורדת כל מאגר הנתונים שלנו על פי כללי השימוש ההוגן.</span>
		</p>
		<h3>
			<span class='en'>Community Driven</span>
			<span class='he'>ממונע ע"י הציבור</span>
		</h3>
		<p>
			<span class='en'>Our goal is to foster an open community of stewards who choose to take an active role in making our texts accessible and relevant to the future.</span>
			<span class='he'>מטרתנו היא לטפח קהילת גולשים מעורבת ופעילה שתבחר לפעול למען הנגשת הטקסטים שלנו ולמען הרלוונטיות שלהם לדור ההמשך.</span>
		</p>
		<h3>
			<span class='en'>Infrastructure for Jewish Tech</span>
			<span class='he'>תשתית יהודית בעולם מרושת</span>
		</h3>
		<p>
			<span class='en'>All our code is released under an open source license, and we're offering services (like our <a href="/developers">Torah Texts API</a>) to any projects that can make use of them. The basic infrastructure for Jewish tech is something we should share.</span>
			<span class='he'>כל הקוד שלנו הותר לפרסום ברישיון בקוד פתוח. אנחנו מציעים שירותים (כגון ממשק המפתחים לטקסטים שלנו <a href="/developers">Torah Texts API</a>) לכל פרויקט שיכול להיעזר בהם. התשתית הבסיסית עבור יהדות בעולם מרושת הוא נחלה המשותפת לכולם.</span>
		</p>
		<h3>
			<span class='en'>Space for New Conversations</span>
			<span class='he'>מרחב לרב-שיח חדש</span>
		</h3>
		<p>
			<span class='en'>Bringing together all of the written Torah of the past is just a start. Where will we find the most important dialogues of the future?</span>
			<span class='he'>איסוף כל התורה כולה הכתובה מן קדמת דנא הוא רק התחלה. היכן נמצאים רבי השיח החשובים של העתיד?</span>
		</p> 
	</div>

</div>


<div id="help">
	<div class="backer"></div>
	<div class="backer right"></div> 

	<div class="row help">
		<div class="span10 offset1 helpHead">
			<h2>
				<span class='en'>We need your help</span>
				<span class='he'>אנו זקוקים לעזרתכם</span>
			</h2>
			<p>
				<span class='en'>Sefaria is an open source, not-for-profit project committed to bringing digital texts into the public domain. We're looking for volunteers who can help translate, annotate, proofread, design or code.</span>
				<span class='he'>ספאריה היא פרויקט ללא מטרת רווח, שפותחה בקוד פתוח ושמטרתה להביא טקסטים דיגיטליים לרשות הציבור. אנו מחפשים מתנדבים שיכולים לעזור בתרגום, בהארה ובהגהה של טקסטים וכן בפיתוח או עיצוב תוכנה.</span>
			</p>
		</div>
		<div class="span4">
			<div class="well">
				<h2>
					<span class='en'>Educators</span>
					<span class='he'>מחנכים</span>
				</h2>
				<p>
					<span class='en'>Sefaria is a free, interactive resource for you and your students.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
					<span class='he'>ספאריה היא אמצעי אינטראקטיבי חינמי לכם ולתלמידים שלכם.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
				</p>
				<div class="">
					<a href="/educators" class="btn btn-info btn-large">
						<span class='en'>Teach with Sefaria</span>
						<span class='he'>למד באמצעות ספאריה</span>
					</a>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="well">
				<h2>
					<span class='en'>Scholars</span>
					<span class='he'>חוקרים ולומדים</span>
				</h2>
				<p>
					<span class='en'>You can contribute to the growth of a public resource with any level of Torah knowledge.</span>
					<span class='he'>תוכלו לתרום לצמיחה ולשגשוג המשאב הציבורי ללא קשר לרמת הידע התורנית שלכם.</span>
				</p>
				<div class="">
					<a href="/contribute" class="btn btn-info btn-large">
						<span class='en'>Start Contributing</span>
						<span class='he'>תרמו טקסט</span>
					</a>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="well">
				<h2>
					<span class='en'>Developers</span>
					<span class='he'>מפתחים</span>
				</h2>
				<p>
					<span class='en'>If you care about Jewish texts, you can help build something of lasting value.</span>
					<span class='he'>אם אכפת לכם מטקסטים יהודיים, תוכלו לעזור לבנות משהו בעל ערך ובר קיימא.</span>
				</p>
				<div class="">
					<a href="/developers" class='btn btn-info btn-large'>
						<span class='en'>Get Involved</span>
						<span class='he'>החלו להיות מעורבים</span>
					</a>	
				</div>
			</div>
		</div>
	</div>
	<div id="donateRow" class='row'>
		<div class='span12 offset0'>
			<div class="well">
				<h2>
					<span class='en'>Make a Donation</span>
					<span class='he'>הפרויקט עולה כסף רב. כל תרומה תתקבל בברכה.</span>
				</h2>
				<p>
					<span class='en'>If you can't help with texts or with code, you can still support the Sefaria Project by making a tax deductible donation.</span>
					<span class='he'>אם כשרונותיכם אינם בתחום התכנות או הלימוד, עדין תוכלו לעזור לקדם את ספאריה ע"י תרומה כספית מוכרת במס.</span>
				</p>
				<div>
					<a class="btn btn-info btn-large" href="/donate">
						<span class='en'>Learn More</span>
						<span class='he'>קרא עוד</span>
					</a>
				</div>		
			</div>
		</div>
	</div>
</div>


<div id="nextRow" class="row">
	<div class="span6" id="nextBox">
		<span id="nextSteps">
			<span class='en'>Next Steps</span>
			<span class='he'>אז איך מתקדמים מכאן?</span>
		</span> <span id="bracket">{</span>
	</div>
	<div class="span6" id="nextActions">
		<ul>
			<li>
				<h2>
					<span class='en'>Get on the mailing list</span>
					<span class='he'>הצטרפו לרשימת התפוצה</span>
				</h2>
				<input id="email" placeholder="you@email.com"/><span class="btn" id="subscribe">
					<span class='en'>Subscribe</span>
					<span class='he'>הרשם לרשימת התפוצה</span>
				</span>
				<div id="subscribeMsg"></div>
			</li>
			<li>
				<h2>
					<span class='en'>Explore our <a href="/Genesis.1">Texts</a></span>
					<span class='he'>צפה  <a href="/Genesis.1">בטקסטים שלנו</a></span>
				</h2>
			</li>
			<li>
				<h2>
					<span class='en'>Make a <a href="/sheets">Source Sheet</a></span>
					<span class='he'>צור <a href="/sheets">דף מקורות</a></span>
				</h2>
			</li>
			<li>
				<h2>
					<span class='en'>Read the <a href="/contribute">Guide to Contributing</a></span>
					<span class='he'>קרא את <a href="/contribute">המדריך לתורם טקסט</a></span>
				</h2>
			</li>
			<li>
				<h2>
					<span class='en'>Check out our <a href="http://blog.sefaria.org">Blog</a></span>
					<span class='he'>בקר <a href="http://blog.sefaria.org">בבלוג</a></span>
				</h2>
			</li>
			<li>
				<h2>
					<span class='en'>Follow <a href="http://www.twitter.com/SefariaProject">@SefariaProject</a></span>
					<span class='he'>עקוב אחרי <a href="http://www.twitter.com/SefariaProject">ספאריה בטוויטר</a></span>
				</h2>
			</li>
			<li>
				<h2>
					<span class='en'>Like us on <a href="http://www.facebook.com/sefaria.org">Facebook</a></span>
					<span class='he'>אהוב אותנו <a href="http://www.facebook.com/sefaria.org">בפייסבוק</a></span>
				</h2>
			</li>
		</ul>
	</div>
	<div class="clear"></div>
</div>


</div>

</div>
{% endblock %}

{% block js %}
	<script src="/static/js/jquery.scrollTo-1.4.3.1-min.js"></script>
	<script>
		{% autoescape off %}
			{% include "js/django-csrf.js" %}
		{% endautoescape %}

		$(function() {

			$("#videoImgBox").click(function(){
				sjs.help.open();
				sjs.help.openVideo("intro");
				sjs.track.event("Homepage", "Video Start", "");
			});

			$(".aboutLink").click(function(e){
				$.scrollTo("#about", 500, {offset: -60});
				e.preventDefault();
				sjs.track.event("Homepage", "About click", "");
			});

			// Email List
			$("#subscribe").click(function() {
				var email = $("#email").val();
				if (isValidEmailAddress(email)) {
					sjs.track.event("Homepage", "Subscribe from Homepage", "");
					$("#subscribeMsg").html("<i>Subscribing...</i>");
					$.post("/api/subscribe/" + email, function() {
						$("#subscribeMsg").text("Subscribed! Welcome to our list.");
					}).error(function(data) {
						$("#subscribeMsg").text("Sorry, there was an error.");
					})
				} else {
					$("#subscribeMsg").text("Sorry, that's not a valid email address.");
				}
			});
			$("#email").keyup(function(e){
				if (e.keyCode === 13) {
					$("#subscribe").trigger("click");	
				}
			});

			// Open Nav through URL Hash
			if (window.location.hash === "#nav") {
				$("#sefaria").trigger("click");
			}

		});

	</script>
{% endblock %}
