{% extends "base.html" %}

{% load cache %}
{% load humanize %}
{% load sefaria_tags %}

{% block title %}Sefaria.org : a Living Library of Jewish Texts Online{% endblock %}

{% block head %}
	<meta property="og:title" content="Sefaria.org : a Living Library of Jewish Texts Online"/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content="http://www.sefaria.org"/>
	<meta property="og:image" content="http://www.sefaria.org/static/img/fb-og-image.png"/>
{% endblock %}

{% block css %}
	html, body {
		height: auto;
	}
{% endblock %}

{% block content %}

<div id="splash">

<div class="container">

<div id="toprow" class="row">
	
	<div id="headline" class="span12">
		<h1>{% autoescape off %}{{ headlines|random }}{% endautoescape %}</h1>
		<div id="sub">
			In a beautiful interface, fully interconnected, <nobr>with parallel translations, for free.
			<a id="learnMore" href="#about">Learn more &raquo;</a></nobr>
		</div>
	</div>

	<div class="span6">
			<div id="videoBox">
				<div id="videoImgBox">
					<img id="videoImg" src="/static/img/intro-video.png" />
					<div id="videoButton">▶</div>
				</div>
			</div>
	</div>
		
	<div id="" class="span3 splashBox">
		<h3>Featured Texts</h3>
		<a href="/Deuteronomy.20.19">Deuteronomy 20:19</a>
		<a href="/Genesis.1:11-13">Genesis 1:11-13</a>
		<a href="/Taanit.23a">Taanit 23a</a>
		<a href="/Bereishit_Rabbah.13.3">Bereishit Rabbah 13:3</a>
		<a href="/Deuteronomy.8.8-10">Deuteronomy 8:8-10</a>


		<a href="/texts" class="btn btn-primary">Browse all Texts</a>
	</div>

	<div class="span3 splashBox">
		<h3>Featured Source Sheets</h3>
		<a href="/sheets/1571">כי האדם עץ השדה</a>
		<a href="/sheets/1594">Blessing Food</a>
		<a href="/sheets/1427">Prisoner Exchanges & Jewish Law:Part 1</a>
		<a href="/sheets/1590">It's Raining Bread: A Study of the Manna</a>
		<a href="/sheets/1277">Writing a New Torah</a>


		<a href="/sheets" class="btn btn-primary">Browse all Sheets</a>
	</div>

	<div class="span3 splashBox">
		<h3>Parashat HaShavua</h3>
		<a href="/{{ parasha.ref|url_safe }}">{{ parasha.parasha }}: {{ parasha.ref }}</a>
		{% if parasha.haftara|length > 1 %}
			<span class="floatLeft">Haftara:</span>
			{% for haftara in parasha.haftara %}
				<a class="floatLeft"  href="/{{ haftara|url_safe }}">{{ haftara }}</a>
			{% endfor %}
			<div class="clear"></div>
		{% else %}
			<a href="/{{ parasha.haftara.0|url_safe }}">Haftara: {{ parasha.haftara.0 }}</a>
		{% endif %}
		{{ parasha.shabbat_name|default:"" }}
	</div>
	<div class="span3 splashBox">
		<h3>Daf Yomi</h3>
		<a href="/{{ daf_today.url }}">Today: {{ daf_today.name }}</a>
		<a href="/{{ daf_tomorrow.url }}">Tomorrow: {{ daf_tomorrow.name }}</a>
	</div>
	
</div>

<div class="row" id="contestRow">
	<div class="backer"></div>
	<div class="backer right"></div>
	<div class="span12">
		<div>Our Mishnah Translation Contest has ended. We are reviewing translations now and will announce the winners on January 15th.</div>
		<a class="btn btn-large btn-info" href="/mishnah-contest-2013">Learn More</a>
	</div>
</div>

<div class="row" id="statsRow">
	<div class="backer"></div>
	<div class="backer right"></div>
	<div class="span3">
		<p class="statsBox">
			<span class="wordCount">{{ metrics.contributors|intcomma }}</span>
			people who have made a public textual contribution
		</p>
	</div>
	<div class="span3">
		<p class="statsBox">
			<span class="wordCount">{{ metrics.sctWords|intcomma }}</span>
			words of translation created by Sefaria Contributors
		</p>
	</div>
	<div class="span3">
		<p class="statsBox">
			<span class="wordCount">{{ metrics.links|intcomma }}</span>
			known connections between different texts
		</p>
	</div>
	<div class="span3">
		<p class="statsBox">
			<span class="wordCount">{{ metrics.heWords|add:metrics.transWords|intcomma }}</span>
			total words in the Sefaria Library
		</p>
	</div>
	<a href="/metrics" id="moreMetrics">
		More Metrics &raquo;
	</a>
</div>


<div class="row" id="activityRow">
	<div class="span7 offset5">
		<h2><a href="/activity">Recent Activity &raquo;</a></h2>
	</div>

	<div class="span3 offset1">
		<div id="campaignBox" class="well splashBox">
			<h3>Can you Translate Hebrew?</h3>
			<div>Our current goal is to create a free translation of the entire Mishnah.</div>

			<a href="/translate/Mishnah" class="btn btn-large btn-primary">Help Translate</a>
		</div>
	</div>

	<div id="activityFeed" class="span7 offset1">
		{% include "elements/activity_feed.html" %}
		<a href="/activity" class="">View all Activity &raquo;</a>
	</div>


</div>

<div class="row" id="about">
	<div class="span5">
		<div class="well about">
			<h2>About Sefaria</h2>
			<br>
			<p>The Sefaria Project is about building the future of Jewish learning in an open and participatory way.</p>
			
			<p>We are building a free living library of Jewish texts and their interconnections, in Hebrew and in translation. Our scope is Torah in the broadest sense, from Tanakh to Talmud to Zohar to modern texts and all the volumes of commentary in between. Sefaria is created, edited, and annotated by an open community.</p>

			<p>Having digital texts enables us to create new, interactive interfaces for the Web, tablet and mobile which allow students and scholars around the world to freely learn and explore the interconnections among Torah texts.</p>

			<p>Judaism's core texts grew out of millennia-long conversations and arguments across generations. We envision creating an open space for ancient conversations to continue in new ways, with new participants, new questions, and new layers of dialogue.</p>
		</div>
	</div>


	<div id="bites" class="span7">
		<h3>In the Public Domain</h3>
		<p>For the Jewish people, our texts are our collective treasure. They belong to everyone and we want them to be available to everyone, in the public domain or with free public licenses.</p>
		<h3>Interconnected</h3>
		<p>Our tradition is inherently interconnected. Dialogue, source citing, and reinterpretation have always been our way. We need an interactive experience of our texts that reflects this network of connections.</p>
		<h3>Open to Reuse</h3>
		<p>We want to be a resource without the red tape, whether it's copying a page of text for republication or <a href="https://github.com/blockspeiser/Sefaria-Data">downloading our entire database</a> for research and new projects.</p>
		<h3>Community Driven</h3>
		<p>Our goal is to foster an open community of stewards who choose to take an active role in making our texts accessible and relevant to the future.</p>
		<h3>Infrastructure for Jewish Tech</h3>
		<p>All our code is released under an open source license, and we're offering services (like our <a href="/developers">Torah Texts API</a>) to any projects that can make use of them. The basic infrastructure for Jewish tech is something we should share.</p>
		<h3>Space for New Conversations</h3>
		<p>Bringing together all of the written Torah of the past is just a start. Where will we find the most important dialogues of the future?</p> 
	</div>

</div>

<!--
<div class="row" id="sheetsRow">
	<div class="backer"></div>
	<div class="backer right"></div> 
	<div class="span7">
		<h2>Create a Source Sheet</h2>
		<ul>
			<li>Beautiful, interactive, bilingual source sheets, without the copy and paste.</li>
			<li>Print, save PDFs, or share a link on email, Facebook or Twitter.</li>
			<li>Give students one click access to a source's context and additional related texts.</li>
			<li></li>
		</ul>
		<a href="/sheets"><div class="btn btn-large btn-primary">Browse Sheets</div></a>
		<a href="/sheets/new"><div class="btn btn-large btn-success">Start a New Sheet</div></a>
	</div>
	<div class="span5">
		<a href="/sheets">
			<img src="/static/img/sheets.png" />
		</a>
	</div>

</div>
-->

<div id="help">
	<div class="backer"></div>
	<div class="backer right"></div> 

	<div class="row help">
		<div class="span10 offset1 helpHead">
			<h2>We need your help</h2>
			<p>Sefaria is an open source, not-for-profit project committed to bringing digital texts into the public domain. We're looking for volunteers who can help translate, annotate, proofread, design or code.</p>
		</div>
		<div class="span4">
			<div class="well">
				<h2>Educators</h2>
				<p>Sefaria is a free, interactive resource for you and your students.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
				<div class="">
					<a href="/educators" class="btn btn-info btn-large">Teach with Sefaria</a>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="well">
				<h2>Scholars</h2>
				<p>You can contribute to the growth of a public resource with any level of Torah knowledge.</p>
				<div class="">
					<a href="/contribute" class="btn btn-info btn-large">Start Contributing</a>
				</div>
			</div>
		</div>
		<div class="span4">
			<div class="well">
				<h2>Developers</h2>
				<p>If you care about Jewish texts, you can help build something of lasting value.</p>
				<div class="">
					<a href="/developers" class='btn btn-info btn-large'>Get Involved</a>	
				</div>
			</div>
		</div>
	</div>
	<div id="donateRow" class='row'>
		<div class='span12 offset0'>
			<div class="well">
				<h2>Make a Donation</h2>
				<p>
					If you can't help with texts or with code, you can still support the Sefaria Project by making a tax deductible donation.
				</p>
				<div>
					<a class="btn btn-info btn-large" href="/donate">Learn More</a>
				</div>		
			</div>
		</div>
	</div>
</div>


<div id="nextRow" class="row">
	<div class="span6" id="nextBox">
		<span id="nextSteps">Next Steps</span> <span id="bracket">{</span>
	</div>
	<div class="span6" id="nextActions">
		<ul>
			<li>
				<h2>Get on the mailing list</h2>
				<input id="email" placeholder="you@email.com"/><span class="btn" id="subscribe">Subscribe</span>
				<div id="subscribeMsg"></div>
			</li>
			<li>
				<h2>Explore our <a href="/Genesis.1">Texts</a></h2>
			</li>
			<li>
				<h2>Make a <a href="/sheets">Source Sheet</a></h2>
			</li>
			<li>
				<h2>Read the <a href="/contribute">Guide to Contributing</a></h2>
			</li>
			<li>
				<h2>Follow <a href="http://www.twitter.com/SefariaProject">@SefariaProject</a></h2>
			</li>
			<li>
				<h2>Like us on <a href="http://www.facebook.com/sefaria.org">Facebook</a></h2>
			</li>
		</ul>
	</div>
	<div class="clear"></div>
</div>



</div>

</div>
{% endblock %}

{% block js %}
	<script src="/static/js/jquery.scrollTo-1.4.3.1-min.js"></script>
	<script>
		{% autoescape off %}
			{% include "js/django-csrf.js" %}
		{% endautoescape %}

		$(function() {

			sjs.track.event("Homepage", "Headline", $("#toprow h1").text());

			$("#videoImgBox").click(function(){
				sjs.help.open();
				sjs.help.openVideo("intro");
				sjs.track.event("Homepage", "Video Start", "");
			});

			$("#learnMore").click(function(e){
				$.scrollTo("#about", 1000, {offset: -60});
				e.preventDefault();
				sjs.track.event("Homepage", "Learn more click", "");
			});

			$("#subscribe").click(function() {
				var email = $("#email").val();
				if (isValidEmailAddress(email)) {
					sjs.track.event("Homepage", "Subscribe from Homepage", "");
					$("#subscribeMsg").html("<i>Subscribing...</i>");
					$.post("/api/subscribe/" + email, function() {
						$("#subscribeMsg").text("Subscribed! Check your email for a confirmation.");
					}).error(function(data) {
						$("#subscribeMsg").text("Sorry, there was an error.");
					})
				} else {
					$("#subscribeMsg").text("Sorry, that's not a valid email address.");
				}
			});

			$("#email").keyup(function(e){
				if (e.keyCode === 13) {
					$("#subscribe").trigger("click");	
				}
			});
		});

	</script>
{% endblock %}
