{% extends "base.html" %}

{% block title %}Sefaria.org : New Interfaces for Jewish Texts{% endblock %}

{% block content %}
<div id="splash">
<div class="container">
<div class="row">
	<h1 class="span12">Sefaria</h1>
</div>

<div class="row">
	<div class="span6">
		<div class="well">
			<h2>Imagine...</h2>

			<ul>
				<li>Our Core Texts</li>
				<li>Thousands of Years of Commentary</li>
				<li>New Layers of Conversation</li>
				<li>All Interconnected</li>
				<li>All in the Public Domain</li>
			</ul>
		</div>
	</div>

	<div class="span6">
		<div class="well">
			<h2>Jump in</h2>
			<ul>
				<li>Torah:  Genesis 1:1, Numbers 3:4,</li>
				<li>Talmud: Berakhot 1a, [tk]</li>
				<li>Modern Commentaries: [TK]</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="span12">
		<h2>We need your help.</h2>

		<p>We're just getting started. Sefaria is an open-source collaborative project, with contributors all over the world. Join us as we build the future of Jewish texts.</p>

		[ADD SOURCES] [DONATE] [CREATE YOUR OWN SOURCE SHEETS] [JOIN OUR TEAM]
	</div>
</div>

<form action='https://madmimi.com/signups/subscribe/53596?mimi2=1' method='post' id='mad_mimi_signup_form'>
 <fieldset>
  <div class='mimi_field text email required'>
   <label for='signup_email'>Email</label>
   <input id='signup_email' name='signup[email]' type='text' placeholder='you@example.com' class='required'>
   <span class='mimi_field_feedback'></span><span class='mimi_funk'></span>
  </div>
  <div class='mimi_field action'>
   <button type='submit' class='submit' data-default-text='Sign up!' data-submitting-text='Sending…' data-invalid-text='↑ You forgot some required fields'>
    <span>Sign up!</span>
   </button>
  </div>
 </fieldset>
</form>


<div class="row">
	<div class="span6">
	<h2>What is the Sefaria Project?</h2>

	<p>The Sefaria Project aims to revolutionize the way we interact with our tradition's core texts. 
	</p>
	<p>First, we are building a free and open source, public domain repository that will grow to include all Jewish texts (from Tanach to Talmud to Zohar to modern texts and all the volumes of commentary in between) and their interconnections, in Hebrew and translation. Sefaria is created, edited, and annotated by an open community, and accessible for development through a free API. </p>

	<p>Second, we are building a novel interactive interface for the iPad, web, and other new media, which will allow students and scholars around the world to add new layers of conversation to our tradition's core texts.</p>

	<p>Judaism's core texts grew out of millennia-long conversations and arguments across generations. We are creating an open space for ancient conversations to continue in new ways, with new participants, new questions, and new layers of dialogue.</p>
	</div>

	<div class="span6">
	<h2>Our Goals</h2>
		<ul>	
			<li>Develop a structured, cross-linked, open-source platform for storing, searching, and annotating Jewish texts. This platform will be designed to scale up to include all traditional sources, multiple translations, as well as new layers of user-generated commentary, questions, and interconnections.</li>
			<li>Populate the platform with core Jewish texts that are already available in digital form, and create an interface to crowd-source contributions from scholars of all levels.</li>
			<li>Create a web and a tablet interface demonstrating a new mode of interacting with and navigating interrelated texts. </li>
			<li>Grow the Sefaria platform into a social network that will allow users to add new layers of commentary to the existing texts and create a forum for continued conversation.</li>
			<li>Distribute a free and public API, allowing developers to create new applications on top of our existing data and infrastructure, as well as a free method for downloading our data in bulk.</li>
			<li>Donate all results of our work into the public domain, and release all code under an open source license.</li>
			<li>Development of our core service and interface will be pushed forward by a community of open-source developers, managed by a guiding non-profit, non-denominational organization.</li>
		</ul>
	</div>

</div>
</div>
	<div id="early" class="well">
		<h3>For Early Contributors:</h3>
		<a href="/Genesis.1">Open Bereishit 1</a>
		<a href="/Berakhot.2a">Open Berakhot 2a</a>
		<a href="/sheets">Source Sheet Builder</a>
		<a href="/contribute">Guide to Contributing</a>
		<a href="/forum">Forum</a>
		<a href="/activity">Recent Activity</a>
	</div>
</div>
{% endblock %}

{% block js %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.js"></script>
{% endblock %}