{% extends "base.html" %}

{% block title %}Sefaria Strategy{% endblock %}

{% block content %}

<div id="strategy" class="">

<!--
<object data="/static/files/Sefaria.Deck.v2.for.web.pdf#view=FitH" type="application/pdf" height="800px">

  <p>It appears you don't have a PDF plugin for this browser.
  You can <a href="/static/files/Sefaria.Deck.v2.for.web.pdf">click here to
  download the PDF file.</a></p>

</object>
-->

<!--
<iframe src="https://drive.google.com/file/d/0B7W0TZgSmWFVZTUydlpMaFhscU0/view?embedded=true" width="100%" height="780" style="border: none;"></iframe>
-->

<!--<h1>SEFARIA: Vision and Strategy 2015-2016</h1>-->

<iframe id="deck" src="http://docs.google.com/viewer?url=http%3A%2F%2Fwww.sefaria.org%2Fstatic%2Ffiles%2FSefaria.Deck.v2.for.web.pdf&embedded=true" width="100%" height="680"></iframe>


<a href="/static/files/Sefaria.Deck.v2.for.web.pdf" target="_blank" class="btn btn-large btn-primary">Download Presentation</a>

</div>

<div id="overlay"></div>

{% endblock %}


{% block js %}

<script>
$(function() {
  $("#deck").css("max-width", $(window).height() + 100);
});
</script>

{% endblock %}
