{% extends "base.html" %}

{% block title %}Sefaria Strategy{% endblock %}

{% block content %}

<div id="strategy" class="container doc">

<!--
<object data="/static/files/Sefaria.Deck.v2.for.web.pdf#view=FitH" type="application/pdf" height="800px">

  <p>It appears you don't have a PDF plugin for this browser.
  You can <a href="/static/files/Sefaria.Deck.v2.for.web.pdf">click here to
  download the PDF file.</a></p>

</object>
-->

<iframe src="https://drive.google.com/file/d/0B7W0TZgSmWFVZTUydlpMaFhscU0/view?embedded=true" width="100%" height="780" style="border: none;"></iframe>

</div>

<div id="overlay"></div>

{% endblock %}


{% block js %}
{% endblock %}
