{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Sefaria Strategy" %}{% endblock %}

{% block css %}
  html, body {
    height: auto;
    overflow-x: hidden;
  }
  #languageToggle {
    display: inline;
  }
  #languageToggle #bilingual {
    display: none;
  }
{% endblock %}

{% block content %}

<div id="strategy" class="biReady">

  <div id="deckBox">
    <iframe class="deck en" src="https://docs.google.com/viewer?url=http%3A%2F%2Fwww.sefaria.org%2Fstatic%2Ffiles%2FSefaria.Deck.v3.for.web.pdf&embedded=true" width="100%" height="680"></iframe>

    <iframe class="deck he" src="https://docs.google.com/viewer?url=http%3A%2F%2Fwww.sefaria.org%2Fstatic%2Ffiles%2FSefaria.Deck.Hebrew.v1.for.web.pdf&embedded=true" width="100%" height="680"></iframe>
  </div>

<h2>Make a Donation</h2>
<div>Sefaria is a 501(c)(3) charitable organization; donations are tax-deductible as allowed by law.</div>
<a id="donateButton" class="btn btn-large btn-primary" href="/donate">Donate to Sefaria</a>
</div>


<div id="overlay"></div>

{% endblock %}


{% block js %}

<script>
$(function() {
  $("#deck").css("max-width", $(window).height() + 100);
});
</script>

{% endblock %}
