{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Sefaria's Supporters" %}{% endblock %}

{% block description %}{% trans "Sefaria gratefully acknowledges the following donors whose generosity and leadership are making Sefaria possible." %}{% endblock %}

{% block content %}
<div id="supportersPage" class="container static biReady">
    <div class="inner">
        <h1>
            <span class="int-en">Our Supporters</span>
            <span class="int-he">התומכים שלנו</span>
        </h1>
        <div class="section leading-supporters">
            <p class="tagline">
                <span class="int-en">
                    We gratefully acknowledge the following donors whose generosity and
                    leadership are making Sefaria possible.
                </span>
                <span class="int-he">
                    אנו מכירים תודה לתורמים הבאים, שבזכות נדיבותם והנהגתם ספריא ממשיכה לפעול
                </span>
            </p>


            <div class="donors-section">
                <h3>
                    <span class="int-en">Founder’s Circle</span>
                    <span class="int-he">מעגל המייסדים</span>
                </h3>
                <div class='supporter'><p><a href='https://jimjosephfoundation.org/'>Jim Joseph Foundation</a></p></div>
                <div class='supporter'><p><a href='https://williamdavidson.org/'>William Davidson Foundation</a></p></div>
            </div>


            <div class="donors-section">
                <h3>
                    <span class="int-en">Partners</span>
                    <span class="int-he">שותפים</span>
                </h3>
                <div class='supporter'><p>Anonymous Foundation</p></div>
                <div class='supporter'><p>Anonymous Foundation</p></div>
                <div class='supporter'><p>Koschitzky Family</p></div>
                <div class='supporter'><p>Maimonides Fund</p></div>
            </div>


            <div class="donors-section">
                <h3>
                    <span class="int-en">Innovators</span>
                    <span class="int-he">יזמים</span>
                </h3>
                <div class='supporter'><p>Raanan and Nicole Agus</p></div>
                <div class='supporter'><p>Anonymous Foundation</p></div>
                <div class='supporter'><p>Anonymous Foundation</p></div>
                <div class='supporter'><p><a href='https://avichai.org/'>AVI CHAI Foundation</a></p></div>
                <div class='supporter'><p>Aryeh B. Bourkoff</p></div>
                <div class='supporter'><p>Belsky Family</p></div>
                <div class='supporter'><p><a href='https://www.covenantfn.org/'>The Covenant Foundation</a></p></div>
                <div class='supporter'><p><a href='https://crownfamilyphilanthropies.org'>The Crown Family</a></p></div>
                <div class='supporter'><p>David and Tracy Frankel</p></div>
                <div class='supporter'><p>Hilary and Mo Koyfman</p></div>
                <div class='supporter'><p>Linda and Leib Koyfman</p></div>
                <div class='supporter'><p>Joshua Kushner</p></div>
                <div class='supporter'><p><a href='https://littauerfoundation.org/'>The Lucius N. Littauer Foundation</a></p></div>
                <div class='supporter'><p><a href='https://www.natan.org'>The Natan Fund</a></p></div>
                <div class='supporter'><p><a href='https://www.righteouspersons.org/'>Righteous Persons Foundation</a></p></div>
                <div class='supporter'><p><a href='https://www.russellberriefoundation.org/'>The Russell Berrie Foundation</a></p></div>
                <div class='supporter'><p>Jorian Polis Schutz</p></div>
            </div>


            <div class="donors-section">
                <h3>
                    <span class="int-en">Builders</span>
                    <span class="int-he">בונים</span>
                </h3>
                <div class='supporter'><p>Anonymous</p></div>
                <div class='supporter'><p>The Applebaum Foundation</p></div>
                <div class='supporter'><p><a href='https://www.bronfman.org/alumniventurefund'>Bronfman Alumni Venture Fund</a></p></div>
                <div class='supporter'><p>Joyce and Fred Claar</p></div>
                <div class='supporter'><p>Virginia Bayer and Rabbi Robert Hirt</p></div>
                <div class='supporter'><p>Ari &amp; Rebecca Elias-Bachrach</p></div>
                <div class='supporter'><p>Joshua and Dinah Foer</p></div>
                <div class='supporter'><p>Simone Friedman/EJF Philanthropies</p></div>
                <div class='supporter'><p>The Joyce and Irving Goldman Family Foundation</p></div>
                <div class='supporter'><p>Tamar and Eric Goldstein</p></div>
                <div class='supporter'><p>Terri and Andrew Herenstein</p></div>
                <div class='supporter'><p>Jonathan Herlands and Rachel Neumark Herlands</p></div>
                <div class='supporter'><p><a href='https://www.kaplanfoundation.org/'>The Rita J. &amp; Stanley H. Kaplan Family Foundation</a></p></div>
                <div class='supporter'><p>Kassan Family</p></div>
                <div class='supporter'><p>Linda and Ilan Kaufthal</p></div>
                <div class='supporter'><p>Samuel and Vicki Katz Philanthropic Fund</p></div>
                <div class='supporter'><p>Tina and Akiva Katz</p></div>
                <div class='supporter'><p>Linda and Ilan Kaufthal</p></div>
                <div class='supporter'><p>The Klipper Fund</p></div>
                <div class='supporter'><p>Mitchell and Karen Kuflik</p></div>
                <div class='supporter'><p>Edy and Jacob Kupietzky and Family</p></div>
                <div class='supporter'><p>Marc Kushner</p></div>
                <div class='supporter'><p>Seryl and Charles Kushner Family Foundation</p></div>
                <div class='supporter'><p><a href="https://lippmankanfer.org/">Lippman Kanfer Foundation for Living Torah</a></p></div>
                <div class='supporter'><p>Dr. Lester and Nancy Lockspeiser</p></div>
                <div class='supporter'><p>Jennifer and David Millstone</p></div>
                <div class='supporter'><p>James and Nicki Rothschild</p></div>
                <div class='supporter'><p>Joshua and Julia Ruch</p></div>
                <div class='supporter'><p><a href='https://www.targumshlishi.org/'>Targum Shlishi</a> and Raquel and Aryeh Rubin</p></div>
                <div class='supporter'><p>Ilan and Dana Rubinstein</p></div>
                <div class='supporter'><p>Schimmel Family</p></div>
                <div class='supporter'><p>Joseph C. and Nina Shenker</p></div>
                <div class='supporter'><p>Doug and Fabienne Silverman</p></div>
                <div class='supporter'><p>Slingshot Fund</p></div>
                <div class='supporter'><p>The Kurt and Rose Stanger Charitable Trust</p></div>
                <div class='supporter'><p>Lizzie and Jonathan Tisch</p></div>
                <div class='supporter'><p><a href='http://www.tsadik.org/'>Tsadik Foundation</a></p></div>
                <div class='supporter'><p>Kevin Ulrich</p></div>
                <div class='supporter'><p>Harlan Waksal, M.D.</p></div>
                <div class='supporter'><p>Bernard, Irwin &amp; Lila Weinstein Foundation</p></div>
                <div class='supporter'><p>Tova and Howard Weiser</p></div>
            </div>

        </div>
        <div class="section supporters">
            <p class="tagline">
                <span class="int-en">
                    We are also thankful to the following individuals and organizations for their generosity:
                </span>
                <span class="int-he">
                    אנו מודים לארגונים וליחידים הבאים על נדיבותם:
                </span>
            </p>
            <div class='supporter'>
                <p>
                    <span class="int-en"><a href="http://hebrew-academy.huji.ac.il/English/Pages/Home.aspx">The Academy of the Hebrew Language</a></span>
                    <span class="int-he"><a href="http://hebrew-academy.org.il/">האקדמיה ללשון העברית</a></span>
                </p>
            </div>
            <div class='supporter'>
                <p>
                    <span class="int-en"><a href="http://web.nli.org.il/sites/nli/English/Pages/default.aspx">The National Library of Israel</a></span>
                    <span class="int-he"><a href="http://web.nli.org.il/sites/nli/hebrew/pages/default.aspx">הספריה הלאומית של ישראל</a></span>
                </p>
            </div>
            <div class='supporter'><p><a href="http://stblaw.com">Simpson Thacher &amp; Bartlett LLP</a></p></div>
            <div class='supporter'><p>Mark Cohen, <a href="http://pearlcohen.com">Pearl Cohen</a></p></div>
            <div class='supporter'><p><a href="http://rubyventures.com/">Ruby Ventures</a></p></div>
            <div class='supporter'><p><a href="http://www.trinityventures.com/">Trinity Ventures</a></p></div>
            <div class='supporter'><p><a href="https://apps.google.com/">Google Apps for Work</a></p></div>
            <div class='supporter'><p><a href="https://slack.com">Slack</a></p></div>
            <div class='supporter'><p><a href="https://www.jetbrains.com/pycharm/">JetBrains / PyCharm</a></p></div>
            <div class='supporter'><p><a href="https://www.browserstack.com/">BrowserStack </a></p></div>
        </div>
        <div class="section">
            <h2>
                <span class="int-en">Contact</span>
                <span class="int-he">יצירת קשר</span>
            </h2>
            <p>
                <span class="int-en">
                    To learn more about becoming a lead supporter, please contact Daniel Septimus at 917-398-2542 or <a href="mailto:ds@sefaria.org">ds@sefaria.org</a>.
                </span>
                <span class="int-he">
                    אם ברצונכם לבחון את האפשרות להיות תומכים מובילים, אנא צרו קשר עם דניאל ספטימוס בטלפון 917-398-2542 או במייל <a href="mailto:ds@sefaria.org">ds@sefaria.org</a>.
                </span>
            </p>
            <p class="tagline">
                <span class="int-en">
                    Donations to Sefaria are tax deductible as allowed by law.
                </span>
                <span class="int-he">
                    תרומות לספריא פטורות ממס כפי שקבוע בחוק.
                </span>
            </p>
           <div class="donate-link single-button">
                <a class="button big blue control-elem" href="/donate" target="_blank">
                    <span class="int-en">Donate Now</span>
                    <span class="int-he">תרמו כעת</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
