{% extends "base.html" %}

{% block title %}Sefaria's Supporters{% endblock %}

{% block content %}

<div id="supportersPage" class="biReady container full-text-static">
    <div class="page-title"><h1>
        <span class='en'>Our Supporters</span>
        <span class='he'>התומכים שלנו</span>
    </h1></div>
    <div class="row static-text">
        <div class="supporters main-text">
            <div class="supportersMessage">
                <p class="tagline">
                    We gratefully acknowledge the following donors whose generosity and
                    leadership are making Sefaria possible.
            </p></div>
            <div class='supporter'><p>Raanan and Nicole Agus</p></div>
            <div class='supporter'><p><a href='http://avichai.org/'>AVI CHAI Foundation</a></p></div>
            <div class='supporter'><p>Virginia Bayer and Rabbi Robert Hirt</p></div>
            <div class='supporter'><p>Belsky Family</p></div>
            <div class='supporter'><p><a href='http://www.bronfman.org/alumniventurefund'>Bronfman Alumni Venture Fund</a></p></div>
            <div class='supporter'><p>Aryeh B. Bourkoff</p></div>
            <div class='supporter'><p>Joyce and Fred Claar</p></div>
            <div class='supporter'><p>Mark Cohen</p></div>
            <div class='supporter'><p><a href='http://crownfamilyphilanthropies.org'>The Crown Family</a></p></div>
            <div class='supporter'><p><a href='http://williamdavidson.org/'>William Davidson Foundation</a></p></div>
            <div class='supporter'><p>Ari &amp; Rebecca Elias-Bachrach</p></div>
            <div class='supporter'><p>Joshua and Dinah Foer</p></div>
            <div class='supporter'><p>David Frankel</p></div>
            <div class='supporter'><p>The Joyce and Irving Goldman Family Foundation</p></div>
            <div class='supporter'><p><a href='http://jimjosephfoundation.org/'>Jim Joseph Foundation</a></p></div>
            <div class='supporter'><p>Jonathan Herlands and Rachel Neumark Herlands</p></div>
            <div class='supporter'><p><a href='http://www.kaplanfoundation.org/'>The Rita J. &amp; Stanley H. Kaplan Family Foundation</a></p></div>
            <div class='supporter'><p>Samuel and Vicki Katz Philanthropic Fund</p></div>
            <div class='supporter'><p>Tina and Akiva Katz</p></div>
            <div class='supporter'><p>Linda and Ilan Kaufthal</p></div>
            <div class='supporter'><p>The Klipper Fund</p></div>
            <div class='supporter'><p>Koschitzky Family</p></div>
            <div class='supporter'><p>Hilary and Mo Koyfman</p></div>
            <div class='supporter'><p>Mitchell and Karen Kuflik</p></div>
            <div class='supporter'><p>Joshua Kushner</p></div>
            <div class='supporter'><p>Seryl and Charles Kushner Family Foundation</p></div>
            <div class='supporter'><p><a href='http://littauerfoundation.org/'>The Lucius N. Littauer Foundation</a></p></div>
            <div class='supporter'><p>Dr. Lester and Nancy Lockspeiser</p></div>
            <div class='supporter'><p>Maimonides Fund</p></div>
            <div class='supporter'><p>Jennifer and David Millstone</p></div>
            <div class='supporter'><p><a href='http://www.natan.org'>The Natan Fund</a></p></div>
            <div class='supporter'><p><a href='http://www.righteouspersons.org/'>Righteous Persons Foundation</a></p></div>
            <div class='supporter'><p>Joshua Ruch</p></div>
            <div class='supporter'><p><a href='http://www.russellberriefoundation.org/'>The Russell Berrie Foundation</a></p></div>
            <div class='supporter'><p>The Kurt and Rose Stanger Charitable Trust</p></div>
            <div class='supporter'><p><a href='http://www.targumshlishi.org/'>Targum Shlishi</a> and Raquel and Aryeh Rubin</p></div>
            <div class='supporter'><p>Ilan and Dana Rubinstein</p></div>
            <div class='supporter'><p>The Schimmel Family</p></div>
            <div class='supporter'><p>Jorian Polis Schutz</p></div>
            <div class='supporter'><p>Doug and Fabienne Silverman</p></div>
            <div class='supporter'><p>Joseph C. and Nina Shenker</p></div>
            <div class='supporter'><p><a href='http://www.tsadik.org/'>Tsadik Foundation</a></p></div>
            <div class='supporter'><p>Harlan Waksal, M.D.</p></div>
            <div class='supporter'><p>Bernard, Irwin &amp; Lila Weinstein Foundation</p></div>
            <div class='supporter'><p>Tova and Howard Weiser</p></div>
        </div>
        <div class="supporters additional-text">
                <div class="supportersMessage"><p class="tagline">
                    We are also thankful to the following organizations for their generosity.
                </p></div>
            <div class='supporter'><p><a href="http://web.nli.org.il/sites/nli/English/Pages/default.aspx">The National Library of Israel</a></p></div>
            <div class='supporter'><p><a href="http://stblaw.com">Simpson Thacher &amp; Bartlett LLP</a></p></div>
            <div class='supporter'><p><a href="http://pearlcohen.com">Pearl Cohen</a></p></div>
            <div class='supporter'><p><a href="http://rubyventures.com/">Ruby Ventures</a></p></div>
            <div class='supporter'><p><a href="http://www.trinityventures.com/">Trinity Ventures</a></p></div>
            <div class='supporter'><p><a href="https://apps.google.com/">Google Apps for Work</a></p></div>
            <div class='supporter'><p><a href="https://slack.com">Slack</a></p></div>
            <div class='supporter'><p><a href="https://www.jetbrains.com/pycharm/">JetBrains / PyCharm</a></p></div>
            <div class='supporter'><p><a href="https://www.browserstack.com/">BrowserStack </a></p></div>
        </div>
        <div class="supporters main-text">
            <div>
                <h4>Make a Donation</h4>
                <p>Sefaria is a 501(c)(3) charitable organization; donations are tax-deductible as allowed by law.</p>
                <div class="single-button">
                    <a class="btn btn-large purple" href="/donate">Donate to Sefaria</a>
                </div>
            </div>
        </div>
    </div>


</div>

{% endblock %}
