{% extends "base.html" %}
{% load i18n %}

{% block title %}{% "Sefaria's Supporters" %}{% endblock %}

{% block description %}{% "Sefaria gratefully acknowledges the following donors whose generosity and leadership are making Sefaria possible." %}{% endblock %}

{% block content %}
<div id="supportersPage" class="container static biReady">
    <div class="inner">
        <h1>
            <span class="int-en">Our Supporters</span>
            <span class="int-he">התומכים שלנו</span>
        </h1>
        <div class="section leading-supporters">
            <p class="tagline">
                <span class="int-en">
                    We gratefully acknowledge the following donors whose generosity and
                    leadership are making Sefaria possible.
                </span>
                <span class="int-he">
                    אנו מכירים תודה לתורמים הבאים, שבזכות נדיבותם והנהגתם ספריא ממשיכה לפעול
                </span>
            </p>


            <div class="donors-section">
                <h3>
                    <span class="int-en">Founder’s Circle</span>
                    <span class="int-he">מעגל המייסדים</span>
                </h3>
                <div class='supporter'><p>Jim Joseph Foundation</p></div>
                <div class='supporter'><p>William Davidson Foundation</p></div>
            </div>


            <div class="donors-section">
                <h3>
                    <span class="int-en">Partners</span>
                    <span class="int-he">שותפים</span>
                </h3>
                <div class='supporter'><p>Koschitzky Family</p></div>
                <div class='supporter'><p>Maimonides Fund</p></div>
            </div>


            <div class="donors-section">
                <h3>
                    <span class="int-en">Innovators</span>
                    <span class="int-he">יזמים</span>
                </h3>
                <div class='supporter'><p>Raanan and Nicole Agus</p></div>
                <div class='supporter'><p>AVI CHAI Foundation</p></div>
                <div class='supporter'><p>Aryeh B. and Elana Bourkoff</p></div>
                <div class='supporter'><p>Aviv Foundation</p></div>
                <div class='supporter'><p>Belsky Family</p></div>
                <div class='supporter'><p>Gary and Lois Claar</p></div>
                <div class='supporter'><p>The Covenant Foundation</p></div>
                <div class='supporter'><p>The Crown Family</p></div>
                <div class='supporter'><p>David and Tracey Frankel</p></div>
                <div class='supporter'><p>Sally Gottesman</p></div>
                <div class='supporter'><p>Hilary and Mo Koyfman</p></div>
                <div class='supporter'><p>Koum Family Foundation</p></div>
                <div class='supporter'><p>Linda and Leib Koyfman</p></div>
                <div class='supporter'><p>Lippman Kanfer Foundation for Living Torah</p></div>
                <div class='supporter'><p>Joshua Kushner</p></div>
                <div class='supporter'><p>The Lucius N. Littauer Foundation</p></div>
                <div class='supporter'><p>The Natan Fund</p></div>
                <div class='supporter'><p>Righteous Persons Foundation</p></div>
                <div class='supporter'><p>Rubinstein, Koschitzky, and Pertman families</p></div>
                <div class='supporter'><p>The Russell Berrie Foundation</p></div>
                <div class='supporter'><p>The Paul E. Singer Foundation (via the Jewish Community Response and Impact Fund)</p></div>
                <div class='supporter'><p>Charles and Lynn Schusterman Family Philanthropies</p></div>
                <div class='supporter'><p>Jorian Polis Schutz</p></div>
            </div>


            <div class="donors-section">
                <h3>
                    <span class="int-en">Builders</span>
                    <span class="int-he">בונים</span>
                </h3>
                <div class='supporter'><p>The Applebaum Foundation</p></div>
                <div class='supporter'><p>The Beker Foundation</p></div>
                <div class='supporter'><p>David Berg Foundation</p></div>
                <div class='supporter'><p>Bronfman Alumni Venture Fund</p></div>
                <div class='supporter'><p>Joyce and Fred Claar</p></div>
                <div class='supporter'><p>Alisa and Dan Doctoroff</p></div>
                <div class='supporter'><p>Jacob and Suzanne Doft</p></div>
                <div class='supporter'><p>Ari and Rebecca Elias-Bachrach</p></div>
                <div class='supporter'><p>Joshua and Dinah Foer</p></div>
                <div class='supporter'><p>Simone Friedman/EJF Philanthropies</p></div>
                <div class='supporter'><p>Leelah and Joseph Gitler</p></div>
                <div class='supporter'><p>The Joyce and Irving Goldman Family Foundation</p></div>
                <div class='supporter'><p>Tamar and Eric Goldstein</p></div>
                <div class='supporter'><p>Granowitz Family Foundation</p></div>
                <div class='supporter'><p>Terri and Andrew Herenstein</p></div>
                <div class='supporter'><p>Jonathan Herlands and Rachel Neumark Herlands</p></div>
                <div class='supporter'><p>Virginia Bayer and Rabbi Robert Hirt</p></div>
                <div class='supporter'><p>The Rita J. and Stanley H. Kaplan Family Foundation</p></div>
                <div class='supporter'><p>Kassan Family</p></div>
                <div class='supporter'><p>Samuel and Vicki Katz Philanthropic Fund</p></div>
                <div class='supporter'><p>Tina and Akiva Katz</p></div>
                <div class='supporter'><p>Linda and Ilan Kaufthal</p></div>
                <div class='supporter'><p>The Klipper Fund</p></div>
                <div class='supporter'><p>Kolatch Family Foundation</p></div>
                <div class='supporter'><p>Mitchell and Karen Kuflik</p></div>
                <div class='supporter'><p>Edy and Jacob Kupietzky and Family</p></div>
                <div class='supporter'><p>Marc Kushner</p></div>
                <div class='supporter'><p>Seryl and Charles Kushner Family Foundation</p></div>
                <div class='supporter'><p>Lippman Kanfer Foundation for Living Torah</p></div>
                <div class='supporter'><p>Dr. Lester and Nancy Lockspeiser</p></div>
                <div class='supporter'><p>Jennifer and David Millstone</p></div>
                <div class='supporter'><p>James and Nicky Rothschild</p></div>
                <div class='supporter'><p>Joshua and Julia Ruch</p></div>
                <div class='supporter'><p>Targum Shlishi and Raquel and Aryeh Rubin</p></div>
                <div class='supporter'><p>Ilan and Dana Rubinstein</p></div>
                <div class='supporter'><p>Schimmel Family</p></div>
                <div class='supporter'><p>Joseph C. and Nina Shenker</p></div>
                <div class='supporter'><p>Doug and Fabienne Silverman</p></div>
                <div class='supporter'><p>Slingshot Fund</p></div>
                <div class='supporter'><p>The Kurt and Rose Stanger Charitable Trust</p></div>
                <div class='supporter'><p>Jeff Swartz</p></div>
                <div class='supporter'><p>Lizzie and Jonathan Tisch</p></div>
                <div class='supporter'><p>Tsadik Foundation</p></div>
                <div class='supporter'><p>Kevin Ulrich</p></div>
                <div class='supporter'><p>Walder Foundation</p></div>
                <div class='supporter'><p>Harlan Waksal, M.D.</p></div>
                <div class='supporter'><p>Bernard, Irwin &amp; Lila Weinstein Foundation</p></div>
                <div class='supporter'><p>Tova and Howard Weiser</p></div>


            </div>

        </div>
        <div class="section supporters">
            <p class="tagline">
                <span class="int-en">
                    We are also thankful to the following individuals and organizations for their generosity:
                </span>
                <span class="int-he">
                    אנו מודים לארגונים וליחידים הבאים על נדיבותם:
                </span>
            </p>
            <div class='supporter'>
                <p>
                    <span class="int-en">The Academy of the Hebrew Language</span>
                    <span class="int-he">האקדמיה ללשון העברית</span>
                </p>
            </div>
            <div class='supporter'>
                <p>
                    <span class="int-en">The National Library of Israel</span>
                    <span class="int-he">הספריה הלאומית של ישראל</span>
                </p>
            </div>
            <div class='supporter'><p>Mark Cohen, Pearl Cohen</p></div>
            <div class='supporter'><p>Ruby Ventures</p></div>
            <div class='supporter'><p>Trinity Ventures</p></div>
            <div class='supporter'><p>Google Apps for Work</p></div>
            <div class='supporter'><p>Slack</p></div>
            <div class='supporter'><p>JetBrains / PyCharm</p></div>
            <div class='supporter'><p>BrowserStack </p></div>
        </div>
        <div class="section">
            <h2>
                <span class="int-en">Contact</span>
                <span class="int-he">יצירת קשר</span>
            </h2>
            <p>
                <span class="int-en">
                    To learn more about becoming a lead supporter, <br/> please contact Samantha Shokin, Grant Writer and Development Associate at <a href="mailto:samantha@sefaria.org"><bdo dir="ltr">samantha@sefaria.org</bdo></a>.
                </span>
                <span class="int-he">
                    אם ברצונכם לבחון את האפשרות להיות תומכים מובילים,
                    <br/>
                    אנא צרו קשר עם
                    סמנתה שוקין, רכזת פיתוח וכתיבת מענקים במייל
                     <a href="mailto:samantha@sefaria.org"><bdo dir="ltr">samantha@sefaria.org</bdo></a>.
                </span>
            </p>
            <p class="tagline">
                <span class="int-en">
                    Donations to Sefaria are tax deductible as allowed by law.
                </span>
                <span class="int-he">
                    תרומות לספריא פטורות ממס כפי שקבוע בחוק.
                </span>
            </p>
           <div class="donate-link single-button">
                <a class="button big blue control-elem" href="/donate" target="_blank">
                    <span class="int-en">Donate Now</span>
                    <span class="int-he">תרמו כעת</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
