{% extends "base.html" %}

{% block titleEnglish %}The Sefaria Team{% endblock %}
{% block titleHebrew %}The Sefaria Team{% endblock %}

{% block descriptionEnglish %}Sefaria's team is working to create the Jewish future.{% endblock %}

{% block descriptionHebrew %}Sefaria's team is working to create the Jewish future.{% endblock %}

{% block content %}
<div id="teamPage" class="container static">
    <div class="inner">
    <h1>
        <span class="int-en">Team</span>
        <span class="int-he">הצוות של ספאריה</span>
    </h1>
    <div class="row static-text">
        <div class="main-text">
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/daniel.png" alt="Headshot of Daniel Septimus">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName sans">Daniel Septimus</div>
                    <div class="teamTitle">Executive Director</div>
                    <a class="teamEmail" href="mailto:ds@sefaria.org">ds@sefaria.org</a>
                    <div class="teamBio">

                    </div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/brett.png" alt="Headshot of Brett Lockspeiser">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName sans">Brett Lockspeiser</div>
                    <div class="teamTitle">Chief Technology Officer and Co-Founder </div>
                    <a class="teamEmail" href="mailto:brett@sefaria.org ">brett@sefaria.org</a>
                     <div class="teamBio">

                    </div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/annie.png" alt="Headshot of Annie Lumerman">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName sans">Annie Lumerman</div>
                    <div class="teamTitle">Chief Operating Officer</div>
                    <a class="teamEmail" href="mailto:annie@sefaria.org">annie@sefaria.org</a>
                    <div class="teamBio"></div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/sara.png" alt="Headshot of Sara Wolkenfeld">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName sans">Sara Wolkenfeld</div>
                    <div class="teamTitle">Director of Education</div>
                    <a class="teamEmail" href="mailto:sara@sefaria.org">sara@sefaria.org</a>
                    <div class="teamBio"></div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/lev.png" alt="Headshot of Lev Israel">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName sans">Lev Israel</div>
                    <div class="teamTitle">Chief Data Officer</div>
                    <a class="teamEmail" href="mailto:lev@sefaria.org">lev@sefaria.org</a>
                    <div class="teamBio"></div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/ephraim.png" alt="Headshot of Ephraim Damboritz">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName sans">Ephraim Damboritz</div>
                    <div class="teamTitle">Software Engineer</div>
                    <a class="teamEmail" href="mailto:ephraim@sefaria.org">ephraim@sefaria.org</a>
                    <div class="teamBio"></div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/russel.png" alt="Headshot of Russel Neiss">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName sans">Russel Neiss</div>
                    <div class="teamTitle">Software Engineer</div>
                    <a class="teamEmail" href="mailto:russel@sefaria.org">russel@sefaria.org</a>
                    <div class="teamBio"></div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/gabriel.png" alt="Headshot of Gabriel Winer">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName sans">Gabriel Winer </div>
                    <div class="teamTitle">User Experience Designer</div>
                    <a class="teamEmail" href="mailto:gabriel@sefaria.org">gabriel@sefaria.org</a>
                    <div class="teamBio"></div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/steve.png" alt="Headshot of Steve Kaplan">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName sans">Steve Kaplan</div>
                    <div class="teamTitle">Content Engineer</div>
                    <a class="teamEmail" href="mailto:steve@sefaria.org">steve@sefaria.org</a>
                    <div class="teamBio"></div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/yoni.png" alt="Headshot of Jonathan Mosenkis">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName sans">Jonathan Mosenkis</div>
                    <div class="teamTitle">Content Engineer</div>
                    <a class="teamEmail" href="mailto:jonathan@sefaria.org">jonathan@sefaria.org</a>
                    <div class="teamBio"></div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/shmuel.png" alt="Headshot of Shmuel Weissman">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName sans">Shmuel Weissman</div>
                    <div class="teamTitle">Manager of Text Acquisition and Text Quality</div>
                    <a class="teamEmail" href="mailto:shmuel@sefaria.org">shmuel@sefaria.org</a>
                    <div class="teamBio"></div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/noah.png" alt="Headshot of Noah Santacruz">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName sans">Noah Santacruz</div>
                    <div class="teamTitle">Software Engineer</div>
                    <a class="teamEmail" href="mailto:noah@sefaria.org">noah@sefaria.org</a>
                    <div class="teamBio"></div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/rachel.png" alt="Headshot of Rachel Buckman">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName sans">Rachel Buckman</div>
                    <div class="teamTitle">Education Associate</div>
                    <a class="teamEmail" href="mailto:rachel@sefaria.org">rachel@sefaria.org</a>
                    <div class="teamBio"></div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/amelia.png" alt="Headshot of Amelia Wolf">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName sans">Amelia Wolf</div>
                    <div class="teamTitle">Development and Communications Associate</div>
                    <a class="teamEmail" href="mailto:amelia@sefaria.org">amelia@sefaria.org</a>
                    <div class="teamBio"></div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/shanee.png" alt="Headshot of Shanee Rosen">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName sans">Shanee Rosen</div>
                    <div class="teamTitle">Content Engineer</div>
                    <a class="teamEmail" href="mailto:shanee@sefaria.org">shanee@sefaria.org</a>
                    <div class="teamBio"></div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/eran.jpg" alt="Headshot of Eran Shafir">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName sans">Eran Shafir</div>
                    <div class="teamTitle">Israel Director</div>
                    <a class="teamEmail" href="mailto:eran@sefaria.org">eran@sefaria.org</a>
                    <div class="teamBio"></div>
                </div>
            </div>



            <h2>
                <span class="int-en">BOARD OF DIRECTORS</span>
        `       <span class="int-he">מועצת המנהלים</span>
            </h2>
            <div class="teamBoardMember"><div class="teamMemberDetails"><div class="teamName sans">Joshua Foer</div><div class="teamTitle">Chairman and Co-Founder</div></div></div>
            <div class="teamBoardMember"><div class="teamMemberDetails"><div class="teamName sans">Brett Lockspeiser</div><div class="teamTitle">Co-Founder</div></div></div>
            <div class="teamBoardMember"><div class="teamMemberDetails"><div class="teamName sans">Mo Koyfman</div><div class="teamTitle"></div></div></div>
            <div class="teamBoardMember"><div class="teamMemberDetails"><div class="teamName sans">Elana Stein Hain</div><div class="teamTitle"></div></div></div>
            <div class="teamBoardMember"><div class="teamMemberDetails"><div class="teamName sans">Felicia Herman</div><div class="teamTitle"></div></div></div>
            <div class="teamBoardMember"><div class="teamMemberDetails"><div class="teamName sans">Jonathan Koschitzky</div><div class="teamTitle"></div></div></div>
            <div class="teamBoardMember"><div class="teamMemberDetails"><div class="teamName sans">Joshua Kushner </div><div class="teamTitle"></div></div></div>
        </div>
    </div>
    </div>
</div>

{% endblock %}