{% extends "base.html" %}

{% block title %}Sefaria Team{% endblock %}

{% block content %}
<div id="supportersPage" class="container doc">
    <span class="row">
        <div class="span10 offset1">
            <h1>Sefaria Team</h1>

            <h2>STAFF</2>

            <h3>MANAGAMENT</h3>
            Daniel Septimus
            Executive Director
            daniel@sefaria.org

            Annie Lumerman
            Director of Operations
            annie@sefaria.org

            <h3>PRODUCT</h3>
            Brett Lockspeiser
            Chief Technology Officer and Co-Founder 
            brett@sefaria.org 

            Lev Israel
            Software Architect
            lev@sefaria.org

            Ephraim Damboritz 
            Software Engineer
            ephraim@sefaria.org

            Gabriel Winer 
            User Experience Designer
            gabriel@sefaria.org

            <h3>EDUCATION</h3>
            Sara Wolkenfeld
            Director of Education 
            sara@sefaria.org

            <h3>CONTENT</h3>
            Ari Elias-Bachrach
            Content Director
            ari@sefaria.org

            Eliav Schmulewitz
            Content Engineer 
            eliav@sefaria.org


            <h2>BOARD OF DIRECTORS</h2>
            Joshua Foer, Chairman and Co-Founder
            Brett Lockspeiser, Secretary and Co-Founder
            Mo Koyfman, Treasurer 
            Elana Stein Hain
            Felicia Herman
            Joshua Kushner 
        </div>
    </span>
</div>
{% endblock %}