{% extends "base.html" %}

{% block title %}Sefaria Team{% endblock %}

{% block content %}
<div id="teamPage" class="biReady container full-text-static">
    <div class="page-title"><h1>
        <span class='en'>Sefaria Team</span>
        <span class='he'>הצוות של ספאריה</span>
    </h1></div>
    <div class="row static-text" id="about">
        <div class="about main-text">
            <h2>STAFF</h2>
            <!--<h3>MANAGEMENT</h3>--->
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/daniel.png">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName">Daniel Septimus</div>
                    <div class="teamTitle">Executive Director</div>
                    <a class="teamEmail" href="mailto:daniel@sefaria.org">daniel@sefaria.org</a>
                    <div class="teamBio">

                    </div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/brett.png">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName">Brett Lockspeiser</div>
                    <div class="teamTitle">Chief Technology Officer and Co-Founder </div>
                    <a class="teamEmail" href="mailto:brett@sefaria.org ">brett@sefaria.org</a>
                     <div class="teamBio">

                    </div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/annie.png">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName">Annie Lumerman</div>
                    <div class="teamTitle">Director of Operations</div>
                    <a class="teamEmail" href="mailto:annie@sefaria.org">annie@sefaria.org</a>
                    <div class="teamBio"></div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/sara.png">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName">Sara Wolkenfeld</div>
                    <div class="teamTitle">Director of Education </div>
                    <a class="teamEmail" href="mailto:sara@sefaria.org">sara@sefaria.org</a>
                    <div class="teamBio"></div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/ari.png">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName">Ari Elias-Bachrach</div>
                    <div class="teamTitle">Content Director</div>
                    <a class="teamEmail" href="mailto:ari@sefaria.org">ari@sefaria.org</a>
                    <div class="teamBio"></div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/lev.png">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName">Lev Israel</div>
                    <div class="teamTitle">Software Architect</div>
                    <a class="teamEmail" href="mailto:lev@sefaria.org">lev@sefaria.org</a>
                    <div class="teamBio"></div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName">Ephraim Damboritz</div>
                    <div class="teamTitle">Software Engineer</div>
                    <a class="teamEmail" href="mailto:ephraim@sefaria.org">ephraim@sefaria.org</a>
                    <div class="teamBio"></div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/russel.png">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName">Russel Neiss</div>
                    <div class="teamTitle">Software Engineer</div>
                    <a class="teamEmail" href="mailto:russel@sefaria.org">russel@sefaria.org</a>
                    <div class="teamBio"></div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/gabriel.png">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName">Gabriel Winer </div>
                    <div class="teamTitle">User Experience Designer</div>
                    <a class="teamEmail" href="mailto:gabriel@sefaria.org">gabriel@sefaria.org</a>
                    <div class="teamBio"></div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/tali.png">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName">Tali Herenstein</div>
                    <div class="teamTitle">Development and Communications Associate</div>
                    <a class="teamEmail" href="mailto:annie@sefaria.org">tali@sefaria.org</a>
                    <div class="teamBio"></div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName">Steve Kaplan</div>
                    <div class="teamTitle">Content Engineer</div>
                    <a class="teamEmail" href="mailto:steve@sefaria.org">steve@sefaria.org</a>
                    <div class="teamBio"></div>
                </div>
            </div>
            <div class="teamMember">
                <div class="teamMemberImage">
                    <img src="/static/img/headshots/yoni.png">
                </div>
                <div class="teamMemberDetails">
                    <div class="teamName">Jonathan Mosenkis</div>
                    <div class="teamTitle">Content Engineer</div>
                    <a class="teamEmail" href="mailto:jonathan@sefaria.org">jonathan@sefaria.org</a>
                    <div class="teamBio"></div>
                </div>
            </div>



            <h2>BOARD OF DIRECTORS</h2>
            <div class="teamBoardMember">Joshua Foer, Chairman and Co-Founder</div>
            <div class="teamBoardMember">Brett Lockspeiser, Co-Founder</div>
            <div class="teamBoardMember">Mo Koyfman</div>
            <div class="teamBoardMember">Elana Stein Hain</div>
            <div class="teamBoardMember">Felicia Herman</div>
            <div class="teamBoardMember">Jonathan Koschitzky</div>
            <div class="teamBoardMember">Joshua Kushner </div>
        </div>
    </div>
</div>

{% endblock %}