{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Terms of Use" %} | {% trans "Sefaria" %}{% endblock %}

{% block description %}{% endblock %}

{% block content %}

<div id="" class="container doc legal static">
	<div class="inner">
        <div id="legalTabs">
    		<a href="/terms" class="current">Terms of Use</a>
    		<a href="/privacy-policy">Privacy Policy</a>
    	</div>
    	<iframe src="https://docs.google.com/document/d/e/2PACX-1vQHQfHUVMNugNyPyJRucHa9cEU9VUdFD8DAcLFAsUmBORodDmIO2YG85-m01OtF3FUlIgmaSxW_YWSc/pub?embedded=true"></iframe>
    </div>
</div>
{% endblock %}