{% extends "base.html" %}

{% block title %}The Sefaria Stroy{% endblock %}

{% block css %}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.static .inner {
    width: 900px;
    max-width: 96%;
}
{% endblock %}

{% block content %}

<div class="biReady container static">
    <div class="inner">
        <h1>
            <span class="int-en">The Sefaria Story</span>
            <span class="int-he">סיפור ספאריה</span>
        </h1>
       
        <div class="videoWrapper">
            <iframe src="https://www.youtube.com/embed/3JNf0yHA60U" frameborder="0" allowfullscreen></iframe>
        </div>

    </div>
</div>
{% endblock %}