{% extends "base.html" %}

{% block title %}Sefaria Transliteration Guidelines{% endblock %}

{% block description %}{% endblock %}

{% block content %}

<div id="" class="container doc legal">
	<div id="legalTabs">
		<a href="/translation-guidelines">Translation Guidelines</a>
		<a href="/transliteration-guidelines" class="current">Transliteration Guidelines</a>
		<a href="/even-haezer-guidelines">Even HaEzer Translation Guidelines</a>
	</div>
	<iframe src="https://docs.google.com/document/d/1k7qn2O0w4lTIQxO33O3WMSYK0MxScygGlOaxAbl2DOs/pub?embedded=true"></iframe>
</div>
{% endblock %}