{% extends "base.html" %}

{% block title %}Sefaria Translation Guidelines{% endblock %}

{% block description %}{% endblock %}

{% block content %}

<div id="" class="container doc legal">
	<div id="legalTabs">
		<a href="/translation-guidelines" class="current">Translation Guidelines</a>
		<a href="/transliteration-guidelines">Transliteration Guidelines</a>
		<a href="/even-haezer-guidelines">Even HaEzer Translation Guidelines</a>

	</div>
	<iframe src="https://docs.google.com/document/d/1b3xfnOYtGXs_eR9ekvqC_zMB-nomb1X5kx5S02QhxiQ/pub?embedded=true"></iframe>
</div>
{% endblock %}