plugins: [
  ['@semantic-release/commit-analyzer', {
    "preset": "conventionalcommits",
    "releaseRules": [
      {"type": "static", "release": "patch"},
      {"type": "chore", "release": "patch"},
      {"type": "helm", "release": false}
    ]
  }],
  ['@semantic-release/release-notes-generator', {
    "preset": "conventionalcommits",
    "presetConfig": {
      "types": [
        {"type": "feat", "section": "Features"},
        {"type": "fix", "section": "Bug Fixes"},
        {"type": "chore", "hidden": true},
        {"type": "docs", "hidden": true},
        {"type": "style", "hidden": true},
        {"type": "refactor", "hidden": true},
        {"type": "perf", "hidden": true},
        {"type": "test", "hidden": true},
        {"type": "static", "section": "Static Content"},
        {"type": "helm", "hidden": true}
      ]
    },
  }],
  ['@semantic-release/github', {
    "successComment": false,
    "failTitle": false
  }]
]
branches: [
  {name: 'master'},
]
