Appium-Python-Client==1.2.0
apscheduler~=3.6.0
bleach==1.4.2
boto3==1.16.6
bs4==0.0.1
convertdate==2.2.2
cython==0.29.14
dateutils==0.6.12
datrie==0.8.2
deepdiff==3.3.0
diff_match_patch==20200713
django_mobile==0.7.0
django-anymail==7.2.*
django-debug-toolbar==2.2 # not used in prod
django-easy-timezones==0.8.0
django-recaptcha==2.0.6
django-redis==4.11.*
django-structlog==1.6.2
django-user-agents==0.4.0
django-webpack-loader==1.4.1
django==1.11.*
djangorestframework @ https://github.com/encode/django-rest-framework/archive/3.11.1.tar.gz
djangorestframework_simplejwt==3.3.0
PyJWT==1.7.1 # pinned b/c current version 2.0.0 breaks simplejwt. waiting for 2.0.1
elasticsearch==7.9.1
elasticsearch_dsl==7.3.0
geojson==2.5.0
geopy==2.3.0
gevent==20.12.0; sys_platform != 'darwin'
google-api-python-client==1.12.5
google-cloud-logging==1.15.1
google-cloud-storage==1.32.0
gunicorn==20.0.4
html5lib==0.9999999
httplib2==0.18.1
ipython==7.34.*
jedi==0.18.1 # Ipython was previosuly pinned at 7.18 because Jedi 0.18 broke it. This is currently the latest version. 
jsonpickle==1.4.1
lxml==4.6.1
mailchimp==2.0.9
google-auth==1.24.0
google-auth-oauthlib==0.4.2
p929==0.6.1
pathos==0.2.6
pillow==8.0.1; sys_platform == 'linux'
pillow==10.0.1; sys_platform != 'linux'
psycopg2==2.8.6
py2-py3-django-email-as-username==1.7.1
pymongo==3.12.*
pytest==6.1.1
pytz
pyyaml==5.3.1
rauth==0.7.3
redis==3.5.3
regex==2020.10.23
roman==3.3
selenium==3.141.0
tqdm==4.51.0
ua-parser==0.10.0
undecorated==0.3.0
unicodecsv==0.14.1
unidecode==1.1.1
user-agents==2.2.0
sentry-sdk==1.26.0
babel
python-bidi
requests
Cerberus
dnspython
python-dotenv
#opentelemetry-distro
#opentelemetry-exporter-otlp
#opentelemetry-propagator-b3
#opentelemetry-propagator-jaeger

mixpanel~=4.10.1