Appium-Python-Client
apscheduler
bleach
boto3
bs4
convertdate
cython
dateutils
datrie
deepdiff
diff_match_patch
django_mobile
django-anymail
django-debug-toolbar
django-easy-timezones
django-recaptcha
django-redis
django-structlog
django-user-agents
django-webpack-loader
django==2.0.*
djangorestframework
djangorestframework_simplejwt
elasticsearch
elasticsearch_dsl
geojson
gevent
google-api-python-client
google-cloud-logging
google-cloud-storage
gunicorn
html5lib
httplib2
ipython
jsonpickle
lxml
mailchimp
oauth2client # Deprecated. Must must replace
p929
pathos
pillow
psycopg2
py2-py3-django-email-as-username
pymongo
pytest
pytz
pyyaml
rauth
redis
regex
roman
selenium
tqdm
ua-parser
undecorated
unicodecsv
unidecode
user-agents