{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Log in to Sefaria" %}{% endblock %}

{% block description %}{% trans "Log in to your Sefaria account to make source sheets, write notes, and follow other Sefaria users." %}{% endblock %}

{% block content %}

{% if user.email %}
    <div id="login" class="biReady registrationContent static">
        <div class="inner">
            <p id="message">
                <span class="int-en">{% trans "You are already logged in as" %}</span>
                <span class="int-he">ཁྱེད་རང་གིས་ཐོ་འགོད་བྱས་ཟིན།</span>
                {{ user.email }}.
                <a href="{% url "logout" %}">
                    <span class="int-en">{% trans "Logout." %}</span>
                    <span class="int-he">ཕྱིར་ཐོན།</span>
                </a>
            </p>
        </div>
    </div>

{% else %}

	<div id="login" class="biReady registrationContent static">
        <div class="inner">
            {% if message %}<p id="message">{{ message }}</p>{% endif %}
            <h1>
                <span class="int-en">{% trans "Log in to Pecha" %}</span>
                <span class="int-he">ནང་འཛུལ།</span>
            </h1>
            {% if form.errors %}
            <p class="error">
                <span class="int-en">{% trans "Your username and password didn't match. Please try again." %}</span>
                <span class="int-he">ཁྱེད་རང་གི་སྤྱོད་མཁན་གྱི་མིང་དང་གསང་གྲངས་ཆ་མི་མཚུངས། ཡང་བསྐྱར་ཚོད་ལྟ་ཐེངས་གཅིག་གནང་རོགས།</span>
            </p>
            {% endif %}

            <form id="login-form" method="post" action="{% url "login" %}">
                {% csrf_token %}

                <p>
                    {{ form.email.label_tag }}
                    <td>{{ form.email }}</td>
                </p>
                <p>
                    {{ form.password.label_tag }}
                    <td>{{ form.password }}</td>
                </p>

                <button type="submit" class="button control-elem" id="login-submit-button">
                    <span class="int-en">{% trans "Login" %}</span>
                    <span class="int-he">ནང་འཛུལ།</span>
                </button>
                <a class="registration-links control-elem" href="{% url "password_reset" %}" id="resetLink">
                    <span class="int-en">{% trans "Forgot your password?" %}</span>
                    <span class="int-he">གསང་བ་བརྗེད་སོང་ངམ།</span>
                </a>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
            <a class="registration-links control-elem" href="{% url "register" %}{% if next %}?next={{ next }}{% endif %}">
                <span class="int-en">{% trans "Create a new account" %}</span>
                <span class="int-he">འདིའི་ནང་ཁ་བྱང་གསར་བཟོ་བྱ་དགོས།</span>

            </a>
	    </div>
    </div>
{% endif %}
{% endblock %}
