{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Log in to Pecha" %}{% endblock %}

{% block description %}{% trans "Log in to your Pecha account to make source sheets, write notes, and follow other Pecha users." %}{% endblock %}

{% block content %}

{% if user.email %}
    <div id="login" class="biReady registrationContent static">
        <div class="inner">
            <p id="message">
                <span class="{{ language_font_class }}">{% trans "You are already logged in as" %}</span>
                {{ user.email }}.
                <a href="{% url "logout" %}">
                    <span class="{{ language_font_class }}">{% trans "Logout." %}</span>
                </a>
            </p>
        </div>
    </div>

{% else %}

	<div id="login" class="biReady registrationContent static">
        <div class="inner">
            {% if message %}<p id="message">{{ message }}</p>{% endif %}
            <h1>
                <span>{% trans "Log in to Pecha" %}</span>
            </h1>
            {% if form.errors %}
            <p class="error">
                <span>{% trans "Your username and password didn't match. Please try again." %}</span>
            </p>
            {% endif %}

            <form id="login-form" method="post" action="{% url "login" %}">
                {% csrf_token %}

                <p>
                    {{ form.email.label_tag }}
                    <td>{{ form.email }}</td>
                </p>
                <p>
                    {{ form.password.label_tag }}
                    <td>{{ form.password }}</td>
                </p>

                <button type="submit" class="button control-elem" id="login-submit-button">
                    <span>{% trans "Login" %}</span>
                </button>
                <a class="registration-links control-elem" href="{% url "password_reset" %}" id="resetLink">
                    <span>{% trans "Forgot your password?" %}</span>
                </a>
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
            <a class="registration-links control-elem" href="{% url "register" %}{% if next %}?next={{ next }}{% endif %}">
                <span>{% trans "Create a new account" %}</span>

            </a>
	    </div>
    </div>
{% endif %}
{% endblock %}
