{% extends "base.html" %}

{% block title %}Forgot your Password | Sefaria.org{% endblock %}

{% block content %}

<div id="resetPassword" class="registrationContent static">
    <div class="inner">
        <h1>
            <span class="int-en">Forgot Your Password</span>
            <span class="int-he">אחזור סיסמא</span>
        </h1>
        <form method="post" action="{% url password_reset %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="sans">
                <span class="int-en">Send Reset Link</span>
                <span class="int-he">שלח קישור לאחזור</span>
            </button>
        </form>
        <a class="registration-links" href="{% url login %}" >
            <span class="int-en">Back to login</span>
            <span class="int-he">חזרה למסך ההתחברות</span>
        </a>
    </div>
</div>
{% endblock %}
