{% load i18n %}

<html>
<p>{% trans "A request has been made to reset the password for this email address on Pecha.org." %}</p>

<p>{% trans "Click this link, or copy it to your browser, to choose a new password:" %}</p>

<a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
	{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
</a>

<p>{% trans "If you did not request this reset, you can safely ignore this email."%}</p>
</html>