{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Password Reset" %} | {% trans "Sefaria" %}{% endblock %}

{% block content %}

<div id="newPassword" class="registrationContent static">
    <div class="inner">
        <p id="message">
            <span class="int-en">{% trans "Your new password has been saved." %}</span>
            <span class="int-he">סיסמתך החדשה נשמרה בהצלחה.</span>
        </p>
        <a class="registration-links control-elem" href="{% url "login" %}" >
            <span class="int-en">{% trans "Back to login" %}</span>
            <span class="int-he">חזרה למסך ההתחברות</span>
        </a>
    </div>
</div>
{% endblock %}
