{% extends "base.html" %}
{% load i18n %}
{% load static %} 

{% block title %}{% trans "registration.password_reset_form.forgot_your_password" %} | {% trans "common.name_pecha" %}{% endblock %}
{% block head %}
<style>
    @font-face {
        font-family: 'Monlam Uni OuChan2';
        src: url("{% static 'fonts/Monlam Uni OuChan2.ttf' %}") format('truetype');
    }
    .monlam-font {
        font-family: 'Monlam Uni OuChan2', sans-serif;
    }
</style>
{% endblock %}

{% block description %}{% trans "registration.password_reset_form.request_a_link_to_change_your_password" %}{% endblock %}

{% block content %}

<div id="resetPassword" class="registrationContent static">
    <div class="inner">
        <h1>
            <span class="monlam-font">{% trans "registration.password_reset_form.forgot_your_password" %}</span>
        </h1>
        <form method="post" action="{% url "password_reset" %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button control-elem">
                <span class="monlam-font">{% trans "registration.password_reset_form.send_reset_link" %}</span>
            </button>
        </form>
        <a class="registration-links control-elem" href="{% url "login" %}" >
            <span class="monlam-font">{% trans "registration.password_reset_form.back_to_link" %}</span>
        </a>
    </div>
</div>
{% endblock %}
