{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Choose a new Password" %} | {% trans "Sefaria" %}{% endblock %}

{% block content %}

<div id="newPassword" class="registrationContent static">
    <div class="inner">
        <h1>
            <span class="int-en">{% trans "Choose a new password" %}</span>
            <span class="int-he">{% trans "Choose a new password" %}</span>
        </h1>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button control-elem">
                <span class="int-en">{% trans "Save Password" %}</span>
                <span class="int-he">{% trans "Save Password" %}</span>
            </button>
        </form>
    </div>
</div>
{% endblock %}
