{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "registration.password_reset_confirm.choose_a_new_password" %} | {% trans "common.name_pecha" %}{% endblock %}

{% block content %}

<div id="newPassword" class="registrationContent static">
    <div class="inner">
        <h1>
            <span class="int-en">{% trans "registration.password_reset_confirm.choose_a_new_password" %}</span>
        </h1>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button control-elem">
                <span class="int-en">{% trans "registration.password_reset_confirm.save_password" %}</span>
            </button>
        </form>
    </div>
</div>
{% endblock %}
