{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "registration.password_reset_complete.password_reset" %} | {% trans "common.name_pecha" %}{% endblock %}

{% block content %}

<div id="newPassword" class="registrationContent static">
    <div class="inner">
        <p id="message">
            <span>{% trans "registration.password_reset_complete.your_new_password_has_been_saved" %}</span>
        </p>
        <a class="registration-links control-elem" href="{% url "login" %}" >
            <span>{% trans "registration.password_reset_complete.back_to_login" %}</span>
        </a>
    </div>
</div>
{% endblock %}
