tagFormat: helm-chart-${version}
plugins:
  - - "@semantic-release/commit-analyzer"
    - releaseRules:
        - {release: patch}
      parserOpts:
        noteKeywords:
          - MAJOR RELEASE
  - "@semantic-release/release-notes-generator"
#  - - "@semantic-release/github"
branches: [
    {name: 'master'},
    {name: 'helm-release-channels', prerelease: true}
  ]
