

body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	font-family: serif;
	background: white;
	margin:0;
}

.gradient {
	background: -moz-linear-gradient(top,  #fefefe,  #e9e9e9);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#e9e9e9));
}

#top {
	z-index: 100;
	position: fixed;
	top: 0%;
	left: 0%;
	width: 99%;
	padding: 0px 0.5%;
	border-bottom: 1px solid #777;
	-webkit-box-shadow: 0px 2px 12px #888;
	-moz-box-shadow: 0px 2px 12px #888;
}

#header {
	float: left;
	font-size: 20px;
	line-height: 35px;
	height: 35px;
	font-weight: bold;
	margin: 5px 12px 0px 0px;

}

.menuAnchor {
	cursor: pointer;
	height: 30px;
	position: relative;
	overflow: hidden;
	border: 1px solid transparent;
}

#top .menuAnchor.boxOpen {
	overflow: visible;
	background: #f1f1f1;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	border: 1px solid #bbb;		
}

.anchoredMenu {
	z-index: 51;
	display: none;
	position: absolute;
	top: 37px;
	left: 0px;			
	border-radius: 8px;
	border-top-left-radius: 0px;
	background: -moz-linear-gradient(top,  #f1f1f1,  #eee);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f1f1f1), to(#eee));
	-webkit-box-shadow: 2px 2px 12px #333333;
	-moz-box-shadow: 2px 2px 12px #333333;
}

.anchoredMenu.right {
	left: auto;
	right: 0px;
	border-top-left-radius: 8px;
	border-top-right-radius: 0px;
}

.menuConnector {
	display: none;
	position: absolute;
	background: #eee;
	top: 30px;
	right: -1px;
	height: 7px;
	width: inherit;
	padding: inherit;
	z-index: 52;
	border-left: 1px solid #bbb;
	border-right: 1px solid #bbb;	
}


#about {
	z-index: 51;
	float: right;
	display: inline-block;
	visibility: hidden;
	width: 100px;
	width: 30px;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	margin: 7px 0px 4px 10px;
	border-radius: 8px;
	border: 1px solid #AAA;
	padding: 0px 3px 0px 2px;
}

#about #aboutIcon{
	text-align center;
}

#aboutMenu {
	padding: 15px 17px;
	width: 408px;
	line-height: 1.2;
	text-align: left;
}

#aboutTitle {
	font-size: 17px;
	margin: 12px 0px 2px 0px;
	padding: 0px 8px;
}

#aboutSource {
	margin-bottom: 6px;
	word-break: break-word;
	padding: 0px 8px;
}

#aboutSource a {
	color: #777;
}

#about .action {
	position: relative;
	top: 5px;
}


#sectionNav {
	float: left;
	margin-top: 7px;
}

#next, #prev {
	display: inline-block;
	visibility: hidden;
	width: 24px;
	opacity: 0.8;
}

#next:active, #prev:active {
	background: #ccc;
}

#prev.inactive img, #next.inactive img{
	opacity: 0.4;
}

#open {
	z-index: 51;
	display: block;
	width: 34px;
	height: 34px;
	padding: 0px 5px;
	margin: 6px 8px 4px 0px;
	float: left;
	background: transparent;
}

#openIcon {
	font-size: 12px; 
	text-align: center;
}

#open img {
	opacity: 0.8;
	width: 28px;
	margin-top: 2px;
}

#gotoBox {
	text-align: left;
	font-family: serif;
	font-weight: normal;
	padding: 5px 0px 0px 0px;
	width: 340px;
	letter-spacing: 1px;
	font-size: 17px;
	vertical-align: middle;
}

#gotoBox .top {
	padding: 0px 25px;
	margin-bottom: 18px;
}

.dialogTitle {
	font-size: 18px;
	margin: 6px 0px;
}

#openEg {
	font-style: italic;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0px;
	margin: 5px 10px 8px 10px;
}

#goto {
	font-size: 17px;
	width: 98%;
	
}

#gotoBox #browseHeader {
	font-size: 13px;
	margin-left: 16px;
	margin-bottom: 4px;
}

#gotoBox .col {
	width: 35%;
	float: left;
}

.navBox {
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;

}

.navBox.zipOpen {
	background: #f8f8f8;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;


}

.navBox.zipOpen .name {
	font-weight: bold;
	font-size: 20px;
}


.navBox + .navBox {
	border-top: none;
}

.navBox + .navBox.zipOpen {
	border-top: 1px solid #999;

}

.navBox .name {
	font-size: 17px;
	padding: 6px 10px 6px 16px;
	cursor: pointer;
}

.navBox .name:hover {
	background: #f8f8f8;
	text-decoration: underline;
}


.zipBox {
	min-height: 253px;
	display: none;
}

.navBox ul {
	list-style-type: none;
	padding: 0px 10px 14px 30px;
	margin: 0px;
	font-size: 15px;
	line-height: 18px;
}

.navBox li {
	cursor: pointer;	
}

.sederBox {
	padding: 0px 20px 14px 30px;
	font-size: 15px;
	line-height: 16px;
	letter-spacing: 0px;
}

.sederBox .seder {
	font-weight: bold;
	font-size: 16px;
}

.sederBox span:hover {
	text-decoration: underline;

}

.navBack {
	display: none;
	padding: 10px;
	font-weight: bold;
}

.navBack:hover {
	text-decoration: underline;
}

#gotoBox li:hover {
	text-decoration: underline;
}

#sheetsLink {
	display: block;
	margin:  6px 11px 6px 16px;
	color: black;
	cursor: pointer;
	text-decoration: none;

}

#sheetsLink:hover {
	text-decoration: underline;
}

#closeGoto {
	float: right;
	font-size: 17px;
	position: relative;
	left: 18px;
	font-family: sans-serif;
	cursor: pointer;
}


#topLine {
	height: 1px;
	background: black;
}

#topButtons {
	float: right;
	margin-top: 7px;
}

#editButtons {
	display: none;
	margin-top: 3px;
}

		
.button {
	font-weight: bold;
	font-size: 16px;
	height: 20px;
	padding: 0px 12px;
	margin: 5px 6px;
	display: block;
	float: right;
	letter-spacing: 1px;
	text-align: center;
	vertical-align: center;
	border-radius: 4px;
	border: 1px solid #aaa;
	-webkit-box-shadow: 2px 2px 3px #333333;
	-moz-box-shadow: 2px 2px 3px #333333;
}


.button:hover {
	background: #ccc;
	cursor: pointer;
}

.button.inactive {
	color: #999;
}

.button.inactive:hover {
	background: transparent;
	cursor: normal;
	
}

.btn.inactive {
	display: none;
}

#loadingImg {
	margin-left: 16px;
	height: 20px;
	position: relative;
	top: 2px;
}

.toggle {
	display: inline;
	font-size: 26px;
	margin: 0px 6px;
	text-align: center;
	vertical-align: center;
	border-radius: 8px;

}

.toggleOption {
	display: inline-block;
	cursor: pointer;
	padding: 0px 8px;
	height: 30px;
	border: 1px solid #aaa;
	border-right: none;
	letter-spacing: 1px;
}

.toggleOption img {
	height: 24px;
	position: relative;
	top: 3px;
}

#sectionNav .toggleOption img {
	height: auto;
	top: 0px;
}

.toggleOption:first-child {
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;


}

.toggleOption:last-child {
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	border-right: 1px solid #aaa;

}

.toggleOption.active, .toggleOption:active {
	background: #d8d8d8;

}


.toggleOption:hover {
	background-color: #ccc;
}



#languageToggle, #layoutToggle, #biLayoutToggle {
	display: none;
}



.screen-container {
	position: relative;
	height: 100%;
	width: 100%;
}

.screen {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
}


.back, .forward {
	position: fixed;
	height: 50px;
	top: 50%;
	margin-top: -25px; 
	line-height: 50px;
}

.back {
	left: 0px;
}

.forward {
	right: 0px;
}

.basetext {
	position: absolute;
	width: 56.5%;
	top: 110px;
	left: 5.5%;
	font-size: 24px;
	text-align: justify;
	letter-spacing: .7px;
	line-height: 1.3;
	z-index: 2;
	background: inherit;
	font-family: serif;
	padding-bottom: 200px;

}

body .basetext.noCommentary {
	width: 650px;
	left: 50%;
	margin-left: -325px;
}

@media screen and (max-width: 670px) {
		 body #about {
		display: none;
		 }
		 
		 body #header {
		 	font-size: 21px;
		 	margin-top: 10px;
		 }
		 
		 body .basetext, 
		 body .basetext.noCommentary, 
		 body .basetext.bilingual,
		 body .basetext.bilingual.heLeft,
		 body .basetext.hebrew,
		 body .basetext.hebrew.noCommentary
		{
	    	width: 86%;
	    	left: 8%;
	    	margin-left: 0px;
	    	font-size: 17px;
	  	}
	  	
	 body .basetext .verseNum {
	 	left: -24px;
	 	font-size: 15px;
	 } 	
	 
	 body .basetext .lfc {
	 	font-size: 27px;
	 }
	 body .commentaryBox {
	 		width: 97%;
	 		height: 24%;
	 		bottom: -10px;
	 		right: -4px;
	 		background: white;
	 		padding-top: 10px;
	 		-webkit-box-shadow: 2px -2px 12px #888;
			-moz-box-shadow: 2px -2px 12px #888;
	 	}  	
	 body .commentaryBox.noCommentary {
			width: 95%;
			height: 26px;
			border-top: none;
			padding-top: none;	
		}
}


body .basetext.versionCompare,
body .basetext.versionCompare.hebrew.lines {
	width: 42%;
	left: 5%;
	top: 240px;
	padding: 18px 0px;
	margin-left: 0px;
}

.basetext.versionCompare .verseNum {
	right: -38px;
	left: auto;
}

.basetext.versionCompare .sectionTitle {
	display: none;
}

#newVersion, #newVersionMirror, #newTextNumbers {
	display: none;
	position: absolute;
	top: 240px;
	width: 40%;
	right: 5%; 
	font-size: 24px;
	padding: 18px;
	margin-bottom: 200px;
	letter-spacing: .7px;
	line-height: 1.3;
	font-family: serif;
	overflow: hidden;
	z-index: 10;
	

}

body.newText #newVersion , body.newText #newVersionMirror {
	left: 20%;
	width: 60%;
	min-height: 2000px;
}


body.newText #newTextNumbers {
	display: block;
	text-align: right;
	font-size: 18px;
	left: 5%;
	width: 12%;		
}

body.newText #newTextNumbers .verse {
	margin-bottom: 24px;
	line-height: 1.7;
	background: #3A87AD;
	color: white;
	padding: 0px 7px;
	display: inline-block;
}

#newVersionMirror {
	border: 1px solid black;
}


.basetext .spacer {
	width: 50px;
	display: inline-block;
}

.basetext.lines .spacer,
.basetext.hebrew .spacer {
	display: none;
}

.basetext .verseNum.empty {
	display: none;
}

.basetext.lines .verseNum.empty {
	display: block;
}

.basetext.versionCompare .verse .lfc {
	font-size: inherit;
	margin: 0;
	font-variant: normal;
}

.sectionTitle {
	font-size: 37px;
	text-align: center;
	margin-bottom: 34px;
	font-variant: small-caps;
}

.verse.touchVerse:hover {
	background: white;
}

.verse {
	cursor: pointer;
	margin-right: 7px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	min-height: 24px;
}

.verse .he {
	font-family: Times New Roman;
	font-size: 36px;
	direction: rtl;
}

.verse:hover {
	background: #ddd;
}

.verse .clear {
	display: none;
}

.verse .lfc {
	/*font-size: 35px;
	font-variant: small-caps;*/
	margin: 0px 5px 0px 36px;
}

.basetext.lines .verse {
	display: block;
	margin-bottom: 24px;
	line-height: 1.3;
}

.basetext.lines .verse .en .lfc,
.basetext.bilingual .verse .en .lfc  {
	font-size: inherit;
	font-variant: normal;
	margin: 0px;
}


.basetext.english {
	direction: ltr;
}

.basetext.english .verse .he{
	display: none;
}

.basetext.hebrew{
	direction: rtl;
	left: 4%;
	width: 58%;
	top: 85px;
}

.basetext.hebrew.noCommentary {
	width: 650px;
	left: 50%;
	margin-left: -325px;
	
}
.basetext.hebrew .he {
	display: inline;
}

.basetext.hebrew .en {
	display: none;
}

.basetext.bilingual .verse {
	display: block;
	clear: both;
	margin-bottom: 24px;
	line-height: 1.2;
}

.basetext.hebrew .verse .verseNum {
	right: -38px;
	left: auto;
	margin-top: 14px;
}	
.basetext.heLeft .verse .verseNum {
	text-align: center;
	width: 4%;
	margin-left: -2%;
	left: 50%;
}	

.basetext.bilingual {
	left: 5%;
	width: 61%;
	top: 85px;
}

.basetext.bilingual.noCommentary,
.basetext.bilingual.heLeft.noCommentary {
	margin-left: -40%;
	left: 50%;
	width: 80%;
	top: 127px;
}

.basetext.bilingual .verse .en {
	width: 48%;
	font-size: 20px;
	text-align: left;
	float: left;
}
		
.basetext.bilingual .verse .he {
	display: block;
	width: 48%;
	font-size: 27px;
	text-align: right;
	float: right;
	margin-left: 0px;
	direction: rtl;
	margin-top: -6px;
}

.basetext.bilingual.heLeft {
	left: 2%;
	width: 64%;
}

.basetext.bilingual.heLeft .verse .en {
	width: 47%;
	float: right;
	text-align: left;
	margin-right: 0px;
}
		
.basetext.bilingual.heLeft .verse .he {
	width: 47%;
	float: left;
	text-align: right;
	margin-left: 0px;
}

.basetext.bilingual .verse .clear {
	display: block;
}

.he {
	display: none;
	font-size: 27px;
	direction: rtl;
	margin-left: 7px;
	text-align: right;
}

.verseNum {
	font-size: 18px;
	width: 20px;
	text-transform: smallcaps;
	text-align: center;
	margin-right: 4px;
	margin-top: 5px;
	position: absolute;
	left: -30px;
	border-radius: 14px;
	-moz-border-radius: 14px;

}

.verse:hover > .verseNum {
	font-weight: bold;
	background: #ddd;
}


.verseControls {
	width: 24px;
	height: 24px;
	border-radius: 12px;
	margin: 2px 0px 0px 10px;
	position: absolute;
	z-index: 10;
	text-align: left;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	background: #eee;
	box-shadow: 2px 2px 2px #555;
	font-weight: bold;
	cursor: pointer;

}

.verseControls:hover {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.verseControls:hover .verseControlsList {
	display: block;
}

.verseControlsList {
	width: 136px;
	display: none;
	text-align: left;
	font-size: 14px;
	font-weight: normal;
	background: white;
	border: 1px solid #ddd;
	box-shadow: 2px 2px 2px #555;
	padding: 7px 0px;
}

.verseControls span {
	display: block;
	padding: 2px 10px;
	cursor: pointer;
}

.verseControls span:hover {
	background: #ddd;
}

.btn.addThis {
	float: right;
}

body.verseView .verse {
	display: none;
}

body.verseView .verse.bigVerse {
	display: block;
	font-size: 40px;
}

body.verseView .verse.bigVerse .he {
	font-size: 54px;
}


body.verseView .verse.bigVerse:hover {
	background: white;
}

body.verseView .verse.bigVerse:hover .verseNum {
	background: none;
	font-weight: normal;
}


body.verseView .verse.bigVerse .verseNum {
	margin-left: 9%;
	font-size: 30px;
}

body.verseView .verse.bigVerse .verseNum:hover {
	background: white;
}


body.verseView .basetext {
	width: 80%;
	left: 0%;
	top: 50px;
	padding: 120px 10% 20px 10%;
	position: static;
	background: white;
}

body.verseView .commentaryBox {
	position: static;
	top: 50%;
	width: 93%;
	margin: 0px;
	padding: 10px 0 30px 7%;
	height: auto;
	border-left: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

body.verseView .commentary {
	font-size: 22px;
	text-align: justify;
	max-height: none;
}

body.verseView .commentary.lowlight {
	display: none;
}

body.verseView .sourcesBox {
	display: none !important;
}

body.verseView #layoutToggle {
	display: none !important;
}

.basetext .refLink {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
	
}

.refLink:hover {
	text-decoration: underline;
}


#canvasBox {
	position: fixed;
	height: 100%;
	width: 5%;
	right: 32%;
}


.commentaryBox {
	display: none;
	position: fixed;
	height: 91%;
	width: 31%;
	right: 0%;
	bottom: 0px;
	padding-left: 26px;
	border-left: 1px solid #bbb;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: serif;
	text-align: left;
	line-height: 1.1;
	background: inherit;
	z-index: 5;
	overflow: hidden;
	
}

.commentaryBox.noCommentary {
	border: none;
	width: 220px;
}

.commentaryBox.noCommentary .sourcesBox {
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
}

.commentaryViewPort {
	position: relative;
	top: 0px;
	margin-right: 7%;
	height: 100%;  	
	overflow: hidden;
	padding-bottom: 100%;
}

body.hebrew .commentaryBox .commentary{
	direction: rtl;
	text-align: right;
}		

body.hebrew .commentator {
	float: left;
	direction: ltr;
}

body.hebrew .anchorText {
	float: left;
	direction: ltr;
}

body.hebrew .commentaryBox .he {
	display: inline;
	font-size: 15px;
}

body.hebrew .commentaryBox .en,
body.hebrew .commentaryBox .enOnly {

	display: none;
}

#sourcesLink {
	font-size: 14px;
	float: right;
	cursor:pointer;
	margin-right: 3px;
}

#sourcesLink img {
	height: 14px;
	position: relative;
	top: 2px;
	margin-left: 2px;
}


.sourcesBox {
	display: none;
	position: absolute;
	z-index: 15;
	bottom: 0px;
	width: 100%;
	margin-left: -26px;
	padding: 0px;
	-webkit-box-shadow: 2px 2px 10px #555;
	-moz-box-shadow: 2px 2px 10px #555;	
	background: -moz-linear-gradient(top,  #f2f2f2,  #ddd);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f2f2), to(#ddd));
}
	

.sourcesHeader {
	font-size: 18px;
	padding: 7px 7px 3px 7px; 
	border-bottom: 1px solid #999;
	cursor: pointer;
	line-height: 25px;
}


.sourcesBox.noCommentary .sourcesHeader {
	margin-bottom: 0px;
	border-bottom: none;
}


.sourcesHeader .hideCommentary.ui-icon {
	top: 2px;
	left: 0px;
	margin-right: 3px;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: 4px;

}

.sourcesHeader .hideCommentary.ui-icon:hover {
	border: 1px solid #555;
	
}

.sourcesHeader #sourcesRange {
	font-style: italic;
}

.sourcesHeader .ui-icon {
	display: inline-block;
	position: relative;
	top: 3px;
	left: 3px;
}
.sourcesHeader .addSource {
	float: right;
	font-size: 17px;
	font-style: italic;
	cursor: pointer;
	margin: 0px 1px 0px 0px;
}

.sourcesHeader .addSource:hover {
	text-decoration: underline;
}


.sourcesHeader .addSource .textIcon,
#aboutMenu .textIcon {
	font-weight: bold;
	font-size: 17px;
}


.sourcesList {
	display: none;
	padding: 0px;
}


.sourcesWrapper {
	padding: 7px 5px 10px 5px;

}

.source {
	font-size: 17px;
	padding: 3px 11px 3px 11px; 
	white-space:nowrap;
	float: left;
	cursor: pointer;
}


.source .count {
	margin-left: 5px;
}

.source:hover {
	background: #f3f3f3;
}


.commentaryBox .commentary {	
	font-family: serif;		
	display: block;
	background: #eee;
	font-size: 15px;
	max-height: 48px;
	padding: 2px 0px;
	background: white;
	overflow: hidden;
	cursor: pointer;
	border-radius: 3px;
}

.commentaryNum {
	position: absolute;
	left: -10px;
	display: none;
}

.commentary + .commentary {
	margin-top: 15px;
}

.commentary:last-child {
	margin-bottom: 100%;
	max-height: 158px;
}

.highlight {
	background: #e6e6e6;
}

.lowlight {
	opacity: 0.3;
}

.verse.lowlight:hover {
	background: #bbb;
}

.commentator {
	font-weight: bold;
	font-size: 16px;
	margin-right: 4px;
}

.anchorText {
	font-weight: bold;
	font-style: italic;
	margin-right: 7px;
}


.open {
	position: absolute;
	width: 76%;
	max-width: 660px;
	font-size: 20px;
  	padding: 25px;
	background: white;
	z-index: 100;
	overflow: hidden;
	max-height: 500px;
	text-align: justify;
	line-height: 1.2;
	-webkit-box-shadow: 2px 2px 12px #333333;
	-moz-box-shadow: 2px 2px 12px #333333;
	
}

.open .refLink {
	cursor: pointer;
	font-weight: bold;
	text-decoration: underline;
	font-size: 14px;
}

.open .commentator.refLink {
	font-size: 16px;
	text-decoration: none;
	margin-right: 5px;
	float: none;
	
}

.openVerseTitle {
	font-weight: bold;
	margin-bottom: 4px;
	margin-right: 10px;
	font-size: 16px;
	display: inline;
	
}

.open .delete {
	font-size: 13px;
	cursor: pointer;
	display: inline;
	margin-left: 4px;
}

.open .delete:hover {
	text-decoration: underline;
}

.openVerse {
	margin: 0px 0px 23px 0px;
	text-align: left;
	line-height: 1;
	font-style: italic;
	display: inline;
}

.open .commentator {
	margin-top: 20px;
	display: inline-block;
}

.open .editLink {
	color: #777;
	position: absolute;
	bottom: 9px;
	right: 26px;
	z-index: 10;
	font-size: 14px;
	cursor: pointer;
}

.open .editLink:hover {
	text-decoration: underline;
}

.open.edit {
	background: -moz-linear-gradient(top,  #fefefe,  #e9e9e9);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#e9e9e9));
}

.open.edit .openVerseTitle {
	font-size: 23px;

}

.open.edit .openVerse {
	display: none;
	margin-bottom: 4px;
}

#commentatorForm {
	margin-top: 4px;
}

.open #commentatorForm input {
	font-size: 18px;
}
		
.open #commentatorForm .msg {
	font-size: 15px;
}		

body.hebrew .open {
	direction: rtl;
}

body.hebrew .open.edit {
	direction: ltr;
}

body.hebrew .open .he {
	display: block;
	font-size: 20px;
	text-align: justify;
}

body.hebrew .open .en {
	display: none;
}

body.hebrew .open .anchorText {
	float: none;	
}

body.hebrew .open .openVerseTitle {
	display: block;	
}


#addSourceText, #addSourceTextarea {
	display: inline-block;
	position: relative;
	padding: 15px 25px;
	border: 1px solid #aaa;
	border-radius: 3px;
	font-size: 18px;
	background: white;
	width: 608px;
	max-height: 220px;
	overflow-y: scroll;

}


#addNoteTitleForm {
	display: none;
}


#addNoteTextarea {
	display: none;
}

#addSourceControls #addNoteSave.btn {
	display: none;
}

.open.noteMode #addSourceText {
	display: none;
}

.open.noteMode #addNoteTextarea {
	display: inline-block;
}

.open.noteMode #commentatorForm {
	display: none;
}	

.open.noteMode #addNoteTitleForm {
	display: inline-block;
}

.open.noteMode #addSourceControls #addNoteSave.btn  {
	display: inline;
}

#addSourceText .addSourceMsg {
	text-align: center;
	color: red;
	direction: ltr;
	margin-bottom: 14px;
	font-size: 15px;
}


#addSourceText #addSourceTextControls {
	text-align: left;
	margin-bottom: 6px;
}

#addSourceText #addSourceTextControls .addSourceTextAction {
	font-size: 14px;
	font-style: italic;
	margin-right: 12px;
	cursor: pointer;
}

#addSourceText #addSourceTextControls .addSourceTextAction:hover {
	text-decoration: underline;
}

#addSourceText .he {
	display: none;
}

#addSourceText.he {
	margin-left: 0px;
}

#addSourceText.he .he {
	display: inline;
	font-size: 18px;
}

#addSourceText.he .en {
	display: none;
}

#addSourceText .btn{
	float: right;
	margin-top: 2px;
}


.open.selectingAnchor .openVerse {
	display: block;
	margin-top: 12px;
	margin-bottom: 7px;
}
.open.selectingAnchor #anchorForm input {
	display: none;
}


.open.selectingAnchor #commentatorForm,
.open.selectingAnchor #addSourceText,
.open.selectingAnchor #textForm,
.open.selectingAnchor #sourceForm,
.open.selectingAnchor #addSourceType,
.open.selectingAnchor #addSourceControls
 {
	display: none;
}

.open.selectingAnchor #anchorForm {
	
}


.scrollCtl {
	background: white;
	z-index: 5;
	position: absolute;
	top: 86%;
	left: 31%;
}

.scrollCtl img {
	height: 22.5px;
	width: 27px;
	cursor: pointer;
}

.scrollCtl .up { 
}
.scrollCtl .down { 
	position: relative;
	top: -2px;
	left: 20px;
}

.openScrollCtl {
	position: absolute;
	background: white;			
	height: 40px;
	bottom: 0px;
	text-align: center;
	width: 92%;
	vertical-align: bottom;
}

.openScrollCtl img {
	height: 26px;
	width: 30px;
	margin: 0px 10px;
	cursor: pointer;
	position: relative;
	top: 8px;
	
}

#cScrollCtl {
	display: none;
	position: absolute;
	right: 19%;
	top: 84%;
}

#cScrollCtl img {
	height: 16px;
	width: 19px;
	cursor: pointer;
}

#cScrollCtl .down {
	position: relative;
	top: -2px;
	left: 14px;
}

.openBottom {
	overflow: hidden;
	padding-bottom: 20px;
}

#verseSelectModal {
	display: none;
   	position: fixed;
   	text-align: center;
	width: 27%;
	bottom: 40%;
	right: 1.5%;
	font-size: 24px;
  	padding: 20px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	z-index: 100;
	overflow: hidden;
	line-height: 1.2;
	-webkit-box-shadow: 2px 2px 12px #333333;
	-moz-box-shadow: 2px 2px 12px #333333;
	
}

#verseSelectModal .cancel {
	font-size: 16px;
}


#selectConfirm {
	display: none;
}


#selectedVerse {
	margin-top: 14px;
	font-weight: bold;
	font-size: 21px;
}

#selectedControls {
	margin-top: 20px; 
	font-size: 16px;
}

#selectedControls span {
	margin: 0px 8px;
	cursor: pointer;			

}


#selectedControls span:hover{
}


.open .formRow {
	margin-bottom: 6px;
}

.open .label {
	font-size: 16px;
	display: inline-block;
	text-align: right;
	margin-right: 18px;
	width: 120px;
	font-weight: bold;
}

#addSourceMsg {
	font-size: 15px;
	line-height: 1.2;
	color: red;
	margin-right: 18px;
	width: 120px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

.open #anchorForm {
	margin-top: 18px;
}

.open #anchorForm input {
	width: 220px;
	margin-right: 8px;
	display: none;
}

.open #anchorForm #selectAnchor {
	cursor: pointer;
	font-size: 15px;
	float: none;
	display: inline;
	margin-left: 0px;
}


.open #anchorInstructions {
	font-size: 14px;
}

.open .selectWord {
	cursor: pointer;
}

.open .selectWord:hover {
	color: blue;
}

.open input {
	width: 509px;
}

.open #sourceForm input {
	width: 392px;
}

.open #addSourceType {
	margin-top: 6px;
}

.open #addSourceType select{
	margin-left: 0px;
	margin-top: 8px;
}
		
#addSourceType #otherType {
	display: none;
	margin-left: 8px;
	width: 264px;
}

		
.open textarea {
	width: 98%;
	height: 170px;
	line-height: 1.3;
	font-size: 15px;
	padding: 7px;
	border-radius: 3px;
	-moz-border-radius: 3px;
}

#addToSheetModal {
	width: 400px;
}

#addToSheetModal .header {
	font-size: 22px;
}

#sheets {
	list-style-type: none;
	background-color: white;
	border-radius: 5px;
	padding: 8px 0;
	border: 1px solid #ccc;
	margin: 13px 20px;
}

#sheets .sheet {
	text-align: left;
	cursor: pointer;
	padding: 2px 10px;
}

#sheets .sheet.selected {
	background-color: #08C;
	color: white;
}

#newTextModal {
	display: none;
   	position: absolute;
  	padding: 15px 30px;
	border-radius: 10px;
	z-index: 100;
	overflow: hidden;
	text-align: justify;
	line-height: 1.2;
	font-size: 18px;
	-webkit-box-shadow: 2px 2px 12px #333333;
	-moz-box-shadow: 2px 2px 12px #333333;
}

#newTextModal .header {
	font-size: 26px;
	margin-bottom: 10px;
}

#newTextMsg {
	margin-bottom: 6px;
}

#newTextModal input#newTextName {
	width: 350px;
	font-size: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin-bottom: 10px;
}

#newTextModal #newBottom {

}



#newTextModal #section {
	margin-top: 13px;
	display: inline-block;
	margin-right: 40px;
}

#newTextModal #section input {
	font-size: 17px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	width: 40px;
	text-align: center;
	margin-left: 8px;
	vertical-align: middle;
}

#newTextModal #newTextActions {
	display: inline-block;
	position: relative;
	top: -4px;
	margin-left: 4px;
}

#newTextModal #newBottom .action{
	margin-left: 14px;
	cursor: pointer;
	float: none;
	display: inline-block;
}


#addSourceControls {
	text-align: center;
	margin-top: 15px;
}


#addSourceControls .btn.inactive {
	display: none;
}

#addModal {
	display: none;
   	position: fixed;
	width: 560px;
	top: 120px;
	left: 50%;
	margin-left: -330px;
  	padding: 15px 50px;
	border-radius: 10px;
	z-index: 100;
	overflow: hidden;
	text-align: justify;
	line-height: 1.2;
	-webkit-box-shadow: 2px 2px 12px #333333;
	-moz-box-shadow: 2px 2px 12px #333333;
	
}


#closeAdd {
	position: absolute;
	top: 8px; 
	right: 8px;
	font-size: 18px;
	font-family: sans-serif;
	cursor: pointer;
}

#addModal .header {
	font-size: 24px;
	font-weight: bold;
	margin: 10px 0px 20px 0px;;
}

#addModal .action {
	cursor: pointer;
	text-decoration: underline;
	color: #00aeef;
	letter-spacing: .8px;
}

#addModal .formRow {
	margin-bottom: 8px;
}

#addModal .label {
	width: 100px;
	min-height: 15px;
	float: left;
	text-align: right;
	margin: 0px 14px 0px 0px;
	font-size: 17px;
}

#addModal .button {
	display: inline;
	padding: 3px 12px;
	font-weight: normal;
	float: none;
	border-radius: 5px;
	-moz-border-radius: 5px;
	margin: 0px;
}

#addModal input {
	width: 60%
}

#addModal textarea {
	width: 100%;
	height: 210px;
	font-size: 18px;
}


#overlay {
	display: none;
	position: fixed;
	z-index: 20;
	background: black;
	opacity: 0.3;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
}

#addVersionHeader {
	display: none;
	position: absolute;
	top: 52px;
	width: 100%;
	font-size: 18px;
	z-index: 10;
}

#editTitle {
	margin: 14px 0px 8px 0px;
	text-align: center;
	font-size: 38px;
}

#addVersionHeader input {
 	width: 246px;
 	margin: 0px 18px 0px 4px;

}

#addVersionHeader input#versionTitle {
	width: 325px;

}

#addVersionHeaderLeft {
	position: absolute;
	left: 5%;
	width: 39%;
	padding: 20px 10px;
	font-size: 19px;
}

body.newText #addVersionHeaderLeft { 
	display: none;
}

body.newText #addVersionHeaderRight { 
	width: 60%;
	right: 18%;
}

body.newText #addVersionHeaderRight input {
	width: 354px
}
body.newText #addVersionHeaderRight input#versionTitle {
	width: 464px;
} 

.compareTitle {
	margin-bottom: 4px; 
}
.compareSource {
	font-size: 15px;
	word-break: break-word;
}

#addVersionHeaderRight {
	position: absolute;
	right: 5%;
	width: 42%;
	padding: 10px;
}
		
#addVersionHeaderRight div {
	margin-bottom: 8px;
	height: 28px;
}

#addVersionHeaderRight input, #addVersionHeaderRight select {
	margin-bottom: 0px;
} 

#newIndex {
	display: none;
	width: 710px;
	margin: 100px auto;
	font-size: 23px;
}

#newIndexMsg {
	font-size: 29px;
	margin-bottom: 27px;
	text-align: center;
}

#newIndexMsg .sub {
	font-size: 21px;
	color: #555;
}

#newIndex .fieldSet {
	margin-bottom: 12px;
}

#newIndex .fieldLabel {
	width: 185px;
	display: inline-block;
	vertical-align: top;
}

#newIndex input {
	font-size: 15px;
	padding: 2px;
	width: 500px;
	margin-left: 5px;
}

#newIndex #textTitle {
	font-size: 20px;
	padding: 7px 0;
}

#newIndex select {
	margin-left: 7px;
}

#newIndex #otherCategory {
	width: 240px; 
	display: none;
}

#newIndex #sectionTypesBox, #newIndex #sectionNamesBox, #newIndex #shorthandsBox {
	display: inline-block;
	width: 515px;
	line-height: 33px;
}

#newIndex .sectionType input{
	width: 100px;
	margin: 0px 5px;
	font-size: 16px;
}


#newIndex .sectionName input {
	width: 280px;
}

#newIndex .sectionName .name {
	font-size: 15px;;
}


#newIndex #addSection, #newIndex #addShorthand {
	color: #777;
	cursor: pointer;
	font-size: 15px;
	margin-left: 5px;
	display: inline-block;
}


#newIndex .shorthand input {
	width: 212px;
}

#newIndex #addShorthand {
	text-align: right;
	display: block;
}

#newIndex .remove {
	color: white;
	background: #bbb;
	display: inline-block;
	height: 18px;
	width: 18px;
	line-height: 18px;
	border-radius: 6px;
	text-align: center;
	font-size: 14px;
	font-family: sans-serif;
	cursor: pointer;
	vertical-align: 15%;
}

#newIndex .sectionType .remove {
	margin: -5px 11px 0 -32px;
}

#newIndex .actions {
	margin-top: 10px;
	text-align: center;
}


#unsupported {
	display: none;
	position: absolute;
	padding: 10%;
	top: 0px;
	left: 0px;
	width: 80%;
	height: 80%;
	text-align: center;
	font-size: 32px;
}

.pendingModal {
	display: none;

}

.help {
	color: white;
	position: relative;
	background: #bbb;
	display: inline-block;
	height: 18px;
	width: 18px;
	line-height: 18px;
	border-radius: 9px;
	text-align: center;
	font-size: 14px;
	font-family: sans-serif;
	font-weight: bold;
	cursor: pointer;
	vertical-align: 15%;
	margin-right: 1px;
}

.help:hover .helpText {
	display: block;
}

.helpText {
	display: none;
	position: absolute;
	top: 24px;
	left: 0px;
	background: #eee;
	color: black;
	font-weight: normal;
	padding: 13px 24px;
	line-height: 23px;
	border-radius: 10px;
	width: 670px; 
	font-size: 17px;
	z-index: 5;
	text-align: left;
	box-shadow: 1px 1px 5px #555;
}

.alert {
	position: fixed;
	width: 400px;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -200px;
	text-align: center;
	border-radius: 10px;
	background: -moz-linear-gradient(top,  #fefefe,  #e9e9e9);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fefefe), to(#e9e9e9));			
	-webkit-box-shadow: 2px 2px 12px #333333;
	-moz-box-shadow: 2px 2px 12px #333333;
	z-index: 100;
}


.alert .msg {
	padding: 40px; 
	font-size: 26px;
}

.alert .ok {
	margin-bottom: 24px;
	font-size: 20px;
	height: 30px;
	width: 50px;
	line-height: 30px;
}

.alert img {
	margin-bottom: 24px;
}

.alert a {
	font-size: 18px;
}

.clickEdit {
	border: 0;
	background: white;
	overflow: hidden;
	font-family: serif;
	z-index: 100;
}

.editing {
	opacity: 0;
}

.en.editing:hover {
	background: white;
}

.clear {
	clear: both;
}

.ui-autocomplete {
	z-index: 100 !important;
}

.modal {
	display: none;
   	position: absolute;
   	text-align: center;
   	padding: 10px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	z-index: 100;
	overflow: hidden;
	line-height: 1.2;
	-webkit-box-shadow: 2px 2px 12px #333333;
	-moz-box-shadow: 2px 2px 12px #333333;
}


/* .btn class from twitter bootstrap */
.btn {
display: inline-block;
*display: inline;
/* IE7 inline-block hack */

*zoom: 1;
padding: 4px 10px 4px;
margin-bottom: 0;
font-size: 14px;
line-height: 18px;
color: #333333;
text-align: center;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
vertical-align: middle;
background-color: #f5f5f5;
background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
background-image: linear-gradient(top, #ffffff, #e6e6e6);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
border-color: #e6e6e6 #e6e6e6 #bfbfbf;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
border: 1px solid #cccccc;
border-bottom-color: #b3b3b3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
cursor: pointer;
*margin-left: .3em;
margin: 0 1px;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
background-color: #e6e6e6;
}
.btn:active,
.btn.active {
background-color: #cccccc \9;
}
.btn:first-child {
*margin-left: 0;
}
.btn:hover {
color: #333333;
text-decoration: none;
background-color: #e6e6e6;
background-position: 0 -15px;
-webkit-transition: background-position 0.1s linear;
-moz-transition: background-position 0.1s linear;
-ms-transition: background-position 0.1s linear;
-o-transition: background-position 0.1s linear;
transition: background-position 0.1s linear;
}
.btn:focus {
outline: thin dotted #333;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
}
.btn.active,
.btn:active {
background-image: none;
-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
background-color: #e6e6e6;
background-color: #d9d9d9 \9;
outline: 0;
}
.btn.disabled,
.btn[disabled] {
cursor: default;
background-image: none;
background-color: #e6e6e6;
opacity: 0.65;
filter: alpha(opacity=65);
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}
.btn-large {
padding: 9px 14px;
font-size: 15px;
line-height: normal;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.btn-large [class^="icon-"] {
margin-top: 1px;
}
.btn-small {
padding: 5px 9px;
font-size: 11px;
line-height: 16px;
}
.btn-small [class^="icon-"] {
margin-top: -1px;
}
.btn-mini {
padding: 2px 6px;
font-size: 11px;
line-height: 14px;
}

/* Twitter Bootstrap Forms */

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
label,
input,
button,
select,
textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
input,
textarea,
select
{
  display: inline-block;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input,
textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
input:focus,
textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

select,
input[type="file"] {
  height: 28px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 28px;
}