#staticContentWrapper #content {
  display: flex;
  flex-direction: row;
}
#aboutPage .inner {
  margin-top: 45px;
}
div .notificationsList {
  margin-top: 20px;
}
#teamPage .inner {
  margin-top: 90px;
}
.interface-hebrew #jobsPage .inner {
  margin-top: 50px;
}
.interface-english #jobsPage .inner {
  margin-top: 45px;
}
#aboutHeader {
  color: white;
  margin-bottom: 250px;
  text-align: center;
  position: relative;
}
#aboutPage #aboutTitle {
  font-size: 50px;
  margin-bottom: 20px;
}
#aboutTitleSub {
  font-size: 24px;
}
#aboutPage .section {
  margin-bottom: 60px;
}
#aboutPage p {
  font-size: 16px;
  margin-bottom: 30px;
}
#aboutPage .year {
  margin-top: 30px;
}
#aboutPage .year.first {
  margin-top: 0;
}
#aboutPage .historyItem {
  font-size: 16px;
  margin: 14px 0;
  line-height: 1.2;
}
#supportersPage h3, #supportersPage h2 {
  text-align: left;
  max-width: revert;
}
#supportersPage p{
  font-size: 16px;
  color: #666;
  text-align: left;
  max-width: revert;
}
.interface-hebrew #supportersPage h3, .interface-hebrew #supportersPage p, .interface-hebrew #supportersPage h2 {
  max-width: revert;
  text-align: right;
}
#teamPage, #metricsPage {
  min-height: 600px;
}
#jobsPage {
  font-size: 18px;
  min-height: 600px;
}

#aboutSidebar {
  margin-top: 70px;
}
.interface-hebrew #aboutSidebar.updates {
  left: revert;
  margin-right: 0;
}
.interface-english #aboutSidebar {
  text-align: left;
}
.interface-hebrew #aboutSidebar {
  text-align: right;
}
.interface-hebrew #aboutSidebar h1 {
  font-size: 22px;
  margin: 0 50px 60px 30px;
}
#aboutSidebar h1 {
  margin: 0 0 60px 50px;
  padding-top: 60px;
  font-size: 22px;
  font-weight: 500;
  color: var(--dark-grey);
  min-width: max-content;
}
#testimonialsPage p {
  font-size: 16px;
}
#aboutPage h1, #testimonialsPage h1 {
  text-align: left;
}
#aboutPage h2 {
  font-weight: normal;
}
#teamPage h2 {
  text-align: left;
  font-weight: normal;
}
.interface-hebrew #aboutPage h1, .interface-hebrew #teamPage h2, .interface-hebrew #testimonialsPage h1 {
  text-align: right;
}
#aboutSidebar.annualreport h1 {
  margin-left: 50px;
}

#aboutSidebar ul {
  list-style-type: none;
}
#aboutSidebar li {
  min-width: max-content;
  padding: 10px;
  margin: 0;
  color: #666666;
}
#aboutSidebar li:last-child {
  padding: 10px 10px 200px 10px;
}
#aboutSidebar a {
  text-decoration: none !important;
  font-size: 16px !important;
}
#aboutSidebar a:hover {
  text-decoration: underline;
}
.annualReport {
  padding-top: 95px;
}
.annualReport a {
  color: blue;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0;
  text-align: left;
}
.mobileAboutPage {
  margin: 50px 0 0 0;
  padding-top: 15px;
}
.mobileAbout {
  top: 100px;
  right: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: auto;
  z-index: 2;
}

.mobileAbout a {
  margin-left: -30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  color: var(--dark-grey);
  display: block;
  font-size: 16px;
}
.mobileAbout .fa-chevron-left {
  padding-top: 10px;
  color: var(--dark-grey);
  display: block !important;
  margin-left: 60px;
  float: left;
}
.mobileAbout .fa-chevron-right {
  float: right;
  padding-top: 10px;
  color: var(--dark-grey);
  display: block !important;
  margin-right: 30px;
}
#aboutSidebar .fa-chevron-right, #aboutSidebar .fa-chevron-left {
  display: none;
}
#about.selected, #team.selected, #jobs.selected, #updates.selected, #testimonials.selected,
#supporters.selected, #metrics.selected, #annualreport.selected, #terms.selected, #privacy.selected {
  background-color: var(--lighter-grey);
  color: var(--selected-option);
  border-radius: 6px;
  padding: 5px;
  margin-left: -5px;
}
#testimonialsPage .inner {
  margin-top: 90px;
}
#supportersPage .inner {
  margin-top: 85px;
}
#metricsPage .inner {
  margin-top: 60px;
}
#updatesPanelContent .readerNavMenu .content .contentInner {
    margin-top: 170px;
}
#updatersPage .readerNavMenu {
    position: relative;
}
#updatesPanelContent .navSideBar {
    margin-left: 200px;
}

.mobileAboutHeader, .updatesHeader, .jobsHeader {
  display: none;
}
.container.doc.legal.static .inner {
  margin-top: 675px;
}
@media (max-width: 800px) {
  #updatersPage .globalUpdateForm {
    width: 270px;
  }
  div.notificationsList {
    width: 50%;
  }
}
@media (max-width: 600px) {
  #updatersPage .globalUpdateForm {
    margin-top: 50px;
    width: 270px;
  }
  div.notificationsList {
    width: 50%;
  }
  #updatesPanelContent .readerNavMenu .content .contentInner {
    margin-left: 0;
    margin-top: 0;
  }
  #aboutSidebar.mobileAbout {
    margin-top: -90px;
    display: block;
  }
  .interface-english #aboutSidebar.mobileAbout h1.int-en {
    display: block;
  }
  .interface-hebrew #aboutSidebar.mobileAbout h1.int-he {
    display: block;
  }
  .interface-hebrew #teamPage .inner, .interface-hebrew #jobsPage .inner,
  .interface-hebrew #annualReport .inner,
  .interface-hebrew .container.doc.legal.static .inner {
    margin-top: -80px;
  }
  .interface-hebrew #supportersPage .inner {
    margin-top: -65px;
  }
  .interface-hebrew #testimonialsPage .inner {
    margin-top: -70px;
  }
  .interface-hebrew #metricsPage .inner {
    margin-top: -70px;
  }
  .interface-hebrew #aboutPage .inner {
    margin-top: -85px;
  }
  .container.doc.legal.static .inner, #annualReport .inner, #metricsPage .inner, #supportersPage .inner, #testimonialsPage .inner, #jobsPage .inner {
    margin-top: -70px;
  }
  #teamPage .inner {
    margin-top: -75px;
  }
  .interface-hebrew .about.section {
    padding-top: 50px;
  }
  div #metricsBox {
    margin-top: 50px;
  }
  #testimonialsPage .testimonial.section {
    margin-top: 50px;
  }
  #aboutPage .inner {
     margin-top: -80px;
  }
  #aboutSidebar.mobileAbout ul {
    padding-top: 10px;
  }
  #jobsPage .inner #jobsPageContent {
    margin-top: 0px;
  }
  .interface-hebrew #jobsPage .inner #jobsPageContent {
    margin-top: 60px;
  }
  div #teamMembersPageContent {
    margin-top: 40px;
  }
  .interface-hebrew div #teamMembersPageContent {
    margin-top: 50px;
  }
  .interface-hebrew div #teamMembersPageContent {
    margin-top: 60px;
  }
  h1 .updatesHeader {
    margin-top: -60px;
  }
  .annualReport {
    margin: 0;
    padding-top: 55px;
  }
  #aboutSidebar h1, h1.mobileAboutHeader {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 22px !important;
    text-align: left;
    line-height: 26px;
    color: var(--dark-grey);
  }
  .interface-hebrew h1.mobileAboutHeader, .interface-hebrew #aboutSidebar h1 {
    text-align: right;
  }
  h1.mobileAboutHeader {
    margin: 40px 0 0 0 !important;
  }
  #aboutSidebar li:last-child {
    padding: 10px 10px 60px 10px;
  }
  .interface-english #aboutSidebar li {
    margin-left: 5px;
  }
  .interface-english #aboutSidebar h1 {
    margin: 40px 50px 0 25px !important;
  }
  .interface-hebrew #aboutSidebar h1 {
    margin: 40px 30px 0 20px !important;
  }
  .interface-hebrew #aboutSidebar li {
    margin-right: -18px;
  }
  div .section.leading-supporters {
    margin-top: 40px;
  }

  .updatesHeader, .jobsHeader, .mobileAboutHeader {
    display: block;
  }
  .static.legal iframe {
    margin-top: 60px;
  }
}
#metricsBox {
  margin-top: 30px;
}
.updateTextarea {
  width: 100%;
}
.about.section {
  padding-top: 40px;
}