#splash {
	margin-top: 70px;
	text-align: center;
}

#splash .row {
	margin-bottom: 40px;
}

#splash h1 {
	font: 40px "Georgia";
	text-align: left;
	margin-bottom: 12px;
}

#splash .sub {
	color: #777;
	font: 15px "Georgia";
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2;
}

#splash #video {
}

#splash p {
	font-size: 14px;
	line-height: 1.2;
	text-align: left;
}

#splash ul {
	text-align: left;
	font-size: 15px;
	line-height: 1.2;
}

#demoBox {
	font-size: 15px;
}

#demoButtons {
	margin-top: 12px;
}

#demoButtons .btn {
	margin-right: 32px;
}


#jump {
	font-weight: bold;
	font-size: 22px;
	display: inline-block;
	text-align: center;
	margin-right: 4px;
}

#goto {
	width: 300px;
	font-size: 16px;
	height: 27px;
	position: relative;
	top: 5px;	
}

#demoBox .badge {
	font-size: 14px;
	letter-spacing: 1px;
	margin-left: 7px;
	font-weight: normal;
}

#splash #helpHead h2 {
	font-size: 32px;
	margin-bottom: 6px;
}
#splash .row.help h2 {
	text-align: right;
	margin-right: 10px;
}

#splash .span4 p {
	text-align: justify;
}

.row.line {
	border-bottom: 1px solid #ccc;
}

#splash .about p {
	text-align: justify;
}

#splash #bites h3 {
	text-align: left;
}

#splash #nextBox {
	display: table;
	height: 220px;
	text-align: right;
}
#splash #nextSteps {
	font-size: 40px;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	top: 32px;
	padding-right: 40px;
}

#splash #nextBox #bracket {
	font-size: 340px;
	display: table-cell;
	font-weight: 200;
	vertical-align: middle;
}

#nextRow {
	padding-top: 30px;
}

#nextRow ul {
	list-style-type: none;
	text-align: left;
}

#splash #signup_email{
	margin-top: 9px;
}

#splash.temp {
	text-align: center;
	margin-top: 150px;
}

#splash.temp h1 {
	font-size: 132px;
	text-align: center;
}

#splash.temp p {
	font-size: 20px;
	text-align: center;
}

#early {
	margin: 140px auto 0;
	width: 570px;
	line-height: 1.8;
	text-align: left;
}

#early h3 {
	text-align: left;
	display: inline;
	margin-right: 24px;
}

#early a {
	margin-right: 24px;
	font-size: 16px;
}

#header {
	width: 96%;
	font-size: 20px;
	margin: 0 2%;
	border-bottom: 1px solid #ccc;
}

#left, #right {
	padding: 14px 8px;
}

#left a {
	margin-right: 12px;
	font-family: Georgia, serif;
	color: black;
	letter-spacing: 1px;
}

#logo {
	font-size: 32px;
	font-family: Georgia, serif;
	margin-right: 8px;
}

#logo a {
	color: black;
}

#right {
	float: right;
}

#right a {
	margin: 5px;
}

#accountBox {
	position: relative;
	margin: 0 4px;
}

#accountBox .ui-icon {
	display: inline-block;
	vertical-align: middle;
}

#accountBox #accountMenu {
	display: none;
	position: absolute;
	right: 0;
	top: 100%;
	width: 70px;
	padding: 9px 12px;
	background: white;
	border: 1px solid #aaa;
}


#accountBox:hover #accountMenu {
	display: block;
}

#accounts {
	padding: 100px 200px;
}

#accounts #login, #accounts #register {
	float: left;
}

.registrationContent {
	width: 320px;
	margin: 100px auto;
}

.registrationContent h1, .registrationContent h2{
	margin-bottom: 20px;
}

.registrationContent a {
	font-size: 16px;
}

.registrationContent label {
	display: inline-block;
	width: 80px;
}


#login #resetLink {
	font-size: 12px;
	margin-left: 16px;
	color: #555;

}

#register .helptext {
	display: none;
}

#resetPassword label {
	width: 50px;
}

.errorlist {
	color: red;
	list-style-type: none;
	margin: 0;
}

.error {
	color: red;
}

#message {
	text-align: center;	
	margin-top: 100px;
}

#activityContent {
	width: 800px;
	margin: 50px auto;
}

#activityContent h1 {
}

#activityContent h3 {
	font-weight: normal;
	font-style: italic;
	text-align: center;

}

#activityList {
	margin-top: 30px;
	list-style-type: none;
	margin: 0;
}

#activityList li {
	margin: 24px 0;
}

#activityList .topline {
	font-size: 16px;
	font-weight: bold;
}

#activityList .historyLink {
	font-size: 13px;
	margin-left: 5px;
}

#activityList .revert {
	margin-right: 4px;
	float: right;
}

#activityList .text {
	font-family: Georgia, serif;
	font-size: 16px;
}

#activityList .text.he {
	direction: rtl;
}

#activityList .time {
	margin-top: 3px;
}

#nabbleBox {
	width: 96%;
	margin: 0 2%;
}

.container.doc {
	margin: 60px auto;
	font-size: 15px;
	padding-bottom: 100px;
}

#contribute #pdalert {
	margin-top: 10px;
}

.doc h1 {
	font-size: 52px;
	line-height: 76px;
	text-align: center;
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;
	font-family: 'Georgia', serif;
}

.doc h2 {
	border-bottom: 1px solid #eee;
	font-size: 28px;
	line-height: 44px;
	margin-bottom: 10px;
	margin-top: 20px;

}

.doc h3 {

	margin-top: 12px;
}

.doc h3.big {
	font-size: 24px;
	line-height: 1.3;
	margin-bottom: 15px;
	padding-bottom: 5px;
	font-style: italic;
	text-align: center;
	margin-top: 24px;
	border-bottom: 1px solid #eee;

}


.doc .howto h3 {
	margin-top: 0px;
}

.doc p {
	font-size: 15px;
	text-align: justify;
}

.doc li {
	margin: 8px 0px;
}

.doc img {
	vertical-align: bottom;
	margin: 0 3px;
}



#comingSoon {
	width: 700px;
	margin: 230px auto;
	font-size: 20px;
	text-align: center;
}

#footer {
	background: #eee;
	width: 86%;
	border: 1px solid #bbb;
	border-bottom: none;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	margin: 30px auto 0;
	padding: 20px;
	text-align: center;
}

#footer .section {
	display: inline-block;
	width: 130px;
	margin-left: 40px;
	text-align: left;
	vertical-align: top;
}

#footer .header {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 3px;
}

#footer a {
	display: block;
}