#accounts {
	padding: 100px 200px;
}

#accounts #login, #accounts #register {
	float: left;
}

.registrationContent {
	width: 270px;
	margin: 100px auto;
}

.registrationContent h1, .registrationContent h2{
	margin-bottom: 20px;
}

.registrationContent a{
	font-size: 16px;
}

#login #resetLink {
	font-size: 12px;
	margin-left: 8px;
}

#register .helptext {
	display: none;
}

.errorlist {
	color: red;
	list-style-type: none;
	margin: 0;
}

.error {
	color: red;
}

#message {
	text-align: center;	
	margin-top: 100px;
}