/* CSS common to Reader, Sheets and all static pages */
@font-face {
  font-family: 'Rashi Script';
  src: url('/static/fonts/Mekorot-Rashi.ttf');
}
@font-face {
  font-family: 'Taamey Frank';
  src: url('/static/fonts/Taamey-Frank/TaameyFrankCLM-Medium.ttf');
}
@font-face {
  font-family: 'Taamey Frank';
  src: url('/static/fonts/Taamey-Frank/TaameyFrankCLM-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'Taamey Frank';
  src: url('/static/fonts/Taamey-Frank/TaameyFrankCLM-MediumOblique.ttf');
  font-style: italic;
}
@font-face {
  font-family: 'Taamey Frank';
  src: url('/static/fonts/Taamey-Frank/TaameyFrankCLM-BoldOblique.ttf');
  font-style: italic;
  font-weight: bold;
}
/* Avoid Flash of Unstyled Text with Google Web Font Loader */
.wf-loading {
  visibility: hidden;
}
.wf-active {
  visibility: visible;
}
:root {
  --pecha-red: #b5343c;
}
.modal {
  display: none;
  position: absolute;
  text-align: center;
  padding: 10px;
  background-color: #eee;
  width: auto;
  height: auto;
  left: auto;
  top: auto;
  margin: 0;
  z-index: 100;
  overflow: hidden;
  line-height: 1.2;
  border-radius: 0;
}
#overlay {
  display: none;
  position: fixed;
  z-index: 20;
  background: black;
  opacity: 0.4;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}
#alertMessage {
  position:fixed;
  width:100%;
  display:none;
  z-index:101;
  text-align:center;
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  border: 1px solid #fbeed5;
  margin-bottom: 18px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
#messageComposer {
  max-width: 100%;
  border-radius: 6px;
}
#messageTextarea {
  margin-bottom: 20px;
}
#messageHeader {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 4px;
}
#messageComposer #messageTextarea {
  display: block;
  max-width: 100%;
  height: 140px;
  width: 480px;
  box-sizing: border-box;
}
.messageText {
  display: none;
}
#viewMessage #messageText {
  background: white;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 14px;
  margin: 8px;
  width: 480px;
  max-width: 100%;
  max-height: 500px;
  overflow-y: scroll;
  text-align: left;
  font-size: 16px;
}
#peopleListModal {
  max-width: 90%; 
}
#peopleListTitle {
  font-weight: bold;
}
#peopleList {
  margin: 8px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  text-align: left;
}
#peopleList .person {
  padding: 3px 0;
  width: 200px;
  display: inline-block;
}
#peopleList .person img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}
#gardenPage .ui-icon {
  position: static;
}
#gardenPage h2 {
  margin-bottom: 0;
}
#gardenPage .ui-accordion.ui-accordion-content {
  padding: 0;
}
#gardenPage .ui-accordion .ui-accordion-header a {
  display: inline;
}
#editButtons {
  display: none;
  margin: 3px 20px 0 0;
}
#newVersionBox #editButtons {
  position: fixed;
  right: 10px;
  z-index: 100;
  top: 70px;
}
.toggle {
  display: inline-block;
  height: 30px;
  margin: 0px 6px;
  text-align: center;
  vertical-align: center;
  border-radius: 8px;
}
.toggleOption {
  display: inline-block;
  cursor: pointer;
  padding: 0px 8px;
  line-height: 28px;
  border: 1px solid #aaa;
  border-right: none;
  letter-spacing: 1px;
  font-size: 1px;
  height: 32px;
}
.toggleOption img {
  height: 26px;
  width: 26px;
  margin-top: 2px;
}
.toggleOption:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.toggleOption:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: 1px solid #aaa;
}
.toggleOption:active {
  background: #d8d8d8;
}
.toggleOption:hover {
  background: #ccc;
}
#languageToggle, 
#layoutToggle, 
#biLayoutToggle,
#sheetLayoutToggle {
  display: none;
}
#globalWarning {
  position: fixed;
  z-index: 99;
  width: 550px;
  max-width: 100%;
  box-sizing: border-box;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 40px;
  padding: 14px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
  border: 1px solid #fbeed5;
  border-radius: 4px;
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
#globalWarning .fa-times {
  float: right;
  cursor: pointer;
}
body.hebrew #personPage #textTocLink,
body.hebrew #talmudicPeoplePage #textTocLink {
  right: 12px;
  left: auto;
  font-size: 12px;
}
.textSyncBox {
  position: relative;
  display: inline-block;
}
.textSyncNumbers {
  position: absolute;
  top: 0px;
  width: 50%;
  text-align: left;
  right: 100%; 
  font-size: 18px;
  padding: 0px;
  letter-spacing: .7px;
  line-height: 1.3;
  font-family: Georgia, serif;
  overflow: hidden;
  z-index: 10;  
}
.hebrew.textSyncNumbers {
  left: 100%;
  right: auto;
}
.textSyncNumbers .segmentLabel {  
  font-size: 16px;
  direction: ltr;
  line-height: 1.7;
  background: #3A87AD;
  color: white;
  padding: 0px 7px;
  display: inline-block;
  float: right;
  clear: both;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
.hebrew.textSyncNumbers .segmentLabel {
  float: left;
}
.textSyncMirror {
  position: absolute;
  display: none;
}
#loginPrompt {
	padding: 30px 20px 10px;
	width: 400px;
  text-align: center;
}
#loginPrompt h3 {
	margin: 0 0 25px 0;
}
#loginPrompt .btn {
	margin: 0 20px;
	font-size: 19px;
	width: 70px;
}
#loginPrompt .cancel {
	margin-top: 25px;
	cursor: pointer;
}
#loginPrompt .cancel:hover {
	text-decoration: underline;
}
.alertBox {
  width: 400px;
  padding: 40px;
  box-sizing: border-box;
  background: #eee;
  text-align: center;
  z-index: 21;
}
.alertBox.wide {
  width: 600px;
}
.alertBox .msg {
  font-size: 26px;
  line-height: 1.2;
}
.alertBox .btn {
  margin: 40px auto 0;
}
.alertBox .smallHeader {
  font-size: 18px;
  margin: 18px 0 4px;
}
.alertBox.copy .msg {
  padding: 20px;
}
.alertBox img {
  margin-bottom: 24px;
}
.alertBox a {
  font-size: 18px;
}
.alertBox.loading {
  width: auto;
  height: auto;
  padding: 16px;
}
.alertBox.loading img {
  margin-bottom: 0;
}
.alertBox.copy {
  width: 550px
}
.alertBox.copy textarea {
  width: 500px;
  min-height: 250px;
}
.alertBox .multiOptions {
  background: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: left;
  width: 90%;
  padding: 10px;
  margin: 0 auto 20px ;
  max-height: 350px;
  overflow-y: scroll;
}
.alertBox .multiOptions input {
  margin-bottom: 0;
}
.ui-icon {
  display: inline-block;
  vertical-align: middle;
}
.ui-autocomplete {
  z-index: 100 !important;
  font-size: 14px;
}
#textBrowser {
  padding: 0;
  background: white;
  box-shadow: 1px 1px 3px #555;
  font-family: "Georgia", serif;
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none; 
}
.interface-hebrew #textBrowser {
  text-align: left;
  direction: ltr;
}
#textBrowser.absolute {
  position: absolute;
  z-index: 20;
}
#browserPath {
  clear: both;
  background-color: #eee;
  padding: 6px 10px;
  border-bottom: 1px solid #ddd;
  min-height: 20px;
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
}
#textBrowser.absolute #browserPath { 
  width: 550px;
}
.browserPathItem {
  cursor: pointer;
  white-space: nowrap;
  margin: 0 3px;
}
.browserPathItem:hover {
  text-decoration: underline;
}
#browserNav {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 310px;
  overflow-y: auto;
  border-right: 1px solid #aaa;
  font-size: 16px;
}
.interface-hebrew #browserNav {
  left: auto;
  right: 0;
  border-right: none;
  border-left: 1px solid #aaa;
}
.browserNavItem {
  font-family: 'jomolhari';
  padding: 8px 4px 8px 10px;
  cursor: pointer;
  -webkit-transform: translateZ(0);
}
.browserNavItem .ui-icon {
  float: right;
}
.browserNavItem:hover {
  text-decoration: underline;
}
.browserNavItem {
  border-bottom: 1px solid #ddd;
}
#browserPreview {
  position: relative;
  padding: 0px;
  overflow-y: auto;
  font-size: 17px;
}
#browserPreviewContent {
  height: 290px;
  overflow: auto;
  padding: 20px 10px 0px 200px;
}
.interface-hebrew #browserPreviewContent {
  padding: 20px 200px 0px 10px;
}
#textBrowser.absolute #browserPreviewContent {
  width: 360px;
}
#browserPreview .segment {
  padding: 0 10px 12px;
  cursor: pointer;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}
#browserPreview .segment:hover {
    background-color: #EDF4FA;
}
#browserPreview .segment.selected {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  background-color: #CFE5F8;
}
#browserPreview .segment.selected:hover {
  background-color: #CFE5F8;
}
#browserPreview .number {
  font-size: 13px;
  font-weight: bold;
}
#browserPreview .segment .he,
#browserPreview .segment .en {
  display: block;
  margin-bottom: 6px;
}
#browserPreview .segment .en {
  font-family: "adobe-garamond-pro", Georgia, serif;
  text-align: left;
  direction: ltr;
}
#browserPreview .segment .he {
  font-size: 130%;
  font-family: "jomolhari";
  text-align: left;
  direction: ltr;
}
#browserPreview .empty {
  text-align: center;
  color: #777;
}
#browserActions {
  text-align: center;
  background-color: #eee;
  padding: 8px;
  clear: both;
  border-top: 1px solid #ddd;
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none; 
}
#browserMessage {
  display: inline-block;
  font-weight: bold;
  padding: 10px;
  margin: 4px 0;
  font-size: 20px;
}
#browserOK.inactive {
  color: #ddd;
}
.onoffswitch {
  position: relative;
  width: 70px;
  display: inline-block;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select: none;
}
#content .onoffswitch-checkbox {
  display: none;
}
#content .onoffswitch-label {
  display: block;
  height: auto;
  overflow: hidden;
  cursor: pointer;
  border-radius: 20px;
}
.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.interface-hebrew .onoffswitch-inner {
  margin-right: -100%;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 36px;
  padding: 0;
  line-height: 36px;
  font-size: 14px;
  color: white;
  box-sizing: border-box;
}
.onoffswitch-inner:before {
  content: "";
  padding-left: 10px;
  background-color: var(--pecha-red);
  color: #FFFFFF;
}
.interface-hebrew .onoffswitch-inner:before{
  padding-right: 10px;
}
.onoffswitch-inner:after {
  content: "";
  padding-right: 10px;
  background-color: #c2c2c2;
  color: #fff;
  text-align: left;
}
.interface-hebrew .onoffswitch-inner:after {
  text-align: left;
  padding-left: 10px;
}
.interface-hebrew .onoffswitch-inner:after{
    content: "";
}
.onoffswitch-switch {
  display: block;
  width: 31px;
  margin: 1px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 36px;
  border: 1px solid #999999;
  border-radius: 26px;
  transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}
.interface-hebrew .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-right: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}
ul.tagit {
    padding: 1px 5px;
    overflow: auto;
    margin-left: inherit; /* usually we don't want the regular ul margins. */
    margin-right: inherit;
}
ul.tagit li {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
}
ul.tagit li.tagit-choice {
    position: relative;
    line-height: inherit;
    color: #08c;
}
ul.tagit li.tagit-choice-read-only {
    padding: .2em .5em .2em .5em;
}
ul.tagit li.tagit-choice-editable {
    padding: .2em 18px .2em .5em;
}
ul.tagit li.tagit-new {
    padding: .25em 4px .25em 0;
}
ul.tagit li.tagit-choice a.tagit-label {
    cursor: pointer;
    text-decoration: none;
}
ul.tagit li.tagit-choice .tagit-close {
    cursor: pointer;
    position: absolute;
    right: .1em;
    top: 50%;
    margin-top: -8px;
    line-height: 17px;
}
/* used for some custom themes that don't need image icons */
ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: none;
}
ul.tagit li.tagit-choice input {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
}
ul.tagit input[type="text"], #sheetsContent ul.tagit input[type="text"] {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    margin: -7px 0 0 0;
    padding: 0;
    width: inherit;
    background-color: inherit;
    outline: none;
}
a {
	color: #08C;
	text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}
.badge {
  padding-right: 9px;
  padding-left: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge-important {
  background-color: #b94a48;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}
.clearFix {
  clear: both;
}
.static {
  font-size: 16px;
  background-color: #FBFBFA;
}
.static .inner {
  width: 90%;
  max-width: 660px;
  margin: 0 auto;
  padding: 140px 0 100px;
}
.static .section {
  margin-bottom: 30px;
}
.static input {
  padding: 20px 20px;
  margin: 0;
  cursor: pointer;
  border-radius: 7px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.2);
  border: none;
  color: #666;
  font-size: 14px;
  background-color: white;
  -webkit-appearance: none;
}
.static label {
  color: #000;
  font-size: 16px;
  height: 18px;
  margin-bottom: 5px;
  position: relative;
  display: block;
}
.static label .sub {
  font-size: 12px;
  color: #999;
  letter-spacing: normal;
  white-space: nowrap;
}
.static label .int-en .sub{
  margin-left: 4px;
}
.static label .int-he .sub{
  margin-right: 4px;
}

.interface-hebrew > #staticContentWrapper > #content > #textBrowser > #browserPath > .browserPathItem {
  font-family: 'wujin+gangbi';
}

.interface-hebrew > #staticContentWrapper > #content > #textBrowser > #browserNav > .browserNavItem {
  font-family: 'wujin+gangbi';
}

.interface-hebrew > #staticContentWrapper > #content > #textBrowser > #browserPreview > #browserNav > .browserNavItem > .ui-icon {
  font-family: 'wujin+gangbi';
}

