/* CSS common to both Reader and Sheets */

.gradient {
  /* SVG fallback(Opera 11.10-, IE9) */
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1NCwyNTQsMjU0LDEpOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOnJnYmEoMjMzLDIzMywyMzMsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);

  /* Opera 11.10+ */
  background: -o-linear-gradient(top, rgba(254,254,254,1), rgba(233,233,233,1));

  /* Firefox 3.6+ */
  background: -moz-linear-gradient(top, rgba(254,254,254,1), rgba(233,233,233,1));

  /* Chrome 7+ & Safari 5.03+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(254,254,254,1)), color-stop(1, rgba(233,233,233,1)));

  /* IE5.5 - IE7 */
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFEFEFE,EndColorStr=#FFE9E9E9);

  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFEFEFE,EndColorStr=#FFE9E9E9)"
}


/* Improves touch reactiveness on iOS devices */
html,p,span,div,a,ul,ol,li,body,h1,h2,h3,h4 {
    -webkit-tap-hightlight-color: rgba(0,0,0,0);
}


.modal {
  display: none;
  position: absolute;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  z-index: 100;
  overflow: hidden;
  line-height: 1.2;
  box-shadow: 2px 2px 12px #333333;
}

#overlay {
  display: none;
  position: fixed;
  z-index: 20;
  background: black;
  opacity: 0.4;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}

#top {
  z-index: 100;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 40px;
  padding: 0;
  border-bottom: 1px solid #777;
  box-shadow: 0px 2px 12px #888;
  font-family: Georgia, serif;
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none; 
}

body.embeded #top {
  display: none;
}

#left {
  height: 40px;
  float: left;
}

#home, #sefaria, #textsMenu {
    cursor: pointer;
    padding: 0 6px 0 9px;
    display: inline-block;
    height: 100%;
    line-height: 40px;
}

#home {
  padding: 0;
}

#home img {
  position: relative;
  left: 4px;
  vertical-align: middle;
}

#sefaria, #textsMenu {
	vertical-align: top;
}

#sefaria:hover, #textsMenu:hover,
#sefaria.menuOpen, #textsMenu.menuOpen {
  background-color: #555;
  color: white;
}

#sefaria a {
  color: black;
}

#sefaria {
  font-size: 20px;
  font-family: Georgia, serif;
  letter-spacing: 1px;
  position: relative;
}

#sefaria .ui-icon {
  display: inline-block;
  vertical-align: middle;
}

#accountBox {
  float: right;
}

#top .topButton .ui-icon {
  display: inline-block;
  vertical-align: -25%;
}

#top .menu {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: auto;
  padding: 6px 0px 10px;
  font-size: 14px;
  line-height: 15px;
  background: white;
  text-align: left;
  border: 1px solid #aaa;
  box-shadow: 1px 1px 8px #777;
}

#sefaria .menu {
  width: 215px;
}

#top #accountMenu,
#top #notificationsMenu {
  left: auto;
  right: 0;
}

#top .menu a {
  display: block;
  padding: 4px 14px;
  white-space: nowrap;
}

#top .menu a:hover {
  background: #08c;
  color: white;
  text-decoration: none;
}

#top .menu .lineBelow {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}

#top #accountButton:hover #accountMenu,
#top #notificationsButton:hover #notificationsMenu,
#sefaria.menuOpen .menu,
#textsMenu.menuOpen .menu {
  display: block;
}

#top #accountButton,
#top #notificationsButton {
  position:relative;
}

#right {
  height: 32px;
  margin: 0 10px 0 0;
  padding-top: 4px;
  width: 490px;
  text-align: right;
  float: right;
  z-index: 1;
}

#top #notificationsButton {

}

#notificationsButton .fa,
#accountButton .fa {
  font-size: 18px;
  color: #222;
}

#newNotificationsCount {
  position: absolute;
  opacity: 0.9;
  top: -3px;
  right: -3px;
  z-index: 100;
  color: white;
  background: #d9534f;
  display: inline-block;
  padding: 1px 4px;
  font-size: 13px;
  border-radius: 6px;
  margin-left: 2px;
  box-shadow: 1px 1px 1px #eee;
  height: 16px;
  line-height: 15px;
}

#notifications {
  max-height: 420px;
  overflow-y: scroll;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
}

#notificationsEmpty {
  padding: 40px;
  width: 160px;
  text-align: center;
  line-height: 1.3;
}

.notification {
  padding: 16px;
  width: 350px;
  -webkit-user-select: auto;
}

.notification.unread {
  background-color: #E7EDF3;
}

.notification+.notification  {
  border-top: 1px solid #999;
}

.notification .date {
  color: #777;
  font-size: 12px;
  margin-top: 4px;
}

#top #notifications .notification a {
  display: inline;
  padding: 0;
  white-space: normal;
}

.notification .messageReply, .notification .messageView {
  float: right;
}

#messageComposer {
  max-width: 100%;
}

#messageHeader {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 4px;
}

#messageComposer #messageTextarea {
  display: block;
  max-width: 100%;
  height: 140px;
  width: 480px;
  box-sizing: border-box;
}

.messageText {
  display: none;
}

#viewMessage #messageText {
  background: white;
  border-radius: 5px;
  border: 1px solid #ddd;
  padding: 14px;
  margin: 8px;
  width: 480px;
  max-width: 100%;
  max-height: 500px;
  overflow-y: scroll;
  text-align: left;
  font-size: 16px;

}

#peopleListModal {
  max-width: 90%; 
}

#peopleListTitle {
  font-weight: bold;
}

#peopleList {
  margin: 8px;
  background-color: white;
  border-radius: 5px;
  padding: 20px;
  text-align: left;
}

#peopleList .person {
  padding: 3px 0;
  width: 200px;
  display: inline-block;
}

#peopleList .person img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  vertical-align: middle;
}


#editButtons {
  display: none;
  margin: 3px 20px 0 0;
}


.toggle {
  display: inline-block;
  height: 30px;
  margin: 0px 6px;
  text-align: center;
  vertical-align: center;
  border-radius: 8px;

}

.toggleOption {
  display: inline-block;
  cursor: pointer;
  padding: 0px 8px;
  height: 30px;
  line-height: 28px;
  border: 1px solid #aaa;
  border-right: none;
  letter-spacing: 1px;
  font-size: 1px;
}

.toggleOption img {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

#sectionNav .toggleOption img {
  height: 19px;
  width: 13px;
}

.toggleOption:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;


}

.toggleOption:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  border-right: 1px solid #aaa;

}

.toggleOption.active, .toggleOption:active {
  background: #d8d8d8;

}

.toggleOption:hover {
  background: #ccc;
}

#languageToggle, 
#layoutToggle, 
#biLayoutToggle,
#sheetLayoutToggle {
  display: none;
}

#showOptions {
  display: none;
  font-size: 26px;
  line-height: 30px;
  padding: 0 4px;
  border: 1px solid #aaa;
}

@media screen and (max-width: 800px) {
  #showOptions {
    display: inline-block;
  }

  #right {
    width: 40px;
    height: 32px;
  }

  #rightButtons {
    display: none;
    position: fixed;
    top: 40px;
    right: 0;
    background: #eee;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border: 1px solid #aaa;
    border-right: none;
    box-shadow: 1px 3px 12px #888;
    z-index: 1;
  }

  #rightButtons #accountBox {

  }


  #rightButtons #gotoBox {
    float: none;
    margin-top: 4px;
  }

  #rightButtons #gotoBox #goto {
    width: 96%;
    margin: 6px 0;
    padding: 4px 2%;
  }

  #top #textsList {
    position: fixed;
    left: 0;
    top: 40px;
  }

  body #top #textsList .text.hasDetails {
    position: fixed;
    top: 50px;
    left: 50%;
    margin-left: -130px;
    width: 280px;
  }

}


/*  Texts List - Base */

#textsList .category {
  padding-top: 18px;
  padding-bottom: 12px;
}

#textsList .categoryName {
  font-size: 24px;
  font-weight: bold;
  font-family: Georgia, serif;
  cursor: pointer;
  padding-bottom: 6px;
  margin-bottom: 10px;
  border-bottom: 1px solid #999;
}


#textsList .sub .categoryName {
  font-size: 20px;
}

#textsList, #textsList ul {
  list-style-type: none;
  margin-left: 0;
}

#textsList li {
  font-size: 15px;
  line-height: 1;
  padding: 1px 22px;
}

@media screen and (max-width: 500px) {
  #textsList li {
    padding: 1px 0px;
  }
}

#textsList .subBox {
}

#textsList .subBox {
  background: white;
}

#textsList .details {
  margin: 4px 14px;
  background: white;
}


#textsList .sub,
#textsList .text {
  margin-bottom: 0px;
}

#textsList table {
  margin: 0px 8px;
}

#textsList li.text .title {
  font-size: 18px;
  font-family: Georgia, serif;
  width: 50%;
}

#textsList li.text .title:hover {
  color: #08c;
}

#textsList .heTitle {
  direction: rtl;
  text-align: right;
  font-family: "Times New Roman", serif;
  font-size: 24px;
  cursor: pointer;
  width: 50%;
}

#textsList .heTitle:hover {
  color: #08c;
}

#textsList .heTitle.empty {
  cursor: pointer;
  font-style: italic;
}

#textsList .heTitle.empty:hover {
  color: #08c;
  text-decoration: underline;
}

#textsList .length {
  margin-right: 40px;
  width: 220px;
  font-size: 12px;
}

#textsList .text .length {
  width: 25%;
}

#textsList ul.sub {
}

#textsList .structure {
  font-size: 12px;
}

#textsList table {
  width: 100%;
}

#textsList i {
  display: none;
}

#textsList .showStats {
  margin-left: 10px;
  cursor: pointer;
  font-size: 13px;
  font-weight: normal;
  color: #555;
}

#textsList .showStats:hover {
  color: #08c;
  text-decoration: underline;
}


#textsList .counts {
  width: 100%;
  margin-top: 3px;
  margin-bottom: 10px;
  font-size: 13px;
  background: #eee;
  padding: 6px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 2px #bbb;
  display: none;
}

#textsList .available {

}

#textsList .progressBar {
  color: white;
  font-size: 11px;
  height: 12px;
  line-height: 12px;
  margin: 3px;
  padding: 2px;
  overflow: hidden;
  opacity: 0.65;
  box-shadow: 1px 1px 3px #777;
  min-width: 1% !important;
}

#textsList .progressBar.heAvailable {
  background-color: #08c;
}
#textsList .progressBar.enAvailable {
  background-color: #CA54DA;
}

#textsList .complete {
  float: right;
}

#textsList .availableBox {
  margin-top: 8px;
  display: block;
}

#textsList .availableBox div {
  display: block;
  margin-right: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#textsList .detailsTitle{
  font-weight: bold;
  margin-right: 4px;
  font-size: 12px;
  width: 54px;
  font-weight: bold;
  display: inline-block;
}

#textsList .sections {
  padding-bottom: 10px;
}

#textsList .sectionName {
  font-size: 12px;
  margin: 0px 0px 2px 3px;  
}

#textsList .text .sectionLink {
  display: inline-block;
  padding: 4px;
  margin: 1px;
  min-width: 22px;
  height: 22px;
  line-height: 22px;
  font-size: 13px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: #eee;
}

#textsList .colorCodes {
  display: inline-block;
  margin-left: 2px;
  letter-spacing: 1px;
}
#textsList .colorCodes span {
  font-size: 9px;
  margin: 5px 4px 0 4px;
}
.enNone.heNone {
  color: #ccc;
}

.enNone.heSome {
  color: #C09853;
}

.enNone.heAll {
  color: #468847;
}

.enSome.heNone {
  color: #CA54DA;
}

.enSome.heSome {
  color: #CA54DA;
}

.enSome.heAll {
  color: #1E347B
}

.enAll.heNone {
  color: #CA54DA;
}

.enAll.heSome {
  color: #CA54DA;
}

.enAll.heAll {
  color: #08c;  
}

#textsList .details {
  margin-right: 16px;
}

#textsList .details td {
  padding: 2px 0 10px 16px;
}

#textsList .detailsRight {
  vertical-align: top;
  font-size: 14px;
  margin-top: 16px;
}

#textsList .titleVariants,
#textsList .textStructure {
  font-size: 12px;
  font-style: italic;
  margin-top: 5px;
}

#textsList .text .sectionLink:hover {
  background-color: #08c;
  color: white;
  text-decoration: none;
}

#textsList .sectionsBox {
  margin-bottom: 20px;
}


/*  Texts Menu in Header  */

#top #textsMenu {
  position: relative;
  font-size: 14px;
}

#top #textsMenu .ui-icon {
  display: inline-block;
  vertical-align: middle;
}

#top #textsList {
  color: black;
  margin: 0;
}

#top #textsList .category .ui-icon {
  position: absolute;
  right: 4px;
  top: 5px;
}

#top #textsList .subBox {
  top: 0;
  margin: 0;
  position: absolute;
  z-index: 3;
  border: 1px solid #aaa;
  box-shadow: 1px 1px 5px #777;
}

#top #textsList ul.sub {
  padding: 0;
  border: 0;
}

#top #textsList .sub.category {
  color: black;
}

#top #textsList li {
  padding: 4px 12px; 
  background: white;
  border: none;
  box-shadow: none;
  letter-spacing: 1px;
  margin: 0;
}

#top #textsList .categoryName .showStats,
#top #textsList .title .showStats {
  display: none;
}

#top #textsList .subBox {
  display: none;
}

#top #textsList .text:hover .title a,
#top #textsList .category:hover > .categoryName {
  color: white;
}

#top #textsList .category:hover,
#top #textsList .text:hover{
  background-color: #08c;
}

#top #textsList .text.hasDetails:hover .title a{
  color: black;
}

#top #textsList .text.hasDetails:hover {
  background-color: white;
}

#top #textsList .categoryName {
  font-weight: normal;
  white-space: nowrap;
  width: auto;
  font-size: 15px;
  border: none;
  padding: 1px;
  margin: 0;
}

#top #textsList .categoryName:hover {
  text-decoration: none;
}

#top #textsList .categoryName span {
  display: inline-block;
  margin-right: 7px;
}

#top #textsList .length, #top #textsList .counts {
  display: none;
}

#top #textsList .category {
  position: relative;
  width: auto;
}

#top #textsList .category .subBox {
  width: auto;
  min-width: 100px;
}

#top #textsList .category.menuOpen > .subBox {
  display: block;
}

#top #textsList .text {
  width: auto;
}

#top #textsList .text.hasDetails {
  width: 400px;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  box-shadow: inset 0px 0px 7px #08c;
}

#textsList .text .title a {
  padding: 0;
  color: black;
  display: inline-block;
  text-indent: -20px;
  padding-left: 20px;
}

#textsList li.text .title.sparse1 a {
    color: #bbb;
}

#textsList li.text .title.sparse2 a {
    color: #999;
}
#textsList li.text .title.sparse3 a {
    color: #777;
}
#textsList li.text .title.sparse4 a {
}

#textsList .text .title a:hover {
  color: #08c;
}

#top #textsList table {
  border-spacing: 0;
  width: auto;
  margin: 0;
  line-height: 13px;
}

#top #textsList table, #top #textsList tr {
  border: 0;
}

#top #textsList .text .available {
}

#top #textsLists td {
  padding: 0;
}

#top #textsList .title {
  width: auto;
  font-size: 15px;
  font-weight: normal;
  white-space: nowrap;
}

#top #textsList .sectionsBox {
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
}

#top #textsList .sectionLink {
  box-shadow: 1px 1px 2px #555;
}

#top #textsList .heTitle {
  display: none;
}

#top #textsList .details {
  border: none;
  padding-bottom: 8px;
}

#top #textsList .detailsRight {
  display: none;
}

#addTextRow {
  text-align: center;
}

#addText {
  margin: 6px 6px -4px;
}

#gotoBox {
  float: left;
  position: relative;
}

#goto {
  width: 80px;
  margin: 6px 0 6px 12px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 7px;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -o-transition: all .1s linear;
  transition: all .1s linear;
}

#goto.searchPage {
  width: 300px;
}

#gotoBox .keyboardInputInitiator {
  opacity: 0;
  width: 13px;
  height: 13px;
  padding: 2px;
  background-color: #eee;
  border-radius: 3px;
  border: 1px solid #aaa;
  position: absolute;
  right: 21px;
  top: 10px;
}

#gotoBox .keyboardInputInitiator:hover {
 background: #d8d8d8;
}

body #keyboardInputMaster {
  opacity: 1;
  top: 37px !important;
}

body #keyboardInputMaster thead tr th div {
  display: none;
}

#openText {
  position: absolute;
  right: 6px;
  top: 12px;
  opacity: .6;
  cursor: pointer;
}

#openText:hover {
  opacity: 1;
}

#accountBox .ui-icon {
  display: inline-block;
  vertical-align: middle;
}

#accountBox .fa {
  display: inline-block;
  height: 28px;
  width: 18px;
  line-height: 30px;
}

#accountButton #accountMenu,
#notificationsButton #notificationsMenu {
  display: none;
  position: absolute;
  right: 0;
  top: 100%;
  padding: 0px 0px 12px 0px;
  background: white;
  border: 1px solid #aaa;
  text-shadow: none;
}

#accountMenuName {
  text-align: center;
  padding: 12px 8px;
  border-bottom: 1px solid #ddd;
}

#accountLinks {
  padding-top: 12px;
}

#accountMenu .accountLink {
  text-align: right;
}


#helpModal {
  position: absolute;
  width: 580px;
  max-width: 90%;
  text-align: left;
  padding: 25px 10px 0px;
}

#helpVideo {
  width: 100%;
  height: 348px;
}

#helpVideoButtons h3 {
  margin: 2px;
}


#helpVideoButtons {
  line-height: 1.3;
  padding: 10px;
}

#helpClose {
  position: absolute;
  top: 3px;
  right: 5px;
  cursor: pointer;
}

#helpClose:hover {
  box-shadow: 0 0 8px #08c;
  border-radius: 5px;
}

#helpMore {
  margin-top: 15px;
  text-align: center;
}

#helpMore a {
  display: inline-block;
  margin: 2px 8px;
}

#searchPanel {
  display: none;
  position: fixed;
  z-index: 99;
  top: 35px;
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 2px 2px 10px #555;
}

#searchContent {
  padding: 60px 0 100px;
  font-size: 16px;
  width: 720px;
  margin: 0 auto;
}

#searchHeader {
  font-size: 30px;
  margin-bottom: 26px;
}


#searchFacets {
  margin: 7px 0 20px 30px;
  float: right;
  display: none;
}

#searchFacets .facet {
  margin: 4px 0;
  color: #08c;
}

#searchFacets .facet.active {
  font-weight: bold;
  color: black;
}

#searchResults {

}

#searchResults .result {
  margin-bottom: 24px;
  line-height: 1.2;
}


#searchResults .result a {
  font-weight: bold;
}

#searchResults .result .version {
  font-size: 12px;
  color: #777;
  margin-top: 3px;
}

#searchResults .moreResults {
  color: #08c;
  cursor: pointer;
}

#searchResults .moreResults:hover {
  text-decoration: underline;
}

#loginPrompt {
	display: none;
	position: absolute;
	padding: 30px 20px 10px;
	width: 400px;
	z-index: 200;
	border-radius: 10px;
	text-align: center;
	box-shadow: 2px 2px 12px #333333;
}

#loginPrompt h3 {
	margin: 0 0 25px 0;
}

#loginPrompt .btn {
	margin: 0 20px;
	font-size: 19px;
	width: 70px;
}

#loginPrompt .cancel {
	margin-top: 25px;
	cursor: pointer;
}

#loginPrompt .cancel:hover {
	text-decoration: underline;
}


.menuAnchor {
  cursor: pointer;
  height: 30px;
  position: relative;
  overflow: hidden;
  border: 1px solid transparent;
}

.menuAnchor.boxOpen {
  overflow: visible;
  background: #f1f1f1;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border: 1px solid #bbb;   
}

.anchoredMenu {
  z-index: 151;
  display: none;
  position: absolute;
  top: 37px;
  left: 0px;      
  border-radius: 8px;
  border-top-left-radius: 0px;
  box-shadow: 2px 2px 12px #333333;
}

.anchoredMenu.right {
  left: auto;
  right: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 0px;
}

.anchoredMenu.center {
  border-radius: 8px;
}

.menuConnector {
  display: none;
  position: absolute;
  background: #eee;
  top: 30px;
  right: -1px;
  height: 7px;
  width: inherit;
  padding: inherit;
  z-index: 152;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb; 
}


.alertBox {
  position: absolute;
  width: 400px;
  text-align: center;
  font-family: Georgia, serif;
  line-height: 1.2;
  border-radius: 10px;    
  box-shadow: 2px 2px 12px #333333;
  z-index: 100;
}

.alertBox.wide {
  width: 600px;
}

.alertBox .msg {
  padding: 40px; 
  font-size: 26px;
}

.alertBox .smallHeader {
  font-size: 18px;
  margin: 18px 0 4px;
}

.alertBox.copy .msg {
  padding: 20px;
}

.alertBox .btn {
  margin: 0 4px 24px 4px;
  padding: 0 14px;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
}

.alertBox img {
  margin-bottom: 24px;
}

.alertBox a {
  font-size: 18px;
}

.alertBox.loading {
  width: auto;
  height: auto;
  padding: 16px;
}

.alertBox.loading img {
  margin-bottom: 0;
}

.alertBox.copy {
  width: 550px
}

.alertBox.copy textarea {
  width: 500px;
  min-height: 250px;
}

.alertBox .multiOptions {
  background: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-align: left;
  width: 90%;
  padding: 10px;
  margin: 0 auto 20px ;
}

.alertBox .multiOptions input {
  margin-bottom: 0;
}

.ui-icon {
  display: inline-block;
  vertical-align: middle;
}

.ui-autocomplete {
  z-index: 100 !important;
  font-size: 14px;
}

.sheetTable {
  width: 100%;
  font-size: 13px;
  font-family: Georgia, serif;
  border-collapse: collapse;
}

.sheetTable thead {
  border-bottom: 1px solid #DDD;
}

.sheetTable thead td {
  cursor: pointer;
}

.sheetTable thead td:hover {
  text-decoration: underline;
}

.sheetTable .sheetRow {
  line-height: 1.3;
  border-bottom: 1px solid #ddd;
}

.sheetTable .sheetRow td {
  padding-right: 4px;
}

.sheetTable .sheetRow .title {
  width: 60%;
  padding: 9px 3px;
  color: black;
  font-size: 20px;
}

.sheetTable .sheetRow .title .tag {
  display: inline-block;
  margin: 0 4px;
  padding: 3px 5px;
  font-size: 12px;
  border-radius: 4px;
  background: #d9edf7;
  color: #245269;
  opacity: .9;
}

.sheetTable .sheetRow .author {
}

.sheetTable .sheetRow .author a {
  color: #777;
}

.sheetTable .sheetRow .size {
  color: #555;
}

.sheetTable .sheetRow .modified {
  color: #555;
}

.sheetTable.collapsed tr:nth-child(n+4){
  display: none;
}

.sheetTable.collapsed tr.moreSheets {
  display: block;
  cursor: pointer;
  position: absolute;
  bottom: -32px;
  left: 0;
  color: #08c;
}

.sheetTable.collapsed .moreSheets:hover {
  text-decoration: underline;
}

.sheetTable tfoot {
  border-top: 1px solid #ddd;
}

@media screen and (max-width: 500px) {

  /* Force table to not be like tables anymore */
  .sheetTable, .sheetTable thead, .sheetTable tbody,
  .sheetTable th, .sheetTable td, .sheetTable tr { 
    display: block; 
  }
  
  /* Hide table headers (but not display: none;, for accessibility) */
  .sheetTable thead tr { 
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  
  .sheetTable .sheetRow .title { width: 100%; }
  .sheetTable td:nth-of-type(2) {  }
  .sheetTable td:nth-of-type(3) { display: none; }
  .sheetTable td:nth-of-type(4) { display: none; }
  .sheetTable td:nth-of-type(5) { display: none; }
}

#textBrowser {
  position: absolute;
  padding: 0;
  background: white;
  box-shadow: 1px 1px 3px #555;

}

#browserPath {
  clear: both;
  padding: 6px 10px;
  border-bottom: 1px solid #ddd;
  min-height: 20px;
  width: 501px;
  line-height: 20px;
  font-size: 16px;
  font-weight: bold;
}

.browserPathItem {
  cursor: pointer;
  white-space: nowrap;
}

.browserPathItem:hover {
  text-decoration: underline;
}

#browserNav {
  float: left;
  width: 180px;
  height: 330px;
  overflow-y: auto;
  border-right: 1px solid #aaa;
  font-size: 16px;
}

.browserNavItem {
  padding: 8px 4px 8px 10px;
  cursor: pointer;
  -webkit-transform: translateZ(0);
}

.browserNavItem .ui-icon {
  float: right;
}

.browserNavItem:hover {
  text-decoration: underline;
}

.browserNavItem {
  border-bottom: 1px solid #ddd;
}

#browserPreview {
  float: left;
  width: 300px;
  height: 290px;
  padding: 20px;
  overflow-y: auto;
}

#browserPreview .segment {
  margin-bottom: 12px;
}

#browserPreview .segmentNumber {

}

#browserPreview .empty {
  text-align: center;
  color: #777;
}


ul.tagit {
    padding: 1px 5px;
    overflow: auto;
    margin-left: inherit; /* usually we don't want the regular ul margins. */
    margin-right: inherit;
}
ul.tagit li {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
}
ul.tagit li.tagit-choice {    
    position: relative;
    line-height: inherit;
}

ul.tagit li.tagit-choice-read-only { 
    padding: .2em .5em .2em .5em; 
} 

ul.tagit li.tagit-choice-editable { 
    padding: .2em 18px .2em .5em; 
} 

ul.tagit li.tagit-new {
    padding: .25em 4px .25em 0;
}

ul.tagit li.tagit-choice a.tagit-label {
    cursor: pointer;
    text-decoration: none;
}
ul.tagit li.tagit-choice .tagit-close {
    cursor: pointer;
    position: absolute;
    right: .1em;
    top: 50%;
    margin-top: -8px;
    line-height: 17px;
}

/* used for some custom themes that don't need image icons */
ul.tagit li.tagit-choice .tagit-close .text-icon {
    display: none;
}

ul.tagit li.tagit-choice input {
    display: block;
    float: left;
    margin: 2px 5px 2px 0;
}
ul.tagit input[type="text"] {
    -moz-box-sizing:    border-box;
    -webkit-box-sizing: border-box;
    box-sizing:         border-box;

    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;

    border: none;
    margin: 0;
    padding: 0;
    width: inherit;
    background-color: inherit;
    outline: none;
}


a {
	color: #08C;
	text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}

/* .btn class from twitter bootstrap */
.btn {
display: inline-block;
*display: inline;
/* IE7 inline-block hack */

*zoom: 1;
padding: 4px 10px 4px;
margin-bottom: 0;
font-size: 14px;
line-height: 18px;
color: #333333;
text-align: center;
text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
vertical-align: middle;
background-color: #f5f5f5;
background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
background-image: linear-gradient(top, #ffffff, #e6e6e6);
background-repeat: repeat-x;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
border-color: #e6e6e6 #e6e6e6 #bfbfbf;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
filter: progid:dximagetransform.microsoft.gradient(enabled=false);
border: 1px solid #cccccc;
border-bottom-color: #b3b3b3;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
cursor: pointer;
*margin-left: .3em;
margin: 0 1px;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
background-color: #e6e6e6;
}
.btn:active,
.btn.active {
background-color: #cccccc \9;
}
.btn:first-child {
*margin-left: 0;
}
.btn:hover {
color: #333333;
text-decoration: none;
background-color: #e6e6e6;
background-position: 0 -15px;
-webkit-transition: background-position 0.1s linear;
-moz-transition: background-position 0.1s linear;
-ms-transition: background-position 0.1s linear;
-o-transition: background-position 0.1s linear;
transition: background-position 0.1s linear;
}
.btn:focus {
outline: thin dotted #333;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
}
.btn.active,
.btn:active {
background-image: none;
-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
background-color: #e6e6e6;
background-color: #d9d9d9 \9;
outline: 0;
}
.btn.disabled,
.btn[disabled] {
cursor: default;
background-image: none;
background-color: #e6e6e6;
opacity: 0.65;
filter: alpha(opacity=65);
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}
.btn-large {
padding: 9px 14px;
font-size: 15px;
line-height: normal;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.btn-large [class^="icon-"] {
margin-top: 1px;
}
.btn-small {
padding: 5px 9px;
font-size: 11px;
line-height: 16px;
}
.btn-small [class^="icon-"] {
margin-top: -1px;
}
.btn-mini {
padding: 2px 6px;
font-size: 11px;
line-height: 14px;
}
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
  background-color: #0074cc;
  background-image: -moz-linear-gradient(top, #0088cc, #0055cc);
  background-image: -ms-linear-gradient(top, #0088cc, #0055cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0055cc));
  background-image: -webkit-linear-gradient(top, #0088cc, #0055cc);
  background-image: -o-linear-gradient(top, #0088cc, #0055cc);
  background-image: linear-gradient(top, #0088cc, #0055cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0055cc', GradientType=0);
  border-color: #0055cc #0055cc #003580;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #0055cc;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #004099 \9;
}

.btn-info {
  background-color: #49afcd;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -ms-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(top, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#2f96b4', GradientType=0);
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #2f96b4;
}
.btn-info:active,
.btn-info.active {
  background-color: #24748c \9;
}
.btn-success {
  background-color: #5bb75b;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -ms-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#51a351', GradientType=0);
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #51a351;
}
.btn-success:active,
.btn-success.active {
  background-color: #408140 \9;
}


.badge {
  display: inline-block;
  padding: 2px 4px;
  font-size: 11.844px;
  font-weight: bold;
  line-height: 14px;
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  vertical-align: baseline;
  background-color: #999999;
}

.badge {
  padding-right: 9px;
  padding-left: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}
.badge-important {
  background-color: #b94a48;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  background-color: #c67605;
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}