#top {
	display: none;
}

#footer {
	display: none;
}

#logo {
	display: block !important;
	margin-top: -60px;
	margin-bottom: 10px;
}

#contestSplash {
	margin: 0;
}

#leaderboard {
	display: none;
}