.container {
    position:absolute;
    top:50%;
    place-items: center;
    height: 100vh;
    right:0px;
    max-height: 50vh;
    z-index: 99999;
  }
  #messageImage{
    width:13px;
    height:13px;
    margin-right: 10px;
    background-color: #b83c64;
    border-radius: 50%;
    padding: 5px;
  }
  #crossImage{
    width:15px;
    height:15px;
    margin-right: 20px;
    position:relative;
    top:120px;
    left:0px;
  } 
  .hidden {
    display: none;
  }
  
  #feedbucketContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  