// scss for font families
// Notice that we are loading some fonts, and some with a restricted list of characters in base.html

$fonts-path: "/static/fonts";

@mixin font-face($family, $file, $style: normal, $weight: normal, $unicode: null) {
  @font-face {
    font-family: $family;
    src: url("#{$fonts-path}/#{$file}");
    font-style: $style;
    font-weight: $weight;
    @if $unicode {
      unicode-range: unquote($unicode);
    }
  }
}

//Rashi Script - Seems we use it only for sheets
@include font-face('Rashi Script', 'Mekorot-Rashi.ttf');

// Taamey Frank (Main Hebrew font)
$name: 'Taamey Frank';
$path: "Taamey-Frank/TaameyFrankCLM-";
$range: "U+0000-0040, U+005B-0060, U+007B-FB4F";
@include font-face($name, '#{$path}Medium.ttf', normal, normal, $range);
@include font-face($name, '#{$path}Bold.ttf', normal, bold, $range);
@include font-face($name, '#{$path}MediumOblique.ttf', italic, normal, $range);
@include font-face($name, '#{$path}BoldOblique.ttf', italic, bold, $range);

// Noto Color Emoji
@include font-face('Noto Color Emoji', 'NotoColorEmoji.ttf', normal, normal, U+1F1E6-1F1FF);

// Meltho (Syriac)
@include font-face('Meltho', 'SyrCOMBatnan.otf', normal, normal, U+0700-074F);

// Cardo (Greek)
@include font-face('Cardo', 'Cardo-Regular.ttf', normal, normal, 'U+0300-036F, U+0370-03FF, U+1D00-1D7F, U+1DBF, U+1F00-1FFF, U+2126, U+AB65, U+10140-1018F, U+101A0, U+1D200-1D24F');

:root {
  /* font stacks */
  --english-sans-serif-font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  --hebrew-sans-serif-font-family: "Heebo", "Roboto", sans-serif;
  --english-serif-font-family:
          "Cardo", /*Greek*/
          "Meltho", /*Syriac*/
          "adobe-garamond-pro", /*basic English font (including punctuation etc.)*/
          "Taamey Frank", /*Hebrew, punctuation will be caught by adobe-garamond-pro*/
          "Crimson Text", /*this font is loaded in base.html only for some latin letters with diacritics*/
          "Georgia", /*this font ssems to be here for historical reasons, but actually it applies for Cyrillic*/
          "Times New Roman", serif; /*fallbacks*/
  --hebrew-serif-font-family:
          "Cardo", /*Greek*/
          "Noto Color Emoji", /*flag emojis*/
          "Taamey Frank", /*basic Hebrew font (including punctuation etc., but no English)*/
          "adobe-garamond-pro", /*English*/
          "Crimson Text", /*this font is loaded in base.html for only some latin letters with diacritics*/
          "Times New Roman", serif; /*fallbacks*/
          "Noto Sans Samaritan"; /*Samaritan - this font is loaded in base.html for only Samaritan characters. it's here after adobe-garamond-pro because it has influence on font metrics*/
}
