@font-face {
  /*Mixed Hebrew - English serif text*/
  font-family: 'HebrewInEnglish Serif Font';
  src: url('/static/fonts/Taamey-Frank/TaameyFrankCLM-Medium.ttf'), local(Georgia), local(serif);
  unicode-range: U+0590-05FF, U+25CC;
}
@font-face {
  /*Mixed Hebrew - English serif text*/
  font-family: 'HebrewInEnglish Serif Font';
  src: url('/static/fonts/Taamey-Frank/TaameyFrankCLM-Bold.ttf'), local(Georgia), local(serif);
  font-weight: bold;
  unicode-range: U+0590-05FF, U+25CC;
}
@font-face {
  /*Mixed Hebrew - English serif text*/
  font-family: 'HebrewInEnglish Serif Font';
  src: url('/static/fonts/Taamey-Frank/TaameyFrankCLM-MediumOblique.ttf'), local(Georgia), local(serif);
  font-style: italic;
  unicode-range: U+0590-05FF, U+25CC;
}
@font-face {
  /*Mixed Hebrew - English serif text*/
  font-family: 'HebrewInEnglish Serif Font';
  src: url('/static/fonts/Taamey-Frank/TaameyFrankCLM-BoldOblique.ttf'), local(Georgia), local(serif);
  font-weight: bold;
  font-style: italic;
  unicode-range: U+0590-05FF, U+25CC;
}
@font-face {
  /*Mixed English - Hebrew serif text*/
  font-family: 'EnglishInHebrew Serif Font';
  src: url("https://use.typekit.net/af/2011b6/00000000000000003b9b00c1/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n4&v=3");
  font-weight: normal;
  unicode-range: U+0041-007A;
}
@font-face {
  /*Mixed English - Hebrew serif text*/
  font-family: 'EnglishInHebrew Serif Font';
  src: url("https://use.typekit.net/af/af619f/00000000000000003b9b00c5/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=n7&v=3");
  font-weight: bold;
  unicode-range: U+0041-007A;
}
@font-face {
  /*Mixed English - Hebrew serif text*/
  font-family: 'EnglishInHebrew Serif Font';
  src: url("https://use.typekit.net/af/5cace6/00000000000000003b9b00c2/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i4&v=3");
  font-style: italic;
  unicode-range: U+0041-007A;
}
@font-face {
  /*Mixed English - Hebrew serif text*/
  font-family: 'EnglishInHebrew Serif Font';
  src: url("https://use.typekit.net/af/6c275f/00000000000000003b9b00c6/27/l?primer=7fa3915bdafdf03041871920a205bef951d72bf64dd4c4460fb992e3ecc3a862&fvd=i7&v=3");
  font-style: italic;
  font-weight: bold;
  unicode-range: U+0041-007A;
}
@font-face {
  font-family: 'Noto Color Emoji';
  src: url('/static/fonts/NotoColorEmoji.ttf');
  unicode-range: U+1F1E6-1F1FF;
}
@font-face {
  font-family: 'Meltho';
  src: url('/static/fonts/SyrCOMBatnan.otf');
  unicode-range: U+0700-074F;
}
@font-face {
  font-family: 'Noto Sans Samaritan';
  unicode-range: U+0800-083F;
}
@font-face {
  /*Greek*/
  font-family: 'Cardo';
    src: url('/static/fonts/Cardo-Regular.ttf');
  unicode-range: U+0300-036F, U+0370-03FF, U+1D00-1D7F, U+1DBF, U+1F00-1FFF, U+2126, U+AB65, U+10140-1018F, U+101A0, U+1D200-1D24F;
}