/*css for font families
Notice that we are loading some fonts, and some with a restricted list of characters in base.html*/

/*Rashi Script - Seems we use it only for sheets*/
@font-face {
  font-family: 'Rashi Script';
  src: url('/static/fonts/Mekorot-Rashi.ttf');
}

/*Taamey Frank - Our main Hebrew font*/
@font-face {
  font-family: 'Taamey Frank';
  src: url('/static/fonts/Taamey-Frank/TaameyFrankCLM-Medium.ttf');
  unicode-range: U+0000-0040, U+005B-0060, U+007B-FB4F; /*All the glyphs in font except Latin characters*/
}
@font-face {
  font-family: 'Taamey Frank';
  src: url('/static/fonts/Taamey-Frank/TaameyFrankCLM-Bold.ttf');
  font-weight: bold;
  unicode-range: U+0000-0040, U+005B-0060, U+007B-FB4F; /*All the glyphs in font except Latin characters*/
}
@font-face {
  font-family: 'Taamey Frank';
  src: url('/static/fonts/Taamey-Frank/TaameyFrankCLM-MediumOblique.ttf');
  font-style: italic;
  unicode-range: U+0000-0040, U+005B-0060, U+007B-FB4F; /*All the glyphs in font except Latin characters*/
}
@font-face {
  font-family: 'Taamey Frank';
  src: url('/static/fonts/Taamey-Frank/TaameyFrankCLM-BoldOblique.ttf');
  font-style: italic;
  font-weight: bold;
  unicode-range: U+0000-0040, U+005B-0060, U+007B-FB4F; /*All the glyphs in font except Latin characters*/
}

/*Noto Color Emoji - flags emojis within Hebrew text*/
@font-face {
  font-family: 'Noto Color Emoji';
  src: url('/static/fonts/NotoColorEmoji.ttf');
  unicode-range: U+1F1E6-1F1FF;
}
/*Meltho - Syriac*/
@font-face {
  font-family: 'Meltho';
  src: url('/static/fonts/SyrCOMBatnan.otf');
  unicode-range: U+0700-074F;
}
/*Noto Serif - Comprehensive Greek and Latin support including Greek numerals*/
@font-face {
  font-family: 'Noto Serif';
  src: url('/static/fonts/NotoSerif-Light.ttf');
  unicode-range: U+2160-2169,U+2170-2179;
}

:root {
  /* font stacks */
  --english-sans-serif-font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
  --hebrew-sans-serif-font-family: "Heebo", "Roboto", sans-serif;
  --english-serif-font-family:
          "Noto Serif", /*Comprehensive Greek and Latin support including Greek numerals*/
          "Meltho", /*Syriac*/
          "adobe-garamond-pro", /*basic English font (including punctuation etc.)*/
          "Taamey Frank", /*Hebrew (punctuation was already caught by adobe-garamond-pro*/
          "Crimson Text", /*this font is loaded in base.html only for some latin letters with diacritics*/
          "Georgia", /*this font ssems to be here for historical reasons, but actually it applies for Cyrillic*/
          "Times New Roman", serif, /*fallbacks*/
          "Noto Sans Samaritan"; /*Samaritan - this font is loaded in base.html for only Samaritan characters. it's here after adobe-garamond-pro because it has influence on font metrics*/
  --hebrew-serif-font-family:
          "Noto Serif", /*Comprehensive Greek and Latin support including Greek numerals*/
          "Noto Color Emoji", /*flag emojis*/
          "Taamey Frank", /*basic Hebrew font (including punctuation etc., but no English)*/
          "adobe-garamond-pro", /*English*/
          "Crimson Text", /*this font is loaded in base.html for only some latin letters with diacritics*/
          "Times New Roman", serif; /*fallbacks*/
}
