//This file is for everything that is part of the 'static' header, baring dropping elements (autocompleter, dropdown menus, mobile menu)

@import "breakpoints";

$exclude-flex: ( //Elements excluded from the general rules of flex and align to center
  ".dropdownLinks-menu",
  ".autocomplete-dropdown",
  ".languageToggle",
  ".floating-ui-popover",
  ".keyboardInputInitiator",
  ".readerNavMenuSearchButton",
);
$not-selector: "";
@each $sel in $exclude-flex {
  $not-selector: "#{$not-selector}:not(#{$sel}):not(#{$sel} *)";
}
.headerInner,
.headerInner *#{$not-selector} {
  display: flex;
  align-items: center;
}

.headerInner {
  position: absolute;
  width: 100%;
  height: 60px;
  z-index: 1001;
  box-sizing: border-box;
  padding: 0 30px;
  justify-content: space-between;
  background: white;
  @include breakpoint(mobile) {
    padding: 0 15px;
  }
}

.headerInner.boxShadow {
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}

$logo-widths: (
  library: (
    english: 154px,
    hebrew: 141px
  ),
  voices: (
    english: 174px,
    hebrew: 148px
  )
);

$modules: library voices;
$interfaces: english hebrew;

@mixin full-logo {
  @each $module in $modules {
    @each $interface in $interfaces {
      [data-active-module="#{$module}"] .interface-#{$interface} .home {
        background: url("/static/img/#{$module}-logo-#{$interface}.svg") no-repeat center / contain;
        height: 25px;
        width: map-get(map-get($logo-widths, $module), $interface);
      }
    }
  }
}

@include breakpoint(desktop, mobile) {
  @include full-logo;
}

@include breakpoint(tablet) {
  .home {
    height: 25px;
    width: 19px;
    -webkit-mask: url("/static/img/samech-logo.svg") no-repeat;
    mask: url("/static/img/samech-logo.svg") no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: var(--theme-primary);
  }
}

.textLinks {
  @include breakpoint(desktop) {
    gap: 30px;
    margin-inline-start: 60px;
  }
  @include breakpoint(tablet) {
    gap: 24px;
    margin-inline-start: 20px;
  }
  font-size: 16px;
  font-weight: 500;
  .int-en {
    transform: translateY(0.15em); // Align text that is more stable in zoom
  }
  .int-he {
    transform: translateY(0.1em);
  }
}

.textLink,
.textLink:hover {
  color: var(--dark-grey);
}

.headerLinksSection {
	justify-content: flex-end;
    gap: 20px;
}

.header .searchBox {
  overflow: hidden;
  background: var(--lighter-grey);
  border-radius: 250px;
  width: 250px;
  height: 30px;
}

.header .search {
  background-color: transparent;
  flex: 1;
  border: none;
  font-size: 18px;
  margin-bottom: 1px;
}

.header .readerNavMenuSearchButton {
    top: 2px;
}

.header .searchBox .keyboardInputInitiator {
    display: none;
}

.header-icons {
  @include breakpoint(desktop) {
    gap: 20px;
  }
  @include breakpoint(tablet) {
    gap: 16px;
  }
}

.headerInner *#{$not-selector} {
  cursor: pointer;
}

.header .menuButton {
  color: var(--medium-grey);
  border: none;
  background: transparent;
  padding: 0;
  font-size: 24px;
  cursor: pointer;
}
