body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	background: white;
	margin:0;
}

.panelAnchor {
	position: fixed;
	width: 30px;
	height: 100%;
	top: 0;
	z-index: 98;
}

.panelAnchor:hover {
	opacity: 1;
}

.panelAnchor .inner {
	position: absolute;
	top: 50%;
	font-size: 16px;
	margin-top: -8px;
	color: #aaa;
	text-shadow: 0px 0px 2px #555;
	width: 100%;
}

#aboutPanelAnchor {
	left: 0;
	text-align: left;

}

#sourcesPanelAnchor {
	right: 0;
	text-align: left;

}

.sidePanel {
	z-index: 99;
	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#about {
	display: none;
	position: absolute;
	z-index: 99;
	width: 600px;
	max-width: 100%;
	font-variant: normal;
	direction: ltr;
	text-align: center;
	font-size: 14px;
	font-weight: normal;
	margin-top: 10px;
	vertical-align: middle;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 10px 0px 10px 0px;
	background-color: #f8f8f8;
}

#hideAbout {
	position: absolute;
	top: 8px;
	right: 8px;
	cursor: pointer;
	font-size: 18px;
}
#hideAbout:hover {
	color: #08c;
}

#aboutMenu {
	padding: 0 15px;
	line-height: 1.2;
	text-align: left;
}

#about h2 {
	margin-top: 8px;
}

#aboutText {
	margin-top: 20px;
}

#aboutTextTitle {
	font-size: 16px;
	font-weight: bold;
}

#aboutTextSections {
	display: none;
	font-weight: bold;
	font-size: 20px;
}

#editTextInfo {
	display: inline-block;
}

#aboutVersions .en, #aboutVersions .he {
	font-size: 17px;
	position: static;
}

#about .version {
	margin: 4px 0 8px 6px;
	font-size: 13px;
}

.en .aboutTitle, .he .aboutTitle {
	font-size: 17px;
	font-weight: bold;
	margin: 0px 0px 2px 0px;
	padding: 0;
	text-align: left;
	direction: ltr;
	display: block;
}

#about .en .aboutSource, #about .he .aboutSource,
#about .en .aboutLicense, #about .he .aboutLicense,
#about .en .credits, #about .he .credits  {
	display: inline;
	margin: 0 0 1px 0px;
	word-wrap: break-word;
	padding: 0;
	text-align: left;
	direction: ltr;
}

#about .credit {
	display: inline;
}

#about .historyLink {
	font-size: 13px;
}

#about .versionNotes {
	background: white;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: 8px;
	margin: 5px 0 2px;
	font-size: 15px;
}

#about a {
	color: #005580;
}

#about .he {
	display: none;
}

.bilingual #about .he {
	display: block;
}

.bilingual #about .version {
	margin-bottom: 20px;
}

.bilingual .en.version:before, .bilingual .en.alternate-versions:before {
	content: "English: ";
}

.bilingual .he.version:before, .bilingual .he.alternate-versions:before {
	content: "Hebrew: ";
}

.bilingual .en.version:before, .bilingual .he.version:before,
.bilingual .en.alternate-versions:before, .bilingual .he.alternate-versions:before {
	font-size: 13px;
	font-weight: bold;
	vertical-align: middle;
	display: block;
	margin: 0 0 3px -8px;
}

#aboutVersions .he {
	text-align: left;
	direction: ltr;
}

#aboutVersions #mergeMessage {
	display: inline-block;
	font-size: 14px;
	line-height: 1.1;
	margin-bottom: 4px;
}

#aboutVersions .mergeSource {
	margin: 3px 0px 0px 12px;
	font-size: 15px;
}

#versionsList {
	margin: 14px 0 0 0;
}

#versionsList.en.he {
	display: block;
}

#versionsList.he {
	direction: ltr;
	text-align: left;
	font-size: 14px;
}

#aboutVersions .alternateVersion, #aboutVersions .alternateVersion.he {
	font-size: 17px;
	line-height: 1.4;
	direction: ltr;
	text-align: left;
	margin-left: 12px;
}

body.hebrew #about .en {
	display: none;
}

body.hebrew #about .he {
	display: block;
}

#about .lockedMessage {
	margin-top: 2px;
	font-size: 13px;
}

#about #aboutButtonBox {
	margin-top: 8px;
}

#about .btn {
	margin: 4px 4px 4px 0;
}

#about .addThis {
	display: none;
}

#about.empty .addThis {
	display: inline-block;
}

#about.empty #editText, 
#about.empty #addTranslation,
#about.empty #addVersion {
	display: none;
}

#about.enMerged #editText {
	display: none;
}

body.hebrew #about #editText {
	display: inline-block;
}

body.hebrew #about.heMerged #editText {
	display: none;
}

body.hebrew #about.heLocked #editText {
	display: none;
}

body.english #about.enLocked #editText {
	display: none;
}

body.bilingual #about.enLocked.heLocked #editText {
	display: none;
}

#next, #prev {
	display: inline-block;
	visibility: hidden;
	width: 24px;
	font-size: 30px;
	color: black;
}

#next:active, #prev:active {
	background: #ccc;
}

#prev.inactive i, #next.inactive i{
	opacity: 0.4;
}

.dialogTitle {
	font-size: 18px;
	margin: 6px 0px;
}


#topLine {
	height: 1px;
	background: black;
}


.btn.inactive {
	display: none;
}

#loadingImg {
	margin-left: 16px;
	height: 20px;
	position: relative;
	top: 2px;
}

.loadingSidebar {
	text-align: center;
	margin-top: 80px;
}

.screen-container {
	position: relative;
	height: 100%;
	width: 100%;
}

.screen {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
}


.back, .forward {
	position: fixed;
	height: 50px;
	top: 50%;
	margin-top: -25px; 
	line-height: 50px;
}

.back {
	left: 0px;
}

.forward {
	right: 0px;
}

		
#breadcrumbs {
	display: block;
	letter-spacing: 0px;
	font-size: 12px;
	height: 16px;
	margin-top: 18px;
	overflow: hidden;
	line-height: 9px;
	color: #666;
	vertical-align: middle;
}

#breadcrumbs .refLink {
	margin: 0px 4px;
	cursor: pointer;
}

#breadcrumbs .refLink:hover {
	text-decoration: underline;
}

#breadcrumbs .refLink .ui-icon {
	display: inline-block;
	position: relative;
	top: -2px;
	opacity: 0.6;
	left: 3px;
}

.basetext {
	position: absolute;
	width: 56.5%;
	top: 110px;
	left: 5.5%;
	font-size: 24px;
	text-align: justify;
	letter-spacing: .7px;
	line-height: 1.3;
	z-index: 10;
	background: inherit;
	font-family: serif;
	padding-bottom: 200px;

}

body .basetext.noCommentary {
	width: 650px;
	left: 50%;
	margin-left: -325px;
	z-index: 1;
}

@media screen and (max-width: 670px) {
	body #header {
		font-size: 21px;
		margin-top: 10px;
	}

	body .basetext, 
	body .basetext.noCommentary, 
	body .basetext.bilingual,
	body .basetext.bilingual.heLeft,
	body .basetext.hebrew,
	body .basetext.hebrew.noCommentary {
		width: 86%;
		left: 8%;
		margin-left: 0px;
		font-size: 17px;
	}

	body .verse > .he, body .hebrew .verse {
		font-size: 22px;
	}

	body .basetext.bilingual .verse > .he {
		font-size: 20px;
	} 

	body .basetext.bilingual .verse > .en {
		font-size: 16px;
	} 

	body .basetext .verseNum {
		left: -24px;
		font-size: 15px;
	} 	
	 
	body .commentaryBox {
		display: none !important;
		width: 100%;
		height: 24%;
		bottom: -10px;
		right: -4px;
		background: white;
		padding-top: 10px;
		box-shadow: 2px -2px 12px #888;
		z-index: 10;
	}  	
	body .commentaryBox.noCommentary {
		width: 100%;
		height: 26px;
		border-top: none;
		padding-top: none;
	}

	body .commentaryBox.noCommentary .sourcesBox {
		width: 100%;
	}

	body .aboutBarBox {
		width: 100%;
		margin: 0;
	}
}

#newVersionBox {
	display: none;
	width: 96%;
	margin: 70px auto;
}

.newText #newVersionBox {
	width: 60%;
}

#newVersion, #newTextCompare {
	display: inline-block;
	width: 100%;
	font-size: 24px;
	padding: 18px;
	box-sizing: border-box;
	margin-bottom: 200px;
	letter-spacing: .7px;
	line-height: 1.3;
	font-family: Georgia, serif;
	overflow: hidden;
	z-index: 10;	
}

body .textSyncBox {
  width: 48%;
  float: right;
}

body.newText .textSyncBox {
  width: 100%;
  float: none;
}

body.newText #newVersion {
	min-height: 320px;
	overflow: hidden;
}

body.newText #newTextCompare {
	display: none;
}

#newTextCompare {
	display: block;
	position: relative;
	width: 48%;
	padding: 18px 0px;
	margin-left: 0px;
	overflow: visible;
}

#newTextCompare.he {
	font-family: "Times New Roman", serif;
	font-size: 35px;
}

#newTextCompare .verse {
	display: block;
	margin: 0 0 32px 0;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}


#newTextCompare .verseNum {
	right: -38px;
	left: auto;
}


.basetext .spacer {
	width: 50px;
	display: inline-block;
}

.basetext.lines .spacer,
.basetext.hebrew .spacer {
	display: none;
}

.basetext .verseNum.empty {
	display: none;
}

.basetext.lines .verseNum.empty {
	display: block;
}


.sectionTitle {
	font-size: 37px;
	text-align: center;
	margin-bottom: 34px;
	font-variant: small-caps;
}

.sectionTitle .he {
	font-size: 52px;
	position: relative;
	top: 5px;	
}

.sectionTitle .he.enOnly {
	font-size: 37px;
}

.textInfoMark {
	font-size: 22px;
	margin: 0 8px;
	color: #001866;
	opacity: 0.6;
	vertical-align: baseline;
	cursor: pointer;
}

.textInfoMark:hover {
	text-decoration: none;
	opacity: none;
	color: #08c;
}

.verse.touchVerse:hover {
	background: white;
}

.verse {
	cursor: pointer;
	margin-right: 7px;
	border-radius: 6px;
	min-height: 24px;
	-webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.verse > .he, .hebrew .verse {
	font-family: "Times New Roman";
	font-size: 36px;
	direction: ltr;
}

.verse > .he big {
	line-height: 46px;
}

.verse .clear {
	display: none;
}

.verse .lfc {
	/*font-size: 35px;
	font-variant: small-caps;*/
	margin: 0px 5px 0px 36px;
}

.verse a {
	color: black;
}

.verse br {
   line-height: 170%;
}

.basetext.lines .verse {
	display: block;
	margin-bottom: 24px;
	line-height: 1.3;
}

.basetext.lines .verse > .en .lfc,
.basetext.bilingual .verse > .en .lfc  {
	font-size: inherit;
	font-variant: normal;
	margin: 0px;
}


.basetext.english {
	direction: ltr;
}

.basetext.english .verse > .he{
	display: none;
}

.basetext.hebrew{
	direction: ltr;
	left: 4%;
	width: 58%;
	top: 85px;
}

.basetext.hebrew.noCommentary {
	width: 650px;
	left: 50%;
	margin-left: -325px;
	
}
.basetext.hebrew .he {
	display: inline;
}

.basetext.hebrew .en {
	display: none;
}

.basetext.bilingual .verse {
	display: block;
	clear: both;
	margin-bottom: 24px;
	line-height: 1.2;
}

.basetext.hebrew .verse .verseNum {
	right: -38px;
	left: auto;
	margin-top: 14px;
}	
.basetext.bilingual.heLeft .verse .verseNum {
	text-align: center;
	width: 4%;
	margin-left: -2%;
	left: 50%;
}	

.basetext.bilingual {
	left: 5%;
	width: 61%;
	top: 85px;
}

.basetext.bilingual.noCommentary,
.basetext.bilingual.heLeft.noCommentary {
	margin-left: -40%;
	left: 50%;
	width: 80%;
	top: 127px;
}

.basetext.bilingual .verse > .en {
	width: 48%;
	font-size: 20px;
	text-align: left;
	float: left;
}
		
.basetext.bilingual .verse > .he {
	display: block;
	width: 48%;
	font-size: 27px;
	text-align: left;
	float: right;
	margin-left: 0px;
	direction: ltr;
	margin-top: -6px;
}

.basetext.bilingual.heLeft {
	left: 2%;
	width: 64%;
}

.basetext.bilingual.heLeft .verse > .en {
	width: 47%;
	float: right;
	text-align: left;
	margin-right: 0px;
}
		
.basetext.bilingual.heLeft .verse > .he {
	width: 47%;
	float: left;
	text-align: left;
	margin-left: 0px;
}

.basetext.bilingual .verse .clear {
	display: block;
}

.he {
	display: none;
	direction: ltr;
	text-align: left;
	font-family: "Times New Roman", serif;
}


.verseNum {
	font-size: 18px;
	width: 20px;
	background: white;
	text-transform: smallcaps;
	text-align: center;
	margin-right: 4px;
	margin-top: 5px;
	position: absolute;
	left: -30px;
	border-radius: 14px;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}

.verseNum .vnum {
    display: block;
}

.basetext .verse .verseNum .alts_group {
    margin: 0 auto;
    float: none;
    z-index: 1;
}

.basetext.english .verse .verseNum .alts_group,
.basetext.bilingual .verse .verseNum .alts_group {
    position: absolute;
    right: 0;
    text-align: left;
}

.basetext.hebrew .verse .verseNum .alts_group {
    position: absolute;
    left: 0;
    text-align: left;
}

.basetext.bilingual.heLeft .verse .verseNum .alts_group {
    position: relative;
}
.basetext.bilingual.heLeft .verse .verseNum .alts_group .alt_title {
    text-align: center;
}

/* Used in the butterfly bilingual view for e.g. Parsha names */
.basetext.bilingual.heLeft .verse .verseNum .alts_group.whole {
    top: -42px;
}



.basetext .verseNum .alts_group .alt_title {
    display: block;
    font-size: 8px;
    white-space: nowrap;
}

.basetext.hebrew .alt_title.en {
    display: none;
}
.basetext.english .alt_title.he {
    display: none;
}

.btn.verseControls {
	width: 37px;
	height: 37px;
	border-radius: 19px;
	margin: 2px 0px 0px 10px;
	padding: 0;
	position: absolute;
	z-index: 13;
	text-align: left;
	font-size: 20px;
	line-height: 37px;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	font-weight: bold;
	font-size: 28px;
	cursor: pointer;

}

.btn.verseControls:hover {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.verseControls:hover .verseControlsList {
	display: block;
}

.verseControlsList {
	width: 180px;
	display: none;
	text-align: left;
	font-size: 16px;
	font-weight: normal;
	background: white;
	border: 1px solid #ddd;
	box-shadow: 2px 2px 2px #555;
	padding: 7px 0px;
}

.verseControls span {
	display: block;
	padding: 2px 10px;
	cursor: pointer;
	line-height: 26px;
}

.verseControls .fa {
	margin-right: 3px;
	color: #333;
	font-size: 14px;
}

.verseControls span:hover {
	background: #ddd;
}

.btn.addThis.empty {
	float: right;
}

.en.empty, .he.empty {
	display: none;
}

.bilingual .en.empty,
.english.lines .en.empty,
.bilingual .he.empty,
.hebrew.lines .he.empty {
	display: inline;
}

.basetext .refLink {
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
}

.lexicon-link:hover {
	text-decoration: underline;
}

#lexicon-modal {
	position: absolute;
	z-index: 100;
	background-color: #eff1f1;
	border-radius: 10px;
	border: 1px solid #666;
	padding: 0px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	background-clip: padding-box;
	overflow: hidden;
	min-width: 10%;
	max-width: 25%;
}

#lexicon-modal .lexicon-results{
	min-height: 50px;
	max-height: 150px;
	overflow-y:scroll;
	padding: 10px;
}

#lexicon-modal .lexicon-header {
	padding: 10px;
	border-bottom: 1px solid #e5e5e5;
	background-color: #AAAAAA;
}

#lexicon-modal .lexicon-header .lexicon-close {
  	float: right;
	display: inline-block;
  	cursor: pointer;
  	font-size: 18px;
}

#lexicon-modal .lexicon-header .lexicon-close:hover {
	color: #08c;
}

.lexicon-header h4{
	font-size: 1.2em;
	margin: 0px;
}


.entry + .entry {
	margin-top: 10px;
  	padding-top: 3px;
  	border-top: 1px inset #AAAAAA;
}

.lexicon-results .entry .headword{
	font-weight: bold;
}

.lexicon-results .entry .definition{
	font-size: 0.9em;
}

.lexicon-results ol {
	list-style-position: inside;
}

.lexicon-results .entry .definition li.sense{
	margin-left: 15px;
	padding: 0px;
	/*margin: 0;*/
}

.lexicon-results .entry .definition ol.senses{
	/*list-style-type: none;*/
	padding-left: 0px;
}

.lexicon-results .entry .definition > li.sense{
	/*list-style-type: none;*/
	margin-left: 0px;
}

.lexicon-results .entry ol.definition {
	list-style-type: none;
	margin-top: 2px;
	padding-left: 0px;
}

/*.sense + .sense {
	margin-top: 3px;
	padding-top: 3px;
	border-top: 1px solid #eee;}*/

#lexicon-modal .pos { 
	font-size: 12px;
	color: #777;
}

#lexicon-modal a {
	font-size: 12px;
}

/*#lexicon-modal .definitionSource {
	font-size: 12px;*/
}
.refLink:hover {
	text-decoration: underline;
}

.aboutBar {
	position:fixed;
	bottom:0;
	left: 0;
	width: 100%;
	min-height: 28px;
	text-align: left;
	padding: 7px 0;
	z-index: 11;
	background-color: white;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}

.aboutBarBox {
	text-align: center;
	width: 56.5%;
	margin-left: 5.5%;
}

body.noCommentary .aboutBarBox {
	width: 66%;
	margin: 0 17%;
}

body.editMode .aboutBar {
	display: none;
}

body.noCommentary .aboutBarBox {

}

.aboutBar .btn {
	font-weight: bold;
}

.aboutBar .reviewsButton {
	display: inline-block;
	font-size: 15px;
	cursor: pointer;
	line-height: 23px;
	box-shadow: 1px 1px 1px #555;
	border-radius: 9px;
	margin-left: 2px;
}

.english .aboutBar .reviewsButton.he {
	display: none;
}
.hebrew .aboutBar .reviewsButton.en {
	display: none;
}

.bilingual.heLeft .aboutBar .reviewsButton.he {
	float: left;
}
.bilingual .aboutBar  .reviewsButton.he {
	float: right;
}
.bilingual.heLeft .aboutBar .reviewsButton.en {
	float: right;
}
.bilingual .aboutBar .reviewsButton.en {
	float: left;
}


#about #aboutVersions .reviewsButton {
	display: inline-block;
	font-size: 13px;
	cursor: pointer;
	margin-right: 4px;
	padding: 2px 7px;
}


.commentaryBox {
	display: none;
	position: fixed;
	height: 91%;
	width: 31%;
	right: 0%;
	bottom: 0px;
	padding-left: 10px;
	border-left: 1px solid #bbb;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: serif;
	text-align: left;
	line-height: 1.1;
	background: inherit;
	z-index: 12;
	overflow: hidden;
}

.commentaryBox .loadingMessage {
	text-align: center;
	margin-top: 50px;
	color: #777;
}
.commentaryBox .loadingMessage img {
	width: 36px;
	height: 36px;
	margin-top: 8px;
}

.commentaryBox.noCommentary {
	border: none;
	top: auto;
	bottom: 0;
	z-index: 12;
	width: 40%;
	height: 42px;
}

.commentaryBox.noCommentary.animating {
	height: 91%;
}

.noCommentary .sourcesBox {
	width: auto;
	right: 0;
}

.noCommentary .sourcesHeader .addSource {
	float: none;
}

.commentaryBox .hideCommentary {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 24px;
	height: 100%;
	cursor: pointer;
}

.commentaryBox .hideCommentary:hover .hideTab {
	display: block;
}

.commentaryBox.noCommentary .hideCommentary:hover .hideTab {
	display: none;
}

.commentaryBox .hideTab {
	display: none;
	position: absolute;
	left: 0;
	top: 40%;
	border: 1px solid #aaa;
	border-left: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	background: #ddd;
	height: 30px;
	width: 20px;
	text-align: center;
	line-height: 30px;
	font-size: 18px;
	z-index: 101;
}

.commentaryBox.noCommentary .sourcesBox {
}

.commentaryViewPort {
	position: relative;
	top: 0px;
	margin-right: 7%;
	padding: 0 0 0 15px;
	height: 100%;  	
	overflow: hidden;
}

body.hebrew .commentaryBox .commentary{
	direction: ltr;
	text-align: left;
}		

body.hebrew .commentaryBox .commentary.sheet {
	direction: ltr;
	text-align: left;
}


body.hebrew .anchorText {
	display: none;
	float: left;
	direction: ltr;
}

body.hebrew .commentaryBox .text .he {
    display: inline;
}

body.hebrew .commentaryBox .commentary:not(.enOnly) .text .he {
	font-size: 20px;
}

body.sidebarHebrew .commentary.enOnly {
	display: none;
}

body.sidebarEnglish .commentary.heOnly {
	display: none;
}

body .note .anchorText {
	display: inline;
}
.heNote .he {
	display: inline !important;
}
.heNote {
	direction: ltr !important;
	text-align: left !important;
}
.heNote .en {
	display: none !important;
}
.enNote .en {
	display: inline !important;
}
.enNote {
	text-align: left !important;	
	direction: ltr !important;
}
.enNote .he {
	display: none !important;
}
body.hebrew .enNote .anchorText {
	float: none;
}

.sheet .sheetLink {
	color: black;
}

.commentaryBuffer {
	height: 100px;
}

#sourcesLink {
	font-size: 14px;
	float: right;
	cursor:pointer;
	margin-right: 3px;
}

#sourcesLink img {
	height: 14px;
	position: relative;
	top: 2px;
	margin-left: 2px;
}

.sourcesBox {
	display: none;
	position: absolute;
	z-index: 100;
	bottom: -1px;
	width: 100%;
	padding: 0px;
}

.sourcesHeader {
	font-size: 14px;
	font-weight: bold;
	padding: 6px;
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background-color: white;
	-moz-user-select: none; 
	-khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}

.sourcesBox.noCommentary .sourcesHeader {
	margin-bottom: 0px;
	border-bottom: none;
	border-top-left-radius: 5px;
}

.sourcesHeader #sourcesRange {
	font-style: italic;
}

.sourcesHeader .sidebarMode .fa {
	font-size: 11px;
	vertical-align: 1px;
}

.noCommentary .sidebarMode {
	display: none;
}

.sourcesHeader .addSource .textIcon,
#aboutMenu .textIcon {
	font-weight: bold;
	font-size: 17px;
}


.sourcesList {
	padding: 0;
	position: fixed;
	height: 100%;
	width: 22%;
	bottom: 0;
	right: -80%;
	min-width: 250px;
	border-left: 1px solid #AAA;
	box-shadow: 1px 1px 4px #555;
	background-color: white;
	overflow-y: auto;
}

.sourcesList.preview {
	right: -19%;
}

.sourcesList.opened {
	right: 0;
}

.sourcesWrapper {
	padding: 65px 0px 10px 0px;
}

.textsFilter {
	margin-bottom: 30px;
}

.source, .type {
	display: block;
	font-size: 15px;
	padding: 2px 0; 
	white-space:nowrap;
	cursor: pointer;
}

.source {
	padding: 0;
	font-size: 18px;
}

.source .cName {
	padding: 2px 0;
}

.source .count, .type .count {
	display: inline-block;
	width: 34px;
	margin-right: 6px;
	margin-left: 7px;
	text-align: left;
	font-size: 13px;
}

.source.active > .cName, .cName:hover, .type.active, .type:hover {
	background: #08c;
	color: white !important;
}

.source.label, .type.label {
	font-weight: bold;
	letter-spacing: 1px;
}

.source .sub {
	display: none;
	padding: 2px 0 2px 10px;
	font-size: 13px;
}

.onlyLanguageBox {
	padding-left: 50px;
	padding-right: 30px;
	text-indent: -20px;
	font-size: 13px;
	line-height: 0.5;
	margin: 8px 4px;
}

.onlyLanguageBox input {
	margin-right: 8px;
	margin-bottom: 2px;
	position: relative;
	top: 2px;
}

.sourcesActions {
	padding: 10px;
	margin-top: 12px;
	text-align: center;
}

.hideSources {
	position: absolute;
	bottom: 10px;
	right: 10px;
	font-size: 17px;
}

.commentaryBox .commentary {	
	font-family: serif;		
	display: block;
	font-size: 15px;
	max-height: 48px;
	padding: 2px 0px;
	overflow: hidden;
	cursor: pointer;
	border-radius: 3px;
	-webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -o-transition: all 0.15s ease;
    transition: all 0.15s ease;
}

.commentary.notransition {
	-webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}


.commentaryBox .commentary.expanded {
	max-height: 9999px;
	font-size: 19px;
	line-height: 1.2;
}

body.hebrew  .commentaryBox .commentary.enOnly.expanded {
    max-height: 9999px;
}

body.hebrew  .commentaryBox .commentary.enOnly.expanded .text .he {
    font-size: 19px;
}

body.hebrew .commentaryBox .expanded .text .he {
	font-size: 25px;
}

body.hebrew  .commentaryBox .commentary.enOnly {
	max-height: 55px;
 }

.commentaryBox .commentary.expanded .commentator {
	font-size: 20px;
}

.commentary.expanded .refLink {
	cursor: pointer;
	font-weight: bold;
	font-size: 13px;
}

.commentary.expanded .refLink:hover {
	text-decoration: underline;
}

.commentaryBox .commentary.expanded .actions {
	margin-top: 1px;
	display: block;
	direction: ltr;
}

.commentaryBox .commentary .actions {
	display: none;
}

.commentaryBox .commentary.expanded .actions span {
	font-size: 12px;
	font-weight: bold;
	margin-right: 12px;
	color: #333;
	display: inline-block;
}

.commentaryBox .commentary.expanded .actions span:hover {
	text-decoration: underline;
	color: #08c;

}

.commentary.highlight {
	background: #ECEBDA;
}

.highlight:active,
.commentary.highlight:active {
	background: #D4D4C4;
}

.commentaryNum {
	position: absolute;
	left: -10px;
	display: none;
}

.commentary + .commentary {
	margin-top: 15px;
}

.commentary:last-child {
	margin-bottom: 20%;
	max-height: 158px;
}

.query_highlighted {
    font-weight: 900;
    color: #8756aD;
}


.highlight {
	background: #ECEBDA;
}

.lowlight {
	opacity: 0.3;
}

.verse.lowlight:hover {
	background: #bbb;
}

.commentator {
	font-weight: bold;
	font-size: 16px;
	margin-right: 4px;
	text-decoration: none;
}

.commentator.refLink {
	text-decoration: none;
}

.commentator a {
	color: inherit;
}

.commentator .en {
	margin-right: 4px;
}

body.hebrew .commentator .he {
	display: inline;
	margin-left: 4px;
	font-size: 21px;
}

body.hebrew .commentator .he.enOnly {
	font-size: 16px;
}

body.hebrew .commentary .en {
	display: none;
}

body.english .commentary .he {
	display: none;
}

.anchorText {
	font-weight: bold;
	font-style: italic;
	margin-right: 7px;
}

.commentary.heOnly .text .en {
	font-family: "Times New Roman", serif;
	font-size: 20px;
}

.emptySidebarMessage {
	padding-top: 50px;
	color: #555;
	text-align: center;
	font-style: italic;
}

body .screen .commentaryBox .noteMessage {
	text-align: center;
	direction: ltr;
	color: #555;
	font-size: 16px;
	line-height: 1.3;
	padding: 19px;
	margin: 40px 0 60px;
	max-height: none;
	background-color: #f5f5f5;
	border: 1px solid #eee;
	border: 1px solid rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.noteMessage.lowlight {
	opacity: 1;
}

.layerMessage {
	margin-top: 20px;
	text-align: center;
}

.open {
	position: absolute;
	width: 76%;
	max-width: 660px;
	font-size: 20px;
  	padding: 25px 25px 40px 25px;
	background: white;
	z-index: 100;
	overflow: visible;
	max-height: 488px;
	text-align: justify;
	line-height: 1.2;
	box-shadow: 2px 2px 12px #333333;	
}

.open .commentator.refLink {
	font-size: 16px;
	text-decoration: none;
	margin-right: 5px;
	float: none;
	
}

.openVerseTitle {
	font-weight: bold;
	margin-bottom: 12px;
	margin-right: 10px;
	font-size: 16px;	
}

.open .delete {
	font-size: 13px;
	cursor: pointer;
	display: inline;
	margin-left: 4px;
	float: right;
}

.open .delete:hover {
	text-decoration: underline;
}

.openVerse {
	position: absolute;
	width: 473px;
	padding: 10px;
	background: #eee;
	border: 1px solid #ccc;
	text-align: left;
	line-height: 1;
	font-style: italic;
	display: inline;
	z-index: 99;
}

.open .commentator {
	margin-top: 20px;
	display: inline-block;
}

.open.edit {
	background: #e9e9e9;
	padding-bottom: 10px;
}

.open.edit .openVerseTitle {
	font-size: 23px;

}

.open.edit .openVerse {
	display: none;
}

#commentatorForm {
	margin-top: 4px;
}

.open #commentatorForm input {
	font-size: 18px;
}
		
.open #commentatorForm .msg {
	font-size: 15px;
}		

body.hebrew .open {
	direction: ltr;
}

body.hebrew .open.edit {
	direction: ltr;
}

body.hebrew .open .he {
	display: block;
	font-size: 25px;
	text-align: justify;
}

body.hebrew .open .en {
	display: none;
}

body.hebrew .open .anchorText {
	float: none;	
}

body.hebrew .open .openVerseTitle {
	display: block;	
}

#addSourceTextBox, #addSourceTextarea {
	display: inline-block;
	position: relative;
	border: 1px solid #aaa;
	border-radius: 3px;
	font-size: 18px;
	background: white;
	width: 655px;
	max-height: 220px;
	overflow-y: scroll;

}

#addSourceTextControls {
	padding: 8px 20px;
}

#addSourceTextControls .btn {
	padding: 1px 10px;
	font-size: 14px;
}

#addSourceTextBox .btn {
	margin: 0 3px;
}

#addSourceText {
	padding: 0px 25px 15px;
}

#addNoteTitleForm {
	display: none;
}

#addNoteTextarea {
	display: none;
}

#notePrivacyRow {
	display: none;
}

#addSourceControls #addNoteSave.btn {
	display: none;
}

.open.noteMode .sourceTypeWord span {
	display: none;
}
.open.noteMode .sourceTypeWord:after {
	content: "Note";
}

.open.noteMode #addSourceTextBox {
	display: none;
}

.open.noteMode #addSourceType {
	display: none;
}

.open.noteMode #addNoteTextarea {
	display: inline-block;
}

.open.noteMode #commentatorForm {
	display: none;
}	

.open.noteMode #addNoteTitleForm {
	display: inline-block;
}

.open.noteMode #notePrivacyRow {
	display: block;
}

.open.noteMode #notePrivacyRow input{
	width: auto;
	margin: 6px;
}

.open.noteMode #addSourceControls #addNoteSave.btn  {
	display: inline;
}

#addSourceText .addSourceMsg {
	text-align: center;
	color: red;
	direction: ltr;
	margin-bottom: 14px;
	font-size: 15px;
}

#addSourceTextBox .he {
	display: none;
}

body .open #addSourceTextBox.he .en {
	display: none;
}

body.hebrew #addSourceTextBox .en {
	display: inline-block;
}


#addSourceTextBox.he .he {
	display: inline-block;
}

#addSourceText.he {
	margin-left: 0px;
}

#addSourceTextBox.he #addSourceText .he {
	display: inline;
	font-size: 18px;
}

#addSourceText .btn{
	float: right;
	margin-top: 2px;
}

.scrollCtl {
	background: white;
	z-index: 5;
	position: absolute;
	top: 86%;
	left: 31%;
}

.scrollCtl img {
	height: 22.5px;
	width: 27px;
	cursor: pointer;
}

.scrollCtl .up { 
}
.scrollCtl .down { 
	position: relative;
	top: -2px;
	left: 20px;
}

.openScrollCtl {
	position: absolute;
	background: white;			
	height: 49px;
	bottom: 0px;
	text-align: center;
	width: 94%;
	vertical-align: bottom;
}

.openScrollCtl img {
	height: 26px;
	width: 30px;
	margin: 0px 10px;
	cursor: pointer;
	position: relative;
	top: 8px;
	
}

#cScrollCtl {
	display: none;
	position: absolute;
	right: 19%;
	top: 84%;
}

#cScrollCtl img {
	height: 16px;
	width: 19px;
	cursor: pointer;
}

#cScrollCtl .down {
	position: relative;
	top: -2px;
	left: 14px;
}

.openBottom {
	overflow: hidden;
	padding-bottom: 20px;
}

#verseSelectModal {
	display: none;
   	position: fixed;
   	text-align: center;
	width: 27%;
	bottom: 40%;
	right: 1.5%;
	font-size: 24px;
  	padding: 20px;
	border-radius: 10px;
	z-index: 100;
	overflow: hidden;
	line-height: 1.2;
	box-shadow: 2px 2px 12px #333333;
	
}


#selectConfirm {
	display: none;
}


#selectedVerse {
	margin-top: 14px;
	font-weight: bold;
	font-size: 21px;
}

#selectedControls {
	margin-top: 20px; 
	font-size: 16px;
}

#selectedControls span {
	margin: 0px 8px;
	cursor: pointer;			

}

#selectedControls span:hover{

}

.open .formRow {
}

.open .label {
	font-size: 16px;
	display: inline-block;
	text-align: left;
	margin-right: 18px;
	width: 120px;
	font-weight: bold;
}

#addSourceMsg {
	font-size: 15px;
	line-height: 1.2;
	color: red;
	margin-right: 18px;
	width: 120px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

.open input {
	width: 509px;
}

.open #sourceForm input {
	width: 392px;
}

.open #addSourceType {
	margin-top: 6px;
}

.open #addSourceType select{
	margin-left: 0px;
	margin-top: 8px;
}
		
#addSourceType #otherType {
	display: none;
	margin-left: 8px;
	width: 264px;
}
		
.open textarea {
	width: 98%;
	height: 170px;
	line-height: 1.3;
	font-size: 15px;
	padding: 7px;
	border-radius: 3px;
}

#addToSheetModal {
	width: 400px;
}

#addToSheetModal .header {
	font-size: 22px;
}

#noteAnchor {
	font-weight: bold;
	margin-bottom: 6px;
}

#noteText {
	width: 96%;
	min-height: 180px;
}

#sheets {
	list-style-type: none;
	background-color: white;
	border-radius: 5px;
	padding: 8px 0;
	border: 1px solid #ccc;
	margin: 13px 20px;
	max-height: 440px;
	overflow: scroll;
}

#sheets .sheet {
	text-align: left;
	cursor: pointer;
	padding: 2px 10px;
}

#sheets .sheet.selected {
	background-color: #08C;
	color: white;
}

#newTextModal {
	display: none;
   	position: absolute;
   	width: 530px;
  	padding: 15px 30px;
	border-radius: 10px;
	z-index: 100;
	overflow: hidden;
	text-align: justify;
	line-height: 1.2;
	font-size: 18px;
	box-shadow: 2px 2px 12px #333333;
}

#newTextModal .header {
	font-size: 26px;
	margin-bottom: 10px;
}

#newTextMsg {
	margin-bottom: 6px;
}

#newTextModal input#newTextName {
	width: 350px;
	font-size: 20px;
	border-radius: 5px;
	margin-bottom: 10px;
}

#newTextModal #newBottom {

}



#newTextModal #section {
	margin-top: 13px;
	display: inline-block;
	margin-right: 40px;
}

#newTextModal #section input {
	font-size: 17px;
	border-radius: 5px;
	width: 40px;
	text-align: center;
	margin-left: 8px;
	vertical-align: middle;
}

#newTextModal #newTextActions {
	display: inline-block;
	position: relative;
	top: -4px;
	margin-left: 4px;
}

#newTextModal #newBottom .action{
	margin-left: 14px;
	cursor: pointer;
	float: none;
	display: inline-block;
}


#addSourceControls {
	text-align: center;
	margin-top: 15px;
}


body #addSourceTextBox .btn.inactive {
	display: none;
}

#addModal {
	display: none;
   	position: fixed;
	width: 560px;
	top: 120px;
	left: 50%;
	margin-left: -330px;
  	padding: 15px 50px;
	border-radius: 10px;
	z-index: 100;
	overflow: hidden;
	text-align: justify;
	line-height: 1.2;
	box-shadow: 2px 2px 12px #333333;
	
}


#closeAdd {
	position: absolute;
	top: 8px; 
	right: 8px;
	font-size: 18px;
	font-family: sans-serif;
	cursor: pointer;
}

#addModal .header {
	font-size: 24px;
	font-weight: bold;
	margin: 10px 0px 20px 0px;;
}

#addModal .action {
	cursor: pointer;
	text-decoration: underline;
	color: #00aeef;
	letter-spacing: .8px;
}

#addModal .formRow {
	margin-bottom: 8px;
}

#addModal .label {
	width: 100px;
	min-height: 15px;
	float: left;
	text-align: left;
	margin: 0px 14px 0px 0px;
	font-size: 17px;
}

#addModal .button {
	display: inline;
	padding: 3px 12px;
	font-weight: normal;
	float: none;
	border-radius: 5px;
	margin: 0px;
}

#addModal input {
	width: 60%
}

#addModal textarea {
	width: 100%;
	height: 210px;
	font-size: 18px;
}

#addVersionHeader {
	display: none;
	width: 100%;
	font-size: 18px;
	z-index: 10;
	margin-bottom: 6px;
}

#editTitle {
	margin: 14px 0px 26px 0px;
	text-align: center;
	font-size: 38px;
}


#addVersionHeader input#versionTitle,
#addVersionHeader input#versionSource {
	width: 325px;
}

#addVersionHeaderLeft {
	padding: 0;
	font-size: 19px;
	width: 48%;
	float: left;
	text-align: center;
}

#addVersionHeaderRight {
	width: 48%;
	float: right;	
}

body.newText #addVersionHeaderLeft { 
	display: none;
}

body.newText #addVersionHeaderRight { 
	width: 100%;
	float: none;
}

#textTypeForm {
	font-size: 22px;
	margin-bottom: 5px;
}

#textTypeForm.original {
}

#textTypeForm .option {
	margin-right: 30px;
	font-size: 22px;
}

#textTypeForm .option input {
	margin-right: 2px;
}

#copiedTextForm span {
	display: inline-block;
	width: 108px;
}

#addVersionHeader .alert {
	font-size: 14px;
	padding: 6px 12px;
	background-color: #f2f2f2;
	border: 1px solid #ddd;
	border-radius: 4px;
}

#addVersionHeader.original #languageForm {
	display: none;
}

#languageForm span {
	display: inline-block;
	width: 108px;
}

#showOriginal {
	font-size: 14px;
	cursor: pointer;
	color: #08C;
	white-space: nowrap;
}

#showOriginal:before {
	content: "Hide Original »"
}

body.newText #showOriginal:before {
	content: "« Show Original"
}

#showOriginal:hover {
	text-decoration: underline;
}

body.newText #addVersionHeaderRight input#versionTitle,
body.newText #addVersionHeaderRight input#versionSource {
	margin: 0px 18px 0px 4px;
	width: 464px;
} 

.compareTitle {
	margin-bottom: 0px; 
}
.compareSource {
	font-size: 14px;
	word-break: break-word;
}

#addVersionHeaderRight {

}
		
#addVersionHeaderRight div {
	margin-bottom: 8px;
}

#addVersionHeaderRight input, #addVersionHeaderRight select {
	margin-bottom: 0px;
} 

#cc0Message {
	display: none;
}

#addVersionHeader.original #cc0Message {
	display: block;
}

#unsupported {
	display: none;
	position: absolute;
	padding: 10%;
	top: 0px;
	left: 0px;
	width: 80%;
	height: 80%;
	text-align: center;
	font-size: 32px;
}

.pendingModal {
	display: none;

}

.clickEdit {
	border: 0;
	background: white;
	overflow: hidden;
	font-family: serif;
	z-index: 100;
}

.editing {
	opacity: 0;
}

.en.editing:hover {
	background: white;
}

.clear {
	clear: both;
}

.hidden {
	display: none !important;
}

#reviewsModal {
	position: fixed;
	max-height: 80%;
	max-width: 95%;
	width: 500px;
}

#reviewTitle {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 4px;
}

.reviewCount {
	font-size: 14px;
	color: #555;
}

#reviewText {
	height: 70px;
	max-height: 260px;
	width: 100%;
	max-width: 100%;
   	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

#reviewAbout {
	margin-bottom: 4px;
}

#reviews {
	text-align: left;
	max-height: 160px;
	overflow: scroll;
	background: white;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin: 10px 0px 12px;
}

.review  {
	margin-top: 0px;
	padding: 5px;
	border-bottom: 1px solid #ddd;
}

.review .reviewDelete {
	float: right;
	color: #555;
	cursor: pointer;
	font-size: 13px;
}

.review .reviewDelete:hover {
	text-decoration: underline;
}

.review .reviewer {
	margin-right: 8px;
}
.review .reviewDate {
	font-size: 13px;
	color: #555;
}
.review .raty {
	margin-right: 10px;
}

.raty {
	margin-right: 5px;
}
.raty img {
	vertical-align: middle;
}

.noReviews {
	padding: 8px;
	font-size: 18px;
	text-align: center;
	font-style: italic;
	border-bottom: 1px solid #ddd;
}

.lastEdit {
	padding: 2px 5px;
	color: #555;
	font-size: 13px;
	text-align: center;
	border-bottom: 1px solid #ddd;
	background-color: #FDFBED;
}

#yourReviewTitle {
	text-align: left;
}

#reviewHelpLink {
	float: right;
	margin-top: -3px;
	font-size: 13px;
}

#loginToReview {
	font-size: 18px;
	margin-bottom: 12px;
}

#reviewHelp {
	display: none;
}
#reviewsModal.reviewHelp #reviewsWrapper {
	display: none;
}

#reviewsModal.reviewHelp {
	width: 630px;
	max-width: 100%;
}
#reviewsModal.reviewHelp #reviewHelp {
	display: block;
	width: 96%;
	margin: auto;
}

#reviewHelp h3 {
	margin: 5px 0px;
}
#reviewHelp h4 {
	margin: 16px 0px 2px 0px;
	text-align: left;
}
#reviewHelp p {
	margin: 20px 0px 2px 0px;
	text-align: left;
}

#reviewHelp .reviewExamples {
	background: white;
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #ddd;
	margin-bottom: 6px;
	text-align: left;
}

#reviewHelp .exampleReview {
	margin: 4px;
	font-style: italic;
}

#reviewHelp #scoreHelp {
	text-align: left;
	margin-top: 20px;
}

#contributePrompt {
	position: fixed;
	width: 500px;
	padding: 20px 20px 5px 20px;
	font-size: 18px;
}

@media (max-width: 550px) {
	#contributePrompt {
		width: 90%;
	}
}

#contributePrompt h2 {
	margin-bottom: 6px;
}

#contributePrompt p {
	text-align: left;
	font-size: 18px;
}

#contributePrompt .actions {
	margin: 22px 0;
}

#contributePrompt .actions .actionOption {
	display: inline-block;
	text-align: center;
	width: 300px;
	margin-bottom: 8px;
}

#contributePrompt .actions .actionOption .btn {
	font-weight: bold;
	font-size: 18px;
}

#contributePrompt #dontShow {
	font-size: 14px;
	margin-top: 6px;
}

#contributePrompt input {
	height: 14px;
	margin: 0 4px 0 0;
}

#editVideo {
	position: absolute;
	display: none;
	z-index: 20;
}

#editVideo .btn.close {
	display: inline-block;
	text-align: center;
}

a {
	color: #08C;
	text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}


/* Twitter Bootstrap Forms */

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
label,
input,
button,
select,
textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}
button,
input {
  *overflow: visible;
  line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
input,
textarea,
select
{
  display: inline-block;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input,
textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
input:focus,
textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

select,
input[type="file"] {
  height: 28px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 28px;
}
