body {
  overflow: scroll;
}
.header, .leftButtons, .rightButtons, .loadingMessage, .fa, .linkCountDot, details {
  display: none;
}
#s2 {
  position: static;
  height: auto;
  background-color: white;
  z-index: 99999;
}
.readerApp {
  position: static;
  height: auto;
}
#panelWrapBox {
  height: auto;
  padding-top: 0;
}
.readerPanelBox {
  position: static;
  width: 100% !important;
  left: 0% !important;
  height: auto;
}
.readerControls {
  position: static;
  page-break-after: avoid;
  float: none !important;
  margin-bottom: 20px;
}
.readerContent {
  height: auto;
}
.textColumn {
  overflow: visible;
  height: auto;
  padding: 0 !important;
}
.textRange.basetext {
  max-width: none;
  padding: 0;
}
.basetext .segment {
  position: relative;
}
.segment .segmentNumber {
  top: 0px !important;
}
@page {
  size: auto;
  margin: 18mm 20mm;
} 