body {
  padding: 0;
}
body.sepia {
  background-color: #F7F7F7; 
}
body.dark {
  background-color: #333; 
}
#sefaria > .fa-caret-down {
  display: none;
}
#right {
  display: none;
}
#s2 {
  padding: 0 0 30px 0;
  max-width: 800px;
  margin: 0 auto;
  min-height: 100%;
  background-color: inherit;
  font-family: Georgia, serif;
}
#s2 .he, #s2 .heOnly {
  font-family: "Taamey Frank", "Times New Roman", serif;
  direction: rtl;
  text-align: right;
}
.he, .heOnly .en {
  font-size: 120%;
}
.hebrew {
  direction: rtl;
}
.english .he {
  display: none;
}
.english .en {
  display: inline;
}
.hebrew .he {
  display: inline;
  text-align: right;
}
.hebrew .he .enInHe {
  font-size: 83%;
}
.hebrew .en {
  display: none;
}
body .bilingual .heOnly .en,
body .bilingual .enOnly .he {
  display: none;
}
#languageToggle {
  display: inline;
}
.loadingMessage {
  font-size: 13px;
  font-variant: italic;
}
.headroom {
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}
#top #right #accountBox {
  display: none;
}
#readerApp {
  padding-top: 10px;
}
#readerApp.light {
  background-color: white;
}
#readerApp.sepia {
  background-color: #f7f7f7;
}
#readerApp.dark {
  background-color: #333;
  color: white;
}
.readerNavMenu, .readerTextTableOfContents {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  z-index: 100;
  background-color: #F9F9F7;
}
.readerNavTop {
  padding: 20px;
  border-bottom: 1px solid #E2E2E1;
  direction: ltr;
}
.readerNavTop .readerSearch {
  margin: 0;
  width: 77%;
  border-color: #F2F2F2;
  padding: 7px 10px 7px 40px;
}
.readerNavTop .fa {
  color: #BFBFBF;
  font-size: 20px;
  vertical-align: middle;
  cursor: pointer;
}
.readerNavTop .fa-search {
  position: absolute;
  top: 26px;
  left: 33px;
}
.readerNavTopFixed .readerNavTop .fa-search {
  left: 10px;
  top: 25px;
  margin: 0px;
}
.readerNavTop .fa-times {
  position: absolute;
  right: 10px;
  top: 25px;
}
.readerNavMenu .navToggles {
  text-align: center;
  margin-bottom: 24px;
}
.readerNavMenu .navToggle {
  margin: 0 10px;
  text-transform: uppercase;
  color: #999;
  font-size: 11px;
  font-weight: lighter;
  font-family: "Montserrat", "Alef", "Helvetica Neue", Helvetica, Ariel, san-serif;
  letter-spacing: 1px;
  cursor: pointer;
}
.readerNavMenu .navToggle.active {
  color: black;
}

.readerNavMenu .content {
  padding: 10px;
}
#readerApp h2, #readerApp h3 {
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
  font-weight: lighter;
  font-family: "Montserrat", "Alef", "Helvetica Neue", Helvetica, Ariel, san-serif;
  color: #9B9B9B;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.readerNavMenu h3 {
  font-size: 13px;
  margin-bottom: 5px;
}
.readerNavCategories {
  width: 100%;
  margin-bottom: 30px;
}
.readerNavCategories .threeBox td {
  border: none;
}
.readerNavCategory {
  color: white;
  text-transform: uppercase;
  font-family: Georgia;
  text-align: center;
  padding: 14px 10px;
  margin: 1px;
  cursor: pointer;
}
.readerNavCalendar {
  margin-bottom: 30px;
}
.readerNavCalendar .gridBox td {
  border: 6px solid transparent;
}
.readerNavCalendar .gridBox td:first-child {
  border-left: 0;
}
.readerNavCalendar .gridBox td:last-child {
  border-right: 0;
}
.readerNavMenu .calendarLink.refLink, .readerNavMenu .sheetsLink {
  display: inline-block;
  color: black;
  background-color: white;
  text-align: center;
  padding: 12px 0;
  width: 100%;
}
.readerNavMenu .sheetsLink {
  width: 98%;
  margin: 0 1%;
  text-transform: uppercase;
}
.readerNavMenu .sheetsLink .fa {
  margin-right: 4px;
  color: #999;
}
.readerNavMenu .siteLinks {
  margin-top: 20px;
  text-align: center;
}
.readerNavMenu .siteLinks .siteLink {
  color: #999;
  text-transform: uppercase;
  display: inline-block;
  margin: 0 8px;
  font-size: 12px;
}
.readerNavCategoryMenu {
  height: 100%;
}
.readerNavTopFixed {
  position: absolute;
  width: 100%;
  background-color: #F9F9F7;
}
.readerNavTopFixed .readerNavTop {
  padding: 12px 20px;
}
#readerApp .readerNavTopFixed h2 {
  margin-bottom: 0px;
}
.readerNavCategoryMenu .content {
  padding: 100px 10px 10px;
  box-sizing: border-box;
  height: 100%;
  overflow-y: scroll;
}
.readerNavCategoryMenu .content .category {
  margin-bottom: 30px;
}
.readerNavMenu .refLink,
.readerNavMenu .catLink,
.readerTextTableOfContents .refLink {
  display: inline-block;
  width: 48%;
  margin: 1%;
  padding: 10px 8px;
  box-sizing: border-box;
  color: black;
  background-color: white;
  cursor: pointer;
  vertical-align: middle;
  text-align: center;
}
.categoryColorLine {
  width: 100%;
  height: 8px;
}
.readerTextTableOfContents .tocTitle {
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.3;
}
.readerTextTableOfContents .tocTitle .currentSection {
  font-size: 12px;
  color: #999;
  font-family: Helvetica, sans-serif;
  margin-top: 6px;
  letter-spacing: 1px;
}
.readerTextTableOfContents .content {
  padding: 90px 10px 10px;
  box-sizing: border-box;
  height: 100%;
  overflow-y: scroll;
  text-align: center;
}
.readerTextTableOfContents .content .sectionLink {
  display: inline-block;
  height: 38px;
  min-width: 38px;
  line-height: 38px;
  vertical-align: middle;
  font-size: 13px;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  margin: 3px;
  text-align: center;
  background-color: white;
  color: #666;
  cursor: pointer;
}
.readerTextTableOfContents .content #structToggles {
  margin-bottom: 20px;
}
.readerTextTableOfContents #structToggles .altStructToggle.active {
  color: black;
}
.readerTextTableOfContents #structToggles .altStructToggle {
  color: #999;
}
.readerTextTableOfContents .content .sectionName {
  display: none;
}
.readerTextTableOfContents .content .tocSection > .sectionName {
  font-size: 12px;
  margin: 0 3px 4px;
  color: #666;
  display: block;
}
.readerTextTableOfContents .content .tocContent {
  text-align: left;
} 
.readerTextTableOfContents .content .tocSection {
  margin-bottom: 22px;
  display: block;
  text-align: left;
}
.readerTextTableOfContents .content .schema-node-contents {
  margin-bottom: 22px;
}
.readerTextTableOfContents .content .schema-node-title {
  color: black;
  font-size: 16px;
  display: inline-block;
  margin-bottom: 4px;
}
.readerTextTableOfContents .content .schema-node-toc {
  display: block;
}
.readerTextTableOfContents .content .schema-node-toc.linked {
  cursor: pointer;
}
.readerTextTableOfContents .content .schema-node-contents.closed {
  display: none;
}
.readerTextTableOfContents .content .schema-node-toc .schema-node-contents.closed {
  display: block;
}
.readerTextTableOfContents .content .schema-node-control {
  margin: 0 4px;
}
.readerTextTableOfContents .content .tocLevel {
  text-align: center;
}
.readerTextTableOfContents .schema-node-toc.depth1 {
    margin: 10px 0px 0;
}
.readerTextTableOfContents .schema-node-toc.depth2 {
    margin: 6px 20px 0;
}

.readerTextTableOfContents .schema-node-toc.depth3 {
    margin: 6px 40px 0;
}

.readerTextTableOfContents .schema-node-toc.depth4 {
    margin: 6px 60px 0;
}

.readerTextTableOfContents .schema-node-toc.depth5 {
    margin: 6px 80px 0;
}

.readerTextTableOfContents .schema-node-toc.depth6 {
    margin: 6px 100px 0;
}

.readerTextTableOfContents .schema-node-toc.depth7 {
    margin: 6px 120px 0;
}

.readerTextTableOfContents .schema-node-toc.depth8 {
    margin: 6px 140px 0;
}
.hebrew .readerTextTableOfContents .content .tocSection,
.hebrew .readerTextTableOfContents .content .tocContent {
  text-align: right;
}
#readerControls {
  position: fixed;
  direction: ltr;
  right: 0;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  z-index: 101;
  line-height: 47px;
  border-bottom: 1px solid #ddd;
  background-color: #F9F9F7;
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none; 
}
.dark #readerControls {
  background-color: #333;
  color: white;
  border-color: #666;
}
#readerControls #readerNav, #readerControls #readerTextToc, #readerControls #readerOptions {
  text-align: center;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
}
#readerControls #readerNav, #readerControls #readerOptions  {
  width: 10%;
  color: #BFBFBF;
  font-size: 20px;
  box-sizing: border-box;
  padding: 0 14px;
  text-align: left;
}
#readerControls #readerTextToc {
  width: 80%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 18px;
}
#readerControls #readerOptions {
  text-align: right;
}
#readerControls .controlsButton {
  cursor: pointer;
  display: inline-block;
  margin: 0 4px;
  color: #999;
  font-size: 16px;
  border: 1px solid #CCC;
  border-radius: 8px;
  width: 38px;
  height: 32px;
  line-height: 32px;
  vertical-align: middle;
  text-align: center;
}
#readerControls .controlsButton:hover,
#readerControls .controlsButton:active {
  background-color: #eee;
  color: #555;
}
.dark #readerControls .controlsButton {
  border-color: #666;
}
#readerControls #readerPrevious {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: -1px;
}
#readerControls #readerNext {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: 0;
}
#readerOptionsPanel {
  position: fixed;
  width: 100%;
  top: 57px;
  right: 0;
  max-width: 500px;
  padding: 20px;
  box-sizing: border-box;
  direction: ltr;
  background: white;
  border-bottom: 1px solid #ccc;
  z-index: 103;
  -moz-user-select: none; 
  -khtml-user-select: none; 
  -webkit-user-select: none; 
  -o-user-select: none; 
}
.dark #readerOptionsPanel {
  color: black;
}
.toggleSet {
  display: inline-block;
  width: 100%;
  margin: 7px 0;
  margin-left: 1px;
}
.toggleOption {
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #ccc;
  margin-left: -1px;
  padding: 4px;
  height: auto;
}
.toggleOption.on, .toggleOption:hover {
  background-color: #eee;
}
.toggleSet.separated .toggleOption {
  margin-right: 3%;
}
.toggleSet.separated .toggleOption:last-child {
  margin-right: 0;
}
#color .toggleOption {
  border-radius: 5px;
  height: 38px;
}
#color .toggleOption.on {
  border-color: black;
}
#color #light, #color #light.con {
  background-color: white;
}
#color #sepia, #color #sepia.on {
  background-color: #f7f7f7;
}
#color #dark, #color #dark.on {
  background-color: #333;
}
#smaller, #larger {
  line-height: 28px;
  vertical-align: middle;
}
#smaller {
  font-size: 12px;
}
#larger {
  font-size: 22px;
}
#readerOptionsPanel .line {
  margin: 20px 0;
  border-top: 1px solid #ddd;
}
#mask {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 102;
  cursor: pointer;
}
#readerContent {
  background-color: inherit;
}
.textRange.basetext {
  width: 100%;
  box-sizing: border-box;
  font-size: 1.8em;
  line-height: 1.6;
  text-align: justify;
  background-color: inherit;
  margin: 0 auto;
}
.textRange.basetext .title {
  font-weight: bold;
  padding: 22px 8px;
  color: #999;
  text-align: center;
  font-weight: lighter;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.textRange.basetext.bilingual .title .he,
.textRange.basetext.bilingual .title .en {
  display: inline-block;
  margin: 4px 8px;
}
.basetext .text {
  padding: 0 30px;
  background-color: inherit;
}
.basetext .segment {
  cursor: pointer;
  display: block;
  background-color: inherit;
  margin-bottom: 26px;
}
.continuous .basetext .segment{
  display: inline;
  margin: 0;
}
.basetext.bilingual .segment {
  margin-bottom: 14px;
  display: block;
}
.bilingual .segment .he,
.bilingual .segment .en { 
  display: block;
}
.bilingual .segment .en { 
  margin-top: 6px;
}
.bilingual .basetext .segment .en { 
  margin-top: 10px;
  color: #888;
}
.basetext .segment:hover,
.basetext .segment:active,
.basetext .segment:focus,
.basetext .segment.highlight {
  background-color: #eee;
}
.dark .basetext .segment:hover,
.dark .basetext .segment:active,
.dark .basetext .segment:focus,
.dark .basetext .segment.highlight {
  background-color: #555;
}

.textRange {
  line-height: 1.4;
  font-size: 1.6em;
}
.segment {

}
.segment .segmentNumber,
.segment .linkCount {
  font-family: Helvetica, sans-serif;
  color: #999;
  position: absolute;
  background-color: inherit;
  width: 30px;
  text-align: center;
  font-weight: lighter;
  width: 18px;
  height: 18px;
  font-size: 10px;
  line-height: 18px;
  border-radius: 30px;
  margin-top: 4px;

}
.segment .segmentNumber {
  font-size: 12px;
  color: #555;
}
.segment .linkCount {
  display: block;
  width: 18px;
  height: 18px;
  font-size: 10px;
  line-height: 18px;
  border-radius: 30px;
  border: 1px solid #999;
  text-align: center;
}
#readerApp.english .segment .segmentNumber {
  left: 5px;
}
#readerApp.hebrew .segment .segmentNumber,
#readerApp.bilingual .segment .segmentNumber {
  right: 5px;
}
#readerApp.english .segment .linkCount {
  right: 5px;
}
#readerApp.hebrew .segment .linkCount,
#readerApp.bilingual .segment .linkCount {
  left: 5px;
}
.segment .refLink {
  font-size: .7em;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}
.refLink:hover {
  text-decoration: underline;
}
.textList.main {
  width: 100%;
  text-align: justify;
  margin: 0 auto;
  background-color: inherit;
}
.textListTop {
  position: fixed;
  top: 49px;
  left: 0;
  width: 100%;
  background-color: inherit;
}
.textList .anchorText {
  cursor: pointer;
  border-bottom: 1px solid #CCC;
  position: relative;
  /*overflow: hidden;*/
}
.dark .textList .anchorText {
  background-color: #333;
}
.textList .anchorText .textBox {
  padding: 20px;
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: scroll; 
}
.textList .anchorText .textRange .title {
  display: none;
  text-align: center;
  text-transform: uppercase;
  font-family: Helvetica, sans-serif;
  color: #999;
  letter-spacing: 1px;
  font-weight: lighter;
  margin-bottom: 14px;
}
.textListTop .anchorText .fader {
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(to bottom, rgba(255,255,255,0), white);
}
.dark .textListTop .anchorText .fader {
  background: linear-gradient(to bottom, rgba(51,51,51,0), #333);
}
.textList .heOnly {
  display: block;
}
.gridBox {
  width: 100%;
}
.gridBox table {
  width: 100%;
  border-style: hidden;
  border-collapse: collapse;
}
.gridBox td {
  padding: 0;
  border: 1px solid #CCC;
}
.twoBox td {
  width: 50%;
}
.threeBox td {
  width: 33.333333%;
}

.dark .filterSet td {
  border-color: #555;
}
.filterSet td.empty {
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;

}
.topFilters {
  margin-top: -1px;
  background-color: #F9F9F7;
}
.topFilters > table {
  border-style: none;
}
.topFilters .textFilter {
  color: #999;
  display: table;
  width: 100%;
  height: 38px;
}
.topFilters .textFilter.on {
  color: black;
}
.dark .topFilters .textFilter {
  color: white;
}
.topFilters .textFilter > div {
  display: table-cell;
  vertical-align: middle;
}
.categoryFilter {
  text-transform: uppercase;
  padding: 12px;
  text-align: center;
  font-size: 13px;
}
.textFilter {
  padding: 10px 4px;
  text-align: center;
  font-size: 13px;
  line-height: 1.2;
  display: block;
}
.categoryFilter, .textFilter {
  cursor: pointer;
}
.categoryFilter.on, .textFilter.on {
  background-color: #F7F7F7;
  color: black;
}
.dark .categoryFilter.on, .dark .textFilter.on {
  background-color: #666
}
.topFilters .textFilter.showMoreFilters {
  color: #999;
}
.bilingual .textFilter .he,
.bilingual .categoryFilter .he {
  display: none;
}
.fullFilterView {
}
.showSelectedFilters {
  background-color: #222F4F;
  color: white;
  font-family: Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  padding: 8px;
  cursor: pointer;
  border-radius: 3px;
  margin: 16px 0;
}
.textList .textListMessage {
  padding: 20px;
  color: #aaa;
}
.textList .texts .textRange {
  font-size: 1.4em;
  padding: 8px 0;
  margin: 12px 16px;
  border-bottom: 1px solid #CCC;
  cursor: pointer;
}
.textList .texts .textRange .title {
  color: #999999;
}
