html {
}

body {
	overflow-x: visible;
}

#right {
	width: 490px;	
}

#languageToggle, 
#sheetLayoutToggle { 
	display: inline-block;
}

#fileControls {
	text-align: right;
	line-height: 8px;
}

#fileControls .btn {
	position: relative;
	top: -34px;
	right: -60px;
}

#link {
	display: none;
	position: absolute;
	top: 30px;
	left: 20px;
	color: #555;
	font-style: italic;
	font-size: 16px;
}

#error {
	display: none;
	position: fixed;
	z-index: 100;
	top: 50px;
	left: 50%;
	width: 40%;
	margin-left: -20%;
	text-align: center;
	font-size: 22px;
	padding: 5px 0;
	border-radius: 5px;
	background-color: #d9edf7;
	border: 1px solid #bce8f1;
	color: #31708f;
}

#openPanel {
	position: fixed;
	top: 40px;
	display: none;
	padding: 20px;
	width: 810px;
	left: 50%;
	margin-left: -425px;
	box-shadow: 0 0 7px #555 inset;
	background-color: white;
	z-index: 99;
}

#sheet {
	background: white;
	width: 700px;
	min-height: 980px;
	padding: 60px 75px;
	margin: 100px auto 56px; 
	box-shadow: 4px 0px 28px #333333;		
}

#sheet.paperless {
	box-shadow: none;
	margin-top: 50px;
}

#sheetHeader {
	text-align: right;
	padding-bottom: 10px;
	padding-left: inherit;
	margin-bottom: 6px;
	width: 100%;
	margin-top: -40px;
	margin-left: -40px;
}

#bsdHeader {
	display: none;
	direction: rtl;
	font-family: 'Times New Roman', serif;
	font-size: 18px;
	position: relative;
	top: -40px;
	right: -40px;
}

#sheet.bsd #bsdHeader {
	display: block;
}

#save {
	display: none;
}

#controls {
	position: fixed;
	top: 37px;
	left: 0px;
	width: auto;
	padding: 10px 2px 0px 2px;
	z-index: 1;
	text-align: left;
	background-color: #eee;
	box-shadow: 1px 1px 4px #777;
	border: 1px solid #aaa;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#controls .btn {
	display: inline-block;
	margin: 0 2px 2px 2px;
	position: relative;
	text-align: left;
	float: right;

}

#controls .btn span {
	margin: -6px 6px 0 0;
	width: 13px;
	display: inline-block;
}

.controls .ui-icon {
	display: inline-block;
	position: relative;
	top: 0px;
	left: 3px;
}

.optionsMenu {
	color: black;
	position: absolute;
	text-align: left;
	display: none;
	font-style: normal;
	text-shadow: none;
	right: -1px;
	padding: 6px 0px 3px 0px;
	top: 30px;
	background: white;
	font-size: 15px;
	border-radius: 3px;
	border-top-right-radius: 0px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px #555;
	z-index: 1;
}


#buttonBox {
	display: inline-block;
}

#addButton .optionsMenu, #options .optionsMenu {
	top: 26px;
	border-top-left-radius: 0px;
	right: auto;
	left: -1px;
}

#addButton:hover .optionsMenu, #options:hover .optionsMenu {
	display: block;
}

#addButton .optionsMenu {
	width: 180px;
}

#options .optionsMenu {
	width: 170px;
}

.optionTitle {
	padding: 2px 36px;
}

.optionItem {
	padding: 2px 12px;
	cursor: pointer;
	white-space: nowrap;
}
.optionItem:hover,
.optionTitle:hover {
	background: #08c;
	color:white;
}

.subMenu {
	display: none;
	position: absolute;
	background: white;
	top: 0px;
	left: 170px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px #555;

}
.optionGroup {
	position: relative;
}

.optionGroup .optionTitle .fa-caret-right {
	position: absolute;
	right: 6px;
	top: 5px;
}

.optionGroup:hover .subMenu {
	display: block;
}

.line {
	height: 1px;
	width: 100%;
	background: #ddd;
	margin: 2px 0px;
}

#sheet .optionsMenu .optionItem .ui-icon {
	top: 2px;
	left: 0px;
	margin-right: 3px;
}

.hidden {
	visibility: hidden;
}

#addSourceModal {
	padding: 18px;
	text-align: center;
	z-index: 100;
}

#addDialogTitle {
	font-size: 19px;
	width: 520px;
	margin-bottom: 15px;
	padding: 0;
	position: relative;

}

#closeAddSource {
	position: absolute;
	top: 5px;
	right: 5px;
	cursor: pointer;
	font-size: 22px;
}

#add {
	width: 520px;
	font-size: 17px;
	border-radius: 3px;
}

#addEg {
	font-style: italic;
	font-size: 14px;
	margin-top: 0px;
}

#addOr {
	margin: 14px;
	font-size: 24px;
	text-align: center;
	font-style: italic;
}

#addBrowseBox {
	text-align: center;
}

#addBrowse {
}

#addSourceOK {
	position: absolute;
	right: 0px;
	bottom: -43px;
}

#textPreview {
	position: absolute;
	padding: 4px;
	background: white;
	border: 1px solid #ddd;
	border-radius: 3px;
	z-index: 101;
	width: 600px;
}

#textPreview .previewLine {
	display: inline;
}

#textPreview .previewNumber {
	font-weight: bold;
	font-variant: small-caps;
}

#textPreview .he, #textPreview .en {
	padding: 10px;
}

#textPreview .he {
	direction: rtl;
}

#textPreview .previewNoText {
	direction: ltr;
}

#textPreview .previewWarn {
	color: #B94A48;
	padding: 20px;
}

#textPreview .previewWarn .btn {
	float: right;
}
	
#title {
	font-size: 36px;
	min-height: 40px;
	margin-bottom: 6px;
	text-align: center;
}

#author {
	text-align: center;
	font-style: italic;
	margin-bottom: 4px;
}

#via {
	font-size: 13px;
}

#bottomAuthor {
	text-align: center;
	font-style: italic;
}

#bottomVia {
	font-size: 13px;
}

#likes {
	display: none;
	text-align: center;
}

#sheet.public #likes {
	display: block;
}

#likeInfo {
	cursor: pointer;
}

#likeInfo:hover {
	text-decoration: underline;
}

.titleSub {
	font-size: 20px;
	margin-left: 11px;
	color: #555;
}

#sources, .subsources {
	font-size: 20px;
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

#sheet.numbered #sources {
	list-style-type: decimal;
}

#sheet.numbered .subsources {
	list-style-type: lower-alpha;
}

#sheet.numbered .subsources .source .subsources {
	list-style-type: lower-roman;
}

.source {
	margin-top: 42px;
	background: white;
	position: relative;
}


.source .controls {
	display: none;
	float: right;
	position: relative;
	font-size: 14px;
	padding: 0px 5px 2px 3px;		
}

.controls .ui-icon {
	margin-left: -4px;
}

.controls:hover {
	background: white;
	-webkit-box-shadow: 1px 1px 1px #555;
	-moz-box-shadow: 1px 1px 1px #555;
}

.controls:hover .optionsMenu {
	display: block;
}

.controls .optionsMenu {
	right: -1px;
	top: 19px;
	border-top-right-radius: 0px;
	-moz-border-top-right-radius: 0px;
}

.source .title, .source .customTitle, .outside .title {
	font-size: 18px;
	font-weight: bold;
	height: 20px;
	margin-bottom: 4px;
	display: inline-block;
}

.source .title {
	cursor: pointer;
}

.source .title:hover {
	text-decoration: underline;
}

.source .title a {
	color: black;
}

.source .title .ui-icon-extlink {
	vertical-align: -3px;
}

.source .customTitle {
	display: none;
	margin-right: 8px;
}

.source .title.hasCustom {
	font-size: 14px;
}

.source .title.hasCustom:before {
	content: "(";
	font-weight: bold;

}

.source .title.hasCustom:after {
	content: ")";
	font-weight: bold;

}

.source .openLink {
	font-size: 13px;
	letter-spacing: 1px;
	margin: 0 12px;
	color: #222;
}

.source .openLink .ui-icon {
	display: inline-block;
}

.text {
	font-size: 19px;
	line-height: 1.3;
	position: relative;
}

.text .en, 
.text .he {
	min-height: 20px;
}

.text .en {
	display: none;
	direction: ltr;
}
.text .he {
	display: none;
	direction: rtl;
	text-align: right;
	font-family: "Times New Roman", Serif;
	font-size: 24px;
}

/* Allows line height to change with font-size */
.source .text .he span,
.source .text .en span,
#title span,
.comment span,
.outside span,
.outsideBi .text .he span,
.outsideBi .text .en span,  {
	display: inline-block;
}

.source .text .he .segment,
.source .text .en .segment {
	display: inline;
}

.source .text.segmented .segment {
	display: block;
	margin-bottom: 7px;
}

.comment {
	background-color: white;
}

#sheet.english .en {
	display: block;
}

#sheet.hebrew .he {
	display: block;
}

#sheet.bilingual .he {
	display: block;
	float: right;
	width: 48%;

} 
#sheet.bilingual .en {
	display: block;
	float: left;
	width: 48%;
}

#sheet.bilingual.sideBySide.heLeft .he {
	float: left;
}

#sheet.bilingual.sideBySide.heLeft .en {
	float: right;
}

#sheet.bilingual.stacked .en, #sheet.bilingual.stacked .he {
	float: none;
	width: 100%;
	margin-bottom: 12px;
}

.verse .clear {
	display: none;
}

#sheet.bilingual .verse .clear {
	display: block;
}
 
.source .text.open {
	max-height: 266px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 10px 15px 10px 0px;
}

.source .text .verse.highlight {
	font-weight: bold;
}


#sheet.boxed .source {
	border: 1px solid #888;
	padding: 6px;
}


#sheet.boxed .text  {
	border: 1px solid #888;
	padding: 4px;
}

#sheet.boxed .outsideWrapper {
	border: 1px solid #888;
	padding: 6px;
}

.subsources .source .title {
	font-size: 15px;
	margin-bottom: 0px;
}

.subsources .source {
	margin-top: 14px;

}
.subsources .source .text {
	font-size: 16px;
}

.dragHandle {

}

#sources .sortPlaceholder {
	min-height: 60px;
	margin: 20px 0;
	background-color: #DAE83F;
}

.subsources, #sheet.bilingual.stacked .subsources {
	margin: 0 0 0 60px;
}

#sheet.bilingual .subsources {
	margin: 0 30px;
}

.comment {
	margin-top: 28px;
	font-size: 17px;
}

.outsideWrapper, .outsideBiWrapper {
	margin-top: 42px;
}

.outsideBi {
	/* Fix webkit bug for extra spacing below numbered li with floats */
	display: inline-block;
	vertical-align: top;
	width: 100%;
}

.subsources .comment {
	margin-top: 14px;
}

.addedBy {
	margin-top: 3px;
	font-size: 13px;
	font-style: italic;
	color: #555;
}

.placeholder {
	background: #f3f3f3;
	margin-top: 22px;
	border-radius: 5px;
}

.inEditMode {
	outline-color: rgb(91, 157, 217);
	outline-style: auto;
	outline-width: 5px;
}

#belowSheet {
	height: 100px;
}

#tooltip {
	position: absolute;
	z-index: 3000;
	margin-left: -80px;
	margin-top: 2px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #444;
	background-color: #eee;
	padding: 4px 8px;
}

#tooltip h3, #tooltip div { 
	font-size: 17px;
	margin: 0;
 }	

#addToSheetModal {
	width: 400px;
}

#addToSheetModal .header {
	font-size: 22px;
}

#embedSheetModal {
	width: 400px;
}

#embedSheetModal .header {
	font-size: 22px;
}

#embedSheetModal textarea {
	width: 90%;
	margin-top: 8px;
	height: 40px;
	padding: 8px;
}

#embedSheetModal .sub {
	margin: 0 0 8px;
	font-size: 13px;
}

#tagsModal .header {
	font-size: 22px;
}

#tagsModal {
	width: 500px;
}

#tags {
	width: 98%;
	min-height: 70px;
	margin: 6px auto;
}


#publishPromptModal {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -73px;
	margin-left: -285px;
	max-width: 96%;
	width: 550px;
}

#publishPromptModal .header {
	font-size: 24px;
	font-weight: bold;
}

#publishPromptModal p {
	font-size: 18px;
	margin: 14px 0;
}

#sheetList {
	list-style-type: none;
	background-color: white;
	border-radius: 5px;
	padding: 8px 0;
	border: 1px solid #ccc;
	margin: 13px 20px;
	max-height: 300px;
	overflow: auto;
}
 
#sheetList .sheet {
	text-align: left;
	cursor: pointer;
	padding: 2px 10px;
}

#sheetList .sheet.selected {
	background-color: #08C;
	color: white;
}

#sheetLoading {
	font-weight: bold;
	font-size: 17px;
}

.textIcon {
	font-size: 20px;
	font-weight: bold;
	margin: 3px;
	font-family: sans-serif;
	cursor: pointer;
}	
	
#empty {
	display: none;
	text-align: center;
	border-radius: 10px;
	padding: 15px 25px;
	font-size: 19px;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	border: 1px solid #aaa;
	background-color: #eee;
}

#empty .fa-times {
	float: right;
	cursor: pointer;
}
#empty .icon-remove:hover {
	color: #08c;
}

#empty #howItWorks {
	display: none;
	text-align: left;
	padding-top: 20px;
	border-top: 1px solid #aaa;
	margin-top: 20px;
}

#empty h1 {
	font-size: 32px;
	margin-bottom: 16px;
	text-align: center;
}

#empty h3 {
	margin: 10px 0;
	font-size: 18px;

}

#empty ul {
	list-style-type: decimal;
}

#empty ul b {
	font-size: 22px;
}

#empty li {
	margin: 8px 0;
}

#empty #cite {
	font-size: 18px;
	margin-left: 20px;
	margin-top: 4px;
	color: #005580;
}

#empty .controls {
	font-size: 17px;
	padding: 0px 5px 2px 3px;
	margin: 0 4px;
	background: white;
	border: 1px solid #ccc;
	border-radius: 3px;
}

#empty #loginWarning {
	margin-top: 24px;
	color: #B94A48;
	font-size: 17px;
}

#printFooter {
	display: none;
	margin: 50px 0 0;
	padding-top: 8px;
	text-align: center;
	border-top: 1px solid #ddd;
	page-break-inside: avoid;
}

#printFooter img {
	width: 56px;
	height: 56px;
}

#printFooter div {
	display: inline-block;
	text-align: left;
	font-size: 14px;
	position: relative;
	left: -5px;
	top: -14px;
}

.clear {
	clear: both;
}	


a {
	color: #08C;
	text-decoration: none;
}
a:hover {
  color: #005580;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
a:hover,
a:active {
  outline: 0;
}


.btn-primary a {
	color: white;
}

.btn-primary:hover a {
	text-decoration: none;
}


@media screen and (max-width: 870px) {
	#sheet {
		width: auto;
		padding: 0px 20px;
		margin: 100px auto 70px;
		box-shadow: none;
	}

	#addSourceModal {
		width: 80%;
	}

	#sheetHeader {
		width: 100%;
		margin-left: 0;
	}

	#fileControls .btn {
		top: -34px;
		right: 0px;
	}

	#bsdHeader {
		right: 0px;
	}

	#rightButtons #controls {
		position: static;
		display: block;
		width: auto;
		padding: 0px;
		background-color: transparent;
		box-shadow: none;
		border: none;
	}

	#empty iframe {
		width: 100%;
		height: auto;
	}
}

@media screen and (max-width: 480px) {
	#sheet.bilingual.sideBySide .text .en {
		text-align: left !important;
		width: 100%;
	}
	#sheet.bilingual.sideBySide .text .he {
		text-align: right !important;
		width: 100%;
	}
}

@font-face {
  font-family: 'Rashi Script';
  src: url('/static/fonts/Mekorot-Rashi.ttf');
}

body.embeded #controls {
	display: none;
}

body.embeded #sheet {
	width: auto;
	padding: 20px;
	margin: 0;
	box-shadow: none;
}

.label {
	display: inline-block;
	padding: 2px 4px;
	font-weight: bold;
	font-size: 15px;
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
	white-space: nowrap;
	vertical-align: baseline;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #3a87ad;
}


/* Twitter Bootstrap Forms */

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}
label,
input,
button,
select,
textarea {
  font-size: 13px;
  font-weight: normal;
  line-height: 18px;
}
button,
input {
*overflow: visible;
line-height: normal;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
input,
textarea,
select
{
  display: inline-block;
  height: 18px;
  padding: 4px;
  margin-bottom: 9px;
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
input,
textarea {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
input:focus,
textarea:focus {
  border-color: rgba(82, 168, 236, 0.8);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

select,
input[type="file"] {
  height: 28px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 28px;
}
