#top,
#textTocLink,
#likes,
#error,
#controls, 
.controls,
.openLink, 
#belowSheet,
#bottomAuthor,
.sheetsEditNavTop,
.inlineAddButton,
.header,
#addInterface,
#fileControls,
#footer,
.cookiesNotification,
summary
{
	display: none !important;
	border: 0;
}
#sheet {
	padding: 0;
	margin: 0 5mm;
	width: auto;
	min-height: 0px;
	box-shadow: none;
	zoom: 80%;
}
#sheet.numbered {
	margin: 0 5mm 0 10mm;
}
.sheetItem table {
	max-width: 100%;
}
.activeSource {
	border:0
}
#sheetHeader {
	margin: 0;
}
#bsdHeader {
	top: 0;
	right: 0;
}
.source {
    /*page-break-inside: avoid;*/
}
a {
	color: black;
}
#printFooter {
	display: block;
}
@page  
{ 
    size: auto;
    margin: 18mm 15mm;
}
#footer{
	display: none;
}