#top, #controls, .controls,
.openLink, #belowSheet {
	display: none !important;
	border: 0;
}

#sheet {
	padding: 0;
	margin: 0 5mm;
	width: auto;
	min-height: 0px;
	box-shadow: none;
	zoom: 80%;
}

#sheet.numbered {
	margin: 0 5mm 0 10mm;
}

#sheetHeader {
	margin: 0;
}

#bsdHeader {
	top: 0;
	right: 0;
}

.source {
    /*page-break-inside: avoid;*/
}

a {
	color: black;
}

#likes {
	display: none !important;
}

#printFooter {
	display: block;
}

#bottomAuthor {
	display: none;
}

@page  
{ 
    size: auto;
    margin: 18mm 15mm;
} 