/* 
  Change styling when Unbounce banner is going to be placed on the page
  Unbounce adds a top margin to the body of the main DOM based on the height of the banner
  The default top of 0 needs to be removed
  ub-emb-container is the class of the node that Unbounce inserts into the main body at the end
  The node is at the same level of the tree as the s2 node used for React
*/
div#s2:has(~ div.ub-emb-container div.ub-emb-bar) {
  top: unset;
}

/* 
  Adjust margin on footer when banner is shown
  The introduction of the banner into the DOM by Unbounce with the top margin causes the footer to be cutoff
*/
div#s2:has(~ div.ub-emb-container div.ub-emb-bar):not(:has(~ div#staticContentWrapper)) #footer {
  margin-bottom: 120px;
}

/* 
  Remove adjustment margin when banner is removed
  This sets the footer back to its default when the banner is removed
  When the Unbounce banner is closed out by its button, the nodes from the div node with the ub-emb-container class are removed
  A single blank div remains
*/
div#s2:has(~ div.ub-emb-container div:only-child:empty):not(:has(~ div#staticContentWrapper)) #footer {
  margin-bottom: 0;
}

/* Make some style changes on the static pages where the React node is in header only mode */
div#staticContentWrapper:has(~ .ub-emb-container div.ub-emb-bar):has(.staticPage) {
  padding-top: 60px;
}

div#staticContentWrapper:has(~ .ub-emb-container div.ub-emb-bar) .staticPage .staticPageHeader {
  margin-top: unset;
}

/*
  The mobile navigation menu needs to be shifted when displayed and the banner is displaying on mobile
*/
div#s2:has(~ div.ub-emb-container div.ub-emb-bar) .singlePanel div.mobileNavMenu {
  height: calc(100vh - 180px);
  top: 180px;
}

/*
  Readjust the mobile navigation menu to its previous positioning after the banner is removed
  Set it back to its previous values
*/
div#s2:has(~ div.ub-emb-container div:only-child:empty) .singlePanel div.mobileNavMenu {
  height: calc(100vh - 60px);
  top: 60px;
}

div#s2:has(~ div.ub-emb-container div.ub-emb-bar) .singlePanel .autocomplete-dropdown {
  top: 45px;
  left: -10px;
  position: absolute;
}

/* 
  Fix problems with the bottom of new sheets editor from being accessible
  This does not affect the normal textual content view inside a book
*/
div#s2:has(~ div.ub-emb-container div.ub-emb-bar) .readerContent {
  height: calc(100% - 180px);
}

/*
  Set it back to its previous values
*/
div#s2:has(~ div.ub-emb-container div:only-child:empty) .readerContent {
  height: calc(100% - 60px);
}

/* Unbounce banners cannot be on the old sheets editor */
div#s2:has(~ .ub-emb-container div.ub-emb-bar):has(~ #staticContentWrapper #content #sheetsContent) {
  top: 0;
}

div#staticContentWrapper:has(div#content div#sheetsContent) ~ div.ub-emb-container div.ub-emb-bar {
  display: none;
}

div#s2:has(~ div.ub-emb-container div.ub-emb-bar) #panelWrapBox {
  height: calc(100% - 180px);
}

div#s2:has(~ div.ub-emb-container div:only-child:empty) #panelWrapBox {
  height: calc(100% - 60px);
}