{% extends "base.html" %}
{% load i18n static %}
{% load sefaria_tags %}

{% block meta_title %}{% meta_title %}{% trans "Donate to Sefaria" %}{% endmeta_title %}{% endblock %}

{% block meta_description %}{% meta_desc %}{% trans "Support Sefaria by making a tax-deductible donation online or by check or wire transfer." %}{% endmeta_desc %}{% endblock %}

{% block css %}
{% endblock %}


{% block js %}
<script>
    {% autoescape off %}
    DJANGO_VARS.containerId = 'DonateInner';
    DJANGO_VARS.reactComponentName = 'DonatePage';
    {% endautoescape %}
</script>
{% endblock %}

{% block content %}
<div id="DonateOuter" class="staticPageFrame">
  <div id="DonateInner" class="staticPageInner">
    <h1 id="appLoading">Loading...</h1>
  </div>
</div>
{% endblock %}


