{
    "openapi": "3.0.2",
    "info": {
        "title": "Sefaria API",
        "version": "1.0.0",
        "description": "The Sefaria APIs allows live access to Sefaria's structured database of Jewish texts and their interconnections.",
        "contact": {
            "url": "https://www.sefaria.org",
            "email": "dev@sefaria.org"
        },
        "license": {
            "name": "GNU AGPLv3",
            "url": "https://www.gnu.org/licenses/agpl.txt"
        }
    },
    "servers": [
        {
            "url": "https://www.sefaria.org/",
            "description": ""
        }
    ],
    "paths": {
        "/api/texts/{tref}": {
            "get": {
                "parameters": [
                    {
                        "name": "callback",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "context",
                        "description": "The `context` param defaults to `1`, which allows for the API to return the entire context for the desired segment. When you explicitly set `context=0` only the desired segment is returned, without any of the accompanying context.",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query"
                    },
                    {
                        "name": "commentary",
                        "description": "The `commentary` param defaults to `0`, which turns off commentary being returned in the response. When you explicitly set `commentary=1` all of commentary to that specific connection is returned in list of JSON objects containing the text of the commentaries",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query"
                    },
                    {
                        "name": "pad",
                        "description": "By default this is set to `1` which ensures that any references at the title level will return only the first section of a book instead of its entirety. If you want the API to return the entire content of the book set pad to `0`",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query"
                    },
                    {
                        "examples": {
                            "The Contemporay Torah: JPS 2006": {
                                "value": "The_Contemporary_Torah,_Jewish_Publication_Society,_2006"
                            }
                        },
                        "name": "ven",
                        "description": "Unless explicitly specified, the texts API returns a default version of a text with roman characters as of the content in the `text` response. Passing a specific Version Title here will load that text version if it exists instead of the default.\n",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "firstAvailableRef",
                        "description": "If a given text reference doesn't return any content, setting this to `1` will return the first reference that does. \n\nSometimes this occurs when a text reference may pass our ref checking logic, but doesn't exist e.g. `https://www.sefaria.org/api/texts/Berakhot 1a?firstAvailableRef=1`, and sometimes this occurs when a translation is incomplete. Defaults to `0`",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query"
                    },
                    {
                        "name": "vhe",
                        "description": "Unless explicitly specified, the texts API returns a default version of a text with Hebrew characters as of the content in the `he` response. Passing a specific Version Title here will load that text version if it exists instead of the default.\n",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "layer",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "alts",
                        "description": "Returns the `alt structures` for the target text in the JSON response object.",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query"
                    },
                    {
                        "name": "wrapLinks",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query"
                    },
                    {
                        "name": "wrapNamedEntities",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query"
                    },
                    {
                        "name": "stripItags",
                        "description": "Sefaria texts include footnotes and other `iTags` in the response. This param defaults to `0` which leaves them in. Changing it to `1` will remove them.",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query"
                    },
                    {
                        "name": "multiple",
                        "description": "If the absolute value of this param is greater than `1` the API response will return include `|n|` text API responses which include `|n|-1` additional consecutive sections of the targeted text if they exist. If the integer is positive, it will return the next consecutive chapter[s], and if negative it will contain the previous consecutive chapter[s].",
                        "schema": {
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "examples": {
                            "German": {
                                "value": "DE"
                            },
                            "Arabic": {
                                "value": "AR"
                            }
                        },
                        "name": "transLangPref",
                        "description": "Unless explicitly specified, the texts API returns a default version for the `he` and `text` responses (usually in Hebrew & English respectfully). Passing an ISO 639-1 language code here will prioritize text versions in that target language if available.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "fallbackOnDefaultVersion",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query"
                    },
                    {
                        "name": "sheets",
                        "description": "The `sheets` param defaults to `0`, which turns off user-generated Sefaria Sheet data from being returned in the response. When you explicitly set `sheets=1` all of the user-generated sheet content to that specific connection is returned in list of JSON objects.\n\n_This usage is depreciated. Instead you should use the `Related API`._",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/textAPIReponse"
                                }
                            }
                        },
                        "description": "Successful response"
                    }
                },
                "deprecated": false,
                "summary": "Text API",
                "description": "Retrieve the text and some additional metadata for a specific Sefaria Reference"
            },
            "parameters": [
                {
                    "name": "tref",
                    "schema": {
                        "$ref": "#/components/schemas/ref"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/api/name/{name}": {
            "description": "Serves primarily as an autocompleter, returning potential keyword matches for refs, book titles, authors, topics, and collections available on Sefaria",
            "get": {
                "parameters": [
                    {
                        "name": "limit",
                        "description": "Number of results to return (0 indicates no limit)",
                        "schema": {
                            "default": 10,
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "name": "ref_only",
                        "description": "By default `0` the Name API returns refs, book titles, authors, topics, and collections. If true, the response will only contain text references.",
                        "schema": {
                            "default": false,
                            "type": "boolean"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/nameAPIResponse"
                                }
                            }
                        },
                        "description": "Successful response"
                    }
                },
                "summary": "Name API",
                "description": "Serves primarily as an autocompleter, returning potential keyword matches for refs, book titles, authors, topics, and collections available on Sefaria"
            },
            "parameters": [
                {
                    "name": "name",
                    "description": "An arbitrary text string to match against Sefaria's data collections.",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/api/texts/random/": {
            "get": {
                "parameters": [
                    {
                        "name": "titles",
                        "description": "A string of book titles from the Sefaria library separated with the character `|`. If it exists it will limit the random selection to those titles.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "categories",
                        "description": "A string of categories from the Sefaria library separated with the character `|`. If it exists it will limit the random selection to those categories.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/textAPIReponse"
                                }
                            }
                        },
                        "description": "Successful response"
                    }
                },
                "summary": "Random Text API",
                "description": "Returns a random text reference from the Sefaria library. Results can be limited to a specific category or from a selection of titles given the correct query params."
            }
        },
        "/api/recommend/topics/{ref_list}": {
            "get": {
                "parameters": [
                    {
                        "examples": {
                            "example1": {
                                "value": "Genesis 50+Mishnah Peah 3"
                            }
                        },
                        "name": "ref_list",
                        "description": "List of strings separated by '+'",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/recommendedTopicResponse"
                                    }
                                }
                            }
                        },
                        "description": "Successful response"
                    }
                },
                "summary": "Recommended topics API",
                "description": "Given a list of refs this API returns the most used topics associated with them. It's a fast way of identifying potential shared topics amongst disperate references."
            },
            "post": {
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "json": {
                                        "description": "List of strings",
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/recommendedTopicResponse"
                                    }
                                }
                            }
                        },
                        "description": "Successful response"
                    }
                },
                "summary": "Recommended topics API",
                "description": "Given a list of refs this API returns the most used topics associated with them. It's a fast way of identifying potential shared topics amongst disperate references.\n\nn.b. The `ref_list` param is not required for a post request."
            }
        },
        "/api/manuscripts/{tref}": {
            "summary": "For a given `tref` (textual ref), if a manuscript exists, returns a list of all relevant data as well as the image URL for each associated manuscript.",
            "get": {
                "parameters": [
                    {
                        "examples": {
                            "Tanakh Example": {
                                "value": "Numbers 12.1"
                            },
                            "Talmud Example": {
                                "value": "Berakhot 2a.1"
                            }
                        },
                        "name": "tref",
                        "description": "The `tref` parameter must a valid Sefaria ref to a text.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "Manuscript JSON": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/ManuscriptJSON"
                                    }
                                },
                                "examples": {
                                    "Esther 4:14-15": {
                                        "value": [
                                            {
                                                "manuscript_slug": "leningrad-codex-(1008-ce)",
                                                "page_id": "LC_Folio_435r",
                                                "image_url": "https://manuscripts.sefaria.org/leningrad-color/BIB_LENCDX_F435A.jpg",
                                                "thumbnail_url": "https://manuscripts.sefaria.org/leningrad-color/BIB_LENCDX_F435A_thumbnail.jpg",
                                                "anchorRef": "Esther 4:17-6:2",
                                                "anchorRefExpanded": [
                                                    "Esther 5:14"
                                                ],
                                                "manuscript": {
                                                    "slug": "leningrad-codex-(1008-ce)",
                                                    "title": "Leningrad Codex (1008 CE)",
                                                    "he_title": "כתב יד לנינגרד (1008)",
                                                    "source": "https://dornsife.usc.edu/wsrp/biblical-manuscripts",
                                                    "description": "Bruce Zuckerman, West Semitic Research, in collaboration with the Ancient Biblical Manuscript Center; courtesy Russian National Library, Saltykov-Schedrin",
                                                    "he_description": ""
                                                }
                                            },
                                            {
                                                "manuscript_slug": "megilat-ester-or-1047-(17th-century)",
                                                "page_id": "Esther",
                                                "image_url": "https://storage.googleapis.com/sefaria-manuscripts/misc/Megilat%20Ester%2C%20Or%201047%20-%20mid.jpg",
                                                "thumbnail_url": "https://storage.googleapis.com/sefaria-manuscripts/misc/Megilat%20Ester%2C%20Or%201047%20-%20thumb.png",
                                                "anchorRef": "Esther",
                                                "anchorRefExpanded": [
                                                    "Esther 5:14"
                                                ],
                                                "manuscript": {
                                                    "slug": "megilat-ester-or-1047-(17th-century)",
                                                    "title": "Megilat Ester, Or 1047 (17th Century)",
                                                    "he_title": "מגילת אסתר Or 1047 (מאה 17)",
                                                    "source": "https://www.bl.uk/collection-items/megilat-ester-or-1047",
                                                    "description": "",
                                                    "he_description": ""
                                                }
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "Successful response"
                    }
                },
                "summary": "Manuscript API",
                "description": "This call retrieves all associated manuscript data and metadata for a given Sefaria `tref`. "
            },
            "parameters": [
                {
                    "examples": {
                        "Tanakh Example": {
                            "value": "Numbers.17.2"
                        },
                        "Talmud Example": {
                            "value": "Berakhot.2a.1"
                        }
                    },
                    "name": "tref",
                    "description": "A valid Sefaria ref",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/api/words/{word}": {
            "get": {
                "parameters": [
                    {
                        "name": "lookup_ref",
                        "description": "to fine tune the search",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "never_split",
                        "description": "to limit lookup to only the actual input string",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "always_split",
                        "description": "to look for substring matches regardless of results for original input",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "always_consonants",
                        "description": "",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "anyOf": [
                                            {
                                                "$ref": "#/components/schemas/JastrowDictionaryEntry"
                                            },
                                            {
                                                "$ref": "#/components/schemas/StrongsDictionaryEntry"
                                            },
                                            {
                                                "$ref": "#/components/schemas/BDBDictionaryEntry"
                                            },
                                            {
                                                "$ref": "#/components/schemas/KleinDictionaryEntry"
                                            },
                                            {
                                                "$ref": "#/components/schemas/HebrewDictionaryEntry"
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "An array of matching words."
                    }
                },
                "summary": "Lexicon API",
                "description": "Searches Sefaria lexicon entries for the given string"
            },
            "parameters": [
                {
                    "name": "word",
                    "description": "The word or phrase to search for in the lexicons.",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/api/words/completion/{word}/{lexicon}": {
            "description": "Serves primarily as an autocompleter, returning potential lexicon entries for a given input\n\nReturns an array of arrays, each containing two strings. The first is a completion entry in Hebrew without vowels and the second includes vowels.",
            "get": {
                "parameters": [
                    {
                        "name": "limit",
                        "description": "Number of results to return (0 indicates no limit)",
                        "schema": {
                            "default": 10,
                            "type": "integer"
                        },
                        "in": "query"
                    },
                    {
                        "examples": {
                            "Klein Dictionary": {
                                "value": "Klein Dictionary"
                            },
                            "Jastrow Dictionary": {
                                "value": "Jastrow Dictionary"
                            },
                            "Sefer HaShorashim": {
                                "value": "Sefer HaShorashim"
                            },
                            "Animadversions by Elias Levita on Sefer HaShorashim": {
                                "value": "Animadversions by Elias Levita on Sefer HaShorashim"
                            },
                            "BDB Dictionary": {
                                "value": "BDB Dictionary"
                            },
                            "BDB Aramaic Dictionary": {
                                "value": "BDB Aramaic Dictionary"
                            }
                        },
                        "name": "lexicon",
                        "description": "An optional text string matching the name of one of Sefaria's lexicons to limit the search.",
                        "schema": {
                            "type": "string"
                        },
                        "in": "path"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/wordCompletionAPIResponse"
                                    }
                                },
                                "examples": {
                                    "result": {
                                        "value": [
                                            [
                                                "אב",
                                                "אַב"
                                            ],
                                            [
                                                "אב",
                                                "אֵב"
                                            ],
                                            [
                                                "אב",
                                                "אָב"
                                            ],
                                            [
                                                "אבד",
                                                "אֲבַד"
                                            ],
                                            [
                                                "אבה",
                                                "אבה"
                                            ],
                                            [
                                                "אבן",
                                                "אֶ֫בֶן"
                                            ],
                                            [
                                                "אגרה",
                                                "אִגְּרָה"
                                            ],
                                            [
                                                "אדין",
                                                "אֱדַ֫יִן"
                                            ],
                                            [
                                                "אדר",
                                                "אִדַּר"
                                            ],
                                            [
                                                "אדר",
                                                "אֲדָר"
                                            ],
                                            [
                                                "אדרגזר",
                                                "אֲדַרְגָּזַר"
                                            ],
                                            [
                                                "אדרזדא",
                                                "אַדְרַזְדָּא"
                                            ],
                                            [
                                                "אדרע",
                                                "אֶדְרַע"
                                            ]
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "Successful response"
                    }
                },
                "summary": "Word completion API",
                "description": "Serves primarily as an autocompleter, returning potential lexicon entries for a given input\n\nReturns an array of arrays, each containing two strings. The first is a completion entry in Hebrew without vowels and the second includes vowels."
            },
            "parameters": [
                {
                    "name": "word",
                    "description": "An arbitrary text string to match against Sefaria's lexicon collections.",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                },
                {
                    "name": "lexicon",
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/api/find-refs": {
            "post": {
                "requestBody": {
                    "description": "",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FindRefsPOSTRequest"
                            },
                            "examples": {
                                "Example": {
                                    "value": {
                                        "text": {
                                            "body": "Genesis 1:1 is a citation and also Mishnah Peah 3-4. So is שמות ב",
                                            "title": "Some thoughts on Sefer Bereishit 1"
                                        },
                                        "lang": "en"
                                    }
                                }
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FindRefsAPIResponse"
                                }
                            }
                        },
                        "description": "Successful Response"
                    }
                },
                "summary": "Find Refs API",
                "description": "Initially designed to find links on websites using [Sefaria's Linker](https://www.sefaria.org/linker), the Find Refs API can identify textual refernces in any arbitrary text that gets sent to it via a structured POST request and returns a response object identifying each located reference including its start and end position within the submitted text."
            }
        },
        "/api/texts/versions/{index}": {
            "summary": "All Available Versions of a Text",
            "description": "This endpoint return all of the available versions of a text given an index title passed as a parameter. ",
            "get": {
                "responses": {
                    "200": {
                        "content": {
                            "VersionJSON": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/VersionJSON"
                                    }
                                },
                                "examples": {
                                    "Rashi on Kohelet": {
                                        "value": [
                                            {
                                                "title": "Rashi on Ecclesiastes",
                                                "versionTitle": "The Metsudah Five Megillot, Lakewood, N.J., 2001",
                                                "versionSource": "https://www.nli.org.il/he/books/NNL_ALEPH002162036",
                                                "language": "he",
                                                "status": "locked",
                                                "license": "CC-BY",
                                                "versionNotes": "",
                                                "digitizedBySefaria": "",
                                                "priority": 2,
                                                "versionTitleInHebrew": "",
                                                "versionNotesInHebrew": "",
                                                "extendedNotes": "",
                                                "extendedNotesHebrew": "",
                                                "purchaseInformationImage": "https://storage.googleapis.com/sefaria-physical-editions/ba0b4357b240eff4b28b7fcfc4669d56.png",
                                                "purchaseInformationURL": "https://www.israelbookshoppublications.com/store/pc/Metsudah-Five-Megilloth-w-Rashi-26p309.htm",
                                                "shortVersionTitle": "",
                                                "shortVersionTitleInHebrew": "",
                                                "isBaseText": true,
                                                "firstSectionRef": "Rashi on Ecclesiastes 1:1"
                                            },
                                            {
                                                "title": "Rashi on Ecclesiastes",
                                                "versionTitle": "The Metsudah Five Megillot, Lakewood, N.J., 2001",
                                                "versionSource": "https://www.nli.org.il/he/books/NNL_ALEPH002162036",
                                                "language": "en",
                                                "status": "locked",
                                                "license": "CC-BY",
                                                "versionNotes": "",
                                                "digitizedBySefaria": "",
                                                "priority": 2,
                                                "versionTitleInHebrew": "",
                                                "versionNotesInHebrew": "",
                                                "extendedNotes": "",
                                                "extendedNotesHebrew": "",
                                                "purchaseInformationImage": "https://storage.googleapis.com/sefaria-physical-editions/00c61bd3103f9398bf080832c4a0221f.png",
                                                "purchaseInformationURL": "https://www.israelbookshoppublications.com/store/pc/Metsudah-Five-Megilloth-w-Rashi-26p309.htm",
                                                "shortVersionTitle": "",
                                                "shortVersionTitleInHebrew": "",
                                                "isBaseText": false,
                                                "firstSectionRef": "Rashi on Ecclesiastes 1:1"
                                            },
                                            {
                                                "title": "Rashi on Ecclesiastes",
                                                "versionTitle": "On Your Way",
                                                "versionSource": "http://mobile.tora.ws/",
                                                "language": "he",
                                                "status": "locked",
                                                "license": "Public Domain",
                                                "versionNotes": "",
                                                "digitizedBySefaria": "",
                                                "priority": 1,
                                                "versionTitleInHebrew": "ובלכתך בדרך",
                                                "versionNotesInHebrew": "",
                                                "extendedNotes": "",
                                                "extendedNotesHebrew": "",
                                                "purchaseInformationImage": "",
                                                "purchaseInformationURL": "",
                                                "shortVersionTitle": "",
                                                "shortVersionTitleInHebrew": "",
                                                "isBaseText": true,
                                                "firstSectionRef": "Rashi on Ecclesiastes 1:1"
                                            },
                                            {
                                                "title": "Rashi on Ecclesiastes",
                                                "versionTitle": "Sefaria Community Translation",
                                                "versionSource": "https://www.sefaria.org",
                                                "language": "en",
                                                "status": "",
                                                "license": "",
                                                "versionNotes": "",
                                                "digitizedBySefaria": "",
                                                "priority": "",
                                                "versionTitleInHebrew": "תרגום קהילת ספריא",
                                                "versionNotesInHebrew": "",
                                                "extendedNotes": "",
                                                "extendedNotesHebrew": "",
                                                "purchaseInformationImage": "",
                                                "purchaseInformationURL": "",
                                                "shortVersionTitle": "",
                                                "shortVersionTitleInHebrew": "",
                                                "isBaseText": false,
                                                "firstSectionRef": "Rashi on Ecclesiastes 3:3"
                                            },
                                            {
                                                "title": "Rashi on Ecclesiastes",
                                                "versionTitle": "The Five Megilloth, English translation by A. Cohen, Soncino Press, 1946",
                                                "versionSource": "https://www.nli.org.il/en/books/NNL_ALEPH002644163/NLI",
                                                "language": "en",
                                                "status": "locked",
                                                "license": "CC-BY",
                                                "versionNotes": "",
                                                "digitizedBySefaria": "",
                                                "priority": "",
                                                "versionTitleInHebrew": "",
                                                "versionNotesInHebrew": "",
                                                "extendedNotes": "",
                                                "extendedNotesHebrew": "",
                                                "purchaseInformationImage": "",
                                                "purchaseInformationURL": "",
                                                "shortVersionTitle": "Abraham Cohen, Soncino Press, 1946",
                                                "shortVersionTitleInHebrew": "",
                                                "isBaseText": false,
                                                "firstSectionRef": "Rashi on Ecclesiastes 1:1"
                                            }
                                        ]
                                    }
                                }
                            }
                        },
                        "description": "Returns a list containing the JSON Objects for each version available for the given `index` title. Each JSON Object contains all of the metadata for a given version. "
                    }
                },
                "summary": "Versions API",
                "description": "The versions API takes a title of a valid Sefaria `index` as a parameter, and will return all available versions of the text in the Sefaria database, alongside metadata for each version. A version can be a translation of the text, an alternative language, or any other text associated with that index. \n\n*Note:* In order to see the expected results, you need to make sure you are passing a recognized `index`. For example, `Rashi on Genesis` is a valid `index` but `Rashi` is not. To see the entire list of valid Sefaria indices, click [here](https://www.sefaria.org/api/index/)"
            },
            "parameters": [
                {
                    "examples": {
                        "Mishnah": {
                            "value": "Mishnah Berakhot"
                        },
                        "Tanakh": {
                            "value": "Kohelet"
                        },
                        "Commentary": {
                            "value": "Rashi on Exodus"
                        },
                        "Halacha": {
                            "value": "Shulchan Aruch Orach Chaim"
                        }
                    },
                    "name": "index",
                    "description": "A valid Sefaria Index",
                    "schema": {
                        "type": "string"
                    },
                    "in": "path",
                    "required": true
                }
            ]
        },
        "/api/calendars": {
            "get": {
                "parameters": [
                    {
                        "name": "diaspora",
                        "description": "Should the Calendar API return the weekly Torah reading for the diaspora `1` or for Israel `0`",
                        "schema": {
                            "type": "boolean"
                        },
                        "in": "query",
                        "required": false
                    },
                    {
                        "name": "custom",
                        "description": "If available, the weekly haftarah will be returned for one of the selected custom.",
                        "schema": {
                            "enum": [
                                "ashkenazi",
                                "sephardi",
                                "edot%20hamizrach"
                            ],
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "zone_name",
                        "description": "By default, the API attempts to return the calendars for the client's timezone. If you want another region you can override it. Timezone names are in accordance with [IANA Standards](https://www.iana.org/time-zones)",
                        "schema": {
                            "type": "string"
                        },
                        "in": "query"
                    },
                    {
                        "name": "year",
                        "description": "By default the API returns for the current time. You can override it by using a combination of the `year`, `day`, and `month` params. If you use `year` or `day` or `month`, you must include them all otherwise the API will fallback to the default.",
                        "schema": {
                            "type": "number"
                        },
                        "in": "query"
                    },
                    {
                        "name": "month",
                        "description": "By default the API returns for the current time. You can override it by using a combination of the `year`, `day`, and `month` params. If you use `year` or `day` or `month`, you must include them all otherwise the API will fallback to the default.",
                        "schema": {
                            "type": "number"
                        },
                        "in": "query"
                    },
                    {
                        "name": "day",
                        "description": "By default the API returns for the current time. You can override it by using a combination of the `year`, `day`, and `month` params. If you use `year` or `day` or `month`, you must include them all otherwise the API will fallback to the default.",
                        "schema": {
                            "type": "number"
                        },
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CalendarAPIResponse"
                                }
                            }
                        },
                        "description": "Successful Response"
                    }
                },
                "summary": "Calendars API",
                "description": "Returns the daily or weekly learning schedule for a given date."
            }
        }
    },
    "components": {
        "schemas": {
            "ref": {
                "description": "A string representing a citation to a Jewish text. \n\nA valid ref consists of a title string followed optionally by a section string or a segment string. \n\nA title string is any one of the known text titles or title variants in the Sefaria Database.",
                "type": "string",
                "example": "\"Mishnah Peah 4:2\""
            },
            "versionData": {
                "title": "Root Type for versionData",
                "description": "Information about a single text version of a title",
                "type": "object",
                "properties": {
                    "title": {
                        "type": "string"
                    },
                    "versionTitle": {
                        "type": "string"
                    },
                    "versionSource": {
                        "type": "string"
                    },
                    "language": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "license": {
                        "type": "string"
                    },
                    "versionNotes": {
                        "type": "string"
                    },
                    "digitizedBySefaria": {
                        "type": "string"
                    },
                    "priority": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "versionTitleInHebrew": {
                        "type": "string"
                    },
                    "versionNotesInHebrew": {
                        "type": "string"
                    },
                    "extendedNotes": {
                        "type": "string"
                    },
                    "extendedNotesHebrew": {
                        "type": "string"
                    },
                    "purchaseInformationImage": {
                        "type": "string"
                    },
                    "purchaseInformationURL": {
                        "type": "string"
                    },
                    "shortVersionTitle": {
                        "type": "string"
                    },
                    "shortVersionTitleInHebrew": {
                        "type": "string"
                    },
                    "isBaseText": {
                        "type": "boolean"
                    },
                    "firstSectionRef": {
                        "type": "string"
                    }
                },
                "example": {
                    "title": "Genesis",
                    "versionTitle": "The Contemporary Torah, Jewish Publication Society, 2006",
                    "versionSource": "https://www.nli.org.il/he/books/NNL_ALEPH002529489/NLI",
                    "language": "en",
                    "status": "locked",
                    "license": "CC-BY-NC",
                    "versionNotes": "Dedicated by an anonymous donor in honor of all women and girls who study, teach, and transform Torah.\n<br><br>\n<a href=\"https://www.sefaria.org/sheets/382047\">Read the preface to The Contemporary Torah</a>\n<br><br>\n<a href=\"https://www.sefaria.org/sheets/380713\"> See the Dictionary of Gender in the Torah</a>",
                    "digitizedBySefaria": "",
                    "priority": 7,
                    "versionTitleInHebrew": "",
                    "versionNotesInHebrew": "תרומה אלמונית לכבוד כל הנשים והבנות שלומדות, מלמדות ונותנות צורה חדשה לתורה",
                    "extendedNotes": "",
                    "extendedNotesHebrew": "",
                    "purchaseInformationImage": "https://jps.org/wp-content/uploads/2014/10/ContemporaryTorah-300x458.png",
                    "purchaseInformationURL": "https://jps.org/books/contemporary-torah/",
                    "shortVersionTitle": "The Contemporary Torah, JPS, 2006",
                    "shortVersionTitleInHebrew": "",
                    "isBaseText": false,
                    "firstSectionRef": "Genesis 1"
                }
            },
            "nameAPIResponse": {
                "title": "Root Type for nameAPIResponse",
                "description": "Full response of the Name API",
                "type": "object",
                "properties": {
                    "lang": {
                        "description": "The language of the completion results.",
                        "enum": [
                            "en",
                            "he"
                        ],
                        "type": "string"
                    },
                    "is_ref": {
                        "description": "Returns `true` if the submitted text is a valid Sefaria textual reference",
                        "type": "boolean"
                    },
                    "completions": {
                        "description": "A list of autocompletion responses for the submitted text.",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "completion_objects": {
                        "description": "A list of autocompletion response objects for the submitted text along with some information about them.",
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "title": {
                                    "type": "string"
                                },
                                "key": {
                                    "type": "string"
                                },
                                "type": {
                                    "type": "string"
                                },
                                "is_primary": {
                                    "type": "boolean"
                                },
                                "order": {
                                    "format": "int32",
                                    "type": "integer"
                                }
                            }
                        },
                        "example": "[{\n    \"title\": \"Ruth\",\n    \"key\": \"Ruth\",\n    \"type\": \"ref\",\n    \"is_primary\": true,\n    \"order\": 1000000\n  }, {\n    \"title\": \"Ruth Rabbah\",\n    \"key\": \"Ruth Rabbah\",\n    \"type\": \"ref\",\n    \"is_primary\": true,\n    \"order\": 1000000\n  }, {\n    \"title\": \"Ruth\",\n    \"type\": \"PersonTopic\",\n    \"key\": \"ruth\",\n    \"is_primary\": true,\n    \"order\": 4999550\n  }, {\n    \"title\": \"Ruach Hakodesh\",\n    \"type\": \"Topic\",\n    \"key\": \"ruach-hakodesh1\",\n    \"is_primary\": true,\n    \"order\": 4999902\n  }, {\n    \"title\": \"Ruach\",\n    \"type\": \"Topic\",\n    \"key\": \"ruach1\",\n    \"is_primary\": true,\n    \"order\": 4999949\n  }, {\n    \"title\": \"Rubissa Sharona Hassan\",\n    \"type\": \"User\",\n    \"key\": \"sharona-hassan\",\n    \"pic\": \"https://storage.googleapis.com/sefaria-profile-pictures/sharona-hassan-1622999139-small.png\",\n    \"order\": 6999998,\n    \"is_primary\": true\n  }]"
                    },
                    "is_book": {
                        "description": "Returns `true` if the submitted text is a book level reference. e.g. (Genesis)",
                        "type": "boolean"
                    },
                    "is_node": {
                        "description": "Returns true if the submitted text is a `node` in a complex text.",
                        "type": "boolean"
                    },
                    "is_section": {
                        "description": "Returns `true` if the submitted text is a section ref. (e.g. Genesis 4)",
                        "type": "boolean"
                    },
                    "is_segment": {
                        "description": "Returns `true` if the submitted text is a segment level reference (e.g. Genesis 43:3)",
                        "type": "boolean"
                    },
                    "is_range": {
                        "description": "Returns `true` if the submitted text is a a ranging ref (one that spans multiple sections or segments.) e.g. (Genesis 4-5)",
                        "type": "boolean"
                    },
                    "type": {
                        "enum": [
                            "ref",
                            "Topic",
                            "AuthorTopic",
                            "PersonTopic",
                            "User"
                        ],
                        "type": "string"
                    },
                    "ref": {
                        "description": "If `is_ref` is `true`, this returns the cannonical ref for the submitted text.",
                        "type": "string"
                    },
                    "url": {
                        "description": "If `is_ref` is `true`, this returns the URL path to link to the submitted text on Sefaria.org",
                        "type": "string"
                    },
                    "index": {
                        "description": "If `is_ref` is `true`, this returns the cannonical name of the `index` of the submitted text.",
                        "type": "string"
                    },
                    "book": {
                        "description": "If the submitted response is a ref, this returns the book it belonhs to.",
                        "type": "string"
                    },
                    "internalSections": {
                        "type": "array",
                        "items": {
                            "format": "int32",
                            "type": "integer"
                        }
                    },
                    "internalToSections": {
                        "type": "array",
                        "items": {
                            "format": "int32",
                            "type": "integer"
                        }
                    },
                    "sections": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "toSections": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "examples": {
                        "type": "array",
                        "items": {

                        }
                    },
                    "sectionNames": {
                        "description": "Given a reference, this returns the names of the sections and segments at each depth of that text.",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "heSectionNames": {
                        "description": "Given a reference, this returns the names of the sections and segments at each depth of that text in Hebrew.",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "addressExamples": {
                        "description": "Given a partial ref, this will return an array of strings of possible ways that it might be completed.",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "heAddressExamples": {
                        "description": "Given a partial ref, this will return an array of hebrew strings of possible ways that it might be completed.",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    }
                },
                "example": {
                    "lang": "en",
                    "is_ref": true,
                    "completions": [
                        "Job",
                        "Rashi on Job",
                        "Rashi on Amos",
                        "Rashi on Arachin",
                        "Rashi on Beiah",
                        "Rashi on Bechorot",
                        "Rashi on Berachoth",
                        "Rashi on Chag.",
                        "Rashi on Hullin",
                        "Rashi on Dan."
                    ],
                    "completion_objects": [
                        {
                            "title": "Job",
                            "key": "Job",
                            "type": "ref",
                            "is_primary": true,
                            "order": 1000000
                        },
                        {
                            "title": "Job",
                            "type": "Topic",
                            "key": "job-and-his-friends",
                            "is_primary": false,
                            "order": 4999978
                        },
                        {
                            "title": "Rashi on Job",
                            "key": "Rashi on Job",
                            "type": "ref",
                            "is_primary": true,
                            "order": 1000000
                        },
                        {
                            "title": "Rashi on Amos",
                            "key": "Rashi on Amos",
                            "type": "ref",
                            "is_primary": true,
                            "order": 1000000
                        },
                        {
                            "title": "Rashi on Arachin",
                            "key": "Rashi on Arakhin",
                            "type": "ref",
                            "is_primary": false,
                            "order": 1000000
                        },
                        {
                            "title": "Rashi on Beiah",
                            "key": "Rashi on Beitzah",
                            "type": "ref",
                            "is_primary": false,
                            "order": 1000000
                        },
                        {
                            "title": "Rashi on Bechorot",
                            "key": "Rashi on Bekhorot",
                            "type": "ref",
                            "is_primary": false,
                            "order": 1000000
                        },
                        {
                            "title": "Rashi on Berachoth",
                            "key": "Rashi on Berakhot",
                            "type": "ref",
                            "is_primary": false,
                            "order": 1000000
                        },
                        {
                            "title": "Rashi on Chag.",
                            "key": "Rashi on Chagigah",
                            "type": "ref",
                            "is_primary": false,
                            "order": 1000000
                        },
                        {
                            "title": "Rashi on Hullin",
                            "key": "Rashi on Chullin",
                            "type": "ref",
                            "is_primary": false,
                            "order": 1000000
                        },
                        {
                            "title": "Rashi on Dan.",
                            "key": "Rashi on Daniel",
                            "type": "ref",
                            "is_primary": false,
                            "order": 1000000
                        }
                    ],
                    "is_book": false,
                    "is_node": false,
                    "is_section": false,
                    "is_segment": true,
                    "is_range": false,
                    "type": "ref",
                    "ref": "Rashi on Job 1:3:3",
                    "url": "Rashi_on_Job.1.3.3",
                    "index": "Rashi on Job",
                    "book": "Rashi on Job",
                    "internalSections": [
                        1,
                        3,
                        3
                    ],
                    "internalToSections": [
                        1,
                        3,
                        3
                    ],
                    "sections": [
                        "1",
                        "3",
                        "3"
                    ],
                    "toSections": [
                        "1",
                        "3",
                        "3"
                    ],
                    "examples": [
                    ],
                    "sectionNames": [
                        "Chapter",
                        "Verse",
                        "Comment"
                    ],
                    "heSectionNames": [
                        "פרק",
                        "פסוק",
                        "פירוש"
                    ],
                    "addressExamples": [
                        "3",
                        "6",
                        "9"
                    ],
                    "heAddressExamples": [
                        "ג׳",
                        "ו׳",
                        "ט׳"
                    ]
                }
            },
            "dictionaryEntry": {
                "title": "Root Type for dictionaryEntry",
                "description": "A single dictionary entry on Sefaria.",
                "type": "object",
                "properties": {
                    "headword": {
                        "description": "The main word in the lexicon entry. The one you would look up in the book version.",
                        "type": "string"
                    },
                    "parent_lexicon": {
                        "description": "Name of the lexicon from which the entry comes from.",
                        "type": "string"
                    },
                    "parent_lexicon_details": {
                        "description": "",
                        "type": "object"
                    }
                }
            },
            "StrongsDictionaryEntry": {
                "title": "StrongsDictionaryEntry",
                "description": "",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/dictionaryEntry"
                    }
                ],
                "properties": {
                    "strong_number": {
                        "type": "string"
                    },
                    "transliteration": {
                        "description": ""
                    },
                    "pronunciation": {
                        "description": ""
                    },
                    "language_code": {
                        "description": ""
                    },
                    "content": {
                        "description": "",
                        "type": "object",
                        "properties": {
                            "morphology": {
                                "type": "string"
                            },
                            "senses": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/SenseStrongsDictionaryEntry"
                                }
                            }
                        }
                    }
                },
                "example": {
                    "headword": "רָאָה",
                    "parent_lexicon": "BDB Augmented Strong",
                    "content": {
                        "morphology": "v",
                        "senses": [
                            {
                                "definition": "to see,  look at,  inspect,  perceive,  consider",
                                "senses": [
                                    {
                                        "senses": [
                                            {
                                                "definition": "to see"
                                            },
                                            {
                                                "definition": "to see,  perceive"
                                            },
                                            {
                                                "definition": "to see,  have vision"
                                            },
                                            {
                                                "definition": "to look at,  see,  regard,  look after,  see after,  learn about,  observe,  watch,  look upon,  look out,  find out"
                                            },
                                            {
                                                "definition": "to see,  observe,  consider,  look at,  give attention to, discern,  distinguish"
                                            },
                                            {
                                                "definition": "to look at,  gaze at"
                                            }
                                        ],
                                        "grammar": {
                                            "verbal_stem": "Qal"
                                        }
                                    },
                                    {
                                        "senses": [
                                            {
                                                "definition": "to appear,  present oneself"
                                            },
                                            {
                                                "definition": "to be seen"
                                            },
                                            {
                                                "definition": "to be visible"
                                            }
                                        ],
                                        "grammar": {
                                            "verbal_stem": "Niphal"
                                        }
                                    },
                                    {
                                        "definition": " to be seen",
                                        "grammar": {
                                            "verbal_stem": "Pual"
                                        }
                                    },
                                    {
                                        "senses": [
                                            {
                                                "definition": "to cause to see,  show"
                                            },
                                            {
                                                "definition": "to cause to look intently at,  behold,  cause to gaze at"
                                            }
                                        ],
                                        "grammar": {
                                            "verbal_stem": "Hiphil"
                                        }
                                    },
                                    {
                                        "senses": [
                                            {
                                                "definition": "to be caused to see,  be shown"
                                            },
                                            {
                                                "definition": "to be exhibited to"
                                            }
                                        ],
                                        "grammar": {
                                            "verbal_stem": "Hophal"
                                        }
                                    },
                                    {
                                        "definition": " to look at each other,  face",
                                        "grammar": {
                                            "verbal_stem": "Hithpael"
                                        }
                                    }
                                ]
                            }
                        ]
                    },
                    "strong_number": "7200",
                    "transliteration": "râʼâh",
                    "pronunciation": "raw-aw'",
                    "language_code": "heb",
                    "parent_lexicon_details": {
                        "name": "BDB Augmented Strong",
                        "language": "heb.biblical",
                        "to_language": "eng",
                        "text_categories": [
                            "Tanakh, Torah",
                            "Tanakh, Prophets",
                            "Tanakh, Writings"
                        ],
                        "source": "Open Scriptures on GitHub",
                        "source_url": "https://github.com/openscriptures/strongs",
                        "attribution": "Based on the work of Larry Pierce at the Online Bible",
                        "attribution_url": "http://www.blueletterbible.org/contact/contact_gen.cfm"
                    }
                }
            },
            "BDBDictionaryEntry": {
                "title": "BDBDictionaryEntry",
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/dictionaryEntry"
                    }
                ],
                "properties": {
                    "rid": {
                        "description": "Returns a unique id for this reference that establishes an ordering of references across the whole catalog. This id will change as the ordering of the categories changes, and may begin to overlap with other numbers because of those changes. However, at any point in time these ids will be unique across the catalog. Used to sort results from ElasticSearch queries",
                        "type": "string"
                    },
                    "TWOT": {
                        "description": "The corresponding Theological Wordbook of the Old Testament number for this word",
                        "type": "string"
                    },
                    "strong_numbers": {
                        "description": "An array of corresponsing Strong Numbers for this word",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "root": {
                        "description": "Indicates if the headword is the Biblical root. (Indicated in print, by a larger printed headword)",
                        "type": "boolean"
                    },
                    "peculiar": {
                        "description": "A bool indicating the presence of the `‡` symbol in print, demonstrating that the word is peculiar to Biblical Aramaic.",
                        "type": "boolean"
                    },
                    "ordinal": {
                        "description": "when the same headword has more than one entry with a differen meaning they are offset by the roman numerals here",
                        "type": "string"
                    },
                    "occurrences": {
                        "description": "A count of the number of times the headword appears in the Bible",
                        "type": "number"
                    },
                    "headword_suffix": {
                        "description": "In some cases the headword has some additional content in print beyond it. That data is included here.",
                        "type": "string"
                    },
                    "GK": {
                        "description": "The corresponding Goodrick/Kohlenberger Lexicon number for this headword.",
                        "type": "string"
                    },
                    "all_cited": {
                        "description": "A bool indicating the presense of the `†` symbol in print, indicating that all of the occurences of the word are listed as part of this entry",
                        "type": "boolean"
                    },
                    "brackets": {
                        "description": "headword has brackets in print",
                        "type": "boolean"
                    },
                    "alt_headwords": {
                        "description": "An array of alternative headwords for the entry",
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "properties": {
                            "word": {
                                "description": "The alternative headword",
                                "type": "string"
                            },
                            "occurences": {
                                "description": "The number of times the alternative headword exists in the Bible"
                            }
                        }
                    },
                    "prev_hw": {
                        "description": "The previous entry in print",
                        "type": "string"
                    },
                    "next_hw": {
                        "description": "the next entry in print",
                        "type": "string"
                    },
                    "content": {
                        "description": "",
                        "type": "object",
                        "properties": {
                            "senses": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "definition": {
                                            "description": "a definition of this sense of the word",
                                            "type": "string"
                                        },
                                        "all_cited": {
                                            "description": "A bool indicating the presense of the `†` symbol in print, indicating that all of the occurences of this sense of the word are listed as part of this entry",
                                            "type": "string"
                                        },
                                        "form": {
                                            "description": "the grammatical verb form (binyan) of the word",
                                            "type": "string"
                                        },
                                        "note": {
                                            "description": "an additional note for the entry",
                                            "type": "string"
                                        },
                                        "num": {
                                            "description": "the string of the numbering of this sense in print (it can be a number, English letter, Roman digits, with period, in parentheses, etc.)",
                                            "type": "string"
                                        },
                                        "occurences": {
                                            "description": "number of occurrences of this sense in bible",
                                            "type": "string"
                                        },
                                        "pre_num": {
                                            "description": "In some cases the sense has some additional characters before the entry  (e.g. the word Especially). That data is included here",
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "HebrewDictionaryEntry": {
                "title": "HebrewDictionaryEntry",
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/dictionaryEntry"
                    }
                ],
                "properties": {
                    "rid": {
                        "description": "Returns a unique id for this reference that establishes an ordering of references across the whole catalog. This id will change as the ordering of the categories changes, and may begin to overlap with other numbers because of those changes. However, at any point in time these ids will be unique across the catalog. Used to sort results from ElasticSearch queries",
                        "type": "string"
                    },
                    "refs": {
                        "description": "Cross references to selections in the Sefaria library.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ref"
                        }
                    },
                    "prev_hw": {
                        "description": "The previous headword entry from the book.",
                        "type": "string"
                    },
                    "next_hw": {
                        "description": "The next headword entry from the book.",
                        "type": "string"
                    },
                    "content": {
                        "description": "",
                        "type": "object",
                        "properties": {
                            "senses": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "definition": {
                                            "description": "A definition of this sense of the word",
                                            "type": "string"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "JastrowDictionaryEntry": {
                "title": "JastrowDictionaryEntry",
                "description": "An entry from Jastrow’s Dictionary,",
                "type": "object",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/dictionaryEntry"
                    }
                ],
                "properties": {
                    "rid": {
                        "description": "Returns a unique id for this reference that establishes an ordering of references across the whole catalog. This id will change as the ordering of the categories changes, and may begin to overlap with other numbers because of those changes. However, at any point in time these ids will be unique across the catalog. Used to sort results from ElasticSearch queries"
                    },
                    "quotes": {
                        "description": ""
                    },
                    "refs": {
                        "description": "Cross references to selections in the Sefaria library.",
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ref"
                        }
                    },
                    "prev_hw": {
                        "description": "The previous headword entry from the book."
                    },
                    "next_hw": {
                        "description": "The next headword entry from the book."
                    },
                    "plural_form": {
                        "description": "The plural form of the headword."
                    },
                    "language_reference": {
                        "description": ""
                    },
                    "language_code": {
                        "description": "A string containing the following characters `h.` (Hebrew), `b. h.` (Biblical Hebrew) `ch.` or `Ch.` (Chaldean) indicating the source language of the entry."
                    },
                    "alt_headwords": {
                        "description": "An array of alternate headwords for the entry. Symbolized in print as those headwords separated by commas after the initial entry.",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "content": {
                        "description": "",
                        "type": "object",
                        "properties": {
                            "senses": {
                                "type": "array",
                                "items": {
                                    "$ref": "#/components/schemas/SenseJastrowDictionaryEntry"
                                }
                            },
                            "morphology": {
                                "description": "A description of the morphological form of the word, one of `m., m. pl., f., f. pl., pr. n., pr. n. pl., pr. n. f., pr. n. m., pron., pers. pron.`",
                                "type": "string"
                            }
                        }
                    }
                }
            },
            "textAPIReponse": {
                "title": "Root Type for textAPIReponse",
                "description": "Expected reponse data from Sefaria's Text API",
                "type": "object",
                "properties": {
                    "ref": {
                        "$ref": "#/components/schemas/ref"
                    },
                    "heRef": {
                        "$ref": "#/components/schemas/ref"
                    },
                    "isComplex": {
                        "description": "Whether or not the text is a \"complex\" text or not.\n\nIn Sefaria, a complex text is any text which has a more complicated index structure beyond Chapters/Verses, (e.g. the Talmud). There are a variety of structural differences for a complex text, having to do primarily with its Index, and the way the data is stored. For more on complex texts, see the documentation here.",
                        "type": "boolean"
                    },
                    "text": {
                        "oneOf": [
                            {
                                "type": "string"
                            },
                            {
                                "type": "array",
                                "items": {
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            },
                            {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        ],
                        "description": "The default, or specified text written in LTR characters for the query (Usually English). It is structured as a JaggedArray (nested arrays), with the lowest level being an array of strings with some html text."
                    },
                    "he": {
                        "oneOf": [
                            {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            {
                                "type": "string"
                            }
                        ],
                        "description": "The default, or specified text written in RTL characters for the query (Usually Hebrew). It is structured as a JaggedArray (nested arrays), with the lowest level being an array of strings with some html text."
                    },
                    "versions": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/versionData"
                        }
                    },
                    "textDepth": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "sectionNames": {
                        "description": "An array containing the type names of the sections of this text. The length of sectionNames gives the depth of the structure of this text. For example, Kohelet `([\"Chapter\", \"Verse\"])` has depth 2, while Mishneh Torah `([\"Book\", \"Topic\", \"Section\", \"Law\"])` has depth 4. Comparing this depth to the depth of sections will show if the request was for the lowest level, or a higher level, of the text.",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "addressTypes": {
                        "description": "A list which length reflects the depth of the text structure, with string values indicating class names for address types for each level",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "lengths": {
                        "type": "array",
                        "items": {
                            "format": "int32",
                            "type": "integer"
                        }
                    },
                    "length": {
                        "format": "int32",
                        "type": "integer"
                    },
                    "heTitle": {
                        "type": "string"
                    },
                    "titleVariants": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "heTitleVariants": {
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "type": {
                        "type": "string"
                    },
                    "primary_category": {
                        "type": "string"
                    },
                    "book": {
                        "description": "The title of the book that the response comes from.",
                        "type": "string"
                    },
                    "categories": {
                        "description": "A list of categories that a text belongs to. ",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "order": {
                        "type": "array",
                        "items": {
                            "format": "int32",
                            "type": "integer"
                        }
                    },
                    "sections": {
                        "description": "An array which corresponds to sectionNames and represents the sections of the text requested. When sectionNames is `[\"Chapter\", \"Verse\"]` a request for chapter 4 looks like `[4]` while a request for chapter 4, verse 7 would look like `[4, 7]`. _Note, for Talmud, Dafs are represented by a string like \"42a\" or \"12b\"_",
                        "type": "array",
                        "items": {
                            "format": "int32",
                            "type": "integer"
                        }
                    },
                    "toSections": {
                        "type": "array",
                        "items": {
                            "format": "int32",
                            "type": "integer"
                        }
                    },
                    "isDependant": {
                        "type": "boolean"
                    },
                    "indexTitle": {
                        "type": "string"
                    },
                    "heIndexTitle": {
                        "type": "string"
                    },
                    "sectionRef": {
                        "$ref": "#/components/schemas/ref"
                    },
                    "firstAvailableSectionRef": {
                        "type": "string"
                    },
                    "heSectionRef": {
                        "$ref": "#/components/schemas/ref"
                    },
                    "isSpanning": {
                        "type": "boolean"
                    },
                    "versionTitle": {
                        "type": "string"
                    },
                    "versionTitleInHebrew": {
                        "type": "string"
                    },
                    "shortVersionTitle": {
                        "type": "string"
                    },
                    "shortVersionTitleInHebrew": {
                        "type": "string"
                    },
                    "versionSource": {
                        "type": "string"
                    },
                    "versionStatus": {
                        "type": "string"
                    },
                    "versionNotes": {
                        "type": "string"
                    },
                    "extendedNotes": {
                        "type": "string"
                    },
                    "extendedNotesHebrew": {
                        "type": "string"
                    },
                    "versionNotesInHebrew": {
                        "type": "string"
                    },
                    "digitizedBySefaria": {
                        "description": "Was the `text` response initially digitized by Sefaria `1` or was it initially generated by another digital publisher `0`",
                        "type": "boolean"
                    },
                    "license": {
                        "type": "string"
                    },
                    "formatEnAsPoetry": {
                        "type": "boolean"
                    },
                    "heVersionTitle": {
                        "type": "string"
                    },
                    "heVersionTitleInHebrew": {
                        "type": "string"
                    },
                    "heShortVersionTitle": {
                        "type": "string"
                    },
                    "heShortVersionTitleInHebrew": {
                        "type": "string"
                    },
                    "heVersionSource": {
                        "type": "string"
                    },
                    "heVersionStatus": {
                        "type": "string"
                    },
                    "heVersionNotes": {
                        "type": "string"
                    },
                    "heExtendedNotes": {
                        "type": "string"
                    },
                    "heExtendedNotesHebrew": {
                        "type": "string"
                    },
                    "heVersionNotesInHebrew": {
                        "type": "string"
                    },
                    "heDigitizedBySefaria": {
                        "description": "Was the `he` response initially digitized by Sefaria `1` or was it initially generated by another digital publisher `0`",
                        "type": "boolean"
                    },
                    "heLicense": {
                        "type": "string"
                    },
                    "formatHeAsPoetry": {
                        "type": "boolean"
                    },
                    "alts": {
                        "type": "array",
                        "items": {

                        }
                    },
                    "index_offsets_by_depth": {
                        "type": "object"
                    },
                    "next": {
                        "nullable": true,
                        "description": "Next segment reference in sequence, if last ref, field will be `null`.",
                        "type": "string"
                    },
                    "prev": {
                        "nullable": true,
                        "description": "Previous segment reference in sequence, if first ref, field will be `null`.",
                        "type": "string"
                    },
                    "commentary": {
                        "type": "array",
                        "items": {

                        }
                    },
                    "sheets": {
                        "type": "array",
                        "items": {

                        }
                    },
[...]
