{% load sefaria_tags %}

<span id="accountBox" >
	{% if user.email %}
		<div class="btn topButton">
			{{ user.first_name }}
			{% if notifications_count %}
				<span id="newNotificationsCount">{{ notifications_count }}</span>
			{% else %}
				<span class="ui-icon ui-icon-triangle-1-s"></span>
			{% endif %}
			<div id="accountMenu" class="menu">
				{% for notification in notifications %}
					{% include "elements/notification.html" with notification=notification %}
				{% endfor %}
				<a class="accountLink" href="/contributors/{% get_private_attribute user '_username' %}">Your Profile</a>
				<a class="accountLink" href="/logout?next={{ request.path }}">Log Out</a>
			</div>
		</div>
	{% else %}
		<a class="btn btn-info" href="/login?next={{ request.path }}">Log In</a>
		<a class="btn btn-success" href="/register?next={{ request.path }}">Sign Up</a>
	{% endif %}
</span>