{% load sefaria_tags %}

<span id="accountBox" >
	{% if user.email %}
		<div class="btn topButton">
			{{ user.first_name }}<span class="ui-icon ui-icon-triangle-1-s"></span>
			<div id="accountMenu" class="menu">
				<a href="/contributors/{% get_private_attribute user '_username' %}">Your Profile</a>
				<a href="/logout">Log Out</a>
			</div>
		</div>
	{% else %}
		<a class="btn btn-info" href="/login?next={{ request.path }}">Login</a>
		<a class="btn btn-success" href="/register?next={{ request.path }}">Sign Up</a>
	{% endif %}
</span>