{% load sefaria_tags %}
{% load humanize %}

<ul id="activityList">
{% for event in activity %}
    <li>
    	{% if "text" in event.rev_type %}
	    	{% if email and single and not forloop.first %}
	    		<div class="btn btn-mini revert" data-revert="/api/revert/{{ url }}/{{ event.revision }}">Revert to This</div>
	    	{% endif %}
	    	<span class="topline">{% if event.firstname %}{{ event.firstname }}{% else %}{{ profile.first_name }}{% endif %} 
    		{% if event.rev_type == "add text" %}
    			added 
    		{% elif event.rev_type == "edit text" %}
    			edited 
    		{% elif event.rev_type == "revert text" %}
    			reverted
    		{% endif %}
	    	{{ event.ref|url_ref }}
            {% if event.method == "API" %} (via API) {% endif %}
	    	{% if not single %}
	    		<a class="historyLink" href="{{ event.history_url }}">history &raquo;</a>
	    	{% endif %}
	    	</span>
	    	<div class="text {{ event.language }}">
	    		{% autoescape off %}{{ event.diff_html }}{% endautoescape %}
	    	</div>
	    {% elif "link" in event.rev_type %}
	    	<span class="topline">{% if event.firstname %}{{ event.firstname }}{% else %}{{ profile.first_name }}{% endif %} 
    		{% if event.rev_type == "add link" %}
    			added a connection 
    		{% elif event.rev_type == "edit link" %}
    			edited a connection  
    		{% elif event.rev_type == "delete link" %}
    			deleted a connection  
    		{% endif %}
    		{% if event.new.type %}({{ event.new.type }}){% endif %}
	    	between {% filter url_ref %}{% firstof event.new.refs.0 event.old.refs.0 %}{% endfilter %} and {% filter url_ref %}{% firstof event.new.refs.1  event.old.refs.1 %}{% endfilter %}.
	    	{% if event.method == "API" %} (via API) {% endif %}
            </span>
	    {% elif "note" in event.rev_type %}
	    	<span class="topline">{% if event.firstname %}{{ event.firstname }}{% else %}{{ profile.first_name }}{% endif %} 
    		{% if event.rev_type == "add note" %}
    			added a note to 
    		{% elif event.rev_type == "edit note" %}
    			edited a note on  
    		{% elif event.rev_type == "delete note" %}
    			deleted a note on 
    		{% endif %}
	    	{% filter url_ref %}{% firstof event.new.ref event.old.ref %}{% endfilter %}.
            {% if event.method == "API" %} (via API) {% endif %}
	    	</span>
	    	<div class="text">
	    		{% firstof event.new.title event.old.title %}: {% firstof event.new.text event.old.text %}
	    	</div>
	   	{% elif "index" in event.rev_type %}
	    	<span class="topline">{% if event.firstname %}{{ event.firstname }}{% else %}{{ profile.first_name }}{% endif %}  
    		{% if event.rev_type == "add index" %}
    			added text info for the text 
    		{% elif event.rev_type == "edit index" %}
    			edited the text info of 
    		{% endif %}
	    	{{ event.title|url_ref }}.
            {% if event.method == "API" %} (via API) {% endif %}
	    	</span>
	    {% endif %}
    	<div class="time">
    		{{ event.date|naturaltime }}
    	</div>
    </li>
{% empty %}
	<br><br>
    {% if profile %}
    <h3>{{ profile.first_name }} hasn't made any textual contributions yet.</h3>
    {% else %}
	<h3>This activity occurred in the time of pre-history: no details were recorded.</h3>
    {% endif %}
{% endfor %}
</ul>
{% if not single and next_page %}
    <a id="older" href="{{ next_page }}">Older Activity &raquo;</a>
{% endif %}