

<div id="activityFilter">
    <span class="filter">{% if not filter_type %} all activity {% else %} <a href="?">all activity</a> {% endif %}</span>
    <span class="filter">{% if filter_type == "translate" %} translations {% else %} <a href="?type=translate">translations</a> {% endif %}</span>
    <span class="filter">{% if filter_type == "publish_sheet" %} source sheets {% else %} <a href="?type=publish_sheet">source sheets</a> {% endif %}</span>
    <span class="filter">{% if filter_type == "add_text" %} new texts {% else %} <a href="?type=add_text">new texts</a> {% endif %}</span>
    <span class="filter">{% if filter_type == "edit_text" %} edits {% else %} <a href="?type=edit_text">edits</a> {% endif %}</span>
    <span class="filter">{% if filter_type == "add_note" %} notes {% else %} <a href="?type=add_note">notes</a> {% endif %}</span>
    <span class="filter">{% if filter_type == "review" %} reviews {% else %} <a href="?type=review">reviews</a> {% endif %}</span>
    <span class="filter">{% if filter_type == "index_change" %} text info {% else %} <a href="?type=index_change">text info</a> {% endif %}</span>
    <span class="filter">{% if filter_type == "revert_text" %} reversions {% else %} <a href="?type=revert_text">reversions</a> {% endif %}</span>
    <span class="filter">{% if filter_type == "flagged" %} flagged {% else %} <a href="?type=flagged">flagged</a> {% endif %}</span>

<!---
    rev types in db:
    "0" : "edit text",
    "1" : "add text",
    "2" : "add link",
    "3" : "edit index",
    "4" : "add note",
    "5" : "revert text",
    "6" : "edit link",
    "7" : "add index",
    "8" : "delete link",
    "9" : "edit note",
    "10" : "delete note",
    "11" : "review"
 -->

</div>