{% load sefaria_tags %}
{% load humanize %}

<ul id="activityList">
{% for event in activity %}
    <li>
        {% if event.rev_type == "delete index" %}
            <span class="topline">{{ event.user|user_link }} deleted the text <i>{{ event.title }}</i>.
            </span>

        {% elif event.rev_type == "delete text" %}
            <span class="topline">{{ event.user|user_link }} deleted a text version of <b>{{ event.title|ref_link }}</b>.
            </span>
    	   <div class="versionLine">Version: {{ event.version }} ({{ event.language|lang_code }})</div>

        {% elif "text" in event.rev_type %}
	    	
            {% if email and single and not forloop.first %}
	    		<div class="btn btn-mini revert" data-revert="/api/revert/{{ event.ref|url_safe }}/{{ lang }}/{{ version|url_safe }}/{{ event.revision }}">Revert to This</div>
	    	{% endif %}

	    	<span class="topline">{{ event.user|user_link }} 
    		{% if event.rev_type == "add text" and event.version == "Sefaria Community Translation" %}
    			translated 
            {% elif event.rev_type == "add text" %}
                added
    		{% elif event.rev_type == "edit text" %}
    			edited 
    		{% elif event.rev_type == "revert text" %}
    			reverted
    		{% endif %}
	    	{{ event.ref|ref_link }}
            {% if event.method == "API" %} (via API) {% endif %}
            {% if event.summary %}
                and <a class="showAllActivity" href="{{ event.history_url }}">{{ event.updates_count }} others &raquo;</a>

	    	{% elif not single %}
	    		<a class="historyLink" href="{{ event.history_url }}">history &raquo;</a>
	    	{% endif %}
	    	</span>
            <div class="versionLine">Version: {{ event.version }} ({{ event.language|lang_code }})</div>
	    	<div class="text {{ event.language }}">
	    		{% autoescape off %}{{ event.diff_html }}{% endautoescape %}
	    	</div>


	    {% elif "link" in event.rev_type %}
	    	<span class="topline">{{ event.user|user_link }}  
    		{% if event.rev_type == "add link" %}
    			added a connection 
    		{% elif event.rev_type == "edit link" %}
    			edited a connection  
    		{% elif event.rev_type == "delete link" %}
    			deleted a connection  
    		{% endif %}
    		{% if event.new.type %}({{ event.new.type }}){% endif %}
	    	between {% filter ref_link %}{% firstof event.new.refs.0 event.old.refs.0 %}{% endfilter %} and {% filter ref_link %}{% firstof event.new.refs.1  event.old.refs.1 %}{% endfilter %}.
	    	{% if event.method == "API" %} (via API) {% endif %}
            </span>
            <div class="versionLine">
            {% if event.rev_type == "add link" and event.new.generated_by == "add_commentary_links" %}(automatic commentary link){% endif %}
            {% if event.rev_type == "add link" and event.new.generated_by == "add_links_from_text" %}(automatic citation link){% endif %}
            </div>


	    {% elif "note" in event.rev_type %}
	    	<span class="topline">{{ event.user|user_link }}  
    		{% if event.rev_type == "add note" %}
    			added a note to 
    		{% elif event.rev_type == "edit note" %}
    			edited a note on  
    		{% elif event.rev_type == "delete note" %}
    			deleted a note on 
    		{% endif %}
	    	{% filter ref_link %}{% firstof event.new.ref event.old.ref %}{% endfilter %}.
            {% if event.method == "API" %} (via API) {% endif %}
	    	</span>
	    	<div class="text">
	    		{% firstof event.new.title event.old.title %}: {% firstof event.new.text event.old.text %}
	    	</div>


	   	{% elif "index" in event.rev_type %}
	    	<span class="topline">{{ event.user|user_link }}  
    		{% if event.rev_type == "add index" %}
    			added text info for the text 
    		{% elif event.rev_type == "edit index" %}
    			edited the text info of 
    		{% endif %}
	    	{{ event.title|ref_link }}.
            {% if event.method == "API" %} (via API) {% endif %}
            <span class="indexDetailsLink">details &raquo;</span>
	    	</span>

            <div class="indexDetails" style="display:none">
                New:
                <pre>{{ event.new|pprint }}</pre>
                Old:
                <pre>{{ event.old|pprint }}</pre>
            </div>

	    {% elif "review" in event.rev_type %}
            <span class="topline">{{ event.user|user_link }} reviewed {{ event.ref|ref_link }} .</span>
            {% if not single %}
                <a class="historyLink" href="{{ event.history_url }}">history &raquo;</a>
            {% endif %} 
            <div class="versionLine">Version: {{ event.version }} ({{ event.language|lang_code }})</div>
            <div class="score raty" data-raty="{{ event.score }}"></div>
            <div class="text">
                {{ event.comment|linebreaksbr }}
            </div>
        

        {% elif event.rev_type == "publish sheet" %}
            <span class="topline">{{ event.user|user_link }} published a new Source Sheet, {{ event.sheet|sheet_link }}.
            </span>

        {% endif %}



    	<div class="time">
    		{{ event.date|naturaltime }}
    	</div>
        {% if event.summary %}
            <a class="showAllActivity bottom" href="{{ event.history_url }}">{{ event.updates_count }} related &raquo;</a>
        {% endif %}
    </li>
{% empty %}
    {% if empty_message %}
        <i>{{ empty_message }}</i>
    {% elif profile %}
        <i>No {% if filter_type %}matching{% endif %} public activity yet.</i>
    {% else %}
	   <i>No {% if filter_type %}matching{% endif %} public history items.</i>
    {% endif %}
{% endfor %}
</ul>
{% if next_page and not hide_more_link %}
    <a id="older" href="{{ next_page }}">Older Activity &raquo;</a>
{% endif %}
