{% load i18n humanize sefaria_tags %}

<ul id="activityList">
{% for event in activity %}
    <li>
        {% if event.rev_type == "delete index" %}
            <span class="topline">{{ event.user|user_link }} {% trans "deleted the text" %} <i>{% if he %}{{ event.title|he_ref }}{% else %}{{ event.title }}{% endif %}</i>.
            </span>


        {% elif event.rev_type == "delete text" %}
            <span class="topline">{{ event.user|user_link }} {% trans "deleted a text version of" %} <b>{{ event.title|ref_link }}</b>.
            </span>
    	   <div class="versionLine">{% trans "Version" %}: {% if he %}{{ event.version|he_version }}{% else %}{{ event.version }}{% endif %} ({{ event.language|lang_code }})</div>


        {% elif "text" in event.rev_type %}
	    	<span class="topline">{{ event.user|user_link }} 
    		{% if event.rev_type == "add text" and event.version == "Sefaria Community Translation" %}
    			{% trans "translated" %} 
            {% elif event.rev_type == "add text" %}
                {% trans "added" %}
    		{% elif event.rev_type == "edit text" %}
    			{% trans "edited" %} 
    		{% elif event.rev_type == "revert text" %}
    			{% trans "reverted" %}
    		{% endif %}
	    	{% if he%}{{ event.ref|he_ref_link }}{% else %}{{ event.ref|ref_link }}{% endif %}
            {% if event.method == "API" %} (via API) {% endif %}
            {% if event.summary %}
                {% trans "and " %}<a class="showAllActivity" href="{{ event.history_url }}">{{ event.updates_count }} {% trans "others" %} &raquo;</a>

	    	{% elif not single %}
	    		<a class="historyLink" href="{{ event.history_url }}">{% trans "history" %} &raquo;</a>
	    	{% endif %}
	    	</span>
            <div class="versionLine">{% trans "Version" %}: {% if he %}{{ event.version|he_version }}{% else %}{{ event.version }}{% endif %} ({{ event.language|lang_code }})</div>
	    	<div class="text ver-{{ event.language }}">
	    		{% autoescape off %}{{ event.diff_html }}{% endautoescape %}
	    	</div>


	    {% elif "link" in event.rev_type %}
	    	<span class="topline">{{ event.user|user_link }}  
    		{% if event.rev_type == "add link" %}
    			{% trans "added a connection" %} 
    		{% elif event.rev_type == "edit link" %}
    			{% trans "edited a connection" %}  
    		{% elif event.rev_type == "delete link" %}
    			{% trans "deleted a connection" %}  
    		{% endif %}
    		{% if event.new.type %}({{ event.new.type }}){% endif %}
	    	{% trans "between" %}
            {% if he %}
                {% filter he_ref_link %}{% firstof event.new.refs.0 event.old.refs.0 %}{% endfilter %}
            {% else %}
                {% filter ref_link %}{% firstof event.new.refs.0 event.old.refs.0 %}{% endfilter %}
            {% endif %}
            {% trans "and " %}
            {% if he %}
                {% filter he_ref_link %}{% firstof event.new.refs.1 event.old.refs.1 %}{% endfilter %}
            {% else %}
                {% filter ref_link %}{% firstof event.new.refs.1 event.old.refs.1 %}{% endfilter %}
            {% endif %}
	    	{% if event.method == "API" %} (via API) {% endif %}
            </span>
            <div class="versionLine">
            {% if event.rev_type == "add link" and event.new.generated_by == "add_commentary_links" %}({% trans "automatic commentary link" %}){% endif %}
            {% if event.rev_type == "add link" and event.new.generated_by == "add_links_from_text" %}({% trans "automatic citation link" %}){% endif %}
            </div>


	    {% elif "note" in event.rev_type %}
	    	<span class="topline">{{ event.user|user_link }}  
    		{% if event.rev_type == "add note" %}
    			{% trans "added a note to " %} 
    		{% elif event.rev_type == "edit note" %}
    			{% trans "edited a note on " %}  
    		{% elif event.rev_type == "delete note" %}
    			{% trans "deleted a note on " %} 
    		{% endif %}
            {% if he %}
                {% filter he_ref_link %}{% firstof event.new.ref event.old.ref %}{% endfilter %}.
            {% else %}
                {% filter ref_link %}{% firstof event.new.ref event.old.ref %}{% endfilter %}.
            {% endif %}
            {% if event.method == "API" %} (via API) {% endif %}
	    	</span>
	    	<div class="text">
	    		{% firstof event.new.title event.old.title %}: {% firstof event.new.text event.old.text %}
	    	</div>


	   	{% elif "index" in event.rev_type %}
	    	<span class="topline">{{ event.user|user_link }}  
    		{% if event.rev_type == "add index" %}
    			{% trans "added text info for the text" %}
    		{% elif event.rev_type == "edit index" %}
    			{% trans "edited the text info of" %} 
    		{% endif %}
	    	{% if he %}{{ event.title|he_ref_link }}{% else %}{{ event.title|ref_link }}{% endif %}.
            {% if event.method == "API" %} (via API) {% endif %}
            <span class="indexDetailsLink">{% trans "details" %} &raquo;</span>
	    	</span>

            <div class="indexDetails" style="display:none">
                New:
                <pre>{{ event.new|pprint }}</pre>
                Old:
                <pre>{{ event.old|pprint }}</pre>
            </div>

        {% elif "term" in event.rev_type %}
            <span class="topline">{{ event.user|user_link }}  
            {% if event.rev_type == "add term" %}
                {% trans "added a term" %}
            {% elif event.rev_type == "edit term" %}
                {% trans "edited the term" %} 
            {% elif event.rev_type == "delete term" %}
                {% trans "deleted the term" %} 
            {% endif %}
            {% if he %}{% firstof event.new.name event.old.name %}{% else %}{% firstof event.new.name event.old.name %}{% endif %}.
            {% if event.method == "API" %} (via API) {% endif %}
            <span class="indexDetailsLink">{% trans "details" %} &raquo;</span>
            </span>

            <div class="indexDetails" style="display:none">
                New:
                <pre>{{ event.new|pprint }}</pre>
                Old:
                <pre>{{ event.old|pprint }}</pre>
            </div>


	    {% elif "review" in event.rev_type %}
            <span class="topline">{{ event.user|user_link }} {% trans "reviewed" %} {% if he %}{{ event.ref|he_ref_link }}{% else %}{{ event.ref|ref_link }}{% endif %} .</span>
            {% if not single %}
                <a class="historyLink" href="{{ event.history_url }}">{% trans "history" %} &raquo;</a>
            {% endif %} 
            <div class="versionLine">{% trans "Version" %}: {% if he %}{{ event.version|he_version }}{% else %}{{ event.version }}{% endif %} ({{ event.language|lang_code }})</div>
            <div class="score raty" data-raty="{{ event.score }}"></div>
            <div class="text">
                {{ event.comment|linebreaksbr }}
            </div>
        

        {% elif event.rev_type == "publish sheet" %}
            <span class="topline">{{ event.user|user_link }} {% trans "published a new Source Sheet" %}, {{ event.sheet|sheet_link }}.
            </span>

        {% endif %}


    	<div class="time">
    		{{ event.date|naturaltime }}
    	</div>
        {% if event.summary %}
            <a class="showAllActivity bottom" href="{{ event.history_url }}">{{ event.updates_count }} {% trans "related" %} &raquo;</a>
        {% endif %}
    </li>
{% empty %}
    {% if empty_message %}
        <i>{{ empty_message }}</i>
    {% elif profile %}
        {% if filter_type %}
        <i>{% trans "No matching public activity yet." %}</i>
        {% else %}
        <i>{% trans "No public activity yet." %}</i>
        {% endif %}
    {% else %}
        {% if filter_type %}
        <i>{% trans "No matching public history items." %}</i>
        {% else %}
        <i>{% trans "No public history items." %}</i>
        {% endif %}
    {% endif %}
{% endfor %}
</ul>
{% if next_page and not hide_more_link %}
    <a class="page-link" id="older" href="{{ next_page }}">{% trans "Older Activity" %} &raquo;</a>
{% endif %}