{% load humanize %}
{% load sefaria_tags %}


<span class="available">
	{% if text.percentAvailable and text.percentAvailable.he != "unknown" %}
		<div class="progressBar heAvailable" style="width:{{ text.percentAvailable.he|floatformat|default:'0' }}%">
		</div>
		<div class="progressBar enAvailable" style="width:{{ text.percentAvailable.en|floatformat|default:'0' }}%">
		</div>
	{% else %}
		<div class="progressBar heAvailable" style="width:{{ text.availableCounts.he|sum_counts }}%">
		</div>
		<div class="progressBar enAvailable" style="width:{{ text.availableCounts.en|sum_counts }}%">
		</div>
	{% endif %}
	<span class="availableBox">
		<div>
			<span class="detailsTitle">Hebrew:</span> 
			{% for name, num in text.availableCounts.he.items %} 
				{% if num > -1 %}
					{{ num|intcomma }} {{ name }}{{ num|pluralize }}{% if not forloop.last %},{% endif%}
				{% endif %}
			{% empty %}
				<i>none</i>
			{% endfor %}
		</div>
		<div><span class="detailsTitle">English:</span>
			{% for name, num in text.availableCounts.en.items %} 
				{% if num > -1 %}
					{{ num|intcomma }} {{ name }}{{ num|pluralize }}{% if not forloop.last %},{% endif%}
				{% endif %}
			{% empty %}
				<i>none</i>
			{% endfor %}			
		</div>
	</span>
</span>