{% load humanize %}

<span class="available">
	<span class="detailsTitle">Available:</span>
	{% if text.percentAvailable %}
		{{ text.percentAvailable.he|floatformat|default:"unknown " }}% / {{ text.percentAvailable.en|floatformat|default:"unknown " }}%
	{% else %}
		<i>hover for details</i>
	{% endif %}
	<span class="availableBox">
		<div>
			<span class="detailsTitle">Hebrew:</span> 
			{% for name, num in text.availableCounts.he.items %} 
				{% if num > -1 %}
					{{ num|intcomma }} {{ name }}{{ num|pluralize }}{% if not forloop.last %},{% endif%}
				{% endif %}
			{% empty %}
				<i>none</i>
			{% endfor %}
		</div>
		<div><span class="detailsTitle">English:</span>
			{% for name, num in text.availableCounts.en.items %} 
				{% if num > -1 %}
					{{ num|intcomma }} {{ name }}{{ num|pluralize }}{% if not forloop.last %},{% endif%}
				{% endif %}
			{% empty %}
				<i>none</i>
			{% endfor %}			
		</div>
	</span>
</span>