{% load humanize %}

<table>
	<tr>
		<td class="categoryName" id="{{ category.category.split|join:"_" }}"><span ><img src="/static/img/menu.png">{{ category.category }}</span></td>
		<td class="length">
			<span>
			{% if category.num_texts > 0 %}
				{{ category.num_texts }} texts{% for name, num in category.section_lengths.items %}, {{ num|intcomma }} {{ name }}{{ num|pluralize }}{% endfor %}
			{% else %}
				{% if category.availableCounts.he.Text > category.availableCounts.en.Text %}
				{{ category.availableCounts.he.Text }} text{{ category.availableCounts.he.Text|pluralize }} known
				{% else %}
				{{ category.availableCounts.en.Text }} text{{ category.availableCounts.en.Text|pluralize }} known
				{% endif %}
			{% endif %}
			</span>
		</td>
		<td class="counts">
		{% include "elements/availableCounts.html" with text=category %}
		</td>
	</tr>
</table>