<div id="contributePrompt" class="modal">
	<h2>Can you Translate Hebrew?</h2>
	<p>Our current goal is to create the first free translation of the third section of the Shulchan Arukh, Even HaEzer.</p>
	<div class="actions">
		<span class="actionOption">
			<a href="/translate/Shulchan_Arukh,_Even_HaEzer">
				<div class="btn btn-info btn-large">Help Translate</div>
			</a>
		</span>
		<p>Sefaria is developed by an open community. Anyone with the skills to <b>translate</b>, <b>annotate</b>, or <b>edit</b> Jewish texts can contribute to a free, reusable, public resource. <a href="/contribute">Read the Guide to Contributing &raquo;</a></p>
	</div>
	<div class="btn close">Close</div>
	<div id="dontShow">
		<input type="checkbox" id="hideContribute" /> Don't show this message again.
	</div>
</div>