<div id="contributePrompt" class="modal">
	<h2>You can help a free Torah resource grow.</h2>
	<p>Sefaria was built so that everyone with the skills to <b>translate</b>, <b>annotate</b>, <b>copy</b>, or <b>edit</b> Jewish texts could contribute to the public good. <b>Get started now:</b><p>
	<div class="clear"></div>
	<div class="actions">
		<div class="btn btn-primary btn-large">Watch a Tutorial Video</div>
		or read the <a href="/contribute">Guide to Contributing</a>. 
	</div>
	<div class="btn ok">OK</div>
	<div id="dontShow">
		<input type="checkbox" id="hideContribute" /> Don't show this message again.
	</div>

</div>