<div id="contributePrompt" class="modal">
	<h2>You can help build a free Torah resource.</h2>
	<p>Sefaria is developed by an open community. Anyone with the skills to <b>translate</b>, <b>annotate</b>, or <b>edit</b> Jewish texts can contribute to a free, reusable, public resource. <b>Get started now.</b><p>
	<div class="clear"></div>
	<div class="actions">
		<span class="actionOption">
			<div id="watchEditVideo" class="btn btn-info btn-large">Watch a Tutorial Video</div>
		</span>
		<div id="or">or</div>
		<a class="actionOption" href="/contribute">Read the Guide to Contributing</a>. 
	</div>
	<div class="btn close">Close</div>
	<div id="dontShow">
		<input type="checkbox" id="hideContribute" /> Don't show this message again.
	</div>
</div>

<div id="editVideo" class="modal">
	<iframe width="852" height="480" src="http://www.youtube.com/embed/aNg2AHC_xXY?rel=0" frameborder="0" allowfullscreen></iframe><br>
	<div class="btn close">Close</div>
</div>