<footer id="footer" class="{% if class %} {{ class }}{% endif %}">
	<div class="container">
		<div class="row">
			<div class="section span2 offset2">
				<div class="header">About</div>
					<a href="/#about">About Sefaria</a>
					<a href="/terms">Terms of Use</a>
					<a href="/privacy-policy">Privacy Policy</a>
					<a href="/copyright-policy">Copyright Policy</a>
					<a href="/related-projects">Related Projects</a>
			</div>
			<div class="section span2">
				<div class="header">Educators</div>
					<a href="/contribute">Get Involved</a>
					<a href="/educators">Teach with Sefaria</a>
					<a href="/sheets">Source Sheets</a>
					<a href="/activity">Recent Activity</a>
			</div>
			<div class="section span2">
				<div class="header">Developers</div>
					<a href="/developers">Get Involved</a>
					<a href="/developers#api">API Docs</a>
					<a href="https://github.com/blockspeiser/Sefaria-Project">Fork us on GitHub</a>
					<a href="https://github.com/blockspeiser/Sefaria-Data">Download our Data</a>
					<a href="/jobs">Jobs</a>
			</div>
			<div class="section span2">
				<div class="header">Connect</div>
					<a href="https://groups.google.com/forum/?fromgroups#!forum/sefaria">Forum</a>
					<a href="http://www.facebook.com/sefaria.org">Facebook</a>
					<a href="http://twitter.com/SefariaProject">Twitter</a>
					<a href="http://www.youtube.com/user/SefariaProject">YouTube</a>
					<a href="mailto:hello@sefaria.org">Email</a>
			</div>
		</div>
	</div>
</footer>