{% if S2 %}
    {% autoescape off %}
        <footer id="footer" class="interface-{{ request.interfaceLang }} static sans context">
            {{ footer }}
        </footer>
    {% endautoescape %}
{% else %}
<footer id="footer" class="{% if class %}{{ class }}{% endif %}">
	<div class="container">
		<div class="row">
			<div class="section span2 offset2">

				<div class="header">
					<span class="en">About</span>
					<span class="he">אודות</span>
				</div>
				<a href="/about">
					<span class="en">About Sefaria</span>
					<span class="he">אודות ספריא</span>
				</a>
				<a href="https://github.com/Sefaria/Sefaria-Project/wiki#frequently-asked-questions" target="_blank">
					<span class="en">FAQ</span>
					<span class="he">שאלות נפוצות</span>
				</a>
				<a href="/terms">
					<span class="en">Terms of Use</span>
					<span class="he">תנאי שימוש</span>
				</a>
				<a href="/privacy-policy">
					<span class="en">Privacy Policy</span>
					<span class="he">מדיניות הפרטיות</span>
				</a>
				<a href="/supporters">
					<span class="en">Supporters</span>
					<span class="he">תומכים</span>
				</a>
				<a href="/team">
					<span class="en">Team</span>
					<span class="he">צוות</span>
				</a>					
				<a href="/donate">
					<span class="en">Donate</span>
					<span class="he">תרומות</span>
				</a>
			</div>
			<div class="section span2">
				<div class="header">
						<span class="en">Educators</span>
						<span class="he">מחנכים</span>
				</div>
				<a href="/contribute" target="_blank">
					<span class="en">Get Involved</span>
					<span class="he">הצטרף אלינו</span>
				</a>
				<a href="/educators" target="_blank">
					<span class="en">Teach with Sefaria</span>
					<span class="he">למד באמצעות ספריא</span>
				</a>
				<a href="/sheets">
					<span class="en">Source Sheets</span>
					<span class="he">דפי מקורות</span>
				</a>
				<a href="/activity">
					<span class="en">Recent Activity</span>
					<span class="he">פעילות אחרונה</span>
				</a>
				<a href="/explore">
					<span class="en">Link Explorer</span>
					<span class="he">גרף קשרים</span>
				</a>
			</div>
			<div class="section span2">
				<div class="header">
					<span class="en">Developers</span>
					<span class="he">מפתחים</span>
				</div>
				<a href="/developers" target="_blank">
					<span class="en">Get Involved</span>
					<span class="he">הצטרף אלינו</span>
				</a>
				<a href="/developers#api" target="_blank">
					<span class="en">API Docs</span>
					<span class="he">מסמכי API</span>
				</a>
				<a href="https://github.com/Sefaria/Sefaria-Project" target="_blank">
					<span class="en">Fork us on GitHub</span>
					<span class="he">זלגו חופשי מגיטהאב</span>
				</a>
				<a href="https://github.com/Sefaria/Sefaria-Export" target="_blank">
					<span class="en">Download our Data</span>
					<span class="he">הורד את בסיס הנתונים שלנו</span>
				</a>
				<a href="/jobs">
					<span class="en">Jobs</span>
					<span class="he">דרושים</span>
				</a>
			</div>
			<div class="section span2">
				<div class="header">
					<span class="en">Connect</span>
					<span class="he">התחבר</span>
				</div>
				<a href="https://groups.google.com/forum/?fromgroups#!forum/sefaria" target="_blank">
					<span class="en">Forum</span>
					<span class="he">פורום</span>

				</a>
				<a href="http://www.facebook.com/sefaria.org" target="_blank">
					<span class="en">Facebook</span>
					<span class="he">פייסבוק</span>

				</a>
				<a href="http://twitter.com/SefariaProject" target="_blank">
					<span class="en">Twitter</span>
					<span class="he">טוויטר</span>

				</a>
				<a href="http://www.youtube.com/user/SefariaProject" target="_blank">
					<span class="en">YouTube</span>
					<span class="he">יוטיוב</span>

				</a>
				<a href="mailto:hello@sefaria.org" target="_blank">
					<span class="en">Email</span>
					<span class="he">דוא"ל</span>
				</a>
			</div>
		</div>
	</div>
</footer>
{% endif %}
