<header id="header" {% if class %}class="{{ class }}"{% endif %}>
	<div id="right">
		<a href="/contribute">Get Involved</a>
		<a href="/donate">Donate</a>
		<a href="https://groups.google.com/forum/?fromgroups#!forum/sefaria" target="_blank">Forum</a>
		<a href="/activity">Activity</a>
		{% if user.email %}
			{% include "elements/accountBox.html" %}
		{% else %}
		<a href="/login">Login</a>
		<a href="/register">Sign Up</a>
		{% endif %}
	</div>
	<div id="left">
		<a id="logo" href="/">Sefaria</a>
		<div id="textsMenu">
			Texts<span class="ui-icon ui-icon-triangle-1-s"></span>
			{% include "elements/texts_list.html" %}
		</div>
		<a href="/sheets">Sheets</a>
		<a href="/topics">Topics</a>
	</div>
</header>
