<header id="header" {% if class %}class="{{ class }}"{% endif %}>
	<div id="right">
		<a href="/contribute">Get Involved</a>
		<a href="/donate">Donate</a>
		<a href="https://groups.google.com/forum/?fromgroups#!forum/sefaria" target="_blank">Forum</a>
		<a href="/activity">Activity</a>
		{% if user.email %}
			{% include "elements/accountBox.html" %}
		{% else %}
		<a href="/login">Login</a>
		<a href="/register">Sign Up</a>
		{% endif %}
	</div>
	<div id="left">
		<span id="logo"><a href="/">Sefaria</a></span>
		<div id="textsMenu">
			Texts
			{% include "elements/texts_list.html" %}
		</div>
		<a href="/sheets">Sheets</a>
	</div>
</header>
