{% load static %}

<style>
  #appLoading .loading-logo-english { height: 42px; width: auto; margin-bottom: 6px; }
  #appLoading .loading-logo-hebrew  { height: 49px; width: auto; margin-bottom: 6px; }
</style>
<div id="appLoading">
    <div class='loadingMessage'>
      {% if SITE_SETTINGS.TORAH_SPECIFIC %}
      {% with logo_path="img/"|add:active_module|add:"-logo-"|add:request.interfaceLang|add:".svg" %}
      <img src="{% static logo_path %}" alt="Sefaria Loading Icon" class="loading-logo-{{ request.interfaceLang }}" />
      {% endwith %}
      <br>
      {% endif %}
      <div class="smallText">
      	<span class="int-he">טעינה...</span>
      	<span class="int-en">Loading...</span>
        </div>
    </div>
</div>
