{% load humanize %}
{% load sefaria_tags %}
{% load i18n %}

<div class="notification {% if not notification.read %}unread{% endif %}" data-id="{{ notification.id }}">

    {% if notification.type == "general" %}
        <div>
            <span class="int-en">{% autoescape off %}{{ notification.content.en }}{% endautoescape %}</span>
            <span class="int-he">{% autoescape off %}{{ notification.content.he }}{% endautoescape %}</span>
        </div>

    {% elif notification.type == "version" %}
        <div>
            <span class="int-en">{% trans "New" %}{% if notification.content.language == "en" %}{% trans "English" %}{% else %}{% trans "Hebrew" %} {% endif %} {% trans "version of" %}
                {{ notification.content.index|text_toc_link }}: {{notification.content.version }}</span>
            <span class="int-he">{% trans "New" %}{% if notification.content.language == "en" %}{% trans "English" %}{% else %}{% trans "Hebrew" %} {% endif %} {% trans "version of" %}
                {{ notification.content.index|text_toc_link }}: {{notification.content.version }}</span>
        </div>
        <div class="added-description">
            <span class="int-en">{% autoescape off %}{{ notification.content.en }}{% endautoescape %}</span>
            <span class="int-he">{% autoescape off %}{{ notification.content.he }}{% endautoescape %}</span>
        </div>

    {% elif notification.type == "index" %}
        <div>
            <span class="{{ language_font_class }}">{% trans "New Text:"%} {{ notification.content.index|text_toc_link }}</span>
        </div>
        <div class="added-description">
            <span class="int-en">{% autoescape off %}{{ notification.content.en }}{% endautoescape %}</span>
            <span class="int-he">{% autoescape off %}{{ notification.content.he }}{% endautoescape %}</span>
        </div>

	{% elif notification.type == "sheet like" %}
        <div>
            <span class="{{ language_font_class }}">{{ notification.content.liker|user_link }} {% trans "likes your sheet," %} {{ notification.content.sheet_id|sheet_link }}.</span>
        </div>

	{% elif notification.type == "sheet publish" %}
        <div>
            <span class="{{ language_font_class }}">{{ notification.content.publisher|user_link }}{% trans "published a new sheet"%}<div class="sheetLink">{{ notification.content.sheet_id|sheet_link }}</div></span>
        </div>

	{% elif notification.type == "follow" %}
        <div>
            <span class="{{ language_font_class }}">{{ notification.content.follower|user_link }}{% trans "is now following you." %}</span>
        </div>

    {% elif notification.type == "group add" %}
        <!-- for legacy data -->
        <div>
            <span class="{{ language_font_class }}">{{ notification.content.adder|user_link }}{% trans "added you to the collection" %} {{ notification.content.group_name|group_link }}.</span>
        </div>

    {% elif notification.type == "collection add" %}
        <div>
            <span class="{{ language_font_class }}">{{ notification.content.adder|user_link }}{% trans "added you to the collection" %} {{ notification.content.collection_slug|collection_link }}.</span>
        </div>

	{% elif notification.type == "discuss" %}
        <div>
            <span class="{{ language_font_class }}">{{ notification.content.adder|user_link }}{% trans "added a note to a" %}<a href="{{ notification.content.discussion_path|url_safe }}">{% trans "discussion you follow" %}</a>.</span>
        </div>
        
	{% elif notification.type == "unset" %}
        <div>
            This is a notification without a type, it shouldn't exist.
        </div>

	{% endif %}
	<div class="date">
        <span class="int-en">{{ notification.date|naturaltime }}</span>
        <span class="int-he">{{ notification.date|date:'d/m/y H:m'}}</span>
        <span class="int-zh">{{ notification.date|naturaltime }}</span>
    </div>

</div>