{% load humanize %}
{% load sefaria_tags %}

<div class="notification {% if not notification.read %}unread{% endif %}" data-id="{{ notification.id }}">
	
	{% if notification.type == "message" %}
		<div>
			{{ notification.content.sender|user_link }} sent you a message:&nbsp;&nbsp;&nbsp;
			{% autoescape off %}{{ notification.content.message|truncatechars:240 }}{% endautoescape %}
			<div class="messageText">{% autoescape off %}{{ notification.content.message }}{% endautoescape %}</div>
		</div>
		<div class="btn btn-mini messageView" data-recipient='{{ notification.content.sender }}'>View</div>
		<div class="btn btn-mini messageReply" data-recipient='{{ notification.content.sender }}'>Reply</div>

    {% elif notification.type == "general" %}
        <div>
            <span class="int-en">{{ notification.content.en }}</span>
            <span class="int-he">{{ notification.content.he }}</span>
        </div>

    {% elif notification.type == "version" %}
        <div>
            <span class="int-en">New {% if notification.content.language == "en" %}English{% else %}Hebrew{% endif %} version of
                {{ notification.content.index|text_toc_link }}: {{notification.content.version }}</span>
            <span class="int-he">גרסה חדשה של {{ notification.content.index|text_toc_link }} ב{% if notification.content.language == "en" %}אנגלית{% else %}עברית{% endif %} : {{notification.content.version }}</span>
        </div>

    {% elif notification.type == "index" %}
        <div>
            <span class="int-en">New Text: {{ notification.content.index|text_toc_link }}</span>
            <span class="int-he">טקסט חדש זמין: {{ notification.content.index|text_toc_link }}</span>
        </div>

	{% elif notification.type == "sheet like" %}
		{{ notification.content.liker|user_link }} likes your Source Sheet, {{ notification.content.sheet_id|sheet_link }}.

	{% elif notification.type == "sheet publish" %}
		{{ notification.content.publisher|user_link }} published a new Source Sheet, {{ notification.content.sheet_id|sheet_link }}.

	{% elif notification.type == "follow" %}
		{{ notification.content.follower|user_link }} is now following you.

	{% elif notification.type == "discuss" %}
		{{ notification.content.adder|user_link }} added a note to a <a href="{{ notification.content.discussion_path|url_safe }}">discussion you follow</a>.

	{% elif notification.type == "unset" %}
		This is a notification without a type, it shouldn't exist.
	
	{% endif %}
	<div class="date">{{ notification.date|naturaltime }}</div>

</div>