{% load humanize %}
{% load sefaria_tags %}

<div class="notification {% if not notification.read %}unread{% endif %}" data-id="{{ notification.id }}">
	{% if notification.type == "new follower" %}

	{% elif notification.type == "sheet like" %}
		{{ notification.content.liker|user_link }} likes your Source Sheet, {{ notification.content.sheet_id|sheet_link }}.

	{% elif notification.type == "unset" %}
		This is a notification without a type, it shouldn't exist.
	
	{% endif %}
	<div class="date">{{ notification.date|naturaltime }}</div>

</div>