<link rel="stylesheet" href="/static/css/s2.css">

<style>
  body {
    overflow: visible;
  }
</style>

{% if not OFFLINE %}
<script src="https://use.typekit.net/aeg8div.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>
<script>
  WebFont.load({
    google: {
      families: ['Montserrat:400,700', 'Open Sans Hebrew:400,700:latin,hebrew' ]
    }
  });
</script>
{% endif %}

<div id="s2" class="headerOnly"></div>

{% block js %}
<script src="/static/js/headroom.js"></script>
<script src="/static/js/jquery.scrollTo.js"></script>
<script src="/static/js/sefaria-util.js"></script>
<script src="/static/js/sefaria.js"></script>
{% if DEBUG %}
<script src="/static/js/react.js"></script>
<script src="/static/js/react-dom.js"></script>
<script src="/static/js/JSXTransformer.js"></script>
<script type="text/jsx" src="/static/js/s2.jsx"></script>
{% else %}
<script src="/static/js/react-min.js"></script>
<script src="/static/js/react-dom-min.js"></script>
<script src="/static/js/s2.js"></script>
{% endif %}
<script {% if DEBUG %}type="text/jsx"{% endif %}>
  {% autoescape off %}
  $(function() {

    var settings = {
      language: "{{ contentLang }}",
      layoutDefault: $.cookie("layoutDefault") || "segmented",
      layoutTalmud:  $.cookie("layoutTalmud")  || "continuous",
      layoutTanach:  $.cookie("layoutTanach")  || "segmented",
      color:         $.cookie("color")         || "light",
      fontSize:      $.cookie("fontSize")      || 62.5
    };
    var multiPanel    = $(window).width() > 600;

    ReactDOM.render(
      React.createElement(ReaderApp, {
        headerMode: true,
        multiPanel: multiPanel,
        initialRefs: [],
        initialFilter: [],
        initialMenu: null,
        initialQuery: null,
        initialSheetsTag: null,
        initialNavigationCategories: [],
        initialSettings: settings,
        initialPanels: []}),
      document.getElementById('s2')
    );

  });
  {% endautoescape %}
</script>
{% endblock %}