<span id="shareLink"><i class='fa fa-share-alt'></i> Share</span>

<div id="shareModal" class="modal">
    <h3>Share this Page</h3>
    <!-- AddThis Button BEGIN -->
    <div class="shareBox addthis_toolbox addthis_default_style addthis_32x32_style">
        <input id="shareModalInput" value="{{ request.build_absolute_uri }}">
        <a class="addthis_button_facebook"></a>
        <a class="addthis_button_twitter"></a>
        <a class="addthis_button_gmail"></a>
        <a class="addthis_button_email"></a>
    </div>
    <!-- AddThis Button END --> 
</div>
