{% load sefaria_tags %}
{% load humanize %}

<table class="sheetTable {% if collapse %}collapsed{% endif %}{% if not public and not group %} private{% endif %}">
	{% if sheets.count %}
	<thead>
		<tr>
			<td class="title">Title</td>
			<td class="author">Author</td>
			<td class="views">Views</td>
			<td class="size">Size</td>
			<td class="modified">Modified</td>
		</tr>
	</thead>
	<tbody>
		{% for sheet in sheets %}
		<tr class="sheetRow" data-id="{{ sheet.id }}">
			<td class="title">
			{% if sheet.url %}
				<a class="title" href="/topics/{{ sheet.url }}">
			{% else %}
				<a class="title" href="/sheets/{{ sheet.id }}">
			{% endif %}
					{{ sheet.title|strip_html_entities|strip_tags }}
				</a>
				{% for tag in sheet.tags %}
					{% if group %}
					<a href="/groups/{{ group|url_safe }}/tags/{{ tag }}" class="tag">{{ tag }}</a>
					{% elif not public %}
					<a href="/sheets/private/tags/{{ tag }}" class="tag">{{ tag }}</a>
					{% else %}
					<a href="/sheets/tags/{{ tag }}" class="tag public">{{ tag }}</a>
					{% endif %}
				{% endfor %}
				<span class="editTags tag {% if public %}public{% endif %}"><i class="fa fa-tags"></i> edit</span>

				{% if not public and sheet.status == 3 or sheet.status == 7 %}
					<span class="badge badge-success">Public</span>
				{% endif %}
			</td>
			<td class="author">
				<i class="fa fa-user"></i>
				{{ sheet.owner|user_link }}
			</td>
			<td class="views">
				<i class="fa fa-eye"></i>
				{{ sheet.views }}
			</td>

			<td class="size">
				<i class="fa fa-file-text-o"></i>
				{{ sheet.sources|length }}
			</td>
			<td class="modified">
				<i class="fa fa-clock-o"></i>
				{{ sheet.dateModified|nice_timestamp }}
			</td>
		</tr>
		{% endfor %}
	{% else %}
		<div class="sheetRow">
			<center>
			<i>{{ empty_message|default:"No sheets here yet." }}</i>
			</center>
		</div>
	{% endif %}
	</tbody>
	{% if collapse %}
		<tfoot>
			<tr class="moreSheets">
				<td colspan="4">Show all sheets <span class="ui-icon ui-icon-triangle-1-s"></span></td>
			</tr>
		</tfoot>
	{% endif %}
</table>