{% load sefaria_tags %}
{% load humanize %}

{% if tags|length %}
<div class="sheetTagList">
    <div class="title">{{ title }}</div>
    {% for tag in tags %}
        {% if group %}
        <a class="sheetTag" href="/partners/{{ group|url_safe }}/tags/{{ tag.tag }}">
        {% elif not public %}
        <a class="sheetTag" href="/sheets/private/tags/{{ tag.tag }}">
        {% else %}
        <a class="sheetTag" href="/sheets/tags/{{ tag.tag }}">
        {% endif %}
            <i class="fa fa-tag"></i>
            <span class="tagName">{{ tag.tag }}</span>
            <span class="tagCount">({{ tag.count }})</span>
        </a>
    {% endfor %}
    {% if public %}
    <a class="sheetTag allTagsLink" href="/sheets/tags">All Tags &raquo;</a>
    {% endif %}
</div>
{% endif %}