{% load cache %}

{% cache 600000 texts_list %}
{% spaceless %}
<ul id="textsList" class="menu">
{% for category in toc %}
	<li class="category" {% if category.category == "Commentary" %}style="display:none;"{% endif %}>
		{% include "elements/categoryInfo.html" with category=category %}
		<div class="subBox">
		{% for content in category.contents %}
			<ul class="sub">
			
			{% if "title" in content %}
				<li class="text">
					{% include "elements/textInfo.html" with text=content %}
				</li>
			{% else %}
				<li class="category sub">
					{% include "elements/categoryInfo.html" with category=content %}
	
					<ul class="sub subBox">
					{% for sub in content.contents %}
						{% if "title" in sub %}
							<li class="text">
								{% include "elements/textInfo.html" with text=sub %}
							</li>
						{% else %}
							<li class="category sub">
								{% include "elements/categoryInfo.html" with category=sub %}
				
								<ul class="sub subBox">
								{% for subsub in sub.contents %}
									<li class="text">
									{% include "elements/textInfo.html" with text=subsub %}
									</li>
								{% endfor %}
								</ul>
							</li>
						{% endif %}
					{% endfor %}
					</ul>

				</li>
			{% endif %}

			</ul>
		{% endfor %}
		</div>
	</li>
{% endfor %}
	<li id="addTextRow">
		<a id="addText" class="btn" href="/add/new">Add a Text</a>
	</li>
</ul>
{% endspaceless %}
{% endcache %}