{% load humanize %}
{% load sefaria_tags %}

<table data-title="{{ text.title }}">
	<tbody>
	<tr>
		<td class="title en" id="{{ text.title.split|join:'_' }}">
			<a href="/{{ text.title|url_safe|urlencode }}">
				{% if commentator_only %}
					{{ text.commentator }}
				{% else %}
					{{ text.title|trim_title }}
				{% endif %}
			</a>
		</td>
		{% if text.heTitle %}
		<td class="heTitle he">
			<a href="/{{ text.title|url_safe|urlencode }}">
				{% if commentator_only %}
					{{ text.heCommentator }}
				{% else %}
					{{ text.heTitle|trim_title }}
				{% endif %}
			</a>
		</td>
		{% else %}
		<td class="heTitle empty">
			שם עברית
		</td>
		{% endif %}
	</tr>
	<tbody>
</table>