{% load humanize %}
{% load sefaria_tags %}

<table data-title="{{ text.title }}">
	<tr>
		<td class="title" id="{{ text.title.split|join:'_' }}">
			<a href="/{{ text.title|url_safe }}">{{ text.title|trim_title }}</a>
			<span class="showStats">[stats]</span>
		</td>
		{% if text.heTitle %}
		<td class="heTitle">
			{{ text.heTitle|trim_title }}
		</td>
		{% else %}
		<td class="heTitle empty">
			שם עברית
		</td>
		{% endif %}
	</tr>
	<tr>
		<td colspan="2">
			<div class="counts">
				{% include "elements/availableCounts.html" with text=text %}
			</div>
		</td>
	</tr>
	<tr class="details"></tr>
</table>