<ul id="textsList">
{% for category in toc %}
	<li class="category">
		{% include "elements/categoryInfo.html" with category=category %}
		<div class="subBox">
		{% for content in category.contents %}
			<ul class="sub">
			{% if "title" in content %}
				<li class="text">
					{% include "elements/textInfo.html" with text=content %}
				</li>
			{% else %}
				<li class="category sub">
					{% include "elements/categoryInfo.html" with category=content %}
	
					<ul class="sub subBox">
					{% for sub in content.contents %}
						<li class="text">
						{% include "elements/textInfo.html" with text=sub %}
						</li>
					{% endfor %}
					</ul>
				</li>
			{% endif %}

			</ul>
		{% endfor %}
		</div>
	</li>
{% endfor %}
</ul>