{% load sefaria_tags %}
{% load humanize %}

 <div class="translationRequest {% if trans_request.completer %}completed{% endif %}" data-ref="{{ trans_request.ref }}">
     <div class="requestRank">
        {% if not trans_request.featured %}
            {{ forloop.counter|add:page_offset }}.
        {% else %}
            {{ forloop.counter }}.
        {% endif %}
     </div>
     <div class="requestText">
        <div class="requestRef">
            <span class="int-en">{{ trans_request.ref|ref_link }}</span>
            <span class="int-he">{{ trans_request.ref|he_ref_link }}</span>
        </div>
        {% if trans_request.completer %}
            <div class="requestCompleter">
                <span class="int-en">
                    Completed by {{ trans_request.completer|user_link }}
                </span>
                <span class="int-he">
                    Completed by {{ trans_request.completer|user_link }}
                </span>
            </div>
        {% endif %}
    </div>
    <div class="requestCountBox">
        <div class="requestButton button white tooltipster" title="Support this request">
            <span class="requestFeaturedBox">
                {% if trans_request.featured %}
                    <i class="fa fa-star requestFeatured tooltipster" title="Featured until {{ trans_request.featured_until }} (PST)."></i>
                {% elif request.user.is_staff %}
                    <i class="fa fa-star requestFeatured unfeatured"></i>
                {% endif %}
            </span>
            <span class="requestCount tooltipster {% if request.user.id in trans_request.requesters %}check{% else %}plus{% endif %}" title="{{ trans_request.request_count|intcomma }} people have requested this text section">
                {{ trans_request.request_count|intcomma }}{% if request.user.id in trans_request.requesters %}✓{% else %}+{% endif %}
            </span>
        </div>
    </div>

</div>