{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "About Sefaria" %}{% endblock %}

{% block description %}{% trans "Sefaria is a nonprofit organization dedicated to building the future of Jewish learning in an open and participatory way." %}{% endblock %}

{% block css %}
    #top #languageToggle {
        display: inline;
    }
    #top #languageToggle #bilingual {
        display: none;
    }
    #aboutPage a {
        text-decoration: underline;
    }
{% endblock %}

{% block content %}
<div class="superAbout">
    {% if not request.user_agent.is_mobile %}
        {% include '_sidebar.html' with whichPage='about' title="What is Sefaria?" heTitle="מהי ספריא" %}
    {% endif %}
    <main id="aboutPage" class="biReady container static sans-serif">
        <div class="inner">
            {% if request.user_agent.is_mobile %}
                <header><h1 class="mobileAboutHeader"><span class="int-he">מהי ספריא</span></h1></header>
            {% endif %}
            <section class="about section">
                <p class="first">
                    <span class="int-he">אנו עַם הספר. במשך אלפי שנים מתקיימים התרבות, המסורת והערכים שלנו באמצעות הטקסטים שלנו.
                        ממסורת בעל פה דרך מגילות הכתובות בכתב יד ועד אוסף עצום של ספרים מודפסים – כל מדיום חדש הנגיש ידע וכלל יותר אנשים בשיח היהודי.
                        אנו הדור שהוטל עליו להעביר את הטקסטים האלו מהדפוס אל הדיגיטלי, כדי שאותם טקסטים ייחשפו וישפיעו בדרכים חדשות ופורצות דרך.
                    </span>
                </p>
                <p>
                    <span class="int-he">
                        ספריא הוא מלכ"ר השואף לעצב את עתיד הלימוד היהודי כך שיהא פתוח ושיתופי.
                        אנו בונים ספרייה חיה הפתוחה לציבור הרחב ומכילה טקסטים יהודיים בעברית ובתרגומים שונים.
                        באמצעות אותם טקסטים דיגיטליים נוכל ליצור ממשקים חדשים ואינטראקטיביים למחשב,
                        לטאבלט ולטלפון הנייד ולהנגיש את האוצרות הטקסטואליים של היהדות לאוכלוסייה רחבה יותר.
                    </span>
                </p>
            </section>
            <header>
              <h1>
                <span class="int-he">חזון</span>
              </h1>
            </header>
            <section class="section">
                <header>
                    <h2>
                        <span class="int-he">נגישות</span>
                    </h2>
                </header>
                <p>
                    <span class="int-he">
                        עבור העם היהודי הטקסטים הם הירושה הקולקטיבית שלנו.
                        הם שייכים לכולנו, ואנו רוצים שיהיו נגישים לכולם באמצעות העמדתם לרשות הציבור (public domain) או בעזרת רישיונות ציבוריים ללא תשלום.
                        בין שמדובר בעמוד טקסט לשיעור או בהורדה של מסד הנתונים כולו עבור מחקר ומיזמים חדשים, למשתמש תהיה גישה מלאה לאוסף כתבי הקודש.
                    </span>
                </p>
                <header>
                    <h2>
                        <span class="int-he">תשתית</span>
                    </h2>
                </header>
                <p>
                    <span class="int-he">
                        כל הקוד שלנו מפורסם תחת רישיונות open source, ואנו מציעים שירותים, כולל live <a href="/developers">API</a>, לכל מיזם שמעוניין להשתמש בהם. אנו מזמינים את כל המשתמשים להיעזר בקוד ובנתונים שלנו כדי <a href="https://github.com/Sefaria/Sefaria-Project/wiki/Projects-Powered-by-Sefaria">לבנות אפליקציות</a>, לנהל <a href="https://scholar.google.com/scholar?q=Sefaria+and+Jewish&btnG=&hl=en&as_sdt=0%2C5">מחקרים</a> או ליצור <a href="https://www.sefaria.org/visualizations">אינפוגרפיקה</a> (visualizations). אנו מאמינים שעלינו לחלוק עם הציבור את התשתית הבסיסית לטכנולוגיה יהודית.
                    </span>
                </p>
                <header>
                    <h2>
                        <span class="int-he">חינוך</span>
                    </h2>
                </header>
                <p>
                    <span class="int-he">
                        ספריא אינה רק ארכיון לשימור טקסטים יהודיים; אנו מספקים פלטפורמה המיועדת להפיח חיים חדשים באותם טקסטים. על כן אנו משקיעים בפיתוחים שיהפכו את ספריא לכלי למידה והוראה טוב יותר. אנו בספריא מחויבים לעבודה בשותפות עם מחנכים ומחנכות כדי לבחון, לפתח ולהרחיב את גבולותיה של טכנולוגיה יהודית חינוכית.
                    </span>
                </p>
                <header>
                    <h2>
                        <span class="int-he">שיח</span>
                    </h2>
                </header>
                <p>
                    <span class="int-he">
                        כתבי הליבה של היהדות צמחו מתוך שיח שהתנהל לאורך הדורות במשך אלפי שנים. הקנון היהודי הוא יותר מאוסף ספרים על המדף, אלא הוא קובץ עצום של טקסטים מחוברים ה"מדברים" אלה עם אלה. ספריא עוזרת לבחון את שיח העבר ומייצרת מקום להמשיך אותו לכיוונים חדשים, עם משתתפים חדשים, עם שאלות חדשות ועם רבדים חדשים של דיאלוג. הישארו עימנו.
                    </span>
                </p>
            </section>
            <section class="section" id="history">
                <header>
                <h1>
                    <span class="int-he">היסטוריה</span>
                </h1>
                </header>

                <section id="2011">
                    <header><h2 class="year first">2011</h2></header>
                    <section class="historyItem">
                        <span class="int-he">ג'ושוע פואר, סופר רב־מכר, וברט לוקשפייזר, מנהל מוצר לשעבר בגוגל, הוגים את מיזם ספריא.</span>
                    </section>
                </section>

                <section id="2012">
                    <header><h2 class="year">2012</h2></header>
                    <section class="historyItem">
                        <span class="int-he">פואר ולוקשפייזר משיקים גרסת בטא של האתר.</span>
                    </section>
                </section>

                <section id="2013">
                    <header><h2 class="year">2013</h2></header>
                    <section class="historyItem">
                        <span class="int-he">
                            <a href="https://en.wikipedia.org/wiki/Mo_Koyfman" target="_blank">מו קויפמן</a>, המשקיע בטכנולוגיה, מצטרף למייסדים כדי להקים את מועצת המנהלים של ספריא. יחד הם זוכים למימון ראשוני וקריטי מקרן נתן, <a
                                href="/henry-and-julia-koschitzky-apps">ג'ונתן ותמר קושיצקי</a> וקרן ג'ים ג'וזף.
                        </span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">ספריא הופכת למלכ"ר ומגייסת את העובד הראשון שלה -- אשר ממשיך לעבוד אצלנו עד היום!</span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">בשלב זה ספריית ספריא מכילה 8.5 מיליון מילים.</span>
                    </section>
                </section>

                <section id="2014">
                    <header><h2 class="year">2014</h2></header>
                    <section class="historyItem">
                        <span class="int-he">
                        מהנדסי ספריא מותחים את הגבולות הקיימים של התורה אונליין ומשיקים
                            את <a href="/explore?lang=en">האינפוגרף</a> הראשון מסוגו בעולם,
                            שנועד להמחיש את הקשרים שבין התנ"ך לתלמוד.
                        </span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">עד כה המשתמשים של אתר ספריא יוצרים יותר מ־6,000 דפי מקורות ייחודיים.</span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">ספריא משיקה את מיזם השותפות עם בתי ספר, עם ארבעה בתי ספר במחזור הראשון.</span>
                    </section>
                </section>

                <section id="2015">
                    <header><h2 class="year">2015</h2></header>
                    <section class="historyItem">
                        <span class="int-he">
                            ספריא חותמת על <a
                                href="https://blog.sefaria.org/2015/02/11/sefaria-and-urim-publications-strike-unprecedented/">הסכם ראשון</a>
                            עם מו"ל יהודי מרכזי, כדי לְסַפְרֵת (digitize)  ולהוציא לאור תרגומים לרשות הציבור.
                        </span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">12 <a
                                href="https://github.com/Sefaria/Sefaria-Project/wiki/Projects-Powered-by-Sefaria">אפליקציות</a> חיצוניות מפותחות על בסיס מסד הנתונים וה-API של ספריא.
                        </span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">בשלב זה ספריית ספריא כוללת 50 מיליון מילים.</span>
                    </section>
                </section>

                <section id="2016">
                    <header><h2 class="year">2016</h2></header>
                    <section class="historyItem">
                        <span class="int-he">
                            <a href="/team">הצוות המקצועי של ספריא</a> מקיף את הגלובוס עם העסקתם של יותר מעשרה אנשים בשמונה ערים בצפון אמריקה ובישראל.
                        </span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">
                        ספריא משיקה גרסא דו־לשונית מלאה של <a href="/texts/Tanakh/Rishonim%20on%20Tanakh/Rashi">פירוש רש"י</a> לתורה.
                        </span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">ספריא מכניסה את התורה לתוך הכיסים של כולם, עם השקתה של האפליקציה <a
                                href="https://play.google.com/store/apps/details?id=org.sefaria.sefaria" target="_blank">לאנדרואיד</a> <a
                                href="https://itunes.apple.com/us/app/sefaria/id1163273965?ls=1&mt=8" target="_blank">ול-iOS.</a>
                        </span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">בתוך 30 יום בלבד נכנסים לאתר ספריא 50,000 מבקרים ייחודיים.</span>
                    </section>
                </section>

                <section id="2017">
                    <header><h2 class="year">2017</h2></header>
                    <section class="historyItem">
                        <span class="int-he">
                            ספריא מנגישה את <a href="/william-davidson-talmud">התלמוד במהדורת ויליאם דוידסון</a>, העתידה לכלול את פירושו של הרב עדין שטיינזלץ אבן ישראל בעברית ובאנגלית תחת רישיון פתוח.
                        </span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">ספריא משיקה את אתר האינטרנט sefaria.org.il המיועד לישראלים ולדוברי עברית.</span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">בתוך שנה ספריא מכפילה את תפוצתה ומקבלת 100,000 מבקרים ייחודיים בחודש.</span>
                    </section>
                </section>

                <section>
                    <header><h2 class="year">2018</h2></header>
                    <section class="historyItem">
                        <span class="int-he">בתוך שנה אחת יותר ממיליון משתמשים מכמעט כל המדינות בעולם מבקרים בספרייה של ספריא.</span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">ספריא משיקה שתי תוכניות ניסיוניות בישראל בשיתוף פעולה עם משרד החינוך.</span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">בשלב זה הספרייה של ספריא מכילה 183 מיליון מילים, מתוכן 143 מיליון בעברית ו־40 מיליון בתרגום לאנגלית.</span>
                    </section>
                </section>

                <section id="2020">
                    <header><h2 class="year">2019</h2></header>
                    <section class="historyItem">
                        <span class="int-he">
                            ספריא חוגגת את פרסום אוסף <a
                                href="https://www.sefaria.org/collections/%D7%92%D7%99%D7%9C%D7%99%D7%95%D7%A0%D7%95%D7%AA-%D7%A0%D7%97%D7%9E%D7%94">דפי המקורות</a> של נחמה ליבוביץ, האישה הפרשנית הראשונה שמצטרפת לספריית הליבה של ספריא.
                        </span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">
                            גולשי ספריא ממשיכים ליצור דפי מקורות, ומאגר דפי המקורות שלנו מגיע ל-200 אלף!
                        </span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">
                            המייסד השותף ברט לוקשפייזר נבחר להיכלל <a
                                href="https://forward.com/culture/436705/forward-50-brett-lockspeiser-the-torah-technologist/">ברשימת</a> חמישים היהודים המשפיעים בארה"ב של גוף התקשורת Forward ,וספריא זוכה להיכלל <a
                                href="https://www.jta.org/2019/12/30/united-states/10-ways-american-jewish-life-changed-in-the-2010s">ברשימת</a> עשרת הפיתוחים החשובים בחיי היהודים האמריקאים בעשור האחרון.
                        </span>
                    </section>
                </section>
                <section>
                    <header><h2 class="year">2020</h2></header>
                    <section class="historyItem">
                        <span class="int-he">ספריא משקיעה מאמצים להיענות לצרכים שהתעוררו במשבר הקורונה, ומציעה לגולשים מקורות יהודיים לחגיגה ביתית של החגים, טיפים ללמידה מרחוק וכלים מקוונים ללימוד בחברותא.</span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">נכנסה לפעולה אפשרות חיפוש לפי נושאים. זהו עדכון משמעותי במבנה האתר וכלי חיוני המאפשר למשתמשות ולמשתמשים חדשים לנווט בתוך הספרייה בקלות.</span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">ספריא מגיעה לשיא של תנועת גולשים באתר: 500,000 משתמשים ומשתמשות בחודש. ציפינו שהיעד הזה יתממש רק בעוד שנה שלמה!</span>
                    </section>
                </section>
                <section>
                    <header><h2 class="year">2021</h2></header>
                    <section class="historyItem">
                        <span class="int-he"> ספריא עוברת עיצוב מחדש של ממשק המשתמש, אשר מעשיר את חווית השימוש בפסקאות הסבר ותכנים נוספים לטובת הלומדים.</span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">ספריא מתגברת על מכשולים בתחום זכויות יוצרים כדי להוסיף לספריה יצירות של חוקרות מרכזיות, כולל האשה הראשונה שנכללת ברשימת פרשני התלמוד הרשמית של ספריא, ד"ר יהודית האופטמן.</span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">ספריא מוסיפה לספריה יצירות קלאסיות מרכזיות באנגלית, כולל רמב"ן ואבן עזרא על התורה, רש"י על התנ"ך, התלמוד הירושלמי ועוד.</span>
                    </section>
                </section>
                <section>
                    <header><h2 class="year">2022</h2></header>
                    <section class="historyItem">
                        <span class="int-he">ספריא מוסיפה לספריה תרגום לאנגלית של מדרש רבה (תרגום שנוצר לראשונה ביוזמת ספריא) ותרגום לאנגלית של משנה תורה לרמב“ם.</span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">למאגר ספריא נוסף מילון העברית המקראית הנפוץ ביותר לשימוש בלימודי מקרא של בראון-דרייבר-בריגס (BDB).</span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">ספריא עוברת לראשונה את רף ה-600,000 משתמשים בחודש.</span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">עמותת ספריא מגייסת מקהילת המשתמשים מיליון דולר וזאת באמצעות תרומות של אלף דולר לכל היותר.</span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">ספריא מוסיפה את התלמוד הירושלמי בצרפתית לאוסף המקורות המתורגמים, הכולל תרגום של התלמוד הבבלי לגרמנית.</span>
                    </section>
                </section>
                <section>
                    <header><h2 class="year">2023</h2></header>
                    <section class="historyItem">
                        <span class="int-he">יחד עם כל העולם היהודי, צוות ספריא התאבל על הטבח הנורא של ה-7 באוקטובר. בחודשים הקשים שלאחר מכן פעלנו כדי לתמוך בעמיתינו בישראל וכדי להמשיך את הגדלת הספריה והנגישות למקורות היהדות שמהווים עבור רבים בעם היהודי מקור לנחמה, כוח ותקווה.</span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">מחלקת המחקר והפיתוח של ספריא משיקה שותפות פורצת דרך עם AppliedAI והאוניברסיטה הטכנית של מינכן (TUM). מטרת השותפות היא בחינת האפשרויות הטמונות במינוף של אינטליגנציה מלאכותית ככלי להרחבה משמעותית של גישה ציבורית לתורה.</span>
                    </section>
                    <section class="historyItem">
                        <span class="int-he">ספריא יוצרת שותפות עם מרכז שטיינזלץ וה-Aleph Society כדי להשיק אוסף דיגיטלי של כל הפרשנויות שכתב הרב עדין שטיינזלץ, ובכך להנגיש את כלל כתביו של הרב הנודע לכל לומד או לומדת באשר יהיו.</span>
                    </section>
                </section>
            </section>
        </div>
    </main>
</div>
{% endblock %}
