{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Donate to Sefaria" %}{% endblock %}

{% block description %}{% trans "Support Sefaria by making a tax-deductible donation online or by check or wire transfer." %}{% endblock %}

{% block content %}

<main id="donatePage" class="container static biReady">
    <div class="inner">
        <header>
            <h1>
                <span class="int-he">תמיכה בעתיד התורה</span>
            </h1>
        </header>
        <aside class="section covidNotice notice">
            <p>
                <span class="int-he">
                    בעקבות משבר הקורונה תהליך התרומה לספריא באמצעות המחאות מתעכב.
                    בבקשה פנו בכתובת
                    <a href="mailto:donate@sefaria.org"><bdo dir="ltr">donate@sefaria.org</bdo></a>
                    לסיוע בהעברה בנקאית או בתרומה מקוונת.
                </span>
            </p>
        </aside>
        <section class="section donateIntroduction">
            <p>
                <span class="int-he">
                    בעזרתך תהיה ספריא הבית הדיגיטלי של הקנון היהודי ופלטפורמה ללימוד תורה, לחדשנות ולשיח יהודי.
                </span>
            </p>
            <p>
                <span class="int-he">
                    ספריא היא מוסד ללא כוונת רווח. תרומות לספריא הן הוצאה מוכרת בארה"ב לצורכי מס כמותר בחוק.
                </span>
            </p>
            <p>
                <span class="int-he">
                    אנו מודים לך מקרב לב על תמיכתך בספריא היום!
                </span>
            </p>
            <div class="single-button center">
                <a class="button big blue control-elem" role="button" href="https://donate.sefaria.org/he" target="_blank">
                    <span class="int-he">לתרומה</span>
                </a>
            </div>
        </section>
        <section id="givingOpportunities" class="section">
            <header>
                <h2>
                    <span class="int-he">אפשרויות נתינה</span>
                </h2>
            </header>
            <section>
                <p>
                    <span class="int-he">
                        הצטרפות <a href="https://donate.sefaria.org/sustainershe" target="_blank">לקהילת התומכים של ספריא על ידי תרומה חודשית</a>
                     </span>
                </p>
                <p class="givingOpportunitiesDesc">
                    <span class="int-he">
                        באמצעות התחייבות לתרומה חודשית באפשרותך להיות חלק מקהילת התומכים והתומכות של ספריא,
                        קהילה המספקת בסיס כלכלי איתן להמשך פעילותה והתפתחותה של הספרייה הדיגיטלית.
                    </span>
                </p>
            </section>
            <section>
                <p>
                    <span class="int-he">
                        <a href="https://donate.sefaria.org/sponsorhe" target="_blank">הקדשה אישית ליום, שבוע או חודש של לימוד</a>
                     </span>
                </p>
                <p class="givingOpportunitiesDesc">
                    <span class="int-he">
                        לכבד קרובים או חברים, לחגוג להם או להבדיל – להיזכר בהם באמצעות הקדשה של יום, שבוע או חודש של לימוד תורה בספריא לזכותם או לעילוי נשמתם.
                        ההקדשה האישית שלך תופיע בתוכן העניינים של ספריא.
                    </span>
                </p>
            </section>
        </section>
        <section id="donateOptions" class="section">
            <header>
                <h2>
                    <span class="int-he">דרכים לתרומה</span>
                </h2>
            </header>
            <section class="donateOption">
                <h3>
                    <span class="int-he">תרומה מקוונת (אונליין): </span>
                </h3>
                <p>
                    <span class="int-he">
                        תרומה דרך <a href="https://donate.sefaria.org/he" target="_blank">עמוד התרומות הראשי שלנו</a> הפועל באמצעות <bdi>Stripe</bdi>.
                    </span>
                </p>
            </section>
            <section class="donateOption">
                <h3>
                    <span class="int-he">המחאות</span>
                </h3>
                <p>
                     <span class="int-he"> יש לרשום על שם "ספריא" ולשלוח בדואר לכתובת:</span>
                </p>
                <address>
                    Sefaria <br/>
                    228 Park Ave S <br/>
                    Suite 79262 <br/>
                    New York, New York 10003-1502 US<br/>
                </address>
            </section>
            <section class="donateOption">
                <h3>
                    <span class="int-he">העברה בנקאית: </span>
                </h3>
                <p>
                    <span class="int-he">לחצו על <a href="https://sefaria.formstack.com/forms/wire_request">הקישור הזה</a> כדי למלא את הטופס ולקבל את הנחיות ההעברה בדוא"ל.</span>
                </p>
            </section>
            <section class="donateOption">
                <h3>
                    <span class="int-he">דרכים נוספות לתרום: </span>
                </h3>
                <p>
                    <span class="int-he">
                        ניתן לתרום לספריא גם באמצעות ביטקוין, מטבעות קריפטו ומניות. למידע נוסף צרו קשר ב
<a href="mailto:donate@sefaria.org"><bdo dir="ltr">donate@sefaria.org</bdo></a>.
                    </span>
                </p>
            </section>
            <section class="notice">
                <p>
                    <span class="int-he">
                        ספריא מקבלת תרומות גם מרוב המדינות שמחוץ לארצות הברית.
                    </span>
                </p>
                <p>
                    <span class="int-he">
                        כדי להימנע מעמלות פעולה על תרומות מקוונות גדולות, אנו מבקשים להשתדל לתרום באמצעות המחאה או העברה בנקאית.
                    </span>
                </p>
            </section>
        </section>
        <section class="section otherInformation">
            <header>
                <h2>
                    <span class="int-he">מידע נוסף</span>
                </h2>
            </header>
            <section>
                <span class="int-he">
                    <a target="_blank" href="{% static "files/Sefaria_2022_990_Public.pdf" %}">דוח 990</a>
                </span>
            </section>
            <section>
                <span class="int-he">
                    <a target="_blank" href="{% static "files/Sefaria_Strategic_Plan.pdf" %}">התוכנית האסטרטגית של ספריא</a>
                </span>
            </section>
            <section>
                <span class="int-he">
                    <a target="_blank" href="https://www.guidestar.org/profile/46-4406454">מדליית הפלטינה של <bdi>Guidestar</bdi></a>
                </span>
            </section>
            <section>
                <p>
                    <span class="int-he">
                        ספריא היא מוסד ללא כוונת רווח הגאה בשקיפות המלאה של ההתנהלות הכלכלית שלו. מספר ה־EIN של ספריא הוא 46-4406454.
                    </span>
                </p>
            </section>
        </section>
        <section class="section contactInformation">
            <header>
                <h2>
                    <span class="int-he">פרטי התקשרות</span>
                </h2>
            </header>
            <section>
                <p>
                    <span class="int-he">
                        לכל שאלה בנוגע לתרומות אפשר לפנות לחנה גולדברגר, מנהלת פיתוח,
                        בכתובת
                        <a href="mailto:donate@sefaria.org"><bdo dir="ltr">donate@sefaria.org</bdo></a>
                        או בטלפון
                        <a href="tel:+13477730077" style="unicode-bidi: plaintext">+1347-773-0077</a>.
                    </span>
                </p>
            </section>
        </section>
        <section class="section faqs">
            <header>
                <h2>
                    <span class="int-he">שאלות ותשובות נפוצות בנוגע לתרומות</span>
                </h2>
            </header>
            <section class="faq">
                <p class="question">
                    <span class="int-he">
                        כיצד אקבל קבלה עבור התרומה?
                    </span>
                </p>
                <p class="answer">
                    <span class="int-he">
                        אם תרמת בתרומה מקוונת, תישלח אליך קבלה דיגיטלית. אם תרמת בהמחאה או בהעברה בנקאית, תישלח אליך קבלה בדואר.
                    </span>
                </p>
            </section>
            <section class="faq">
                <p class="question">
                    <span class="int-he">
                        האם התרומה שלי מוכרת לצורכי מס?
                    </span>
                </p>
                <p class="answer">
                    <span class="int-he">
                        תרומות לספריא הן הוצאה מוכרת לצורכי מס כמותר בחוק.
                        אנו רשומים כמלכ"ר בארצות הברית (מספר ה־EIN שלנו הוא 46-4406454).
                        לצערנו, כרגע איננו יכולים להנפיק קבלות מס בישראל, בבריטניה ובקנדה.
                    </span>
                </p>
            </section>
            <section class="faq">
                <p class="question">
                    <span class="int-he">
                        האם אפשר לתרום באמצעות המחאה דיגיטלית?
                    </span>
                </p>
                <p class="answer">
                    <span class="int-he">
                        כן, אפשר לתרום בהמחאה דיגיטלית. יש לציין בהמחאה את כתובת הדואר המוזכרת לעיל.
                    </span>
                </p>
            </section>
            <section class="faq">
                <p class="question">
                    <span class="int-he">
                        האם אפשר לתרום בשקלים או לקבל עבור התרומה קבלה מוכרת למס בישראל?
                    </span>
                </p>
                <p class="answer">
                    <span class="int-he">
                        לצערנו, כרגע איננו יכולים לקבל תרומות בשקלים או להנפיק קבלות תרומה בישראל.
                        אנו מקווים כי בעתיד יוכלו תומכי ספריא בישראל לעשות זאת.
                        לכל שאלה על דרכי התרומה מישראל אפשר ליצור קשר עם
                        <a href="mailto:donate@sefaria.org"><bdo dir="ltr">donate@sefaria.org</bdo></a>
                    </span>
                </p>
            </section>
        </section>
    </div>
</main>
{% endblock %}
