{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Page Not Found | Sefaria" %}{% endblock %}

{% block content %}

<div class="container error static biReady">
    <div class="inner">
        <h1>
            <span class="int-en">{% trans "Page Not Found" %}</span>
            <span class="int-he">{% trans "Page Not Found" %}</span>
        </h1>
        <p>
            <span class="int-en">
                {% trans "The requested URL couldn't be found.
                If you've arrived here from a link on another site,
                you may want to let them know their link isn't working." %}
            </span>
            <span class="int-he">
               {% trans "The requested URL couldn't be found.
                If you've arrived here from a link on another site,
                you may want to let them know their link isn't working." %}
            </span>
        </p>
    </div>
</div> 

{% endblock %}