{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "server_related_error_message" %}{% endblock %}

{% block content %}
<div id="errorPage" class="biReady container error static">
    <div class="inner">
        <h1>
            <span class="{{language_font_class}}">{% trans "server_related_error_message" %}</span>
        </h1>
        <div class="section">
            <p>
                <span class="{{language_font_class}}">
                    {% trans "send_message_to_developer_request" %}.
                </span>
            </p>
        </div>
    </div>
</div>
{% endblock %}