{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Internal Server Error" %}{% endblock %}

{% block content %}
<div id="errorPage" class="biReady container error static">
    <div class="inner">
        <h1>
            <span class="int-en">{% trans "Internal Server Error" %}</span>
            <span class="int-he">{% trans "Internal Server Error" %}</span>
        </h1>
        <div class="section">
            <p>
                <span class="int-en">
                    {% trans "Unfortunately, we've encountered an error.An email has been sent automatically to our developers.If you have any questions about the problem,or think you can help us figure out what went wrong,please email our " %}<a href="mailto:dev@pecha.org" target="_blank"> {% trans "development team" %}</a>.
                </span>
                <span class="int-he">
                    {% trans "Unfortunately, we've encountered an error.An email has been sent automatically to our developers.If you have any questions about the problem,or think you can help us figure out what went wrong,please email our " %}<a href="mailto:dev@sefaria.org" target="_blank"> {% trans "development team" %}</a>.
                </span>
            </p>
        </div>
    </div>
</div>
{% endblock %}