{% load i18n %}



    <div id="aboutSidebar"><h1>{% blocktrans %}
{{title}}{% endblocktrans %}</h1><ul><li><a id="about" href="/about"><span class="int-en">What is Sefaria?</span><span class="int-he">מהי ספריא</span></a></li>
        <li><a id="team" href="/team"><span class="int-en">Team</span>
                    <span class="int-he">צוות ספריא</span></a></li>
        <li><a id="jobs" href="/jobs"><span class="int-en">Jobs at Sefaria</span>
                    <span class="int-he">משרות פנויות בספריא</span></a></li>
        <li><a id="supporters" href="/supporters"><span class="int-en">Our Supporters</span>
            <span class="int-he">התומכים שלנו</span></a></li>
        <li><a id="metrics" href="/metrics"><span class="int-en">Metrics</span>
            <span class="int-he">מדדים</span></a></li>
        <li><a id="annualreport" href="/link-to-annual-report"><span class="int-en">Annual Report</span><span class="int-he">דו"ח שנתי</span></a></li>
        <li><a id="terms" href="/terms"><span class="int-en">Terms of Use</span><span class="int-he">תנאי שימוש</span></a></li>
        <li><a id="privacy" href="/privacy-policy"><span class="int-en">Privacy Policy</span><span class="int-he">מדיניות פרטיות</span></a></li>
    </ul></div>
<script>
  const whichPage = "{{whichPage}}";
  const item = document.getElementById(whichPage);
  item.style['background-color'] = "#CCCCCC";
  item.style['color'] = '#000000';
  const aboutSidebar = document.getElementById("aboutSidebar");
  aboutSidebar.className = `${whichPage}WhatIsSefaria`;
</script>