{% extends "base.html" %}
{% load i18n static %}
{% load i18n %}

{% block content %}

<div id="accountSettingsPage" class="static biReady">
	<div class="inner">
	<div class="headerWithButtons">
        <div class="start"></div>
        <h1>
            <span class="int-en">{% trans "Account Settings" %}</span>
            <span class="int-he">{% trans "Account Settings" %}</span>
        </h1>
        <div class="end">
            <a class="button small transparent control-elem" href="/my/profile">
                <span class="int-en">{% trans "Cancel" %}</span>
                <span class="int-he">{% trans "Cancel" %}</span>
            </a>
            <div id="saveAccountSettings" class="button small blue control-elem" tabindex="0" role="button" >
                <span class="int-en">{% trans "Save" %}</span>
                <span class="int-he">{% trans "Save" %}</span>
            </div>
        </div>
    </div>
	<div id="emailNotifications" class="section">
		<label class="control-elem">
            <span class="int-en">{% trans "Notification Frequency (Maximum)" %}</span>
			<span class="int-he">{% trans "Notification Frequency (Maximum)" %}</span>
        </label>
		<div class="toggleSet toggleSetToggleBox blueStyle tripleOption control-elem" role="radiogroup">
			<div role="radio" data-value="daily" class="toggleOption {% if profile.settings.email_notifications == "daily" %} on{% endif %}" tabindex="{% if profile.settings.email_notifications == "daily" %}0" aria-checked="true{% else %}-1" aria-checked="false{% endif %}">
                <span class="int-en">{% trans "Daily" %}</span>
			    <span class="int-he">{% trans "Daily" %}</span>
            </div>
            <div role="radio"  data-value="weekly" class="toggleOption {% if profile.settings.email_notifications == "weekly" %} on{% endif %}" tabindex="{% if profile.settings.email_notifications == "weekly" %}0" aria-checked="true{% else %}-1" aria-checked="false{% endif %}">
                <span class="int-en">{% trans "Weekly" %}</span>
			    <span class="int-he">{% trans "Weekly" %}</span>
            </div>
            <div role="radio"  data-value="never" class="toggleOption {% if profile.settings.email_notifications == "never" %} on{% endif %}" tabindex="{% if profile.settings.email_notifications == "never" %}0" aria-checked="true{% else %}-1" aria-checked="false{% endif %}">
                <span class="int-en">{% trans "Never" %}</span>
			    <span class="int-he">{% trans "Never" %}</span>
            </div>
		</div>
	</div>
	{% if SITE_SETTINGS.TORAH_SPECIFIC %}
	<div id="siteLanguage" class="section">
		<label class="control-elem">
            <span class="int-en">{% trans "Site Language" %}</span>
			<span class="int-he">{% trans "Site Language" %}</span>
        </label>
		<div class="toggleSet toggleSetToggleBox blueStyle doubleOption control-elem" role="radiogroup">
			<div role="radio" data-value="english" class="toggleOption {% if profile.settings.interface_language == "english" %} on{% endif %}" tabindex="{% if profile.settings.interface_language == "english" %}0" aria-checked="true{% else %}-1" aria-checked="false{% endif %}">
                <span class="int-bi">{% trans "English" %}</span>
            </div>
            <div role="radio" data-value="hebrew" class="toggleOption {% if profile.settings.interface_language == "hebrew" %} on{% endif %}" tabindex="{% if profile.settings.interface_language == "hebrew" %}0" aria-checked="true{% else %}-1" aria-checked="false{% endif %}">
                <span class="int-bi">{% trans "Tibetan" %}</span>
            </div>
		</div>
	</div>
    {% if SITE_SETTINGS.SUPPORTED_TRANSLATION_LANGUAGES|length > 0 %}
	<div id="translationLanguagePreference" class="section">
		<label class="control-elem">
            <span class="int-en">{% trans "Preferred Translation Language" %}</span>
			<span class="int-he">{% trans "Preferred Translation Language" %}</span>
        </label>
		<div class="toggleSet toggleSetToggleBox blueStyle quadrupleOption control-elem" role="radiogroup">
            {% for name, lang in lang_names_and_codes %}
			<div role="radio" data-value="{{lang}}" class="toggleOption {% if translation_language_preference == lang %} on{% endif %}" tabindex="{% if translation_language_preference == lang %}0" aria-checked="true{% else %}-1" aria-checked="false{% endif %}">
                <span class="int-bi">{{name}}</span>
            </div>
            {% endfor %}
		</div>
	</div>
    {% endif %}
    <div id="readingHistory" class="section">
		<label class="control-elem">
            <span class="int-en">{% trans "Reading History" %}</span>
			<span class="int-he">{% trans "Reading History" %}</span>
        </label>
		<div class="toggleSet toggleSetToggleBox blueStyle doubleOption control-elem" role="radiogroup">
			<div role="radio" data-name="reading-history" data-value=true class="toggleOption {% if "reading_history" not in profile.settings or profile.settings.reading_history %} on{% endif %}" tabindex="{% if "reading_history" not in profile.settings or profile.settings.reading_history %}0" aria-checked="true{% else %}-1" aria-checked="false{% endif %}">
                <span class="int-en">{% trans "On" %}</span>
                <span class="int-he">{% trans "On" %}</span>
            </div>
            <div role="radio" data-name="reading-history" data-value=false class="toggleOption {% if "reading_history" in profile.settings and not profile.settings.reading_history %} on{% endif %}" tabindex="{% if "reading_history" in profile.settings and not profile.settings.reading_history %}0" aria-checked="true{% else %}-1" aria-checked="false{% endif %}">
                <span class="int-en">{% trans "Off" %}</span>
                <span class="int-he">{% trans "Off" %}</span>
            </div>
            <span id="reading-history-warning"></span>
		</div>
	</div>
    <div id="textualCustom" class="section">
		<label class="control-elem">
            <span class="int-en">{% trans "Preferred Custom (Weekly Haftarot)" %}</span>
			<span class="int-he">{% trans "Preferred Custom (Weekly Haftarot)" %}</span>
        </label>
		<div class="toggleSet toggleSetToggleBox blueStyle doubleOption control-elem" role="radiogroup">
			<div role="radio" data-value="sephardi" class="toggleOption {% if profile.settings.textual_custom == "sephardi" %} on{% endif %}" tabindex="{% if profile.settings.textual_custom == "sephardi" %}0" aria-checked="true{% else %}-1" aria-checked="false{% endif %}">
                <span class="int-en">{% trans "Sephardi" %}</span>
                <span class="int-he">{% trans "Sephardi" %}</span>
            </div>
            <div role="radio" data-value="ashkenazi" class="toggleOption {% if profile.settings.textual_custom == "ashkenazi" %} on{% endif %}" tabindex="{% if profile.settings.textual_custom == "ashkenazi" %}0" aria-checked="true{% else %}-1" aria-checked="false{% endif %}">
                <span class="int-en">{% trans "Ashkenazi" %}</span>
                <span class="int-he">{% trans "Ashkenazi" %}</span>
            </div>
		</div>
	</div>
	{% endif %}
    <div id="username-change" class="section">
        <label class="control-elem">
                <span class="int-en">{% trans "Account Email (This is used for login)" %}</span>
                <span class="int-he">{% trans "Account Email (This is used for login)" %}</span>
        </label>
        <div id="username-change-display" class="form-section">
            <input id="email-display" type="text" disabled="disabled" value="{{ user.email }}" />
            <button id="change-email" type="button" class="button blue fillWidth">
                <span class="int-en">{% trans "Change Email" %}</span>
                <span class="int-he">{% trans "Change Email" %}</span>
            </button>
            <span id="email-edit-ok" style="display:none"></span>
        </div>
        <div id="username-change-edit" class="form-section" style="display: none">
            <input id="email" type="text" placeholder="{% trans "New Email" %}" autocomplete="off" />
            <input id="confirmEmail" type="text" placeholder="{% trans "Confirm New Email" %}" autocomplete="off" />
            <input id="confirmPassword" type="password" placeholder="{% trans "Password" %}" autocomplete="new-password" />
            <button id="update-email" type="button" class="button blue fillWidth">
                <span class="int-en">{% trans "Update Email" %}</span>
                <span class="int-he">{% trans "Update Email" %}</span>
            </button>
            <span id="email-edit-errors"></span>
        </div>
    </div>
    <div id="gauth-email-change" class="section" style="{% if not profile.gauth_email %} display: none {% endif %}">
        <label class="control-elem">
                <span class="int-en">{% trans "Google Account (Allows for exporting sheets to Google Drive)" %}</span>
                <span class="int-he">{% trans "Google Account (Allows for exporting sheets to Google Drive)" %}</span>
        </label>
        <div id="gauth-email-disconnect-display" class="form-section">
            <input id="gauth-email-display" type="text" disabled="disabled" value="{{ profile.gauth_email }}" />
            <button id="disconnect-gauth-email" type="button" class="button blue fillWidth">
                <span class="int-en">{% trans "Disconnect" %}</span>
                <span class="int-he">{% trans "Disconnect" %}</span>
            </button>
            <span id="gauth-disconnect-messages"></span>
        </div>
    </div>
    <div id="gauth-email-disconnected" class="form-section" style="{% if profile.gauth_email %} display: none {% endif %}" >
            <div>
                <span class="int-en">{% trans "Your Google Account has been disconnected" %}</span>
                <span class="int-he">{% trans "Your Google Account has been disconnected" %}</span>
            </div>
            <div class="additional-info">
                <span class="int-en">{% trans "You can link to a new Google Account the next time you export a sheet" %}</span>
                <span class="int-he">{% trans "You can link to a new Google Account the next time you export a sheet" %}</span>
            </div>
        </div>
        <div class="saveCancel">
            <div id="saveAccountSettings" class="button small blue control-elem" tabindex="0" role="button" >
                <span class="int-en">{% trans "Save" %}</span>
                <span class="int-he">{% trans "Save" %}</span>
            </div>
            <a class="button transparent small control-elem" href="/my/profile">
                <span class="int-en">{% trans "Cancel" %}</span>
                <span class="int-he">{% trans "Cancel" %}</span>
            </a>
        </div>
    </div>
	</div>
</div>

{% endblock %}

{% block js %}
	<script>
		$(function(){
		    const $curLang = $("#siteLanguage .toggleOption.on").attr("data-value");
			$(".toggleOption").click(function() {
			    let $this = $(this);
				$this.closest(".toggleSet").find(".toggleOption").removeClass("on").attr("tabIndex","-1").attr("ariaChecked","false");
				$this.addClass("on").attr("tabIndex","0").attr("ariaChecked","true");
				if ($this.attr("data-name") === "reading-history") {
				    if ($this.attr("data-value") == "false") {
				        $('#readingHistory #reading-history-warning').text(Sefaria._("Turning this feature off will permanently delete your reading history.")).addClass('on');
                    } else {
				        $('#readingHistory #reading-history-warning').removeClass('on');
                    }
                }
			});

            $(".toggleOption").keyup(function(e){
                if (e.keyCode === 39) { //39 is right arrow
                    $(this).next(".toggleOption").focus().trigger("click");
                }
                else if (e.keyCode === 37) { //37 is left arrow
                    $(this).prev(".toggleOption").focus().trigger("click");
                }
            });

			$("#saveAccountSettings").click(function(){
			    const $newTransLangPref = $("#translationLanguagePreference .toggleOption.on").attr("data-value");
				let profile = {
                    settings: {
                        email_notifications: $("#emailNotifications .toggleOption.on").attr("data-value"),
                        interface_language: $("#siteLanguage .toggleOption.on").attr("data-value"),
                        textual_custom: $("#textualCustom .toggleOption.on").attr("data-value"),
                        reading_history: $("#readingHistory .toggleOption.on").attr("data-value") === "true" ? true : false,
                        translation_language_preference: $newTransLangPref,
                        translation_language_preference_suggested: true,
                    }
				};
                $.cookie("translation_language_preference", $("#translationLanguagePreference .toggleOption.on").attr("data-value"), {path: "/"});  // see trans pref in cookie in case user is logged out
                $.cookie("translation_language_preference_suggested", JSON.stringify(1), {path: "/"});
                $.post("/api/profile", {json: JSON.stringify(profile)}, function(data) {
					if ("error" in data) {
						alert(data.error);
					} else {
						alert(Sefaria._("Settings Saved"));
						Sefaria.track.event("Settings", "Settings Save", $("#emailNotifications input:checked").val());
						const $newLang = $("#siteLanguage .toggleOption.on").attr("data-value");
						if($newLang != $curLang){
						    Sefaria.track.setInterfaceLanguage("interface language account settings", $newLang);
                        }
						if ($newTransLangPref !== "{{ translation_language_preference }}") {
                            Sefaria.track.event("Reader", "Set Translation Language Preference", $newTransLangPref);
                        }
						window.location = "/my/profile";
					}
				});
			});
            $("#saveAccountSettings").keyup(function(e){
                if (e.keyCode === 13) {
                    $("#saveAccountSettings").trigger("click");
                }
            });
            $("#change-email").click(function () {
                $("#username-change-display").toggle();
                $("#username-change-edit").toggle();
            });
            $("#disconnect-gauth-email").click(function () {
                $.get("/unlink-gauth?redirect=0", function(data) {
					if ("error" in data) {
						$("#gauth-email-disconnect-display #gauth-disconnect-messages").text(data.error);
					} else {
                        $("#gauth-email-change").toggle();
                        $("#gauth-email-disconnected").toggle();
					}
				});
            });

            $("#update-email").click(function(){
				const user_details = {
                    email: $("#username-change-edit #email").val(),
                    confirmEmail: $("#username-change-edit #confirmEmail").val(),
                    confirmPassword: $("#username-change-edit #confirmPassword").val()
				};
				$.post("/settings/account/user", {json: JSON.stringify(user_details)}, function(data) {
					if ("error" in data) {
						$("#username-change-edit #email-edit-errors").text(data.error);
					} else {
                        $("#username-change-display #email-edit-ok").show();
					    $("#username-change-display #email-edit-ok").text(Sefaria._("Email was successfully changed!")).show();
                        $("#username-change-display #email-display").val(user_details["email"]);
                        $("#username-change-display").toggle();
                        $("#username-change-edit").toggle();
					}
				});
			});
		});
	</script>
{% endblock %}
