{% extends "base.html" %}

{% block content %}
<div id="profile">
	<h1>Sefaria Account Settings</h1>
	<br>
	<div id="emailNotifications" class="well">
		<h3>Send summary emails for unread notifications at most:</h3>
		<input type="radio" name="email_notifications" value="daily" {% if profile.settings.email_notifications == "daily" %}checked="checked"{% endif %}> Daily<br>
		<input type="radio" name="email_notifications" value="weekly" {% if profile.settings.email_notifications == "weekly" %}checked="checked"{% endif %}> Weekly<br>
		<input type="radio" name="email_notifications" value="never" {% if profile.settings.email_notifications == "never" %}checked="checked"{% endif %}> Never
	</div>
	<div id="saveAccountSettings" class="btn btn-primary">Save</div>
</div>
{% endblock %}

{% block js %}
	<script>
		$(function(){
			$("#saveAccountSettings").click(function(){
				var profile = {
						settings: {
							email_notifications: $("#emailNotifications input:checked").val()
						}
				};

				$.post("/api/profile", {json: JSON.stringify(profile)}, function(data) {
					if ("error" in data) {
						sjs.alert.message(data.error);
					} else {
						sjs.alert.message("Settings Saved.");
					}
				});
			});
		});
	</script>
{% endblock %}