{% extends "base.html" %}

{% block content %}

{% if S2 %}
<div id="accountSettingsPage" class="static biReady">
	<div class="inner">
	<h1>
        <span class="int-en">Account Settings</span>
        <span class="int-he">הגדרות חשבון</span>

    </h1>
	<div id="saveCancelButtons">
		<a class="button transparent control-elem" href="/account">
			<span class="int-en">Cancel</span>
			<span class="int-he">בטל</span>
		</a>
		<div id="saveAccountSettings" class="button control-elem">
			<span class="int-en">Save</span>
			<span class="int-he">שמור</span>
		</div>
	</div>
	<div id="emailNotifications" class="section">
		<label class="control-elem">
            <span class="int-en">Email Frequency (Maximum)</span>
			<span class="int-he">תדירות שליחת אימייל (מקסימלית)</span>
        </label>
		<div class="toggleSet tripleOption control-elem">
			<div data-value="daily" class="toggleOption {% if profile.settings.email_notifications == "daily" %} active{% endif %}">
                <span class="int-en">Daily</span>
			    <span class="int-he">יומית</span>
            </div><!--
			--><div data-value="weekly" class="toggleOption {% if profile.settings.email_notifications == "weekly" %} active{% endif %}">
                <span class="int-en">Weekly</span>
			    <span class="int-he">שבועית</span>
            </div><!--
			--><div data-value="never" class="toggleOption {% if profile.settings.email_notifications == "never" %} active{% endif %}">
                <span class="int-en">Never</span>
			    <span class="int-he">לעולם לא</span>
            </div>
		</div>
	</div>
	<div id="siteLanguage" class="section">
		<label class="control-elem">
            <span class="int-en">Site Language</span>
			<span class="int-he">שפת ממשק</span>
        </label>
		<div class="toggleSet doubleOption control-elem">
			<div data-value="english" class="toggleOption {% if profile.settings.interface_language == "english" %} active{% endif %}">English</div><!--
			--><div data-value="hebrew" class="toggleOption {% if profile.settings.interface_language == "hebrew" %} active{% endif %}">עברית</div>
		</div>
	</div>
	</div>
</div>

{% else %}
<div id="accountSettingsContent">
	<h1>Account Settings</h1>
	<br>
	<div id="emailNotifications" class="well">
		<h3>Send summary emails for unread notifications at most:</h3>
		<input type="radio" name="email_notifications" value="daily" {% if profile.settings.email_notifications == "daily" %}checked="checked"{% endif %}> Daily<br>
		<input type="radio" name="email_notifications" value="weekly" {% if profile.settings.email_notifications == "weekly" %}checked="checked"{% endif %}> Weekly<br>
		<input type="radio" name="email_notifications" value="never" {% if profile.settings.email_notifications == "never" %}checked="checked"{% endif %}> Never
	</div>
	<div id="saveAccountSettings" class="btn btn-primary">Save</div>
</div>
{% endif %}
{% endblock %}

{% block js %}
	<script>
		$(function(){
		    var $curLang = $("#siteLanguage .toggleOption.active").attr("data-value");
		    console.log($curLang);
			$(".toggleOption").click(function() {
				$(this).closest(".toggleSet").find(".toggleOption").removeClass("active");
				$(this).addClass("active");
			});

			{% if S2 %}
			$("#saveAccountSettings").click(function(){
				var profile = {
						settings: {
							email_notifications: $("#emailNotifications .toggleOption.active").attr("data-value"),
							interface_language: $("#siteLanguage .toggleOption.active").attr("data-value")
						}
				};

				$.post("/api/profile", {json: JSON.stringify(profile)}, function(data) {
					if ("error" in data) {
						alert(data.error);
					} else {
						alert("Settings Saved.");
						Sefaria.track.event("Settings", "Settings Save", $("#emailNotifications input:checked").val());
						var $newLang = $("#siteLanguage .toggleOption.active").attr("data-value");
						if($newLang != $curLang){
						    Sefaria.track.setInterfaceLanguage("interface language account settings", $newLang);
                        }
						window.location = "/account";
					}
				});
			});
			{% else %}
			$("#saveAccountSettings").click(function(){
				var profile = {
						settings: {
							email_notifications: $("#emailNotifications input:checked").val()
						}
				};

				$.post("/api/profile", {json: JSON.stringify(profile)}, function(data) {
					if ("error" in data) {
						sjs.alert.message(data.error);
					} else {
						sjs.alert.message("Settings Saved.");
						sjs.track.event("Settings", "Email Notifications Change", $("#emailNotifications input:checked").val());
					}
				});
			});
			{% endif %}
		});
	</script>
{% endblock %}
