<!DOCTYPE html>
<html>
<head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" /> 
    <meta property="og:image" content="http://www.sefaria.org/static/img/fb-og-image.png"/>

    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}    
    <link rel="stylesheet" href="/static/js/jquery-ui/css/black-tie/jquery-ui-1.8.7.custom.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/base.css">
    <link rel="stylesheet" href="/static/css/common.css">
    <style>
        {% block css %}{% endblock %}
    </style>

	<script>
        {% include "js/analytics.js" %}
    </script>

</head>

<body>
    <div class="wrapper">
        <div id="content">
            {% include "header.html" %}
            {% block content %}{% endblock %}
        </div>
        <div class="push"></div>
    </div>
	
    {% include "elements/footer.html" with class=class %}
    
    {% include "js/jquery.html" %}
    {% include "js/headers.js" %}
    <script src="/static/js/util.js"></script>
    {% block js %}{% endblock %}

</body>
</html>