<!DOCTYPE html>
<html>
<head>

    <title>{% block title %}{% endblock %}</title>
    
    <link rel="stylesheet" href="/static/js/jquery-ui/css/black-tie/jquery-ui-1.8.7.custom.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/css/base.css">
	<script>{% include "js/analytics.js" %}</script>

</head>

<body>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
	
	{% block js %}{% endblock %}

</body>
</html>