{% extends "base.html" %}

{% load sefaria_tags %}
{% load humanize %}

{% block title %}Top Contributors to Open Jewish Learning{% endblock %}

{% block content %}

{% include "elements/header.html" %}


<div id="contributors">
<h1>Top Contributors</h1>
<div id="leaderboard">

<div class="column">

	{% include "elements/leaderboard.html" with leaders=leaders7 title="This week" %}

	{% include "elements/leaderboard.html" with leaders=leaders30 title="This month" %}

</div>

<div class="column">
	{% include "elements/leaderboard.html" with leaders=leaders title="All Time" %}

</div>


<div class="clear"></div>
</div>


{% endblock %}

{% block js %} 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.js"></script>
	<script>{% include "js/django-csrf.js" %}</script>
	<script>

	</script>
{% endblock %}