{% extends "base.html" %}

{% load sefaria_tags %}
{% load humanize %}
{% load cache %}


{% block title %}Sefaria Dashboard{% endblock %}
{% block head %}
{% endblock %}

{% block content %}


<div id="dashboardContent">

	<h1>Sefaria Dashboard</h1>

	{% if request.user.is_staff %}
	<div id="moderatorMsg">
		You are logged in as a moderator. <br>
		You can edit text flags by clicking a cell. <br>
		<div class="actions">
			<a class="button" id="rebuildCount" href="#">Rebuild Text Count</a>
			<a class="button" href="/admin/delete/orphaned-counts">Delete Orphaned Counts</a>
		</div>
	</div>
	{% else %}
	<h1 id="loggedOutMsg">Texts Dashboard</h1>
	{% endif %}

	{% cache 600000 texts_dashboard %}
	<table id="dashboard" class="stripe hover cell-border" style="display:none;width=100%">
		<thead>
			<tr>
				<th>#</th>
				<th>Title</th>
				<th>Category</th>

				<th class="editHead" title="Hebrew Complete">HC</th>
				<th class="editHead" title="Hebrew Segmented">HS</th>
				<th class="editHead" title="Hebrew Reviewed">HR</th>

				<th class="editHead" title="English Complete">EC</th>
				<th class="editHead" title="English Aligned">EA</th>
				<th class="editHead" title="English Reviewed">ER</th>

				<th class="editHead" title="Linked">L</th>
			</tr>
		</thead>
		<tbody>
			{% for row in states %}
				{% if row.title %}
				<tr data-title="{{ row.title }}">
					<td>{{ forloop.counter }}</td>
					<td class="title">{{ row.title|ref_link }}</td>
					<td>{{ row.title|text_category }}</td>

					<td class="editCell heComplete {{ row.flags.heComplete|default:"False" }}" data-flag="heComplete" title="Hebrew Complete">
						{% if row.flags.heComplete %}
							✓
						{% else %}
							{{ row.content|percent_available:"_he"|floatformat:0 }}
						{% endif %}
					</td>
					<td class="editCell heSegmented {{ row.flags.heSegmented|default:"False" }}" data-flag="heSegmented" title="Hebrew Segmented">
						{% if row.flags.heSegmented %}
							✓
						{% else %}
							×
						{% endif %}
					</td>
					<td class="editCell heReviewed {{ row.flags.heReviewed|default:"False" }}" data-flag="heReviewed" title="Hebrew Reviewed">
						{% if row.flags.heReviewed %}
							✓
						{% else %}
							×
						{% endif %}
					</td>

					<td class="editCell enComplete {{ row.flags.enComplete|default:"False" }}" data-flag="enComplete" title="English Complete">
						{% if row.flags.enComplete %}
							✓
						{% else %}
							{{ row.content|percent_available:"_en"|floatformat:0 }}
						{% endif %}
					</td>
					<td class="editCell enAligned {{ row.flags.enAligned|default:"False" }}" data-flag="enAligned" title="English Aligned">
						{% if row.flags.enAligned %}
							✓
						{% else %}
							×
						{% endif %}
					</td>
					<td class="editCell enReviewed {{ row.flags.enReviewed|default:"False" }}" data-flag="enReviewed" title="English Reviewed">
						{% if row.flags.enReviewed %}
							✓
						{% else %}
							×
						{% endif %}
					</td>

					<td class="editCell linked {{ row.flags.linked|default:"False" }}" data-flag="linked" title="Linked">
						{{ row.linksCount }}
					</td>

				</tr>
				{% endif %}

			{% endfor %}
		</tbody>
	</table>
	{% endcache %}
</div>
{% endblock %}

{% block js %}
<script src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />
<style>
	table.dataTable.hover tbody tr:hover,
	table.dataTable.hover tbody tr.odd:hover,
	table.dataTable.hover tbody tr.even:hover, table.dataTable.display tbody tr:hover,
	table.dataTable.display tbody tr.odd:hover,
	table.dataTable.display tbody tr.even:hover {
	  background-color: rgb(205, 221, 238);
	  opacity: 0.7;
	}
	table.dataTable.hover tbody tr:hover.selected,
	table.dataTable.hover tbody tr.odd:hover.selected,
	table.dataTable.hover tbody tr.even:hover.selected, table.dataTable.display tbody tr:hover.selected,
	table.dataTable.display tbody tr.odd:hover.selected,
	table.dataTable.display tbody tr.even:hover.selected {
	  background-color: rgb(205, 221, 238);
	  opacity: 0.7;

	}

	{% if request.user.is_staff %}
	td.editCell {
		cursor: pointer;
	}
	{% endif %}
</style>
<script>

$(document).ready(function() 
    { 
    	$("loggedOutMsg").html("Loading...");

        $("#dashboard").dataTable({
        	paging: false
        }).show();

        $("#loggedOutMsg").html("Texts Dashboard");

        $(".editCell").mouseenter(function(e) {
        	var text = $(this).closest("tr").attr("data-title")
        	var cell = $(this).attr("title");
        	var val  = $(this).text();
        	$("#topMessage").html(text + " : " + cell + ": " + val).show();
        }).mouseleave(function() {
        	$("#topMessage").html("").hide();
        });

        $(".editHead").mouseenter(function(e) {
        	$("#topMessage").html($(this).attr("title")).show();
        }).mouseleave(function() {
        	$("#topMessage").html("").hide();
        });


        //$("#dashboard thead tr").sticky({topSpacing:50});

        {% if request.user.is_staff %}
		    $(".editCell").click(function(e) {
				var currentVal = $(this).hasClass("True");
				if (currentVal) {
					$(this).removeClass("True")
						.addClass("False")
					if ($(this).attr("data-flag") != "linked" ) {
						$(this).html("×");						
					}
				} else {
					$(this).removeClass("False")
						.addClass("True")
						.html("✓");
				}
				//$("#dashboard").tablesorter();

				val = !currentVal;
				var title = $(this).parent("tr").attr("data-title");
				var flag = $(this).attr("data-flag");
				$.post("/api/counts/" + title + "?update=1&flag=" + flag + "&val=" + val, {}, function(){});
			});
			$("#rebuildCount").click(function() {
				var title = prompt("Text Title:");
				if (title) {
					window.location = "/admin/reset/counts/" + title;
				}
			});
        {% endif %}
    } 
); 

</script>
{% endblock %}	