{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Admin: Delete a Sheet" %} | {% trans "Sefaria" %}{% endblock %}

{% block content %}

<div id="deleteSheet" class="static">
    <div class="inner">
        <h1>
            <span class="int-en">{% trans "Delete Sheet" %}</span>
        </h1>
        <h2>{% trans "CAUTION THIS WILL DELETE THE SHEET ID YOU INPUT" %}</h2>
        <h3>{% trans "IT CANNOT BE UNDONE." %}</h3>
        <form method="post" autocomplete="off" if="delete-form" action="{% url "delete/sheet" %}">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="button control-elem">
                <span class="int-en">{% trans "Delete Sheet" %}</span>
            </button>
        </form>
    </div>
</div>
{% endblock %}
