{% extends "base.html" %}
{% load i18n %}
{% load sefaria_tags %}
{% load humanize %}

{% block title %}{% trans "Discuss a Text on Sefaria" %}{% endblock %}

{% block content %}

<div id="discussionsPage" class="container">

    <span class="row">
        <span class="span12">
            <h1>{% trans "Discuss a Text on Sefaria" %}</h1>
        </span>
        <span class="span6 offset3">
            <div class="alert alert-error">
                {% trans "This is an <b>EXPERIMENTAL" %}</b>{% trans " feature. Please try it out and let us know what is" %} <b>{% trans "exciting" %}</b>{% trans " and what is" %} <b>{% trans "frustrating" %}</b>{% trans " about it!" %}
                <a href="mailto:hello@sefaria.org" target="_blank" class="btn btn-mini">Send us Feedback</a>
            </div>
        </span>
    </span>

    <span class="row">
        <span class="span6">
            <h2>{% trans "Choose a Text" %}</h2>
            <!--<span class="btn btn-large btn-primary">Browse</span>-->
            <div id="chooseText"></div>
        </span>
        <span class="span5">
            <h2>{% trans "Start a Discussion" %}</h2>

            <div>{% trans "Anyone with the link below will be able to view and participate." %}</div>
            <!--<i id="discussLinkIcon" class="fa fa-link"></i> -->
            <input id="discussLink" placeholder="choose a text to get your link" />
            <br><br>
            <a id="goLink" class='btn btn-large btn-primary' href='#'>{% trans "Get Started" %}</a>
            <br><br>
            {% if discussions|length %}
            <div>
            <h3>{% trans "Your Discussions" %}</h3>
            {% for discussion in discussions %}
                <div class="discussion">
                    {{ discussion|discussion_link }}
                </div>
            {% endfor %}
            </div>
            {% endif %}

        </span>

    </span>
</div>

{% include "elements/login_prompt.html" with msg={% trans "Please login to Start a Discussion." %} %}

{% endblock %}

{% block js %} 
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.js"></script>-->
    <script>{% include "js/django-csrf.js" %}</script>
    <script>

    $(function() {
        sjs.makeLayer = function(ref) {
            console.log(ref);
            if (!sjs.loggedIn) {
                return sjs.loginPrompt();
            }
            if (sjs._layerUrlkey) {
                sjs.showLayerInfo(ref);
                return;
            }
            $.post("/api/discussions/new", {}, function(data) {
                if ("error" in data) {
                    sjs.alert.message(data.error);
                } else {
                    sjs._layerUrlkey = data.urlkey;
                    sjs.showLayerInfo(ref);
                }
            });
        };
        sjs.showLayerInfo = function(ref) {
            var link = "/" + normRef(ref) + "?layer=" + sjs._layerUrlkey;
            $("#discussLink").val("https://www.sefaria.org" + link);
            $("#goLink").attr("href", link).show();
        };
        $("#browse").click(function() {
            sjs.textBrowser.show({
                callback: sjs.makeLayer,
                position: "static",
                target: "#chooseText" 
            });              
        })
      
        sjs.textBrowser.show({
                callback: sjs.makeLayer,
                position: "static",
                target: "#chooseText" 
        });              

    })

    </script>
    <!--
    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f0b68586603bc9f"></script>
    -->
{% endblock %}