{% extends "base.html" %}

{% load sefaria_tags %}
{% load humanize %}

{% block title %}Edit Term: {{ term }}{% endblock %}

{% block content %}

<div id="editTerm" class="static container">
  <div class="inner">
    <h1>Terms Editor</h1>
    <div id="jsonEditor"></div>
  </div>
</div>

{% endblock %}


{% block js %}
  <script src="/static/bundles/jsonEditor/jsonEditor.js"></script>
  <script>
    {% autoescape off %}
    var data = {{ dataJSON }};
    {% endautoescape %}
    $(function() {
      SefariaJsonEditor("terms", document.getElementById("jsonEditor"));
    });
  </script>
{% endblock %}