{% load sefaria_tags %}

<!DOCTYPE html>
<html>

<head>

	<title>{{ page_title }} | Sefaria.org</title>
	<meta name="description" content="{{ description_text }}... [{{ page_title }} {{ title_variants }}]">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<link rel="stylesheet" href="/static/js/jquery-ui/css/smoothness/jquery-ui-1.8.22.custom.css">
	<link rel="stylesheet" href="/static/css/reader.css">
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="/static/css/common.css">
	<link rel="stylesheet" href="/static/css/reader-print.css" media="print" />
    <link rel="stylesheet" href="/static/css/s2.css">

    <style>
      body {
        overflow: visible;
      }
    </style>

	<script>{% include "js/analytics.js" %}</script>

</head>

<body class="{{ contentLang }} {{ layout }} {{ lines }} {% if not hasSidebar %}noCommentary{% endif %} {% if EMBED %}embeded{% endif %} {% if onlyLanguage %}onlyLanguage{% endif %} {{ sidebarLang }}">

	<div id="topLeftLinks">
		{% if "book" in text %}
		<a id="exittextTocLink" href="/{{ text.indexTitle }}">&laquo; {{ text.indexTitle }}</a>
		{% endif %}
		{% include "elements/share_link.html" %}
	</div>

	<div class="screen-container" style="left:-5000%">
		<div class="screen" style="left:5000%">
			<div class="basetext {{ layout }} {{ lines }} {{ contentLang }} {% if not hasSidebar %}noCommentary{% endif %}">
				<div class="sectionTitle">
					<span class="en">{{ text.ref }}</span>
					<span class="he">{{ text.heTitle|default:"" }}</span>
				</div>
				<span class="spacer"></span>
				{% autoescape off %}
				{% for line in zipped_text %}
					<span class="verse">
						<span class="en">{{ line.0 }}</span>
						<span class="he">{{ line.1 }}</span>
						<span class="clear"></span>
					</span>
				{% endfor %}
				{% endautoescape %}
			</div>
			<div class="aboutBar">
				<div class="aboutBarBox">
					 <div class="btn aboutText">About Text</div>
				</div>
			</div>
			<div class="commentaryBox">
				<div class="hideCommentary"><div class="hideTab gradient">▸</div></div>
				<div class="commentaryViewPort"></div>
				<div class="sourcesBox">
					<div class="sourcesHeader">
						<span class="showSources btn active sourcesCount sidebarMode" data-sidebar="commentary"> Sources</span><!--
						--><span class="btn showNotes sidebarMode" data-sidebar="notes">
							<span class='notesCount'></span> Notes
						</span><!--
						--><span class="btn sidebarButton">
							<i class="fa fa-bars"></i>
						</span>
						<div class="clear"></div>
					</div>
				</div>
			</div>
			<div class="sourcesList sidePanel">
				<div class="sourcesWrapper"></div>
			</div>
		</div>
	</div>

	<div id="about" class="modal" style="display:none;">
		<div id='hideAbout'><i class="fa fa-times"></i></div>
		<div id='aboutMenu'>
			<div id="aboutVersions"></div>
			<div id="aboutButtonBox">
				<div class="clear"></div>
			</div>
			<div id="aboutText">
				<span id="aboutTextTitle"></span>
				<span id="aboutTextSections"></span><br>
				<div id='addTranslation' class='action btn btn-success'><i class="fa fa-plus"></i>  Add Translation</div>
				<span id='addVersion' class="action btn btn-success"><i class="fa fa-plus"></i>  Add Version</span>
				<span id='editTextInfo' class='action btn btn-info'><i class="fa fa-info-circle"></i>  Edit Text Info</span>
				{% if request.user.is_staff and text and "book" in text %}
				<span id='deleteText' class='action btn btn-warning' data-title='{{ text.commentator|default:text.book }}' {% if text.commentator %}data-is-commentator='1' data-commentary-text='{{ text.book }}'{% endif %}><i class="fa fa-trash-o"></i> Delete Text</span>
				{% endif %}
			</div>

			<div class="clear"></div>
		</div>
	</div>

    {% include "header.html" %}

	<div id="newTextModal" class="modal">
		<div class="header">Add a New Text</div>
		<div id="newTextMsg">Text or commentator name:</div>
		<input id="newTextName">
		<span id="newTextActions">
			<span id="newTextOK" class="action btn inactive">Add</span>
			<span id="newTextCancel" class="action btn">Cancel</span>

		</span>
	</div>

	<div id="verseSelectModal" class="modal">
		<div id="selectInstructions">
			<div>Click a <span class="smallSectionName"></span> to add a <span class="sourceOrNote">Source</span>.</div>
			<span class="btn cancel">Cancel</span>
		</div>
		<div id="selectConfirm">
			<div>Add a <span class="sourceOrNote">Source</span> to:</div>
			<div id="selectedVerse"></div>
			<div id="selectedControls">
				<span id="selectOk" class="btn">OK</span>
				<span id="selectReset" class="btn">Choose again</span>
				<span class="cancel btn">Cancel</span>
			</div>
		</div>
	</div>

	<div id="addToSheetModal" class="modal">
		<div class="header">Add <span class="sourceName"></span> to a Source Sheet</div>
		<ul id="sheets">
		</ul>
		<div class="controls">
			<div class="btn ok">Add</div>
			<div class="btn cancel">Cancel</div>
		</div>
	</div>

	<div id="reviewsModal" class="modal">
		<div id="reviewsWrapper">
			<div id="reviewTitle">
			</div>
			<div id="reviewAbout">
			</div>
			<div id="reviews">
			</div>

			{% if request.user.is_authenticated %}
			<div id="addReview">
				<div id="yourReviewTitle">Your Review:</div>
				<textarea id="reviewText"></textarea>
				<a href="#" id="reviewHelpLink">How should I write a review?</a>
				<div id="score>">
					<div id="raty"></div>
				</div>

			</div>

			<div id="reviewButtonsBox">
				<div class="btn save">Save</div>
				<div class="btn cancel">Cancel</div>
			</div>
			{% else %}
			<div id="loginToReview">
				To add your review, please <a href="/login?next={{ request.get_full_path }}">log in</a> or <a href="/register?next={{ request.get_full_path }}">register</a>.
			</div>
			<div id="reviewButtonsBox">
				<div class="btn cancel">Close</div>
			</div>
			{% endif %}
	</div>
		<div id="reviewHelp">
			<h3>Writing Helpful Reviews</h3>
			<p><b>For primary texts and historical translations:</b> Indicate what outside source (book, web page) was used to compare the text, or make clear that your review is only looking at the text present.</p>
			<div class="reviewExamples">
				<div class="exampleReview">I compared this text to X printed edition and found no problems.</div>
				<div class="exampleReview">I checked this text against the edition on X website, all looks good.</div>
				<div class="exampleReview">I read this text carefully and don't see anything wrong.</div>
			</div>

			<p><b>For original translations:</b> Review the text carefully next to the original, and comment on its accuracy and style according to our <a href="/translation-guidelines" target="_blank">translation guidelines</a>.</p>
			<div class="reviewExamples">
				<div class="exampleReview">This translation seems accurate to me.</div>
				<div class="exampleReview">The language could be improved, but the translation seems right.</div>
				<div class="exampleReview">This translation misunderstands the term X.</div>
			</div>

			<div id="scoreHelp">
				<b>How to Score your Review:</b>
				<div class="scoreExample">
					<span class="raty" data-raty="1"></span> Compared closesly to a source, confident there are no problems.
				</div>
				<div class="scoreExample">
					<span class="raty" data-raty="0.8"></span> Compared to a source, didn't notice any problems.
				</div>
				<div class="scoreExample">
					<span class="raty" data-raty="0.6"></span> Looks problem free, but could be reviewed more closely.
				</div>
				<div class="scoreExample">
					<span class="raty" data-raty="0.4"></span> Found some issues that need to be addressed.
				</div>
				<div class="scoreExample">
					<span class="raty" data-raty="0.2"></span> Found serious problems that need to be addressed.
				</div>
			</div>
			<div id="reviewHelpOK" class="btn">OK</div>
		</div>
	</div>


	<div id="newVersionBox">
        <div id="editButtons" style="display:none;">
            <span id="addVersionSave" class='btn btn-primary'>Save</span>
            <span id='addVersionCancel' class='btn'>Cancel</span>
        </div>
		<div id="addVersionHeader">
			<div id="editTitle"></div>
			<div id="addVersionHeaderLeft">
				<div class="compareTitle"></div>
				<a class="compareSource" href="#" target="_blank">Source <i class="fa fa-external-link"></i></a>
			</div>
			<div id="addVersionHeaderRight">

				<div id="textTypeForm">
					<span class="option">
						<input type="radio" id="originalRadio" name="newTextType" value="original" checked="checked">
						Original Translation
					</span>
					<span class="option">
						<input type="radio" id="copyRadio" name="newTextType" value="copy">
						Copied Text
					</span>
					<span id="showOriginal"></span>
				</div>
				<div id="cc0Message" class="alert">
					This text will be published with a <a href="http://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC-0</a> licence, effectively donating it to the Public Domain. Only submit texts as "Original Translation" that you have authored.
				</div>
				<div id="copiedTextForm">
					<div id="copyWarning" class="alert">
						Copied texts must either be in the <b>Public Domain</b> or carry a <b>Creative Commons</b> license such as <a href="http://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC0</a>, <a href="http://creativecommons.org/licenses/by/3.0" target="_blank">CC-BY</a>, or <a href="http://creativecommons.org/licenses/by-sa/3.0/" target="_blank">CC-BY-SA</a>. You can learn more about when a text passes into the Public Domain on this <a href="http://copyright.cornell.edu/resources/publicdomain.cfm" target="_blank">summary of Copyright Terms</a>.
					</div>
					<div><span>Version Title:</span> <input id="versionTitle"></div>
					<div><span>Copied from:</span> <input placeholder="a URL or book" id="versionSource"></div>
				</div>

				<div id="languageForm">
					<span>Language:</span>
					<select id="language">
					  <option value="en">English</option>
					  <option value="he">Hebrew</option>
					  <!--
					  <option value="ar">Aramaic</option>
					  <option value="ru">Russian</option>
					  <option value="es">Spanish</option>
					  <option value="fr">French</option>
					  <option value="de">German</option>
					-->
					</select>
				</div>

			</div>
			<div class="clear"></div>
		</div>
		<textarea id='newVersion'></textarea>
		<div id="newTextCompare"></div>

	</div>

	{% include "elements/contribute_prompt.html" %}

	{% include "elements/edit_video.html" %}

	{% include "elements/login_prompt.html" with msg="Please log in to add or edit." %}


	<div id="unsupported">
		Sefaria does not currently run on Internet Explorer.
		<br><br>
		Please try using Chrome, Firefox or Safari.
		<br><br>
		Sorry, there's just too much to do!
	</div>


{% include "js/jquery.html" %}
<script src="/static/js/jquery.scrollTo-1.4.2-min.js"></script>
<script src="/static/js/jquery.history.js"></script>
<script src="/static/js/jquery.easing.1.3.js"></script>
<script src="/static/js/jquery.caret.1.02.js"></script>
<script src="/static/js/jquery.textchange.js"></script>
<script src="/static/js/jquery.autosize.js"></script>
<script src="/static/js/jquery.slimscroll.min.js"></script>
<script src="/static/js/jquery.tag-it.min.js"></script>
<script src="/static/js/jquery.raty.js"></script>
<script src="/static/js/jquery.tooltipster.min.js"></script>

{% include "js/headers.js" %}
<script>
{% autoescape off %}
	{% include "js/django-csrf.js" %}
	var sjs = sjs || {};

	$.extend(sjs, {
		current: {{ initJSON }},
		langMode: "{{ contentLang }}".substring(0,2)
	});
    if("edit_lang" in sjs.current){
        sjs.langMode = sjs.current["edit_lang"];
    }

{% endautoescape %}
</script>
<script type="text/javascript" src="/static/js/util.js"></script>
<script type="text/javascript" src="/static/js/reader.js"></script>
{% if not OFFLINE %}
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4f0b68586603bc9f"></script>
{% endif %}
{% if S2 or request.flavour == "mobile" %}
    {% include "react_header_activate.html" %}
{%  endif %}
</body>
</html>
