{% extends "base.html" %}

{% block content %}
<div id="editProfileContent">
	<h1>Your Profile on Sefaria</h1>
	<div id="profileBox" class="well">

		<div id="editProfileContentLeft">
		<div class="field">
			<label>First Name</label>
			<input id="firstName" value="{{ user.first_name }}">
		</div>
		<div class="field">
			<label>Last Name</label>
			<input id="lastName"  value="{{ user.last_name }}">
		</div>
		<div id="aboutBox">
			<label>About Me</label>
			<textarea id="bio">{{ profile.bio }}</textarea>
		</div>
		<div class="field">
			<label>Profile Image URL</label>
			<input id="imageURL"  value="{{ profile.imageURL }}">
		</div>
		</div>

		<div id="editProfileContentRight">


		<div class="field">
			<label>Title</label>
			<input id="position"  value="{{ profile.position }}">
		</div>
		<div class="field">
			<label>Organization</label>
			<input id="organization" value="{{ profile.organization }}" >
		</div>
		<div class="field">
			<label>Website</label>
			<input id="website" value="{{ profile.website }}" >
		</div>
		<div class="field">
			<label>Location</label>
			<input id="location" value="{{ profile.location }}" >
		</div>
		<div class="field">
			<label>Email (will be public)</label>
			<input id="email"  value="{{ profile.email }}">
		</div>
		<div class="field">
			<label>Facebook</label>
			<input id="facebook"  value="{{ profile.facebook }}">
		</div>
		<div class="field">
			<label>Twitter</label>
			<input id="twitter"  value="{{ profile.twitter }}">
		</div>
		</div>
		<div class="clear"></div>
	</div>
	<div id="saveProfile" class="btn btn-primary">Save</div>
</div>
{% endblock %}

{% block js %}
	<script>
		$(function(){
			$("#saveProfile").click(function(){
				var profile = {
					first_name:   $("#firstName").val(),   
					last_name:    $("#lastName").val(),   
					imageURL:     $("#imageURL").val(),
					position:     $("#position").val(),
					organization: $("#organization").val(),
					website:      $("#website").val(),
					location:     $("#location").val(),
					email:        $("#email").val(),
					facebook:     $("#facebook").val(),
					twitter:      $("#twitter").val(),
				};

				$.post("/api/profile", {json: JSON.stringify(profile)}, function(data) {
					if ("error" in data) {
						sjs.alert.message(data.error);
					} else {
						sjs.alert.message("Profile Saved.");
						sjs.track.event("Settings", "Profile Edit", "");
						window.location = "/my/profile";
					}
				}).fail(function() {
					sjs.alert.message("Sorry, an Error occurred.");
				});
			});
		});
	</script>
{% endblock %}