{% extends "base.html" %}
{% load i18n static %}
{% get_static_prefix as STATIC_PREFIX %}

{% load sefaria_tags %}


{% block title %}{% trans "Edit Group on Sefaria" %}{% endblock %}

{% block css %}
body {
  overflow: scroll;
}
{% endblock %}

{% block content %}
<div id="editGroupPageContainer" class="static biReady">
  <div id="editGroupPageContainerInner" class="inner">
    <h1>Loading...</h1>
  </div>
</div>
{% endblock %}

{% block js %}

<script>
    {% autoescape off %}
    var DJANGO_VARS = {
        props: {
      	    initialData: {{ groupData|jsonify }}
        },
        containerId: 'editGroupPageContainerInner',
        reactComponentName: 'EditGroupPage',
        ga: ga,
        static_url: {{ STATIC_PREFIX }}
    };
    {% endautoescape %}

</script>
{% endblock %}