{% extends "base.html" %}
{% load static %}
{% load sefaria_tags %}
{% load humanize %}

{% block title %}Edit Text Info for {{ title }}{% endblock %}

{% block content %}

<div id="editTextInfo">

    {% if "toc" in request.GET %}
    <!-- NEW VERSION, IN PROGRESS, access with ?toc parameter-->
    <div id="tocBuilder">
    </div>

      <li class="tocNode nodeTemplate">
            <div>
                <div class='nodeTitleDisplay'><i>Untitled</i></div>
                <ul class='nodeContent'></ul>
                <ul class='nodeChildren'></ul>
                <div class="nodeControls">

                    <div class='field nodeType'>
                        <label>Section Type</label>
                        <span class="option">
                            <input type="radio" class="structureRadio" name="nodeType" value="structure" checked="checked">
                            Structure
                        </span>
                        <span class="option">
                            <input type="radio" class="contentRadio" name="nodeType" value="content">
                            Content
                        </span>
                    </div>
                    <div class='field'><label>English Title</label><input class='nodeTitle' /></div>
                    <div class='field'><label>Hebrew Title</label><input class='nodeHeTitle' /></div>
                    <div class='structureFields'>
                        <div class='addNode btn btn-mini'><i class='fa fa-plus'></i> Add Subsection</div>
                    </div>
                    <div class='contentFields' style="display:none;">
                        <div class='field'>
                            <label>Sections</label>
                            <select class='sectionNames'>
                              <option value="Chapter,Verse">Chapter, Verse</option>
                              <option value="Chapter,Paragraph">Chapter, Paragraph</option>
                              <option value="Chapter,Mishnah">Chapter, Mishnah</option>
                              <option value="Chapter,Midrash">Chapter, Midrash</option>
                              <option value="Chapter,Mitzvah">Chapter, Mitzvah</option>
                              <option value="Daf,Line">Daf, Line</option>
                              <option value="Paragraph">Paragraph</option>
                              <option value="Line">Line</option>
                              <option value="Mitzvah">Mitzvah</option>
                              <option value="Book,Section,Paragraph">Book, Section, Paragraph</option>
                              <option value="Section,Subsection,Paragraph">Section, Subsection, Paragraph</option>
                              <option value="">[Single Text Section]</option>
                              <option value="other">Other...</option>
                            </select>
                        </div>
                        <div class='field'><label>Length</label><input class='nodeLength'></div>
                    </div>
                    <div class='btn btn-mini removeNode'><i class='fa fa-times'></i> Remove Section</div>
                </div>
            </div>
        </li>
    {% else %}
    <!-- OLD VERSION, still shows by default-->
    <link rel="stylesheet" href="{% static 'js/lib/jquery-ui/css/smoothness/jquery-ui-1.8.22.custom.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <script src="{% static 'js/s1/util.js' %}"></script>
    <div id="newIndex">

        <div id="newIndexMsg">Sefaria doesn't yet know about the text "<span id="textName"></span>".<div class="sub">Please provide some basic information about this text.</div></div>

        <div class="fieldSet">
            <span class="fieldLabel">
            <div class="help">?
                <div class="helpText">
                The primary title of a text. Texts may have multiple titles which can be entered below, but this will be the default way of referring to this text.
                <br><br>
                Titles in this field must use Roman chacters, but may be transliterations. Add titles in Hebrew characters below.
                </div>
            </div>
            Text Title</span> <input id="textTitle"/>
        </div>

        <div class="fieldSet">
            <span class="fieldLabel">
            <div class="help">?
                <div class="helpText">
                The primary title of a text in Hebrew characters. Alternate Hebrew titles may also be added under "Alternate Titles" below.
                </div>
            </div>
            Hebrew Title</span> <input id="heTitle"/>
        </div>

        <div class="fieldSet">
            <span class="fieldLabel">
            <div class="help">?
                <div class="helpText">
                Alternate English Titles can include alternate translations, alternate transliterations spellings, and abbreviations.<br><br>Press enter after each title variant to seprate it from others.
                </div>
            </div>
            Alternate English Titles<span class="optional">(optional)</span></span> <ul id="textTitleVariants"></ul>
        </div>

        <div class="fieldSet">
            <span class="fieldLabel">
            <div class="help">?
                <div class="helpText">
                Alternate Hebrew Titles can include alternate spellings and abbreviations.<br><br>Press enter after each title variant to seprate it from others.
                </div>
            </div>
            Alternate Hebrew Titles<span class="optional">(optional)</span></span> <ul id="textHeTitleVariants"></ul>
        </div>

        <div class="fieldSet" id="textCategories">
            <span class="fieldLabel">
            <div class="help">?
                <div class="helpText">
                A category for the text. Categories are used in searching and grouping texts.
                </div>
            </div>
            Category</span> <select id="textCategory">
                  <option value="">Select a Category…</option>

                  {% for cat in toc %}
                  <option value="{{ cat.category}}">{{ cat.category }}</option>
                  {% endfor %}

                </select> <input id="otherCategory" />
        </div>

        <div class="fieldSet" id="textStructureFieldSet">
            <span class="fieldLabel">
            <div class="help">?
                <div class="helpText">
                A Text's Structure is represented by the hieracrchy of different types of sections that make up the text.<br><br>For example, texts of the Tanakh like Genesis are divided into "Chapters" which are then divided into "Verses".<br><br>Larger texts, such as the Mishneh Torah, may have more levels in their hierarchy, for example "Book" > "Section" > "Chapter" > "Law".
            </div>
            </div>
            Text Structure</span>
            <div id="sectionTypesBox" {% if text_exists %}class="fixedDepth"{% endif %}>
                <span class='sectionType'><input placeholder='e.g. Chapter'/></span>
                <span class='sectionType'> > <input placeholder='e.g. Verse'/> <span class='remove'>X</span></span>
                <span id="addSection">add level of structure</span>
            </div>
        </div>

        <div class="actions">
            <span id="newIndexSave" class="btn btn-primary btn-large">Save</span>
            <span id="newIndexCancel" class="btn btn-large">Cancel</span>
        </div>
    </div>
    {% endif %}

    {% include "elements/login_prompt.html" with msg="Please log in to edit text info." %}


</div>


{% endblock %}

{% block js %}
    <script src="{% static 'js/lib/jquery.tag-it.min.js' %}"></script>
    <script>

    {% if "toc" in request.GET %}

    {% autoescape off %}
    sjs.index = {{ indexJSON }};
    {% endautoescape %}

    $(function() {

        // Add a new Node
        $("#tocBuilder").on("click", ".addNode", function(e){
            var $target = $(this).closest(".tocNode").find(".nodeChildren").eq(0);
            sjs.addNode($target);
        });
        // Remove a Node
        $("#tocBuilder").on("click", ".removeNode", function(e){
            $(this).closest(".tocNode").remove();
        });
        // Update Title
        $("#tocBuilder").on("keyup", ".nodeTitle", function(e){
            $(this).closest(".tocNode").find(".nodeTitleDisplay").eq(0).html($(this).val() || "<i>Untitled</i>");
        });
        // Switch node type mode
        $("#tocBuilder").on("click", ".contentRadio", function(e){
            var $node = $(this).closest(".tocNode");
            $node.find(".structureFields").hide();
            $node.find(".contentFields").show();
            $node.find(".nodeChildren").empty();
            sjs.makeContentNode($node);
        });
        $("#tocBuilder").on("click", ".structureRadio", function(e){
            var $node = $(this).closest(".tocNode");
            $node.find(".structureFields").show();
            $node.find(".contentFields").hide();
            $node.find(".nodeContent").empty();
        });
        // Show Content Blocks on length change
        $("#tocBuilder").on("keyup", ".nodeLength", function(e) {
            var $node = $(this).closest(".tocNode");
            sjs.makeContentNode($node);
        });
        // Show Content Blocks on Section Names change
        $("#tocBuilder").on("change", ".sectionNames", function(e) {
            var $node = $(this).closest(".tocNode");
            sjs.makeContentNode($node);
        });
        // Open Controls for active node
        $("#tocBuilder").on("click", ".tocNode", function(e){
            e.stopPropagation();
            $(".tocNode.active").removeClass("active");
            $(this).closest(".tocNode").addClass("active");
        });
        // Close Controls
        $(document).click(function(e) {
            $(".active").removeClass("active");
        });

        if (sjs.index) {
            sjs.loadIndex(sjs.index);
        } else {
            $(".nodeTemplate").clone().removeClass("nodeTemplate").addClass("rootNode active").appendTo("#tocBuilder");
            $(".rootNode").find(".removeNode").remove();
            sjs.tocBuilderSortable();
        }

        //sjs.loadIndex(mtIndex);

    });

    sjs.radioNodeNumber = 1;

    sjs.tocBuilderSortable = function() {
        // Enables sortable (drag to sort) on toc node children.
        $(".nodeChildren").sortable({
            toleranceElement: '> div',
            placeholder: "placeholder"
        });
    }


    sjs.loadIndex = function(index) {
        // Loads the data of index into the DOM
        $("#tocBuilder").empty();
        sjs.loadIndexNode(index.schema, $("#tocBuilder"));
        $(".active").removeClass("active");
        $("#tocBuilder").find(".tocNode").first().addClass("rootNode active");
        // TODO categories, order?
    };


    sjs.loadIndexNode = function(node, $target) {
        sjs.addNode($target);
        var $node = $target.find(".tocNode").last();
        // Titles
        if (node.default) {
            $node.addClass("default");
        } else {
            for (var i = 0; i < node.titles.length; i++) {
                var t = node.titles[i];
                if (t.lang === "en") {
                    if (t.primary) {
                        $node.find(".nodeTitleDisplay").html(t.text);
                        $node.find(".nodeTitle").val(t.text);
                    } else {
                        // Todo Title Variants
                        // $node.find(".nodeTitleVaiants").val(t.text)
                    }
                } else if (t.lang === "he") {
                    if (t.primary) {
                        $node.find(".nodeHeTitle").val(t.text);
                    } else {
                        // Todo Title Variants
                        // $node.find(".nodeHeTitleVaiants").val(t.text)
                    }
                }
            }
        }
        // Content Node
        if (node.nodeType === "JaggedArrayNode") {
            $node.find(".nodeLength").val(node.lengths ? node.lengths[0] : "");
            var sectionNames = node.sectionNames.join(",");
            $node.find(".sectionNames").val(sectionNames).trigger("change");
            $node.find(".contentRadio").trigger("click");

        } else {
        // Structure Node
            $node.find(".structureRadio").trigger("click");

            for (var i=0; i< node.nodes.length; i++) {
                sjs.loadIndexNode(node.nodes[i], $node.find(".nodeChildren").first());
            }
        }
        // TODO Store Address Types?

    }

    sjs.indexNodeHtml = function(node) {
        // Return the HTML for a single index node

    };

    sjs.addNode = function($target) {
        $(".nodeTemplate").clone().removeClass("nodeTemplate").appendTo($target);
        var $node = $target.find(".tocNode").last();
        $node.find(".nodeType input").attr("name", "nodeType" + sjs.radioNodeNumber)
            .eq(0).prop("checked", true);
        sjs.radioNodeNumber++;
        sjs.tocBuilderSortable();
    }

    sjs.makeContentNode = function($node) {
        // Create representation of a content node according to it settings in nodeControls
        // TODO Handle Bavli Numbering
        var sectionNames = $node.find(".sectionNames").val().split(",");
        if (sectionNames.length < 2) {
            $node.find(".nodeContent").empty();
        } else {
            var length = parseInt($node.find(".nodeLength").val());
            if (length) {
                var html = "";
                for (var i=0; i < length; i++) {
                    html += "<div><div class='contentBlock'>" + sectionNames[0] + " " + (i+1) + "</div></div>";
                }
            } else {
                var html = "<div><div class='contentBlock'>" + sectionNames[0] + "s ...</div></div>";
            }
            $node.find(".nodeContent").html(html);
        }
    };

    sjs.readIndex = function() {
        // Returns an object of the index currently represented in the DOM
        var i = {};

        return i;
    }


    sjs.readIndexNode = function($node) {
        // Returns an object represeting a single index node as it stand in the DOM
        var node = {};

        return node;
    };


    var mt = {
            "key": "Mishnah Torah Test",
            "titles": [
                {
                    "lang": "en",
                    "text": "Mishnah Torah Test",
                    "primary": true
                },
                {
                    "lang": "en",
                    "text": "Rambam Test"
                },
                {
                    "lang": "he",
                    "text": "משנה תורה כאילו",
                    "primary": true
                }
            ],
            "nodes": [
                {
                    "key": "Introduction",
                    "titles": [
                        {
                            "lang": "en",
                            "text": "Introduction",
                            "primary": true
                        },
                        {
                            "lang": "he",
                            "text": "הקדמה",
                            "primary": true
                        }
                    ],
                    "nodes": [
                        {
                            "key": "Transmission",
                            "titles": [
                                {
                                "lang": "en",
                                "text": "Transmission",
                                "primary": true
                                }
                            ],
                            "nodeType": "JaggedArrayNode",
                            "depth": 1,
                            "addressTypes": ["Integer"],
                            "sectionNames": ["Paragraph"]
                        },
                        {
                            "key": "List of Positive Mitzvot",
                            "titles": [
                                {
                                "lang": "en",
                                "text": "List of Positive Mitzvot",
                                "primary": true
                                }
                            ],
                            "nodeType": "JaggedArrayNode",
                            "depth": 1,
                            "addressTypes": ["Integer"],
                            "sectionNames": ["Mitzvah"]
                        },
                        {
                            "key": "List of Negative Mitzvot",
                            "titles": [
                                {
                                "lang": "en",
                                "text": "List of Negative Mitzvot",
                                "primary": true
                                }
                            ],
                            "nodeType": "JaggedArrayNode",
                            "depth": 1,
                            "addressTypes": ["Integer"],
                            "sectionNames": ["Mitzvah"]
                        }
                    ]

                },
                {
                    "key": "Sefer Mada",
                    "titles": [
                        {
                        "lang": "en",
                        "text": "Sefer Mada",
                        "primary": true
                        }
                    ],
                    "nodes": [
                        {
                            "key": "Foundations of the Torah",
                            "titles": [
                                {
                                "lang": "en",
                                "text": "Foundations of the Torah",
                                "primary": true
                                }
                            ],
                            "nodes": [
                                {
                                    "key": "Introduction",
                                    "titles": [
                                        {
                                        "lang": "en",
                                        "text": "Introduction",
                                        "primary": true
                                        }
                                    ],
                                    "nodeType": "JaggedArrayNode",
                                    "depth": 0,
                                    "addressTypes": [],
                                    "sectionNames": []
                                },
                                {
                                    "key": "default",
                                    "default": true,
                                    "nodeType": "JaggedArrayNode",
                                    "depth": 2,
                                    "addressTypes": ["Integer", "Integer"],
                                    "sectionNames": ["Chapter", "Law"]
                                }
                            ]
                        },
                        {
                            "key": "Human Dispositions",
                            "titles": [
                                {
                                "lang": "en",
                                "text": "Human Dispositions",
                                "primary": true
                                }
                            ],
                            "nodes": [
                                {
                                    "key": "Introduction",
                                    "titles": [
                                        {
                                        "lang": "en",
                                        "text": "Introduction",
                                        "primary": true
                                        }
                                    ],
                                    "nodeType": "JaggedArrayNode",
                                    "depth": 0,
                                    "addressTypes": [],
                                    "sectionNames": []
                                },
                                {
                                    "key": "default",
                                    "default": true,
                                    "nodeType": "JaggedArrayNode",
                                    "depth": 2,
                                    "addressTypes": ["Integer", "Integer"],
                                    "sectionNames": ["Chapter", "Law"]
                                }
                            ]
                        },
                        {
                            "key": "Torah Study",
                            "titles": [
                                {
                                "lang": "en",
                                "text": "Torah Study",
                                "primary": true
                                }
                            ],
                            "nodes": [
                                {
                                    "key": "Introduction",
                                    "titles": [
                                        {
                                        "lang": "en",
                                        "text": "Introduction",
                                        "primary": true
                                        }
                                    ],
                                    "nodeType": "JaggedArrayNode",
                                    "depth": 0,
                                    "addressTypes": [],
                                    "sectionNames": []
                                },
                                {
                                    "key": "default",
                                    "default": true,
                                    "nodeType": "JaggedArrayNode",
                                    "depth": 2,
                                    "addressTypes": ["Integer", "Integer"],
                                    "sectionNames": ["Chapter", "Law"]
                                }
                            ]
                        },
                        {
                            "key": "Foreign Worship and Customs of the Nations",
                            "titles": [
                                {
                                "lang": "en",
                                "text": "Foreign Worship and Customs of the Nations",
                                "primary": true
                                }
                            ],
                            "nodes": [
                                {
                                    "key": "Introduction",
                                    "titles": [
                                        {
                                        "lang": "en",
                                        "text": "Introduction",
                                        "primary": true
                                        }
                                    ],
                                    "nodeType": "JaggedArrayNode",
                                    "depth": 0,
                                    "addressTypes": [],
                                    "sectionNames": []
                                },
                                {
                                    "key": "default",
                                    "default": true,
                                    "nodeType": "JaggedArrayNode",
                                    "depth": 2,
                                    "addressTypes": ["Integer", "Integer"],
                                    "sectionNames": ["Chapter", "Law"]
                                }
                            ]
                        },
                        {
                            "key": "Repentance",
                            "titles": [
                                {
                                "lang": "en",
                                "text": "Repentance",
                                "primary": true
                                },
                                {
                                "lang": "en",
                                "text": "Hilchot Teshuva",
                                "presentation": "alone"
                                }
                            ],
                            "nodes": [
                                {
                                    "key": "Introduction",
                                    "titles": [
                                        {
                                        "lang": "en",
                                        "text": "Introduction",
                                        "primary": true
                                        }
                                    ],
                                    "nodeType": "JaggedArrayNode",
                                    "depth": 0,
                                    "addressTypes": [],
                                    "sectionNames": []
                                },
                                {
                                    "key": "default",
                                    "default": true,
                                    "nodeType": "JaggedArrayNode",
                                    "depth": 2,
                                    "addressTypes": ["Integer", "Integer"],
                                    "sectionNames": ["Chapter", "Law"]
                                }
                            ]
                        }
                    ]
                }
            ]
        };
        var mtIndex = {schema: mt};
    {% else %}

    $(function() {
        if (typeof Sefaria !== "undefined") {
            sjs._uid = Sefaria._uid;
        }
        if (!sjs._uid) {
            return sjs.loginPrompt();
        }

        {% autoescape off %}
        sjs.index = {{ indexJSON }};
        {% endautoescape %}

        $("#newIndexSave").click(function() {
            var index = sjs.readIndex();
            if (sjs.validateIndex(index))
                sjs.saveIndex(index);
        });

        $("#newIndexCancel").click(function() {
            var params = getUrlVars();
            if ("after" in params) {
                window.location = params["after"];
            } else {
                window.location = "/";
            }
        });

        $("#textTitleVariants, #textHeTitleVariants").tagit({
            allowSpaces: true
        });

        $("#textCategory").change(function() {
            if ($(this).val() === "Other") $("#otherCategory").show();
            else $("#otherCategory").hide();

        });

        $("#addSection").click(function() {
            $(this).before("<span class='sectionType'> > <input/> <span class='remove'>X</span></span>");
        });

        $(document).on("click", ".remove", function() {
            $(this).parent().remove();
        });

        sjs.loadIndex();
        $("#newIndex").show();

    });


    sjs.loadIndex = function() {
        // Loads Index from sjs.index into the DOM

        // Set Primary Title
        $("#textTitle").val(sjs.index.title);

        {% if new %}
        $("#textName").html(sjs.index.title);
        $("#newIndexMsg").show();
        return;
        {% endif %}

        // Set Hebrew Titles
        $("#heTitle").val( sjs.index.heTitle || "");

        // Set English Title Variants
        sjs.index.titleVariants.forEach(function(variant) {
            $("#textTitleVariants").tagit("createTag", variant);
        });

        // Set Hebrew Title Variants
        sjs.index.heTitleVariants.forEach(function(variant) {
            $("#textHeTitleVariants").tagit("createTag", variant);
        });

        // Make list of categories currently in the select
        var cats = {};
        $("#textCategory option").each(function() {
            cats[$(this).attr("value")] = 1;
        });

        // Set the Category if it's in the list, otherwise set it as "Other"
        var topCat = sjs.index.categories[0];
        if (topCat in cats) {
            $("#textCategory").val(topCat);
        } else {
            $("#textCategory").val("Other");
            $("#otherCategory").val(topCat);
        }
        $("#textCategory").trigger("change");

        if (!("sectionNames" in sjs.index)) {
            $("#textStructureFieldSet").hide();
        }
        else if (sjs.index.categories[0] !== "Commentary") {
            // Remove a section name box if text depth is 1
            if (sjs.index.sectionNames.length == 1) {
                $(".sectionType:gt(0)").remove();
            }

            // Add additional section name boxes if needed
            for (var i = 2; i < sjs.index.sectionNames.length; i++) {
                $("#addSection").trigger("click");
            }

            // Populate sections names
            $(".sectionType").each(function(){
                $(this).find("input").val(sjs.index.sectionNames[$(this).index()]);
            });
        }

    };

    sjs.readIndex = function() {
        // Return an object represent a text index (aka text info)
        // based on the states of the new index form in the DOM.
        var index = {};

        index.title = $("#textTitle").val();
        if (index.title !== sjs.index.title ) {
            // This is a Primary title change
            index.oldTitle = sjs.index.title;
        }

        var heTitle = $("#heTitle").val();
        if (heTitle) { index.heTitle = heTitle; }
        index.titleVariants = sjs.tagitTags("#textTitleVariants");
        index.heTitleVariants = sjs.tagitTags("#textHeTitleVariants");

        var cat = $("#textCategory").val();
        if (sjs.index.categories && sjs.index.categories[0] != "Other" && sjs.index.categories.length > 1) {
            // For categories with sub-categories, don't allow editing categories from interface
            index.categories = sjs.index.categories;
        } else if (cat in {"Tanakh": 1, "Mishnah": 1, "Talmud": 1, "Tosefta": 1}) {
            // Don't allow new texts in these locked categories (we have them all)
            index.categories = "locked";
        } else {
            index.categories = (cat == "Other" ? ($("#otherCategory").val() == "" ? ["Other"] : [$("#otherCategory").val()]) : (cat ? [cat]: []));
        }
        if ($("#textStructureFieldSet").is(":visible")) {
            var sectionNames = [];
            $(".sectionType input").each(function() {
                sectionNames.push($(this).val());
            });
            index.sectionNames = sectionNames;
        }

        return index;
    };


    sjs.validateIndex = function(index) {

        if (!index.title) {
            sjs.alert.message("Please give a text title or commentator name.");
            return false;
        }

        if (/[.\-\\\/]/.test(index.title)) {
            sjs.alert.message('Text titles may not contain periods, hyphens or slashes.');
            return false;
        }

        if (/[0-9]/.test(index.title)) {
            sjs.alert.message('Text titles may not contain numbers. This form is for general information about a text as a whole, not specific citations.');
            return false;
        }

        if ("categories" in index && index.categories.length === 0) {
            sjs.alert.message("Please choose a text category.");
            return false;
        }

        if ("categories" in index && index.categories[0] === "") {
            sjs.alert.message("Please type a category name to add this text under a category not listed in the dropdown.");
            return false;
        }

        if ("categories" in index && index.categories === "locked") {
            sjs.alert.message("Adding new texts to Tanakh, Mishnah and Talmud is currently locked. Please email hello@sefaria.org if you need to add a text to these categories.");
            return false;
        }

        for (var i = 0; i < index["categories"].length; i++) {
            if (/[.\-\\\/]/.test(index["categories"][i])) {
                sjs.alert.message('Categories may not contain periods, hyphens or slashes.');
                return false;
            }
        }

        if ( index.categories[0] !== "Commentary" && $("#textStructureFieldSet").is(":visible") ) {
            // Commentators don't need text structure specified

            if (index.sectionNames.length == 0 || index.sectionNames[0] === "") {
                sjs.alert.message("Please describe at least one level of text structure.");
                return false;
            }

            for (var i = 0; i < index["sectionNames"].length; i++) {
                if (/^\d+$/.test(index["sectionNames"][i])) {
                    sjs.alert.message('Text Structure should be the names of the sections of this text generally (like "Chapter", "Verse", "Paragraph"), not numbers for a specific citation.');
                    return false;
                }
                if (/[.\-\\\/]/.test(index["sectionNames"][i])) {
                    sjs.alert.message('Text Structure names may not contain periods, hyphens or slashes.');
                    return false;
                }
                if (index["sectionNames"][i].length == 0) {
                    sjs.alert.message('Please give a name to each level of Text Structure, or remove unneeded levels.');
                    return false;
                }
            }
        }

        if (containsHebrew(index.title)) {
            sjs.alert.message("Please enter a primary title in English. Use the Hebrew Title field to specify a title in Hebrew.");
            return false;
        }

        return true;
    };


    sjs.saveIndex = function(index) {

        var postJSON = JSON.stringify(index);
        var title = index["title"].replace(/ /g, "_");

        var message = "Saving text information...";
        if ("oldTitle" in index) {
            message += "<br><br>(processing title changes may take some time)"
        }
        sjs.alert.saving(message);
        $.post("/api/index/" + title,  {"json": postJSON}, function(data) {
            if (data.error) {
                sjs.alert.message(data.error);
            } else {
                sjs.alert.message("Text information saved.");
                var params = getUrlVars();
                if ("after" in params) {
                    window.location = params["after"];
                }
            }
        }).fail( function(xhr, textStatus, errorThrown) {
            sjs.alert.message("Unfortunately, there was an error saving this text information. Please try again or try reloading this page.")
        });

    };
    {% endif %}
    </script>
{% endblock %}
