{% extends "base.html" %}
{% load i18n static %}
{% load sefaria_tags %}
{% get_static_prefix as STATIC_PREFIX %}

{% load sefaria_tags %}


{% block title %}{% trans "Edit Collection on Sefaria" %}{% endblock %}

{% block css %}
body {
  overflow: scroll;
}
{% endblock %}

{% block content %}
<div id="editCollectionPageContainer" class="static biReady">
  <div id="editCollectionPageContainerInner" class="inner">
    <h1>{% trans "Loading..." %}</h1>
  </div>
</div>
{% endblock %}

{% block js %}

<script>
    {% autoescape off %}
      DJANGO_VARS.props.initialData = {{ initialData|jsonify }};
      DJANGO_VARS.containerId = 'editCollectionPageContainerInner',
      DJANGO_VARS.reactComponentName = 'EditCollectionPage',
      DJANGO_VARS.static_url = {{ STATIC_PREFIX }};
    {% endautoescape %}

</script>
{% endblock %}