{% extends "base.html" %}

{% load sefaria_tags %}


{% block title %}{% trans "Edit Group on Sefaria" %}{% endblock %}

{% block content %}
{% if S2 %}
<div id="editGroupPageContainer" class="static biReady">
  <div id="editGroupPageContainerInner" class="inner">
    <h1>Loading...</h1>
  </div>
</div>
{% endif %}
{% endblock %}

{% block js %}

<script>
    {% autoescape off %}
    var DJANGO_VARS = {
        propsJSON: {
      	    initialData: {{ groupData|jsonify }}
        },
        containerId: 'editGroupPageContainerInner',
        reactComponentName: 'EditGroupPage',
        ga: ga
    };
    {% endautoescape %}

</script>
{% endblock %}