{% extends "base.html" %}
{% load sefaria_tags %}
{% load i18n static %}

{% block title %}{% trans "Edit Your Profile on Sefaria" %}{% endblock %}

{% block content %}
<div id="editProfilePage" class="static biReady">
	<div class="inner">
        <h1>
            <span class="int-en">Edit Your Profile</span>
            <span class="int-he">עריכת פרופיל</span>
        </h1>
        <div id="saveCancelButtons">
            <a class="button transparent control-elem" href="/my/profile">
                <span class="int-en">Cancel</span>
                <span class="int-he">ביטול</span>
            </a>
            <div id="saveProfile" tabindex="0" role="button" class="button blue control-elem">
                <span class="int-en">Save</span>
                <span class="int-he">שמירה</span>
            </div>
        </div>
        <div id="profileBox">
            <div class="field control-elem">
                <label>
                    <span class="int-en">First Name</span>
                    <span class="int-he">שם פרטי</span>
                </label>
                <input id="firstName" value="{{ user.first_name }}">
            </div>
            <div class="field control-elem">
                <label>
                    <span class="int-en">Last Name</span>
                    <span class="int-he">שם משפחה</span>
                </label>
                <input id="lastName"  value="{{ user.last_name }}">
            </div>
            <div class="field control-elem">
                <label>
                    <span class="int-en">Title</span>
                    <span class="int-he">תפקיד</span>
                </label>
                <input id="position"  value="{{ profile.position }}">
            </div>
            <div class="field control-elem">
                <label>
                    <span class="int-en">Organization</span>
                    <span class="int-he">ארגון</span>
                </label>
                <input id="organization" value="{{ profile.organization }}" >
            </div>
            <div class="field control-elem">
                 <label>
                    <span class="int-en">Website</span>
                    <span class="int-he">אתר אינטרנט</span>
                </label>
                <input id="website" value="{{ profile.website }}" >
            </div>
            <div class="field control-elem">
                 <label>
                    <span class="int-en">Location</span>
                    <span class="int-he">מקום</span>
                </label>
                <input id="location" value="{{ profile.location }}" >
            </div>
            <div class="field control-elem" id="profilePictureBox">
                 <label>
                    <span class="int-en">Profile Picture</span>
                    <span class="int-he">תמונת פרופיל</span>
                </label>
                <img src="{{ profile.gravatar_url_small }}" alt="User Profile Icon"/>
                <span class="int-en">Your profile picture is hosted on <a href="http://www.gravatar.com" target="_blank">Gravatar</a>. Create an account or login on Gravatar to <a class="" href="https://en.gravatar.com/site/signup" target="_blank">change your Profile Picture</a>.</span>
                <span class="int-he">תמונת הפרופיל שלך מתקבלת מאתר <a href="http://www.gravatar.com" target="_blank">Gravatar</a>. צור שם חשבון או הכנס בכדי <a class="" href="https://en.gravatar.com/site/signup" target="_blank">לשנות את תמונת הפרופיל שלך</a>.</span>
            </div>
            <div id="jewishEducation" class="field control-elem">
                 <label>
                    <span class="int-en">Jewish Education <span class="sub">where have you learned</span></span>
                    <span class="int-he">השכלה<span class="sub">היכן למדת מקצועות יהדות</span></span>
                </label>
                <ul id="jewishEducation">
                    {% for line in profile.jewish_education %}
                    <li><input value="{{ line }}" /><i class='remove fa fa-times'></i></li>
                    {% empty %}
                    <li><input value="" /></li>
                    {% endfor %}
                </ul>
                <div id="addEducation"><i class="fa fa-plus"></i><span class="int-en">Add a line</span><span class="int-he">הוסף שורה</span></div>
            </div>
        </div>
        <div id="aboutBox" class="control-elem">
            <label>
                <span class="int-en">About Me</span>
                <span class="int-he">אודותיי</span>
            </label>
            <div contenteditable="true" id="bio">
                {% autoescape off %}
                {{ profile.bio }}
                {% endautoescape %}
            </div>
        </div>
        {% if sheets %}
        <h2>
            <span class="int-en">Public Sheets</span>
            <span class="int-he">דפי מקורות ציבוריים</span>
        </h2>
        <div id="sheetsBox">
            <div id="pinnedSheetsMessage" class=" control-elem">
                <span class="int-en">You can drag and order source sheets that you want to pin to the top of your profile.</span>
                <span class="int-he">ביכולתך לגרור ולסדר דפי מקורות שברצונך לנעוץ בראש הפרופיל שלך.</span>
            </div>
            <div id="pinnedSheets" class="sheetSet control-elem">
                <label>
                    <span class="int-en">Pinned Sheets</span>
                    <span class="int-he">דפי מקורות נעוצים</span>
                </label>
                <ul class="sortableSheets">
                    {% for id in profile.pinned_sheets %}
                    <li>{{ id|sheet_link }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="sheetSet control-elem">
                <label>
                    <span class="int-en">All Sheets</span>
                    <span class="int-he">כל דפי המקורות</span>
                </label>
                <ul class="sortableSheets">
                    {% for sheet in sheets %}
                        {% if sheet.id not in profile.pinned_sheets %}
                        <li>{{ sheet.id|sheet_link }}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}

        <h2>Contact</h2>
        <div id="contactBox">
            <div class="field control-elem">
                <label>
                    <span class="int-en">Email (will be public)</span>
                    <span class="int-he">אימייל (חשוף לציבור)</span>
                </label>
                <input id="public_email" value="{{ profile.public_email }}">
            </div>
            <div class="field control-elem">
                <label>
                    <span class="int-en">Profile URL <span class="sub">www.sefaria.org/profile/{{ profile.slug }}</span></span>
                    <span class="int-he">כתובת לחשבון משתמש<span class="sub">www.sefaria.org/profile/{{ profile.slug }}</span></span>
                </label>
                <input id="slug"  value="{{ profile.slug }}">
            </div>
            <div class="field control-elem">
                <label>
                    <span class="int-en">Twitter Handle</span>
                    <span class="int-he">חשבון טוויטר</span>
                </label>
                <input id="twitter"  value="{{ profile.twitter }}">
            </div>
            <div class="field control-elem">
                <label>
                    <span class="int-en">LinkedIn</span>
                    <span class="int-he">לינקדאין</span>
                </label>
                <input id="linkedin"  value="{{ profile.linkedin }}">
            </div>
            <div class="field control-elem">
                <label>
                    <span class="int-en">Facebook</span>
                    <span class="int-he">פייסבוק</span>
                </label>
                <input id="facebook"  value="{{ profile.facebook }}">
            </div>
            <div class="field control-elem">
                <label>
                    <span class="int-en">YouTube Channel</span>
                    <span class="int-he">ערוץ יוטיוב</span>
                </label>
                <input id="youtube" value="{{ profile.youtube }}">
            </div>
        </div>
	</div>
</div>
{% endblock %}

{% block js %}
	<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
	<script src="{% static 'ckeditor/adapters/jquery.js' %}"></script>
	<script>

		CKEDITOR.config.font_names =
			'Arial/Arial, Helvetica, sans-serif;' +
			'Comic Sans/Comic Sans MS, cursive;' +
			'Courier New/Courier New, Courier, monospace;' +
			'Georgia/Georgia, serif;' +
			'Lucida Sans/Lucida Sans Unicode, Lucida Grande, sans-serif;' +
			'Rashi Script/Rashi Script, serif;' +
			'Tahoma/Tahoma, Geneva, sans-serif;' +
			'Times New Roman/Times New Roman, Times, serif;' +
			'Verdana/Verdana, Geneva, sans-serif;';
		CKEDITOR.config.toolbar = [
			{name: 'removestyle', items: ['RemoveFormat']},
			{name: 'basicstyles', items: [ 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript' ] },
			{name: "justify", items: [ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', 'BidiRtl', 'BidiLtr' ] },
			{ name: 'paragraph', items: [ 'NumberedList', 'BulletedList' ] },
			'/',
			{ name: 'styles', items: [ 'Font', 'FontSize' ] },
			{ name: 'colors', items: [ 'TextColor', 'BGColor' ] },
			{ name: 'links', items: [ 'Link', 'Unlink' ] },
			{ name: 'insert', items: [ 'Image', 'Table', 'HorizontalRule' ] }
		];

		$(function(){
			$("#bio").ckeditor();
			$("#jewishEducation").on("keypress", "input", function(e) {
				if (e.keyCode == 13) {
					$("<li><input /><i class='remove fa fa-times'></i></li>").insertAfter($(this).closest("li")).find("input").focus();
				}
			}).on("blur", "input", function(e) {
				if ($(this).val().length == 0 && $("#jewishEducation li").length > 1) {
					$(this).closest("li").remove();
				}
			});
			$("#jewishEducation").on("click", ".remove", function(e) {
				$(this).closest("li").remove();
			});
			$("#addEducation").click(function() {
				$("<li><input /><i class='remove fa fa-times'></i></li>").insertAfter($("#jewishEducation li").last()).find("input").focus();
			});

			$(".sortableSheets").sortable({connectWith: ".sortableSheets"});
			$("#saveProfile").click(function(){
				var jewishEducation = [];
				$("#jewishEducation").find("input").each(function() {
					var val = $(this).val();
					if (val) {
						jewishEducation.push(val);
					}
				});
				var pinnedSheets = [];
				$("#pinnedSheets").find("a").each(function() {
					var id = parseInt($(this).attr("data-id"));
					if (id) {
						pinnedSheets.push(id);
					}
				});
				// Strip full URLs from youtube and twitter user names
				var youtube = $("#youtube").val();
				youtube = youtube.substring(youtube.lastIndexOf("/")+1);
				var twitter = $("#twitter").val();
				twitter = twitter.substring(twitter.lastIndexOf("/")+1);
				twitter = twitter.substring(twitter.lastIndexOf("@")+1);

                $('#facebook, #linkedin, #website').each(function(elem){
                    link = $(this).val();
                    if (link !== "" && link.search(/^http[s]?\:\/\//) == -1) {
                        link = 'http://' + link;
                    }
                    $(this).val(link);
                });

				var profile = {
					first_name:       $("#firstName").val(),
					last_name:        $("#lastName").val(),
					bio:              $("#bio").text() ? $("#bio").html() : "",
					position:         $("#position").val(),
					organization:     $("#organization").val(),
					website:          $("#website").val(),
					location:         $("#location").val(),
					public_email:     $("#public_email").val(),
					youtube:          youtube,
					facebook:         $("#facebook").val(),
					twitter:          twitter,
					linkedin:         $("#linkedin").val(),
					slug:             $("#slug").val(),
					jewish_education: jewishEducation,
					pinned_sheets:    pinnedSheets
				};

				$.post("/api/profile", {json: JSON.stringify(profile)}, function(data) {
					if ("error" in data) {
						alert(data.error);
					} else {
						if (Sefaria) {
							Sefaria.track.event("Settings", "Profile Edit", "");
						}
						window.location = "/my/profile";
					}
				}).fail(function() {
					sjs.alert.message("Sorry, an Error occurred.");
				});
			});
            $("#saveProfile").keyup(function(e){
                if (e.keyCode === 13) {
                    $("#saveProfile").trigger("click");
                }
            });
		});
	</script>
{% endblock %}
