{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Link Explorer - Visualized Connections Between Talmud and Tanakh | Sefaria" %}{% endblock %}

{% block description %}{% trans "Explore over 30,000 examples of the Talmud quoting a verse from Tanakh. Zoom in to particular books either above or below to explore deeper." %}{% endblock %}

{% block ogimage %}<meta property="og:image" content="{%  static "img/explorer.png" %}" />{% endblock %}

{% block head %}
<script src="https://d3js.org/d3.v3.min.js"></script>
{%  endblock %}

{% block css %}
	#languageToggle {
		display: inline;
	}

	#languageToggle #bilingual {
		display: none;
	}

    svg {
      font-size: 9px;
    }

    #page-title {
        fill: #555;
        font-size: 30px;
        font-weight: lighter;
    }

    #content.english #page-title{
        font-family: "proxima-nova", "Helvetica Neue", "Helvetica", sans-serif;
    }
    #content.hebrew #page-title{
        font-family: "Open Sans Hebrew", sans-serif;
    }
    .book {
        fill-opacity: .7;
    }
    .book.active {
        fill-opacity: 1;
    }
    .book:hover {
         cursor: pointer;
    }
    .book.open:hover {
        cursor: auto;
    }

    .title {
        fill-opacity: .7;
    }
    .title.active {
        fill-opacity: 1;
        text-decoration: underline;
    }
    .title:hover {
         cursor: pointer;
    }

    .axis {
        font-size: 8px;
    }
    .axis path {
        fill: none;
    }

    .link {
      fill: none;
      stroke-opacity: .1; /* mirrored in code */
    }
    .link.active {
      stroke-opacity: .9;
    }
    .link:hover {
      cursor: pointer;
    }

    .preciseLink {
      fill: none;
      stroke-opacity: .4;
      stroke-width: 1;
    }
    .preciseLink.active {
      stroke-opacity: 1;
      stroke-width: 2;
    }
    .preciseLink:hover {
         cursor: pointer;
    }

    .back-up {
        font-size: 8px;
    }
    .back-up:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    #toggle {
        font-size: 12px;
    }
    #toggle .switch:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .selecting .preciseLink {
        stroke-opacity: .1;
    }

    .selecting .preciseLink.selected {
        stroke-opacity: .7;
        stroke-width: 2px;
    }

    .brush .extent {
        stroke: #fff;
        fill-opacity: .125;
        shape-rendering: crispEdges;
    }

    .Torah {
        fill: #1f77b4;
    }
    .Prophets {
        fill: #ff7f0e;
    }
    .Writings {
        fill: #2ca02c;
    }
    .Seder-Zeraim {
        fill:  #d62728;
    }
    .Seder-Moed {
        fill: #9467bd;
    }
    .Seder-Nashim {
        fill: #8c564b;
    }
    .Seder-Nezikin {
        fill: #e377c2;
    }
    .Seder-Kodashim {
        fill: #7f7f7f;
    }
    .Seder-Tahorot {
        fill: #bcbd22;
    }

    .label {
        font-size: 18px;
    }
    #social-container {
        position: relative;
        width: 200px;
        margin: 0 auto;
        top: 720px;
        padding: 0 0 0 33px;
    }

    #social-container .fb-like {
        bottom: 5px;
    }
{% endblock %}

{% block content %}
<div id="linkExplorerPage">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=391767604309866&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div id="social-container">
        <div class="fb-like" data-href="http://www.sefaria.org/explore" data-layout="button_count" data-width="300" data-action="like" data-show-faces="false" data-share="false"></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.sefaria.org/explore" data-text="Visually explore all the relationships between Talmud and Tanakh" data-via="SefariaProject">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
		var a = document.createElement('ol');
		if (typeof a.reversed == "undefined") {
		$("#alertMessage").html('<strong>Warning:</strong> This page uses some features that your browser doesn\'t currently support. <br/>Continue browsing or try one of the latest versions of the following: <a href="http://www.google.com/chrome">Google Chrome</a>, <a href="http://www.firefox.com/">Mozilla Firefox</a>, <a href="http://www.apple.com/safari/">Safari</a>').show();
		}

</script>


<script>
    var GLOBALS = {
        books: {{ books|safe }},
        interfaceLang: "{{ request.interfaceLang }}"
    }
</script>
<script src="{% static 'bundles/explore/explore.js' %}"></script>


{% endblock %}
