{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% if urlRoot == "/explore" %}{% blocktrans %}Link Explorer - Visualized Connections Between Talmud and Tanakh | Sefaria{% endblocktrans %}{% else %}{% blocktrans %}Link Explorer - Visualized Connections Between {{ bottomCatTitle }} and {{ topCatTitle}} | Sefaria{% endblocktrans %}{% endif %}{% endblock %}

{% block description %}{% if urlRoot == "/explore" %}{% blocktrans %}Explore over 30,000 examples of the Talmud quoting a verse from Tanakh. Zoom in to particular books either above or below to explore deeper.{% endblocktrans %}{% else %}{% blocktrans %}Visually explore quotations and connections between {{ bottomCatTitle }} and {{ topCatTitle}}. Zoom in to particular books either above or below to explore deeper.{% endblocktrans %}{% endif %}{% endblock %}

{% block ogimage %}<meta property="og:image" content="{%  static "img/explorer.png" %}" />{% endblock %}

{% block head %}
<script src="https://d3js.org/d3.v3.min.js"></script>
{%  endblock %}

{% block css %}

    #linkExplorerPage {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    svg {
      font-size: 9px;
    }

    #page-title {
        fill: #000;
        font-size: 30px;
        font-weight: lighter;
    }

    #content.interface-english #page-title {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    #content.interface-hebrew #page-title {
        font-family: "Heebo", sans-serif;
    }

    .book {
        fill-opacity: .7;
    }
    .book.active {
        fill-opacity: 1;
    }
    .book:hover {
         cursor: pointer;
    }
    .book.open:hover {
        cursor: auto;
    }

    .title {
        fill-opacity: .7;
    }
    .title.active {
        fill-opacity: 1;
        text-decoration: underline;
    }
    .title:hover {
         cursor: pointer;
    }

    .axis {
        font-size: 8px;
    }
    .axis path {
        fill: none;
    }

    .link {
      fill: none;
      stroke-opacity: .1; /* mirrored in code */
    }
    .link.active {
      stroke-opacity: .9;
    }
    .link:hover {
      cursor: pointer;
    }

    .preciseLink {
      fill: none;
      stroke-opacity: .4;
      stroke-width: 1;
    }
    .preciseLink.active {
      stroke-opacity: 1;
      stroke-width: 2;
    }
    .preciseLink:hover {
         cursor: pointer;
    }

    .back-up {
        font-size: 8px;
    }
    .back-up:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    #toggle {
        font-size: 12px;
    }
    #toggle .switch:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .selecting .preciseLink {
        stroke-opacity: .1;
    }

    .selecting .preciseLink.selected {
        stroke-opacity: .7;
        stroke-width: 2px;
    }

    .brush .extent {
        stroke: #fff;
        fill-opacity: .125;
        shape-rendering: crispEdges;
    }

    .label {
        font-size: 18px;
    }
    #social-container {
        text-align: center;
        margin-top: -20px;
        padding-bottom: 30px;
    }

    #social-container .fb-like {
        bottom: 5px;
    }
    #explorerNav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        background-color: #F9F9F7;
        border-bottom: 1px solid #ddd;
        margin-bottom: 30px;
    }

    .interface-hebrew #explorerNav {
        direction: ltr;
        font-family: "Taamey Frank", "adobe-garamond-pro", "Crimson Text", Georgia, "Times New Roman", serif;
    }

    #explorerNav a {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 18px;
        padding: 15px;
        cursor: pointer;
        color: #000;
        border-top: 6px solid transparent;
    }

    .interface-english #explorerNav a .int-en {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }

    .interface-hebrew #explorerNav a .int-he {
        font-family: "Taamey Frank", "adobe-garamond-pro", "Crimson Text", Georgia, "Times New Roman", serif;
        font-size: 22px;
    }

    #explorerNav a:hover {
        text-decoration: none;
    }

    #explorerNav a.active {
        background-color: white;
    }

    .showAfterLoad {
        visibility: hidden;
    }
{% endblock %}

{% block content %}
<div id="linkExplorerPage">
    
    <div id="explorerNav" class="showAfterLoad">
        <a href="/explore" style="border-top-color: #ccb479">
            <span class="int-en">Tanakh & Talmud</span>
            <span class="int-he">תנ"ך ותלמוד</span>
        </a>
        <a href="/explore-Bavli-and-Mishneh-Torah" style="border-top-color: #802f3e">
            <span class="int-en">Talmud & <span class="int-en" style="white-space: nowrap;">Mishneh Torah</span></span>
            <span class="int-he">תלמוד <span class="int-he" style="white-space: nowrap;">ומשנה תורה</span></span>
        </a>
        <a href="/explore-Bavli-and-Shulchan-Arukh" style="border-top-color: #802f3e">
            <span class="int-en">Talmud & <span class="int-en" style="white-space: nowrap;">Shulchan Arukh</span></span>
            <span class="int-he">תלמוד <span class="int-he" style="white-space: nowrap;">ושולחן ערוך</span></span>
        </a>
        <a href="/explore-Mishneh-Torah-and-Shulchan-Arukh" style="border-top-color: #802f3e">
            <span class="int-en"><span class="int-en" style="white-space: nowrap;">Mishneh Torah</span> & <span class="int-en" style="white-space: nowrap;">Shulchan Arukh</span></span>
            <span class="int-he"><span class="int-he" style="white-space: nowrap;">משנה תורה</span> <span class="int-he" style="white-space: nowrap;">ושולחן ערוך</span></span>
        </a>
        <a href="/explore-Tanakh-and-Midrash-Rabbah" style="border-top-color: #5d956f">
            <span class="int-en">Tanakh & <span class="int-en" style="white-space: nowrap;">Midrash Rabbah</span></span>
            <span class="int-he">תנ"ך <span class="int-he" style="white-space: nowrap;">ומדרש רבה</span></span>
        </a>
        <a href="/explore-Tanakh-and-Mishneh-Torah" style="border-top-color: #802f3e">
            <span class="int-en">Tanakh & <span class="int-en" style="white-space: nowrap;">Mishneh Torah</span></span>
            <span class="int-he">תנ"ך <span class="int-he" style="white-space: nowrap;">ומשנה תורה</span></span>
        </a>
        <a href="/explore-Tanakh-and-Shulchan-Arukh" style="border-top-color: #802f3e">
            <span class="int-en">Tanakh & <span class="int-en" style="white-space: nowrap;">Shulchan Arukh</span></span>
            <span class="int-he">תנ"ך <span class="int-he" style="white-space: nowrap;">ושולחן ערוך</span></span>
        </a>
    </div>

    <div id="svgBefore"></div>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=391767604309866&version=v2.0";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div id="social-container" class="showAfterLoad">
        <div class="fb-like" data-href="http://www.sefaria.org/explore" data-layout="button_count" data-width="300" data-action="like" data-show-faces="false" data-share="false"></div>
        <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.sefaria.org/explore" data-text="Visually explore all the relationships between Talmud and Tanakh" data-via="SefariaProject">Tweet</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>

<!--
    <div class="showAfterLoad">
        <h2>Probably not to highlight</h2>
        <ul>
            <li><a href="/explore-Tanakh-and-Zohar">Tanakh & Zohar</a></li>
            <li><a href="/explore-Mishnah-and-Tosefta">Mishnah & Tosefta</a></li>
            <li><a href="/explore-Mishnah-and-Midrash-Rabbah">Mishnah & Midrash Rabbah</a></li>
            <li><a href="/explore-Tosefta-and-Midrash-Rabbah">Tosefta & Midrash Rabbah</a></li>
        </ul>
    </div>
-->

</div>
{% endblock %}

{% block js %}
<script>
		var a = document.createElement('ol');
		if (typeof a.reversed == "undefined") {
		$("#alertMessage").html('<strong>Warning:</strong> This page uses some features that your browser doesn\'t currently support. <br/>Continue browsing or try one of the latest versions of the following: <a href="http://www.google.com/chrome">Google Chrome</a>, <a href="http://www.firefox.com/">Mozilla Firefox</a>, <a href="http://www.apple.com/safari/">Safari</a>').show();
		}

</script>


<script>
    var GLOBALS = {
        books: {{ books|safe }},
        categories: {{ categories|safe }},
        topCat: "{{ topCat }}",
        bottomCat: "{{ bottomCat }}",
        urlRoot: "{{ urlRoot }}",
        interfaceLang: "{{ request.interfaceLang }}"
    }
</script>
<script src="{% static 'bundles/explore/explore.js' %}"></script>


{% endblock %}
