{% load sefaria_tags %}

<div class="{{ lang }}">
  <div class="title">
    {% if lang == "he" %}
    <span class="he">{{ source.heRef|ref_link|absolute_link }}</span>
    {% elif lang == "en" %}
    <span class="en">{{ source.ref|ref_link|absolute_link }}</span>
    {% endif %}
  </div>

  {% if boxed %}
  <!-- Box the source -->
  <table border="1"><tr><td>
  {% endif %}

      {% if lang == "he" %}
        {{ source.text.he }}
      {% elif lang == "en" %}
        {{ source.text.en }}
      {% endif %}

  {% if boxed %}
  </td></tr></table>
  <!-- End box the source -->
  {% endif %}
</div>
