{% extends "base.html" %}
{% load i18n static %}
{% get_static_prefix as STATIC_PREFIX %}

{% load sefaria_tags %}
{% load humanize %}

{% block title %}{% trans "Sefaria Groups" %}{% endblock %}

{% block content %}

<div id="groupsPage" class="container static">
    <div class="inner">
    <h1>
        <span class='en'>Groups on Sefaria</span>
        <span class='he'>Groups on Sefaria</span>
    </h1>
    <div class="row static-text">
        <div id="groups">
                {% for group in groups %}
                <a class="group" href="/groups/{{ group.name|url_safe }}">
                    {% static "img/group.svg" as default_group %}
                    <img class="groupImage" src="{{ group.imageUrl|default:default_group}}" alt="Image for {{ group.name }}">
                    <div class="groupName">{{ group.name }}</div>
                </a>
                {% endfor %}
        </div>
    </div>
    </div>
</div>

{% endblock %}

{% block js %}
    {% if request.user.is_staff %}
    <script>
        $(document).ready(function() {
            $("img").error(function() {
                $(this).hide();
            });
        });
    </script>
    {% endif %}
{% endblock %}