{% load sefaria_tags %}

<header id="top" class='gradient'>
	<div id="right" class="gradient">
		<div id="showOptions" class="toggle toggleOption gradient">≡</div>
		<div id="rightButtons">
			{% include "elements/accountBox.html" %}
			<div id="viewButtons">
				<span id="biLayoutToggle" class="toggle"><span id="heLeft" class="toggleOption gradient active"><img src="/static/img/backs.png"></span><span id="enLeft" class="toggleOption gradient"><img src="/static/img/faces.png"></span></span>
				
				<span id="layoutToggle" class="toggle"><span id="inline" class="toggleOption gradient active"><img src="/static/img/paragraph.png"></span><span id="block" class="toggleOption gradient"><img src="/static/img/lines.png"></span></span>

				<span id="languageToggle" class="toggle"><span id="english" class="toggleOption gradient {% if langClass == 'english' %}active{% endif %}"><img src="/static/img/english.png"></span><span id="bilingual" class="toggleOption gradient {% if langClass == 'bilingual' %}active{% endif %}"><img src="/static/img/bilingual.png"></span><span id="hebrew" class="toggleOption gradient {% if langClass == 'hebrew' %}active{% endif %}"><img src="/static/img/hebrew.png"></span></span>
				
			</div>
			<div id="editButtons" style="display:none;">
				<span id="addVersionSave" class='btn btn-primary'>Save</span>
				<span id='addVersionCancel' class='btn'>Cancel</span>
			</div>
		</div>
	</div>

	<div id="left">
		<div id="home">
			<a href="/"><img src="/static/img/logo-small.png" /></a>
		</div>
		<div id="sefaria">
			Sefaria<span class="ui-icon ui-icon-triangle-1-s"></span>
			<div class="menu">
				<a href="/texts">Table of Contents</a>
				<a href="/sheets">Source Sheets</a>
				<a href="/activity" class="lineBelow">Recent Activity</a>

				<a href="/translate/Mishnah" class="lineBelow">Translate the Mishnah</a>
				
				<a href="/contribute">Guide to Contributing</a>
				<a href="/educators">Educators</a>
				<a href="/developers" class="lineBelow">Developers</a>

				<a id="help" href="/">Help</a>
				<a href="/faq">FAQ</a>
				<a href="http://blog.sefaria.org" target="_blank">Blog <span class="ui-icon ui-icon-extlink"></span></a>
				<a href="https://groups.google.com/forum/?fromgroups#!forum/sefaria" target="_blank" class="lineBelow">Forum <span class="ui-icon ui-icon-extlink"></span></a>
				<a href="/donate">Donate</a>
			</div>
		</div><div id="textsMenu">
			Texts<span class="ui-icon ui-icon-triangle-1-s"></span>
			{% include "elements/texts_list.html" %}
		</div>
	</div>

	<div id="sectionNav" class="toggle" style="display:none;">
		<div class='toggleOption' id='prev'><img src='/static/img/left.png'></div><div class='toggleOption' id='next'><img src='/static/img/right.png'></div>
	</div>

	<div id="gotoBox">
		<input id="goto" placeholder="Search" />
		<span id="openText" class="ui-icon ui-icon-search"></span>
	</div>

	<span id="breadcrumbs"></span>
	
	<div class="clear"></div>
</header>

<div id="helpModal" class="modal">
	<div id="helpClose" class="ui-icon ui-icon-closethick"></div>

	<div id="helpVideoBox">
	</div>
	<div id="helpVideoButtons">
		<h3>Using Sefaria: </h3>
		<div id="help-intro" class="btn">Intro</div>
		<div id="help-tutorial" class="btn btn-success">Tutorial</div>
		<div id="help-sheets" class="btn">Source Sheets</div>
		<br><br>
		<h3>Contributing to Sefaria: </h3>
		<div id="help-translate" class="btn">Translate</div>
		<div id="help-add" class="btn">Add Text</div>
		<div id="help-edit" class="btn">Edit Text</div>
		<div id="help-connections" class="btn">Add Connections</div>
		<div id="help-newtext" class="btn">Add New Texts</div>
		<div id="helpMore">
			<a href="/contribute">Guide to Contributing</a>
			<a href="/faq">Frequently Asked Questions</a>
			<a href="/forum">Ask the Forum</a>
			<a href="mailto:hello@sefaria.org">Email Us</a>
		</div>
	</div>



</div>

<div id="overlay"></div>