{% load sefaria_tags %}
<header id="top" class=''>
	<div id="right" class="">
		<div id="showOptions" class="">≡</div>
		<div id="rightButtons">

            {% if USE_VARNISH_ESI %}
                <esi:include src="/esi/account_box" />
            {% else %}
		    	{% include "elements/accountBox.html" %}
    		{% endif %}

			<div id="viewButtons">

				<span id="biLayoutToggle" class="toggle"><span id="heLeft" class="toggleOption {% if layout == 'heLeft' %}active{% endif %}"><img src="/static/img/backs.png" alt="Hebrew Left Toggle Icon"></span><span id="heRight" class="toggleOption {% if layout == 'heRight' %}active{% endif %}"><img src="/static/img/faces.png" alt="Hebrew Right Toggle Icon"></span></span>
				
				<span id="sheetLayoutToggle" class="toggle"><span id="sideBySide" class="toggleOption"><img src="/static/img/sideBySide.png" alt="Side-by-side Text Toggle Icon"></span><span id="stacked" class="toggleOption"><img src="/static/img/stacked.png" alt="Stacked Text Toggle Icon"></span></span>

				<span id="layoutToggle" class="toggle"><span id="inline" class="toggleOption active"><img src="/static/img/paragraph.png" alt="Paragraph Text Toggle Icon"></span><span id="block" class="toggleOption"><img src="/static/img/lines.png" alt="Line-by-Line Toggle Icon"></span></span>

				<span id="languageToggle" class="toggle"><span id="english" class="toggleOption {% if contentLang == 'english' %}active{% endif %}"><img src="/static/img/english.png" alt="English Toggle Icon"></span><span id="bilingual" class="toggleOption {% if contentLang == 'bilingual' %}active{% endif %}"><img src="/static/img/bilingual.png" alt="Bilingual Toggle Icon"></span><span id="hebrew" class="toggleOption {% if contentLang == 'hebrew' %}active{% endif %}"><img src="/static/img/hebrew.png" alt="Hebrew Toggle Icon"></span></span>
				
			</div>
		
            <div id="editButtons" style="display:none;">
				<span id="addVersionSave" class='btn btn-primary'>Save</span>
				<span id='addVersionCancel' class='btn'>Cancel</span>
			</div>

		</div>
	</div>

	<div id="left" data-intro="Click here on any page to open this navigation panel." data-step="2">
		<div id="sefaria">
			{% include "elements/sefaria.logotype.svg" %} <i class="fa fa-caret-down"></i>
		</div>
	</div>

	<div id="sectionNav" class="toggle" style="display:none;">
		<div class='toggleOption' id='prev'><i class='fa fa-caret-left'></i></div><div class='toggleOption' id='next'><i class='fa fa-caret-right'></i></div>
	</div>

	<div id="gotoBox" class="searchBox" data-intro="You can also search by keyword, or jump to a text by typing a title or a citation." data-step="3">
		<input id="goto" placeholder="Search" class="searchInput keyboardInput" />
		<span id="openText" class="searchButton ui-icon ui-icon-search"></span>
	</div>

	<span id="breadcrumbs"></span>
	
	<div class="clear"></div>

</header>

<div class="alert alert-error alert-dismissible" role="alert" id="alertMessage"></div>

				
				
				
<div id="navPanel">
	<div id="navPanelTexts" data-intro="Browse all available texts by category here." data-step="1">

		<div id="navToc" class="{{ request.interfaceLang }}">
			<div id='navTocLangToggleBox'>
				<i id='navTocPreviewToggle' class='fa fa-eye' title='Text preview on/off'></i><!--
				--><div id='navTocLangToggle' class='toggle'>
					<div class='langToggle toggleOption {% if request.interfaceLang == "english" %}active{% endif %}' data-lang='english'>
						<img src='/static/img/english.png' alt='English Toggle Icon' /></div><!--
					--><div class='langToggle toggleOption {% if request.interfaceLang == "hebrew" %}active{% endif %}' data-lang='hebrew'>
						<img src='/static/img/hebrew.png' alt='Hebrew Toggle Icon' /></div>
				</div>
			</div>

			<div id="navPanelTextsHeader">Browse Texts</div>

			{% for cat in toc %}
			<div class="tocCat" data-path="{{ cat.category }}">
				<i class="tocCatCaret fa fa-angle-right"></i>
				<span class="en">{{ cat.category }}</span>
				<span class="he">{{ cat.heCategory }}</span>
			</div>
			{% endfor %}
		</div>

		<div id="navPanelTextsMore">
			<span id="moreLink">more <i class="fa fa-caret-down"></i></span>
			<a href="/texts" id="tocLink">table of contents <i class="fa fa-caret-right"></i></a>	
			<span id="lessLink">less <i class="fa fa-caret-up"></i></span>
		</div>
	</div>

	<div class="navLine"></div>

	<div id="navPanelCalendar">
		{% autoescape off %}
		<table>
			<tr>
				<td class="calendarLabel">parasha<span class='hideForSmallScreens'>t hashavua</span></td>
				<td>{{ parasha_link }}</td>
			</tr>
			<tr>
				<td class="calendarLabel">haftara</td>
				<td>{{ haftara_link }}</td>
			</tr>
			<tr>
				<td class="calendarLabel">daf yomi</td>
				<td>{{ daf_yomi_link }}</td>
			</tr>
		</table>
		{% endautoescape %}
	</div>

	<div class="navLine"></div>

	<div id="navPanelLinks">
		{% if request.user.is_staff %}
		<a href="/s2"><i class="fa fa-flash navLinkIcon"></i> Switch to S2</a>
		{% endif %}
		<a href="/"><i class="fa fa-home navLinkIcon"></i> Home</a>
		<a href="/sheets"><i class="fa fa-file-text-o navLinkIcon"></i> Source Sheets</a>
		<a href="/explore"><i class="fa fa-link navLinkIcon"></i> Link Explorer</a>				
		<a href="/activity"><i class="fa fa-clock-o navLinkIcon"></i> Recent Activity</a>
		{% if request.user.is_staff %}
		<a href="/discussions"><i class="fa fa-comments-o navLinkIcon"></i> Discussions</a>
		{% endif %}
		<a href="/translation-requests"><i class="fa fa-star-o navLinkIcon"></i> Translation Requests</a>
        <a href="/people"><i class="fa fa-pencil navLinkIcon"></i> Authors</a>
		<a id="aboutSefaria" href="#"><i class="fa fa-info-circle navLinkIcon"></i> About Sefaria <i class="tocCatCaret fa fa-angle-right"></i></a>
		<a id="help" class="helpLink" href="#"><i class="fa fa-question-circle navLinkIcon"></i> Help</a>
		<a id="donateLink" href="/donate"><i class="fa fa-heart-o navLinkIcon"></i> Donate</a>
	</div>


	<div id="navPanelAboutLinks">
		<a id="aboutLinksBack" class="backLink" href="#"><i class="fa fa-angle-left"></i> back</a>

		<a href="/about">About Sefaria</a>

		<a href="http://blog.sefaria.org" target="_blank">Blog</a>
		<a href="/wiki" target="_blank">Wiki</a>
		<a href="/faq" target="_blank">FAQ</a>
		<a href="/educators" target="_blank">Educators</a>
		<a href="/developers" target="_blank">Developers</a>
		<a href="/contribute" target="_blank">Guide to Contributing</a>
		<a href="/metrics">Metrics</a>		
		<a href="/team">Team</a>
		<a href="/supporters">Supporters</a>
	</div>


	<div id="navPanelFooter">
		<a href="https://groups.google.com/forum/?fromgroups#!forum/sefaria" target="_blank">
			<i class="fa fa-envelope-o"></i> Forum</a> /
		<a href="https://www.facebook.com/sefaria.org" target="_blank">
			<i class="fa fa-facebook"></i> Facebook</a> / 
		<a href="http://www.twitter.com/SefariaProject" target="_blank">
			<i class="fa fa-twitter"></i> Twitter</a> /
		<a href="https://github.com/Sefaria/Sefaria-Project" target="_blank">
			<i class="fa fa-github"></i> GitHub</a>

		<div class="navLine"></div>

		<a class="legalLink" href="/terms">Terms of Use</a> • <a class="legalLink" href="/privacy-policy">Privacy Policy</a>

	</div>
</div>

<div id="helpModal" class="modal">
	<div id="helpClose" class="ui-icon ui-icon-closethick"></div>

	<div id="helpVideoBox">
	</div>
	<div id="helpVideoButtons">
		<h3>Using Sefaria: </h3>
		<div id="help-intro" class="btn">Intro</div>
		<div id="help-navigation" class="btn">Getting Around</div>
		<div id="help-tutorial" class="btn btn-success">Tutorial</div>
		<div id="help-sheets" class="btn">Source Sheets</div>
		<br><br>
		<h3>Contributing to Sefaria: </h3>
		<div id="help-translate" class="btn">Translate</div>
		<div id="help-add" class="btn">Add Text</div>
		<div id="help-edit" class="btn">Edit Text</div>
		<div id="help-connections" class="btn">Add Connections</div>
		<div id="help-newtext" class="btn">Add New Texts</div>
		<div id="helpMore">
			<a href="/contribute">Guide to Contributing</a>
			<a href="/faq">Frequently Asked Questions</a>
			<a href="/forum">Ask the Forum</a>
			<a href="mailto:hello@sefaria.org">Email Us</a>
		</div>
	</div>
</div>

<div id="topMessage"></div>

<div id="overlay"></div>

<link rel="stylesheet" type="text/css" href="/static/css/keyboard.css">
<link rel="stylesheet" type="text/css" href="/static/css/tooltipster.css" />

{% if GLOBAL_WARNING %}
	{% autoescape off %}
	<div id="globalWarning">
		<i class='fa fa-times' onClick="$('#globalWarning').remove();"></i>
		<i class="fa fa-warning"></i>
		{{ GLOBAL_WARNING_MESSAGE }}</div>
	{% endautoescape %}
{% endif %}