{% extends "base.html" %}
{% load i18n cache humanize sefaria_tags %}
{% load i18n %}
{% load static %}
{% block title %}{% trans "Sefaria Metrics" %}{% endblock %}

{% block description %}{% trans "See graphs charting Sefaria's progress since 2013 across metrics including word counts, number of links and number of source sheets." %}{% endblock %}

{% block content %}
<div class="superAbout">
    {% if not request.user_agent.is_mobile %}
        {% include '_sidebar.html' with whichPage='metrics' %}
    {% endif %}
    <div id="metricsPage" class="biReady container static">


        <div class="inner">
                <h1 class="aboutHeader">
                    <span class="int-en">Metrics</span>
                    <span class="int-he">מדדים</span>
                </h1>
            <div id="metricsBox">
                {% trans "Loading..." %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %} 
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.7/dist/chart.umd.min.js"></script>
<script>
	var metrics = {% autoescape off %}{{ metrics_json }}{% endautoescape %};
	
	for (var i = 0; i < metrics.length; i++) {
		metrics[i]["totalWords"] = metrics[i]["heWords"] + metrics[i]["transWords"];
	}

	var titles = {
			"totalWords": "{% trans "Total Words in Library" %}",
			"heWords": "{% trans "Words in Hebrew & Aramaic" %}",
			"transWords": "{% trans "Words in Translation" %}",
			"sctWords": "{% trans "Words of Original Translation created by Sefaria Volunteers" %}",
			"contributors": "{% trans "Number of Public Contributors" %}",
			"links": "{% trans "Number of Intertextual Links" %}",
			"sheets": "{% trans "Number of Source Sheets" %}"
	};

	var labels = [];
	for (var i = 0; i < metrics.length; i++) {
		var timestamp = metrics[i]["timestamp"]["$date"];
		var a = new Date(timestamp);
 		var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
		var month = months[a.getMonth()];
		var date = a.getDate();

		labels.push(month + " " + date + ", " + a.getFullYear());
	}

	var chartInstances = {};

	var destroyCharts = function() {
		for (var key in chartInstances) {
			if (chartInstances.hasOwnProperty(key) && chartInstances[key]) {
				chartInstances[key].destroy();
			}
		}
		chartInstances = {};
	};

	var makeData = function(field) {
		var data = [];
		for (var i = 0; i < metrics.length; i++) {
			data.push(metrics[i][field]);
		}
		return data;
	};

	var makeChart = function(field) {
		var dataset = makeData(field);
		var canvasId = field + "Canvas";
		var $container = $("<div>", { id: field, "class": "chart" });
		$container.append($("<span>", { "class": "chartLabel", text: titles[field] }));
		var $canvasWrapper = $("<div>", { "class": "chartCanvasWrapper" });
		var $canvas = $("<canvas>", { id: canvasId });
		$canvasWrapper.append($canvas);
		$container.append($canvasWrapper);
		$("#metricsBox").append($container);

		var ctx = document.getElementById(canvasId).getContext("2d");

		if (chartInstances[field]) {
			chartInstances[field].destroy();
		}

		chartInstances[field] = new Chart(ctx, {
			type: "line",
			data: {
				labels: labels,
				datasets: [{
					label: titles[field],
					data: dataset,
					borderColor: "#4871bf",
					backgroundColor: "rgba(72, 113, 191, 0.1)",
					pointRadius: 0,
					pointHoverRadius: 3,
					tension: 0.3,
					fill: true
				}]
			},
			options: {
				responsive: true,
				maintainAspectRatio: false,
				plugins: {
					legend: {
						display: false
					}
				},
				scales: {
					x: {
						display: false,
						grid: {
							display: false
						}
					},
					y: {
						ticks: {
							callback: function(value) {
								if (typeof value.toLocaleString === "function") {
									return value.toLocaleString();
								}
								return value;
							}
						}
					}
				}
			}
		});
	};

	var makeCharts = function() {
		destroyCharts();
		$("#metricsBox").empty();
		for (var field in titles) {
    		if (titles.hasOwnProperty(field)) {
       			makeChart(field);
    		}
		}
	};

	$(function() {
		makeCharts();
	});
</script>
{% endblock %}
