{% extends "base.html" %}

{% load sefaria_tags %}

{% block title %}People on Sefaria{% endblock %}

{% block css %}
    #languageToggle {
        display: inline;
    }
    #languageToggle #bilingual {
        display: none;
    }
{% endblock %}

{% block content %}

    
<div id="peoplePage" class="container doc biReady">
    <span class="row">
        <span class="span8 offset2">
            {% for person in people %}
               {{ person|person_link }}
            {% endfor %}
        </span>
    </span>
</div>

{% endblock %}
