{% extends "base.html" %}

{% load sefaria_tags %}

{% block title %}{{ primary_name.en }}{% endblock %}

{% block css %}
    #languageToggle {
        display: inline;
    }
    #languageToggle #bilingual {
        display: none;
    }
{% endblock %}

{% block content %}

    
<div id="personPage" class="container doc biReady">
    <span class="row">
        <span class="span8 offset2">
            <h1>
                <span class='en'>{{ primary_name.en }}</span>
                <span class='he'>{{ primary_name.he }}</span>
            </h1>
            <div id="yearLine">
                <span class='en'>{{ time_period.en }}</span>
                <span class='he'>{{ time_period.he }}</span>
            </div>

            {% if enBio or heBio %}
            <div id="bio">
                <span class='en'>{{ enBio }}</span>
                <span class='he'>{{ heBio }}</span>
            </div>
            {% endif %}

            <div id="external_links">
                {% if enWikiLink and heWikiLink %}
                    <span class="en"><a href="{{ enWikiLink }}">Wikipedia</a></span>
                    <span class="he"><a href="{{ heWikiLink }}">וויקיפדיה</a></span>
                {% elif enWikiLink %}
                    <span class="en"><a href="{{ enWikiLink }}">Wikipedia</a></span>
                    <span class="he"><a href="{{ enWikiLink }}">וויקיפדיה (אנגלית)</a></span>
                {% elif heWikiLink %}
                    <span class="en"><a href="{{ heWikiLink }}">Wikipedia (Hebrew)</a></span>
                    <span class="he"><a href="{{ heWikiLink }}">וויקיפדיה</a></span>
                {% endif %}

                {% if jeLink %}
                    <a href="{{ jeLink }}">
                        <span class="en">Jewish Encyclopedia</span>
                        <span class="he">האנציקלופדיה היהודית (אנגלית)</span>
                    </a>
                {% endif %}

            </div>
            <div id="relationships">
                 {% for k, rel_type in relationships.items %}
                 <h3>
                     <span class='en'>{{ rel_type.en }}</span>
                     <span class='he'>{{ rel_type.he }}</span>
                 </h3>
                     {% for person in rel_type.people %}
                         {{ person|person_link }}
                     {% endfor %}
                 {% endfor %}
            </div>

            {% if indexes|length %}
            <div id="indexes">
                <h3>
                     <span class='en'>Works</span>
                     <span class='he'>ספרים</span>
                </h3>
                {% for indx in indexes %}
                    {{ indx|text_toc_link }}
                {% endfor %}
            </div>
            {% endif %}
    </span>
    </span>
</div>

{% endblock %}
