{% extends "base.html" %}

{% load sefaria_tags %}

{% block title %}{{ primary_name.en }}{% endblock %}

{% block css %}
    #languageToggle {
        display: inline;
    }
    #languageToggle #bilingual {
        display: none;
    }
{% endblock %}

{% block content %}

    
<div id="textTocPage" class="container doc">
    <span class="row">
        <span class="span8 offset2">
            <h1>
                <span class='en'>{{ primary_name.en }}</span>
                <span class='he'>{{ primary_name.he }}</span>
            </h1>
            <h3>
                <span class='en'>{{ time_period.en }}</span>
            </h3>
            <div id="bio">
                <span class='en'>{{ enBio }}</span>
                <span class='he'>{{ heBio }}</span>
            </div>
            <div id="relationships">
                 {% for k, rel_type in relationships.items %}
                 <h3>
                     <span class='en'>{{ rel_type.en }}</span>
                     <span class='he'>{{ rel_type.he }}</span>
                 </h3>
                     {% for person in rel_type.people %}
                         <a href="/person/{{ person.key }}">
                             <span class='en'>{{ person.en }}</span>
                             <span class='he'>{{ person.he }}</span>
                         </a>
                     {% endfor %}
                 {% endfor %}
            </div>
    </span>
    </span>
</div>

{% endblock %}
