{% extends "base.html" %}

{% load i18n %} 
{% load sefaria_tags %}

{% block title %}{{ name }} | {% trans "Sefaria" %}{% endblock %}

{% block description %}{{ bio }} | {% trans "Sefaria" %}{% endblock %}


{% block head %}
<script src="https://d3js.org/d3.v3.min.js"></script>
{% endblock %}

{% block css %}
    #languageToggle {
        display: inline;
    }
    #languageToggle #bilingual {
        display: none;
    }
{% endblock %}

{% block content %}

<div id="personPage" class="biReady container static">
    <script type="application/ld+json">
      {% autoescape off %}
        {
          "@context": "http://schema.org",
          "@type": "BreadcrumbList",
          "itemListElement": [{
            "@type": "ListItem",
            "position": 1,
            "item": {
              {% if post_talmudic %}
                "@id": "/people",
                "name": "{% trans "Authors" %}"
              {% else %}
                "@id": "/people/talmud",
                "name": "{% trans "People in the Talmud" %}"
              {% endif %}
            }
          },
          {
            "@type": "ListItem",
            "position": 2,
            "item": {
              "@id": "/person/{{ key }}",
              "name": "{% if request.interfaceLang == "english" %}{{ primary_name.en|escapejs }}{% else %}{{ primary_name.he|escapejs }}{% endif %}"
            }
          }]
        }
      {% endautoescape %}
    </script>

    <div class="inner">
        <h1>
            <span class="int-en">{{ primary_name.en }}</span>
            <span class="int-he">{{ primary_name.he }}</span>
        </h1>
        {% if time_period_name.en or time_period_name.he %}
            <h2 id="periodNameLine">
                <span class="int-en">{{ time_period_name.en }}</span>
                <span class="int-he">{{ time_period_name.he }}</span>
            </h2>
        {% endif %}
        {% if time_period %}
        <h2 id="yearLine">
            <span class="int-en">{{ time_period.en }}</span>
            <span class="int-he">{{ time_period.he }}</span>
        </h2>
        {% endif %}
        <div class="section">
            {% if enBio or heBio %}
            <p id="bio">
                <span class="int-en">{{ enBio }}</span>
                <span class="int-he">{{ heBio }}</span>
            </p>
            {% endif %}
        </div>

        <div class="section">
            <div id="external_links">
                <h3>
                    <span class="{{ language_font_class }}">{% trans "Learn More" %}</span>
                </h3>
                {% if enWikiLink and heWikiLink %}
                    <p>
                        <span class="int-en"><a href="{{ enWikiLink }}">{% trans "Wikipedia" %}</a><i class="fa fa-external-link"></i></span>
                        <span class="int-he"><a href="{{ heWikiLink }}">{% trans "Wikipedia" %}</a><i class="fa fa-external-link fa-flip-horizontal"></i></span>
                    </p>

                {% elif enWikiLink %}
                    <p>
                        <span class="int-en"><a href="{{ enWikiLink }}">{% trans "Wikipedia" %}</a><i class="fa fa-external-link"></i></span>
                        <span class="int-he"><a href="{{ enWikiLink }}">{% trans "Wikipedia" %}</a><i class="fa fa-external-link fa-flip-horizontal"></i></span>
                    </p>
                {% elif heWikiLink %}
                    <p>
                        <span class="int-en"><a href="{{ heWikiLink }}">{% trans "Wikipedia (Hebrew)" %}</a><i class="fa fa-external-link"></i></span>
                        <span class="int-he"><a href="{{ heWikiLink }}">{% trans "Wikipedia (Hebrew)" %}</a><i class="fa fa-external-link fa-flip-horizontal"></i></span>
                    </p>
                {% endif %}

                {% if jeLink %}
                    <p>
                        <span class="int-en"><a href="{{ jeLink }}">{% trans "Jewish Encyclopedia" %}</a><i class="fa fa-external-link"></i></span>
                        <span class="int-he"><a href="{{ jeLink }}">{% trans "Jewish Encyclopedia" %}</a><i class="fa fa-external-link fa-flip-horizontal"></i></span>
                    </p>
                {% endif %}
            </div>
            <div id="relationships">
                 {% for k, rel_type in relationships.items %}
                 <h3>
                     <span class="int-en">{{ rel_type.en }}</span>
                     <span class="int-he">{{ rel_type.he }}</span>
                 </h3>
                     {% for person in rel_type.people %}
                         <p>
                            {{ person|person_link }}
                         </p>
                     {% endfor %}
                 {% endfor %}
            </div>
            {% if indexes|length %}
            <div id="indexes">
                <h3>
                     <span class="{{ language_font_class }}">{% trans "Works" %}</span>
                </h3>
                {% for indx in indexes %}
                    <p>
                    {{ indx|text_toc_link }}
                    </p>
                {% endfor %}
            </div>
            {% endif %}
            {% if places %}
            <div id="person-graphic-column">
                <h3>
                    <span class="{{ language_font_class }}">{% trans "Map" %}</span>
                </h3>
                    <div id="place-map"></div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
    <script>
    {% autoescape off %}
        {% if places %}
            d3.geo.tile=function(){function t(){var t=Math.max(Math.log(n)/Math.LN2-8,0),h=Math.round(t+e),o=Math.pow(2,t-h+8),u=[(r[0]-n/2)/o,(r[1]-n/2)/o],l=[],c=d3.range(Math.max(0,Math.floor(-u[0])),Math.max(0,Math.ceil(a[0]/o-u[0]))),M=d3.range(Math.max(0,Math.floor(-u[1])),Math.max(0,Math.ceil(a[1]/o-u[1])));return M.forEach(function(t){c.forEach(function(a){l.push([a,t,h])})}),l.translate=u,l.scale=o,l}var a=[960,500],n=256,r=[a[0]/2,a[1]/2],e=0;return t.size=function(n){return arguments.length?(a=n,t):a},t.scale=function(a){return arguments.length?(n=a,t):n},t.translate=function(a){return arguments.length?(r=a,t):r},t.zoomDelta=function(a){return arguments.length?(e=+a,t):e},t};
            var width = 300,
                height = 200,
                places = {{ places }};
            var svg = d3.select("#place-map").append("svg")
                .attr("width", width)
                .attr("height", height);

            var placesLived = "";
            for (index = 0; index < places.features.length; ++index) {
                placesLived = placesLived + (places.features[index].id)+", ";
            }
            placesLived = placesLived.slice(0, -2);
            svg.append("svg:desc").text("Map of "+placesLived);

        //Unit projection, for getting bounding box of our data
        var projection = d3.geo.mercator()
            .scale(1)
            .translate([0, 0]);
        var path = d3.geo.path()
            .projection(projection);
        var min_map_scale = 850,
            b = path.bounds(places),  // [[left, top], [right, bottom]]
            x_extent = Math.abs(b[1][0] - b[0][0]),
            y_extent = Math.abs(b[1][1] - b[0][1]),
            computed_scale = (.90 / Math.max(x_extent / width, y_extent / height)),
            s = Math.min(computed_scale, min_map_scale),
            t = [(width - s * (b[1][0] + b[0][0])) / 2, (height - s * (b[1][1] + b[0][1])) / 2];

        // Update projection with our actual data
        projection
            .scale(s)
            .translate(t);
        path.projection(projection);

        var zoom_scale = projection.scale() * 2 * Math.PI;
        var tiles = d3.geo.tile()
            .size([width, height])
            .scale(s * 2 * Math.PI)
            .translate(t)
            ();

        var raster = svg.append("g");
        var image = raster
              .attr("transform", "scale(" + tiles.scale + ")translate(" + tiles.translate + ")")
            .selectAll("image")
              .data(tiles, function(d) { return d; });

          image.exit()
              .remove();

          image.enter().append("image")
              .attr("xlink:href", function(d) { return "https://stamen-tiles.a.ssl.fastly.net/watercolor/" + d[2] + "/" + d[0] + "/" + d[1] + ".png"; })
              .attr("width", 1)
              .attr("height", 1)
              .attr("x", function(d) { return d[0]; })
              .attr("y", function(d) { return d[1]; });

        // Tooltip
        var tooltip = d3.select("#personPage").append("div")
            .attr("class", "person_tooltip biReady")   //todo: check that the biReady applies
            .style("opacity", 0);

        // And now the data
        svg.selectAll("path")
            .data(places.features)
          .enter().append("path")
            .attr("d", path)
            .attr("fill", function (d) {
                    return {
                        "birth": "#7570b3",
                        "death": "#a6761d",
                        "composed": "#1b9e77",
                        "published": "#d95f02",
                        "mixed": "#e7298a"
                    }[d.properties.type];
                })
            .attr("stroke", "black")
            .attr("stroke-width", 1)
            .on("mouseover", function(d) {
                var text = "<div><span class='int-en'>" + d.properties.en_name + "</span>" +
                        "<span class='int-he'>" + d.properties.he_name + "</span></div>";
                text += "<div class='int-en'>";
                for (var i = 0; i < d.properties.en_events.length; i++) {
                   text += "<div>" + d.properties.en_events[i] + "</div>";
                }
                text += "</div>";
                text += "<div class='int-he'>";
                for (var i = 0; i < d.properties.he_events.length; i++) {
                   text += "<div>" + d.properties.he_events[i] + "</div>";
                }
                text += "</div>";
                tooltip.transition()
                    .duration(200)
                    .style("opacity", .9);
                tooltip.html(text)
                    .style("left", (d3.event.pageX + 28) + "px")
                    .style("top", (d3.event.pageY) + "px");
                })
            .on("mouseout", function(d) {
                tooltip.transition()
                    .duration(500)
                    .style("opacity", 0);
                });

        {% endif %}
    {% endautoescape %}
    </script>
{% endblock %}