{% extends "base.html" %}

{% load sefaria_tags %}
{% load humanize %}

{% block title %}{{ profile.first_name }} {{profile.last_name }} on Sefaria.org{% endblock %}

{% block content %}

<div id="profile" class="container">
	<div id="profileLeft" class="span4">
		<img id="profileImage" src="{{ profile.image|default:'http://placehold.it/250x250' }}" />
		<span id="profileName">{{ profile.first_name }} {{profile.last_name }}</span>
		

		<div id="tagline" class="view">
			<span id="position">{{ extended_profile.position }}</span>
			<span id="at">{% if extended_profile.organization %}at{% endif %}</span>
			<span id="organization">{{ extended_profile.organization}}</span>
		</div>

		<div id="bio" class="view">{{ extended_profile.bio }}</div>

		<div id="buttons">
			{% if profile.id != request.user.id %}
				<div id="messageMe" class="btn bt-mini btn-primary">Message</div>
			{% endif %}
			{% if profile.id == request.user.id %}
				<div id="editProfile" class="btn btn-primary view">Edit Profile</div>
			{% endif %}
		</div>

		<div id="profileStats">
			<span class="score">{{ score|intcomma }} Points</span>
			<span>Joined {{ joined|naturaltime }}</span>
			{% if contributed %}
			<span>Last contributed {{ contributed|naturaltime }}</span>
			{% endif %}
		</div>

	</div>

	<div id="profileRight" class="span7">

		<div id="profileSheets">
			<h3>Public Source Sheets - {{ sheets|length|default:"0" }}</h3>
			{% for sheet in sheets %}
			<div class="sheet">{{ sheet.id|sheet_link }}</div>
			{% empty %}
			<i>{{ profile.first_name }} hasn't created any public source sheets yet.</i>
			{% endfor %}
			<div class="line"></div>
		</div>

		<div id="profileNotes">
			<h3>Public Notes - {{ notes|length|default:"0" }}</h3>
			{% include "elements/activity_feed.html" with activity=notes single=1 %}
			<div class="line"></div>
		</div>

		<div id="activity">
			<h3>Public Activity - {{ score|intcomma }}</h3>
			{% include "elements/activity_filter.html" %}		
			{% include "elements/activity_feed.html" %}
		</div>
	</div>
</div>

{% include "elements/login_prompt.html" with msg="To send a message, please log in." %}

{% endblock %}

{% block js %}
	<script src="/static/js/jquery.autosize.js"></script>
	<script>
		$(function(){
			$("#editProfile, #cancelEditProfile").click(function(){
				$("#customFields").toggleClass("view").toggleClass("edit");
			});
			$("#saveProfile").click(function(){
				var profile = {
					position: $("#positionEdit").val(),
					organization: $("#organizationEdit").val(),
					bio: $("#bioEdit").val()
				};

				$.post("/api/profile", {json: JSON.stringify(profile)}, function(data) {
					if ("error" in data) {
						sjs.alert.message(data.error);
					}
				});

				$("#bio").text(profile.bio);
				$("#position").text(profile.position);
				$("#organization").text(profile.organization);
				$("#at").html(profile.organization ? "at" : "");
				$("#customFields").toggleClass("view").toggleClass("edit");
			});
			$("#bioEdit").autosize();
		});
	</script>
{% endblock %}