<script src="/static/js/headroom.js"></script>
<script src="/static/js/jquery.scrollTo.js"></script>
<script src="/static/js/keyboard.js"></script>
<script src="/data.js"></script>
{% if DEBUG %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.10.3/babel.min.js"></script>
<script src="/static/bundles/s2.js"></script>
{% else %}
<script src="/static/bundles/s2.js"></script>
{% endif %}
<script {% if DEBUG %}type="text/jsx;harmony=true"{% endif %}>
  {% autoescape off %}
  $(function() {

    var settings = {
      language: "{{ contentLang }}",
      layoutDefault: $.cookie("layoutDefault") || "segmented",
      layoutTalmud:  $.cookie("layoutTalmud")  || "continuous",
      layoutTanakh:  $.cookie("layoutTanakh")  || "segmented",
      color:         $.cookie("color")         || "light",
      fontSize:      $.cookie("fontSize")      || 62.5
    };
    var multiPanel    = $(window).width() > 600;

    var container = document.getElementById('s2');
    var component = React.createElement(ReaderApp, {
        headerMode: true,
        multiPanel: multiPanel,
        initialRefs: [],
        initialFilter: [],
        initialMenu: null,
        initialQuery: null,
        initialSheetsTag: null,
        initialNavigationCategories: [],
        initialSettings: settings,
        initialPanels: [],
        interfaceLang: "{{ interfaceLang }}"
        });
    ReactDOM.render(component, container);
    ReactDOM.render(React.createElement(Footer), document.getElementById('footer'));
  });
  {% endautoescape %}
</script>