{% load render_bundle from webpack_loader %}

<script src="/static/js/lib/jquery.scrollTo.js"></script>
<script src="/static/js/lib/keyboard.js"></script>
<script src="/data.js"></script>
{# if DEBUG  #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.10.3/babel.min.js"></script>
<script>
  {% autoescape off %}
  var DJANGO_VARS = {
    contentLang: "{{ contentLang }}",
    interfaceLang: "{{ interfaceLang }}",
    inReaderApp: false,
    ga: ga
  };
  {% endautoescape %}
</script>
{% render_bundle 'main' %}
