<!DOCTYPE html>
<html>

<head>
	
	<title>{{ page_title }} | Sefaria.org</title>
	
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />	
	<link rel="stylesheet" href="/static/js/jquery-ui/css/black-tie/jquery-ui-1.8.7.custom.css">
	<link rel="stylesheet" href="/static/css/common.css">
	<link rel="stylesheet" href="/static/css/reader.css">
	<link rel="stylesheet" href="/static/css/reader-print.css" media="print" />


	<script>{% include "js/analytics.js" %}</script>

</head>

<body>

	<div id="about" class="sidePanel">
		<div id='aboutMenu'>
			<div id="aboutText">
				<div id="aboutTextTitle"></div>
				<div id="aboutTextSections"></div>
				<div id='editTextInfo' class='action btn btn-mini btn-info'>Edit Text Info</div>
			</div>

			<div id="aboutVersions"></div>
			<div id="aboutButtonBox">
				<div id='editText' class='action btn btn-info'>Edit Text</div>
				<span class="btn btn-success addThis ">Add this Text</span>
				<div id='addVersion' class='action btn btn-success'>Add a Translation</div>
				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</div>
	
	<div class="screen-container" style="left:-5000%">	
		<div class="screen" style="left:5000%">
			<div class="basetext {% if lines %}lines{% endif %} {% if not text.text %}hebrew{% else %}english{% endif %}{% if not text.commentary %} noCommentary{% endif %}">
				<div class="sectionTitle">
					<span class="en">{{ text.ref }}</span>
					<span class="he">{{ text.heTitle|default:"" }}</span>
				</div>
				<span class="spacer"></span>
				{% autoescape off %}
				{% for line in text.text %}
					<span class="verse"><span class="en">{{ line }}</span></span>
				{% endfor %}
				{% for line in text.he %}
					<span class="verse"><span class="he">{{ line }}</span></span>
				{% endfor %}
				{% endautoescape %}
			</div>
			<div class="commentaryBox">
				<div class="hideCommentary"><div class="hideTab gradient">▸</div></div>
				<div class="commentaryViewPort"></div>
				<div class="sourcesBox gradient">
					<div class="sourcesHeader">
						<span class="showSources btn">&laquo;</span>
						<span><span class="sourcesCount"></span></span>
						<div class="clear"></div>
					</div>	
					<div class="sourcesList sidePanel gradient">
						<div class="sourcesWrapper"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="aboutPanelAnchor" class="panelAnchor"><div class="inner"></div></div>
	<!--
	<div id="sourcesPanelAnchor" class="panelAnchor"><div class="inner"></div></div>
	-->
	
	{% include "header.html" %}

	<div id="newTextModal" class="gradient">
		<div class="header">Add a New Text</div>
		<div id="newTextMsg">Text or commentator name:</div>
		<input id="newTextName">
		<span id="newTextActions">
			<span id="newTextOK" class="action btn inactive">Add</span>
			<span id="newTextCancel" class="action btn">Cancel</span>

		</span>
	</div>
		
	<div id="verseSelectModal" class="gradient">	
		<div id="selectInstructions">
			<div>Click a <span class="smallSectionName"></span> to add a source.</div>
			<span class="btn cancel">Cancel</span>
		</div>
		<div id="selectConfirm">
			<div>Add a Source to:</div>
			<div id="selectedVerse"></div>
			<div id="selectedControls">
				<span id="selectOk" class="btn">OK</span>
				<span id="selectReset" class="btn">Choose again</span>
				<span class="cancel btn">Cancel</span>
			</div>
		</div>
	</div>

	<div id="addToSheetModal" class="gradient modal">
		<div class="header">Add <span class="sourceName"></span> to a Source Sheet</div>
		<ul id="sheets">
		</ul>
		<div class="controls">
			<div class="btn ok">Add</div>
			<div class="btn cancel">Cancel</div>
		</div>
	</div>

	<div id="newVersionBox">
		<textarea id='newVersion'></textarea>
		<div id='newVersionMirror'/></div>
		<div id="newTextNumbers"></div>
		<div id="newTextCompare"></div>
		
		<div id="addVersionHeader">
			<div id="editTitle"></div>
			<div id="addVersionHeaderLeft">
				<div class="compareTitle"></div>
				<div class="compareSource"></div>

			</div>
			<div id="addVersionHeaderRight">
				
				<div id="textTypeForm">
					<span class="option">
						<input type="radio" id="originalRadio" name="newTextType" value="original" checked="checked">
						Original Translation
					</span>
					<span class="option">
						<input type="radio" id="copyRadio" name="newTextType" value="copy">
						Copied Text
					</span>
					<span id="showOriginal"></span>
				</div>
				<div id="copiedTextForm">					
					<div><span>Version Title:</span> <input id="versionTitle"></div>
					<div><span>Copied from:</span> <input placeholder="a URL or book" id="versionSource"></div>
				</div>
				<div id="languageForm">
					Language: 
					<select id="language">
					  <option value="en">English</option>
					  <option value="he">Hebrew</option>
					  <option value="ar">Aramaic</option>
					  <option value="ru">Russian</option>
					  <option value="es">Spanish</option>
					  <option value="fr">French</option>
					  <option value="de">German</option>
					</select>
				</div>
			</div>
		</div>
	</div>
		
	<div id="newIndex">
	
		<div id="newIndexMsg">Sefaria doesn't yet know about the text "<span class="textName"></span>".<div class="sub">Please provide some basic information about this text.</div></div>
		
		<div class="fieldSet">
			<span class="fieldLabel">
			<div class="help">?
				<div class="helpText">
				The primary title of a text. Texts may have multiple titles which can be entered below, but this will be the default way of referring to this text.
				<br><br>
				Titles in this field must use Roman chacters, but may be transliterations. Add titles in Hebrew characters below.
				</div>
			</div>
			Text Title</span> <input id="textTitle"/>
		</div>
		
		<div class="fieldSet">
			<span class="fieldLabel">
			<div class="help">?
				<div class="helpText">
				The primary title of a text in Hebrew characters. Alternate Hebrew titles may also be added under "Alternate Titles" below.
				</div>
			</div>
			Hebrew Title<span class="optional">(optional)</span></span> <input id="heTitle"/>
		</div>

		<div class="fieldSet">
			<span class="fieldLabel">
			<div class="help">?
				<div class="helpText">
				Alternate Titles can include alternate translations, alternate transliterations spellings, and abbreviations.<br><br>Enter each alternate separated by a comma. 
				</div>
			</div>
			Alternate Titles<span class="optional">(optional)</span></span> <input id="textTitleVariants" />
		</div>
		
		<div class="fieldSet" id="textCategories">
			<span class="fieldLabel">
			<div class="help">?
				<div class="helpText">
				A category for the text. Categories are used in searching and grouping texts. 
				</div>
			</div>
			Category</span> <select id="textCategory">
				  <option value="">Select a Category…</option>
				  <option value="Tanach">Tanach</option>
				  <option value="Mishna">Mishna</option>
				  <option value="Talmud">Talmud</option>
				  <option value="Midrash">Midrash</option>
				  <option value="Halacha">Halacha</option>
				  <option value="Kabbalah">Kabbalah</option>
				  <option value="Liturgy">Liturgy</option>
				  <option value="Philosophy">Philosophy</option>
				  <option value="Musar">Musar</option>
				  <option value="Chasidut">Chasidut</option>
				  <option value="Responsa">Reponsa</option>				  
				  <option value="Modern">Modern Jewish Thought</option>
				  <option value="Commentary">Commentator</option>
				  <option value="Other">Other…</option>
				</select> <input id="otherCategory" />
		</div>
		
		<div class="fieldSet" id="textStructureFieldSet">
			<span class="fieldLabel">
			<div class="help">?
				<div class="helpText">
				A Text's Structure is represented by the hieracrchy of different types of sections that make up the text.<br><br>For example, texts of the Tanach like Genesis are divided into "Chapters" which are then divided into "Verses".<br><br>Larger texts, such as the Mishneh Torah, may have more levels in their hierarchy, for example "Book" > "Section" > "Chapter" > "Law". 
			</div>
			</div>
			Text Structure</span>
			<div id="sectionTypesBox">
			<span class='sectionType'><input placeholder='e.g. Chapter'/></span>
			<span class='sectionType'> > <input placeholder='e.g. Verse'/> <span class='remove'>X</span></span>
				<span id="addSection">add level of structure</span></div>
		</div>
	
	
		<div class="fieldSet" id="shorthandsFieldSet">
			<span class="fieldLabel">
			<div class="help">?
				<div class="helpText">
				Shorthands are alternative ways of refering to a particular point or passage in a text.<br><br>
				For example "Rambam, Hilchot Tshuva" is shorter and more common way to refer to the 7th topic in the first book of Mishneh Torah. From Sefaria's perpective, this segment of text is "Mishneh Torah 1:7", but we we want to capture more human readable forms.<br><br>
				Shorthands are also used to capture multiple ways to refer to a text. For example, since Sefaria stores Genesis in terms of chapters and verses, "Parsha Toledot" is a shorthand for "Genesis 25:19-28:9". <br><br>
				Enter the shorthand text in the box on the left, then enter either a single reference or a range on the right.
				</div>
			</div>
			Shorthands<span class="optional">(optional)</span></span>
			<div id="shorthandsBox">
				<div class="shorthand"><input class="shorthandFrom" /> ⇾ <input class="shorthandTo"/>
				<span class="remove">X</span>
				</div>
				
				<div id="addShorthand">add shorthand</div>
			</div>
		</div>
	
		<div class="actions">
			<span id="newIndexSave" class="btn btn-primary btn-large">Save</span>
			<span id="newIndexCancel" class="btn btn-large">Cancel</span>
		</div>
	</div>
	
	<div id="overlay"></div>
	{% include "elements/contribute_prompt.html" %}
	{% include "elements/edit_video.html" %}
	{% include "elements/login_prompt.html" with msg="Please log in to add or edit." %}
	
	<div id="unsupported">
		Sefaria does not currently run on Internet Explorer.
		<br><br>
		Please try using Chrome, Firefox or Safari.
		<br><br>
		Sorry, there's just too much to do!
	</div>
	

{% include "js/jquery.html" %}
<script src="/static/js/jquery.scrollTo-1.4.2-min.js"></script>
<script src="/static/js/jquery.history.js"></script>
<script src="/static/js/jquery.easing.1.3.js"></script>
<script src="/static/js/jquery.caret.1.02.js"></script>
<script src="/static/js/jquery.textchange.js"></script>
<script src="/static/js/jquery.autosize.js"></script>
<script src="/static/js/jquery.slimscroll.min.js"></script>

{% include "js/headers.js" %}
<script>
{% autoescape off %}
	{% include "js/django-csrf.js" %}
	var sjs = sjs || {};
	
	$.extend(sjs, {
		current: {{ initJSON }},
		_email: "{{ email }}",
		_uid: {{ user.id|default:"null" }}
	});
{% endautoescape %}
</script>
<script type="text/javascript" src="/static/js/util.js"></script>
<script type="text/javascript" src="/static/js/reader.js"></script>
</body>
</html>
