{% extends "s2_base.html" %}
{% load sefaria_tags %}

{% block title %}{{ ref }}{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/s2.css">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
{% endblock %}

{% block content %}

<div id="s2">
  <div id="sefaria">
      {% include "elements/sefaria.logotype.svg" %}
  </div>
</div>

<div id="overlay"></div>

{% endblock %}

{% block js %}
    <script src="/static/js/headroom.js"></script>
    <script src="/static/js/jquery.scrollTo.js"></script>
    <script src="/static/js/library.js"></script>
    {% if DEBUG %}
    <script src="/static/js/react.js"></script>
    <script src="/static/js/JSXTransformer.js"></script>
    <script type="text/jsx" src="/static/js/s2.jsx"></script>
    <script type="text/jsx" src="/static/js/s2-search.jsx"></script>
    {% else %}
    <script src="/static/js/react.js"></script>
    <script src="/static/js/s2.js"></script>
    {% endif %}
    <script {% if DEBUG %}type="text/jsx"{% endif %}>
      {% autoescape off %}
      $(function() {
        var urlVars = getUrlVars();
        var filter  = "with" in urlVars ? urlVars["with"].replace(/_/g, " ").split("+") : null;
        if (filter && filter.length === 1 && filter[0] === "all") { filter = []; }
        var query  = "q" in urlVars ? urlVars["q"] : null;
        

        var settings = {
          language: "{{ contentLang }}",
          layoutDefault: $.cookie("layoutDefault") || "segmented",
          layoutTalmud:  $.cookie("layoutTalmud")  || "continuous",
          layoutTanach:  $.cookie("layoutTanach")  || "segmented",
          color:         $.cookie("color")         || "light",
          fontSize:      $.cookie("fontSize")      || 62.5
        }
        $("body").addClass(settings.color);
        $("body").removeClass("english hebrew bilingual");
       
        var ref = "{{ ref }}";
        if (ref) {
          var ref = humanRef("{{ ref }}")
          sjs.library._saveText({{ data|jsonify }});
        }
        React.render(
          React.createElement(ReaderApp, {
            initialRef: ref,
            initialFilter: filter,
            initialMenu: "{{ initialMenu }}",
            initialQuery: query,
            initialSheetsTag: "{{ initialSheetsTag }}",
            initialSettings: settings}),
          document.getElementById('s2')
        );
        if (ref && filter === null) {
          sjs.track.open(ref);
        } else if (ref) {
          sjs.track.event("Reader", "Open Close Reader", ref);
        }
      });
      {% endautoescape %}
    </script>
{% endblock %}

{% block footer %}{% endblock %}
