{% extends "base.html" %}

{% block title %}S2{% endblock %}

{% block css %}
  #s2 {
    padding: 60px 0;
    font-family: Georgia, serif;
  }
  #s2 .he {
    font-family: "Times New Roman", serif;
    font-size: 125%;
  }
  #languageToggle {
    display: inline;
  }
  .textRange.basetext {
    width: 700px;
    max-width: 90%;
    font-size: 24px;
    line-height: 1.5;
    text-align: justify;
    margin: 0 auto;
  }
  .segment {
    cursor: pointer;
  }
  .segment:hover {
    background-color: #eee;
  }
  .segment .segmentNumber, .segment .linkCount {
    font-family: Helvetica, sans-serif;
    color: #999;
    position: absolute;
    font-size: 14px;
    line-height: 24px;
  }
  .linkCount {
    display: block;
    width: 24px;
    height: 24px;
    border: 1px solid #999;
    border-radius: 12px;
    text-align: center;
    margin-top: 2px;
  }
  .categoryFilterSet {
    position: absolute;
    text-align: left;
  }
  .categoryFilterSet.basetext {
    position:fixed;
    top: 60px;
    right: 10px;
    text-align: right;
  }
  .categoryFilterSet .ref {
    font-weight: bold;
  }
{% endblock %}

{% block content %}

<div id="s2" class="biReady"></div>

<div id="overlay"></div>

{% endblock %}

{% block js %}
    <script src="/static/js/react-with-addons.js"></script>
    <script src="/static/js/JSXTransformer.js"></script>
    <script type="text/jsx">
      var sjs = sjs || {};
      var cx  = React.addons.classSet;

      sjs.library = {
        _texts: {},
        _links: {},
        text: function(ref, cb) {
          if (ref in this._texts) {
            cb(this._texts[ref]);
          } else {
             var url = "/api/texts/" + ref + "?commentary=0";
             $.getJSON(url, function(data) {
                if ("error" in data) { 
                  sjs.alert.message(error);
                  return;
                }
                this._texts[data.ref] = data;
                cb(data);
              }.bind(this));
          }
        },
        links: function(ref, cb) {
          if (ref in this._links) {
            cb(this._links(ref));
          } else {
             var url = "/api/links/" + ref + "?with_text=0";
             $.getJSON(url, function(data) {
                if ("error" in data) { 
                  sjs.alert.message(error);
                  return;
                }
                this._links[data.ref] = data;
                cb(data);
              }.bind(this));
          }
        },
        bulkLoadLinks: function(ref, cb) {
          if (ref in this._links) {
            cb();
          } else {
            var url = "/api/links/" + ref + "?with_text=0";
            $.getJSON(url, function(data) {
              if ("error" in data) { 
                sjs.alert.message(error);
                return;
              }
              var newLinks = {}; // Aggregate links on anchorRef
              for (var i=0; i < data.length; i++) {
                var newRef = data[i].anchorRef;
                if (newRef in newLinks) {
                  newLinks[newRef].push(data[i]);
                } else {
                  newLinks[newRef] = [data[i]];
                }
              }
              for (var newRef in newLinks) {
                if (newLinks.hasOwnProperty(newRef)) {
                  this._links[newRef] = newLinks[newRef];
                }
              }
              this._links[ref] = true; // Mark this bulk ref as loaded
              cb();
            }.bind(this));         
          }
        },
        linkCount: function(ref) {
         return ref in this._links ? this._links[ref].length : 0;
        }
      };


      var ReaderApp = React.createClass({
        getInitialState: function() {
          return {};
        },
        render: function() {
          return (
            <div id="readerBox">
              <TextCanvas initialRef={this.props.sref} />
            </div>
          );
        }
      });


      var TextCanvas = React.createClass({
        getInitialState: function() {
          return {
            contents: [{type: "TextRange", ref: this.props.initialRef }]
          }
        },
        setTextListRef: function(position, ref) {
          this.state.contents[position]["ref"] = ref;
          this.setState({contents: this.state.contents});
        },
        render: function() {
          var items = this.state.contents.map(function(item, i) {
            if (item.type === "TextRange") {
              return (
                <TextRange 
                  sref={item.ref}
                  basetext={true}
                  loadLinks={true}
                  setTextListRef={this.setTextListRef} 
                  key={i} />
              );
            } else if (item.type === "TextList") {
              return (
                <TextList 
                  sref={item.ref} 
                  key={i} />
              );
            }
          });
          return (
            <div id="textCanvas">{items}</div>
          );
        }
      });


      var TextRange = React.createClass({
        getInitialState: function() {
          return { 
            segments: [],
            sref: this.props.sref,
            data: {ref: this.props.sref},
          };
        },
        getText: function() {
          sjs.library.text(this.state.sref, this.loadText);
        },
        loadText: function(data) {
          var wrap = (typeof data.text == "string");
          var en = wrap ? [data.text] : data.text;
          var he = wrap ? [data.he] : data.he;

          // Pad the shorter array to make stepping through them easier.
          var length = Math.max(en.length, he.length);
          en.pad(length, "");
          he.pad(length, "");

          segments = [];
          for (var i = 0; i < en.length; i++) {
            var ref = data.ref + ":" + (i+1);
            segments.push({
              en: en[i] + " ", 
              he: he[i] + " ", 
              ref: ref
            });
          }

          this.setState({
            data: data,
            segments: segments,
            sref: data.ref
          });
          if (this.props.loadLinks) {
            sjs.library.bulkLoadLinks(data.ref, function() {
              for (var i=0; i < this.state.segments.length; i++) {
                this.state.segments[i].linkCount = sjs.library.linkCount(this.state.segments[i].ref);
              }
              this.setState({segments: this.state.segments});
            }.bind(this));
          }
        },
        placeSegmentNumbers: function() {
          var $text = $(React.findDOMNode(this));
          var left  = $text.offset().left;
          var right = left + $text.outerWidth();
          $text.find(".segmentNumber").each(function(){
            var top = $(this).parent().offset().top;
            $(this).css({top: top, left: left-30});
          });
          $text.find(".linkCount").each(function(){
            var top = $(this).parent().offset().top;
            $(this).css({top: top, left: right+18});
          });
        },
        handleResize: function(e) {
          this.placeSegmentNumbers();
        },
        componentDidMount: function() {
          this.getText();
          this.placeSegmentNumbers();
          window.addEventListener('resize', this.handleResize);
        },
        componentDidUpdate: function() {
          this.placeSegmentNumbers();
        },
        componentWillUnmount: function() {
          window.removeEventListener('resize', this.handleResize);
        },
        render: function() {
          var textSegments = this.state.segments.map(function (segment, i) {
            return (
              <TextSegment 
                  key={segment.ref}
                  sref={segment.ref}
                  en={segment.en}
                  he={segment.he}
                  segmentNumber={i+1}
                  linkCount={segment.linkCount}
                  canvasId={this.props.key}
                  setTextListRef={this.props.setTextListRef} />
            );
          }.bind(this));
          var classes = cx({textRange: 1, basetext: this.props.basetext });
          return (
            <div className={classes} >
              <h1>
                <span className="en">{this.state.data.ref}</span>
                <span className="he">{this.state.data.heRef}</span>
              </h1>
              { textSegments }
            </div>
          );
        }
      });

      var TextSegment = React.createClass({
        handleClick: function() {
          /*
          this.props.setTextListRef(this.props.canvasId, this.props.sref);
          $(".categoryFilterSet").position({my: "left+16 top", 
                                            at: "right top",
                                            of: $(React.findDOMNode(this))});
          */ 
        },
        render: function() {
          if (this.props.linkCount) {
            var linkCount = (<span className="linkCount">{this.props.linkCount}</span>);
          }
          return (
            <span className="segment" onClick={this.handleClick}>
              <span className="segmentNumber">{this.props.segmentNumber}</span>
              {linkCount}
              <span className="en">{this.props.en}</span>
              <span className="he">{this.props.he}</span>
            </span>
          );
        }
      });

      var TextList = React.createClass({
        getInitialState: function() {
          return {
            srefs: [],
            showText: this.props.showText,
            data: null,
            filter: [],
            sort: null
          }
        },
        loadConnectionsFromServer: function() {
          this.setState({data: []});
          var url = "/api/links/" + this.props.sref + "?with_text=0";
          $.getJSON(url, function(data) {
            if ("error" in data) {
              sjs.alert.message(data.error);
              return;
            }
            this.setState({data: data});
          }.bind(this));
        },
        componentDidMount: function() {
          this.loadConnectionsFromServer();
          $(React.findDOMNode(this)).draggable();
        },
        render: function() {
          var textRanges = this.state.showText ? this.state.srefs.map(function(ref){
            return (
              <TextRange sref={ref} basetext={false} />
            );
          }) : [];
          return (
            <div className="textList">
              <FilterSet 
                sref={this.props.sref} 
                showText={this.state.showText} 
                summary={this.state.summary} />
              {textRanges}
            </div>
          );
        }
      });


      var FilterSet = React.createClass({
        getInitialState: function() {
          return {
          };
        },
        loadCategoriesFromServer: function() {
          this.setState({categories: []});
          var url = "/api/link-summary/" + this.props.sref;
          $.getJSON(url, function(data) {
            if ("error" in data) {
              sjs.alert.message(data.error);
              return;
            }
            this.setState({categories: data});
          }.bind(this));
        },
        componentDidMount: function() {
          this.loadCategoriesFromServer();
          $(React.findDOMNode(this)).draggable();
        },
        componentWillReceiveProps: function() {
          //this.loadCategoriesFromServer();
        },
        render: function() {
          var categories = this.props.summary.map(function(cat) {
            return (
              <CategoryFilter category={cat.name} count={cat.count} />
            );
          });
          categories = categories.length ? categories : "Loading...";
          var classes = cx({categoryFilterSet: 1, basetext: this.props.attach == null });
          return (
            <div className={classes}>
              <div className="ref">{this.props.sref}</div>
              {categories}
            </div>
          );
        }
      });

      var CategoryFilter = React.createClass({
        getInitialState: function() {
          return {
            on: false,
          }
        },
        handleClick: function() {

        },
        render: function() {
          return (
            <div className="categoryFilter" onClick={this.handleClick}>
              {this.props.category} ({this.props.count})
            </div>
          );
        }
      });

      React.render(
        <ReaderApp sref="{{ ref }}" />,
        document.getElementById('s2')
      );
    </script>
{% endblock %}
