{% load sefaria_tags %}

<!DOCTYPE html>
<html>
<head>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <meta property="og:image" content="http://www.sefaria.org/static/img/fb-og-image.png"/>

  <title>{{ ref }}</title>
  <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.css">
  <link rel="stylesheet" href="/static/css/common.css">
  <link rel="stylesheet" href="/static/css/s2.css">

  <script>
      {% include "js/analytics.js" %}
  </script>

  {% if not OFFLINE %}
  <script src="https://use.typekit.net/aeg8div.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.10/webfont.js"></script>
  <script>
    WebFont.load({
      google: {
        families: ['Montserrat:400,700', 'Open Sans Hebrew:400,700:latin,hebrew' ]
      }
    });
  </script>
  {% endif %}

</head>

<body>
    
  <div id="s2">
    <div id="s2Loading">
        <div class='loadingMessage'>
          <img src="/static/img/sefaria.png" />
          <br>
          <span class="en">Loading...</span>
          <!--<span className="he">טעינה...</span>-->
        </div>
    </div>
  </div>

  <div id="overlay"></div>


  {% include "js/jquery.html" %}
  <script src="/static/js/util.js"></script>
  {% include "js/headers.js" %}
  
  <script src="/static/js/headroom.js"></script>
  <script src="/static/js/jquery.scrollTo.js"></script>
  <script src="/static/js/library.js"></script>
  {% if DEBUG %}
  <script src="/static/js/react.js"></script>
  <script src="/static/js/react-dom.js"></script>
  <script src="/static/js/JSXTransformer.js"></script>
  <script type="text/jsx;harmony=true" src="/static/js/s2.jsx"></script>
  {% else %}
  <script src="/static/js/react-min.js"></script>
  <script src="/static/js/react-dom-min.js"></script>
  <script src="/static/js/s2.js"></script>
  {% endif %}
  <script {% if DEBUG %}type="text/jsx"{% endif %}>  //;harmony=true
    {% autoescape off %}
    {% include "js/django-csrf.js" %}
    $(function() {        
      var version, language, filter, ref; // all may be null
      var initialMenu   = "{{ initialMenu }}";
      var panels        = {{ panels|default:"[]" }};
      var multiPanel    = $(window).width() > 600;
      var initialPanels = [];

      var panel = panels.shift();
      if (panel) {
          version = panel.version;
          language = panel.language;
          if (panel.ref) {
              ref = humanRef(panel.ref);
              sjs.library._saveText(panel.text, {context: 1, version: version, language: language});
          }
          //initialMenu = panel.initialMenu;
          filter = panel.filter && panel.filter.length === 1 && panel.filter[0] === "all" ? [] : panel.filter;
      }

      /*
      if (ref) {
        ref = humanRef(ref);
        sjs.library._saveText({{ data|jsonify }}, {context: 1, version: version, language: language});
      }
      */

      if (!multiPanel) {
        if (initialMenu) {
          initialPanels = [];
        } else if (filter) {
          initialPanels = [{mode: "TextAndConnections", refs: [ref], menuOpen: panel.initialMenu, filter: filter, version: version, versionLanguage: language}];
        } else if (panel) {
          initialPanels = [{mode: "Text", refs: [ref], menuOpen: panel.initialMenu, version: version, versionLanguage: language}];
        } else {
          initialMenu = initialMenu || "home";
        }
      } else { //multiPanel
        if (ref) {
          initialPanels = [{mode: "Text", refs: [ref], menuOpen: panel.initialMenu, version: version, versionLanguage: language}];
        }
        if (filter) {
          initialPanels.push({mode: "Connections", refs: [ref], menuOpen: panel.initialMenu, filter: filter});
        }

        while (panels.length > 0) {
          panel = panels.shift();

          if (panel.ref && !panel.ref.match(/^texts|^sheets|^search/)) {
            sjs.library._saveText(panel.text, {context: 1, version: panel.version, language: panel.language});
            initialPanels.push({mode: "Text", refs: [humanRef(panel.ref)], menuOpen: panel.initialMenu, version: panel.version, versionLanguage: panel.language});
          }
          if (panel.filter) {
            var pfilter = panel.filter && panel.filter.length === 1 && panel.filter[0] === "all" ? [] : panel.filter;
            initialPanels.push({mode: "Connections", refs: [humanRef(panel.ref)], menuOpen: panel.initialMenu, filter: pfilter});
          }
        }
      }

      var settings = {
        language: "{{ contentLang }}",
        layoutDefault: $.cookie("layoutDefault") || "segmented",
        layoutTalmud:  $.cookie("layoutTalmud")  || "continuous",
        layoutTanach:  $.cookie("layoutTanach")  || "segmented",
        color:         $.cookie("color")         || "light",
        fontSize:      $.cookie("fontSize")      || 62.5
      };

      ReactDOM.render(
        React.createElement(ReaderApp, {
          multiPanel: multiPanel,
          headerMode: false,
          initialRefs: ref ? [ref] : [],
          initialFilter: filter,
          initialMenu: initialMenu,
          initialQuery: "{{ query }}",
          initialSearchFilters: {{ searchFilters|default:"[]" }},
          initialSheetsTag: "{{ initialSheetsTag }}",
          initialNavigationCategories: {{ initialNavigationCategories|default:"[]" }},
          initialSettings: settings,
          initialPanels: initialPanels || []}),
        document.getElementById('s2')
      );
      if (ref && filter === null) {
        sjs.track.open(ref);
      } else if (ref) {
        sjs.track.event("Reader", "Open Close Reader", ref);
      }
    });
    {% endautoescape %}
  </script>
</body>
</html>
