{% extends "base.html" %}
{% load sefaria_tags %}

{% block title %}Search Jewish Texts | Sefaria.org{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/css/s2.css">

<div id="searchPage" class="container-fluid"></div>

<div id="overlay"></div>

{% endblock %}

{% block js %}
    <script src="/static/js/library.js"></script>
    <script src="/static/js/react-with-addons.js"></script>
    {% if DEBUG %}
    <script src="/static/js/JSXTransformer.js"></script>
    <script type="text/jsx" src="/static/js/s2-search.jsx"></script>
    {% else %}
    <script src="/static/js/s2-search.js"></script>
    {% endif %}
    <script {% if DEBUG %}type="text/jsx"{% endif %}>
      $(function() {
          $("body").addClass("searchPage");

          var urlVars = getUrlVars();
          var query = "q" in urlVars ? urlVars["q"].replace(/\+/g, " ") : null;
          var page = "page" in urlVars ? parseInt(urlVars["page"]) : null;
          //var lang?
          //var filters

          var settings = {
              language: "{{ contentLang }}",
              color: $.cookie("color") || "light",
              fontSize: $.cookie("fontSize") || 62.5,
              query: query,
              page: page
          };

          $("body").addClass(settings.color);
          $('#right').show();  // s2.cass hides
          $("#languageToggle #bilingual").hide();

          React.render(
              React.createElement(SearchPage, {
                  initialSettings: settings
              }),
              document.getElementById('searchPage')
          );
      });
    </script>
{% endblock %}

{% block footer %}{% endblock %}