{% extends "base.html" %}
{% block exclude_block_on_source_sheets %}{% endblock %}
{% load cache %}
{% load humanize %}
{% load sefaria_tags %}

{% block titleEnglish %}
    {% if title %}
    	{{ title|striptags|strip_html_entities }} | Sefaria Source Sheet Builder
    {% else %}
    	Start a New Sheet - Sefaria Source Sheet Builder
    {% endif %}
{% endblock %}

{% block titleHebrew %}
    {% if title %}
        {{ title|striptags|strip_html_entities }} | Sefaria Source Sheet Builder
    {% else %}
        Start a New Sheet - Sefaria Source Sheet Builder
    {% endif %}
{% endblock %}

{% block descriptionEnglish %}
    {% if sheet.owner %}
        A source sheet by {{ sheet.owner|user_name }} created with Sefaria's Source Sheet Builder.
    {% else %}
        Create your own source sheet with Sefaria's Source Sheet Builder.
    {% endif %}
{% endblock %}

{% block descriptionHebrew %}
    {% if sheet.owner %}
        A source sheet by {{ sheet.owner|user_name }} created with Sefaria's Source Sheet Builder.
    {% else %}
        Create your own source sheet with Sefaria's Source Sheet Builder.
    {% endif %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/static/css/tooltipster.css" />
    {% if EMBED %}
        <link rel="canonical" href="{{ canonical_url }}">
    {% endif %}
{% endblock %}

{% block css %}

    body {
        background-color:#f8f8f8;
    }

{% endblock %}

{% block content %}
<!-- CSS placed here so it has precedence over other sheets in base.html -->
<link rel="stylesheet" href="/static/css/sheets.css">
<link rel="stylesheet" href="/static/css/sheets-print.css" media="print" />
<div id="sheetsContent">

    <div class="sheetsEditNavTop">
        <div class="sheetsMenuBarItem" id="fileMenu">File
			<div class="optionsMenu">
				{% if not new_sheet %}
					{% if user.email %}
					<div class="optionItem" id="copySheet">
						<img src="/static/img/copy.png" alt="Copy Sheet Icon"> Copy Sheet</div>
					{% endif %}
					{% if user.email %}
					<div class="optionItem" id="exportToDrive">
						<i class="fa fa-google"></i> Export to Google Drive</div>
					{% endif %}
					<div class="optionItem" id="embedSheet">
						<img src="/static/img/embed.png" alt="Embed Sheet Icon"> Embed Sheet</div>
					{% if is_owner %}
					<div class="optionItem" id="deleteSheet">
						<img src="/static/img/delete.png" alt="Delete Sheet Icon"> Delete Sheet</div>
					{% endif %}

					{% if user.email %}
					<div class="line"></div>
					<div class="optionItem" id="editTags">
						<img src="/static/img/edittags.png" alt="Edit Sheet Tags Icon"> Tags</div>
					{% endif %}
				{% if is_owner %}
	    			{% if not sheet.assigner_id %}

                    <div class="optionGroup">
                        <div class="optionTitle" id="assignmentsModalTrigger"><img src="/static/img/assignment.png" alt="Assignment Icon"> Assignments</div>
                    </div>


    				{% endif %}

				{% endif %}



				{% endif %}

				<div class="line"></div>

				<div class="optionItem" id="print">
					<img src="/static/img/print.png" alt="Print Icon"> Print</div>
                <div class="optionItem" id="visualize">
					<a href="/sheets/visual/{{sheet.id}}"><i class="fa fa-picture-o"></i>Visualize</a></div>
                {% if not new_sheet %}
                <div class="optionItem" id="highlightToggle">
					<i class="fa fa-pencil"></i>Highlight Mode</div>
   				{% endif %}
            </div>
        </div>
        <div class="sheetsMenuBarItem" id="formatMenu">Format
			<div class="optionsMenu">
				<div class="optionGroup">
					<div class="optionTitle"><img src="/static/img/divine.png" alt="Divine Names Icon"> Divine Names <i class='fa fa-caret-right'></i></div>
					<div class="subMenu">
						<div class="optionItem divineNamesOption" id="noSub">
							<i class="fa fa-check"></i> <i>No substitution</i></div>
						<div class="optionItem divineNamesOption" id="yy">
							<i class="fa fa-check hidden"></i> יי</div>
						<div class="optionItem divineNamesOption" id="h">
							<i class="fa fa-check hidden"></i> <span style="direction: rtl;">ה'</span></div>
						<div class="optionItem divineNamesOption" id="ykvk">
							<i class="fa fa-check hidden"></i> יקוק</div>
					</div>
				</div>
                <div class="optionItem" id="numbered">
					<i class="fa fa-check hidden"></i> Number Sources</div>
				<div class="optionItem" id="boxed">
					<i class="fa fa-check hidden"></i> Box Sources</div>
				<div class="optionItem" id="bsd">
					<i class="fa fa-check hidden"></i> בס"ד</div>

                <div class="line"></div>
            {% if can_edit or can_add %}

				<div class="optionItem" id="resetText">
					<img src="/static/img/reset%20text.png" alt="Reset Source Text Icon"> Reset Source Text</div>

   				<div class="optionLink" id="splitSourceToSegment">
					<i class="fa fa-file-o hidden"></i> Auto-Segment Text</div>


				<div class="optionLink" id="removeNikkudot">
					<i class="fa fa-file-o hidden"></i> Remove Nikkudot</div>

                <div class="optionItem" id="addSourceTitle">
					 <i class="fa fa-pencil"></i> Add Source Title</div>
            {% endif %}
                <div class="line"></div>
                <div id="sheetLayoutLanguageMenuItems">
                    <div class="optionGroup" id="languageToggleGroup">
                        <div class="optionTitle"><i class="fa fa-file-o hidden"></i> Sheet Language <i class='fa fa-caret-right'></i></div>
                        <div class="subMenu languageToggleOption">
                            <div class="english">
                                <i class="fa fa-check hidden"></i> English</div>
                            <div class="hebrew">
                                <i class="fa fa-check hidden"></i> Hebrew</div>
                            <div class="bilingual">
                                <i class="fa fa-check hidden"></i> Bilingual</div>
                        </div>
                    </div>


                    <div class="optionGroup disabled" id="layoutToggleGroup">
                        <div class="optionTitle"><i class="fa fa-file-o hidden"></i> Sheet Layout <i class='fa fa-caret-right'></i></div>
                        <div class="subMenu layoutToggleOption">
                            <div class="stacked">
                                <i class="fa fa-check hidden"></i> Stacked</div>
                            <div class="sideBySide">
                                <i class="fa fa-check hidden"></i> Side-by-Side</div>
                        </div>
                    </div>


                    <div class="optionGroup disabled" id="sideBySideToggleGroup">
                        <div class="optionTitle"><i class="fa fa-file-o hidden"></i> Side-by-Side Layout <i class='fa fa-caret-right'></i></div>
                        <div class="subMenu sideBySideToggleOption">
                            <div class="heLeft">
                                <i class="fa fa-check hidden"></i> Hebrew Left</div>
                            <div class="heRight">
                                <i class="fa fa-check hidden"></i> Hebrew Right</div>
                        </div>
                    </div>
                </div>

                <div id="sourceLayoutLanguageMenuItems">
                    <div class="optionGroup">
                        <div class="optionTitle"><i class="fa fa-file-o hidden"></i> Source Language <i class='fa fa-caret-right'></i></div>
                        <div class="subMenu languageToggleOption">
                            <div class="english">
                                <i class="fa fa-check hidden"></i> English</div>
                            <div class="hebrew">
                                <i class="fa fa-check hidden"></i> Hebrew</div>
                            <div class="bilingual">
                                <i class="fa fa-check hidden"></i> Bilingual</div>
                        </div>
                    </div>


                    <div class="optionGroup disabled" id="layoutToggleGroup">
                        <div class="optionTitle"><i class="fa fa-file-o hidden"></i> Source Layout <i class='fa fa-caret-right'></i></div>
                        <div class="subMenu layoutToggleOption">
                            <div class="stacked">
                                <i class="fa fa-check hidden"></i> Stacked</div>
                            <div class="sideBySide">
                                <i class="fa fa-check hidden"></i> Side-by-Side</div>
                        </div>
                    </div>


                    <div class="optionGroup disabled" id="sideBySideToggleGroup">
                        <div class="optionTitle"><i class="fa fa-file-o hidden"></i> Side-by-Side Layout <i class='fa fa-caret-right'></i></div>
                        <div class="subMenu sideBySideToggleOption">
                            <div class="heLeft">
                                <i class="fa fa-check hidden"></i> Hebrew Left</div>
                            <div class="heRight">
                                <i class="fa fa-check hidden"></i> Hebrew Right</div>
                        </div>
                    </div>

                    <div class="optionGroup" id="resetSourceTogglesToSheetGroup">
                        <div class="optionTitle"><i class="fa fa-file-o hidden"></i> Reset to Sheet Default</div>
                    </div>

                </div>


            </div>

        </div>
            {% if can_edit or can_add %}
        <div class="sheetsMenuBarItem" id="insertMenu">Insert
			<div class="optionsMenu">
				<div class="optionItem" id="addSourceMenu"><img src="/static/img/source.png" alt="Add Source Icon"> Source</div>
   				{% if is_owner %}
                <div class="optionItem" id="addParashaToSheetModalTrigger"><img src="/static/img/parasha.png" alt="Add Parasha Icon"> Parasha</div>
				{% endif %}
                <div class="optionItem" id="addCustomMenu"><img src="/static/img/custom%20text.png" alt="Add outside text icon"> Text</div>
				<div class="optionItem" id="addCommentMenu"><img src="/static/img/comment.png" alt="Add Comment Icon"> Comment</div>
				<div class="optionItem" id="addMediaMenu"><img src="/static/img/media.png" alt="Add Media Icon"> Media</div>
            </div>
        </div>
            {% endif %}

        <div class="sheetsMenuBarItem" id="highlightMenu">Highlight Tools
			<div class="optionsMenu">
                <div class="optionItem segmentedContinuousToggle">Paragraph View</div>
                {% if can_edit %}
                    <div class='optionItem resetHighlighter'>Reset</div>
                {% endif %}
				<div class="optionGroup">
					<div class="optionTitle">Filter <i class='fa fa-caret-right'></i></div>
					<div class="subMenu">
                        <div class='optionItem highlighterFilterTags'>
                        </div>
					</div>
				</div>
            </div>
        </div>

    <div class="sheetsMenuBarItem">
             <span id="lastSaved">
        {% if sheet.dateModified %}
                    {% if can_edit or can_add %}
                        Last Saved: {{sheet.dateModified|date_string_to_date|naturaltime}}
                    {% endif %}
        {% endif %}
     </span>

    </div>
    <span id="highlightModeDisplay">Highlight Mode is On</span>

	{% if new_sheet %}
        <span id="save" class="button"><i class="fa fa-floppy-o"></i> Save</span>

    {% elif is_owner or can_publish %}
        <span id="share" class="button"><img src="/static/img/share.png" alt="Share Icon"> Share</span>
	{% endif %}

        <div id="ckeTopMenu"></div>

    </div>
<div id="link"></div>
<div id="error"></div>
<div id="controls">
    <div>
    </div>
</div>

<div id="sheet" class="{{ sheet_class|default:'bilingual' }}">
    {% if not user.email %}
	<div id="fileControls">

        <div id="fileControlMsg">
                Like this? <a href="/login?next=/sheets/new">Login</a> or <a href="/register?next=/sheets/new">register</a> to create your own source sheet.
        </div>
	</div>
	{% endif %}

	<div id="bsdHeader">בס"ד</div>
	<div id="sheetHeader" {% if sheet_group == None %}style="display:none"{% endif %}>
		{% if sheet_group and sheet_group.headerUrl %}
		<a href="/groups/{{ sheet_group.name|url_safe }}">
			<img id="groupLogo" src="{{ sheet_group.headerUrl }}" alt="Logo for {{ sheet_group.name }}" />
		</a>
		{% else %}
			<img id="groupLogo" style="display:none;" />
		{% endif %}
	</div>
	<div id="title">
		{% autoescape off %}
		{{ title|default:"<i>Loading...</i>" }}
		{% endautoescape %}
	</div>
	{% if sheet.attribution %}
	<div id="author">
		{% autoescape off %}
			{{ sheet.attribution }}
		{% endautoescape %}
	</div>
	{% elif assigner_id %}
	<div id="author">
		<div id="assignmentAttribution">Assignment by {{ assigner_id|user_link }}</div>
		{% if author %}
		Completed by {{ sheet.owner|user_link }}
		{% endif %}
    </div>
	{% elif sheet.assigner_id %}
	<div id="author">
		<div id="assignmentAttribution">Assignment by {{ sheet.assigner_id|user_link }}</div>
		{% if author %}
		Completed by {{ sheet.owner|user_link }}
    </div>
		{% endif %}

	{% elif author %}
	<div id="author">
		Source Sheet by {{ sheet.owner|user_link }}
		{% if sheet.via %}
		<div id="via">Based on <a href="/sheets/{{ sheet.via }}">a sheet</a> by {{ sheet.viaOwner|user_link }}</div>
		{% endif %}
	</div>
	{% endif %}
	{% if not new_sheet %}
	<div id="likes">
		<span id="s2LikeContainer">
            <span id="likeInfoBox" {% if like_count == 0%}style="display:none"{% endif %}>
                <span id="likeInfo">
                    <span id="likeCount">{{ like_count }}</span>
                    like<span id="likePlural" {% if like_count == 1%}style="display:none"{% endif %}>s</span></span>
                 ·
            </span>
            {% if viewer_is_liker %}
                <a href="#" id="likeLink" class="liked">Unlike</a>
            {% else %}
                <a href="#" id="likeLink">Like</a>
            {% endif %}
        </span>
	</div>
	{% endif %}

	<ol id="sources">
		{% include "sheet.html" with sources=sheet.sources %}
	</ol>
    {% if can_edit or can_add %}
    <div id="addInterface">
        <div class="buttonBar">
            <div class="addInterfaceButton" id="sourceButton"><img src="/static/img/source.png" alt="Add Source Icon"> Source</div><!--
         --><div class="addInterfaceButton" id="connectionButton"><img src="/static/img/connection.png" alt="Add Connections Icon"> Connection</div><!--
         --><div class="addInterfaceButton" id="customTextButton"><img src="/static/img/custom%20text.png" alt="Add Outside Text Icon"> Text</div><!--
         --><div class="addInterfaceButton" id="mediaButton"><img src="/static/img/media.png" alt="Add Media Icon"> Media</div><!--
         --><div class="addInterfaceButton" id="commentButton"><img src="/static/img/comment.png" alt="Add Comment Icon">  Comment</div>
        </div>
        <div class="contentDiv">
            <div id="addsourceDiv">
                <div id="inlineAddDialogTitle" class="inlineAddDesc">Select a text</div>
                <div class="blockContainer">
                    <input id="inlineAdd" class="inlineAddTextInput" placeholder="Search for a Text or Commentator"/>
                    <div class="buttonContainer">
                        <div id="inlineAddBrowseBox" class="inlineAddSourceByttons">
                            <div id="inlineAddSourceOK" class='button disabled'>Add Source</div>
                        </div>
                        <div class="inlineAddOr"> or </div>
                        <div id="inlineAddBrowseBox" class="inlineAddSourceByttons">
                            <div id="inlineAddBrowse" class='button'>Browse Sources</div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="addconnectionDiv">
                <div class="inlineAddDesc">Select connected texts</div>
                <div id="connectionsToAdd"></div>
                <div class="button">Add to Sheet</div>
            </div>
            <div id="addcustomTextDiv">
                <div class="inlineAddDesc">Write or paste text</div>
                <div id="customTextLanguageToggle" class="toggle"><span id="englishCustomText" class="toggleOption"><img src="/static/img/english.png" alt="English Language Toggle"></span><span id="bilingualCustomText" class="toggleOption active"><img src="/static/img/bilingual.png" alt="Bilingual Language Toggle"></span><span id="hebrewCustomText" class="toggleOption"><img src="/static/img/hebrew.png" alt="Hebrew Language Toggle"></span></div>

                <div id="customTextContainer" class="flexContainer">
                    <div class="contentToAdd en customTextEditables" tabindex="0">English</div>
                    <div class="contentToAdd he customTextEditables" tabindex="0">עברית</div>
                </div>
                <div class="button">Add to Sheet</div>
            </div>
            <div id="addmediaDiv">
                <div class="inlineAddDesc">Add Image, Youtube Video, SoundCloud link, or MP3</div>
                <div class="blockContainer">
                    <input id="inlineAddMediaInput" class="inlineAddTextInput" placeholder="Paste URL">
                    <div class="buttonContainer">
                        <div class="inlineAddSourceByttons">
                            <div class="button">Add to Sheet</div>
                        </div>
                        <div class="inlineAddOr"> or </div>
                        <div class="inlineAddSourceByttons">
                            <label for="addmediaFileSelector" class="button">
                                <i class="fa fa-upload" aria-hidden="true"></i>
                                Upload an Image
                            </label>
                            <input id="addmediaFileSelector" type="file" style="display:none">
                        </div>
                    </div>
                </div>
            </div>



            <div id="addcommentDiv">
                <div class="inlineAddDesc">Comment on this section</div>
                <div class="contentToAdd" tabindex="0"><br></div>
                <div class="button">Add to Sheet</div>
            </div>
        </div>
    </div>
	{% endif %}

    <div id="sheetLoading" style="display:none">Loading...</div>

	{% if new_sheet and not hide_video %}
	<div id="empty" class="well">

		<div class="fa fa-times remove"></div>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/mWOsy_Gvjos?rel=0" frameborder="0" allowfullscreen></iframe>

		<h3>Watch a 3 minute intro video or <a id="readmore">read more</a>.</h3>
		<div id="howItWorks">
		<h1>Source Sheet Builder: How it Works</h1>
		<ul>
			<li><b>Add Sources</b> by typing a citation like:
			 <div id="cite"><i>Genesis 4:5-8</i>, <i>Mishnah Peah 2:6</i>, <i>Berakhot 2a:4-7</i>, <i>Bereishit Rabbah 1:4</i>.</div>
			</li>
			<li><b>Reorder Sources</b> by dragging and dropping.</li>
			<li><b>Print</b> your sheets to paper or PDF, or just <b>Share</b> the link.</li>
			<li><b>More Options</b> are available in the icons that appear when you hover over a source.</li>
		</ul>
		</div>
		{% if not user.email %}
			<center id="loginWarning">Take a spin! But you'll need to <a href="/login?next=/sheets/new">login</a> or <a href="/register?next=/sheets/new">register</a> to save your work.</center>
		{% endif %}
	</div>
	{% endif %}

	<div id="printFooter">
		<img src="/static/img/samekh.png">
		<div>
			Made with the Sefaria Source Sheet Builder<br>
			www.sefaria.org/sheets
		</div>
	</div>

<div class='highlighterTools'>
    <div class='highlighterTagWindow'>
        <span class="close-button"></span>
        <div class='tagSelector'>
            <div class='tagSelectorTitle'>Add Highlight</div>
            <div class='sheetHighlighterTags'></div>
            <div class='createNewHighlighterTag'>
                <div class='colorSwatch active' style='background-color: #bd9eb6'></div>
                <div class='colorSwatch' style='background-color: #afcab8'></div>
                <div class='colorSwatch' style='background-color: #e5dabd'></div>
                <div class='colorSwatch' style='background-color: #bd9796'></div>
                <div class='colorSwatch' style='background-color: #a4b7de'></div>
                <div class='colorSwatch' style='background-color: #e8dde5'></div>
                <div class='colorSwatch' style='background-color: #d2ddc9'></div>
                <div class='tagName' contenteditable='true'>Create New</div></div>
            <div class='save button'>Save</div>
        </div>
    </div>
</div>


</div>

{% if author %}
<div id="bottomAuthor">
	Source Sheet created on Sefaria by {{ sheet.owner|user_link }}
	{% if sheet.via %}
	<div id="bottomVia">Based on <a href="/sheets/{{ sheet.via }}">a sheet</a> by {{ sheet.viaOwner|user_link }}</div>
	{% endif %}
</div>
{% endif %}

<div id="belowSheet"></div>

<div id="footer"></div>


<div id="assignmentsModal" class="modal s2Modal">
        <span class="close-button"></span>
        <div class="title">Assignments</div>
        <div class="content" id="assignmentDirections">
        Assignments allow you to create a template that your students can fill out on their own.
        </div>
        <input id="assignmentURLLink" value="{{ request.META.HTTP_HOST }}/sheets/new?assignment={{sheet.id}}" />
        <div class='button' id="makeSheetAssignableButton">Assign this Sheet</div>
        <div class='button' id="StopCollectingAssignmentsButton">Stop Collecting Assignments</div>
        <br/>
                    <div id="assignedSheets">
                                <div class="line"></div>

                                <div class="title">Saved Assignments:</div>
        						{% for assignment_sheet in assignments_from_sheet %}
                                <a href="./{{ assignment_sheet.id }}" target="_blank"><div class="button white" >{{ assignment_sheet.owner|user_name }}</div></a>

                                {% empty %}
                                    <em>Your student's saved assignments will be viewable here.</em>
                                {% endfor %}
                    </div>

</div>

<div id="shareWithOthers" class="modal s2Modal">
    <span class="close-button"></span>
    <div class="title">Share with Others</div>

    <div class="content">
        <div class="inputHeader"><img src="/static/img/shareablelink.png" alt="Sharable Link Icon"> Sharable Link</div>
        <input id="shareURL" value="{{ request.META.HTTP_HOST }}/sheets/{{sheet.id}}" readonly="readonly"/>
    </div>

    <div class="content" id="sourceSheetsAccessOptions">
        <div class="inputHeader"><i class='fa fa-unlock-alt'></i> Access</div>
        <select id="sourceSheetShareSelect">
          <option value="private">Private</option>
          <option value="public">Listed for Sefaria Users</option>
          <option value="publicAdd">Anyone can Add</option>
          <option value="privateAdd">Anyone can Add - Unlisted</option>
          <option value="publicEdit">Anyone can Edit</option>
          <option value="privateEdit">Anyone can Edit - Unlisted</option>
        </select>
    </div>

   {% if owner_groups %}
    <div class="content" id="sourceSheetGroupOptions">
        <div class="inputHeader"><i class='fa fa-group'></i> Group</div>
        <select id="sourceSheetGroupSelect">
            <option value="None">None</option>

    		{% for group in owner_groups %}
                <option 
                    value="{{ group.name }}" 
                    data-group="{{ group.name }}" 
                    data-image="{{ group.headerUrl|default:'' }}"
                    data-can-publish="{% if group.canPublish %}1{% else %}0{% endif %}">
                    {{ group.name }}
                </option>
			{% endfor %}
        </select>
    </div>
	{% endif %}
    <div id="sharingDesc"></div><span id="sharingType" data-sharing=""></span>
    <div class="ok button">Save</div>
</div>

<div id="addToSheetModal" class="modal s2Modal">
	<div class="header">Add <span class="sourceName"></span> to a Source Sheet</div>
	<ul id="sheetList">
	</ul>
	<div class="actions">
		<div class="btn ok">Add</div>
		<div class="btn cancel">Cancel</div>
	</div>
</div>

<div id="embedSheetModal" class="gradient modal s2Modal">
    <span class="close-button"></span>
	<div class="title">Embed Sheet</div>
    <div class="content center">Copy and paste the embed code below. Adjust the values of width and height to best fit your design.</div>
	<textarea><iframe src="{{ request.build_absolute_uri }}?embed=1" width="600px" height="600px"></iframe></textarea>
</div>

<div id="addParashaToSheetModal" class="modal s2Modal">
	<div class="header">Add a Parasha to a Source Sheet</div>
        <ol>
            <li class="parshahToAdd">Bereshit</li>
            <li class="parshahToAdd">Noach</li>
            <li class="parshahToAdd">Lech-Lecha</li>
            <li class="parshahToAdd">Vayera</li>
            <li class="parshahToAdd">Chayei Sara</li>
            <li class="parshahToAdd">Toldot</li>
            <li class="parshahToAdd">Vayetzei</li>
            <li class="parshahToAdd">Vayishlach</li>
            <li class="parshahToAdd">Vayeshev</li>
            <li class="parshahToAdd">Miketz</li>
            <li class="parshahToAdd">Vayigash</li>
            <li class="parshahToAdd">Vayechi</li>
            <li class="parshahToAdd">Shemot</li>
            <li class="parshahToAdd">Vaera</li>
            <li class="parshahToAdd">Bo</li>
            <li class="parshahToAdd">Beshalach</li>
            <li class="parshahToAdd">Yitro</li>
            <li class="parshahToAdd">Mishpatim</li>
            <li class="parshahToAdd">Terumah</li>
            <li class="parshahToAdd">Tetzaveh</li>
            <li class="parshahToAdd">Ki Tisa</li>
            <li class="parshahToAdd">Vayakhel</li>
            <li class="parshahToAdd">Pekudei</li>
            <li class="parshahToAdd">Vayikra</li>
            <li class="parshahToAdd">Tzav</li>
            <li class="parshahToAdd">Shmini</li>
            <li class="parshahToAdd">Tazria</li>
            <li class="parshahToAdd">Metzora</li>
            <li class="parshahToAdd">Achrei Mot</li>
            <li class="parshahToAdd">Kedoshim</li>
            <li class="parshahToAdd">Emor</li>
            <li class="parshahToAdd">Behar</li>
            <li class="parshahToAdd">Bechukotai</li>
            <li class="parshahToAdd">Bamidbar</li>
            <li class="parshahToAdd">Nasso</li>
            <li class="parshahToAdd">Beha'alotcha</li>
            <li class="parshahToAdd">Sh'lach</li>
            <li class="parshahToAdd">Korach</li>
            <li class="parshahToAdd">Chukat</li>
            <li class="parshahToAdd">Balak</li>
            <li class="parshahToAdd">Pinchas</li>
            <li class="parshahToAdd">Matot</li>
            <li class="parshahToAdd">Masei</li>
            <li class="parshahToAdd">Devarim</li>
            <li class="parshahToAdd">Vaetchanan</li>
            <li class="parshahToAdd">Eikev</li>
            <li class="parshahToAdd">Re'eh</li>
            <li class="parshahToAdd">Shoftim</li>
            <li class="parshahToAdd">Ki Teitzei</li>
            <li class="parshahToAdd">Ki Tavo</li>
            <li class="parshahToAdd">Nitzavim</li>
            <li class="parshahToAdd">Vayeilech</li>
            <li class="parshahToAdd">Ha'Azinu</li>
            <li class="parshahToAdd">V'Zot HaBerachah</li>
        </ol>
	<div class="actions">
		<div class="btn cancel">Cancel</div>
	</div>
</div>

<div id="overlay"></div>

<div id="overrideLayoutModal" class="modal s2Modal">
	<div class="header">Change this source's layout:</div>

		<span id="biLayoutToggleSource" class="toggle"><span id="hebLeftSource" class="toggleOption"><img src="/static/img/backs.png"></span><span id="hebRightSource" class="toggleOption"><img src="/static/img/faces.png"></span></span>

		<span id="sheetLayoutToggleSource" class="toggle"><span id="sideBySideSource" class="toggleOption"><img src="/static/img/sideBySide.png"></span><span id="stackedSource" class="toggleOption"><img src="/static/img/stacked.png"></span></span>

		<span id="languageToggleSource" class="toggle"><span id="englishSource" class="toggleOption"><img src="/static/img/english.png"></span><span id="bilingualSource" class="toggleOption"><img src="/static/img/bilingual.png"></span><span id="hebrewSource" class="toggleOption"><img src="/static/img/hebrew.png"></span></span>
	<br/>

	<div class="btn ok">OK</div>
	<h6 id="resetToDefaults"><small>Reset to sheet defaults</small></h6>


</div>


<div id="publishPromptModal" class="modal s2Modal">
	<div id="prompt">
		<div class="header">Would you like to make your Source Sheet public?</div>

		<p>Your Source Sheet is looking great! You can share it with other members of the Sefaria Community by making it public.</p>

		<div class="btn btn-primary publish">Make Public</div>
		<div class="btn later">Maybe Later</div>
	</div>
	<div id="published" style="display:none;">
		<div class="header">Your Sheet is now Public!</div>

		<p>Thank you for contributing to a free, growing resource for Jewish learning.</p>

		<div class="btn ok">OK</div>
	</div>
	<div id="notPublished" style="display:none;">
		<div class="header">No problem, this sheet is still not listed on Sefaria.</div>

        <p>You can make your sheet public in the future from the <span class="label">Share</span> menu.</p>

		<div class="btn ok">OK</div>
	</div>
</div>

<div id='inlineTextPreview'></div>

{% include "elements/login_prompt.html" with msg="To save, copy, or like, please log in." %}


</div> <!-- end sheetContent -->
{% endblock %}

{% block js  %}
<script type="text/javascript" src="/static/js/jquery.scrollTo-1.4.2-min.js"></script>
<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/static/js/jquery-tooltip/jquery.tooltip.js"></script>
<script src="/static/js/jquery.tag-it.min.js"></script>
<script src="/static/js/util.js"></script>


{% include "js/headers.js" %}

<script type="text/javascript">
{% autoescape off %}
	var sjs = sjs || {};

	$.extend(sjs, {
		current: {{ sheetJSON|default:"null" }},
		assignment_id: {{ assignment_id|default:"null" }},
		assigner_id: {{ assigner_id|default:"null" }},
		can_edit: {% if can_edit %}true{% else %}false{% endif %},
        can_add: {% if can_add %}true{% else %}false{% endif %},
        can_publish: {% if can_publish %}true{% else %}false{% endif %}, // group dependent, only set for non owners
		is_owner: {% if is_owner %}true{% else %}false{% endif %},
		editing: {},
		ref: {},
		loading: 0,
		autosave: false,
		changes: false,
		{% if user.id %}
		_fullname: "{{ user.first_name }} {{ user.last_name }}",
		_userLink: "{{ user.id|user_link }}"
		{% endif %}
	});
{% endautoescape %}
</script>
{% if can_edit or can_add %}
<script src="/static/ckeditor/ckeditor.js"></script>
<script src="/static/ckeditor/adapters/jquery.js"></script>
{% endif %}
<script src="/static/js/sheets.js"></script>

    <script>
    var backToS1 = function() {
      $.cookie("s2", "", {path: "/"});
      window.location = "/";
    }
    $("#backToOldSefaria").click(backToS1);
    </script>
{% endblock %}

{% block footer %}{% endblock %}
