{% extends "base.html" %}

{% load sefaria_tags %}
{% load humanize %}

{% block title %}{% trans "Search Jewish Texts" %} | {% trans "Sefaria" %}{% endblock %}

{% block description %}{% trans "Search the full text of thousands of Jewish texts in Hebrew and in English, filter results by category or book, and read the texts online on Sefaria." %}{% endblock %}

{% block content %}

<div id="searchPage" class="container-fluid">
    <div class="row-fluid">
        <div id="searchHeaderContainer" class="span3">
            <div id="searchHeader"></div>
        </div>
        <div id="lowerSearchBoxWrapper" class="span8">
            <div id="lowerSearchBox" class="searchBox">
                <input id="lowerSearch" placeholder="Search" class="searchInput keyboardInput" />
                <span id="lowerOpenText" class="searchButton ui-icon ui-icon-search"></span>
            </div>
            <div id="description"></div>
        </div>
    </div>
    <div id="searchContentFrame" class="row-fluid">
        <div id="searchControlsBox" class="span3">
            <div id="searchControls"></div>
            <div id="searchFilters"></div>
        </div>
	    <div id="searchContent" class="span8">
		    <div id="searchResults"></div>
	    </div>
    </div>
</div>
{% endblock %}

{% block js %}
	<script src="/static/js/lib/jquery.history.js"></script>
	<script src="/static/js/lib/jquery.scrollTo-1.4.2-min.js"></script>
    <script src="/data.js"></script>
    <script src="/static/js/lib/sefaria.js"></script>
	<script src="/static/js/lib/search.js"></script>
{% endblock %}
