{% load sefaria_tags %}

<!doctype html>
<html>
<head>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	{% if not is_public %}
		<meta name="robots" content="noindex">
	{% endif %}
	<title>
		{% if title %}
			{{ title|striptags|strip_html_entities }} | Sefaria Source Sheet Builder
		{% else %}
			Sefaria Source Sheet Builder
		{% endif %}
	</title>

	<link rel="stylesheet" href="/static/js/jquery-ui/css/smoothness/jquery-ui-1.8.22.custom.css">
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/common.css">
	<link rel="stylesheet" href="/static/css/sheets.css">
	<link rel="stylesheet" href="/static/css/sheets-visual.css">	
	<link rel="stylesheet" href="/static/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="/static/css/sheets-print.css" media="print" />
	<script>{% include "js/analytics.js" %}</script>
</head>

<body>

{% include "header.html" %}

<div id="link"></div>
<div id="error"></div>
<a href="/sheets" id="textTocLink">&laquo; Source Sheets</a>
<div id="controls">
	<div id="buttonBox">
		<span id="zoomOut" class="zoomButton"><span class="fa fa-search-minus"></span>
		<span id="zoomIn" class="zoomButton"><span class="fa fa-search-plus"></span>
	</div>
</div>

<div class="zoomContainer" id="visualContainer">
<ol id="sources">
	{% include "sheet.html" with sources=sheet.sources %}
</ol>
<div id="sheetLoading" style="display:none">Loading...</div>
</div>

<!--
Footer depends on full bootstrap grid, which isn't loaded in sheets.html
{% include "elements/footer.html" %}
-->

{% include "js/jquery.html" %}
<script>{% include "js/django-csrf.js" %}</script>
<script type="text/javascript" src="/static/js/jquery.scrollTo-1.4.2-min.js"></script>
<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/static/js/jquery-tooltip/jquery.tooltip.js"></script>
<script src="/static/js/jquery.tag-it.min.js"></script>
<script src="/static/js/jquery.tooltipster.min.js"></script>


{% include "js/headers.js" %}
<script src="/static/js/util.js"></script>
<script src="/static/js/sheets-visual.js"></script>
</body>
</html>