{% load humanize %}
{% load sefaria_tags %}

<!doctype html>
<html>

<head>
	<title>
		{% if title %}
			{{ title|striptags|strip_html_entities }} | Sefaria Source Sheet Builder
		{% else %}
			Sefaria Source Sheet Builder
		{% endif %}
	</title>

	<link rel="stylesheet" href="/static/js/jquery-ui/css/smoothness/jquery-ui-1.8.22.custom.css">
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/common.css">
	<link rel="stylesheet" href="/static/css/sheets.css">
	<link rel="stylesheet" href="/static/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="/static/css/sheets-print.css" media="print" />
</head>

<body>

	<div id="link"></div>
	<div id="error"></div>

	<div id="sheet" class="{{ sheet_class|default:'bilingual' }}">
		<div id="bsdHeader">בס"ד</div>

		<div id="sheetHeader" {% if not sheet_group %} style="display:none" {% endif %}>
			{% if sheet_group %}
				<a href="/partners/{{ sheet_group.name|url_safe }}">
					<img id="partnerLogo" src="{{ sheet_group.headerUrl }}" />
				</a>
			{% else %}
				<img id="partnerLogo" style="display:none;" />
			{% endif %}
		</div>

		<div id="title">
			{% autoescape off %} {{ title|default:"<i>Loading...</i>" }} {% endautoescape %}
		</div>

		{% if sheet.attribution %}
			<div id="author">
				{% autoescape off %} {{ sheet.attribution }} {% endautoescape %}
			</div>
		{% elif assigner_id %}
			<div id="author">
				<div id="assignmentAttribution">
					Assignment by {{ assigner_id|user_link }}
				</div>
				{% if author %}
					Completed by {{ sheet.owner|user_link }}
				{% endif %}
			</div>
		{% elif sheet.assigner_id %}
			<div id="author">
				<div id="assignmentAttribution">
					Assignment by {{ sheet.assigner_id|user_link }}
				</div>
				{% if author %}
					Completed by {{ sheet.owner|user_link }}
				{% endif %}
			</div>
		{% elif author %}
			<div id="author">
				Source Sheet by {{ sheet.owner|user_link }}
				{% if sheet.via %}
					<div id="via">
						Based on <a href="/sheets/{{ sheet.via }}">a sheet</a> by {{ sheet.viaOwner|user_link }}
					</div>
				{% endif %}
			</div>
		{% endif %}

		<ol id="sources">
			{% include "sheet.html" with sources=sheet.sources %}
		</ol>

		<!-- <div id="printFooter">
			<img src="/static/img/fb-og-image.png">
			<div>
				Made with the Sefaria Source Sheet Builder
				<br> www.sefaria.org/sheets
			</div>
		</div> -->
	</div>

	{% include "js/jquery.html" %}
	<script>
		{% include "js/django-csrf.js" %}
	</script>

	{% include "js/headers.js" %}

	<script type="text/javascript">
		{% autoescape off %}
		var sjs = sjs || {};

		$.extend(sjs, {
			cache: {},
			current: {
				{
					sheetJSON |
						default: "null"
				}
			},
			assignment_id: {
				{
					assignment_id |
						default: "null"
				}
			},
			assigner_id: {
				{
					assigner_id |
						default: "null"
				}
			},
			can_edit:
				{% if can_edit %}
					true
				{% else %}
					false
				{% endif %},
			can_add: { %
				if can_add %
			}
			true { %
				else %
			}
			false { % endif %
			},
			is_owner: { %
				if is_owner %
			}
			true { %
				else %
			}
			false { % endif %
			},
			editing: {},
			ref: {},
			loading: 0,
			autosave: false,
			changes: false,
			{% if user.id %}
				_fullname: "{{ user.first_name }} {{ user.last_name }}",
				_userLink: "{{ user.id|user_link }}"
			{% endif %}
		});
		{% endautoescape %}
	</script>
	<script src="/static/js/util.js"></script>
	<script src="/static/js/sheets.js"></script>
</body>

</html>
