{% load humanize %}
{% load sefaria_tags %}

<!doctype html>
<html>
<head>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
	{% if not is_public %}
		<meta name="robots" content="noindex">
	{% endif %}
	{% if EMBED %}
		<link rel="canonical" href="{{ current_url }}" >
	{% endif %}
	<title>
		{% if title %}
			{{ title|striptags|strip_html_entities }} | Sefaria Source Sheet Builder
		{% else %}
			Sefaria Source Sheet Builder
		{% endif %}
	</title>

	<link rel="stylesheet" href="/static/js/jquery-ui/css/smoothness/jquery-ui-1.8.22.custom.css">
	<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/common.css">
	<link rel="stylesheet" href="/static/css/sheets.css">
	<link rel="stylesheet" href="/static/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="/static/css/sheets-print.css" media="print" />
	<script>{% include "js/analytics.js" %}</script>
</head>

<body {% if EMBED %}class="embeded"{% endif %} style="background-color:#eee;">

{% if not S2 %}
	{% include "header.html" %}
{% endif %}

<div id="link"></div>
<div id="error"></div>
<a href="/sheets" id="textTocLink">&laquo; Source Sheets</a>
<div id="controls">

	<div id="buttonBox">
		{% if can_edit or can_add %}
		<span id="addButton" class="circleButton"><span class="fa fa-plus"></span>
			
			<div class="optionsMenu">
				<div class="optionGroup">
					<div class="optionHeader"><i class='fa fa-plus'></i> Add</div>
				</div>
				<div class="line"></div>
				<div class="optionItem" id="addSource"><i class='fa fa-link'></i> Source</div>
   				{% if is_owner %}
                <div class="optionItem" id="addParashaToSheetModalTrigger"><i class='fa fa-book'></i> Parasha</div>
				{% endif %}
                <div class="optionItem" id="addBiOutside"><i class='fa fa-columns'></i> Outside Text (Bilingual)</div>
				<div class="optionItem" id="addOutside"><i class='fa fa-file-o'></i> Outside Text</div>
				<div class="optionItem" id="addComment"><i class='fa fa-comment'></i> Comment</div>
				<div class="optionItem" id="addMedia"><i class='fa fa-youtube-play'></i> Media</div>
            </div>
		</span>
		{% endif %}
		<span id="options" class="circleButton"><i class="fa fa-bars"></i>
			<div class="optionsMenu">
				<div class="optionGroup">
					<div class="optionHeader"><i class='fa fa-bars'></i> Options</div>
				</div>
				<div class="line"></div>

				{% if is_owner %}
				<div class="optionGroup">
					<div class="optionTitle" id="sharingModalTrigger"><i class="fa fa-share-alt"></i> Sharing </div>
				</div>
	    			{% if not sheet.assigner_id %}

                    <div class="optionGroup">
                        <div class="optionTitle" id="assignmentsModalTrigger"><i class="fa fa-edit"></i> Assignments</div>
                    </div>


    				{% endif %}

				{% endif %}

				{% if owner_groups %}
				<div class="optionGroup">
					<div class="optionTitle"><i class="fa fa-group"></i> Group <i class='fa fa-caret-right'></i></div>				
					<div class="subMenu">
						<div class="optionItem groupOption" data-group="None">
							<i class="fa fa-check"></i> <i>None</i></div>
						{% for group in owner_groups %}
						<div class="optionItem groupOption" data-group="{{ group.name }}" data-image="{{ group.headerUrl }}">
							<i class="fa fa-check hidden"></i> {{ group.name }}</div>
						{% endfor %}
					</div>
				</div>
				{% endif %}


				{% if can_edit %}
				<div class="line"></div>
				{% endif %}

				<div class="optionGroup">
					<div class="optionTitle"><i class="fa fa-cloud"></i> Divine Names <i class='fa fa-caret-right'></i></div>
					<div class="subMenu">
						<div class="optionItem divineNamesOption" id="noSub">
							<i class="fa fa-check"></i> <i>No substitution</i></div>
						<div class="optionItem divineNamesOption" id="yy">
							<i class="fa fa-check hidden"></i> יי</div>
						<div class="optionItem divineNamesOption" id="h">
							<i class="fa fa-check hidden"></i> <span style="direction: rtl;">ה'</span></div>
						<div class="optionItem divineNamesOption" id="ykvk">
							<i class="fa fa-check hidden"></i> יקוק</div>
					</div>
				</div>

				<div class="optionItem" id="numbered">
					<i class="fa fa-check hidden"></i> Number Sources</div>
				<div class="optionItem" id="boxed">
					<i class="fa fa-check hidden"></i> Box Sources</div>
				<div class="optionItem" id="bsd">
					<i class="fa fa-check hidden"></i> בס"ד</div>

				{% if not new_sheet %}
					<div class="line"></div>
					{% if user.email %}
					<div class="optionItem" id="copySheet">
						<i class="fa fa-copy"></i> Copy Sheet</div>
					{% endif %}
					{% if user.email %}
					<div class="optionItem" id="exportToDrive">
						<i class="fa fa-google"></i> Export to Google Drive</div>
					{% endif %}
					<div class="optionItem" id="embedSheet">
						<i class="fa fa-code"></i> Embed Sheet</div>
					{% if is_owner %}
					<div class="optionItem" id="deleteSheet">
						<i class="fa fa-trash-o"></i> Delete Sheet</div>
					{% endif %}

					{% if user.email %}
					<div class="line"></div>
					<div class="optionItem" id="editTags">
						<i class="fa fa-pencil"></i> Edit Sheet Tags</div>				
					{% endif %}
				{% endif %}

				<div class="line"></div>
				<div class="optionItem" id="visualize">
					<a href="/sheets/visual/{{sheet.id}}"><i class="fa fa-picture-o"></i>Visualize</a></div>

				<div class="line"></div>

				<div class="optionItem" id="print">
					<i class="fa fa-print"></i>Print</div>
			</div>

		</span>
	</div>


<div>
 <span id="lastSaved">
    {% if sheet.dateModified %}
                {% if can_edit or can_add %}
                    Last Saved: {{sheet.dateModified|date_string_to_date|naturaltime}}
                {% endif %}
    {% endif %}
 </span>
</div>

</div>

<div id="sheet" class="{{ sheet_class|default:'bilingual' }}">
	{% if new_sheet %}
	<div id="fileControls">

        <div id="fileControlMsg">
            {% if not user.email %}
                Take a spin! But you'll need to <a href="/login?next=/sheets/new">login</a> or <a href="/register?next=/sheets/new">register</a> to save your work.
            {% else %}
                Add a source, a comment, or some other media using the buttons above.

            {% endif %}
        </div>
        <span id="save" class="btn btn-large btn-success">Save</span>
	</div>
	{% endif %}

	<div id="bsdHeader">בס"ד</div>
	<div id="sheetHeader" {% if sheet_group == None %}style="display:none"{% endif %}>
		{% if sheet_group %}
		<a href="/groups/{{ sheet_group.name|url_safe }}">
			<img id="groupLogo" src="{{ sheet_group.headerUrl }}" alt="Logo for {{ sheet_group.name }}"/>
		</a>
		{% else %}
			<img id="groupLogo" style="display:none;" />
		{% endif %}
	</div>
	<div id="title">
		{% autoescape off %}
		{{ title|default:"<i>Loading...</i>" }}
		{% endautoescape %}
	</div>
	{% if sheet.attribution %}
	<div id="author">
		{% autoescape off %}
			{{ sheet.attribution }}
		{% endautoescape %}
	</div>
	{% elif assigner_id %}
	<div id="author">
		<div id="assignmentAttribution">Assignment by {{ assigner_id|user_link }}</div>
		{% if author %}
		Completed by {{ sheet.owner|user_link }}
		{% endif %}
    </div>
	{% elif sheet.assigner_id %}
	<div id="author">
		<div id="assignmentAttribution">Assignment by {{ sheet.assigner_id|user_link }}</div>
		{% if author %}
		Completed by {{ sheet.owner|user_link }}
    </div>
		{% endif %}

	{% elif author %}
	<div id="author">
		Source Sheet by {{ sheet.owner|user_link }}
		{% if sheet.via %}
		<div id="via">Based on <a href="/sheets/{{ sheet.via }}">a sheet</a> by {{ sheet.viaOwner|user_link }}</div>
		{% endif %}
	</div>
	{% endif %}
	{% if not new_sheet %}
	<div id="likes">
		<span id="likeInfoBox" {% if like_count == 0%}style="display:none"{% endif %}>
			<span id="likeInfo">
				<span id="likeCount">{{ like_count }}</span>
				like<span id="likePlural" {% if like_count == 1%}style="display:none"{% endif %}>s</span></span>
			 ·
		</span>
		{% if viewer_is_liker %}
			<a href="#" id="likeLink" class="liked">Unlike</a>
		{% else %}
			<a href="#" id="likeLink">Like</a>
		{% endif %}
	</div>
	{% endif %}

	<ol id="sources">
		{% include "sheet.html" with sources=sheet.sources %}
	</ol>
	<div id="sheetLoading" style="display:none">Loading...</div>

	{% if new_sheet and not hide_video %}
	<div id="empty" class="well">

		<div class="fa fa-times remove"></div>
		<iframe width="560" height="336" src="https://www.youtube.com/embed/iac0GoaH2lY?rel=0" frameborder="0" allowfullscreen></iframe>

		<h3>Watch a 3 minute intro video or <a id="readmore">read more</a>.</h3>
		<div id="howItWorks">
		<h1>Source Sheet Builder: How it Works</h1>
		<ul>
			<li><b>Add Sources</b> by typing a citation like:
			 <div id="cite"><i>Genesis 4:5-8</i>, <i>Mishnah Peah 2:6</i>, <i>Berakhot 2a:4-7</i>, <i>Bereishit Rabbah 1:4</i>.</div>
			</li>
			<li><b>Reorder Sources</b> by dragging and dropping.</li>
			<li><b>Print</b> your sheets to paper or PDF, or just <b>Share</b> the link.</li>
			<li><b>More Options</b> are available in the icons that appear when you hover over a source.</li>
		</ul>
		</div>
		{% if not user.email %}
			<center id="loginWarning">Take a spin! But you'll need to <a href="/login?next=/sheets/new">login</a> or <a href="/register?next=/sheets/new">register</a> to save your work.</center>
		{% endif %}
	</div>
	{% endif %}

	<div id="printFooter">
		<img src="/static/img/fb-og-image.png" alt="Facebook Icon">
		<div>
			Made with the Sefaria Source Sheet Builder<br>
			www.sefaria.org/sheets
		</div>
	</div>


</div>

{% if author %}
<div id="bottomAuthor">
	Source Sheet created on Sefaria by {{ sheet.owner|user_link }}
	{% if sheet.via %}
	<div id="bottomVia">Based on <a href="/sheets/{{ sheet.via }}">a sheet</a> by {{ sheet.viaOwner|user_link }}</div>
	{% endif %}
</div>
{% endif %}

<div id="belowSheet"></div>


<div id="addSourceModal" class="modal">
			<div id="closeAddSource" class="icon-remove"></div>
			<div id="addDialogTitle" class="dialogTitle">Enter a text or commentator name:</div>
			<input id="add" />
			<div id="addEg">e.g., Mishnah Peah 3:4, Psalms 4:12-15, Rashi on Genesis 1:1</div>
			<div id="addOr">- or -</div>
			<div id="addBrowseBox">
				<div id="addBrowse" class='btn btn-primary'>Browse Sources</div>
			</div>
</div>

<div id="addMediaModal" class="modal">
			<div class="header">Enter the URL of your image, YouTube video, or mp3 file:</div>
			<input id="addMediaInput" placeholder="http://" />
			<div id="mediaPreview"></div>
			<div class='btn btn-primary ok'>Add</div>
</div>


<div id="assignmentsModal" class="modal">

        <div class="header">
            <h3>Assignments:</h3>
            Assignments allow you to create a template that your students can fill out on their own.
        </div>
        <div class='btn btn-success' id="makeSheetAssignableButton">Make this sheet assignable</div>
        <div class='btn btn-danger' id="StopCollectingAssignmentsButton">Stop Collecting Assignments</div>
        <br/>
                    <div id="assignedSheets">
                            <div id="assignedSheetsShareURL">
                                <div class="line"></div>
                                Students can complete their assignment at this link:<br/>
                                <input id="assignmentURLLink" value="{{ request.META.HTTP_HOST }}/sheets/new?assignment={{sheet.id}}" />
                            </div>
                                <div class="line"></div>

                                <strong>Saved Assignments:</strong>
        						{% for assignment_sheet in assignments_from_sheet %}
                                <div class="optionLink" ><a href="./{{ assignment_sheet.id }}" target="_blank">{{ assignment_sheet.owner|user_name }}</a></div>

                                {% empty %}
                                    <br/><em>Your student's saved assignments will be viewable here.</em>
                                {% endfor %}
                    </div>
        <div class='btn btn-primary ok'>Ok</div>

</div>




<div id="sharingModal" class="modal">
	<div class="header">Sharing & Collaboration</div>
	
	<div class="radio">
	  <label>
		<input type="radio" name="sharingOptions" id="sharePrivate" value="private">
		<span class="iconHolder"><i class="fa fa-user fa-2x fa-pull-left"></i></span>
		<span class="sharingLabel">Private</span> 
		<span class="sharingDesc">Only people with the direct link can view the source sheet.</span>
	  </label>
	</div>

	
	<div class="radio groupSharing">
	  <label>
		<input type="radio" name="sharingOptions" id="shareGroup" value="group">
		<span class="iconHolder"><i class="fa fa-group fa-2x fa-pull-left"></i></span>
		<span class="sharingLabel">Listed for Group Members</span> 
		<span class="sharingDesc">Anyone in <span class="groupName">your group</span> can find and view your source sheet.</span>
	  </label>
	</div>


	<div class="radio">
	  <label>
		<input type="radio" name="sharingOptions" id="sharePublic" value="public">
		<span class="iconHolder"><i class="fa fa-globe fa-2x fa-pull-left"></i></span>
		<span class="sharingLabel">Listed for Sefaria Users</span> 
		<span class="sharingDesc">Anyone browsing Sefaria can find and view your source sheet.</span>
	  </label>
	</div>
	
	<div class="radio groupSharing">
	  <label>
		<input type="radio" name="sharingOptions" id="shareGroupAdd" value="groupAdd">
		<span class="iconHolder"><i class="fa fa-group fa-2x fa-pull-left"></i> <i class="fa fa-plus-circle fa-pull-left fa-onTop"></i></span>
		<span class="sharingLabel">Group Members can Add</span> 
		<span class="sharingDesc">Anyone in <span class="groupName">your group</span> can find and view and add sources & comments to your sheet.</span>
	  </label>
	</div>
	
	<div class="radio">
	  <label>
		<input type="radio" name="sharingOptions" id="sharePublicAdd" value="publicAdd">
		<span class="iconHolder"><i class="fa fa-globe fa-2x fa-pull-left"></i> <i class="fa fa-plus-circle fa-pull-left fa-onTop"></i></span>
		<span class="sharingLabel">Anyone can Add</span> 
		<span class="sharingDesc">Anyone browsing Sefaria can find and view and add sources & comments to your sheet.</span>
	  </label>
	</div>

	<div class="radio individualSharing">
	  <label>
		<input type="radio" name="sharingOptions" id="sharePrivateAdd" value="privateAdd">
		<span class="iconHolder"><i class="fa fa-link fa-2x fa-pull-left"></i> <i class="fa fa-plus-circle fa-pull-left fa-onTop"></i></span>
		<span class="sharingLabel">Anyone can Add - Unlisted</span> 
		<span class="sharingDesc">Anyone with the link to your sheet can view and add sources & comments.</span>
	  </label>
	</div>

	<div class="radio groupSharing">
	  <label>
		<input type="radio" name="sharingOptions" id="shareGroupEdit" value="groupEdit">
		<span class="iconHolder"><i class="fa fa-group fa-2x fa-pull-left"></i> <i class="fa fa-pencil fa-pull-left fa-onTop"></i></span>
		<span class="sharingLabel">Group Members can Edit</span> 
		<span class="sharingDesc">Anyone in <span class="groupName">your group</span> can make any change to your source sheet.</span>
	  </label>
	</div>

	<div class="radio">
	  <label>
		<input type="radio" name="sharingOptions" id="sharePublicEdit" value="publicEdit">
		<span class="iconHolder"><i class="fa fa-globe fa-2x fa-pull-left"></i> <i class="fa fa-pencil fa-pull-left fa-onTop"></i></span>
		<span class="sharingLabel">Anyone can Edit</span> 
		<span class="sharingDesc">Anyone browsing Sefaria can make any change to your source sheet.</span>
	  </label>
	</div>

	<div class="radio individualSharing">
	  <label>
		<input type="radio" name="sharingOptions" id="sharePrivateEdit" value="privateEdit">
		<span class="iconHolder"><i class="fa fa-link fa-2x fa-pull-left"></i> <i class="fa fa-pencil fa-pull-left fa-onTop"></i></span>
		<span class="sharingLabel">Anyone can Edit - Unlisted</span> 
		<span class="sharingDesc">Anyone with the link to your sheet can make any change. The sheet will not be publicly listed.</span>
	  </label>
	</div>
	
	
	<div class="btn ok">Save</div>
</div>


<div id="addToSheetModal" class="modal">
	<div class="header">Add <span class="sourceName"></span> to a Source Sheet</div>
	<ul id="sheetList">
	</ul>
	<div class="actions">
		<div class="btn ok">Add</div>
		<div class="btn cancel">Cancel</div>
	</div>
</div>

<div id="embedSheetModal" class="gradient modal">
	<div class="header">Copy and paste the embed code below:</div>
	<textarea><iframe src="{{ request.build_absolute_uri }}?embed=1" width="600px" height="600px"></iframe></textarea>
	<div class="sub">Adjust the values of width and height to best fit your design.</div>
	<div class="btn ok">OK</div>
</div>

<div id="addParashaToSheetModal" class="modal">
	<div class="header">Add a Parasha to a Source Sheet</div>
        <ol>
            <li class="parshahToAdd">Bereshit</li>
            <li class="parshahToAdd">Noach</li>
            <li class="parshahToAdd">Lech-Lecha</li>
            <li class="parshahToAdd">Vayera</li>
            <li class="parshahToAdd">Chayei Sara</li>
            <li class="parshahToAdd">Toldot</li>
            <li class="parshahToAdd">Vayetzei</li>
            <li class="parshahToAdd">Vayishlach</li>
            <li class="parshahToAdd">Vayeshev</li>
            <li class="parshahToAdd">Miketz</li>
            <li class="parshahToAdd">Vayigash</li>
            <li class="parshahToAdd">Vayechi</li>
            <li class="parshahToAdd">Shemot</li>
            <li class="parshahToAdd">Vaera</li>
            <li class="parshahToAdd">Bo</li>
            <li class="parshahToAdd">Beshalach</li>
            <li class="parshahToAdd">Yitro</li>
            <li class="parshahToAdd">Mishpatim</li>
            <li class="parshahToAdd">Terumah</li>
            <li class="parshahToAdd">Tetzaveh</li>
            <li class="parshahToAdd">Ki Tisa</li>
            <li class="parshahToAdd">Vayakhel</li>
            <li class="parshahToAdd">Pekudei</li>
            <li class="parshahToAdd">Vayikra</li>
            <li class="parshahToAdd">Tzav</li>
            <li class="parshahToAdd">Shmini</li>
            <li class="parshahToAdd">Tazria</li>
            <li class="parshahToAdd">Metzora</li>
            <li class="parshahToAdd">Achrei Mot</li>
            <li class="parshahToAdd">Kedoshim</li>
            <li class="parshahToAdd">Emor</li>
            <li class="parshahToAdd">Behar</li>
            <li class="parshahToAdd">Bechukotai</li>
            <li class="parshahToAdd">Bamidbar</li>
            <li class="parshahToAdd">Nasso</li>
            <li class="parshahToAdd">Beha'alotcha</li>
            <li class="parshahToAdd">Sh'lach</li>
            <li class="parshahToAdd">Korach</li>
            <li class="parshahToAdd">Chukat</li>
            <li class="parshahToAdd">Balak</li>
            <li class="parshahToAdd">Pinchas</li>
            <li class="parshahToAdd">Matot</li>
            <li class="parshahToAdd">Masei</li>
            <li class="parshahToAdd">Devarim</li>
            <li class="parshahToAdd">Vaetchanan</li>
            <li class="parshahToAdd">Eikev</li>
            <li class="parshahToAdd">Re'eh</li>
            <li class="parshahToAdd">Shoftim</li>
            <li class="parshahToAdd">Ki Teitzei</li>
            <li class="parshahToAdd">Ki Tavo</li>
            <li class="parshahToAdd">Nitzavim</li>
            <li class="parshahToAdd">Vayeilech</li>
            <li class="parshahToAdd">Ha'Azinu</li>
            <li class="parshahToAdd">V'Zot HaBerachah</li>
        </ol>
	<div class="actions">
		<div class="btn cancel">Cancel</div>
	</div>
</div>


<div id="overrideLayoutModal" class="modal">
	<div class="header">Change this source's layout:</div>

		<span id="biLayoutToggleSource" class="toggle"><span id="hebLeftSource" class="toggleOption"><img src="/static/img/backs.png"></span><span id="hebRightSource" class="toggleOption"><img src="/static/img/faces.png"></span></span>
		
		<span id="sheetLayoutToggleSource" class="toggle"><span id="sideBySideSource" class="toggleOption"><img src="/static/img/sideBySide.png"></span><span id="stackedSource" class="toggleOption"><img src="/static/img/stacked.png"></span></span>

		<span id="languageToggleSource" class="toggle"><span id="englishSource" class="toggleOption"><img src="/static/img/english.png"></span><span id="bilingualSource" class="toggleOption"><img src="/static/img/bilingual.png"></span><span id="hebrewSource" class="toggleOption"><img src="/static/img/hebrew.png"></span></span>
	<br/>

	<div class="btn ok">OK</div>
	<h6 id="resetToDefaults"><small>Reset to sheet defaults</small></h6>


</div>


<div id="publishPromptModal" class="modal">
	<div id="prompt">
		<div class="header">Would you like to make your Source Sheet public?</div>
		
		<p>Your Source Sheet is looking great! You can share it with other members of the Sefaria Community by making it public.</p>

		<div class="btn btn-primary publish">Make Public</div>
		<div class="btn later">Maybe Later</div>
	</div>
	<div id="published" style="display:none;">
		<div class="header">Your Sheet is now Public!</div>
		
		<p>Thank you for contributing to a free, growing resource for Jewish learning.</p>

		<div class="btn ok">OK</div>
	</div>
	<div id="notPublished" style="display:none;">
		<div class="header">No problem, this sheet is still private.</div>
		
		<p>You can make your sheet public in the future from the <span class="label">Share</span> menu.</p>
git 
		<div class="btn ok">OK</div>
	</div>
</div>

{% include "elements/login_prompt.html" with msg="To save, copy, or like, please log in." %}

<!--
Footer depends on full bootstrap grid, which isn't loaded in sheets.html
{% include "elements/footer.html" %}
-->

{% include "js/jquery.html" %}
<script>{% include "js/django-csrf.js" %}</script>
<script type="text/javascript" src="/static/js/jquery.scrollTo-1.4.2-min.js"></script>
<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/static/js/jquery-tooltip/jquery.tooltip.js"></script>
<script src="/static/js/jquery.tag-it.min.js"></script>
<script src="/static/js/jquery.tooltipster.min.js"></script>


{% include "js/headers.js" %}

<script type="text/javascript">
{% autoescape off %}
	var sjs = sjs || {};
	
	$.extend(sjs, {
		cache: {},
		current: {{ sheetJSON|default:"null" }},
		assignment_id: {{ assignment_id|default:"null" }},
		assigner_id: {{ assigner_id|default:"null" }},
		can_edit: {% if can_edit %}true{% else %}false{% endif %},
        can_add: {% if can_add %}true{% else %}false{% endif %},
		is_owner: {% if is_owner %}true{% else %}false{% endif %},
		editing: {},
		ref: {},
		loading: 0,
		autosave: false,
		changes: false,
		{% if user.id %}
		_fullname: "{{ user.first_name }} {{ user.last_name }}",
		_userLink: "{{ user.id|user_link }}"
		{% endif %}
	});
{% endautoescape %}
</script>
{% if can_edit or can_add %}
<script src="/static/ckeditor/ckeditor.js"></script>
<script src="/static/ckeditor/adapters/jquery.js"></script>
{% endif %}
<script src="/static/js/util.js"></script>
<script src="/static/js/sheets.js"></script>
{% if S2 %}
    {% include "react_header_activate.html" %}
{% endif %}
<div id='inlineTextPreview'></div>

</body>
</html>