{% extends "base.html" %}
{% load i18n cache humanize sefaria_tags static%}

{% block title %}{% if title %}{{ title|striptags|strip_html_entities }} | {% trans "Visualized" %} | {% trans "Sefaria Source Sheet Builder" %}{% else %}{% trans "Start a New Sheet - Sefaria Source Sheet Builder" %}{% endif %}{% endblock %}

{% block description %}{% if sheet.owner %}{% blocktrans %}Visual layout of a source sheet by {{ sheet.owner|user_name }} created with Sefaria's Source Sheet Builder.{% endblocktrans %}{% else %}{% trans "Create your own source sheet with Sefaria's Source Sheet Builder." %}{% endif %}{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/tooltipster.css' %}" />
    {% if EMBED %}
        <link rel="canonical" href="{{ canonical_url }}">
    {% endif %}
{% endblock %}

{% block exclude_block_on_source_sheets %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}

	<link rel="stylesheet" href="{% static 'js/lib/jquery-ui/css/smoothness/jquery-ui-1.8.22.custom.css' %}">
	<link rel="stylesheet" href="{% static 'css/sheets.css' %}">
	<link rel="stylesheet" href="{% static 'css/sheets-print.css' %}" media="print" />
    <link rel="stylesheet" href="{% static 'css/sheets-visual.css' %}">



<div id="link"></div>
<div id="error"></div>
<a href="/sheets/{{sheet.id}}" id="textTocLink">
    <span class="int-en">&laquo; {% trans "Back to Sheet" %}</span>
    <span class="int-he">&laquo; בחזרה לדף המקורות </span>
</a>
<div id="controls">
	<div id="buttonBox">
		<span id="zoomOut" class="zoomButton"><span class="fa fa-search-minus"></span></span>
		<span id="zoomIn" class="zoomButton"><span class="fa fa-search-plus"></span></span>
	</div>
</div>

<div id="container">
	<ol id="sources">
		{% include "sheet.html" with sources=sheet.sources %}
	</ol>
</div>

{% endblock %}


{% block js  %}
<script src="{% static 'js/lib/jquery.ui.touch-punch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/jquery.scrollTo-1.4.2-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/jquery.easing.1.3.js' %}"></script>
<script type="text/javascript" src="{% static 'js/lib/jquery-tooltip/jquery.tooltip.js' %}"></script>
<script src="{% static 'js/lib/jquery.tag-it.min.js' %}"></script>
<script src="{% static 'js/s1/util.js' %}"></script>

{% include "js/headers.js" %}

<script type="text/javascript">
{% autoescape off %}
	var sjs = sjs || {};

	$.extend(sjs, {
		current: {{ sheetJSON|default:"null" }},
		assignment_id: {{ assignment_id|default:"null" }},
		assigner_id: {{ assigner_id|default:"null" }},
		can_edit: {% if can_edit %}true{% else %}false{% endif %},
        can_add: {% if can_add %}true{% else %}false{% endif %},
		is_owner: {% if is_owner %}true{% else %}false{% endif %},
		editing: {},
		ref: {},
		loading: 0,
		autosave: false,
		changes: false,
		{% if user.id %}
		_fullname: "{{ user.first_name }} {{ user.last_name }}",
		_userLink: "{{ user.id|user_link }}"
		{% endif %}
	});
{% endautoescape %}
</script>
{% if can_edit or can_add %}
<script src="{% static 'ckeditor/ckeditor.js' %}"></script>
<script src="{% static 'ckeditor/adapters/jquery.js' %}"></script>
{% endif %}
<script src="{% static 'js/sheets-visual.js' %}"></script>

{% endblock %}


