{% extends "base.html" %}

{% load sefaria_tags %}
{% load humanize %}

{% block title %}Sefaria Source Sheet Builder{% endblock %}

{% block content %}

	<div id="sheetsSplash" class="container">

		<div id="titleRow" class="row">
			<div class="span12">
				<h2>{% include "elements/samech.svg" %} Sefaria</h2>
				<h1>Source Sheets</h1>
				<div class="sub">Beautiful, interactive, bilingual source sheets, without the copy and paste.</div>
			</div>
		</div>

		{% if not request.user.is_authenticated %}
		<div class="row">
			<div id="videoRow" class="span5 offset1">
				<div id="videoBox">
					<div id="videoImgBox">
						<img id="videoImg" src="/static/img/sheet-medium.png" />
						<div id="videoButton">▶</div>
					</div>
				</div>
			</div>
			<div class="span5">
				<ul id="sheetsBites">
					<li>Create & collaborate on source sheets online.</li>
					<li>Give students one click access to a source's context and additional related texts.</li>
					<li>Easily share links to your sheet via email, Facebook of Twiiter or embed them in your blog.</li>
					<li>Print beautifully formatted pages or save to PDF.</li>

				</ul>
			</div>
		</div>
		{% endif %}

		<div class="row" id="startSheetRow">
			<div class="span12">
				<a href="/sheets/new">
					<div class="btn btn-large btn-primary">Start a Source Sheet</div>
				</a>
				{% if not request.user.is_authenticated %}
				<div>
					<a href="/login?after=/sheets">Login</a> to view your sheets.
				</div>
				{% endif %}
			</div>
		</div>

		{% if request.user.is_authenticated %}
			<div class="row">
				<div class="span12">
					<center>
						<h4/><a href="/sheets/private">Your Source Sheets</a></h4>
					</center>
					{% include "elements/sheet_tag_list.html" with tags=your_tags public=0 title="" %}
					{% if groups%}
					<div id="groups">
						Your Groups: 
						{% for group in groups %}
						<a class="groupLink" href="/partners/{{ group|url_safe }}">{{ group }}</a>
						{% endfor %}
					</div>
					{% endif %}

					{% include "elements/sheet_table.html" with sheets=your_sheets public=0 %}
					{% if collapse_private %}
						<a href="/sheets/private">All your sheets &raquo;</a>
					{% endif %}
				</div>
			</div>
		{% endif %}
		<br><br>

		<div class="row">
			<div class="span12">
				<center>
					<h4/><a href="/sheets/public">Public Source Sheets</a></h4>
				</center>
				{% include "elements/sheet_tag_list.html" with tags=public_tags public=1  title="Trending tags" %}
				{% include "elements/sheet_table.html" with sheets=public_sheets public=1 %}
				<a href="/sheets/public">All public sheets &raquo;</a>

			</div>
		</div>	
	</div>
	<div class="clear"></div>
{% endblock %}

{% block js %}
	<script>{% include "js/django-csrf.js" %}</script> 
	<script src="/static/js/jquery.tablesorter.js"></script>
	<script>
		$("img").error(function () { 
		    $(this).hide().after("<h1>"+$(this).attr("alt")+"</h1>");
		});
		$(function() {
			$(".sheetTable").tablesorter({
				 sortList: [[4,1],[3,0],[2,0]]
			});
			$("#videoImgBox").click(function() {
				sjs.help.open();
				sjs.help.openVideo("sheets");
				sjs.track.event("Sheets", "Sheet Video Start", "");
			});
			$(".moreSheets").click(function() {
				$(this).closest(".sheetTable").removeClass("collapsed");
				$(this).remove();
			});
		});
	</script>
	{% include "js/sheet_list_tags.html" %}
{% endblock %}