<!doctype html>
<html>
<head>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" /> 
	<title>
		{% if title %}
			{{ title|striptags }} | Sefaria Source Sheet Builder
		{% else %}
			Sefaria Source Sheet Builder
		{% endif %}
	</title>

	<link rel="stylesheet" href="/static/js/jquery-ui/css/smoothness/jquery-ui-1.8.22.custom.css">
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/common.css">
	<link rel="stylesheet" href="/static/css/sheets.css">
	<link rel="stylesheet" href="/static/font-awesome/css/font-awesome.css">
	<link rel="stylesheet" href="/static/css/sheets-print.css" media="print" />

	<script>{% include "js/analytics.js" %}</script>

</head>

<body>

{% include "header.html" %}

</div>
<div id="link"></div>
<div id="error"></div>
<div id="controls">
		{% if can_edit %}
		<span id="addButton" class="btn btn-primary btn-large"><span class="icon-plus"></span> Add
			<div class="optionsMenu">
				<div class="optionItem" id="addSource">Source</div>
				<div class="optionItem" id="addComment">Comment</div>
				<div class="optionItem" id="addOutside">Outside Text</div>
			</div>
		</span>
		{% endif %}
		<span id="open" class="btn btn-primary btn-large"><span class="icon-folder-open"></span> Open</span>
		<span id="options" class="btn btn-primary btn-large"><span class="icon-cog"></span> Options
			<div class="optionsMenu">
				
				<div class="optionTitle">Language</div>
				<div class="optionItem languageOption" id="bilingual">
					<span class="ui-icon ui-icon-check"></span> Bilingual</div>
				<div class="optionItem languageOption" id="hebrew">
					<span class="ui-icon ui-icon-check hidden"></span> Hebrew</div>
				<div class="optionItem languageOption" id="english">
					<span class="ui-icon ui-icon-check hidden"></span> English</div>
			
				<div class="line"></div>
				<div class="optionTitle">Layout</div>
				<div class="optionItem layoutOption" id="sideBySide">
					<span class="ui-icon ui-icon-check"></span> Side by Side</div>
				<div class="optionItem layoutOption" id="stacked">
					<span class="ui-icon ui-icon-check hidden"></span> Stacked</div>

				{% if can_edit and not topic %}
				<div class="line"></div>
				<div class="optionTitle">Sharing</div>
				<div class="optionItem sharingOption" id="private">
					<span class="ui-icon ui-icon-check {% if not new_sheet %}hidden{% endif %}"></span> Private</div>
				<div class="optionItem sharingOption" id="public">
					<span class="ui-icon ui-icon-check hidden"></span> Public</div>
				{% endif %}
				{% for group in owner_groups %}
				<div class="optionItem sharingOption groupOption" data-group="{{ group }}">
					<span class="ui-icon ui-icon-check hidden"></span> {{ group }}</div>
				{% endfor %}
				{% if sheet_group in viewer_groups and sheet.owner != user.id  %}
				<div class="optionItem sharingOption groupOption" data-group="{{ sheet_group }}">
					<span class="ui-icon ui-icon-check "></span> {{ sheet_group }}</div>
				{% endif %}

				<div class="line"></div>
				<div class="optionItem" id="numbered">
					<span class="ui-icon ui-icon-check hidden"></span> Number Sources</div>

				<div class="line"></div>
				<div class="optionItem" id="print">
					<span class="ui-icon ui-icon-print"></span> Print</div>
			</div>
		</span>
		{% for group in viewer_groups %}
		<div class="groupLink">
			<a href="/partners/{{ group }}">{{ group }}</a>
		</div>
	{% endfor %}
</div>

<div id="sheet" class="bilingual">
	<div id="fileControls">
		{% if new_sheet %}
		<span id="save" class="btn">Save</span>
		{% endif %}
	</div>
	<div id="sheetHeader" {% if not sheet_group %}style="display:none"{% endif %}>
		{% if sheet_group %}
		<img id="partnerLogo" src="/static/partner/{{ sheet_group }}.png" />
		{% else %}
		<img id="partnerLogo" />
		{% endif %}
	</div>
	<div id="title">
		{% autoescape off %}
		{{ title|default:"<i>Loading...</i>" }}
		{% endautoescape %}
	</div>
	<div id="addSourceModal" class="gradient">
				<div id="closeAddSource" class="icon-remove"></div>
				<div id="addDialogTitle" class="dialogTitle">Enter a text or commentator name:</div>
					<input id="add" />
					<div id="addEg">e.g., Proverbs 3:4, Psalms 4:12-15, Leviticus 6:23-25</div>
	</div>
	<ol id="sources"></ol>
	<div id="sheetLoading" style="display:none">Loading...</div>
	<div id="empty" class="well">
		
		<div class="icon-remove"></div>
		<iframe width="560" height="315" src="http://www.youtube.com/embed/upvq_OPZkzU?rel=0" frameborder="0" allowfullscreen></iframe>

		<h3>Watch a 3 minute intro video or <a id="readmore">read more</a>.</h3>
		<div id="howItWorks">
		<h1>Source Sheet Builder: How it Works</h1>
		<ul>
			<li><b>Add Sources</b> by typing a citation like:
			 <div id="cite"><i>Genesis 4:5-8</i>, <i>Mishna Peah 2:6</i>, <i>Berakhot 2a:4-7</i>, <i>Bereishit Rabbah 1:4</i>.</div>
			</li>
			<li><b>Reorder Sources</b> by dragging and dropping their titles.</li>
			<li><b>Print</b> your sheets to paper or PDF, or just <b>Share</b> the link.</li>
			<li><b>More Options</b> are available in the <span class="controls"><span class="ui-icon ui-icon-triangle-1-s"></span></span> menu on each source.</li>
		</ul>
		</div>
		{% if not user.email %}
			<center id="loginWarning">Take a spin! But you'll need to <a href="/login?next=/sheets">login</a> or <a href="/register?next=/sheets">register</a> to save your work.<center>
		{% endif %}
	</div>
	{% if author %}
		{% if topic or sheet_group %}
		<div id="author">Topic suggested by {{ author }}</div>
		{% else %}
		<div id="author">Source Sheet prepared by {{ author }}</div>
		{% endif %}
	{% endif %}
</div>

<div id="belowSheet"></div>

<div id="openModal" class="gradient">
	<div class="header">Open a Source Sheet:</div>
	<div id="sheetsTabs">
		<ul>
			<li><a href="#privateSheets">Your Sheets</a></li>
			<li><a href="#sheets">Public Sheets</a></li>
		</ul>
		<div id="privateSheets">
			{% if user.email %}
				Loading sheet list...
			{% else %}
				<center><a class="login" href="/login?next=/sheets">Login</a> to view your sourcesheets.</center>
			{% endif %}
		</div>
		<div id="sheets"></div>
	</div>
	<div class="btn btn-primary"><a href="/sheets">Start a New Sheet</a></div>
	<div id="closeOpen" class="btn">Cancel</div>
</div>

<div id="overlay"></div>

{% include "elements/login_prompt.html" with msg="Please log in to save or copy." %}

<div id="addToSheetModal" class="gradient modal">
	<div class="header">Add <span class="sourceName"></span> to a Source Sheet</div>
	<ul id="sheetList">
	</ul>
	<div class="actions">
		<div class="btn ok">Add</div>
		<div class="btn cancel">Cancel</div>
	</div>
</div>

<div id="demoWarning">
	<div class="content">This is an early demo. <a href="https://groups.google.com/forum/?fromgroups#!forum/sefaria" target="_blank">Send us Feedback</a></div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>
<script>{% include "js/django-csrf.js" %}</script>
<script type="text/javascript" src="/static/js/jquery.scrollTo-1.4.2-min.js"></script>
<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/static/js/jquery.ba-hashchange.js"></script>
<script type="text/javascript" src="/static/js/jquery-tooltip/jquery.tooltip.js"></script>
<script src="/static/js/jquery.elastic.source.js"></script>
<script src="/static/js/hallo.js"></script>
{% include "js/headers.js" %}
<script type="text/javascript">
{% autoescape off %}
	var sjs = sjs || {};
	
	$.extend(sjs, {
		cache: {},
		current: {{ sheetJSON|default:"null" }},
		can_edit: {% if can_edit %}true{% else %}false{% endif %},
		editing: {},
		ref: {},
		loading: 0,
		autosave: false,
		changes: false,
		{% if user.id %}
		_fullname: "{{ user.first_name }} {{ user.last_name }}",
		_uid: {{ user.id }}
		{% endif %}
	});
{% endautoescape %}
</script>
<script src="/static/js/util.js"></script>
<script src="/static/js/sheets.js"></script>
</body>
</html>