<!DOCTYPE html>
<html>

<head>
	
	<title>Sefaria Source Sheet Builder</title>

	<link rel="stylesheet" href="/static/js/jquery-ui/css/black-tie/jquery-ui-1.8.7.custom.css">
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/sheets.css">

	<script>{% include "js/analytics.js" %}</script>

</head>

<body>
<div id="top" class="gradient black">
	<div id="logo"><a href="/">Sefaria</a></div>
	<div id="fileControls">
		{% if can_edit %}
		<span id="save" class="btn btn-">Save</span>
		{% endif %}
		<span id="open" class="btn btn-">Open</span>
		{% if user.email %}
			{% include "elements/accountBox.html" %}
		{% else %}
		<a class="accountLink" href="/login?next={{ current_url }}">Login</a> | <a href="/register?next={{ current_url }}" class="accountLink" >Sign Up</a>
		{% endif %}
	</div>

</div>
<div id="link"></div>
<div id="error"></div>
<div id="sheet" class="english">
	<div id="title"></div>
	<div id="controls">
		<span id="options" class="btn">Options<span class="ui-icon ui-icon-triangle-1-s"></span>
			<div class="optionsMenu">
				<div class="optionItem" id="numbered"><span class="ui-icon ui-icon-check hidden"></span> Number Sources</div>
				<div class="optionItem languageOption" id="english"><span class="ui-icon ui-icon-check"></span> English</div>
				<div class="optionItem languageOption" id="hebrew"><span class="ui-icon ui-icon-check hidden"></span> Hebrew</div>
				<div class="optionItem languageOption" id="bilingual"><span class="ui-icon ui-icon-check hidden"></span> Both</div>

			</div>
		</span>
		{% if can_edit %}
		<span id="addButton" class="btn">Add<span class="ui-icon ui-icon-triangle-1-s"></span>
			<div class="optionsMenu">
				<div class="optionItem" id="addSource">Source</div>
				<div class="optionItem" id="addComment">Comment</div>

			</div>
		</span>
		{% endif %}
	</div>
	<div id="addSourceModal" class="gradient">
				<div id="closeAddSource" class="textIcon">X</div>
				<div class="dialogTitle">Type a book, chapter and verse:</div>
					<input id="add" />
					<div id="addEg">e.g., Proverbs 3:4, Psalms 4:12-15, Leviticus 6:23-7:2</div>
	</div>
	<ol id="sources"></ol>
	<div id="sheetLoading" style="display:none">Loading...</div>
	<div id="empty" class="well">
		<h1>Source Sheet Builder: How it Works</h1>
		<ul>
			<li><b>Add Sources</b> by typing a citation like:
			 <div id="cite"><i>Genesis 4:5-8</i>, <i>Mishna Peah 2:6</i>, <i>Berakhot 2a:4-7</i>, <i>Bereishit Rabbah 1:4</i>.</div>
			</li>
			<li><b>Reorder Sources</b> by dragging and dropping their titles.</li>
			<li><b>More Options</b> are availalbe in the <span class="controls"><span class="ui-icon ui-icon-triangle-1-s"></span></span> menu on each source.</li>
			<li><b>Print</b> your sheets to paper or PDF, or just <b>Share</b> the link.</li>
		</ul>
	</div>
</div>
<div id="openModal" class="gradient">
<div class="header">Open a Source Sheet:</div>
	{% if user.email %}
		<div id="privateSheets">Loading sheet list...</div>
	{% else %}
		<a href="/login?next=/sheets">Login</a> to view your sourcesheets.
	{% endif %}
	<p>Public Source Sheets:</p>
	<div id="sheets"></div>
	<div class="btn"><a href="/sheets">Start a new Sheet</a></div>
	<div id="closeOpen" class="btn">Cancel</div>
</div>

<div id="underlay"></div>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>

<script type="text/javascript" src="/static/js/jquery.scrollTo-1.4.2-min.js"></script>
<script type="text/javascript" src="/static/js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="/static/js/jquery.ba-hashchange.js"></script>
<script type="text/javascript" src="/static/js/jquery-tooltip/jquery.tooltip.js"></script>
<script type="text/javascript">

{% autoescape off %}
	sjs = {
		books: [],
		cache: {},
		current: {{ sheetJSON|default:"null" }},
		can_edit: {% if can_edit %}true{% else %}false{% endif %},
		loading: 0,
		autosave: false,
		changes: false
	}
{% endautoescape %}
	

	//---------------------- Event Handlers ---------------------

	$(function() {
		
		if (sjs.current) {
			buildSheet(sjs.current)
		} else {
			$("#title").html("New Source Sheet <span class='titleSub'>click to add a title</span>")
		}
		
		window.onbeforeunload = function() { 
			if (sjs.changes) {
				return "There are unsaved changes to your Source Sheet."
			}	
		}
		
		// ------------- Top Controls -------------------
		
		$("#addSource").click(function() { 
			$("#addSourceModal").data("target", $("#sources")).show(); 
			$("#add").focus() 
		})
		
		$("#addComment").click(function() {
			$("#sources").append("<div class='comment'></div>")
			$(".comment").last().trigger("click")
		})
		
		$("#closeAddSource").click(function() { $("#addSourceModal").hide(); $("#error").empty() })
		$.getJSON("/index/titles/", function(data) {
			sjs.books = data.books;
			$("#add").autocomplete({ source: sjs.books });
		})


		$("#add").keypress(function(e) {
			if (e.keyCode == 13) {
				var q = parseQuery($("#add").val())
				addSource(q, true);	
			}					
		})
		$(".optionItem").click(function() {
			$("#sheet").toggleClass($(this).attr("id"))
			$("span", $(this)).toggleClass("hidden")
		})
		
		$(".languageOption").unbind("click")
		$(".languageOption").click(function() {
			$(".languageOption").each(function() {
				$("#sheet").removeClass($(this).attr("id"))
				$("span", $(this)).addClass("hidden")
			})
			
			$("#sheet").addClass($(this).attr("id"))
			$("span", $(this)).removeClass("hidden")
		})
			
		$("#title").live("click", clickEdit)

		
		// ------------- Source Controls -------------------
			
		$(".comment").live("click", clickEdit)
		$("#sources").sortable({handle: ".title"})
		$(".subsources").sortable({handle: ".title"})
		$(".customTitle").live("click", clickEdit)

		$(".editTitle").live("click", function() {
			$(".customTitle", $(this).closest(".source")).eq(0).show().trigger("click")
				.next().addClass("hasCustom")
		})
		
		$(".removeSource").live("click", function() { if (confirm("Are you sure you want to remove this source?")) {
			$(this).closest(".source").remove()
			}
		 })
		 
		$(".addSub").live("click", function() { 
			$("#addSourceModal").data("target", $(".subsources", $(this).closest(".source")).eq(0))
				.show(); 
			$("#add").focus() 
		})
		$(".addSubComment").live("click", function() {
			$(".subsources", $(this).closest(".source")).eq(0).append("<div class='comment'></div>")
			$(".comment", $(this).closest(".source")).last().trigger("click")
		})
		
		
		// ------------- Open Sheet -------------------
		 
		$("#open").click(function() {
			$("#openModal").show().position({of: $(window)})
			$("#underlay").show();
		});
		$("#closeOpen").click(function() {
			$("#openModal").hide()
			$("#underlay").hide();
		});		
		
		// ------------- New Sheet -------------------

		
		$("#new").click(function() {
			window.location = "http://www.sefaria.org/sheets/"
		})
		
		// ---------- Save Sheet --------------
		
		$("#save").click(handleSave)

		
		// ------------- Open Passage -------------------

		
		$(".openPassage").live("click", function() {
			var ref = $(this).closest(".source").attr("data-ref")
			window.location = "http://www.sefaria.org/" + ref
		})
		
		// ------------- See Context -------------------
		
		$(".seeContext").live("click", function() {
			var ref = $(this).closest(".source").attr("data-ref")
			var chapter = sjs.cache[ref]
			var $text = $(".text", $(this).closest(".source")).eq(0)
			
			$text.empty().addClass("open")
			
			for ( var i = 0; i < chapter.text.length; i++ ) {
				var classStr = "verse"
				if (chapter.verse <= i+1 && i+1 <= chapter.toVerse) {
					classStr += " highlight"
				}
				$text.append("<span class='" + classStr + "'>" + chapter.text[i] + "  </span>")
			}
			
			$text.scrollTop($(".highlight").eq(0).position().top - 47)
			
			$(this).text("Hide Context")
				.removeClass("seeContext").addClass("hideContext")

		})
		
		$(".hideContext").live("click", function() {
			var ref = $(this).closest(".source").attr("data-ref")
			var chapter = sjs.cache[ref]
			var $text = $(".text", $(this).closest(".source")).eq(0)
			
			$text.empty().removeClass("open")
			
			for ( var i = chapter.verse-1; i < chapter.toVerse; i++ ) {
				var classStr = "verse"

				$text.append("<span class='" + classStr + "'>" + chapter.text[i] + "  </span>")
			}
			
			$(this).text("Show Context")
				.removeClass("hideContext").addClass("seeContext")

		})
		
		
		 // Preload list of Public sheets
		 $.get("/api/sheets/", function(data) {
		 	if (data.error) {
		 		alert(data.error)
		 		return
		 	} else if (data.sheets) {
		 		$("#sheets").empty();
			 	for (var i = 0; i < data.sheets.length; i++) {
			 		$("#sheets").append("<a class='sheetLink' href='/sheets/" + data.sheets[i].id + "'>" + data.sheets[i].title + "</a>")
			 	}	
		 	}	 
		 })
		 // Preload list of private sheets
		 $.get("/api/sheets/user/{{ user.id }}", function(data) {
		 	if (data.error) {
		 		alert(data.error)
		 		return
		 	} else if (data.sheets && data.sheets.length) {
		 		$("#privateSheets").empty();
			 	for (var i = 0; i < data.sheets.length; i++) {
			 		$("#privateSheets").append("<a class='sheetLink' href='/sheets/" + data.sheets[i].id + "'>" + data.sheets[i].title + "</a>")
			 	}	
		 	} else {
		 		$("#privateSheets").html("<i>You have no saved sheets.</i>");
		 	}
		 })

	})
	
	function parseQuery(q) {
		var response = {book: false, chapter: false, verse: false, to: false, toChapter: false, toVerse: false}
		
		var q = q.replace(/[.:]/g, " ")
		var toSplit = q.split("-")
		var p = toSplit[0].split(" ")
		
		for (i = 0; i < p.length; i++) {
			if (parseInt(p[i])) {
				boundary = i;
				break
			}
		}
		
		words = p.slice(0,i)
		nums = p.slice(i)
		
		response.book = words.join("_")

		if (nums.length) response.chapter = nums[0]
		if (nums.length > 1) response.verse = nums[1]
		
		if (toSplit.length == 2) {
			var cv = toSplit[1].split(" ")
			if (cv.length == 2) {
				response.toChapter = cv[0]
				response.toVerse = cv[1]
			} else if (cv.length == 1) {
				response.toVerse = cv[0]
				response.toChaptere = response.chapter
			}
		}
		
		return response;
	}


	function addSource(q, saveAfter) {
		
		var $listTarget = $("#addSourceModal").data("target")
	
		// TODO replace with makeRef
		var getStr = "/texts/" + makeRef(q)
		
		$("#addSourceModal").hide()
		$("#add").val("")
		
		$listTarget.append("<li class='source'>" +
			'<div class="controls"><span class="ui-icon ui-icon-triangle-1-s"></span>' +
				'<div class="optionsMenu">' +
					"<div class='editTitle optionItem'>Edit Source Title</div>" +
					"<div class='addSub optionItem'>Add Sub-Source</div>" +
					"<div class='addSubComment optionItem'>Add Comment</div>" +
					'<div class="removeSource optionItem">Remove Source</div>'+
					"<div class='seeContext optionItem'>See Context</div>" +
					"<div class='openPassage optionItem'>Open Passage</div>" +
				"</div>" +
			"</div>" + 
			"<span class='customTitle'></span><span class='title'></span><div class='text'></div><ol class='subsources'></ol></li>")
		
		var $target = $(".source", $listTarget).last();
		var loadClosure = function(data) {loadSource(data, $target)}
		
		sjs.loading++;
		
		$.getJSON(getStr, loadClosure);	
		
		$("#empty").remove();

		if (saveAfter) changes = true;
	}

	
	function loadSource(data, $target) {
		if (data.error) {
			$("#error").html(data.error);
			$target.remove();
			if (!--sjs.loading) doneLoading();
			return;
		}
		
		var $title = $(".title", $target).eq(0);
		var $text = $(".text", $target).eq(0);
		
		sjs.cache[data.ref] = data;
		
		$target.attr("data-ref", data.ref);	
		var title = data.book + " " + data.sections.join(":");
		if (data.toSections.length > 1 && data.toSections[1] != data.sections[1]) {
			title += "-" + data.toSections[1]; 
		}
		$title.html(title);
		var verseStr = "";
		var start = data.sections.length > 1 ? data.sections[1] - 1 : 0;
		var end = data.toSections.length > 1 ? data.toSections[1] : Math.max(data.text.length, data.he.length);
		for (var i = start; i < end; i++) {
			verseStr += "<span class='verse'>";
			if (data.text.length > i) {
				verseStr += "<span class='en'>" + data.text[i] + "</span>  "; 
			}
			if (data.he.length > i) {
				verseStr += "<span class='he'>" + data.he[i] + "</span>";
			}
			verseStr += "<div class='clear'></div></span>";
		}
		$text.append(verseStr);
		$(".controls", $target).show();

		if (sjs.autosave) {
			handleSave()
		}

		if (!--sjs.loading) doneLoading()
		$("#sources").sortable({handle: ".title"})
		$(".subsources").sortable({handle: ".text"})

		$(window).scrollTop($target.position().top - 300);
	}
	
	function doneLoading() {
		$("#sheetLoading").hide()
		if (sjs.current) sjs.autosave = true
	}
	
	function clickEdit(e) {
		
		var	$text = $(this),
			pos = $text.offset(),
			top = pos.top - 2,
			left = pos.left - 2,
			height = $text.height(),
			width = $text.width(),
			fontSize = $text.css("font-size");
		
		$(this).addClass("editing");
		
		var closeEdit = function (e) {
			
			if ($(this).val()) {
				var text = $(this).val().replace(/[\n\r]/g, "<br>")
				$(".editing").html(text).removeClass("editing")
			} else {
				if ($(".editing").attr("id") == "title") {
					var text = "New Source Sheet <span class='titleSub'>click to add a title</span>"
					$(".editing").html(text).removeClass("editing")
				} else if ($(".editing").hasClass("comment")) {
					$(".editing").remove()
				} else if ($(".editing").hasClass("customTitle")) {
					$(".editing").empty().removeClass("editing").hide()
						.next().removeClass("hasCustom")
				}
				
			}
			
			$(this).remove() 
		}
		
		// empty text for title.

		if ($("br", $text).length) {
			$("br", $text).after("\n").remove()	
		} 
		var text = $(".titleSub", $text).length ? "" : $text.text()
		
		$("<textarea class='clickEdit'>" + text + "</textarea>").appendTo("body")
			.css({"position": "absolute",
					"top": top,
					"left": left,
					"height": height,
					"width": width,
					"font-size": fontSize,
					"line-height": fontSize})
			.bind("focusout", closeEdit)
			.keypress(function(e) {
				if (e.keyCode == 13) $(this).trigger("focusout")
			}).focus()
	}
		
	function readSheet() {
		var sheet = {}
		sheet["sources"] = []
		
		if ($("#title").children().length == 0 && $("#title").text() != "") sheet["title"] = $("#title").text()
		
		sheet["sources"] = readSources($("#sources"))
		
		if ($("#sheet").hasClass("numbered")) {
			sheet["options"] = {"numbered": 1}
		} else {
			sheet["options"] = {"numbered": 0}
		}
		
		return sheet
	
	}
	
	function readSources($target) {
		var sources = []
		$target.children().each(function() {
			var source = {}
			if ($(this).hasClass("source")) {
				source["ref"] = $(this).attr("data-ref")
				var title = $(".customTitle", $(this)).eq(0).text()
				if (title) source["title"] = title
				if ($(".subsources", $(this)).eq(0).children().length) {
					source["subsources"] = readSources($(".subsources", $(this)).eq(0))
				}
			} else if ($(this).hasClass("comment")) {
				source["comment"] = $(this).text()
			}
			sources.push(source)
		})
		return sources
	}
	
	function handleSave() {
		if (sjs.loading) { return }
		sjs.autosave = true
		$("#save").text("Saving...")
		var sheet = readSheet()
		if (sjs.current) {
			sheet["id"] = sjs.current.id
			sheet["dateCreated"] = sjs.current.dateCreated
		}
		saveSheet(sheet)
	
	}
	
	
	function saveSheet(sheet) {
	 	postJSON= JSON.stringify(sheet);
 		id = sheet.id || ""
		$.post("/api/sheets/", {"json": postJSON}, function(data) {
			if (data.id) {
				sjs.current = data
				$("#save").text("Saved")
				$(".sheetLink[data-id=" + data.id + "]").remove()
				if ($("#privateSheets .sheetLink").length === 0) {
					$("#privateSheets").empty();
				}
				$("#privateSheets").prepend("<div class='sheetLink' data-id='" + data.id + "'>" + data.title + "</div>")
			} else if ("error" in data) {
				$("#error").text(data.error)
				$("#save").text("Saved")
			}
			setTimeout("$('#error').empty()", 3000)
		})
	}
	
	function loadSheet(id) {
		$("#title").empty()
		$("#sources").empty()
		$("#sheetLoading").show()
		
		$.get("/api/sheets/" + id, buildSheet)	
	}
	
	function buildSheet(data){
			if (data.error) {
				alert(data.error)
				return
			}
			
			sjs.current = data
			
			if (data.title) $("#title").text(data.title)
			$("#sources").empty()
			$("#addSourceModal").data("target", $("#sources"))
			if (data.options && data.options.numbered) $("#sheet").addClass("numbered")
			buildSources($("#sources"), data.sources)
			
	}
		
	function buildSources($target, sources) {
		for (var i = 0; i < sources.length; i++) {
			if (sources[i].ref) {
				var q = parseQuery(sources[i].ref)
				$("#addSourceModal").data("target", $target)
				addSource(q)
				
				if (sources[i].title) {
					$(".customTitle").last().text(sources[i].title).show()
					$(".title").last().addClass("hasCustom")
				}
				
				if (sources[i].subsources) {
					buildSources($(".subsources", $(".source").last()), sources[i].subsources)
				}
				
			} else if (sources[i].comment) {
				var commentHtml = "<div class='comment'>"+sources[i].comment.replace(/[\n\r]/g, "<br>")+"</div>"
				$target.append(commentHtml)
			}
			


		}
	}

	function makeRef(q) {
		var ref = q.book.replace(" ", "_");
		if (q.chapter) {
			ref += "." + q.chapter;
		}
		if (q.verse) {
			ref += "." + q.verse;
		}
		if (q.toChapter) {
			ref += "-" + q.toChapter + "." + q.toVerse
		} else if (q.toVerse) {
			ref += "-" + q.toVerse
		}
		
		return ref
	}

// --- Django CSRF support for AJAX -----------

jQuery(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie != '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) == (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    function sameOrigin(url) {
        // url could be relative or scheme relative or absolute
        var host = document.location.host; // host + port
        var protocol = document.location.protocol;
        var sr_origin = '//' + host;
        var origin = protocol + sr_origin;
        // Allow absolute or scheme relative URLs to same origin
        return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
            (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
            // or any other URL that isn't scheme relative or absolute i.e relative.
            !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
        xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});

</script>
</body>