{% extends "base.html" %}

{% load sefaria_tags %}
{% load humanize %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

	<div id="sheetsSplash" class="container">

		<div id="sheetsTopRow" class="row">
			<div class="span6">
				<iframe width="100%" src="http://www.youtube.com/embed/iac0GoaH2lY?rel=0" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="span6">
				<h1>Sefaria Source Sheets</h1>
				<div class="btn btn-large btn-primary">Start a Source Sheet</div>
			</div>
		</div>

		<div class="row">
			<div class="span12">
				<center><h4/>Public Source Sheets:</h4></center>
				{% include "elements/sheet_table.html" with sheets=sheets %}
			</div>
		</div>	
	</div>

{% endblock %}

{% block js %}
	<script>{% include "js/django-csrf.js" %}</script> 
	<script src="/static/js/jquery.tablesorter.js"></script>

	<script>
		$("img").error(function () { 
		    $(this).hide().after("<h1>"+$(this).attr("alt")+"</h1>");
		});
		$(function() {
			$(".sheetTable").tablesorter();
		});
	</script>
{% endblock %}