{% extends "base.html" %}

{% load sefaria_tags %}
{% load humanize %}
{% load i18n %}

{% block title %}{% trans "Source Sheets for Jewish Learning by Tag" %}{% endblock %}

{% block content %}

    <a href="/sheets" id="textTocLink">&laquo; Source Sheets</a>

	<div id="sheetTagsPage" class="container">

		<h1>Public Source Sheets by Tag</h1>
		<a id="back" href="/sheets/public">All public sheets &raquo;</a>

		<div id="letterNav">
			{% for letter in "ABCDEFGHIJKLMNOPQRSTUVWXYZ" %}
				<span class="navLetter" data-letter="{{ letter }}">{{ letter }}</span>
			{% endfor %}
		</div>

		<div id="sheetTags">
			{% for tag in tags_list %}
			<div class="tag">
				<span class='tagName'>
					<a href="/sheets/tags/{{ tag.tag }}">{{ tag.tag }}</a>
				</span>
				<span class="count">({{ tag.count }})</span>
				<!--{% for sheet in tag.sheets %}
					<div class="sheet">
						<a href="/sheets/{{ sheet.id }}">{{ sheet.title }}</a>
					</div>
				{% endfor %}-->
			</div>
			{% endfor %}
		</div>

	</div>
	<div class="clear"></div>
{% endblock %}

{% block js %}

	<script>
	$(function() {
		$(".navLetter").click(function(){
			console.log("nl")
			var that = this;
			var done = false;
			$(".tag").each(function() {
				if (!done) {
					var tagLetter = $(this).find(".tagName a").text();
					var navLetter = $(that).attr("data-letter");
					console.log(tagLetter .charAt(0) + " == " + navLetter);
					if ( tagLetter.charAt(0) == navLetter) {
						$(window).scrollTop($(this).offset().top - 100);
						done = true;
					}					
				}
			});

		});
	});
	</script>
{% endblock %}