{% extends "base.html" %}

{% load sefaria_tags %}
{% load humanize %}

{% block title %}{{ tag }} | Source Sheets Tagged for Jewish Learning tagged {{ tag }}{% endblock %}

{% block content %}

    {% if public %}
    <a href="/sheets/public" id="textTocLink">&laquo; Public Source Sheets</a>
    {% else %}
    <a href="/sheets/private" id="textTocLink">&laquo; Your Source Sheets</a>
    {% endif %}

	<div id="tagPage" class="container {% if public %}public{% endif %}">
        <div class="row">
            <div class="span12">
        		<h1>
                    <div class="sub">
                        {% if group %}
                        <a id="back" href="/groups/{{ group|url_safe}}">
                            <img id="groupsrLogo" src="{{ groupCover }}" alt="{{ group }}">
                        </a>
                        Source Sheets
                        {% elif public %}
                        Public Source Sheets
                        {% else %}
                        Your Source Sheets
                        {% endif %}
                        tagged</div>
                    {{ tag }}
                </h1>

                {% if group %}
                  <a id="back" href="/groups/{{ group|url_safe}}">{{ group }}'s sheets &raquo;</a>

                {% elif public %}
        		  <span id="back">
                    <a href="/sheets/tags">All tags &raquo;</a>&nbsp;&nbsp;
                  </span>
                {% endif %}

        		<div id="sheets">
        			{% include "elements/sheet_table.html" %}
        		</div>
                    {% if group and not in_group and not request.user.is_authenticated %}
                    <span id="loginMsg">
                        If you are a member of the {{ group }} group, <a href="/login?next=/groups/{{ group|url_safe }}">login</a> to view private group sheets.
                    </span>
                    {% endif %}
            </div>
        </div>
	</div>
	<div class="clear"></div>
{% endblock %}

{% block js %}
    {% include "js/sheet_list_tags.html" %}
    <script src="/static/js/lib/jquery.tablesorter.js"></script>
    <script>
        $(function() {
            $(".sheetTable").tablesorter({
             sortList: [[4,1],[3,0],[2,0]]
            });
        });
    </script>
{% endblock %}
