{% extends "base.html" %}

{% load sefaria_tags %}
{% load humanize %}

{% block title %}Jewish Texts known to Sefaria.org{% endblock %}

{% block content %}

<div id="textsPage">

<h1>Sefaria Table of Contents</h1>

{% include "elements/texts_list.html" %}

{% endblock %}

{% block js %}
	<script>{% include "js/django-csrf.js" %}</script>
	<script>

		var sjs = sjs || {};

		$.extend(sjs, {
			toc: {{ toc|jsonify }}
		});

		$(function() {
			/* Scroll to sections
			var hash = location.hash;
			if (hash !== "") {
				hash = hash.slice(0, -1); // Remove "~"" 
				$(hash + ", " + hash + ">a").trigger("click")
					.parents(".category").find(".subBox").slideDown(50);
				console.log(hash)
				$(window).scrollTo($(hash), -50);
			}
			$(window).bind('beforeunload', function() { 
          	  location.hash = sjs.lastClicked + "~";
       		});
			*/

			// Zip up and Down Text Category 
			$("#textsPage .category > table").on("click", function(e) {
				if ($(this).hasClass("open")) {
					$(this).closest("li").children(".subBox").slideUp(50);
				} else {
					$(this).closest("li").children(".subBox").slideDown(50);
					sjs.lastClicked = this.id;
				}
				$(this).toggleClass("open");
			});

			// Impperfectly working expand all button (actually toggle all)
			$("#expand").on("click", function(){
				$("#textsPage .categoryName").trigger("click");
			})

			$(".heTitle.empty").on("click", function() {
				if ($(this).find("a").length) {
					// A link to login indicates not logged in
					return;
				}
				var title = $(this).closest("table").attr("data-title");
				var he = prompt("Enter the Hebrew title of " + title + ":");
				console.log(he);
				if (he) {
					$(this).text(he);
					var postJSON = JSON.stringify({title: title, heTitle: he});
					var title = title.replace(/ /g, "_");
					$.post("/api/index/" + title,  {"json": postJSON}, function(data) {
						console.log(data);
						if ("error" in data) {
							console.log(data["error"]);
						} else {

						}
					});
				}
			});
		});

	</script>
{% endblock %}