{% extends "base.html" %}

{% load sefaria_tags %}
{% load humanize %}

{% block title %}Jewish Texts known to Sefaria.org{% endblock %}

{% block content %}

<a href="/" id="textTocLink">&laquo; Home</a>

<div id="textsPage">

<h1>The Sefaria Library</h1>
<br>

<center>
	<i>The Sefaria Library is a growing and evolving collection of Jewish texts. Some texts are available in their entirety, others may be incomplete or fragmentary. Click on a text to see details about its current availabilty.</i>
	<br>
	<a id="alpha" href="#alpha">Sort texts alphabetically</a>.
</center>


{% include "elements/texts_list.html" %}

</div>
{% endblock %}

{% block js %}
	<script>

		var sjs = sjs || {};

		sjs._uid = {{ request.user.id|default:"null" }};

		$(function() {
			
			// Alphabetize Page
			$("#alpha").click(function(e) {
				$("#textsPage .text").each(function(){
					var $link = $(this).find(".title a");
					$link.text($link.attr("href").replace(/_/g, " ").slice(1));
				}).sort(function(a,b) {
					return a.innerText > b.innerText ? 1:-1;
				}).detach().prependTo("#textsPage #textsList");
				$("#textsPage .category").remove();
				$(this).text("Sort texts by category").attr("href", "/texts")
					.unbind("click");
				e.preventDefault();
			});

		});

	</script>
{% endblock %}