{% extends "base.html" %}

{% load sefaria_tags %}
{% load humanize %}

{% block title %}{{ category }} on Sefaria{% endblock %}

{% block content %}

<a href="/texts" id="textTocLink">&laquo; All Texts</a>

<div id="textsPage">

<h1>
    <div class="he">{{ heCategory}}</div>
    <div class="en">{{ category }}</div>
</h1>
<br>

<div id="textsList">
    {% for cat in cat_toc %}
        {% if cat.category %}
            <li class="category">
            {% include "elements/texts_list_recur.html" with category=cat cat_path=cat_path|add:"/"|add:cat.category %}
            </li>
        {% else %}
            <li class="text">
                {% include "elements/textInfo.html" with text=cat %}
            </li>
        {% endif %}
    {% endfor %}
</div>

</div>

{% endblock %}

{% block js %}
    <script>

        var sjs = sjs || {};

        sjs._uid = {{ request.user.id|default:"null" }};

        $(function() {
            
            // Alphabetize Page
            $("#alpha").click(function(e) {
                $("#textsPage .text").each(function(){
                    var $link = $(this).find(".title a");
                    $link.text($link.attr("href").replace(/_/g, " ").slice(1));
                }).sort(function(a,b) {
                    return a.innerText > b.innerText ? 1:-1;
                }).detach().prependTo("#textsPage #textsList");
                $("#textsPage .category").remove();
                $(this).text("Sort texts by category").attr("href", "/texts")
                    .unbind("click");
                e.preventDefault();
            });

        });

    </script>
{% endblock %}