{% extends "base.html" %}

{% load sefaria_tags %}
{% load humanize %}

{% block title %}Jewish Texts known to Sefaria.org{% endblock %}

{% block content %}

{% include "elements/header.html" %}

<div id="textsPage">
<div id="expand" class="btn">+ Expand All</div>
<h1>Texts Overview</h1>

<ul id="textsList">
{% for category in toc %}
	<li class="category">
		{% include "elements/categoryInfo.html" with category=category %}
		<div class="subBox">
		{% for content in category.contents %}
			<ul class="sub">
			{% if "title" in content %}
				<li class="text">
					{% include "elements/textInfo.html" with text=content %}
				</li>
			{% else %}
				<li class="category sub">
					{% include "elements/categoryInfo.html" with category=content %}
	
					<ul class="sub subBox">
					{% for sub in content.contents %}
						<li class="text">
						{% include "elements/textInfo.html" with text=sub %}
						</li>
					{% endfor %}
					</ul>
				</li>
			{% endif %}

			</ul>
		{% endfor %}
		</div>
	</li>
{% endfor %}
</ul>
{% endblock %}

{% block js %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.js"></script>
	<script>{% include "js/django-csrf.js" %}</script>
	<script src="/static/js/jquery.scrollTo-1.4.2-min.js"></script>
	<script src="/static/js/util.js"></script>
	<script>

		var sjs = sjs || {};

		$.extend(sjs, {
			toc: {{ toc|jsonify }}
		});

		$(function() {
			var hash = location.hash;
			if (hash !== "") {
				hash = hash.slice(0, -1); // Remove "~"" 
				$(hash + ", " + hash + ">a").trigger("click")
					.parents(".category").find(".subBox").slideDown(50);
				console.log(hash)
				$(window).scrollTo($(hash), -50);
			}
			$(window).bind('beforeunload', function() { 
          	  location.hash = sjs.lastClicked + "~";
       		});
		});

		// Zip up and Down Text Category 
		$(".categoryName").on("click", function(e) {
			if ($(this).hasClass("open")) {
				$(this).closest("li").children(".subBox").slideUp(50);
			} else {
				$(this).closest("li").children(".subBox").slideDown(50);
				sjs.lastClicked = this.id;
			}
			$(this).toggleClass("open");
		});

		// Impperfectly working expand all button (actually toggle all)
		$("#expand").on("click", function(){
			$(".categoryName").trigger("click");
		})

		$(".title a").on("click", function(e) {
			e.preventDefault();
			console.log("3")
			var $details = $(this).closest(".text").find(".details");

			if ($details.children().length) {
				$details.empty();
				location.hash = "";
				return;
			}
			var url = "/api/counts" + $(this).attr("href");
			sjs.lastClicked = $(this).closest(".title").attr("id");
			$.getJSON(url, sjs.makeTextDetails);
			$details.addClass("makeTarget");
		});


		$(".heTitle.empty").on("click", function() {
			if ($(this).find("a").length) {
				// A link to login indicates note logged in
				return;
			}
			var title = $(this).closest("table").attr("data-title");
			var he = prompt("Enter the Hebrew title of " + title + ":");
			console.log(he);
			$(this).text(he);
			if (he) {
				var postJSON = JSON.stringify({title: title, heTitle: he});
				var title = title.replace(/ /g, "_");
				$.post("/api/index/" + title,  {"json": postJSON}, function(data) {
					console.log(data);
					if ("error" in data) {
						alert(data["error"]);
					} else {

					}
				});
			}
		});

		sjs.makeTextDetails = function(data) {
			if ("error" in data) {
				alert(date["error"]);
			}

			var html = "<td class='sections' colspan='2'><div class='sectionName'>" + data.sectionNames[0] + "s:</div>";
			var url = data.title.replace(" ", "_") + ".";
			var en = data.availableTexts.en;
			var he = data.availableTexts.he;
			// Pad the shorter of en, he and length with 0s
			var max = Math.max(en.length, he.length, data.length);
			en = en.pad(max, 0);
			he = he.pad(max, 0);
			if (data.length) {
				for (var i = 1; i <= data.length; i++) {
					if (data.categories[0] == "Talmud") {
						if (i===1) continue;
						html += "<a href='/" + url + i +"a' class='sectionLink'>" + i + "a</a>"
						html += "<a href='/" + url + i +"b' class='sectionLink'>" + i + "b</a>"
					} else {
						var cls = sjs.makeHasStr(en[i-1], he[i-1]);
						html += "<a href='/" + url + i +"' class='sectionLink " + cls + "'>" + i + "</a>"
					}

				}		
			} else {
				for (var i=0; i < Math.max(he.length, en.length); i++) {
					var clsStr = sjs.makeHasStr(en[i], he[i]);
					html += "<a href='/" + url + (i+1) +"' class='sectionLink " + clsStr + "'>" + (i+1) + "</a>"
				}
			}

			html += "<div class='colorCodes'>" +
						"<span class='heAll enAll'>Bilingual</span>" +
						"<span class='heAll enNone'>English missing</span>" +
						"<span class='enAll heNone'>Hebrew missing</span>" +
					"</div></td>";

			html += "<td class='detailsRight' colspan='2'>"	+
						"<div class='titleVariants'><b>Title Variants</b>: " + data.titleVariants.join(", ") + "</div>" +
					"</td>";

			if ($(".makeTarget").length) {
				$(".makeTarget").html(html);
				$(".makeTarget").removeClass("makeTarget");
			}

			return html;
		};


		sjs.arrayHas = function(arr) {
			if (typeof(arr) == 'number') {
				return (arr > 0 ? 2 : 0);
			}
			var count = 0;
			for (var i=0; i < arr.length; i++) {
				count += sjs.arrayHas(arr[i])
			}

			if (count === arr.length * 2 ) {
				return 2;
			} else if (count > 0) {
				return 1;
			} else {
				return 0;
			}
		};

		sjs.makeHasStr = function(en, he) {
			var classes = {en: ["enNone", "enSome", "enAll"], he: ["heNone", "heSome", "heAll"] };
			var str = classes["en"][sjs.arrayHas(en)] + " " + classes["he"][sjs.arrayHas(he)];
			return str;
		}

		sjs.hashNoScroll = function(hash) {
			var mem = $(window).scrollTop();
			location.hash = hash;
			console.log(mem)
			$(window).scrollTop(mem);
		}
	</script>
{% endblock %}