{% extends "base.html" %}
{% load i18n static %}

{% block title %}{% trans "Timeline" %}{% endblock %}

{% block description %}{% trans "Timeline" %}{% endblock %}

{% block ogimage %}<meta property="og:image" content="{%  static "img/explorer.png" %}" />{% endblock %}

{% block head %}
<script src="https://d3js.org/d3.v5.min.js"></script>
{%  endblock %}

{% block css %}
    #textBox {
        margin: 64px auto 0;
        overflow: auto;
    }
    #textTitle {
        text-align: center;
        margin: 10px 0;
    }
    #textInner {
    }
{% endblock %}

{% block content %}
<div id="timelinePage">

</div>
{% endblock %}

{% block js %}
<script>
		var a = document.createElement('ol');
		if (typeof a.reversed == "undefined") {
		$("#alertMessage").html('<strong>Warning:</strong> This page uses some features that your browser doesn\'t currently support. <br/>Continue browsing or try one of the latest versions of the following: <a href="http://www.google.com/chrome">Google Chrome</a>, <a href="http://www.firefox.com/">Mozilla Firefox</a>, <a href="http://www.apple.com/safari/">Safari</a>').show();
		}

</script>


<script>
      if (!window.d3) {
          console.log('logging d3 locally');
          document.write('<script src="/static/js/lib/d3.v5.min.js"><\/script>');
      }
    var GLOBALS = {
        interfaceLang: "{{ request.interfaceLang }}"
    }
</script>
<script src="{% static 'bundles/timeline/timeline.js' %}"></script>


{% endblock %}
