{% extends "base.html" %}

{% load sefaria_tags %}
{% load humanize %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

	<div id="topicsPage">
		<h1>{{ title }}</h1>
		<ul id="topics">
		{% for topic in topics %}
			<li class="topic">
				{% if topic.url %}
				<a href="/topics/{{ topic.url }}">{{ topic.title }} <span class="topicSize">{{ topic.sources|length }}</span></a>
				{% else %}
				<a href="/sheets/{{ topic.id }}">{{ topic.title }} <span class="topicSize">{{ topic.sources|length }}</span></a>
				{% endif %}
			</li>
		{% endfor %}
			<div class="clear"></div>
		</ul>
		<div class="clear"></div>
		<input id="newTopic"/>
		<div id="suggestTopic" class="btn">Suggest a Topic</div>

	</div>

{% endblock %}

{% block js %}
	<script>{% include "js/django-csrf.js" %}</script>
	<script>
		$(function() {
			$("#suggestTopic").click(function(){
				if (!("#newTopic").val()) { return; }
				var topic = {
					status: {{ status }},
					group: "{{ group }}",
					title: $("#newTopic").val(),
					sources: []
				};

				{% if status == 5 %}
				topic.url = $("#newTopic").val().replace(/ /g, "-").replace(/[.,;:'"]/g, "");
				{% endif %}

				$.post("/api/sheets/", { json: JSON.stringify(topic) }, function(data){
					if (data.status == 6) {
						$(".topic").last().find('a').attr("href", "/sheets/" + data.id);
					}
				});
				
				var url = {{ status }} == 5 ? "/topics/" + topic.url : ""
				$("#topics .clear").before("<li class='topic'><a href='" + url + "'>" + topic.title + " <span class='topicSize'>0</span></a></li>");
				$("#newTopic").val("").focus();
			});
			$("#newTopic").on("keypress", function(e) {
				if (e.keyCode === 13) {
					$("#suggestTopic").trigger("click");
				}
			});
		});
	</script>
{% endblock %}