{% extends "base.html" %}

{% load sefaria_tags %}
{% load humanize %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

	<div id="topicsPage">
		<center>
		{% if group and group != "topics" %}
				<img id="partnerLogo" src="/static/partner/{{ group|url_safe }}/logo.png" alt="{{ group }}">
		{% else %}
			<h1>{{ title }}</h1>
		{% endif %}
		</center>

		<ul id="topics">
			{% if group and not in_group and not user.id %}
			<span id="loginMsg">
				If you are a member of the {{ group }} group, <a href="/login?next=/partners/{{ group|url_safe }}">login</a> to view private group sheets.
			</span>
			<div class="clear"></div>
			{% endif %}

			{% include "elements/sheet_table.html" with sheets=topics empty_message="There are no Source Sheets here yet." %}

		</ul>
		<div class="clear"></div>
		
		{% if group == "topics" %}
		<input id="newTopic"/>
		<div id="suggestTopic" class="btn">Suggest a Topic</div>
		{% else %}
		<a href="/sheets/new">
			<center><div class="btn btn-large btn-primary">Start a New Sheet</div></center>
		</a>
		{% endif %}

		<a href="/sheets">&laquo; Browse all Source Sheets</a>

	</div>

{% endblock %}

{% block js %}
	<script>{% include "js/django-csrf.js" %}</script> 
	<script src="/static/js/jquery.tablesorter.js"></script>

	<script>
		$("img").error(function () { 
		    $(this).hide().after("<h1>"+$(this).attr("alt")+"</h1>");
		});
		$(function() {
			$(".sheetTable").tablesorter();
			$("#suggestTopic").click(function(){
				if (!$("#newTopic").val()) { return; }
				var topic = {
					status: {{ status }},
					group: "{{ group }}",
					title: $("#newTopic").val(),
					sources: []
				};

				{% if status == 5 %}
				topic.url = $("#newTopic").val().replace(/ /g, "-").replace(/[.,;:'"]/g, "");
				{% endif %}

				$.post("/api/sheets/", { json: JSON.stringify(topic) }, function(data){
					if (data.status == 6) {
						$(".topic").last().find('a').attr("href", "/sheets/" + data.id);
					}
				});

				var url = {{ status }} == 5 ? "/topics/" + topic.url : ""
				$("#topics .clear").before("<li class='topic'><a href='" + url + "'>" + topic.title + " <span class='topicSize'>0</span></a></li>");
				$("#newTopic").val("").focus();
			});
			$("#newTopic").on("keypress", function(e) {
				if (e.keyCode === 13) {
					$("#suggestTopic").trigger("click");
				}
			});
		});
	</script>
{% endblock %}