{% extends "base.html" %}

{% load sefaria_tags %}
{% load humanize %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
	
	<a href="/sheets" id="textTocLink">&laquo; Source Sheets</a>

	<div id="sheetListPage" class="container">

		<div class="row">
			<div class="span12">

				<center>
				{% if group %}
						<img id="partnerLogo" src="/static/partner/{{ group|url_safe }}/logo.png" alt="{{ group }}">
				{% else %}
					<h1>{{ title }}</h1>
				{% endif %}
				</center>

				{% if public %}
					{% include "elements/sheet_tag_list.html" with title="Trending tags" %}
				{% elif group %}
					{% include "elements/sheet_tag_list.html" with title="" %}
				{% else %}
					{% include "elements/sheet_tag_list.html" with title="" %}
				{% endif %}

				<ul id="topics">

					{% include "elements/sheet_table.html" with sheets=topics empty_message="There are no Source Sheets here yet." %}

					{% if group and not in_group and not user.id %}
					<span id="loginMsg">
						If you are a member of the {{ group }} group, <a href="/login?next=/partners/{{ group|url_safe }}/tags/{{ tag }}">login</a> to view private group sheets.
					</span>
					<div class="clear"></div>
					{% endif %}

				</ul>
				<div class="clear"></div>

				<a href="/sheets/new">
					<center><div class="btn btn-large btn-primary">Start a New Sheet</div></center>
				</a>

			</div>
		</div>

	</div>

{% endblock %}

{% block js %}
	<script>{% include "js/django-csrf.js" %}</script> 
	<script src="/static/js/jquery.tablesorter.js"></script>
	<script src="/static/js/jquery.tag-it.min.js"></script>
	{% include "js/sheet_list_tags.html" %}
	<script src="/static/js/jquery.tablesorter.js"></script>
	<script>
		$(function() {
			$(".sheetTable").tablesorter({
			 sortList: [[4,1],[3,0],[2,0]]
			});
		});
	</script>
{% endblock %}