{% extends "base.html" %}

{% load sefaria_tags %}
{% load humanize %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<div id="translateCampaign" class="container">
	
	<div class="row">
		<div class="span10 offset1">
			<div id="about" class="well">
				<h4>Help us create the first freely licensed English translation of the Mishnah.<h4>
			</div>
		</div>
	</div>

	<div class="row" id="transBox">
		<div class="span6">
			<h2>Your assigment: {{ assigned_ref|url_ref }}</h2>
			Click words to open dictionary. <a href="/translate-the-mishna">Get another assignmnet &raquo;</a>

			<div id="original">{{ assigned_text }}</div>
		</div>

		<div class="span6">
			<h2>Your translation:</h2>
			<span>&nbsp;</span>
			<textarea id="translation"></textarea>
		</div>
	</div>

	<div id="actions" class="row">
		<div class="span6 offset6">
			<div class="btn btn-primary btn-large">Save</div>
		</div>
	</div>

</div>
{% endblock %}

{% block js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.22/jquery-ui.min.js"></script>
<script src="/static/js/jquery.elastic.source.js"></script>
<script src="/static/js/util.js"></script>

<script>

$(function() {
	$("#translation").height($("#original").height())
		.elastic()
		.show()
		.focus();

	$("#original").html(linkToDictionary("{{assigned_text}}"));

});

</script>
{% endblock %}