{% extends "base.html" %}

{% load sefaria_tags %}
{% load humanize %}
{% load cache %}


{% block title %}Translation Requests | Sefaria{% endblock %}
{% block head %}
{% endblock %}

{% block content %}

<div id="translationRequestsPage" class="biReady container static">
    <div class="inner">
        <h1>
            <span class="int-en">Translation Requests</span>
            <span class="int-he">בקשות תרגום</span>
        </h1>
        <div class="section">
            <p class="tagline">
                <span class="int-en">
                    This page lists the most requested text sections that Sefaria users would like to have translated.
                Requests are made automatically whenever you add an untranslated source to a Source Sheet.
                You can add your support to an existing request, or make a new request here.
                </span>
                <span class="int-he">
                    This page lists the most requested text sections that Sefaria users would like to have translated.
                Requests are made automatically whenever you add an untranslated source to a Source Sheet.
                You can add your support to an existing request, or make a new request here.
                </span>
            </p>
            <div class="single-button center">
                <div id="makeRequest" class="button blue big">
                    <span class="int-en">Make Request</span>
                    <span class="int-he">בקש תרגום</span>
                </div>
            </div>
            <div class="translation-counts">
                <div class="count">
                    <a href="/translation-requests">{{ request_count|intcomma }} text sections</a> have been requested.
                </div>

                <div class="count">
                    <a href="/translation-requests/completed">{{ complete_count|intcomma }} requests</a> have been completed.
                </div>

                <div class="count">
                    <a href="/translation-requests/featured-completed">{{ featured_complete|intcomma }} featured requests</a> have been completed.
                </div>
            </div>

            {% if show_featured %}
            <div id="featuredRequests">
                <h3>{{ featured_current }} Featured Requests</h3>
                <div class='single-button center'>
                    <a class="button blue big" href="http://blog.sefaria.org/contests" target="_blank">View Prizes</a>
                    <h4>Monthly Contests</h4>
                    <p class="tagline">Help translate featured requests and you'll be automatically entered in a lottery for monthly prizes.</p>
                </div>
                {% for trans_request in featured %}
                    {% if forloop.counter0 < featured_current or request.user.is_staff %}
                        {% if forloop.counter0 == featured_current %}
                            <i id="futureRequests">Future Featured Requests</i>
                        {% endif %}
                        {% include "elements/translation_request.html" %}
                    {% endif %}
                {% endfor %}
            </div>
            {% endif %}

            <div id="translationRequests">
                <h3>
                    {% if not completed_only and not page_offset %}
                        All Requests
                    {% elif not completed_only and page_offset %}
                        Requests {{ page_offset }}-{{ page_offset|add:99 }}
                        <a href="/translation-requests">back to top</a>
                    {% elif complete_only and not featured_only %}
                        Completed Requests
                        <a href="/translation-requests">all requests</a>
                    {% elif completed_only and featured_only % }
                        Completed Featured Requests
                        <a href="/translation-requests">all requests</a>
                    {% endif %}
                </h3>
                {% for trans_request in requests %}
                    {% include "elements/translation_request.html" %}
                {% endfor %}
            </div>


            {% if next_page %}
                <a id="moreRequests" href="?page={{ next_page }}">More requests &raquo;</a>
            {% endif %}


            {% include "elements/social_share_buttons.html" with URL="http://www.sefaria.org/translation-requests" description="The most requested text sections for translation on Sefaria." %}
        </div>

    {% include "elements/login_prompt.html" with msg="Please log in to make requests." %}

    </div>
</div>

{% endblock %}

{% block js %}
<script>
    sjs = sjs || {};
    sjs.previewText = function(e) {
        e.preventDefault();
        var ref = $(this).attr("href");
        var that = this;
        $target = $(this).closest(".translationRequest");
        $.getJSON("/api/texts" + ref + "?commentary=0&context=0", function(data) {
            $(".textPreview").remove();
            if (typeof data["he"] === "string") {
                data.he   = data.he ? [data.he] : [];
                data.text = data.text ? [data.text] : [];
            }
            var translated = data.text.length > 0;
            var content = "<div class='en'>" + data.text.join(" ") + "</div>" +
                          "<div class='he'>" + data.he.join(" ")   + "</div>";
            
            var html = "<div class='textPreview'>" +
                            "<div class='text'>" +
                                "<div class='controls'>" +
                                "<i class='remove fa fa-times'></i>" +
                                (translated ? "" :
                                '<a class="translateButton btn btn-success btn-mini" href="/translate/' + data.ref + '?after=/translation-requests?thank=you">Translate</a>') +
                                "<a class='btn btn-info btn-mini' href='" + ref + "'>Open &raquo;</a>" +
                            "</div>" +
                                content +
                            "</div>" +
                        "</div>";
            $target.after(html);
            $(".remove").click(function(e){
                $(this).closest(".textPreview").remove();
            });
            //$(html).appendTo("body").position({my: "left top", at: "left bottom", of: that});
        });
    }
    $(function() {
        var params = getUrlVars();
        if ("thank" in params) { 
            sjs.alert.message("You've completed a request! Thank you!");
        }
        $(".requestRef a").click(sjs.previewText);
        $(".tooltipster").tooltipster();

        $(".requestButton").click(function(e) {
            if (!sjs._uid) {
                return sjs.loginPrompt();
            }
            var $btn   = $(this);
            var ref    = $btn.closest(".translationRequest").attr("data-ref");
            var $count = $btn.closest(".translationRequest").find(".requestCount");
          
            if ($(this).hasClass("btn-success")) {
                $.post("/api/translation-request/" + ref, {unrequest: 1}, function(){
                    $btn.removeClass("btn-success");
                    $btn.find(".fa").removeClass("fa-check").addClass("fa-plus");
                    $count.text(parseInt($count.text()) - 1);
                    sjs.track.event("Translation Unrequest through list button");
                });            
            } else {
                $.post("/api/translation-request/" + ref, {}, function(){
                    $btn.addClass("btn-success");
                    $btn.find(".fa").removeClass("fa-plus").addClass("fa-check");
                    $count.text(parseInt($count.text()) + 1);
                    sjs.track.event("Translation Request through list button");

                });

            }
        });
        $("#makeRequest").click(function(e) {
            if (!sjs._uid) {
                return sjs.loginPrompt();
            }
            sjs.textBrowser.show({
                callback: function(ref) {
                    sjs.track.event("Translation Request through Text Browser");
                    $.post("/api/translation-request/" + ref, {}, function(data) {
                        if ("error" in data) {
                            sjs.alert.message(data.error);
                        } else {
                            var msg = "Your translation request for <b>" + 
                                        data.ref + 
                                        "</b> has been added.<br><br>" +
                                        {% if request.user.is_staff %}
                                        '<div class="btn btn-primary translationRequest" data-ref="' + data.ref.escapeHtml() + '"><i class="fa fa-star"></i> Feature Request</div><br>' +
                                        {% endif %}
                                        (data.requesters.length == 1 ? 
                                            "You are the first person to request this source." :
                                            data.requesters.length + " people have now requested this source."
                                        );
                            sjs.alert.message(msg);
                            $(".alertBox .translationRequest").click(function(){
                                sjs.featureModal.show($(this));
                            });
                        }
                    });
                }
            });
        });
        {% if request.user.is_staff %}
        sjs.featureRequest = function(ref, date) {
            $.post("/api/translation-request/" + ref, {feature: date}, function(){
                $(".modalOpen").removeClass("modalOpen");
                sjs.featureModal.destroy();
                sjs.alert.flash("Request featured.");
                window.location = "/translation-requests";
            });
        };
        sjs.unfeatureRequest = function(ref) {
            $.post("/api/translation-request/" + ref, {unfeature: 1}, function(){
                sjs.alert.flash("Request unfeatured.")
            });
        };
        sjs.featureModal = {
            $request: null,
            ref:      null,
            show: function($request) {
                sjs.featureModal.destroy();
                sjs.featureModal.$request = $request;
                sjs.featureModal.ref      = $request.closest(".translationRequest").attr("data-ref");
               
                var incrementDate = function (date, amount) {
                    var tmpDate = new Date(date);
                    tmpDate.setDate(tmpDate.getDate() + amount)
                    return tmpDate;
                }; 
                var d    = new Date();
                var days = 14 - d.getDay();
                var date = incrementDate(d, days).toLocaleDateString();

                var html = "<div id='featureModal'>" +
                                "<div>Feature <b>" + sjs.featureModal.ref + "</b> until:</div>" +
                                "<input id='featureDate' value='" + date + "'><br>" + 
                                "<span id='featureButton' class='btn btn-mini btn-primary'>Feature</span>" +
                                "<span class='cancel btn btn-mini'>Cancel</span>" +
                            "</div>"
                $(html).appendTo("body").position({my: "left top", at: "left bottom", of: $request});
                $("#featureDate").datepicker();
                $request.addClass("modalOpen");
                sjs.featureModal.bind();
            },
            bind: function() {
                $("#featureButton").click(function() {
                    var featureDate = $("#featureDate").val();
                    sjs.featureRequest(sjs.featureModal.ref, featureDate);                   
                });
                $("#unfeatureButton").click(function() {
                    sjs.unfeatureRequest(sjs.featureModal.ref);
                });
                $("#featureModal .cancel").click(function() {
                    sjs.featureModal.$request.find(".requestFeatured").addClass("unfeatured");
                    sjs.featureModal.destroy();
                });
            }, 
            destroy: function() {
                $("#featureModal").remove();
                $(".modalOpen").addClass("unfeatured").removeClass("modalOpen");
                sjs.featureModal.$request = null;
                sjs.featureModal.ref      = null;
            }

        }
        $(".requestFeatured").click(function() {
            if ($(this).hasClass("unfeatured")) {
                $(this).removeClass("unfeatured");
                sjs.featureModal.show($(this));
            } else {
                $(this).addClass("unfeatured");
                sjs.featureModal.destroy();
                var ref = $(this).closest(".translationRequest").attr("data-ref");
                sjs.unfeatureRequest(ref);
            }
        });
        {% endif %}
    });
</script>
{% endblock %}