{% extends "base.html" %}

{% load sefaria_tags %}
{% load i18n static %}

{% block title %}{% trans "Visualizing Torah Connections through Rashi's Commentary" %}{% endblock %}

{% block description %}{% trans "Explore how Rashi connects verses of Torah to one another when he quotes one verse in his commentary on another." %}{% endblock %}

{% block ogimage %}<meta property="og:image" content="{% static 'img/links-through-rashi.png' %}"/>{% endblock %}
{% block head %}
    {% if not OFFLINE %}
    <script src="https://use.typekit.net/aeg8div.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <script src="//ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
    <script>
      WebFont.load({
        google: {
          families: ['Open Sans Hebrew:400,700:latin,hebrew' ]
        }
      });
    </script>
    {% endif %}
    <script src="https://d3js.org/d3.v3.js"></script>
{%  endblock %}

{% block css %}
#rashiLinksContainer {
  padding-top: 70px;
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
}
#chart {
  width: 680px;
  float: right;
}
#description {
  width: 400px;
  float: right;
  padding-top: 50px;
}
#description h1 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}
#description h1 .int-en {
  font-family: "adobe-garamond-pro", Georgia, serif;
}
#description li {
  margin: 18px 0;
}
.node {
  font: 300 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
  fill: #bbb;
  opacity: 0.1;
  cursor: pointer;
}

.link {
  stroke: steelblue;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}

.link-gen {
    stroke: red;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}
.link-ex {
    stroke: blue;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}
.link-lev {
    stroke: green;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}
.link-bam {
    stroke: black;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}
.link-dev {
    stroke: purple;
  stroke-opacity: .4;
  fill: none;
  pointer-events: none;
}

.node:hover,
.node--source,
.node--target {
  opacity: 1;
  font-weight: 700;
  font-size: 13px;
  fill: #000;
}

.node--source {
  fill: #2ca02c;
}

.node--target {
  fill: #d62728;
}

.link--source,
.link--target {
    opacity: 1 !important;
    stroke-width: 6px;
}

    .link--hide {
    opacity: .25;
    }

    .link--full {
    opacity: 1 !important;
    stroke-width: 6px;
    }
.green {
  color: #2ca02c;
}
.red {
  color: #d62728;
}
.black {
  color: #000;
}
{% endblock %}

{% block content %}
  <div id="rashiLinksContainer" class="static">
    <div id="description">
      <h1>
        <span class="{{ language_font_class }}">Links through Rashi</span>
      </h1>
      <p>This visualization show links between verses of Torah that are connected by virtue of Rashi <i>quoting</i> one verse while <i>commenting</i> on another.</p>
      <ul>
        <li>Hover over the grey ring to reveal connections.
        <li>A <span class="black">black</span> title reference represents the selected verse.</li>
        <li>A <span class="green">green</span> title reference means that the Rashi on that verse quotes the <span class="black">selected</span> verse.</li>
        <li>A <span class="red">red</span> title reference is quoted by the Rashi on the selected verse.</li>
        <li>Click a verse to open it with Rashi's commentary.</li>
      </ul>
    </div>
    <div id="chart"></div>
    <div class="clearFix"></div>
  </div>
{% endblock %}

{% block js %}
<script>
    {% autoescape off %}

        var load_url = "{{ json_file }}";

var diameter = 680,
    radius = diameter / 2,
    innerRadius = radius - 120;

var cluster = d3.layout.cluster()
    .size([360, innerRadius])
    .sort(null)
    .value(function(d) { return d.size; });

var bundle = d3.layout.bundle();

var line = d3.svg.line.radial()
    .interpolate("bundle")
    .tension(.85)
    .radius(function(d) { return d.y; })
    .angle(function(d) { return d.x / 180 * Math.PI; });

var svg = d3.select("#chart").append("svg")
    .attr("width", diameter)
    .attr("height", diameter)
  .append("g")
    .attr("transform", "translate(" + radius + "," + radius + ")");

var link = svg.append("g").selectAll(".link"),
    node = svg.append("g").selectAll(".node");

d3.json(load_url, function(error, classes) {
  if (error) throw error;

  var nodes = cluster.nodes(packageHierarchy(classes)),
      links = packageImports(nodes);

  link = link
      .data(bundle(links))
    .enter().append("path")
      .each(function(d) { d.source = d[0], d.target = d[d.length - 1]; })
      .attr("class", function(key){
          if (key.source.name.includes("Genesis")) {
              return "link-gen"
          }
          else if (key.source.name.includes("Exodus")) {
              return "link-ex"
          }
          else if (key.source.name.includes("Leviticus" )) {
              return "link-lev"
          }
          else if (key.source.name.includes("Numbers")) {
              return "link-bam"
          }
          else if (key.source.name.includes("Deuteronomy")) {
              return "link-dev"
          }
          else {return "link"}
      })
      .attr("d", line)

  node = node
      .data(nodes.filter(function(n) { return !n.children; }))
    .enter().append("text")
      .attr("class", "node")
      .attr("dy", ".31em")
      .attr("transform", function(d) { return "rotate(" + (d.x - 90) + ")translate(" + (d.y + 8) + ",0)" + (d.x < 180 ? "" : "rotate(180)"); })
      .style("text-anchor", function(d) { return d.x < 180 ? "start" : "end"; })
      .text(function(d) { return d.key; })
      .on("mouseover", mouseovered)
      .on("mouseout", mouseouted);
});

function mouseovered(d) {
  node
      .each(function(n) { n.target = n.source = false; });
  link.style("opacity", .1);
  link
      .classed("link--target", function(l) { if (l.target === d) return l.source.source = true; })
      .classed("link--source", function(l) { if (l.source === d) return l.target.target = true; })
    .filter(function(l) { return l.target === d || l.source === d; })
      .each(function() {
          this.parentNode.appendChild(this);
      });

  node
      .classed("node--target", function(n) { return n.target; })
      .classed("node--source", function(n) { return n.source; });
}

function mouseouted(d) {
  link.style("opacity", 1);
  link
      .classed("link--hide", false)
      .classed("link--target", false)
      .classed("link--source", false);

  node
      .classed("node--target", false)
      .classed("node--source", false);
}

d3.select(self.frameElement).style("height", diameter + "px");

// Lazily construct the package hierarchy from class names.
function packageHierarchy(classes) {
  var map = {};

  function find(name, data) {
    var node = map[name], i;
    if (!node) {
      node = map[name] = data || {name: name, children: []};
      if (name.length) {
        node.parent = find(name.substring(0, i = name.lastIndexOf(".")));
        node.parent.children.push(node);
        node.key = name.substring(i + 1);
      }
    }
    return node;
  }

  classes.forEach(function(d) {
    find(d.name, d);
  });

  return map[""];
}

// Return a list of imports for the given array of nodes.
function packageImports(nodes) {
  var map = {},
      imports = [];

  // Compute a map from name to node.
  nodes.forEach(function(d) {
    map[d.name] = d;
  });

  // For each import, construct a link from the source to target node.
  nodes.forEach(function(d) {
    if (d.imports) d.imports.forEach(function(i) {
      imports.push({source: map[d.name], target: map[i]});
    });
  });

  return imports;
}

$(function() {
  $("#chart").on("click", ".node", function() {
    var ref = Sefaria.normRef($(this).text());
    window.open("/" + ref + "?with=Rashi");
  })
});
    {% endautoescape %}
    </script>
{% endblock %}