{% extends "base.html" %}

{% load sefaria_tags %}


{% block title %}{{ title }}{% endblock %}
{% block head %}
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/dc/1.7.0/dc.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crossfilter/1.3.12/crossfilter.js"></script>
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/dc/1.7.0/dc.css">
{%  endblock %}

{% block css %}
    #languageToggle {
        display: inline;
    }
    #languageToggle #bilingual {
        display: none;
    }
{% endblock %}

{% block content %}

<div id="visualGardenPage" class="container doc biReady">
    <div id="timeline"></div>
    <div id="map"></div>
    <div id="tags"></div>
    <div id="results"></div>
</div>

{% endblock %}

{% block js %}
    <script>
    {% autoescape off %}
        var stops = crossfilter({{ stops }});
    {% endautoescape %}
    </script>
{% endblock %}
