{% load static %}
<link rel="stylesheet" href="{% static 'css/contest-print.css' %}" media="print" />

<center>
	<img id="logo" src="{% static 'img/sefaria-project.png' %}" style="display:none;" />
</center>


<div id="copy" class="row">
	<div class="span10 offset1">
		<h1>Can you translate Hebrew?</h1>
		<div id="subHeader">Help Sefaria create the first freely reusable Mishnah translation - and win a free iPad!</div>

		<div class="alert alert-warning">
			<center>
			This contest has ended! Read about the winners on <a href="http://blog.sefaria.org/post/73408415071/announcing-the-contest-winners">our blog</a>.
			</center>
		</div>	
	</div>
</div>


<div class="row">
	<div class="span6 offset1">
		<div class="copySection">
			<span class="w-word">When:</span> December 15th - December 31st
		</div>

		<div class="copySection">
			<span class="w-word">Where:</span> www.sefaria.org/mishnah-contest-2013
		</div>

		<div class="copySection">
			<span class="w-word">What:</span> A new <b>iPad Air</b> for the top contributor. A new <b>iPad Mini</b> each for the first and second runners up.
		</div>

		<div class="copySection">
			<span class="w-word">How:</span> Visit the contest page, get your assignment, and enter your original translation. Follow your progress on our leaderboard; spread the word to everyone you know, and see who can contribute the most translations!
		</div>

		<div class="copySection">
			<span class="w-word">Why:</span> You will be making some of the core texts of the Jewish tradition accessible in English to anyone who is interested in studying them! Plus, you could win an iPad.
		</div>


		<div>
			<h4>The Details:</h4>

			<ul>
				<li>Translations must be your own original translations, and must follow our <a href="/translation-guidelines">translation guidelines</a>.</li>
				<li>Points are awarded based on the length of the translated texts (the longer the Mishnah, the more points you earn).</li>
				<li>The Sefaria team will review the work of the top contributors and reserves the right to disqualify translations that we believe do not adequately conform to our <a href="/translation-guidelines">translation guidelines</a>.</li>
				<li>Prizes will be awarded to the top three contributors based on points.</li>
			</ul>
		</div>
	</div>
	<div class="span4">
		{% include "static/contest/contest-leaderboard.html" %}
	</div>
</div>