{% load static %}
<link rel="stylesheet" href="{% static 'css/contest-print.css' %}" media="print" />

<center>
	<img id="logo" src="{% static 'img/sefaria-project.png' %}" style="display:none;" />
</center>


<div id="copy" class="row">
	<div class="span10 offset1">
		<h1>The First Translation <nobr>of Even HaEzer</nobr></h1>

		<div class="alert alert-warning">
			<center>This contest ended on April 6th. You can read about the winners on  <a href="http://blog.sefaria.org/post/84465376950/the-results-of-our-translation-contest-are-in">our blog</a>.</center>
		</div>
		<div id="subHeader">Sefaria is launching a new campaign to translate Even HaEzer, the third section of the classic legal work, Shulchan Arukh. To kick off this effort, we are holding a translation contest. If you can translate Hebrew, please join in for a chance to win a new iPad and other prizes!</div>
	</div>
</div>

<div class="row">
	<div class="span6 offset1">
		<div class="copySection">
			<span class="w-word">When:</span> March 9th - April 6th, 2014
		</div>

		<div class="copySection">
			<span class="w-word">Where:</span> <a href="/contests/shulchan-arukh-even-haezer">www.sefaria.org/contests/shulchan-arukh-even-haezer</a>
		</div>

		<div class="copySection">
			<span class="w-word">The Prizes:</span> prizes will be awarded by a lottery including all contributors based on the amount of translations contributed. The more you translate, the better your chances of winning.
				<ul>
					<li><b>One new 13 inch MacBook Air</b></li>
					<li><b>One new iPad Air</b></li>
					<li><b>One new iPad Mini</b></li>
					<li><b>Five $25 Amazon gift cards</b></li>
					<li><b>Ten newly-minted Sefaria mugs</b></li>
				</ul>
		</div>

		<div class="copySection">
			No complete translation of Even HaEzer exists in English. By contributing, you'll be making a core text of the Jewish tradition more accessible to the world. By doing it on Sefaria, you'll ensure the text is freely available for the world to use and reuse.
		</div>


		<div>
			<h4>The Details:</h4>

			<ul>
				<li>Translations must be your own original translations, and must follow our <a href="/translation-guidelines">translation guidelines</a>.</li>
				<li>Points are awarded to translators based on the length of the translated text. Each point will get you one entry intro our prize lottery.</li>
				<li>Translations will be reviewed before awarding prizes. The Sefaria Team reserves the right to disqualify translations that do not follow our <a href="/translation-guidelines">translation guidelines</a>.</li>
				<li>Each contributor may receive only one prize.</li>
			</ul>
		</div>
	</div>
	<div class="span4">
		{% include "static/contest/contest-leaderboard.html" %}
	</div>
</div>