<div id="bannerTextBox">
	<span class="int-en" style="font-weight: bold">
        Sustainers help us plan for the future, make new acquisitions, and grow our offerings. Join 1,200 Sefaria Sustainers by setting up a monthly donation today! 
    </span>
	<span class="int-he" style="font-weight: bold">
        בזכות תמיכתם הנדיבה של יותר מ־1,200 תומכים ותומכות, המאגר המקוון של ספריא הולך ומתפתח כל העת. הירשמו עכשיו לתרומה חודשית כדי להשקיע בעתיד הלימוד היהודי!    
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/sustainers_b">
        <span>Make a Monthly Donation</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/sustainers_b">
        <span>להצטרפות לתומכי ספריא</span>
    </a>
</div>