<div id="bannerTextBox">
	<span class="int-en" style="font-weight: bold">
        As a 501(c)(3) nonprofit organization, Sefaria relies on your donations to both keep our website and app running, and also grow the library with new texts and features. If you're able, please include Sefaria in your end-of-year giving plans. 
    </span>
	<span class="int-he" style="font-weight: bold">
        בספריא מסתמכים על תרומותיכם על מנת להמשיך להפעיל את אתר האינטרנט והאפליקציה וגם כדי להוסיף לספריה טקסטים ומאפיינים חדשים. במידת האפשר, אנא צרפו את ספריא לרשימת התרומות שלכם לרגל סוף השנה.    
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/supportsefaria_web">
        <span>Donate Today</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/il_whb">
        <span>תרמו היום</span>
    </a>
</div>