<div id="bannerTextBox">
	<span class="int-en" style="font-weight: bold">
        Whether you attended a webinar, used Sefaria’s classroom resources, or studied in our digital stacks – this year was full of learning! Make a donation today so 2022 can be filled with even more texts and features that enhance your study!  
    </span>
	<span class="int-he" style="font-weight: bold">
        בין אם השתתפתם בוובינר, השתמשתם בכלים של ספריא ללמידה מרחוק או נעזרתם במדפי הספרים הדיגיטליים שלנו – שנת 2021 הייתה שנה מלאה בלימוד. תרמו עוד היום כדי שנוכל למלא את שנת 2022 בכלים ובפיצ'רים שישדרגו את הלימוד שלכם!   
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/supportsefaria_web">
        <span>Support Free Torah</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/il_whb">
        <span>תמכו בתורה לכולם</span>
    </a>
</div>