<div id="bannerTextBox">
	<span class="int-en" style="font-weight: bold">
        At Sefaria, we shepherd Jewish texts from print to digital to expand their reach and impact, and we need your support to continue this vital work. 
        Please make an end-of-year gift today!  
    </span>
	<span class="int-he" style="font-weight: bold">
        ספריא מעבירה את ארון הספרים היהודי מהדפוס אל הדיגיטל כדי להרחיב את תפוצתו ואת השפעתו.
        אנחנו זקוקים לתמיכה שלך כדי להמשיך את העבודה החיונית הזו. לרגל לרגל סוף השנה האזרחית , נשמח בתרומתך לספריא עוד היום!    
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/supportsefaria_web">
        <span>Donate Today</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/il_whb">
        <span>לתרומה כעת</span>
    </a>
</div>