<style>
    #highHolidayDonation {
        width: 410px;
        max-height: 100%;
        max-width: 100%;
    }
    .interface-english #highHolidayDonation {
        text-align: left;
    }
    .interface-hebrew #highHolidayDonation {
        text-align: left;
    }
    #highHolidayDonation p {
        color: #555;
    }
    #highHolidayDonation p .int-en {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    #highHolidayDonation p .int-he {
        font-family: "Heebo", sans-serif;
    }
    #highHolidayDonation p.sub {
        color: #999;
        font-size: 12px;
        font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    }
    #highHolidayDonation p {
        margin-top: 0;
    }
    #highHolidayDonation .button {
        margin-bottom: 20px;
    }
    #highHolidayDonation img {
        max-width: 100%;
    }
    #highHolidayDonation .buttons{
        text-align: center;
    }
    .leader {
        font-weight: bold;
    }
    .center{
        text-align: center;
    }

</style>
<div id="highHolidayDonation">

    <p>
        <span class="int-en">Sefaria Community,</span>
        <span class="int-he">קהילת ספריא,</span>
    </p>

    <p>
        <span class="int-en">As a non-profit organization, Sefaria relies 100% on donations to keep the library open, running, and free. When you make a gift to Sefaria, you help people all around the world not just obtain the texts of our tradition — online and for free — but confidently navigate the canon and discover new horizons. Please make a gift today to ensure that 2022 is filled with Torah study!</span>
        <span class="int-he">ספריא היא ארגון ללא מטרת רווח, ותרומות הן המשאב היחיד שעליו אנו נשענים כדי להמשיך לשמור על הספרייה פתוחה, פעילה וחופשית. תרומה שלך לספרייה עוזרת לאנשים מכל העולם לא רק לגשת אל ארון הספרים היהודי – באופן מקוון וחינם – אלא גם לנווט בו בביטחון ולגלות בתוכו אופקים חדשים. אנו מבקשים ממך לתרום עוד היום כדי להבטיח ששנת 2022 תהיה מלאה בלימוד תורה!</span>
    </p>
    <div class="buttons">
        <a class="button int-en" target="_blank" href="https://sefaria.nationbuilder.com/supportsefaria_web">
            <span class="int-en">Donate Now</span>
        </a>
        <a class="button int-he" target="_blank" href="https://sefaria.nationbuilder.com/il_whb">
            <span class="int-he">לתרומה כעת</span>
        </a>
    </div>

    <p class="sub center">
        <span class="int-en">
            Sefaria is a 501(c)(3) charitable organization;<br />donations are tax-deductible as allowed by law.
        </span>
    </p>

</div>
