<div id="bannerTextBox">
	<span {{ notification.date|naturaltime }} style="font-weight: bold">
        At Pecha, we shepherd Buddhist texts from print to digital to expand their reach and impact, and we need your support to continue this vital work. 
        Please make an end-of-year gift today!  
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white {{ language_font_class }}" href="https://sefaria.nationbuilder.com/supportsefaria_web">
        <span>Donate Today</span>
    </a>
    </a>
</div>