<div id="bannerTextBox">
	<span class="int-en">
Sefaria is YOUR library, make it count! We reinvest all the donations we receive into the growth of the library so it can continue to serve your learning needs. Be sure to make a tax-deductible donation before December 31.
    </span>
    <span class="int-he">
ספריא היא הספריה שלכם, נצלו זאת! אנחנו משקיעים את כל התרומות שמתקבלות בצמיחת הספריה על מנת שהיא תוכל להמשיך לשרת את צרכי הלמידה שלכם. זכרו לתרום לפני 31 בדצמבר.
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/supportsefaria_web">
        <span>DONATE</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/il_whb">
        <span>לתרומה</span>
    </a>
</div>
