<div id="bannerTextBox">
	<span class="int-en">
Sefaria is a 501(c)(3) non-profit organization. If you haven't yet, make your tax-deductible donation before the end of the year so that we can add new texts to the library and make Torah more accessible in 2023.
    </span>
    <span class="int-he">
ספריא היא הספריה שלכם, נצלו זאת! אנחנו משקיעים את כל התרומות שמתקבלות בצמיחת הספריה על מנת שהיא תוכל להמשיך לשרת את צרכי הלמידה שלכם. זכרו לתרום לפני 31 בדצמבר.
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/supportsefaria_web">
        <span>Donate Now</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/il_whb">
        <span>לתרומה</span>
    </a>
</div>
