<div id="bannerTextBox">
	<span class="int-en" style="font-weight: bold">
        Become a Sefaria Insider! Your matched donation will support all the behind-the-scenes work required keep the library free and accessible.
    </span>
	<span class="int-he" style="font-weight: bold">
        הצטרפו אלינו כידידי ספריא! תרומתכם המוכפלת תתמוך בכל המאמצים שנעשים מאחורי הקלעים על מנת לוודא שהספריה תישאר חינמית ונגישה.
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/sefariainsider">
        <span>Double your Donation</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/il_whb">
        <span>לתרומה</span>
    </a>
</div>