<div id="bannerTextBox">
	<span class="int-en">
Happy Chanukkah! We hope you enjoy this short video from Sefaria's co-Founder, Joshua Foer. Thank you for bringing your light and learning to Sefaria's library this year.
    </span>
    <span class="int-he">
ספריא היא הספריה שלכם, נצלו זאת! אנחנו משקיעים את כל התרומות שמתקבלות בצמיחת הספריה על מנת שהיא תוכל להמשיך לשרת את צרכי הלמידה שלכם. זכרו לתרום לפני 31 בדצמבר.
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/supportsefaria?video=true">
        <span>Watch Now</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/il_whb">
        <span>לתרומה</span>
    </a>
</div>
