<div id="bannerTextBox">
	<span class="int-en">
        In honor of Shavuot, we are counting towards the goal of recruiting 400 new Sefaria Sustainers. 
        If you receive value from the library, please consider giving back with a monthly donation today. 
    </span>
	<span class="int-he">
        לקראת סיום ספירת העומר ובואו של חג השבועות, ברצוננו להגיע ליעד של גיוס 400 תורמים חודשיים נוספים לספריא.
        אנו קוראים לך להירשם עוד היום לתרומה חודשית ולהצטרף לקהילת התורמים והתורמות המתרחבת שלנו!
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/sustainers_e">
        <span>Become a Sustainer</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/sustainers_e">
        <span>לתרומה חודשית</span>
    </a>
</div>