<style>
    :root {
        /* colors */
        --sefaria-blue: #18345D;
    }

    #interruptingMessageContentBox {
      background-color: var(--sefaria-blue);
    }
    #interruptingMessage {
        padding: 18px 0px;
        background-color: var(--sefaria-blue);
    }
    #interruptingMessageContentBox.hasColorLine{
        border: none;
    }
    #highHolidayDonation {
        width: 410px;
        max-height: 100%;
        max-width: 100%;
    }
    .interface-english #highHolidayDonation {
        text-align: left;
    }
    .interface-hebrew #highHolidayDonation {
        text-align: right;
        direction: rtl;
    }

    .interface-hebrew p.int-en {
        display: none;
    }

    #highHolidayDonation p .int-he {
        size: 43px;
        font-family: "Heebo", sans-serif;
    }
    #highHolidayDonation p.sub {
        color: white;
        font-size: 43px;
        font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
        font-style: normal;
    }

    #highHolidayDonation p {
        --english-font: "adobe-garamond-pro", Georgia, serif;
        color: White;
        font-style: normal;
        margin-top: 0;
        size: 43px;

    }

    #highHolidayDonation h1 {
        --english-font: "adobe-garamond-pro", Georgia, serif;
        color: White;

    }
    #highHolidayDonation .button {
        margin: 0px 6px 20px 6px;
    }
    #highHolidayDonation img {
        max-width: 100%;
    }
    #highHolidayDonation .buttons{
        text-align: right;
    }
    .leader {
        font-weight: bold;
    }
    .center{
        text-align: center;
    }
    email-input-wrapper {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .interface-hebrew .email-input-wrapper.int-en {
        display: none;
    }

    .interface-hebrew .email-input-wrapper.int-en {

    }
    .newsletterInput#email-input-en,.newsletterInput#email-input-he{
        width: 200px;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 7px;
        border: 1px solid #EEE;
        color: #333;
        font-style: italic;
    }

</style>

    <div id="highHolidayDonation">

        <h1>
            <span class="int-en">Ready to keep Learning?</span>
            <span class="int-he">רוצים להמשיך ללמוד?</span>
        </h1>

        <p>
                <span class="int-en">Subscribe to Sefaria’s newsletter to get reading recommendations, new text updates, library tips, webinar invites and more delivered to your inbox.
                </span>
                <span class="int-he">הצטרפו לרשימת התפוצה של ספריא וקבלו את כל העדכונים החשובים: החל מכותרים חדשים במאגר, דרך המלצות קריאה, טיפים לשימוש בספריא ועוד המון ערך.
                </span>
        </p>

        <div className="email-input-wrapper">
            <span class="int-en">
                <input
                  id="email-input-en"
                  class="newsletterInput"
                  placeholder=Email:
                  onkeyup=Sefaria.util.subscribeToNbList(document.querySelector('#email-input-en').value)
                  />
            </span>
            <span class="int-he">
                <input
                  id="email-input-he"
                  class="newsletterInput"
                  placeholder="כתובת דוא״ל:"
                  onkeyup=Sefaria.util.subscribeToNbList(document.querySelector('#email-input-he').value)
                />
            </span>

            <a class="button small white" onclick=Sefaria.util.subscribeToNbList(document.querySelector('#email-input-en,#email-input-he').value)>
                <span class="int-en">Submit</span>
                <span class="int-he">רשמו אותי</span>
            </a>
        </div>
    </div>
