<div id="bannerTextBox">
	<span class="int-en">
       The Sefaria library makes more than 300 million words of Jewish texts available worldwide. 
        In honor of Shavuot, please support the library that facilitates your learning by becoming a Sefaria Sustainer today. 
    </span>
	<span class="int-he">
        ספריית ספריא מנגישה יותר מ-300 מיליון מלים של טקסטים יהודיים ברחבי העולם. 
        לכבוד שבועות, אנא תמכו היום בספריה שמסייעת ללימוד שלכם על-ידי קבלת מעמד של ידידי ספריא.
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/sustainers_e">
        <span>Sustain Sefaria</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/sustainers_e">
        <span>לתרומה חודשית</span>
    </a>
</div>