<div id="bannerTextBox">
	<span class="int-en" style="font-weight: bold">
        We're $5,000 from our goal! Donate before Purim and DOUBLE your impact on Sefaria's library, technology, educational resources, and more. 
    </span>
	<span class="int-he" style="font-weight: bold">
        עוד $5,000 ונגיע ליעד! תרמו לפני פורים והכפילו את השפעתכם על הספריה, הטכנולוגיה והמשאבים החינוכיים של ספריא!
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/sefariainsider">
        <span>Donate Now</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/sefariainsider">
        <span>תרמו עכשיו</span>
    </a>
</div>