<div>
	<span class="int-en">
There is only one week left to give this year — please join us in supporting new texts, translations, and tech features in 2023 by making a donation today!
  <br/>  </span>
    <span class="int-he">
נותר רק שבוע אחד לתרום בו בשנה הנוכחית – אנא הצטרפו אלינו ועזרו לנו בספריא לתמוך בהוספת מקורות, תרגומים ופיתוחים טכנולוגיים חדשים בשנת 2023.
  <br/>  </span>
</div>
<div><br/>
	<a class="button int-en" href="https://sefaria.nationbuilder.com/supportsefaria_web">
        <span>Donate Now</span>
    </a>
    <a class="button int-he" href="https://sefaria.nationbuilder.com/il_whb">
        <span>לתרומה</span>
    </a>
</div>
