<div id="bannerTextBox">
	<span class="int-en" style="font-weight: bold">
        Meet two Sefaria engineers! Learn more about the work that keeps Sefaria running smoothly, and about the impact you can make on the library by becoming a Sefaria Insider.
    </span>
	<span class="int-he" style="font-weight: bold">
        נצלו את הצעתנו המוגבלת בזמן לתרומות מצ'ינג לפני פורים! כל התרומות יוכפלו לפני פורים.
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/sefariainsider?video=true">
        <span>Watch Now</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/sefariainsider">
        <span>תרמו עכשיו</span>
    </a>
</div>