<div id="bannerTextBox">
	<span class="int-en">
            Please make a donation before Yom Kippur to help Sefaria expand its library and improve your Jewish learning experience.
            Sefaria relies on donations to operate, and we need your support today!
    </span>
    <span class="int-he">
        שנה טובה!
            אנא שקלו לתרום לספריא לפני יום הכיפורים על מנת לעזור לנו להרחיב את הספריה ולשפר את חווית הלימוד שלכם.
            הפעילות של ספריא מתבססת על תרומות בלבד, לכן אנחנו זקוקים לעזרתכם עוד היום.
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/supportsefaria_web">
        <span>Donate Now</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/il_whb">
        <span>תרמו עכשיו</span>
    </a>
</div>