<div id="bannerTextBox">
	<span class="int-en">
        With your help, more improvements to your study and learning are on the horizon. Please make a tax-deductible donation today in honor of the High Holidays!</span>
	<span class="int-he">
        בזכות העזרה שלכם, בקרוב נבצע שיפורים שיהפכו את חווית הלימוד שלכם לטובה הרבה יותר!
נשמח אם לרגל חגי תשרי תשקלו לתרום לספריא ולתמוך בהמשך קיום - ושיפור - המאגר.
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/supportsefaria_web">
        <span>Donate Now</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/il_whb">
        <span>תמכו בספריה</span>
    </a>
</div>