<div id="bannerTextBox">
	<span class="int-en">
Shanah Tovah! As a non-profit organization, Sefaria reinvests every dollar donated straight back into the library. That means more texts, more translations, and better technology to enrich your learning.
    </span>
    <span class="int-he">
        שנה טובה!
כארגון ללא מטרות רווח, אנו מקפידים להשקיע כל שקל שנתרם לספריא בחזרה בספרייה עצמה.
        המשמעות: יותר ספרים חדשים, יותר תרגומים וטכנולוגיה טובה יותר, המעשירים כולם את הלימוד שלכם.
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/supportsefaria_web">
        <span>Donate Now</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/il_whb">
        <span>תרמו עכשיו</span>
    </a>
</div>