<div id="bannerTextBox">
	<span class="int-en" style="font-weight: bold">
        Sefaria is a small non-profit organization with a big goal: creating a Jewish library for all. If you can, please double your impact on the library with a donation today.
    </span>
	<span class="int-he" style="font-weight: bold">
        ספריא הוא ארגון קטן ללא מטרות רווח שמטרתו גדולה: ספריה יהודית לכול. אם יש ביכולתכם, אנא הכפילו היום את השפעתכם על תכניותינו לצמיחת הספריה בעזרת תרומה.
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/sefariainsider">
        <span>Double your Donation</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/sefariainsider">
        <span>לתרומה</span>
    </a>
</div>