<div id="bannerTextBox">
	<span class="int-en" style="font-weight: bold">
        At Passover, we celebrate teaching and storytelling. If you’ve used Sefaria’s many resources to learn about Jewish traditions or enhance your celebrations, we hope you’ll support the library with a donation today.
    </span>
	<span class="int-he" style="font-weight: bold">
בפסח אנחנו חוגגים את מעשה ההוראה והסיפור. אם השתמשתם במשאבים הרבים של ספריא כדי ללמוד על מסורות יהודיות או להעמיק את החגיגות שלכם, אנחנו מקווים שתתמכו היום בספריה באמצעות תרומה.
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/supportsefaria_web">
        <span>Donate</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/il_whb">
        <span>לתרומה</span>
    </a>
</div>