<div id="bannerTextBox">
	<span class="int-en">

<b>Looking for help?</b> Check out Sefaria's Help Center, or email <a href="mailto:hello@sefaria.org" style="text-decoration: underline">hello@sefaria.org</a>.

</span>

	<span class="int-he">
<b>צריכים עזרה?</b> לחצו על ״עזרה״ או שלחו הודעה  ל


<a href="mailto:hello@sefaria.org" style="text-decoration: underline">hello@sefaria.org</a>
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en"
       href="https://www.sefaria.org/collections/pecha-help-center?tab=sheets"
       onclick='gtag("event", "banner_clicked", {
           "modalName": "2023-06-16-help-center",
           "lang": "en"})'>
        <span>Help Center</span>
    </a>
    <a class="button white int-he"
       href="https://www.sefaria.org.il/collections/%D7%A9%D7%90%D7%9C%D7%95%D7%AA-%D7%A0%D7%A4%D7%95%D7%A6%D7%95%D7%AA-%D7%91%D7%A1%D7%A4%D7%A8%D7%99%D7%90?tab=sheets"
       onclick='gtag("event", "banner_clicked", {
           "modalName": "2023-06-16-help-center",
           "lang": "he"})'>
        <span>עזרה</span>
    </a>
</div>
