{% load i18n %}
<style>
    #highHolidayDonation {
        width: 410px;
        max-height: 100%;
        max-width: 100%;
    }
    .interface-english #highHolidayDonation {
        text-align: left;
    }
    .interface-hebrew #highHolidayDonation {
        text-align: right;
        direction: ltr;
    }
    #highHolidayDonation p {
        color: #555;
    }
    .interface-hebrew p.int-en {
        display: none;
    }
    #highHolidayDonation p .int-en {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    #highHolidayDonation p .int-he {
        font-family: "adobe-garamond-pro", Georgia, serif;
        /* font-family: "Heebo", sans-serif; */
    }
    #highHolidayDonation p.sub {
        color: #999;
        font-size: 12px;
        font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    }
    #highHolidayDonation p {
        margin-top: 0;
    }
    #highHolidayDonation .button {
        margin-bottom: 20px;
    }
    #highHolidayDonation img {
        max-width: 100%;
    }
    #highHolidayDonation .buttons{
        text-align: right;
    }
    .leader {
        font-weight: bold;
    }
    .center{
        text-align: center;
    }
    #email-input-wrapper {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .newsletterInput#email-input {
        width: 300px;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 7px;
        border: 1px solid #EEE;
        color: #333;
    }

</style>
<div id="highHolidayDonation">

    <p>
        <span class="int-en">
Friends,
        </span>
        <span class="int-he">
חברים,
        </span>
    </p>
    <p>
        <span class="int-en">
We’re so close to our goal of signing up 500 new Sustainers by Shavuot! Thank you to all who have already signed up to make a monthly donation, and to all who support Sefaria in any way that they can.        </span>
        <span class="int-he">

בחג השבועות אנו חוגגים את תחילתו של לימוד התורה – ובספריא אנו חוגגים את לימוד התורה כל השנה.

        </span>
    </p>


    <p>
        <span class="int-en">
Please become a Sustainer today to help Sefaria continue expanding access to the Jewish canon and transforming your learning experience. We need and value your support.
        </span>
        <span class="int-he">
ציינו את מתן התורה על ידי תמיכה במשימה של ספריא לקדם את לימוד התורה אל העידן הדיגיטלי.
        הצבנו יעד של 250 תומכי ספריא חדשים עד שבועות. האם תצטרפו כעת לתורמות ולתורמים החודשיים של ספריא?
    </span>
    </p>


    <p>
        <span class="int-en">
Chag Shavuot Sameach,
        </span>
        <span class="int-he">
חג שמח!
        </span>
    </p>
    <p>
        <span class="int-en">
Team Sefaria
        </span>
    </p>

    <div class="buttons">
        <a class="button int-en" target="_blank" href="https://donate.sefaria.org/give/487265/#!/donation/checkout?recurring=1&c_src=web">
            <span class="int-en">Become a Sustainer</span>
        </a>
        <a class="button int-he" target="_blank" href="https://donate.sefaria.org/give/478929/#!/donation/checkout?c_src=web">
            <span class="int-he">הצטרפו לתומכי ספריא</span>
        </a>
    </div>


</div>
