<div id="bannerTextBox">
	<span class="int-en">
We’re only $10,000 away from our goal of raising $36,000 for the Library Fund by Purim. Please give today and directly support the addition of new texts to the library!
    </span>
    <span class="int-he">
חסרים לנו 10,000$ כדי להגיע ליעד הגיוס של 36,000$ עד פורים עבור קרן הספריה של ספריא. תרמו היום ותמכו ישירות בהוספת מקורות חדשים לספריה!
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/libraryfund2023_we">
        <span>Give to the Library Fund</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/supportsefaria_il_library">
        <span>לתרומה עבור קרן הספריה עכשיו</span>
    </a>
</div>
