{% load i18n %}
<style>
    #highHolidayDonation {
        width: 410px;
        max-height: 100%;
        max-width: 100%;
    }
    .interface-english #highHolidayDonation {
        text-align: left;
    }
    .interface-hebrew #highHolidayDonation {
        text-align: right;
        direction: ltr;
    }
    #highHolidayDonation p {
        color: #555;
    }
    .interface-hebrew p.int-en {
        display: none;
    }
    #highHolidayDonation p .int-en {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    #highHolidayDonation p .int-he {
        font-family: "adobe-garamond-pro", Georgia, serif;
        /* font-family: "Heebo", sans-serif; */
    }
    #highHolidayDonation p.sub {
        color: #999;
        font-size: 12px;
        font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    }
    #highHolidayDonation p {
        margin-top: 0;
    }
    #highHolidayDonation .button {
        margin-bottom: 20px;
    }
    #highHolidayDonation img {
        max-width: 100%;
    }
    #highHolidayDonation .buttons{
        text-align: right;
    }
    .leader {
        font-weight: bold;
    }
    .center{
        text-align: center;
    }
    #email-input-wrapper {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .newsletterInput#email-input {
        width: 300px;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 7px;
        border: 1px solid #EEE;
        color: #333;
    }

</style>
<div id="highHolidayDonation">

    <p>
        <span class="int-en">
        Five books. 304,805 letters. One Torah. Help us complete the Global Community Torah by adding your unique letter to the digital scroll.
        </span>

        <span class="int-he">
        חמישה ספרים. 304,805 אותיות. תורה אחת. עזרו לנו להשלים את פרויקט ספר התורה השיתופי-עולמי על ידי הוספת האות המיוחדת שלכם לספר התורה הדיגיטלי.
        </span>
    </p>


    <div class="buttons">
        <a class="button int-en" target="_blank" href="https://torah.sefaria.org?utm_source=web">
            <span class="int-en">Make Your Mark</span>
        </a>
        <a class="button int-he" target="_blank" href="https://torah.sefaria.org?utm_source=web">
            <span class="int-he">הוסיפו את האות שלכם</span>
        </a>
    </div>


</div>
