<div id="bannerTextBox">
	<span class="int-en">
Celebrate Purim with a gift to Sefaria! If you’re using Sefaria to make your Purim experience richer, consider making a donation today.
    </span>
    <span class="int-he">
חוגגים את פורים ומעניקים מתנה לספריא!  משתמשים בספריא כדי להעשיר את חג הפורים שלכם? תרמו עוד היום.
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/supportsefaria_web">
        <span>Donate Now</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/il_whb">
        <span>תרמו עכשיו</span>
    </a>
</div>
