<div id="bannerTextBox">
	<span class="int-en">
In honor of Shavuot, we are counting towards the goal of recruiting 500 new Sefaria Sustainers. If you receive value from the library, please consider giving back with a monthly donation today.    </span>
	<span class="int-he">
        לכבוד חג השבועות הצבנו יעד לגיוס 500 תומכי ספריא חדשים. אם אתם מפיקים ערך מהספריה, אנא שקלו להעניק כעת תמורה באמצעות תמיכה חודשית.
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en"
       href="https://donate.sefaria.org/give/487265/#!/donation/checkout?recurring=1&c_src=web"
       onclick='gtag("event", "banner_clicked", {
           "modalName": "2023-05-16-shavuot-donate-banner",
           "lang": "en"})'>
        <span>Become a Sustainer</span>
    </a>
    <a class="button white int-he"
       href="https://donate.sefaria.org/give/478929/#!/donation/checkout?c_src=web"
       onclick='gtag("event", "banner_clicked", {
           "modalName": "2023-05-16-shavuot-donate-banner",
           "lang": "he"})'>
        <span>הצטרפו לתומכי ספריא</span>
    </a>
</div>