<style>
    #bannerMessage {
        background-color: #CB6158;
    }
</style>
<div id="bannerTextBox" >
	<span class="int-en" style="font-weight: bold">
		Please make a donation today in honor of the upcoming new year. As a non-profit organization, Sefaria relies on donations to make new texts and translations available to users like you.

    </span>
	<span class="int-he" style="font-weight: bold">
		לכבוד השנה החדשה, תרמו היום. כארגון ללא מטרות רווח, ספריא מתבססת על תרומות כדי להנגיש מקורות ותרגומים חדשים!
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://donate.sefaria.org/give/487265/#!/donation/checkout?c_src=web">
        <span>Donate</span>
    </a>
    <a class="button white int-he" href="https://donate.sefaria.org/give/468442/#!/donation/checkout?c_src=webh">
        <span>לתרומה</span>
    </a>
</div>
