<div id="bannerTextBox">
	<span class="int-en">
Sefaria is hiring a Lead Engineer and Product Manager in Israel. Learn more and apply today!
    </span>
    <span class="int-he">
ספריא מגייסת מתכנת/ת ומנהל/ת מוצר בכיר/ה בישראל. לפרטים והגשת קו״ח לחצו כאן

    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://www.sefaria.org.il/jobs">
        <span>Careers at Sefaria</span>
    </a>
    <a class="button white int-he" href="https://www.sefaria.org.il/jobs">
        <span>משרות בספריא</span>
    </a>
</div>
