<style>
    #bannerMessage {
        background-color: #CB6158;
    }
</style>
<div id="bannerTextBox">
    <span class="int-en">
        Celebrate the Jewish textual tradition this Passover by becoming a Sefaria Sustainer! Your monthly gift fuels Jewish learning.
    </span>
    <span class="int-he">
        בחג הפסח הזה חגגו את המסורת הטקסטואלית היהודית באמצעות תרומה לספריא! התרומה שלכם תתדלק את הלמידה בכל המקומות.
    </span>
</div>
<div id="bannerButtonBox">
    <a class="button white int-en" href="https://sefaria.nationbuilder.com/sustainers_b">
        <span>BECOME A SEFARIA SUSTAINER</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/il_whb">
        <span>לתרומה</span>
    </a>
</div>
