{% load i18n %}
<style>
    #highHolidayDonation {
        width: 410px;
        max-height: 100%;
        max-width: 100%;
    }
    .interface-english #highHolidayDonation {
        text-align: left;
    }
    .interface-hebrew #highHolidayDonation {
        text-align: right;
        direction: ltr;
    }
    #highHolidayDonation p {
        color: #555;
    }
    .interface-hebrew p.int-en {
        display: none;
    }
    #highHolidayDonation p .int-en {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    #highHolidayDonation p .int-he {
        font-family: "adobe-garamond-pro", Georgia, serif;
        /* font-family: "Heebo", sans-serif; */
    }
    #highHolidayDonation p.sub {
        color: #999;
        font-size: 12px;
        font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    }
    #highHolidayDonation p {
        margin-top: 0;
    }
    #highHolidayDonation .button {
        margin-bottom: 20px;
    }
    #highHolidayDonation img {
        max-width: 100%;
    }
    #highHolidayDonation .buttons{
        text-align: right;
    }
    .leader {
        font-weight: bold;
    }
    .center{
        text-align: center;
    }
    #email-input-wrapper {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    .newsletterInput#email-input {
        width: 300px;
        padding: 10px;
        margin-bottom: 20px;
        border-radius: 7px;
        border: 1px solid #EEE;
        color: #333;
    }

</style>
<div id="highHolidayDonation">

    <p>
        <span class="int-en">
Your opinion matters!
</span>
        <span class="int-he">
דעתך חשובה לנו!

</span>
    </p>


    <p>
        <span class="int-en">
We invite you to participate in a quick survey to help us better understand you and your experiences. It will take approximately 5 minutes to complete.

</span>
        <span class="int-he">
אנחנו מזמינים אותך להשתתף בסקר קצר כדי לעזור לנו להבין טוב יותר את חווית.  המשתמש/ת בספריא מענה על הסקר לוקח בערך חמש דקות וכל המידע נשמר באנונימיות מוחלטת.
        </span>
    </p>

    <div class="buttons">
        <a class="button int-en" target="_blank" href="https://qualtricsxmd6qzd2jyv.qualtrics.com/jfe/form/SV_6KcZChAjIHptfSu?source=web">
            <span class="int-en">Take the Survey</span>
        </a>
        <a class="button int-he" target="_blank" href="https://qualtricsxmd6qzd2jyv.qualtrics.com/jfe/form/SV_6KcZChAjIHptfSu?source=web&Q_Language=HE">
            <span class="int-he">אשמח לענות על הסקר</span>
        </a>
    </div>


</div>
