<div id="bannerTextBox">
	<span class="int-en" style="font-weight: bold">
Sefaria has big plans for 2022! Please make a tax-deductible gift before the end of the year to ensure that 2022 is infused with new ways to learn, connect, and explore Jewish texts.</span>
	<span class="int-he" style="font-weight: bold">
נשארו עוד יומיים לשנת 2021. אנחנו צריכים את התרומה שלכם היום כדי להבטיח ששנת 2022 תהיה מלאת דרכים חדשות של לימוד, חיבור וגילוי בתוך ארון הספרים היהודי.</span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/supportsefaria_web">
        <span>Donate Now</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/il_whb">
        <span>תרמו כעת</span>
    </a>
</div>