<div id="bannerTextBox">
	<span class="int-en">
        Help Sefaria bring the sweetness of Torah into the new year with a donation to the library. Chag Sameach!
    </span>
	<span class="int-he">
        זו ההזדמנות לעזור לספריא להכניס את מתיקות התורה אל השנה החדשה בעזרת תרומה לספרייה. חג שמח!
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/supportsefaria_web">
        <span>Donate</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/il_whb">
        <span>לתרומה</span>
    </a>
</div>