<style>
    #highHolidayDonation {
        width: 410px;
        max-height: 100%;
        max-width: 100%;
    }
    .interface-english #highHolidayDonation {
        text-align: left;
    }
    .interface-hebrew #highHolidayDonation {
        text-align: right;
    }
    #highHolidayDonation p {
        color: #555;
    }
    #highHolidayDonation p .int-en {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    #highHolidayDonation p .int-he {
        font-family: "adobe-garamond-pro", Georgia, serif;
        /* font-family: "Heebo", sans-serif; */
    }
    #highHolidayDonation p.sub {
        color: #999;
        font-size: 12px;
        font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    }
    #highHolidayDonation p {
        margin-top: 0;
    }
    #highHolidayDonation .button {
        margin-bottom: 20px;
    }
    #highHolidayDonation img {
        max-width: 100%;
    }
    #highHolidayDonation .buttons{
        text-align: center;
    }
    .leader {
        font-weight: bold;
    }
    .center{
        text-align: center;
    }

</style>
<div id="highHolidayDonation">

    <p>
        <span class="int-en">Thank you for sitting down to learn with us.
            We hope Sefaria will be a helpful resource to you during Elul and into the new year.
        </span>
        <span class="int-he">תודה שאתם למדים איתנו. אנחנו מקווים שספריא תמשיך להוות משאב מועיל בתקופת אלול ומעבר אל השנה החדשה.</span>
    </p>

    <p>
        <span class="int-en">Please consider making a gift of $18 -- or whatever you can donate -- to sustain Sefaria. </span>
        <span class="int-he">נשמח אם תשקלו תרומה בסך 18$, או ככל העולה על רוחכם, כדי לתמוך בהמשך פעילותה של ספריא.</span>
    </p>

    <p>
        <span class="int-en">Chag sameach,</span>
        <span class="int-he">חג שמח, </span>
    </p>
    <p>
        <span class="int-en">Team Sefaria</span>
        <span class="int-he">צוות ספריא</span>
    </p>

    <div class="buttons">
        <a class="button int-en" target="_blank" href="https://sefaria.nationbuilder.com/support_w?utm_source=Website&utm_medium=Modal&utm_campaign=Elul%202019">
            <span class="int-en">Donate</span>
        </a>
        <a class="button int-he" target="_blank" href="https://sefaria.nationbuilder.com/support_w?utm_source=Website&utm_medium=Modal&utm_campaign=Elul%202019">
            <span class="int-he">לתרומה</span>
        </a>
    </div>

    <p class="sub center">
        <span class="int-en">
            Sefaria is a 501(c)(3) charitable organization;<br />donations are tax-deductible as allowed by law.
        </span>
    </p>

</div>
