<style>
	.button {
		padding: 17px 20px;
		margin: 0;
	}
	.donateLink {
		text-transform: uppercase;
		display: block;
		margin-top: 12px;
	}
	.optionA, .optionB {
		display: none;
	}
</style>

<div id="bannerTextBox" class="optionA">
	<span class="int-en">
This Elul, Sefaria is here for you with texts, resources, and inspiration. Please consider supporting Sefaria with a gift of $18 — or whatever you can give — to keep the library open and accessible.
	</span>
	<span class="int-he">
	גם באלול הזה ספריא כאן לשימושך – בטקסטים, בדפי מקורות ובהשראה. אנו מבקשים ממך לשקול את האפשרות לתמוך בספריא עם מתנה בשווי ח"י דולרים – או בכל סכום שמתאפשר – כדי לשמור על הספרייה הזו פתוחה וחופשית. 
	</span>
</div>
<div id="bannerButtonBox" class="optionA">
    <span class="int-en">
        <a class="button white trackedAction" target="_blank" href="https://sefaria.nationbuilder.com/support_elula">
            Donate
        </a>
    </span>
    <span class="int-he">
        <a class="button white trackedAction"  target="_blank" href="https://sefaria.nationbuilder.com/il_mobile">
            לתרומה
        </a>
    </span>
</div>


<div id="bannerTextBox" class="optionB">
	<span class="int-en">
	Sefaria is here for you with texts, resources, and inspiration this Elul. Can you support Sefaria with a gift of $18 — or whatever you can give — to keep the library open and accessible?
	</span>
	<span class="int-he">
	באלול הזה ספריא כאן לשימושך – בטקסטים, בדפי מקורות ובהשראה. האם ביכולתך לתמוך בספריא בעזרת תרומה של ח"י דולרים – או כל סכום אחר שבאפשרותך לתת – כדי לשמור על הספרייה הזו פתוחה וחופשית? 
	</span>
</div>
<div id="bannerButtonBox" class="optionB">
    <span class="int-en">
        <a class="button white trackedAction" target="_blank" href="https://sefaria.nationbuilder.com/support_elulb">
            Donate
        </a>
    </span>
    <span class="int-he">
        <a class="button white trackedAction" target="_blank" href="https://sefaria.nationbuilder.com/il_mobile">
            לתרומה
        </a>
    </span>
</div>