
<div id="bannerTextBox">
	<span class="int-en">
        <strong>Even free websites cost money.</strong> Sefaria is a nonprofit that depends on user contributions to keep the library open source, accessible and growing. If you’re able, please support Sefaria with a gift of $10 today.
	</span>
	<span class="int-he">
	</span>
</div>
<div id="bannerButtonBox">
	<a class="button white" href="https://sefaria.nationbuilder.com/support_w?utm_source=Website&utm_medium=Modal&utm_campaign=Elul%202019">
        <span class="int-en">Donate</span>
        <span class="int-he"></span>
    </a>
</div>
