<div id="bannerTextBox">
	<span class="int-en">
        This Elul, Sefaria is here for you with texts, resources, and inspiration.
        Please consider supporting Sefaria with a gift of $10 — or whatever you can give — to keep the library open and accessible.
    </span>
	<span class="int-he">
        גם באלול הזה ספריא כאן לשימושך – בטקסטים, בדפי מקורות ובהשראה.
        אנו מבקשים ממך לשקול את האפשרות לתמוך בספריא עם מתנה בשווי ח"י דולרים – או בכל סכום שמתאפשר – כדי לשמור על הספרייה הזו פתוחה וחופשית.
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/supportsefaria_web">
        <span>Donate</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/il_whb">
        <span>לתרומה</span>
    </a>
</div>