
<div id="bannerTextBox">
	<span class="int-en">
        <strong>Sefaria depends on users like you to keep running.</strong>
	</span>
	<span class="int-he">
        <strong>
        ספריא תלויה במשתמשים כמוכם על מנת שנוכל להמשיך ולפעול.
	    </strong>
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white" href="https://sefaria.nationbuilder.com/support_w?utm_source=sefaria&utm_medium=modal&utm_campaign=support">
        <span class="int-en">Donate Now</span>
        <span class="int-he">תרמו עכשיו</span>
    </a>
</div>
