<div id="bannerTextBox">
	<span class="int-en">
        This Chanukah, we're offering a half off discount to Sponsor a Day of Learning. Give the gift of Torah to all.
    </span>
	<span class="int-he">
        בחג החנוכה הזה אנחנו מציעים הנחה שווה במיוחד - להקדיש יום לימוד עבור מישהו בחצי מהמחיר הרגיל. זוהי הזדמנות להעניק לכולם את מתנת התורה.
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/chanukahsponsor">
        <span>Dedicate Today</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/chanukahsponsor">
        <span>להקדשת יום לימוד</span>
    </a>
</div>