<style>
    #highHolidayDonation {
        width: 410px;
        max-height: 100%;
        max-width: 100%;
    }
    .interface-english #highHolidayDonation {
        text-align: left;
    }
    .interface-hebrew #highHolidayDonation {
        text-align: right;
    }
    #highHolidayDonation p {
        color: #555;
    }
    #highHolidayDonation p .int-en {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    #highHolidayDonation p .int-he {
        font-family: "adobe-garamond-pro", Georgia, serif;
        /* font-family: "Heebo", sans-serif; */
    }
    #highHolidayDonation p.sub {
        color: #999;
        font-size: 12px;
        font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    }
    #highHolidayDonation p {
        margin-top: 0;
    }
    #highHolidayDonation .button {
        margin-bottom: 20px; 
    }
    #highHolidayDonation img {
        max-width: 100%;
    }
</style>
<div id="highHolidayDonation">
     <p>
        <span class="int-en">To the Sefaria Community:</span>
        <span class="int-he">תודה רבה על השימוש באתר ספריא</span>
    </p>
    <p>
        <span class="int-en">We’ve secured a donor to match all gifts made  before January 1. Help us ring in the secular new year with the dollars to fuel our big plans to make Sefaria better for you in 2019!</span>
        <span class="int-he">השגנו תורם למימון תואם עבור כל תרומה שתינתן לספריא עד הראשון בינואר. עזרו לנו להזניק את התכניות לשיפורים גדולים בספריא בשביל כולנו בשנת 2019!</span>
    </p>

    <!--
    <p>
        <span class="int-en">Please consider making a tax-deductible donation today.</span>
        <span class="int-he">נשמח אם תשקלו לסייע לנו להמשיך להצליח להפוך את מקורות היהדות לזמינים ונגישים עבורכן/ם ולתרום.</span>
    </p>
-->

    <center>
    <a class="button int-en" target="_blank" href="https://sefaria.nationbuilder.com/support">
        <span>Make a Donation</span>
    </a>
    <a class="button int-he" target="_blank" href="https://sefaria.nationbuilder.com/il_mobile">
        <span>לתרומה לספריא לחץ כאן</span>
    </a>
    </center>
    
    <p class="sub">
        <span class="int-en">
            Sefaria is a 501(c)(3) charitable organization;<br />donations are tax-deductible as allowed by law.
        </span>
        <span class="int-he">
            התרומה לספריא פטורה ממס כפי שמעוגן בחוק.
        </span>
    </p>

</div>
