<div id="bannerTextBox">
	<span class="int-en">
        Sefaria is a non-profit organization that relies on donations from users like you to keep our library free and growing. Commit to Jewish learning by making a gift today!
    </span>
	<span class="int-he">
        ספריא היא עמותה ללא מטרות רווח הנשענת על תרומות של משתמשים ומשתמשות כמוך, העוזרים לספרייה שלנו להמשיך לגדול ולהישאר חופשית לשימוש. כדי להשתתף בלימוד התורה המקוון, אפשר להעניק מתנה כתרומה עוד היום! 
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/supportsefaria_web">
        <span>DONATE</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/il_whb">
        <span>לתרומה</span>
    </a>
</div>