<div id="bannerTextBox">
	<span class="int-en">
        Calling all Torah lovers! Transform Jewish learning with a donation to Sefaria this GivingTuesday.
    </span>
	<span class="int-he">
        זוהי קריאה לכל אוהבי התורה! בואו לחולל שינוי בלימוד התורה בעזרת תרומה לספריא היום.
	</span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/supportsefaria_web">
        <span>DONATE TODAY</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/il_whb">
        <span>לביצוע תרומה</span>
    </a>
</div>