<div id="bannerTextBox">
	<span class="int-en">
    Did you know that you are one of 3M+ people who have visited Sefaria this year? We depend on donations from users like you to keep the library free and growing.
  </span>
	<span class="int-he">
    הידעת שאתה אחד מיותר משלושה מיליון איש שביקרו ספריא השנה?
    רק באמצעות תרומות של משתמשים כמוך אנחנו מצליחים להמשיך לפתח את הספרייה שלנו ולהשאיר אותה חופשית לשימוש.
  </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/supportsefaria_web">
        <span>Give Now</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/il_whb">
        <span>תרמו עכשיו</span>
    </a>
</div>
