<div id="bannerTextBox">
	<span class="int-en">
        Sefaria is a non-profit organization and we depend on donations from users like you to support the library. The future of Jewish learning is in your hands, can you donate $10 today?
    </span>
	<span class="int-he">
        ספריא היא ארגון ללא מטרות רווח הנשען על תרומות ממשתמשים כמוך, העוזרים לתמוך בספרייה שלנו. העתיד של לימוד התורה נמצא בידיים שלך – האם ביכולתך לתרום היום 10 דולרים למענו?
	</span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/supportsefaria_web">
        <span>DONATE</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/il_whb">
        <span>לביצוע תרומה</span>
    </a>
</div>