<div id="bannerTextBox">
	<span class="int-en">
        There are less than 24 hours left in 2020, and the future of Jewish learning is in your hands. Make your tax-deductible donation TODAY to fuel Sefaria in 2021.
    </span>
	<span class="int-he">
        נותרו פחות מ־24 שעות לשנת 2020, ועתידו של לימוד התורה המקוון נמצא בידיך. כדאי לתרום עוד היום כדי להטעין את ספריא בכוחות מחודשים לקראת 2021. 
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/supportsefaria_web">
        <span>Give Today</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/il_whb">
        <span>לתרומה עוד היום</span>
    </a>
</div>