<div id="bannerTextBox">
	<span class="int-en">
        Your gelt goes a long way when it comes to building a free, open source library of Jewish texts. Support Sefaria Today. Happy Chanukah!
    </span>
	<span class="int-he">
        חברים יקרים, בואו לעזור לספריא. דמי החנוכה שלכם שווים הרבה יותר כשהם מסייעים בבנייה של ספריית מקורות פתוחה וחופשית לשימוש. תמכו בספריא עוד היום. חנוכה שמח!
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/supportsefaria_web">
        <span>DONATE</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/il_whb">
        <span>לתרומה</span>
    </a>
</div>