<style>
    #highHolidayDonation {
        width: 410px;
        max-height: 100%;
        max-width: 100%;
    }
    .interface-english #highHolidayDonation {
        text-align: left;
    }
    .interface-hebrew #highHolidayDonation {
        text-align: left;
    }
    #highHolidayDonation p {
        color: #555;
    }
    #highHolidayDonation p .int-en {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    #highHolidayDonation p .int-he {
        font-family: "adobe-garamond-pro", Georgia, serif;
        /* font-family: "Heebo", sans-serif; */
    }
    #highHolidayDonation p.sub {
        color: #999;
        font-size: 12px;
        font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
    }
    #highHolidayDonation p {
        margin-top: 0;
    }
    #highHolidayDonation .button {
        margin-bottom: 20px; 
    }
    #highHolidayDonation img {
        max-width: 100%;
    }
</style>
<div id="highHolidayDonation">

    <p>
        <span class="int-en">If everyone reading this message during Elul  gave $5, we could keep Sefaria going well into the new year.</span>
        <span class="int-he">If everyone reading this message during Elul  gave $5, we could keep Sefaria going well into the new year.</span>
    </p>

    <p>
        <span class="int-en">Sefaria’s library is free for everyone and it’s more accessible than ever with a growing body of translations. But, we can only continue to foster Torah learning with your support. </span>
        <span class="int-he">Sefaria’s library is free for everyone and it’s more accessible than ever with a growing body of translations. But, we can only continue to foster Torah learning with your support. </span>
    </p>


    <center>
    <a class="button" target="_blank" href="https://bit.ly/supportsefaria">
        <span class="int-en">Make a Donation</span>
        <span class="int-he">Make a Donation</span>
    </a>
    </center>


    <p class="sub">
        <span class="int-en">
            Sefaria is a 501(c)(3) charitable organization; donations are tax-deductible as allowed by law.
        </span>
        <span class="int-he">
            התרומה לספריא פטורה ממס כפי שמעוגן בחוק.
        </span>
    </p>

</div>
