<style>
    #highHolidayDonation {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    #highHolidayDonation p {
        color: #999;
    }
    #highHolidayDonation p.first {
        margin-bottom: 40px;
    }
    #highHolidayDonation .button {
        margin-top: 20px;
    }
</style>
<div id="highHolidayDonation">
    <h1>
        <span class="int-en">Keep Sefaria Growing in the New Year</span>
        <span class="int-he">Keep Sefaria Growing in the New Year</span>
    </h1>

    <p>
        <span class="int-en">Support more texts, translations and tools.</span>
        <span class="int-he">Support more texts, translations and tools.</span>
    </p>

    <a class="button" target="_blank" href="https://bit.ly/1jqIwua">
        <span class="int-en">DONATE</span>
        <span class="int-he">DONATE</span>
    </a>
</div>
