<style>
    #highHolidayDonation {
        width: 410px;
        max-height: 100%;
        max-width: 100%;
    }
    #highHolidayDonation.optionB {
        width: 440px;
    }
    #highHolidayDonation p {
        color: #555;
        text-align: left;
    }
    .interface-hebrew #highHolidayDonation p {
        text-align: right;
        direction: ltr;
    }
    #highHolidayDonation .int-en {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    #highHolidayDonation .int-he {
        font-family: "Heebo", sans-serif;
    }
    #highHolidayDonation .he {
        font-family: "Taamey Frank", "Times New Roman", serif;
    }
    #highHolidayDonation p {
        margin-top: 0;
        margin-bottom: 28px;
    }
    #highHolidayDonation .button {
        margin-bottom: 20px;
    }
    #highHolidayDonation .buttons {
        text-align: center;
    }
    #highHolidayDonation .quote {
        text-align: center;
        margin-bottom: 28px;
    }
    #highHolidayDonation .quote div {
        margin-bottom: 5px;
    }
    .optionA, .optionB {
        display: none;
    }
</style>
<div id="highHolidayDonation" class="optionA">
    <div class="quote">
        <div class="int-en"><em>"Sweeter than honey, the drippings of the comb"</em></div>
        <div class="he">וּמְתוּקִ֥ים מִ֝דְּבַ֗שׁ וְנֹ֣פֶת צוּפִֽים</div>
        <div class="int-en">- Psalms 19:11</div>
        <div class="int-he he">(תהילים יט, יא)</div>       
    </div>

    <p>
        <span class="int-en">Help bring the sweetness of Torah into the New Year with a monthly donation today!</span>
        <span class="int-he">זאת ההזדמנות שלך לעזור להביא את מתיקות התורה אל השנה החדשה – בתרומה לספריא, עוד היום!</span>
    </p>
    <div class="buttons">
        <a class="button int-en" target="_blank" href="https://sefaria.nationbuilder.com/sustainers_rh20a">
            <span class="int-en">Become a Sefaria Sustainer</span>
        </a>
        <a class="button int-he" target="_blank" href="https://sefaria.nationbuilder.com/rh_il_20_a">
            <span class="int-he">לתרומה</span>
        </a>
    </div>
</div>

<div id="highHolidayDonation" class="optionB">
    <div class="quote">
        <div class="int-en"><em>"The more Torah, the more life; The more sitting, the more wisdom; The more counsel, the more understanding; The more charity, the more peace."</em></div>
        <div class="int-he he">מַרְבֶּה תוֹרָה, מַרְבֶּה חַיִּים. מַרְבֶּה יְשִׁיבָה, מַרְבֶּה חָכְמָה. מַרְבֶּה עֵצָה, מַרְבֶּה תְבוּנָה. מַרְבֶּה צְדָקָה, מַרְבֶּה שָׁלוֹם</div>
        <div class="int-en">- Pirkei Avot 2:7</div>
        <div class="int-he he"> (משנה אבות 2:7)</div>       
    </div>

    <p>
        <span class="int-en">Sefaria makes the Jewish textual tradition freely available to everyone. But this isn’t possible without support from users like you.</span>
        <span class="int-he">ספריא הופכת את המסורת הטקסטואלית שלנו לחופשית ולנגישה לכל אחד ואחת. אבל כל זה לא יכול לקרות ללא תמיכה של משתמשים כמוך.</span>
    </p>

    <p>
        <span class="int-en">Give the gift of Torah to <em>all</em> with a monthly donation. Shanah Tovah.</span>
        <span class="int-he">בעזרת התרומה שלך, רבים נוספים יוכלו לזכות במתנה שבלימוד התורה. שנה טובה!</span>
    </p>

    <div class="buttons">
        <a class="button int-en" target="_blank" href=" https://sefaria.nationbuilder.com/sustainers_rh20b">
            <span class="int-en">Become a Sefaria Sustainer</span>
        </a>
        <a class="button int-he" target="_blank" href="https://sefaria.nationbuilder.com/rh_il_20_b">
            <span class="int-he">לתרומה</span>
        </a>
    </div>
</div>