<style>
    #highHolidayDonation {
        width: 410px;
        max-height: 100%;
        max-width: 100%;
    }
    .interface-english #highHolidayDonation {
        text-align: left;
    }
    .interface-hebrew #highHolidayDonation {
        direction: ltr;
        text-align: right;
    }
    #highHolidayDonation p {
        color: #555;
    }
    #highHolidayDonation p .int-en {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    #highHolidayDonation p .int-he {
        font-family: "Heebo", sans-serif;
    }
    #highHolidayDonation p.sub {
        color: #999;
        font-size: 12px;
        font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    }
    #highHolidayDonation p {
        margin-top: 0;
    }
    #highHolidayDonation .button {
        margin-bottom: 20px;
    }
    #highHolidayDonation img {
        max-width: 100%;
    }
    #highHolidayDonation .buttons{
        text-align: center;
    }
    .leader {
        font-weight: bold;
    }
    .center{
        text-align: center;
    }

</style>
<div id="highHolidayDonation">

    <p>
        <span class="int-en"><i>Friends,</i></span>
    </p>

    <p>
        <span class="int-en">We're only $4,000 away from our goal of raising $90,000 for Sefaria's Innovation Fund. Please consider making a gift before Purim to support R&D for tech projects, the Powered by Sefaria Contest, and our internship program.</span>
        <span class="int-he">תמכו בדור הבא של לימוד התורה בעזרת תרומה לקרן החדשנות של ספריא. התרומות יממנו את פיתוח המוצר ואת תכנית הקיץ למתמחים.</span>
    </p>

    <p>
        <i><span class="int-en">Your gift will be an investment in the future of Torah and the next generation of learners and creators.</span></i>
    </p>
    <p>
        <span class="int-en">Thank you!</span>
    </p>
    <div class="buttons">
        <a class="button int-en" target="_blank" href="https://sefaria.nationbuilder.com/innovation_fund21">
            <span class="int-en">DONATE</span>
        </a>
        <a class="button int-he" target="_blank" href="https://sefaria.nationbuilder.com/innovation_fund21">
            <span class="int-he">לתרומה</span>
        </a>
    </div>

    <p class="sub center">
        <span class="int-en">
            Sefaria is a 501(c)(3) charitable organization;<br />donations are tax-deductible as allowed by law.
        </span>
    </p>

</div>
