<div id="bannerTextBox">
	<span class="int-en">
        Support the future of Torah with a donation to Sefaria’s Innovation Fund. All gifts are tax deductible and will go toward product development and our summer internship program.
    </span>
	<span class="int-he">
        תמכו בדור הבא של לימוד התורה בעזרת תרומה לקרן החדשנות של ספריא. התרומות יממנו את פיתוח המוצר ואת תכנית הקיץ למתמחים.
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/innovation_fund21?utm_source=Sefaria&utm_medium=Banner&utm_campaign=InnovationCampaign_Bnr2">
        <span>Give Now</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/innovation_fund21?utm_source=Sefaria&utm_medium=Banner&utm_campaign=InnovationCampaign_Bnr2">
        <span>לתרומה</span>
    </a>
</div>