<div id="bannerTextBox">
	<span class="int-en">
        We just launched the Sefaria Innovation Fund! Make an $18 tax-deductible donation today to inspire what’s next in Torah innovation!
    </span>
	<span class="int-he">
        בימים אלה ממש חנכנו את קרן החדשנות של ספריא. תרמו עוד היום ולתת השראה לדבר הבא בחדשנות התורנית.
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/innovation_fund21?utm_source=Sefaria&utm_medium=Banner&utm_campaign=InnovationCampaign_Bnr1">
        <span>DONATE</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/innovation_fund21?utm_source=Sefaria&utm_medium=Banner&utm_campaign=InnovationCampaign_Bnr1">
        <span>לתרומה</span>
    </a>
</div>