<style>
    #highHolidayDonation {
        width: 410px;
        max-height: 100%;
        max-width: 100%;
    }
    .interface-english #highHolidayDonation {
        text-align: left;
    }
    .interface-hebrew #highHolidayDonation {
        text-align: right;
    }
    #highHolidayDonation p {
        color: #555;
    }
    #highHolidayDonation p .int-en {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    #highHolidayDonation p .int-he {
        font-family: "adobe-garamond-pro", Georgia, serif;
        /* font-family: "Heebo", sans-serif; */
    }
    #highHolidayDonation p.sub {
        color: #999;
        font-size: 12px;
        font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    }
    #highHolidayDonation p {
        margin-top: 0;
    }
    #highHolidayDonation .button {
        margin-bottom: 20px;
    }
    #highHolidayDonation img {
        max-width: 100%;
    }
    #highHolidayDonation .buttons{
        text-align: center;
    }
    .leader {
        font-weight: bold;
    }
    .center{
        text-align: center;
    }

</style>
<div id="highHolidayDonation">

    <p>
        <span class="int-en"><i>Sefaria's paid internship program invests in two talented engineers to grow and learn with the Sefaria team.</i></span>
        <span class="int-he"><i>Sefaria's paid internship program invests in two talented engineers to grow and learn with the Sefaria team.</i></span>
    </p>

    <p>
        <span class="int-en">We're almost halfway to our $20,000 goal to cover summer 2020 intern program costs. Support the future of Torah and tech with an $18 donation today.</span>
        <span class="int-he">We're almost halfway to our $20,000 goal to cover summer 2020 intern program costs. Support the future of Torah and tech with an $18 donation today.</span>
    </p>
    <div class="buttons">
        <a class="button int-en" target="_blank" href="https://sefaria.nationbuilder.com/interncampaign20?utm_source=Sefaria&utm_medium=Web_Modal&utm_campaign=Intern_Campaign_20">
            <span class="int-en">Give Now</span>
        </a>
        <a class="button int-he" target="_blank" href="https://sefaria.nationbuilder.com/interncampaign20?utm_source=Sefaria&utm_medium=Web_Modal&utm_campaign=Intern_Campaign_20">
            <span class="int-he">Give Now</span>
        </a>
    </div>

    <p class="sub center">
        <span class="int-en">
            Sefaria is a 501(c)(3) charitable organization;<br />donations are tax-deductible as allowed by law.
        </span>
    </p>

</div>
