<style>
    #newUserWelcome {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    #newUserWelcome p {
        color: #999;
    }
    #newUserWelcome p.first {
        margin-bottom: 40px;
    }
    #newUserWelcome .fa {
        font-size: 36px;
        color: #999;
    }
    #newUserWelcome img {
        height: 36px;
        width: 36px;
        opacity: 0.4;
    }
    #newUserWelcome .iconic {
        text-align: left;
        margin: 30px;
    }
    #newUserWelcome .icon {
        float: left;
        margin-right: 20px;
    }
    #newUserWelcome .button {
        margin-top: 20px;
    }
</style>
<div id="newUserWelcome">
    <h1>Welcome to Sefaria</h1>

    <p class="iconic"><i class="fa fa-bars icon"></i> In the library menu (top left), you can explore Sefaria’s library, including community source sheets and other learning resources.</p>

    <p class="iconic"><img class="icon" src="/static/img/user-64.png" alt="User Icon">In your account (top right), you can access your source sheets, notes, update your profile and more.</p>

    <div class="button white">Let's Go!</div>
</div>
