<div id="bannerTextBox">
	<span class="int-en">
        If you can, please consider making a donation to Sefaria this Passover to help us meet the needs of our users during this difficult time.
	</span>
	<span class="int-he">
        לרגל חג הפסח נשמח אם תשקלו לתרום לספריא כדי לסייע לנו להמשיך לספק את שירותיה לכלל משתמשי האתר בתקופה קשה זו.
	</span>
</div>
<div id="bannerButtonBox">
    <span class="int-en">
        <a class="button white" href="https://sefaria.nationbuilder.com/support_w?utm_source=sefaria&utm_medium=modal&utm_campaign=support">
            Donate
        </a>
    </span>
    <span class="int-he">
        <a class="button white" href="https://sefaria.nationbuilder.com/il_mobile?utm_source=sefaria&utm_medium=modal&utm_campaign=EOY_Hebrew">
            תרמו
        </a>
    </span>
</div>