<style>
	.button {
		padding: 17px 20px;
		margin: 0;
	}
	.donateLink {
		text-transform: uppercase;
		display: block;
		margin-top: 12px;
	}

</style>

<div id="bannerTextBox">
	<span class="int-en">
Sefaria is here to help you prepare for Passover. Please consider making a donation to support Sefaria users around the world who are inspired to learn and tell the story of the exodus.
    </span>
	<span class="int-he">
ספריא תשמח מאוד לעזור לך להתכונן לליל הסדר. זה הזמן לתרום ולתמוך במשתמשי ספריא ברחבי העולם שצמאים ללמוד ולספר את סיפור יציאת מצרים.
    </span>
</div>
<div id="bannerButtonBox">
    <span class="int-en">
        <a class="button white trackedAction" target="_blank" href="https://sefaria.nationbuilder.com/supportsefaria_web">
            Donate
        </a>
    </span>
    <span class="int-he">
        <a class="button white trackedAction"  target="_blank" href="https://sefaria.nationbuilder.com/il_whb">
            לתרומה
        </a>
    </span>
</div>
