<style>
    #highHolidayDonation {
        width: 410px;
        max-height: 100%;
        max-width: 100%;
    }
    .interface-english #highHolidayDonation {
        text-align: left;
    }
    .interface-hebrew #highHolidayDonation {
        text-align: right;
    }
    #highHolidayDonation p {
        color: #555;
    }
    #highHolidayDonation p .int-en {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    #highHolidayDonation p .int-he {
        font-family: "adobe-garamond-pro", Georgia, serif;
        /* font-family: "Heebo", sans-serif; */
    }
    #highHolidayDonation p.sub {
        color: #999;
        font-size: 12px;
        font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    }
    #highHolidayDonation p {
        margin-top: 0;
    }
    #highHolidayDonation .button {
        margin-bottom: 20px; 
    }
    #highHolidayDonation img {
        max-width: 100%;
    }
    .leader {
        #font-weight: bold;
    }
    p.callToAction {
      display: block;
      clear: both;
      padding: 20px 0;
    }
    #highHolidayDonation p.callToAction .int-en {
      font-family: "Roboto", "Helvetica Neue", "Helvetica", sans-serif;
      font-size: 20px;
    }
    #highHolidayDonation p.callToAction .int-he {
      font-family: "Heebo", sans-serif;
      font-size: 20px;
    }
    .interface-hebrew .int-he.source {
        display: block;
        float: left;
    }
    .interface-english .int-en.source {
        display: block;
        float: right;
    }

</style>
<div id="highHolidayDonation">

    <p class="leader">
        <span class="int-en">“And even if we were all sages, all discerning, all elders, all knowledgeable about the Torah, it would be a commandment upon us to tell the story of the exodus from Egypt.”</span>
        <span class="int-en source">--Passover Haggadah, Magid</span>
        <span class="int-he">״וַאֲפִילוּ כֻּלָּנוּ חֲכָמִים כֻּלָּנוּ נְבוֹנִים כֻּלָּנוּ זְקֵנִים כֻּלָּנוּ יוֹדְעִים אֶת הַתּוֹרָה מִצְוָה עָלֵינוּ לְסַפֵּר בִּיצִיאַת מִצְרָיִם.״</span>
        <span class="int-he source">(הגדה של פסח, מגיד)</span>
    </p>

    <center>
        <p class="callToAction">
            <span class="int-en">Help us tell the story.</span>
            <span class="int-he">עזרו לנו לספר ביציאת מצרים.</span>
        </p>
    </center>

    <center>
    <a class="button int-en" target="_blank" href="https://sefaria.nationbuilder.com/support">
        <span class="int-en">Donate Now</span>
    </a>
    <a class="button int-he" target="_blank" href="https://sefaria.nationbuilder.com/il_mobile">
        <span class="int-he">לתרומה</span>
    </a>
    </center>

    <p class="sub">
        <span class="int-en">
            Sefaria is a 501(c)(3) charitable organization;<br />donations are tax-deductible as allowed by law.
        </span>
        <span class="int-he">
        </span>
    </p>

</div>
