<div id="bannerTextBox">
    <span class="int-en">
        Sefaria's global community showed up this #GivingTuesday and created a wave of radical generosity that is worth celebrating. 
        Thank you to everyone who gave – and to our whole community – for your generous support for and trust in Sefaria.
    </span>
	<span class="int-he">
        הקהילה הגלובלית של ספריא הוכיחה את עצמה ביום הנתינה הבינלאומי והפיקה גל מבורך של נדיבות רדיקלית. תודה לכל הנותנים - ולכל הקהילה שלנו - על תמיכתכם הנדיבה ועל האמון שלכם בספריא.
    </span>
</div>
