<div id="bannerTextBox">
	<span class="int-en" style="font-weight: bold">
        In celebration of Chanukah and #GivingTuesday colliding, please help Sefaria raise $18,000 for the library! 
    </span>
	<span class="int-he" style="font-weight: bold">
        היום הוא יום הנתינה הבינלאומי, וזו ההזדמנות שלך לעזור לספריא לסלול דרכים חדשות ומקוריות להגדלת תחומי ההשפעה והתפוצה של אוצרות הספרות היהודית.
    </span>
    
    <span class="int-en">
        Every donation counts towards expanding access to Jewish texts and improving your learning experience.  
    </span>
	<span class="int-he">
        תרמו לרגל #יום–הנתינה–הבינלאומי.
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/givingtuesday">
        <span>Donate Today</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/givingtuesday">
        <span>לתרומה כעת</span>
    </a>
</div>