<div id="bannerTextBox">
	<span class="int-en">
        Donate to Sefaria today to ensure that you – and people all over the world – can continue to have unfettered access to the Jewish library.
    </span>
	<span class="int-he">
        תרומה עוד היום לספריא תעזור לנו להמשיך ולשמור עבורך – ועבור לומדים ולומדות מכל רחבי העולם – על גישה חופשית בלי הגבלות לארון הספרים היהודי.
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/supportsefaria_web">
        <span>Donate</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/il_whb">
        <span>לתרומה</span>
    </a>
</div>