<style>
	.button {
		padding: 17px 20px;
		margin: 0;
	}
</style>
<div id="bannerTextBox">
	<span class="int-en">
	<b>Dear Sefaria Community</b> - On Shavuot, we received the Torah. On Sefaria, you receive the Torah every day. With your support, we can continue to foster Torah learning in new and unexpected ways. <b>Please consider making a donation today.</b> Sincerely, Team Sefaria
	</span>
	<span class="int-he">
	<b>HEBREW NEEDED</b>
	</span>
</div>
<div id="bannerButtonBox">
	<a class="button white" target="_blank" href="https://sefaria.nationbuilder.com/support">
        <img class="buttonIcon" src="/static/img/heart.png" alt="donation icon" />
        <span class="int-en">Donate</span>
        <span class="int-he">לתרומה</span>
    </a>
</div>
