<div id="bannerTextBox">
	<span class="int-en">
        <strong>Help Sefaria provide free access to Torah for Shavuot – and all year round.</strong>
	</span>
	<span class="int-he">
        <strong>
          סייעו לספריא בהנגשת לימוד תורה בחג השבועות – וכל השנה.
        </strong>
    </span>
</div>
<div id="bannerButtonBox">
        <span class="int-en">
            <a class="button white" href="https://sefaria.nationbuilder.com/support_w?utm_source=sefaria&utm_medium=modal&utm_campaign=support">
              Donate today
            </a>
        </span>
        <span class="int-he">
            <a class="button white" href="https://sefaria.nationbuilder.com/il_mobile?utm_source=sefaria&utm_medium=modal&utm_campaign=EOY_Hebrew">
              תרמו עוד היום!
            </a>
        </span>
</div>
