<style>
	.button {
		padding: 17px 20px;
		margin: 0;
	}
	.donateLink {
		text-transform: uppercase;
		display: block;
		margin-top: 12px;
	}
</style>
<div id="bannerTextBox">
	<span class="int-en">
	On Shavuot, we received the Torah. On Sefaria, you receive the Torah every day. With your support, we can continue to foster Torah learning in new and unexpected ways. <b>Please consider making a donation today.</b>
	<a class="mobileOnly donateLink trackedAction" target="_blank" href="https://sefaria.nationbuilder.com/donate_m">
        <span class="int-en">Donate</span>
        <span class="int-he">לתרומה</span>
    </a>
	</span>
	<span class="int-he">
	On Shavuot, we received the Torah. On Sefaria, you receive the Torah every day. With your support, we can continue to foster Torah learning in new and unexpected ways. <b>Please consider making a donation today.</b>
	<a class="mobileOnly donateLink trackedAction" target="_blank" href="https://sefaria.nationbuilder.com/donate_m">
        <span class="int-en">Donate</span>
        <span class="int-he">לתרומה</span>
    </a>
	</span>
</div>
<div id="bannerButtonBox">
	<a class="button white trackedAction" target="_blank" href="https://sefaria.nationbuilder.com/support">
        <img class="buttonIcon" src="/static/img/heart.png" alt="donation icon" />
        <span class="int-en">Donate</span>
        <span class="int-he">לתרומה</span>
    </a>
</div>
