<div id="bannerTextBox">
	<span class="int-en">
With over 268 million words of text currently on Sefaria, you can count on us for your Shavuot learning. Can we count on you? Make a monthly gift today so Sefaria’s free library of Jewish texts continues to thrive!
    </span>
	<span class="int-he">
בספריא מוצעות לקריאה יותר מ־268 מיליון מילים בשלל טקסטים, כך שאפשר לסמוך עלינו בלימוד של שלכם לחג השבועות. האם גם אנחנו יכולים לסמוך על התמיכה שלך? באפשרותך להירשם עוד היום לתרומה חודשית כדי לשמור על ספריית המקורות היהודיים של ספריא חופשית ולעזור לה להמשיך לצמוח.
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/sustainers_e">
        <span>Become a Monthly Donor</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/sustainers_e">
        <span>לתרומה חודשית</span>
    </a>
</div>