<style>
    #highHolidayDonation {
        width: 440px;
        max-height: 100%;
        max-width: 100%;
    }
    .interface-english #highHolidayDonation {
        text-align: left;
    }
    .interface-hebrew #highHolidayDonation {
        text-align: right;
    }
    #highHolidayDonation p {
        color: #555;
    }
    #highHolidayDonation p .int-en {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    #highHolidayDonation p .int-he {
        font-family: "adobe-garamond-pro", Georgia, serif;
        /* font-family: "Heebo", sans-serif; */
    }
    #highHolidayDonation p.sub {
        color: #999;
        font-size: 12px;
        font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    }
    #highHolidayDonation p {
        margin-top: 0;
    }
    #highHolidayDonation .button {
        margin-bottom: 20px; 
    }
    #highHolidayDonation img {
        max-width: 100%;
    }
</style>
<div id="highHolidayDonation">
    <p>
        <span class="int-en">Dear Sefaria Community,</span>
        <span class="int-he">קהילת ספריא היקרה,</span>
    </p>

    <p>
        <span class="int-en">On Shavuot, we received the Torah.</span>
        <span class="int-he">בחג השבועות חוגגים מתן תורה.</span>
    </p>
    <p>
        <span class="int-en">On Sefaria, you receive the Torah every day.</span>
        <span class="int-he">בספריא, כל יום חוגגים מתן תורה!</span>
    </p>
    <p>
        <span class="int-en">The library is free for everyone and it’s more accessible than ever with a growing body of translations. But, we can only continue to foster Torah learning with your support. Please consider making a donation today.</span>
        <span class="int-he">הספריה שלנו חינמית וזמינה יותר מתמיד, עם מאגר תרגומים שגדל כל הזמן. אבל כדי להמשיך לגדול ולקדם לימוד-תורה אנו זקוקים לתמיכתך. אנו מזמינים אותך לתרום לספריא עוד היום.</span>
    </p>


    <center>
    <a class="button" target="_blank" href="https://sefaria.nationbuilder.com/support">
        <span class="int-en">Make a Donation</span>
        <span class="int-he">לתרומה</span>
    </a>
    </center>

    <p>
        <span class="int-en">Sincerely,</span>
        <span class="int-he">בברכה,</span>
    </p>

    <p>
        <span class="int-en">Team Sefaria</span>
        <span class="int-he">צוות ספריא</span>
    </p>

    <p class="sub">
        <span class="int-en">
            Sefaria is a 501(c)(3) charitable organization;<br />donations are tax-deductible as allowed by law.
        </span>
        <span class="int-he">
        </span>
    </p>

</div>
