<style>
	.button {
		padding: 17px 20px;
		margin: 0;
	}
	.donateLink {
		text-transform: uppercase;
		display: block;
		margin-top: 12px;
	}
	.optionA, .optionB {
		display: none;
	}
</style>

<div id="bannerTextBox" class="optionA">
	<span class="int-en">
	Your support fuels Sefaria's library and uplifts our global community of learners. Chag Sameach!
	</span>
	<span class="int-he">
	התמיכה שלך תעזור לספריא להמשיך ולנוע קדימה ותביא את קהילת הלומדים העולמית שלנו לגבהים חדשים. חג שמח! 
	</span>
</div>
<div id="bannerButtonBox" class="optionA">
    <span class="int-en">
        <a class="button white trackedAction" target="_blank" href="https://sefaria.nationbuilder.com/support_elula">
            Donate
        </a>
    </span>
    <span class="int-he">
        <a class="button white trackedAction"  target="_blank" href="https://sefaria.nationbuilder.com/rh_il_20_b">
            לתרומה
        </a>
    </span>
</div>


<div id="bannerTextBox" class="optionB">
	<span class="int-en">
	Your support fuels Sefaria's library and uplifts our global community of learners. Chag Sameach!
	</span>
	<span class="int-he">
	התמיכה שלך תעזור לספריא להמשיך ולנוע קדימה ותביא את קהילת הלומדים העולמית שלנו לגבהים חדשים. חג שמח! 
	</span>
</div>
<div id="bannerButtonBox" class="optionB">
    <span class="int-en">
        <a class="button white trackedAction" target="_blank" href="https://sefaria.nationbuilder.com/sustainers_rh20a">
            Become a Monthly Donor
        </a>
    </span>
    <span class="int-he">
        <a class="button white trackedAction" target="_blank" href="https://sefaria.nationbuilder.com/rh_il_20_b">
            לתרומה
        </a>
    </span>
</div>