<style>
    #highHolidayDonation {
        width: 420px;
        max-height: 100%;
        max-width: 100%;
    }
    .interface-english #highHolidayDonation {
        text-align: left;
    }
    .interface-hebrew #highHolidayDonation {
        text-align: right;
    }
    #highHolidayDonation p {
        color: #555;
    }
    #highHolidayDonation p span,
    #highHolidayDonation p .int-en {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    #highHolidayDonation p .int-he {
        direction: ltr;
        font-family: "adobe-garamond-pro", Georgia, serif;
        /* font-family: "Heebo", sans-serif; */
    }
    #highHolidayDonation p.sub {
        color: #999;
        font-size: 12px;
        font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    }
    #highHolidayDonation p {
        margin-top: 0;
    }
    #highHolidayDonation p.quote .int-en {
        margin-bottom: 6px;
        display: inline-block;
    }
    #highHolidayDonation p.citation {
        margin-top: -10px;
        margin-bottom: 30px;
    }
    #highHolidayDonation .button {
        margin-bottom: 20px;
    }
    #highHolidayDonation img {
        max-width: 100%;
    }
    #highHolidayDonation .buttons{
        text-align: center;
    }
    .leader {
        font-weight: bold;
    }
    .center{
        text-align: center;
    }

</style>
<div id="highHolidayDonation">

    <p class="quote">
        <span class="int-en"><em>Teachers of children should be established in each and every province and in each and every town.</em></span>
        <span style="display:block; text-align:right; direction: ltr"><em>יהו מושיבין מלמדי תינוקות בכל מדינה ומדינה ובכל עיר ועיר.</em></span>
    </p>

    <p class="citation" style="display:block; text-align:right;">
        <span class="int-en">- Bava Batra 21a</span>
        <span class="int-he">- Bava Batra 21a</span>
    </p>

    <p>
        <span class="int-en">Help spread Torah in each and every town with Sefaria.</span>
        <span class="int-he">Help spread Torah in each and every town with Sefaria.</span>
    </p>
    <p>
        <span class="int-en">Chag Sameach!</span>
        <span class="int-he">Chag Sameach!</span>
    </p>

    <div class="buttons">
        <a class="button int-en" target="_blank" href="https://sefaria.nationbuilder.com/support_w?utm_source=Website&utm_medium=Modal&utm_campaign=Sukkot%202019">
            <span class="int-en">Donate</span>
        </a>
        <a class="button int-he" target="_blank" href="https://sefaria.nationbuilder.com/il_mobile?utm_source=Website&utm_medium=Modal&utm_campaign=Sukkot%202019">
            <span class="int-he">Donate</span>
        </a>
    </div>

    <p class="sub center">
        <span class="int-en">
            Sefaria is a 501(c)(3) charitable organization;<br />donations are tax-deductible as allowed by law.
        </span>
    </p>

</div>
