<style>
    #highHolidayDonation {
        width: 410px;
        max-height: 100%;
        max-width: 100%;
    }
    .interface-english #highHolidayDonation {
        text-align: left;
    }
    .interface-hebrew #highHolidayDonation {
        text-align: right;
    }
    #highHolidayDonation p {
        color: #555;
    }
    #highHolidayDonation p span,
    #highHolidayDonation p .int-en {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    #highHolidayDonation p .int-he {
        direction: ltr;
        font-family: "adobe-garamond-pro", Georgia, serif;
        /* font-family: "Heebo", sans-serif; */
    }
    #highHolidayDonation p.sub {
        color: #999;
        font-size: 12px;
        font-family: "Roboto", "Helvetica Neue", Helvetica, sans-serif;
    }
    #highHolidayDonation p {
        margin-top: 0;
    }
    #highHolidayDonation .button {
        margin-bottom: 20px;
    }
    #highHolidayDonation img {
        max-width: 100%;
    }
    #highHolidayDonation .buttons{
        text-align: center;
    }
    .leader {
        font-weight: bold;
    }
    .center{
        text-align: center;
    }

</style>
<div id="highHolidayDonation">

    <p>
        <span class="int-en"><em>All of Israel are fit to live in one sukkah</em></span>
        <span style="display:block; text-align:right;"><em>כל ישראל ראוים לישב בסוכה אחת</em></span>
    </p>

    <p>
        <span class="int-en">- Sukkah 27b</span>
        <span class="int-he">(סוכה כז ב׳)</span>
    </p>
    <p>
        <span class="int-en">Sefaria is building a future home for Torah study that can fit all of Israel for generations to come.</span>
        <span class="int-he">ספריא בונה את התשתית העתידית ללימוד תורה, עבור כלל ישראל - לדורות הבאים</span>
    </p>
    <p>
        <span class="int-en">Will you be a pillar holding up our sukkah?</span>
        <span class="int-he">הצטרפו לקהילת עמודי התווך של ספריא</span>
    </p>

    <div class="buttons">
        <a class="button int-en" target="_blank" href="https://sefaria.nationbuilder.com/support_w?utm_source=Website&utm_medium=Modal&utm_campaign=Elul%202019">
            <span class="int-en">Donate</span>
        </a>
        <a class="button int-he" target="_blank" href="https://sefaria.nationbuilder.com/il_mobile?utm_source=Website&utm_medium=Modal&utm_campaign=Elul%202019">
            <span class="int-he">תרומה</span>
        </a>
    </div>

    <p class="sub center">
        <span class="int-en">
            Sefaria is a 501(c)(3) charitable organization;<br />donations are tax-deductible as allowed by law.
        </span>
    </p>

</div>
