<style>
    #surveyPrompt {
        width: 410px;
        padding-top: 10px;
        max-height: 100%;
        max-width: 100%;
    }
    .interface-english #surveyPrompt {
        text-align: left;
    }
    .interface-hebrew #surveyPrompt {
        text-align: right;
        direction: ltr;
    }
    #surveyPrompt p {
        color: #555;
    }
    #surveyPrompt p .int-en {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    #surveyPrompt p .int-he {
        font-family: "Heebo", sans-serif;
    }
    #surveyPrompt p {
        margin-top: 0;
    }
    #surveyPrompt .button {
        margin-top: 10px;
        margin-bottom: 20px; 
    }

</style>
<div id="surveyPrompt">

    <p>
        <span class="int-en">Your opinion matters — Be a part of Sefaria's future!</span>
        <span class="int-he">נשמח אם תהיו שותפים בעיצוב עתידה של ספריא!</span>
    </p>

    <p>
        <span class="int-en">Please take our user survey to help us understand your experience and improve our offerings. You will receive a special thank you for your participation.</span>
        <span class="int-he">אנא ענו על הסקר שלנו- כדי לסייע לנו להתקדם ולהשתפר.</span>
    </p>

    <center>
        <a class="int-en button trackedAction" target="_blank" href="https://www.surveymonkey.com/r/Sefaria2020web-EN">Take the Survey</a>
        <a class="int-he button trackedAction" target="_blank" href="https://www.surveymonkey.com/r/Sefaria-2020-Web-Hebrew">ענה על הסקר</a>
    </center>

</div>
