<style>
    #surveyPrompt {
        width: 410px;
        max-height: 100%;
        max-width: 100%;
    }
    .interface-english #surveyPrompt {
        text-align: left;
    }
    .interface-hebrew #surveyPrompt {
        text-align: left;
    }
    #surveyPrompt p {
        color: #555;
    }
    #surveyPrompt p .int-en {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    #surveyPrompt p .int-he {
        font-family: "adobe-garamond-pro", Georgia, serif;
        /* font-family: "Heebo", sans-serif; */
    }
    #surveyPrompt p.sub {
        color: #999;
        font-size: 12px;
        font-family: "proxima-nova", "Helvetica Neue", Helvetica, sans-serif;
    }
    #surveyPrompt p {
        margin-top: 0;
    }
    #surveyPrompt .button {
        margin-bottom: 20px; 
    }
    #surveyPrompt img {
        max-width: 100%;
    }
</style>
<div id="surveyPrompt">
    <p>
        <span class="int-en">Dear Sefaria Community,</span>
        <span class="int-he">Dear Sefaria Community,</span>
    </p>

    <p>
        <span class="int-en">We strive to continually improve our platform and to do that, we need to better understand who you are and why you use Sefaria.</span>
        <span class="int-he">We strive to continually improve our platform and to do that, we need to better understand who you are and why you use Sefaria.</span>
    </p>

    <p>
        <span class="int-en">Help us become your most valuable resource by completing this quick survey.</span>
        <span class="int-he">Help us become your most valuable resource by completing this quick survey.</span>
    </p>

    <center>
    <a class="button trackedAction" target="_blank" href="https://bit.ly/2CGsBWm">
        <span class="int-en">Take Survey</span>
        <span class="int-he">Take Survey</span>
    </a>
    </center>

</div>
