<div id="bannerTextBox">
	<span class="int-en">
        <strong>If everyone seeing this message gave $10 a month, Sefaria could keep Torah free, online, and accessible for the entire year.</strong>
	</span>
	<span class="int-he">
        <strong>
            אם כל מי שיראו את המודעה הזאת יתרמו לספריא 10 דולרים בחודש, ספריא תוכל להמשיך ולשמור על גישה חופשית, מקוונת ונגישה לתורה למשך כל השנה.
        </strong>
	</span>
</div>
<div id="bannerButtonBox">
	<a class="button white" href="https://sefaria.nationbuilder.com/sustainers_b">
        <span class="int-en">BECOME A SUSTAINER</span>
        <span class="int-he">הצטרפות לתרומה חודשית לספריא</span>
    </a>
</div>