<style>
    #bannerMessage {
        background-color: #AB4E66;
    }
</style>
<div id="bannerTextBox">
	<span class="int-en">
In honor of Simchat Torah, we want to express our gratitude to you and the entire Sefaria community. Your donations, source sheets, and hours spent studying enable millions of people to celebrate Torah every single day. Chag Sameach!    </span>
	<span class="int-he">
לכבוד שמחת תורה, אנחנו רוצים להביע את תודתנו לך ולכל קהילת ספריא. התרומות, דפי המקור ושעות הלימוד הרבות שלך מאפשרים למיליוני אנשים לחגוג את התורה בכל יום ויום. חג שמח!
    </span>
</div>
