<div id="bannerTextBox">
	<span class="int-en">
This Tishrei, Sponsor a Day of Learning so that you can honor, celebrate, and memorialize your loved ones in Sefaria's library.
    </span>
	<span class="int-he">
בתשרי הזה אנו מציעים לכם להקדיש יום לימוד. בדרך זו אתם יכולים להוקיר, לחגוג ולזכור את יקיריכם באמצעות הספרייה של ספריא.
    </span>
</div>
<div id="bannerButtonBox">
	<a class="button white int-en" href="https://sefaria.nationbuilder.com/sponsor">
        <span>Sign up Today</span>
    </a>
    <a class="button white int-he" href="https://sefaria.nationbuilder.com/sponsor">
        <span>להרשמה עכשיו</span>
    </a>
</div>