{% load static %}
<style>
    #welcomeToS2LoggedIn {
        font-family: "adobe-garamond-pro", Georgia, serif;
    }
    #welcomeToS2LoggedIn p {
        color: #999;
    }
    #welcomeToS2LoggedIn p.first {
        margin-bottom: 40px;
    }
    #welcomeToS2LoggedIn .fa {
        font-size: 36px;
        color: #999;
    }
    #welcomeToS2LoggedIn img {
        height: 36px;
        width: 36px;
        opacity: 0.4;
    }
    #welcomeToS2LoggedIn .iconic {
        text-align: left;
        margin: 30px;
        display: flex;
        align-items: flex-start;
    }
    #welcomeToS2LoggedIn .icon {
        box-sizing: border-box;
        margin-right: 20px;
    }
    #welcomeToS2LoggedIn .button {
        margin-top: 20px;
    }
</style>
<div id="welcomeToS2LoggedIn">
    <h1>Welcome to the new Sefaria</h1>

    <p class="first">After nearly a year of research, collecting user feedback and extensive user testing, we are excited to unveil a completely redesigned Sefaria.</p>

    <p class="iconic"><i class="fa fa-bars icon"></i><span>In the library menu (top left), you can explore Sefaria’s library, including community source sheets and other learning resources.</span> </p>

    <p class="iconic"><img class="icon" src="{% static 'img/user-64.png' %}" alt="User Icon"><span>In your account (top right), you can access your source sheets, notes, update your profile and more.</span></p>

    <div class="button white">Let's Go!</div>
</div>