body {
	background-color: #fff;
	font-family: "Times New Roman", "Georgia", serif;

}

.sheetItem {
  	width: 300px;
	background-color: #fff; 
	border:1px solid #E8E8E8;
	position:absolute;
	overflow:hidden;
	min-width:200px;
	box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
	padding-top: 40px;
	left: -1000px;
	box-sizing: content-box;
}


.yellow {
	background-color: #dfcd97; 	
}

.pink {
	background-color: #dd9c9e;
}
.blue {
	background-color: #80def2;
}
.green {
	background-color: #a3e1bb;
}
.white {
	background-color: #fff;
}

.purple {
	background-color: #cb98d5;
}





.colorSelect {
	text-align:center;
	margin-top: -30px;
	visibility: hidden;
}

.colorSelect div {
	width:15px;
	height:15px;
	border:1px solid #E8E8E8;
    border-radius: 50%;
	display:inline-block;
	margin:5px;
	cursor: pointer;
}

#controls {
	left:20px;
	margin-left:0;
	z-index:100;
}

.zoomButton {
	display: block;
	text-align: center;
	margin-bottom: 10px;
	cursor: pointer;
	color: white;
	background-color: #06c;
	position: relative;
	font-size: 18px;
	width: 60px;
	height: 60px;
	line-height: 60px;
	vertical-align: middle;
	border-radius: 50%;
	box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}

.sheetItem .en {
	direction: ltr;
}
.sheetItem .he {
	direction: ltr;
	text-align: left;
	font-family: "Times New Roman", Serif;
	font-size: 24px;
}

#saveButton {
	position: fixed;
	top: 60px;
	right: 10px;
	z-index: 100;
}

#textTocLink {
	position: fixed;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}