{
  "openapi": "3.0.2",
  "info": {
    "title": "Sefaria API",
    "version": "1.0.0",
    "description": "The Sefaria API endpoints grant live access to Sefaria's structured database of Jewish texts and their interconnections.",
    "contact": {
      "url": "https://www.sefaria.org",
      "email": "developers@sefaria.org"
    },
    "license": {
      "name": "GNU AGPLv3",
      "url": "https://www.gnu.org/licenses/agpl.txt"
    }
  },
  "servers": [
    {
      "url": "https://www.sefaria.org",
      "description": ""
    }
  ],
  "tags": [
    {
      "name": "Text",
      "description": "Operations related to retrieving texts"
    },
    {
      "name": "Index",
      "description": "Operations related to Sefaria indices"
    },
    {
      "name": "Related",
      "description": "Operations related to retrieving links and relationships between texts"
    },
    {
      "name": "Calendars",
      "description": "Operations related to retrieving calendar data"
    },
    {
      "name": "Lexicon",
      "description": "Operations related to retrieving lexicon (dictionary) data"
    },
    {
      "name": "Topic",
      "description": "Operations related to retrieving topic data"
    },
    {
      "name": "Term",
      "description": "Operations related to retrieving Term data (a Sefaria Term is a shared title node)"
    },
    {
      "name": "Sheets",
      "description": "Operations related to Sefaria source sheets"
    },
    {
      "name": "Collections",
      "description": "Operations related to Sefaria collections — curated groups of source sheets"
    },
    {
      "name": "Misc",
      "description": "Miscellaneous API endpoints"
    }
  ],
  "paths": {
    "/api/v3/texts/{tref}": {
      "summary": "v3 Texts",
      "description": "The most up-to-date way to retrieve Sefaria texts, with language data that can handle displaying a right-to-left text with a right-to-left translation. ",
      "get": {
        "operationId": "get-v3-texts",
        "tags": [
          "Text"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/v3TextsJson"
                },
                "examples": {
                  "Esther 1.1": {
                    "value": {
                      "versions": [
                        {
                          "status": "locked",
                          "priority": 2,
                          "license": "CC-BY-SA",
                          "versionNotes": "<i>Miqra According to the Masorah</i> (MAM) is a digital Hebrew edition of the Tanakh based on the Aleppo Codex and related manuscripts. It is designed for readers, and as such it contains added elements to aid vocalization of the text. For instance: When an accent is marked in an unstressed syllable, an extra accent is added in the proper place (<i>pashta</i>, <i>zarqa</i>, <i>segol</i>, <i>telisha</i>). <i>Legarmeih</i> and <i>paseq</i> are visibly distinguished. <i>Qamaz qatan</i> is indicated by its designated Unicode character (alternatives are documented where traditions differ about its application).<br>The text of MAM is fully documented. The <a href=\"https://he.wikisource.org/wiki/%D7%9E%D7%A9%D7%AA%D7%9E%D7%A9:Dovi/%D7%9E%D7%A7%D7%A8%D7%90_%D7%A2%D7%9C_%D7%A4%D7%99_%D7%94%D7%9E%D7%A1%D7%95%D7%A8%D7%94/%D7%9E%D7%99%D7%93%D7%A2_%D7%A2%D7%9C_%D7%9E%D7%94%D7%93%D7%95%D7%A8%D7%94_%D7%96%D7%95\">complete introduction</a> to the edition (Hebrew) explains the types of editorial decisions that have been made and the reasons for them (<a href=\"https://en.wikisource.org/wiki/User:Dovi/Miqra_according_to_the_Masorah#About_this_Edition_(English_Abstract)\">English abstract</a>). In addition, every word in the Bible about which there is some textual concern or ambiguity includes a documentation note; these notes can be viewed conveniently <a href=\"https://bdenckla.github.io/MAM-with-doc/\">here</a>. If an error is discovered, it may be reported to <a href=\"https://he.wikisource.org/wiki/%D7%A9%D7%99%D7%97%D7%AA_%D7%9E%D7%A9%D7%AA%D7%9E%D7%A9:Dovi\">User:Dovi</a> at Hebrew Wikisource. Please check the documentation notes before reporting an error.",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "מקרא על פי המסורה",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "he",
                          "languageFamilyName": "hebrew",
                          "isSource": true,
                          "isPrimary": true,
                          "direction": "rtl",
                          "language": "he",
                          "versionSource": "https://he.wikisource.org/wiki/%D7%9E%D7%A9%D7%AA%D7%9E%D7%A9:Dovi/%D7%9E%D7%A7%D7%A8%D7%90_%D7%A2%D7%9C_%D7%A4%D7%99_%D7%94%D7%9E%D7%A1%D7%95%D7%A8%D7%94",
                          "versionTitle": "Miqra according to the Masorah",
                          "text": "וַיְהִ֖י בִּימֵ֣י אֲחַשְׁוֵר֑וֹשׁ ה֣וּא אֲחַשְׁוֵר֗וֹשׁ הַמֹּלֵךְ֙ מֵהֹ֣דּוּ וְעַד־כּ֔וּשׁ שֶׁ֛בַע וְעֶשְׂרִ֥ים וּמֵאָ֖ה מְדִינָֽה׃"
                        }
                      ],
                      "available_versions": [
                        {
                          "status": "locked",
                          "priority": 2,
                          "license": "CC-BY-SA",
                          "versionNotes": "<i>Miqra According to the Masorah</i> (MAM) is a digital Hebrew edition of the Tanakh based on the Aleppo Codex and related manuscripts. It is designed for readers, and as such it contains added elements to aid vocalization of the text. For instance: When an accent is marked in an unstressed syllable, an extra accent is added in the proper place (<i>pashta</i>, <i>zarqa</i>, <i>segol</i>, <i>telisha</i>). <i>Legarmeih</i> and <i>paseq</i> are visibly distinguished. <i>Qamaz qatan</i> is indicated by its designated Unicode character (alternatives are documented where traditions differ about its application).<br>The text of MAM is fully documented. The <a href=\"https://he.wikisource.org/wiki/%D7%9E%D7%A9%D7%AA%D7%9E%D7%A9:Dovi/%D7%9E%D7%A7%D7%A8%D7%90_%D7%A2%D7%9C_%D7%A4%D7%99_%D7%94%D7%9E%D7%A1%D7%95%D7%A8%D7%94/%D7%9E%D7%99%D7%93%D7%A2_%D7%A2%D7%9C_%D7%9E%D7%94%D7%93%D7%95%D7%A8%D7%94_%D7%96%D7%95\">complete introduction</a> to the edition (Hebrew) explains the types of editorial decisions that have been made and the reasons for them (<a href=\"https://en.wikisource.org/wiki/User:Dovi/Miqra_according_to_the_Masorah#About_this_Edition_(English_Abstract)\">English abstract</a>). In addition, every word in the Bible about which there is some textual concern or ambiguity includes a documentation note; these notes can be viewed conveniently <a href=\"https://bdenckla.github.io/MAM-with-doc/\">here</a>. If an error is discovered, it may be reported to <a href=\"https://he.wikisource.org/wiki/%D7%A9%D7%99%D7%97%D7%AA_%D7%9E%D7%A9%D7%AA%D7%9E%D7%A9:Dovi\">User:Dovi</a> at Hebrew Wikisource. Please check the documentation notes before reporting an error.",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "מקרא על פי המסורה",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "he",
                          "languageFamilyName": "hebrew",
                          "isSource": true,
                          "isPrimary": true,
                          "direction": "rtl",
                          "language": "he",
                          "title": "Esther",
                          "versionSource": "https://he.wikisource.org/wiki/%D7%9E%D7%A9%D7%AA%D7%9E%D7%A9:Dovi/%D7%9E%D7%A7%D7%A8%D7%90_%D7%A2%D7%9C_%D7%A4%D7%99_%D7%94%D7%9E%D7%A1%D7%95%D7%A8%D7%94",
                          "versionTitle": "Miqra according to the Masorah"
                        },
                        {
                          "status": "locked",
                          "priority": 2,
                          "license": "CC-BY-NC",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "JPS, 1985",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "https://storage.googleapis.com/sefaria-physical-editions/JPS_1985.png",
                          "purchaseInformationURL": "https://www.nebraskapress.unl.edu/jps/9780827602526/",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "en",
                          "languageFamilyName": "english",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "https://jps.org/books/tanakh-the-holy-scriptures-blue/",
                          "versionTitle": "Tanakh: The Holy Scriptures, published by JPS"
                        },
                        {
                          "status": "locked",
                          "priority": 1,
                          "license": "Public Domain",
                          "versionNotes": "This 1917 translation by the Jewish Publication Society is in the public domain. JPS graciously shared digital images of this text with the Open Siddur Project, from which the text was imported by Sefaria.",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "כתבי הקודש: תרגום חדש (1917 JPS)",
                          "versionNotesInHebrew": "תרגום JPS 1917 קיים בנחלת הכלל. הסריקות באדיבות JPS. שעתוק הטקסט תודות לפרויקט Open Siddur, משם יובא הטקסט למאגר ספריא",
                          "shortVersionTitle": "JPS 1917",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "en",
                          "languageFamilyName": "english",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "http://opensiddur.org/2010/08/%D7%AA%D7%A0%D7%B4%D7%9A-the-holy-scriptures-a-new-translation-jps-1917/",
                          "versionTitle": "The Holy Scriptures: A New Translation (JPS 1917)"
                        },
                        {
                          "status": "locked",
                          "priority": 1,
                          "license": "Public Domain",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "תנ״ך מלווה בטעמי מקרא",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "he",
                          "languageFamilyName": "hebrew",
                          "isSource": true,
                          "isPrimary": true,
                          "direction": "rtl",
                          "language": "he",
                          "title": "Esther",
                          "versionSource": "http://www.tanach.us/Tanach.xml",
                          "versionTitle": "Tanach with Ta'amei Hamikra"
                        },
                        {
                          "status": "locked",
                          "priority": "",
                          "license": "Public Domain",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "תנ״ך - טקסט בלבד",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "he",
                          "languageFamilyName": "hebrew",
                          "isSource": true,
                          "isPrimary": true,
                          "direction": "rtl",
                          "language": "he",
                          "title": "Esther",
                          "versionSource": "http://www.tanach.us/Tanach.xml",
                          "versionTitle": "Tanach with Text Only"
                        },
                        {
                          "status": "locked",
                          "priority": "",
                          "license": "Public Domain",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "תנ״ך עם ניקוד",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "he",
                          "languageFamilyName": "hebrew",
                          "isSource": true,
                          "isPrimary": true,
                          "direction": "rtl",
                          "language": "he",
                          "title": "Esther",
                          "versionSource": "http://www.tanach.us/Tanach.xml",
                          "versionTitle": "Tanach with Nikkud"
                        },
                        {
                          "status": "",
                          "priority": "",
                          "license": "",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "תרגום קהילת ספריא",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "en",
                          "languageFamilyName": "english",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "https://www.sefaria.org",
                          "versionTitle": "Sefaria Community Translation"
                        },
                        {
                          "status": "locked",
                          "priority": "",
                          "license": "CC-BY",
                          "versionNotes": "To enhance the quality of this text, obvious translation errors were corrected in accordance with the Hebrew source",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "כתובים' על פי רש״י, רבי שרגא זילברשטיין",
                          "versionNotesInHebrew": "כדי לשפר את איכות הטקסט הזה, שונו שגיאות תרגום ברורות בהתאם למקור העברי",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "en",
                          "languageFamilyName": "english",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "http://www.sefaria.org/shraga-silverstein",
                          "versionTitle": "The Rashi Ketuvim by Rabbi Shraga Silverstein"
                        },
                        {
                          "status": "locked",
                          "priority": "",
                          "license": "CC-BY-NC",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "https://storage.googleapis.com/sefaria-physical-editions/9f4b3fedfe5a8889a3a7b3b7f3022091.png",
                          "purchaseInformationURL": "https://korenpub.com/collections/tanakh",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "en",
                          "languageFamilyName": "english",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "https://www.korenpub.com/koren_en_usd/koren/tanakh-bible/the-koren-jerusalem-bible.html",
                          "versionTitle": "The Koren Jerusalem Bible"
                        },
                        {
                          "status": "locked",
                          "priority": "",
                          "license": "CC-BY",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "https://storage.googleapis.com/sefaria-physical-editions/958565938f3a7ed617834d467ac93c9f.png",
                          "purchaseInformationURL": "https://www.israelbookshoppublications.com/store/pc/Metsudah-Five-Megilloth-w-Rashi-26p309.htm",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "en",
                          "languageFamilyName": "english",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "https://www.judaicaplace.com/search/brand/Metsudah-Publications/",
                          "versionTitle": "The Metsudah Five Megillot, Lakewood, N.J., 2001"
                        },
                        {
                          "status": "locked",
                          "priority": "",
                          "license": "CC-BY",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "חמש מגילות, הוצאת 'מצודה', לייקווד תשס\"א",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "https://storage.googleapis.com/sefaria-physical-editions/232433ac3323606604f21e0c70f0c061.png",
                          "purchaseInformationURL": "https://www.israelbookshoppublications.com/store/pc/Metsudah-Five-Megilloth-w-Rashi-26p309.htm",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "he",
                          "languageFamilyName": "hebrew",
                          "isSource": true,
                          "isPrimary": true,
                          "direction": "rtl",
                          "language": "he",
                          "title": "Esther",
                          "versionSource": "https://www.judaicaplace.com/search/brand/Metsudah-Publications/",
                          "versionTitle": "The Metsudah Five Megillot, Lakewood, N.J., 2001"
                        },
                        {
                          "status": "locked",
                          "priority": "",
                          "license": "",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "מגילת אסתר - מהדורה פורימית!!",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "he",
                          "languageFamilyName": "hebrew",
                          "isSource": true,
                          "isPrimary": true,
                          "direction": "rtl",
                          "language": "he",
                          "title": "Esther",
                          "versionSource": "https://www.sefaria.org",
                          "versionTitle": "Megillat Esther - Purim Edition!!"
                        },
                        {
                          "status": "locked",
                          "priority": "",
                          "license": "Public Domain",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "fr",
                          "languageFamilyName": "french",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "https://fr.wikisource.org/wiki/Bible_du_Rabbinat_1899",
                          "versionTitle": "Bible du Rabbinat 1899 [fr]"
                        },
                        {
                          "status": "",
                          "priority": "",
                          "license": "CC0",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "מגילת אמוג'י",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "he",
                          "languageFamilyName": "hebrew",
                          "isSource": true,
                          "isPrimary": true,
                          "direction": "rtl",
                          "language": "he",
                          "title": "Esther",
                          "versionSource": "https://www.sefaria.org",
                          "versionTitle": "Emoji Megillah"
                        },
                        {
                          "status": "",
                          "priority": "",
                          "license": "CC0",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "en",
                          "languageFamilyName": "english",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "https://www.sefaria.org",
                          "versionTitle": "Emoji Megillah"
                        },
                        {
                          "status": "",
                          "priority": "",
                          "license": "Public Domain",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "Izaak Cylkow, 1841 - 1908 ",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "pl",
                          "languageFamilyName": "polish",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "http://bibliepolskie.pl/",
                          "versionTitle": "Bible in Polish, trans. Izaak Cylkow, 1841 - 1908 [pl]"
                        },
                        {
                          "status": "",
                          "priority": "",
                          "license": "Public Domain",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "it",
                          "languageFamilyName": "italian",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "http://www.archivio-torah.it",
                          "versionTitle": "Ester. Traduzione italiana di Samuel David Luzzatto, 1872 [it]"
                        },
                        {
                          "status": "",
                          "priority": "",
                          "license": "",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "fa",
                          "languageFamilyName": "persian",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "rtl",
                          "language": "he",
                          "title": "Esther",
                          "versionSource": "http://www.iranjewish.com/megilla/megilla_main.htm",
                          "versionTitle": "Book of Esther in Farsi, trans. by Pole-Choubi, synagogue Talmood Torah [fa]"
                        },
                        {
                          "status": "",
                          "priority": "",
                          "license": "",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "fa",
                          "languageFamilyName": "persian",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "http://www.iranjewish.com/megilla/megilla_main.htm",
                          "versionTitle": "Book of Esther in Farsi, trans. by Pole-Choubi, synagogue Talmood Torah, LTR [fa]"
                        },
                        {
                          "status": "",
                          "priority": "",
                          "license": "Public Domain",
                          "versionNotes": "This 1941 translation published by Yehoʼash Farlag Gezelshaft is in the public domain. A transcribed digitized version was produced by Itsik \"Robert\" Goldenberg, et al, by the Yehoyesh Project (1998-2006) under the direction of Leonard Prager. That version was graciously shared with the Open Siddur Project, from which the text was imported by Sefaria.",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "yi",
                          "languageFamilyName": "yiddish",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "rtl",
                          "language": "he",
                          "title": "Esther",
                          "versionSource": "http://opensiddur.org/praxes/study/yehoyeshs-yiddish-translation-of-the-tanakh/",
                          "versionTitle": "Yehoyesh's Yiddish Tanakh Translation [yi]"
                        },
                        {
                          "status": "locked",
                          "priority": "",
                          "license": "",
                          "versionNotes": "<b>Translator:</b> Marion Kaufmann, based on german translations of Tur-Sinai, Martín Buber and Franz Rosenzwig<br><b>Review and correction:</b> Manes Kogan<br><b>Final Review:</b> Batia Dorfman",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "es",
                          "languageFamilyName": "spanish",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "https://www.seminariorabinico.org/wp-content/uploads/El-libro-de-Ester-Meguila-Ester.pdf",
                          "versionTitle": "El libro de Ester - Meguila Ester - Seminario Rabínico [es]"
                        },
                        {
                          "status": "",
                          "priority": "",
                          "license": "",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "Samuel Cahen, 1831 ",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "fr",
                          "languageFamilyName": "french",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "https://www.levangile.com/Bible-CAH-1-1-1-complet-Contexte-oui.htm",
                          "versionTitle": "La Bible, Traduction Nouvelle, Samuel Cahen, 1831 [fr]"
                        },
                        {
                          "status": "locked",
                          "priority": "",
                          "license": "Public Domain",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "eo",
                          "languageFamilyName": "esperanto",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "https://eo.wikisource.org/wiki/Malnova_Testamento_(Zamenhof)/Ester/1",
                          "versionTitle": "La Malnova Testamento, L.L.Zamenhof [eo]"
                        },
                        {
                          "status": "",
                          "priority": "",
                          "license": "",
                          "versionNotes": "Digitized by Chajm Guski and Marina Struse",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "de",
                          "languageFamilyName": "german",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "https://www.talmud.de/tlmd/tanach/",
                          "versionTitle": "Die Heilige Schrift, trans. Dr. Simon Bernfeld, Berlin, 1902 - German [de]"
                        },
                        {
                          "status": "locked",
                          "priority": "",
                          "license": "PD",
                          "versionNotes": "",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": true,
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "",
                          "purchaseInformationURL": "",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "he",
                          "languageFamilyName": "hebrew",
                          "isSource": true,
                          "isPrimary": true,
                          "direction": "rtl",
                          "language": "he",
                          "title": "Esther",
                          "versionSource": "https://he.wikisource.org/wiki/%D7%9E%D7%A7%D7%A8%D7%90_%D7%9E%D7%91%D7%95%D7%90%D7%A8",
                          "versionTitle": "Miqra Mevoar, trans. and edited by David Kokhav, Jerusalem 2020"
                        },
                        {
                          "status": "",
                          "priority": "",
                          "license": "",
                          "versionNotes": "<a href=\"http://purl.org/jps/rjps-preface\">Read the Preface to the Revised JPS Edition</a>\n<br><br>\n<a href=\"http://purl.org/jps/gender\">Read the Notes on Gender in Translation for the Revised JPS Edition</a>\n<br><br>\n<a href=\"https://www.sefaria.org/collections/commentary-on-the-usage-and-rendering-of-%D7%90%D7%99%D7%A9?tab=sheets\">Read a Commentary on the Hebrew word 'ish in the Revised JPS Edition</a>",
                          "formatAsPoetry": "",
                          "digitizedBySefaria": "",
                          "method": "",
                          "heversionSource": "",
                          "versionUrl": "",
                          "versionTitleInHebrew": "",
                          "versionNotesInHebrew": "",
                          "shortVersionTitle": "Revised JPS, 2023",
                          "shortVersionTitleInHebrew": "",
                          "extendedNotes": "",
                          "extendedNotesHebrew": "",
                          "purchaseInformationImage": "https://storage.googleapis.com/sefaria-physical-editions/JPS-Tanakh-Gender-Sensitive-Edition-Cover-300x450.jpg",
                          "purchaseInformationURL": "https://jps.org/books/the-jps-tanakh-gender-sensitive-edition/",
                          "hasManuallyWrappedRefs": "",
                          "actualLanguage": "en",
                          "languageFamilyName": "english",
                          "isSource": false,
                          "isPrimary": false,
                          "direction": "ltr",
                          "language": "en",
                          "title": "Esther",
                          "versionSource": "https://jps.org/books/the-jps-tanakh-gender-sensitive-edition/",
                          "versionTitle": "THE JPS TANAKH: Gender-Sensitive Edition"
                        }
                      ],
                      "ref": "Esther 1:1",
                      "heRef": "אסתר א׳:א׳",
                      "sections": [
                        "1",
                        "1"
                      ],
                      "toSections": [
                        "1",
                        "1"
                      ],
                      "sectionRef": "Esther 1",
                      "heSectionRef": "אסתר א׳",
                      "firstAvailableSectionRef": "Esther 1:1",
                      "isSpanning": false,
                      "spanningRefs": [
                        "Esther 1:1"
                      ],
                      "next": "Esther 2",
                      "title": "Esther 1",
                      "book": "Esther",
                      "heTitle": "אסתר",
                      "primary_category": "Tanakh",
                      "type": "Tanakh",
                      "indexTitle": "Esther",
                      "categories": [
                        "Tanakh",
                        "Writings"
                      ],
                      "heIndexTitle": "אסתר",
                      "isComplex": false,
                      "isDependant": false,
                      "order": [
                        34,
                        8
                      ],
                      "collectiveTitle": "",
                      "heCollectiveTitle": "",
                      "alts": [],
                      "lengths": [
                        10,
                        167
                      ],
                      "length": 10,
                      "textDepth": 2,
                      "sectionNames": [
                        "Chapter",
                        "Verse"
                      ],
                      "addressTypes": [
                        "Perek",
                        "Pasuk"
                      ],
                      "titleVariants": [
                        "Est.",
                        "Est",
                        "Ester",
                        "Esth.",
                        "Esth",
                        "Esther"
                      ],
                      "heTitleVariants": [
                        "מגילת אסתר",
                        "אסתר"
                      ],
                      "index_offsets_by_depth": {},
                      "warnings": []
                    }
                  }
                }
              }
            },
            "description": "Successful retrieval of the desired texts."
          }
        },
        "summary": "Texts (v3)",
        "description": "The most up-to-date way to retrieve texts from Sefaria via the API, with enhanced control over language, language direction, and other parameters. "
      },
      "parameters": [
        {
          "examples": {
            "language": {
              "value": "hebrew"
            },
            "language|version": {
              "value": "hebrew|Miqra according to the Masorah"
            }
          },
          "name": "version",
          "description": "There are two possible forms for the string passed as the `version`:\n1. `language`\n2. `language|versionTitle`\n\nWhen in the form of `language`, the primary version of that language is returned in the `versions` field of the response object. When in the form of `language|versionTitle`, only that specific version is returned in the `versions` field. \n\n\n**Notes**: \n- `language` is the full English name of the language. In cases of dialectics with varying sub-specifities, please pass the ‘mother’ language (so for example, `arabic` rather than `judeo-arabic`). This field is NOT case sensitive.\n- `versionTitle` is the exact English `versionTitle` of the given `version` in the Sefaria database. \n- When only `language` is passed, the response will return a single version of the text in that language, the one that is highest priority in the Sefaria database.\n- Requests can have more than one `version` param. If no `version` was passed, the API defaults to `version=primary`.\n\n-----\n\n**Special Values**\nThe following values can be passed in as special values to the `version` parameter. \n- `source`: When `version=source` is passed, it retrieves the text in its \"source\" language (i.e. the original language the text was written in, versus a translation).\n- `translation`: When `version=translation`is passed, it retrieves a translation of the text. \n- `primary`: When `version=primary` is passed, it retrieves the primary text as per the Sefaria database (i.e. the `isPrimary` field on the `version` in the database is set to `True`). Usually the text returned is identical to what is returned with the special value of `source`, but it can also include other languages (e.g. Hebrew for the _Kuzari_, which was originally written in Judeo-Arabic)\n- `all`: get all texts in the required language.\n\n\nIf a required version is missing that information will be under the field warnings of the response.\n",
          "schema": {
            "type": "string"
          },
          "in": "query"
        },
        {
          "examples": {
            "Tanakh Segment Level Ref": {
              "value": "Esther 1.1"
            },
            "Tanakh Bottom Level Section Ref": {
              "value": "Esther 4"
            },
            "Talmud Segment Ref": {
              "value": "Berakhot 14b.2"
            },
            "Talmud Bottom Level Section Ref": {
              "value": "Berakhot 14b"
            },
            "Commentary Section Ref": {
              "value": "Rashi on Genesis 1:1:1"
            },
            "Commentary Bottom Level Section Ref": {
              "value": "Rashi on Genesis 1:1"
            }
          },
          "name": "tref",
          "description": "A Sefaria-specific reference, `Ref`. This should be a segment `Ref` (the most specific reference possible), or bottom level section `Ref` (i.e.  a section of text one level up. A section is an array of segments). If a `Ref` which is not a segment or bottom level section is passed, the response will be to the first bottom level section `Ref` (e.g. `Genesis` will resolve to the bottom level section `Ref` of `Genesis 1`)",
          "schema": {
            "type": "string",
            "default": "Esther 1.1"
          },
          "in": "path",
          "required": true
        },
        {
          "name": "fill_in_missing_segments",
          "description": "This parameter is only relevant for cases where the requested text is incomplete (i.e. not all of the segments in the requested version exist in the database for that text, such as a partial translation).\n\nWhen `fill_in_missing_segments=1`, the segments of text that are missing in the requested version will be filled by other versions of the same language.\n\nThis value defaults to `0`. \n",
          "schema": {
            "enum": [
              "0",
              "1"
            ],
            "type": "string"
          },
          "in": "query"
        },
        {
          "examples": {
            "Text Only": {
              "value": "text_only"
            },
            "Wrap All Entities": {
              "value": "wrap_all_entities"
            }
          },
          "name": "return_format",
          "description": "This parameter formats the text that will be returned from the `v3` `texts/` API. It can have one of four values:\n1. `text_only` - This strips footnotes, inline references, and all HTML tags from the returned text.\n2. `strip_only_footnotes` - This strips only the footnotes and commentator tags without stripping the other HTML tags.This is useful for the native app, where we do not display footnotes.\n3. `wrap_all_entities` - This wraps the HTML for links and topic links.\n4. `default` - This returns the basic text as it is saved in Sefaria’s DB.\n",
          "schema": {
            "enum": [
              "default",
              "wrap_all_entities",
              "strip_only_footnotes",
              "text_only"
            ],
            "type": "string",
            "default": "default"
          },
          "in": "query"
        }
      ]
    },
    "/api/texts/{tref}": {
      "get": {
        "operationId": "get-v1-texts",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "callback",
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "context",
            "description": "The `context` param defaults to `1`, which allows for the API to return the entire context for the desired segment. When you explicitly set `context=0`, only the desired segment is returned, without any of the accompanying context.",
            "schema": {
              "enum": [
                "0",
                "1"
              ],
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "commentary",
            "description": "The `commentary` param defaults to `0`, which turns off commentary being returned in the response. When you explicitly set `commentary=1`, all commentary to that specific connection is returned in a list of JSON objects containing the text of the commentaries",
            "schema": {
              "maximum": 1,
              "minimum": 0,
              "type": "integer"
            },
            "in": "query"
          },
          {
            "name": "pad",
            "description": "By default pad is set to `1`, which ensures that any references at the title level will return only the first section of a book instead of its entirety. If you want the API to return the entire content of the book, set pad to `0`",
            "schema": {
              "enum": [
                "0",
                "1"
              ],
              "type": "string"
            },
            "in": "query"
          },
          {
            "examples": {
              "The Contemporay Torah: JPS 2006": {
                "value": "The_Contemporary_Torah,_Jewish_Publication_Society,_2006"
              }
            },
            "name": "ven",
            "description": "Unless explicitly specified, the Texts API returns a default version of a text with Roman characters as the content in the `text` response. Passing a specific `versionTitle` here will load that text version if it exists instead of the default.\n",
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "firstAvailableRef",
            "description": "If a given text reference doesn't return any content, setting this to `1` will return the first reference that does. \n\nSometimes this occurs when a text reference may pass our ref checking logic, but doesn't exist; for example `https://www.sefaria.org/api/texts/Berakhot 1a?firstAvailableRef=1`, and sometimes this occurs when a translation is incomplete. Defaults to `0`.",
            "schema": {
              "enum": [
                "0",
                "1"
              ],
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "vhe",
            "description": "Unless explicitly specified, the Texts API returns a default version of a text with Hebrew characters as the content in the `he` response. Passing a specific `versionTitle` here will load that text version if it exists instead of the default.\n",
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "layer",
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "alts",
            "description": "Returns the `alt structures` for the target text in the JSON response object.",
            "schema": {
              "enum": [
                "0",
                "1"
              ],
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "wrapLinks",
            "schema": {
              "enum": [
                "0",
                "1"
              ],
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "stripItags",
            "description": "Sefaria texts include footnotes and other `iTags` in the response. This param defaults to `0` which leaves them in. Changing it to `1` will remove them.",
            "schema": {
              "enum": [
                "0",
                "1"
              ],
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "multiple",
            "description": "If the absolute value of this param is greater than `1`, the API will return`|n|` text responses which include `|n|-1` additional consecutive sections of the targeted text if they exist. If the integer is positive, it will return the next consecutive chapter[s], and if negative it will return the previous consecutive chapter[s].",
            "schema": {
              "enum": [
                "0",
                "1"
              ],
              "type": "string"
            },
            "in": "query"
          },
          {
            "examples": {
              "German": {
                "value": "DE"
              },
              "Arabic": {
                "value": "AR"
              }
            },
            "name": "transLangPref",
            "description": "Unless explicitly specified, the Texts API returns a default version for the `he` and `text` responses (usually in Hebrew & English respectfully). Passing an ISO 639-1 language code here will prioritize text versions in that target language if available.",
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "fallbackOnDefaultVersion",
            "schema": {
              "enum": [
                "0",
                "1"
              ],
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "sheets",
            "description": "The `sheets` param defaults to `0`, which turns off user-generated Sefaria Sheet data from being returned in the response. When you explicitly set `sheets=1`, all of the user-generated sheet content to that specific connection is returned in list of JSON objects.\n\n_This usage is deprecated. Instead of this, you should use the `Related API`._",
            "schema": {
              "enum": [
                "0",
                "1"
              ],
              "type": "string"
            },
            "in": "query"
          },
          {
            "examples": {
              "Tanakh": {
                "value": "Kohelet 5:10"
              },
              "Talmud": {
                "value": "Shabbat 22a.10"
              },
              "Talmud Amud": {
                "value": "Shabbat 22a"
              },
              "Tanakh Chapter": {
                "value": "Exodus 10"
              },
              "Commentary": {
                "value": "Rashi on Genesis 1:1:1"
              }
            },
            "name": "tref",
            "description": "A valid textual `Ref` to a Sefaria text.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ref"
                }
              ],
              "default": "Kohelet 5:10"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/textAPIReponse"
                },
                "examples": {
                  "Shabbat 22a.1": {
                    "value": {
                      "ref": "Shabbat 22a:1",
                      "heRef": "שבת כ״ב א:א׳",
                      "isComplex": false,
                      "text": [],
                      "he": [],
                      "versions": [],
                      "textDepth": 2,
                      "sectionNames": [],
                      "addressTypes": [],
                      "lengths": [],
                      "length": 314,
                      "heTitle": "שבת כ״ב א",
                      "titleVariants": [],
                      "heTitleVariants": [],
                      "type": "Talmud",
                      "primary_category": "Talmud",
                      "book": "Shabbat",
                      "categories": [],
                      "order": [],
                      "sections": [],
                      "toSections": [],
                      "isDependant": false,
                      "indexTitle": "Shabbat",
                      "heIndexTitle": "שבת",
                      "sectionRef": "Shabbat 22a",
                      "firstAvailableSectionRef": "Shabbat 22a:1",
                      "heSectionRef": "שבת כ״ב א",
                      "isSpanning": false,
                      "versionTitle": "William Davidson Edition - English",
                      "versionTitleInHebrew": "מהדורת וויליאם דייוידסון - אנגלית",
                      "shortVersionTitle": "Koren - Steinsaltz",
                      "shortVersionTitleInHebrew": "",
                      "versionSource": "https://korenpub.com/collections/the-noe-edition-koren-talmud-bavli-1",
                      "versionStatus": "locked",
                      "versionNotes": "English from The William Davidson digital edition of the <a href='https://korenpub.com/collections/the-noe-edition-koren-talmud-bavli-1'>Koren Noé Talmud</a>, with commentary by <a href='/adin-even-israel-steinsaltz'>Rabbi Adin Even-Israel Steinsaltz</a>",
                      "extendedNotes": "",
                      "extendedNotesHebrew": "",
                      "versionNotesInHebrew": "תרגום אנגלי של תלמוד מהדורת ויליאם דיוידסון מתוך מהדורת <a href='https://korenpub.com/collections/the-noe-edition-koren-talmud-bavli-1'>Noé</a> עם פירוש <a href='/adin-even-israel-steinsaltz'>הרב עדין אבן ישראל שטיינזלץ</a>, בהוצאת קורן ירושלים",
                      "digitizedBySefaria": false,
                      "license": "CC-BY-NC",
                      "formatEnAsPoetry": false,
                      "heVersionTitle": "William Davidson Edition - Vocalized Aramaic",
                      "heVersionTitleInHebrew": "מהדורת וויליאם דייוידסון - ארמית המנוקד",
                      "heShortVersionTitle": "",
                      "heShortVersionTitleInHebrew": "",
                      "heVersionSource": "https://www.sefaria.org",
                      "heVersionStatus": "locked",
                      "heVersionNotes": "Aramaic from The William Davidson digital edition of the <a href='https://www.korenpub.com/koren_en_usd/koren/talmud/koren-talmud-bavli-no.html'>Koren Noé Talmud</a>, with commentary by <a href='/adin-even-israel-steinsaltz'>Rabbi Adin Even-Israel Steinsaltz</a>\nNikud (vocalization) by <a href='https://dicta.org.il/'>Dicta - the Israel Center for Text Analysis</a>",
                      "heExtendedNotes": "",
                      "heExtendedNotesHebrew": "",
                      "heVersionNotesInHebrew": "הטקסט הארמי של מהדורת וויליאם דייוידסון הדיגיטלית מתוך <a href='https://www.korenpub.com/koren_en_usd/koren/talmud/koren-talmud-bavli-no.html'>תלמוד קורן מהדורת נאה</a>, עם באור מאת <a href='/adin-even-israel-steinsaltz'>הרב אבן־ישראל (שטיינזלץ)</a>\nמנוקד על ידי <a href='https://dicta.org.il/'>דיקטה - המרכז הישראלי לניתוח טקסטים</a>",
                      "heDigitizedBySefaria": false,
                      "heLicense": "CC-BY-NC",
                      "formatHeAsPoetry": false,
                      "title": "Shabbat 22a",
                      "heBook": "שבת",
                      "alts": [],
                      "index_offsets_by_depth": {},
                      "next": "Shabbat 22b",
                      "prev": "Shabbat 21b",
                      "commentary": [],
                      "sheets": [],
                      "layer": []
                    }
                  }
                }
              }
            },
            "description": "Successful response"
          }
        },
        "deprecated": true,
        "summary": "Texts (v1)",
        "description": "Retrieve the text and some additional metadata for a specific Sefaria textual `Ref`"
      },
      "parameters": [
        {
          "examples": {
            "Tanakh": {
              "value": "Kohelet 5:10"
            },
            "Talmud": {
              "value": "Shabbat 22a.10"
            },
            "Talmud Amud": {
              "value": "Shabbat 22a"
            },
            "Tanakh Chapter": {
              "value": "Exodus 10"
            },
            "Commentary": {
              "value": "Rashi on Genesis 1:1:1"
            }
          },
          "name": "tref",
          "description": "A valid Sefaria ref. A Sefaria ref is a human-readable text citation, e.g. `Genesis 1:1`, `Berakhot 2a`, or `Rashi on Genesis 1:1`.",
          "schema": {
            "allOf": [
              {
                "$ref": "#/components/schemas/ref"
              }
            ],
            "default": "Kohelet 5:10"
          },
          "in": "path",
          "required": true
        }
      ]
    },
    "/api/texts/versions/{index}": {
      "summary": "All Available Versions of a Text",
      "description": "This endpoint returns all of the available versions of a text given an index title passed as a parameter. ",
      "get": {
        "operationId": "get-versions",
        "tags": [
          "Text"
        ],
        "responses": {
          "200": {
            "content": {
              "VersionJSON": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/VersionJSON"
                  }
                },
                "examples": {
                  "Rashi on Kohelet": {
                    "value": [
                      {
                        "title": "Rashi on Ecclesiastes",
                        "versionTitle": "The Metsudah Five Megillot, Lakewood, N.J., 2001",
                        "versionSource": "https://www.nli.org.il/he/books/NNL_ALEPH002162036",
                        "language": "he",
                        "status": "locked",
                        "license": "CC-BY",
                        "versionNotes": "",
                        "digitizedBySefaria": "",
                        "priority": 2,
                        "versionTitleInHebrew": "",
                        "versionNotesInHebrew": "",
                        "extendedNotes": "",
                        "extendedNotesHebrew": "",
                        "purchaseInformationImage": "https://storage.googleapis.com/sefaria-physical-editions/ba0b4357b240eff4b28b7fcfc4669d56.png",
                        "purchaseInformationURL": "https://www.israelbookshoppublications.com/store/pc/Metsudah-Five-Megilloth-w-Rashi-26p309.htm",
                        "shortVersionTitle": "",
                        "shortVersionTitleInHebrew": "",
                        "firstSectionRef": "Rashi on Ecclesiastes 1:1"
                      },
                      {
                        "title": "Rashi on Ecclesiastes",
                        "versionTitle": "The Metsudah Five Megillot, Lakewood, N.J., 2001",
                        "versionSource": "https://www.nli.org.il/he/books/NNL_ALEPH002162036",
                        "language": "en",
                        "status": "locked",
                        "license": "CC-BY",
                        "versionNotes": "",
                        "digitizedBySefaria": "",
                        "priority": 2,
                        "versionTitleInHebrew": "",
                        "versionNotesInHebrew": "",
                        "extendedNotes": "",
                        "extendedNotesHebrew": "",
                        "purchaseInformationImage": "https://storage.googleapis.com/sefaria-physical-editions/00c61bd3103f9398bf080832c4a0221f.png",
                        "purchaseInformationURL": "https://www.israelbookshoppublications.com/store/pc/Metsudah-Five-Megilloth-w-Rashi-26p309.htm",
                        "shortVersionTitle": "",
                        "shortVersionTitleInHebrew": "",
                        "firstSectionRef": "Rashi on Ecclesiastes 1:1"
                      },
                      {
                        "title": "Rashi on Ecclesiastes",
                        "versionTitle": "On Your Way",
                        "versionSource": "http://mobile.tora.ws/",
                        "language": "he",
                        "status": "locked",
                        "license": "Public Domain",
                        "versionNotes": "",
                        "digitizedBySefaria": "",
                        "priority": 1,
                        "versionTitleInHebrew": "ובלכתך בדרך",
                        "versionNotesInHebrew": "",
                        "extendedNotes": "",
                        "extendedNotesHebrew": "",
                        "purchaseInformationImage": "",
                        "purchaseInformationURL": "",
                        "shortVersionTitle": "",
                        "shortVersionTitleInHebrew": "",
                        "firstSectionRef": "Rashi on Ecclesiastes 1:1"
                      },
                      {
                        "title": "Rashi on Ecclesiastes",
                        "versionTitle": "Sefaria Community Translation",
                        "versionSource": "https://www.sefaria.org",
                        "language": "en",
                        "status": "",
                        "license": "",
                        "versionNotes": "",
                        "digitizedBySefaria": "",
                        "priority": "",
                        "versionTitleInHebrew": "תרגום קהילת ספריא",
                        "versionNotesInHebrew": "",
                        "extendedNotes": "",
                        "extendedNotesHebrew": "",
                        "purchaseInformationImage": "",
                        "purchaseInformationURL": "",
                        "shortVersionTitle": "",
                        "shortVersionTitleInHebrew": "",
                        "firstSectionRef": "Rashi on Ecclesiastes 3:3"
                      },
                      {
                        "title": "Rashi on Ecclesiastes",
                        "versionTitle": "The Five Megilloth, English translation by A. Cohen, Soncino Press, 1946",
                        "versionSource": "https://www.nli.org.il/en/books/NNL_ALEPH002644163/NLI",
                        "language": "en",
                        "status": "locked",
                        "license": "CC-BY",
                        "versionNotes": "",
                        "digitizedBySefaria": "",
                        "priority": "",
                        "versionTitleInHebrew": "",
                        "versionNotesInHebrew": "",
                        "extendedNotes": "",
                        "extendedNotesHebrew": "",
                        "purchaseInformationImage": "",
                        "purchaseInformationURL": "",
                        "shortVersionTitle": "Abraham Cohen, Soncino Press, 1946",
                        "shortVersionTitleInHebrew": "",
                        "firstSectionRef": "Rashi on Ecclesiastes 1:1"
                      }
                    ]
                  }
                }
              }
            },
            "description": "Returns a list containing the JSON Objects for each version available for the given `index` title. Each JSON Object contains all of the metadata for a given version. "
          }
        },
        "summary": "Versions",
        "description": "The versions API takes a title of a valid Sefaria `index` as a parameter, and will return all available versions of the text in the Sefaria database, alongside metadata for each version. A version can be a translation of the text, an alternative language, or any other text associated with that index. \n\n*Note:* In order to see the expected results, you need to make sure you are passing a recognized `index`. For example, `Rashi on Genesis` is a valid `index` but `Rashi` is not. To see the entire list of valid Sefaria indices, click [here](https://www.sefaria.org/api/index/)"
      },
      "parameters": [
        {
          "examples": {
            "Mishnah": {
              "value": "Mishnah Berakhot"
            },
            "Tanakh": {
              "value": "Kohelet"
            },
            "Commentary": {
              "value": "Rashi on Exodus"
            },
            "Halacha": {
              "value": "Shulchan Aruch Orach Chaim"
            }
          },
          "name": "index",
          "description": "A valid Sefaria Index",
          "schema": {
            "type": "string",
            "default": "Mishnah Berakhot"
          },
          "in": "path",
          "required": true
        }
      ]
    },
    "/api/texts/translations": {
      "get": {
        "operationId": "get-translations",
        "tags": [
          "Text"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  }
                },
                "examples": {
                  "translationEx": {
                    "value": [
                      "ar",
                      "cs",
                      "de",
                      "en",
                      "eo",
                      "es",
                      "fa",
                      "fi",
                      "fr",
                      "he",
                      "hu",
                      "it",
                      "ko",
                      "pl",
                      "pt",
                      "ru",
                      "yi"
                    ]
                  }
                }
              }
            },
            "description": "Successful Response"
          }
        },
        "summary": "Languages",
        "description": "Returns a list of distinct languages for which translations exist in the database."
      }
    },
    "/api/texts/translations/{lang}": {
      "get": {
        "operationId": "get-translations-lang",
        "tags": [
          "Text"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "title": {
                      "description": "Title of the book on Sefaria",
                      "type": "string"
                    },
                    "url": {
                      "description": "Base URL of the book on Sefaria",
                      "type": "string"
                    },
                    "versionTitle": {
                      "description": "Title of this specific translation of the title",
                      "type": "string"
                    },
                    "rtlLanguage": {
                      "description": "Is this version a RTL text (i.e. `he`) or LTR text (i.e. `en`)",
                      "enum": [
                        "he",
                        "en"
                      ],
                      "type": "string"
                    }
                  }
                }
              }
            },
            "description": "Successful Response"
          }
        },
        "summary": "Translations",
        "description": "Returns a dictionary of texts translated into `lang`, organized by the Sefaria category & secondary category of each title."
      },
      "parameters": [
        {
          "examples": {
            "English": {
              "value": "en"
            },
            "Hebrew": {
              "value": "he"
            },
            "Yiddish": {
              "value": "yi\n"
            },
            "French": {
              "value": "fr"
            },
            "German": {
              "value": "de"
            },
            "Arabic": {
              "value": "ar"
            }
          },
          "name": "lang",
          "description": "An ISO 639-1 language code.",
          "schema": {
            "type": "string",
            "default": "en"
          },
          "in": "path",
          "required": true
        }
      ]
    },
    "/api/manuscripts/{tref}": {
      "summary": "For a given `tref` (textual ref), if a manuscript exists, this returns a list of all relevant data as well as the image URL for each associated manuscript.",
      "get": {
        "operationId": "get-manuscripts",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "examples": {
              "Tanakh Example": {
                "value": "Numbers 12.1"
              },
              "Talmud Example": {
                "value": "Berakhot 2a.1"
              }
            },
            "name": "tref",
            "description": "A valid Sefaria ref. A Sefaria ref is a human-readable text citation, e.g. `Genesis 1:1`, `Berakhot 2a`, or `Rashi on Genesis 1:1`.",
            "schema": {
              "type": "string",
              "default": "Numbers 12.1"
            },
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "content": {
              "Manuscript JSON": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ManuscriptJSON"
                  }
                },
                "examples": {
                  "Esther 4:14-15": {
                    "value": [
                      {
                        "manuscript_slug": "leningrad-codex-(1008-ce)",
                        "page_id": "LC_Folio_435r",
                        "image_url": "https://manuscripts.sefaria.org/leningrad-color/BIB_LENCDX_F435A.jpg",
                        "thumbnail_url": "https://manuscripts.sefaria.org/leningrad-color/BIB_LENCDX_F435A_thumbnail.jpg",
                        "anchorRef": "Esther 4:17-6:2",
                        "anchorRefExpanded": [
                          "Esther 5:14"
                        ],
                        "manuscript": {
                          "slug": "leningrad-codex-(1008-ce)",
                          "title": "Leningrad Codex (1008 CE)",
                          "he_title": "כתב יד לנינגרד (1008)",
                          "source": "https://dornsife.usc.edu/wsrp/biblical-manuscripts",
                          "description": "Bruce Zuckerman, West Semitic Research, in collaboration with the Ancient Biblical Manuscript Center; courtesy Russian National Library, Saltykov-Schedrin",
                          "he_description": ""
                        }
                      },
                      {
                        "manuscript_slug": "megilat-ester-or-1047-(17th-century)",
                        "page_id": "Esther",
                        "image_url": "https://storage.googleapis.com/sefaria-manuscripts/misc/Megilat%20Ester%2C%20Or%201047%20-%20mid.jpg",
                        "thumbnail_url": "https://storage.googleapis.com/sefaria-manuscripts/misc/Megilat%20Ester%2C%20Or%201047%20-%20thumb.png",
                        "anchorRef": "Esther",
                        "anchorRefExpanded": [
                          "Esther 5:14"
                        ],
                        "manuscript": {
                          "slug": "megilat-ester-or-1047-(17th-century)",
                          "title": "Megilat Ester, Or 1047 (17th Century)",
                          "he_title": "מגילת אסתר Or 1047 (מאה 17)",
                          "source": "https://www.bl.uk/collection-items/megilat-ester-or-1047",
                          "description": "",
                          "he_description": ""
                        }
                      }
                    ]
                  }
                }
              }
            },
            "description": "Successful response"
          }
        },
        "summary": "Manuscripts",
        "description": "This call retrieves all associated manuscript data and metadata for a given Sefaria `tref`. "
      },
      "parameters": [
        {
          "examples": {
            "Tanakh Example": {
              "value": "Numbers.17.2"
            },
            "Talmud Example": {
              "value": "Berakhot.2a.1"
            }
          },
          "name": "tref",
          "description": "A valid Sefaria ref. A Sefaria ref is a human-readable text citation, e.g. `Genesis 1:1`, `Berakhot 2a`, or `Rashi on Genesis 1:1`.",
          "schema": {
            "type": "string",
            "default": "Numbers.17.2"
          },
          "in": "path",
          "required": true
        }
      ]
    },
    "/api/texts/random": {
      "get": {
        "operationId": "get-texts-random",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "titles",
            "description": "A string of book titles from the Sefaria library, separated with the character `|`. If it exists, it will limit the random selection to those titles.",
            "schema": {
              "type": "string"
            },
            "in": "query"
          },
          {
            "name": "categories",
            "description": "A string of categories from the Sefaria library, separated with the character `|`. If it exists, it will limit the random selection to those categories.",
            "schema": {
              "type": "string"
            },
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/textAPIReponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "summary": "Random Text",
        "description": "Returns a random text reference from the Sefaria library. Results can be limited to a specific category or from a selection of titles given the correct query params."
      }
    },
    "/api/bulktext/{refs}": {
      "summary": "Bulk Text",
      "description": "Returns the English and Hebrew text plus metadata such as the language, ref for the url, etc. for many refs at once. The path parameter is a pipe-delimited list of refs.",
      "get": {
        "operationId": "get-bulktext",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "refs",
            "description": "Pipe-delimited list of Sefaria refs. A Sefaria ref is a human-readable text citation, e.g. `Genesis 1:1`, `Berakhot 2a`, or `Rashi on Genesis 1:1`. Use dots for section separators, e.g. `Genesis.1.1|Exodus.1.1`.",
            "schema": {
              "type": "string",
              "default": "Genesis.1.1|Exodus.1.1"
            },
            "in": "path",
            "required": true,
            "examples": {
              "Genesis 1:1 and Exodus 1:1": {
                "value": "Genesis.1.1|Exodus.1.1"
              }
            }
          }
        ],
        "description": "Returns the English and Hebrew text plus metadata such as the language, ref for the url, etc. for many refs at once. The path parameter is a pipe-delimited list of refs.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulktextJSON"
                },
                "examples": {
                  "Genesis 1:1 and Exodus 1:1": {
                    "value": {
                      "Exodus.1.1": {
                        "he": "וְאֵ֗לֶּה שְׁמוֹת֙ בְּנֵ֣י יִשְׂרָאֵ֔ל הַבָּאִ֖ים מִצְרָ֑יְמָה אֵ֣ת יַעֲקֹ֔ב אִ֥ישׁ וּבֵית֖וֹ בָּֽאוּ׃",
                        "en": "These are the names of the sons of Israel who came to Egypt with Jacob, each coming with his household: ",
                        "lang": "en",
                        "ref": "Exodus 1:1",
                        "heRef": "שמות א׳:א׳",
                        "url": "Exodus.1.1"
                      },
                      "Genesis.1.1": {
                        "he": "<big>בְּ</big>רֵאשִׁ֖ית בָּרָ֣א אֱלֹהִ֑ים אֵ֥ת הַשָּׁמַ֖יִם וְאֵ֥ת הָאָֽרֶץ׃",
                        "en": "When God began to create<sup class=\"footnote-marker\">a</sup><i class=\"footnote\"><b>When God began to create </b>In contrast to others “In the beginning God created.”</i> heaven and earth— ",
                        "lang": "en",
                        "ref": "Genesis 1:1",
                        "heRef": "בראשית א׳:א׳",
                        "url": "Genesis.1.1"
                      }
                    }
                  }
                }
              }
            },
            "description": "Successful Response"
          }
        }
      }
    },
    "/api/passages/{refs}": {
      "summary": "Passages",
      "description": "Maps each requested ref to the canonical passage that contains it. Particularly useful for Talmud sugyot — a single amud ref is mapped to the full sugya boundary. Also works for Tanakh, where a verse maps to its parasha-style passage. Pass a pipe-delimited list of refs.",
      "get": {
        "operationId": "get-passages",
        "tags": [
          "Text"
        ],
        "parameters": [
          {
            "name": "refs",
            "description": "A pipe-delimited list of Sefaria refs. A Sefaria ref is a human-readable text citation, e.g. `Genesis 1:1`, `Berakhot 2a`, or `Rashi on Genesis 1:1`. Use dots for section separators in the URL, e.g. `Berakhot.2a|Genesis.1.1`.",
            "schema": {
              "type": "string",
              "default": "Genesis.1.1"
            },
            "in": "path",
            "required": true,
            "examples": {
              "Genesis 1:1": {
                "value": "Genesis.1.1"
              }
            }
          }
        ],
        "description": "Maps each requested ref to the canonical passage that contains it. Particularly useful for Talmud sugyot — a single amud ref is mapped to the full sugya boundary. Also works for Tanakh, where a verse maps to its parasha-style passage. Pass a pipe-delimited list of refs.",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PassagesJSON"
                },
                "examples": {
                  "Genesis 1:1": {
                    "value": {
                      "Genesis.1.1": "Genesis 1:1-3"
                    }
                  }
                }
              }
            },
            "description": "Successful Response"
          }
        }
      }
    },
    "/api/v2/raw/index/{index_title}": {
      "summary": "v2 Raw Index API",
      "description": "This API endpoint will retrieve the full mongo record of the given `Index` as it appears in the database.",
      "get": {
        "operationId": "get-v2-index",
        "tags": [
          "Index"
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RawIndexJSON"
                },
                "examples": {
                  "Pesachim": {
                    "value": {
                      "title": "Pesachim",
                      "categories": [
                        "Talmud",
                        "Bavli",
                        "Seder Moed"
                      ],
                      "schema": {
                        "nodeType": "JaggedArrayNode",
                        "depth": 2,
                        "addressTypes": [
                          "Talmud",
                          "Integer"
                        ],
                        "sectionNames": [
                          "Daf",
                          "Line"
                        ],
                        "match_templates": [
                          {
                            "term_slugs": [
                              "talmud",
                              "bavli",
                              "pesachim"
                            ]
                          },
                          {
                            "term_slugs": [
                              "talmud",
                              "bavli",
                              "tractate",
                              "pesachim"
                            ]
                          },
                          {
                            "term_slugs": [
                              "talmud",
                              "pesachim"
                            ]
                          },
                          {
                            "term_slugs": [
                              "bavli",
                              "pesachim"
                            ]
                          },
                          {
                            "term_slugs": [
                              "gemara",
                              "pesachim"
                            ]
                          },
                          {
                            "term_slugs": [
                              "bavli",
                              "tractate",
                              "pesachim"
                            ]
                          },
                          {
                            "term_slugs": [
                              "gemara",
                              "tractate",
                              "pesachim"
                            ]
                          },
                          {
                            "term_slugs": [
                              "tractate",
                              "pesachim"
                            ]
                          },
                          {
                            "term_slugs": [
                              "pesachim"
                            ]
                          }
                        ],
                        "lengths": [
                          242,
                          3519
                        ],
                        "referenceableSections": [
                          true,
                          false
                        ],
                        "titles": [
                          {
                            "text": "Masekhet Pesachim",
                            "lang": "en"
                          },
                          {
                            "text": "Talmud Pesachim",
                            "lang": "en"
                          },
                          {
                            "text": "Tractate Pesachim",
                            "lang": "en"
                          },
                          {
                            "text": "Pesahim",
                            "lang": "en"
                          },
                          {
                            "text": "Pes.",
                            "lang": "en"
                          },
                          {
                            "text": "P’saḥim",
                            "lang": "en"
                          },
                          {
                            "text": "Pessachim",
                            "lang": "en"
                          },
                          {
                            "text": "BT Pesachim",
                            "lang": "en"
                          },
                          {
                            "text": "Psachim",
                            "lang": "en"
                          },
                          {
                            "text": "Pesaḥim ",
                            "lang": "en"
                          },
                          {
                            "text": "פסחי'",
                            "lang": "he"
                          },
                          {
                            "text": "פסחי׳",
                            "lang": "he"
                          },
                          {
                            "text": "פסחים",
                            "lang": "he",
                            "primary": true
                          },
                          {
                            "text": "Pesachim",
                            "lang": "en",
                            "primary": true
                          }
                        ],
                        "key": "Pesachim",
                        "checkFirst": {
                          "he": "משנה פסחים",
                          "en": "Mishnah Pesachim"
                        }
                      },
                      "alt_structs": {
                        "Chapters": {
                          "nodes": [
                            {
                              "nodeType": "ArrayMapNode",
                              "depth": 0,
                              "wholeRef": "Pesachim 2a:1-21a:7",
                              "includeSections": true,
                              "match_templates": [
                                {
                                  "term_slugs": [
                                    "perek",
                                    "chapter-129"
                                  ],
                                  "scope": "any"
                                },
                                {
                                  "term_slugs": [
                                    "perek",
                                    "first"
                                  ]
                                },
                                {
                                  "term_slugs": [
                                    "chapter-129"
                                  ],
                                  "scope": "any"
                                },
                                {
                                  "term_slugs": [
                                    "first"
                                  ]
                                }
                              ],
                              "numeric_equivalent": 1,
                              "titles": [
                                {
[...]
