<script src="/static/js/lib/jquery.tag-it.min.js"></script>
<script>
    $(function() {
            {% if request.user.is_authenticated %}
            $(".editTags").click(function() {
                var id   = parseInt($(this).closest(".sheetRow").attr("data-id"));
                var tags = [];
                $(this).closest(".sheetRow").find(".tag").not(".editTags").each(function() {
                    tags.push($(this).text());
                });
                sjs.sheetTagger.init(id, tags, function() { location.reload(); });
                sjs.sheetTagger.show();
            });
            $(".sheetRow td.title").draggable({
                helper: 'clone',
                opacity: 0.9,
                cursorAt: {left: 0, top: 0},
            });

            sjs.dropToTag = function($elem) {
                $elem.droppable({
                    accept: ".sheetRow td.title",
                    hoverClass: "tagDropHover",
                    tolerance: "pointer",
                    drop: function( event, ui ) {
                        var id   = parseInt(ui.draggable.closest(".sheetRow").attr("data-id"));
                        var tag  = $(this).find(".tagName").text();
                        var tags = [];
                        ui.draggable.closest(".sheetRow").find(".tag").not(".editTags").each(function() {
                            tags.push($(this).text());
                        });
                        tags.push(tag);
                        sjs.sheetTagger.init(id, tags, function() { location.reload(); });
                        sjs.sheetTagger.saveTags();
                    }
                });
            };
            sjs.dropToTag($(".sheetTag")); //:not(.allTagsLink, .addTag)

            sjs.saveUserTagOrder = function () {
                var tagOrder = [];
                $("#yourSheetsList").find(".tagName").each(function(){
                    tagOrder.push($(this).text());
                });
                var postJSON = JSON.stringify({"tag_order": tagOrder})
                $.post("/api/profile", {json: postJSON}, function(data) {
                    if ("error" in data) {
                        sjs.alert.message(data.error);
                    } else {
                        sjs.alert.flash("Tags saved.");
                        sjs.track.sheets("Tag Order Save");
                    }
                }).fail(function() {
                    sjs.alert.message("Sorry, an error occurred.");
                });
            };
            $("#yourSheetsList").sortable({
                items: "> .sortable",
                forcePlaceholderSize: true,
                delay: 20,
                update: sjs.saveUserTagOrder
            });
            $("#yourSheetsList").on("click", ".addTag", function() {
                var tag  = prompt("New tag name");
                if (tag) {
                    var html = '<a class="sheetTag sortable" href="/sheets/private/tags/' + tag.replace(/ /g, "_") + '">' +
                                    '<i class="fa fa-tag"></i>' +
                                    '<span class="tagName">' + tag + '</span>' +
                                    '<i class="remove fa fa-times"></i>' +
                                    '<span class="tagCount">(0)</span>' +
                                '</div>';
                    $("#yourSheetsList").find(".addTag").before(html);
                    sjs.dropToTag($("#yourSheetsList").find(".sheetTag").not(".addTag").last());
                    sjs.saveUserTagOrder();
                    sjs.alert.flash("New tag saved.")
                }
            });
            $("#yourSheetsList").on("click", ".remove", function(e) {
                $(this).parent().remove();
                sjs.saveUserTagOrder();
                sjs.alert.flash("Tag deleted.");
                e.preventDefault();
                e.stopPropagation();
            });

        {% else %}
           $(".editTags").click(sjs.loginPrompt);
        {% endif %}
    })
</script>
