name: "Build and Push Container Image"

on:
  workflow_call:
    inputs:
      app:
        required: true
        type: string
      git_ref:
        required: true
        type: string
      datetime:
        required: true
        type: string
      image_tag:
        required: true
        type: string
      image:
        required: true
        type: string
      build_args:
        required: false
        type: string
      prod:
        required: false
        type: boolean
        default: false
    secrets:
      PROD_GKE_PROJECT_ID:
        required: true
      PROD_GKE_SA:
        required: true
    outputs:
      tags:
        value: ${{ jobs.build.outputs.tags }}
      primary_tag:
        value: ${{ jobs.build.outputs.primary_tag }}
      image:
        value: ${{ jobs.build.outputs.image }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    outputs:
      tags: ${{ steps.meta.outputs.tags }}
      primary_tag: ${{ steps.primary_tag.outputs.primary_tag }}
      image: ${{ steps.primary_tag.outputs.image }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.git_ref }}

      - uses: docker/setup-qemu-action@v3
      - uses: docker/setup-buildx-action@v3

      - id: project
        run: |
          PROJECT="development-205018"
          if [ "${{ inputs.prod }}" = "true" ]; then
            echo "$PROJECT=production-deployment" >> $GITHUB_ENV
          fi
          echo "project=$PROJECT"
          echo "project=$PROJECT" >> $GITHUB_OUTPUT
      - id: auth
        uses: google-github-actions/auth@v2
        with:
          token_format: access_token
          workload_identity_provider: ${{ format('projects/{0}/locations/global/workloadIdentityPools/github/providers/github', secrets.PROD_GKE_PROJECT_ID) }}
          service_account: ${{ secrets.PROD_GKE_SA }}

      - uses: docker/login-action@v3
        with:
          registry: us-east1-docker.pkg.dev
          username: oauth2accesstoken
          password: ${{ steps.auth.outputs.access_token }}

      - name: Generate image metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            us-east1-docker.pkg.dev/${{ steps.project.outputs.project }}/containers/${{ inputs.image }}
          tags: |
            type=raw,value=${{ inputs.image_tag }}-${{ inputs.datetime }}
            type=raw,value=${{ inputs.image_tag }}
            type=raw,value=latest
          flavor: |
            latest=false

      - name: Set up yq
        uses: frenck/action-setup-yq@v1

      - name: Extract primary tag
        id: primary_tag
        run: |
          PRIMARY="$(echo "$DOCKER_METADATA_OUTPUT_JSON" | yq '.tag-names[0]' )"
          IMAGE="$(echo "$DOCKER_METADATA_OUTPUT_JSON" | yq '.tags[0]' )"
          if [ -z "$PRIMARY" ]; then
            echo "No tags found from metadata-action; failing early" >&2
            exit 1
          fi
          echo $PRIMARY
          echo "primary_tag=$PRIMARY" >> $GITHUB_OUTPUT
          echo "image=$IMAGE" >> $GITHUB_OUTPUT

      - name: Debug Tag
        run: echo "${{ steps.primary_tag.outputs.primary_tag }}"

      - id: build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./build/${{ inputs.app }}/Dockerfile
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          build-args: ${{ inputs.build_args }}
