name: Build and Push Container Images

on:
  workflow_call:
    inputs:
      git_ref:
        type: string
        required: true
      image_tag:
        type: string
        required: true
      branch_name:
        type: string
        required: true
      environment:
        type: string
        required: true
      push_to_prod_registry:
        type: boolean
        default: false

    outputs:
      web_image:
        value: ${{ jobs.calculate.outputs.web_image }}
      node_image:
        value: ${{ jobs.calculate.outputs.node_image }}
      asset_image:
        value: ${{ jobs.calculate.outputs.asset_image }}

jobs:
  calculate:
    name: "calculate variables for the pipeline"
    runs-on: ubuntu-latest

    outputs:
      web_image: ${{ steps.images.outputs.web_image }}
      node_image: ${{ steps.images.outputs.node_image }}
      asset_image: ${{ steps.images.outputs.asset_image }}
      datetime: ${{ steps.datetime.outputs.dt }}
      gke_project_id: ${{ steps.gke.outputs.gke_project_id }}
      gke_sa: ${{ steps.gke.outputs.gke_sa }}

    steps:
      - id: datetime
        run: echo "dt=$(date +'%Y%m%d%H%M')" >> $GITHUB_OUTPUT
      - name: Compute image names
        id: images
        run: |
          if [ "${{ inputs.push_to_prod_registry }}" = "true" ]; then
            project=${{ secrets.PROD_PROJECT }}
          else
            project=${{ secrets.DEV_PROJECT }}
          fi

          web="us-east1-docker.pkg.dev/$project/containers/sefaria-web"
          node="us-east1-docker.pkg.dev/$project/containers/sefaria-node"
          asset="us-east1-docker.pkg.dev/$project/containers/sefaria-asset"
          if [ -n "${{ inputs.branch_name }}" ]; then
            web="$web-${{ inputs.branch_name }}"
            node="$node-${{ inputs.branch_name }}"
            asset="$asset-${{ inputs.branch_name }}"
          fi

          echo "web_image: $web"
          echo "node_image: $node"
          echo "asset_image: $asset"

          echo "web_image=$web" >> $GITHUB_OUTPUT
          echo "node_image=$node" >> $GITHUB_OUTPUT
          echo "asset_image=$asset" >> $GITHUB_OUTPUT
      - name: Compute GKE settings
        id: gke
        run: |
          if [ "${{ inputs.push_to_prod_registry }}" = "true" ]; then
            project_id="${{ secrets.PROD_GKE_PROJECT_ID }}"
            gke_sa="${{ secrets.PROD_GKE_SA }}"
          else
            project_id="${{ secrets.DEV_GKE_PROJECT_ID }}"
            gke_sa="${{ secrets.DEV_GKE_SA }}"
          fi

          echo "gke_project_id=$project_id" >> $GITHUB_OUTPUT
          echo "gke_sa=$gke_sa" >> $GITHUB_OUTPUT

  build-web:
    needs: calculate
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.git_ref }}
      - name: Build web image
        uses: ./.github/actions/build-image
        with:
          app: web
          image: ${{ needs.calculate.outputs.web_image }}
          git_ref: ${{ inputs.git_ref }}
          datetime: ${{ needs.calculate.outputs.datetime }}
          image_tag: ${{ inputs.image_tag }}
          gke_project_id: ${{ needs.calculate.outputs.gke_project_id }}
          gke_sa: ${{ needs.calculate.outputs.gke_sa }}

  build-node:
    needs: calculate
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.git_ref }}
      - name: Build node image
        uses: ./.github/actions/build-image
        with:
          app: node
          image: ${{ needs.calculate.outputs.node_image }}
          git_ref: ${{ inputs.git_ref }}
          datetime: ${{ needs.calculate.outputs.datetime }}
          image_tag: ${{ inputs.image_tag }}
          gke_project_id: ${{ needs.calculate.outputs.gke_project_id }}
          gke_sa: ${{ needs.calculate.outputs.gke_sa }}

  build_asset:
    needs: [calculate, build-web]
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.git_ref }}
      - name: Build node image
        uses: ./.github/actions/build-image
        with:
          app: node
          image: ${{ needs.calculate.outputs.node_image }}
          git_ref: ${{ inputs.git_ref }}
          datetime: ${{ needs.calculate.outputs.datetime }}
          image_tag: ${{ inputs.image_tag }}
          gke_project_id: ${{ needs.calculate.outputs.gke_project_id }}
          gke_sa: ${{ needs.calculate.outputs.gke_sa }}
          build-args: |
            SRC_IMG=${{ needs.calculate.outputs.web_image }}:${{ inputs.image_tag }}
