name: Deploy Production

on:
  push:
    tags:
      - 'v*'
  workflow_call:
    inputs:
      version:
        type: string
        required: true

jobs:
  # Note - build occurs again here, even though this image has been built in continuous.
  # This is because in continuous, the images are pushed to the dev registry
  # Logging in to dev and prod to push to both in continuous isn't really catered for
  # Since the build strategy is now a push instead of a pull, all images could live in a single registry, at which point this action would use cache and effectively just perform a tag
  workflow-check:
    runs-on: ubuntu-latest
    outputs:
      ref: ${{ steps.check.outputs.ref }}
    steps:
      - id: check
        run: |
          if [[ "${{ inputs.version }}" == "" ]]; then
            echo "::set-output name=ref::${{ github.ref_name }}" 
          else
            echo "::set-output name=ref::v${{ inputs.version }}" 
          fi
  build-generic:
    needs: workflow-check
    runs-on: ubuntu-latest
    strategy:
      matrix:
        app: [ web, node ]
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ needs.workflow-check.outputs.ref }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to GCR
        uses: docker/login-action@v1
        with:
          registry: gcr.io
          username: _json_key
          password: ${{ secrets.PROD_GKE_SA_KEY }}
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y%m%d%H%M')"
      - name: Generate image metadata
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: |
            gcr.io/${{ secrets.PROD_GKE_PROJECT }}/${{ secrets.IMAGE_NAME }}-${{ matrix.app }}
          # generate Docker tags based on the following events/attributes
          tags: |
            type=ref,event=tag
            type=sha,enable=true,priority=100,prefix=sha-,suffix=-${{ steps.date.outputs.date }},format=short
            type=sha
            type=semver,pattern={{raw}},value=${{needs.workflow-check.outputs.ref}}
          flavor: |
            latest=true
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          cache-from: type=registry, ref=${{ secrets.IMAGE_NAME }}-${{ matrix.app }}/cache
          cache-to: type=registry, ref=${{ secrets.IMAGE_NAME }}-${{ matrix.app }}/cache, mode=max
          context: .
          push: true
          file: ./build/${{ matrix.app }}/Dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
  build-derived:
    runs-on: ubuntu-latest
    needs:
      - build-generic
      - workflow-check
    strategy:
      matrix:
        app: [ asset, linker ]
    steps:
      - uses: actions/checkout@v2
        with:
          ref: ${{ needs.workflow-check.outputs.ref }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to GCR
        uses: docker/login-action@v1
        with:
          registry: gcr.io
          username: _json_key
          password: ${{ secrets.PROD_GKE_SA_KEY }}
      - name: Get current date
        id: date
        run: echo "::set-output name=date::$(date +'%Y%m%d%H%M')"
      - name: Generate image metadata
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: |
            gcr.io/${{ secrets.PROD_GKE_PROJECT }}/${{ secrets.IMAGE_NAME }}-${{ matrix.app }}
          # generate Docker tags based on the following events/attributes
          tags: |
            type=ref,event=tag
            type=sha,enable=true,priority=100,prefix=sha-,suffix=-${{ steps.date.outputs.date }},format=short
            type=sha
            type=semver,pattern={{raw}},value=${{needs.workflow-check.outputs.ref}}
          flavor: |
            latest=true
      - name: build and push
        uses: docker/build-push-action@v2
        with:
          cache-from: type=registry, ref=${{ secrets.IMAGE_NAME }}-${{ matrix.app }}/cache
          cache-to: type=registry, ref=${{ secrets.IMAGE_NAME }}-${{ matrix.app }}/cache, mode=max
          context: .
          push: true
          build-args: |
            SRC_IMG=gcr.io/${{ secrets.PROD_GKE_PROJECT }}/${{ secrets.IMAGE_NAME }}-web:${{ needs.workflow-check.outputs.ref }}
          file: ./build/${{ matrix.app }}/Dockerfile
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
  prod-deploy:
    runs-on: ubuntu-latest
    needs: 
      - build-derived
      - workflow-check
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
        with:
          ref: ${{ needs.workflow-check.outputs.ref }}
      - name: Authenticate GHA Runner to GCP
        uses: google-github-actions/setup-gcloud@v0
        with:
          service_account_key: ${{ secrets.PROD_GKE_SA_KEY }}
          project_id: ${{ secrets.PROD_GKE_PROJECT }}
      - name: Set up yq
        uses: frenck/action-setup-yq@v1
      - name: setup helm
        uses: azure/setup-helm@v1
        with:
          version: v3.9.0
      - name: Authenticate GHA Runner To Target Cluster
        run: gcloud container clusters get-credentials ${{secrets.PROD_GKE_CLUSTER}} --zone ${{secrets.PROD_GKE_REGION}} --project ${{secrets.PROD_GKE_PROJECT}}
      - name: Deploy Production
        run: ./build/ci/production-helm-deploy.sh build/ci/production-values.yaml
        env:
          GIT_COMMIT: "${{ needs.workflow-check.outputs.ref }}"
          PROJECT_ID: "${{ secrets.PROD_GKE_PROJECT }}"
          NAMESPACE: "${{secrets.PROD_GKE_NAMESPACE}}"
          IMAGE_NAME: "${{ secrets.IMAGE_NAME }}"
          CHART_VERSION: 0.4.0
