{% load sefaria_tags %}
{% load i18n %}

<table cellpadding="0px" cellspacing="0" border="0" align="center" style="width:100%;font-size:16px">
	<tr>
		<div style="padding-bottom:18px">
		{% block to %}{% endblock %}
		</div>
	</tr>
	<tr>
	{% autoescape off %}
		{% block body %}{% endblock %}
	{% endautoescape %}
	</tr>
	<tr style="font-size:13px">
		<div style="padding:20px 0;border-top:1px solid #bbb">
		{% blocktrans %}
            You're receiving this message because you have an account on
        {% endblocktrans %}
            <a href="http://www.pecha.org">www.pecha.org</a>.
            <br>
        {% blocktrans with settings_url="/settings/account"|absolute_url %}
            To change your email settings, click <a href="{{ settings_url }}">here</a>
        {% endblocktrans %}
            <br>
        {% blocktrans with hello_email="mailto:hello@pecha.org" %}
            Your feedback is welcome. Feel free to send us an <a href="{{ hello_email }}">email</a>.
        {% endblocktrans %}
		</div>
	<tr>
</table> 

