{% load sefaria_tags %}
{% load i18n %}

<table cellpadding="0px" cellspacing="0" border="0" align="center" style="width:100%;font-size:16px">
	<tr>
	{% autoescape off %}
		{% with register=registerUrl|absolute_url collection=collection_slug|collection_link|absolute_link %}
		{% blocktrans %}
		{{ inviter }} invited you to contribute to the collection {{ collection }} on Sefaria.
		{% endblocktrans %}

		<br><br>

		{% blocktrans %}
		To accept this invitation, <a href="{{ register }}">create a free Sefaria account</a>.
		{% endblocktrans %}
		
		<br><br>
		{% endwith %}
	{% endautoescape %}
	</tr>
	<tr style="font-size:13px">
		<div style="padding:20px 0;border-top:1px solid #bbb">
		{% blocktrans %}
		Sefaria is a free living library of Jewish texts. Collections on Sefaria help you easily build and share collections of source sheets you create or find on Sefaria.<br>.
		Feel free to send any questions over <a href="mailto:hello@sefaria.org">email</a>.
		{% endblocktrans %}
		</div>
	<tr>
</table> 

