{% load sefaria_tags %}
{% load i18n %}

<div class="notification" style="border-top:1px solid #bbb;padding:14px 0">
	
	{% if notification.type == "message" %}
		<div>
			{{ notification.content.sender|user_link|absolute_link }} {% trans "notification.sent_u_msg" %}&nbsp;&nbsp;&nbsp;
			<div class="messageText" style="padding:14px 26px;font-size:16px;color:#555">
				{% autoescape off %}{{ notification.content.message }}{% endautoescape %}
			</div>
		</div>
		<div>{% trans "notification.reply_to" %} {{ notification.content.sender|user_link|absolute_link }}.</div>
	

	{% elif notification.type == "sheet like" %}
		{{ notification.content.liker|user_link|absolute_link }} {% trans "notification.source_sheet_like" %}, {{ notification.content.sheet_id|sheet_link|absolute_link }}.

	{% elif notification.type == "sheet publish" %}
		{{ notification.content.publisher|user_link|absolute_link }} {% trans "notification.published_new_source_sheet" %}, {{ notification.content.sheet_id|sheet_link|absolute_link }}.

	{% elif notification.type == "follow" %}
		{{ notification.content.follower|user_link|absolute_link }} {% trans "templates.elements.notification.a_user_is_now_following_you" %}.
	
	{% elif notification.type == "collection add" %}
        {{ notification.content.adder|user_link|absolute_link  }} {% trans "templates.elements.notification.added_you_to_the_collection" %} {{ notification.content.collection_slug|collection_link|absolute_link  }}.

	{% elif notification.type == "discuss" %}
		{{ notification.content.adder|user_link|absolute_link }} {% trans "notification.added_note_to_a_link" %}
        <a href="https://www.sefaria.org{{ notification.content.discussion_path|url_safe }}">
            {% trans "notification.discussion_u_follow" %}
        </a>.

	{% elif notification.type == "unset" %}
		{% trans "notification.notice_shouldnt_exit_message" %}
	
	{% endif %}

</div>